<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div class="body-container">
    <div v-if="hasEditorAccessRights" class="pb-3">
      <bs-button :disabled="disableAddButton"
                 :href="addNewJurusan()"
                 class="text-right"
                 color="amber"
                 icon="plus-circle"
                 icon-position="left"
                 raised>
        Tambah Baru
      </bs-button>
    </div>
    <bs-card shadow>
      <bs-grid :data-source="dataSource"
               ref="datagrid"
               pageable
               row-hover
               sortable>
        <bs-grid-toolbar class="px-3" slot="toolbar">
          <bs-grid-tool-search class="rounded-pill"
                               field="searchFts"
                               operator="fts"
                               placeholder="Pencarian ..." />
        </bs-grid-toolbar>
        <bs-grid-column text-align="right"
                        width="50"
                        row-numbering />
        <bs-grid-column :label="generateLabel('namaInstitusi')"
                        field="namaJurusan"
                        min-width="250" />
        <bs-grid-column field="nilaiAkreditasi"
                        label="Akreditasi"
                        text-align="center"
                        width="100" />
        <bs-grid-column :label="generateLabel('kepalaJurusan')"
                        field="kepalaJurusan"
                        min-width="210" />
        <bs-grid-column field="contactPhone"
                        label="Nomor Kontak"
                        width="150" />
        <bs-grid-column :label="generateLabel('jmlPendidik')"
                        text-align="right"
                        width="120" />
        <bs-grid-column :label="generateLabel('jmlSiswa')"
                        field="jumlahSiswa"
                        text-align="right"
                        width="150" />
        <bs-grid-column :sortable="false"
                        label="Tindakan"
                        :text-align="cellTindakanAlignment"
                        :width="cellTindakanWidth" />

        <template v-slot:datarow="{ columns, item, index }">
          <bs-grid-cell-numbering :column="columns[0]" :index="index" />
          <bs-grid-cell :column="columns[1]" :index="index" :item="item" />
          <bs-grid-cell :column="columns[2]" :index="index" :item="item" />
          <bs-grid-cell :column="columns[3]" :index="index" :item="item" />
          <bs-grid-cell :column="columns[4]" :index="index" :item="item" />
          <bs-grid-cell :column="columns[5]" :index="index" :item="item">
            {{ computeJumlahGuru(item) }}
          </bs-grid-cell>
          <bs-grid-cell :column="columns[6]" :index="index" :item="item" />
          <bs-grid-cell :column="columns[7]">
            <bs-button v-tooltip="{content:'Lihat Detail', placement:'top'}"
                       :href="doView(item.jurusanId)"
                       icon="eye"
                       icon-position="left"
                       outlined
                       size="xs" />
            <bs-button v-if="hasEditorAccessRights"
                       v-tooltip="{content:'Sunting Data', placement:'top'}"
                       :href="doEdit(item.jurusanId)"
                       color="primary"
                       icon="pen"
                       icon-position="left"
                       outlined
                       size="xs" />
            <bs-button v-if="showDeleteButton()"
                       v-tooltip="{content:'Hapus Data', placement:'top'}"
                       color="danger"
                       icon="trash-alt"
                       icon-position="left"
                       outlined
                       size="xs"
                       @click="confirmDelete(item)" />
          </bs-grid-cell>
        </template>
      </bs-grid>
    </bs-card>

    <bs-modal :open.sync="isModalOpen"
              :overlay-close="false"
              max-width="85%"
              title="Konfirmasi"
              width="400">
      Apakah anda yakin akan menghapus {{ generateLabel('tipeJurusan') }} <b>{{ jurusan.namaJurusan }}</b>
      dari database?
      <template v-slot:footer>
        <bs-button @click="isModalOpen = false"
                   color="secondary"
                   outlined>
          Batal
        </bs-button>
        <bs-button color="danger"
                   @click="doDelete">
          Hapus
        </bs-button>
      </template>
    </bs-modal>
    <bs-mask-loader :opacity="0"
                    :show="jurusan.deleting"
                    :spinner-diameter="50" />
  </div>
</template>

<script>
import { BsStore } from "vue-bs4";
import { PAGE_SIZE, STATE_SUCCESS } from "../../../../../store/modules/mutation-types";
import {
    GET_ACTIVE_INSTITUSI,
    GET_ACTIVE_PROGRAM,
    SET_ACTIVE_INSTITUSI
} from "../../../../../store/modules/Kegiatan/mutation-types";
import { SmkPoltekModel } from "../../../../../models/Beneficiary/Pendidikan/SmkPoltekModel";
import { ProgramKeahlianModel } from "../../../../../models/Beneficiary/Pendidikan/ProgramKeahlianModel";
import appLocale from "../../../../../mixins/appLocale";
import formatUtils from "../../../../../mixins/formatUtils";
import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
import mapStoreMutations from "../../../../../mixins/mapStoreMutations";
import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";
import smkPoltekRouteGuard from "../../../../../mixins/security/smkPoltekRouteGuard";
import smkPoltek from "../../../../../mixins/kegiatan/smkPoltek";

export default {
    name: "GridProgramKeahlian",
    mixins: [
        appLocale, formatUtils, mapStoreMutations, httpErrorResponse, mapStoreKegiatanBeneficiary,
        smkPoltek, smkPoltekRouteGuard
    ],
    data: () => ({
        dataSource: new BsStore({
            idProperty: 'jurusanId',
            dataProperty: 'data',
            totalProperty: 'total',
            pageSize: PAGE_SIZE,
            restUrl: {
                browse: 'kegiatan/penerima-manfaat/pendidikan/program-keahlian'
            }
        }),
        institusi: new SmkPoltekModel(),
        jurusan: new ProgramKeahlianModel(),
        isModalOpen: false,
    }),
    computed: {
      /**
       * Calculate column Tindakan cell width.
       *
       * @return {number} Cell width
       */
      cellTindakanWidth() {
        return 35 * 5;
      },
    },
    created() {
        const idprogram = this.$route.params.idprogram;
        if (this[GET_ACTIVE_PROGRAM] === null) {
            this.fetchDpt(idprogram);
        }

        const institusiId          = this.$route.params.idInstitusi;
        this.institusi.institusiId = institusiId;

        this.dataSource.defaultFilters = [
            {property: 'jenis', value: this.enumIdJurusan(), operator: 'eq'},
            {property: 'institusi', value: institusiId, operator: 'eq'}
        ];

        if (this[GET_ACTIVE_INSTITUSI] === null) {
            this.fetchInstitusi(institusiId);
        } else {
            this.institusi.assignValues(this[GET_ACTIVE_INSTITUSI]);
            this.updatePageTitle();
        }
    },
    beforeDestroy() {
        this.dataSource.destroy();
        this.dataSource = null;
        this.institusi.destroy();
        this.institusi = null;
        this.jurusan.destroy();
        this.jurusan = null;
    },
    methods: {
        /**
         * Returns route Url untuk menampilkan Grid Tambah record jurusan untuk SMK ataupun Poltek.
         *
         * @return {string} Route url
         **/
        addNewJurusan() {
            return '#/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/pendidikan/institusi/' +
                this.getActiveCategory() + '/' + this.institusi.institusiId + '/jurusan/add';
        },
        /**
         * Menghitung total jumlah Guru/Dosen pada suatu jurusan dari SMK ataupun Poltek.
         *
         * @param {ProgramKeahlianModel} item Data model
         * @return {int} Jumlah guru
         */
        computeJumlahGuru(item) {
            if (this.getActiveCategory() === 'poltek') {
                const dosenMKDU  = (item.dosenMkdu ? item.dosenMkdu : 0);
                const dosenProdi = (item.dosenProdi ? item.dosenProdi : 0);

                return (dosenMKDU + dosenProdi);
            } else {
                const guruProduktif = (item.guruProduktif ? item.guruProduktif : 0);
                const guruAdaptif   = (item.guruAdaptif ? item.guruAdaptif : 0);
                const guruNormatif  = (item.guruNormatif ? item.guruNormatif : 0);

                return (guruProduktif + guruAdaptif + guruNormatif);
            }
        },
        /**
         * Menampilkan modal dialog konfirmasi hapus record Program Keahlian.
         *
         * @param {ProgramKeahlianModel} item Data model
         * @return {void}
         */
        confirmDelete(item) {
            this.jurusan.assignValues(item);
            this.isModalOpen = true;
        },
        /**
         * Proses delete Program Keahlian.
         *
         * @return {void}
         */
        doDelete() {
            this.isModalOpen = false;

            this.jurusan.delete().then((resp) => {
                this.$notification.success(resp.data.message, STATE_SUCCESS);
                this.$refs.datagrid.reload();
            }).catch((error) => {
                this.showErrorMessage(error);
            });
        },
        /**
         * Returns route Url untuk menampilkan form Edit Manfaat Penerima SMK ataupun Poltek.
         *
         * @param {int} id ID jurusan dari SMK/Poltek
         * @return {string} Route URL
         */
        doEdit(id) {
            return '#/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/pendidikan/institusi/' +
                this.getActiveCategory() + '/' + this.institusi.institusiId + '/jurusan/edit/' + id;
        },

        /**
         * Returns route Url untuk menampilkan form View Manfaat Penerima SMK ataupun Poltek.
         *
         * @param {int} id ID jurusan dari SMK/Poltek
         * @return {string} Route URL
         */
        doView(id) {
            return '#/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/pendidikan/institusi/' +
                this.getActiveCategory() + '/' + this.institusi.institusiId + '/jurusan/view/' + id;
        },
        /**
         * Fetch data Institusi.
         *
         * @param {int|string} id ID SMK ataupun Poltek
         * @return {void}
         */
        fetchInstitusi(id) {
            this.institusi.fetch(id).then(() => {
                this[SET_ACTIVE_INSTITUSI](this.institusi.toJSON());
                this.updatePageTitle();
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] +
                        '/pendidikan/institusi/' + this.getActiveCategory());
                });
            });
        },
        /**
         * Show or hide action button's <b>DELETE</b>.
         *
         * @return {boolean} TRUE if show otherwise FALSE
         */
        showDeleteButton() {
            // TODO: Perbaikan showDeleteButton pada GridProgramKeahlian
            return this.hasDeleteAccessRights;
        },
        /**
         * Update page title.
         *
         * @return {void}
         */
        updatePageTitle() {
            const namaInstitusi    = this.fmtNamaInstitusi(this.institusi.namaInstitusi);
            this.$route.meta.title = namaInstitusi + ' <span class="text-muted">/</span> ' + this.generateLabel('tipeJurusan');

            this.setPageTitle(this.$route.meta.title);
        },

    }
}
</script>

<style scoped>

</style>
