<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div class="pt-4">
        <bs-grid :data-source="dataSource"
                 pageable
                 ref="datagrid"
                 row-hover
                 sortable>
            <bs-grid-toolbar slot="toolbar">
                <div class="row justify-content-end">
                    <div class="col-xl-4 col-lg-6">
                        <bs-grid-tool-search class="rounded-pill"
                                             field="searchFts"
                                             operator="fts"
                                             placeholder="Pencarian..."/>
                    </div>
                </div>
            </bs-grid-toolbar>
            <bs-grid-column row-numbering
                            text-align="right"
                            width="50"/>
            <bs-grid-column :label="generateLabel('namaInstitusi')"
                            field="namaInstitusi"
                            min-width="250"/>
            <bs-grid-column :sortable="false"
                            field="alamat"
                            label="Alamat"
                            min-width="350"/>
            <bs-grid-column field="kecamatan.kabupaten.namaKabupaten"
                            label="Kabupaten"
                            width="150"/>
            <bs-grid-column field="kecamatan.kabupaten.provinsi.namaProvinsi"
                            label="Provinsi"
                            width="150"/>
            <bs-grid-column field="swasta"
                            label="Status"
                            width="70"/>
            <bs-grid-column field="nilaiAkreditasi"
                            label="Akreditasi"
                            text-align="center"
                            width="100"/>
            <bs-grid-column field="tahunBerdiri"
                            label="Berdiri Tahun"
                            text-align="center"
                            width="110"/>
            <bs-grid-column field="status"
                            label="Status"
                            width="100"/>
            <bs-grid-column :sortable="false"
                            :width="cellTindakanWidth"
                            label="Tindakan"/>

            <template v-slot:datarow="{ columns, item, index }">
                <bs-grid-cell-numbering :column="columns[0]" :index="index"/>
                <bs-grid-cell :column="columns[1]" :index="index" :item="item"/>
                <bs-grid-cell :column="columns[2]" :index="index" :item="item">
                    {{ alamatBeneficiary(item) }}
                </bs-grid-cell>
                <bs-grid-cell :column="columns[3]" :index="index" :item="item"/>
                <bs-grid-cell :column="columns[4]" :index="index" :item="item"/>
                <bs-grid-cell :column="columns[5]" :index="index" :item="item">
                    {{ item.swasta === true ? 'Swasta' : 'Negeri' }}
                </bs-grid-cell>
                <bs-grid-cell :column="columns[6]" :index="index" :item="item">
                    <span v-if="item.akreditasi"><b>{{ item.nilaiAkreditasi }}</b></span>
                </bs-grid-cell>
                <bs-grid-cell :column="columns[7]" :index="index" :item="item"/>
                <bs-grid-cell :column="columns[8]" :index="index" :item="item">
                    <bs-badge :color="workflowConfigurer.badgeColor(item)"
                              type="label">
                        {{ workflowConfigurer.majorPlaceMark(item) }}
                    </bs-badge>
                </bs-grid-cell>
                <bs-grid-cell :column="columns[9]">
                    <bs-button @click="gotoJurusan(item)"
                               color="primary"
                               icon="bookmark"
                               icon-position="left"
                               outlined
                               size="xs"
                               v-tooltip="{content:'Data ' + generateLabel('tipeJurusan'), placement:'top'}"/>
                    <bs-button :href="doView(item.institusiId)"
                               color="default"
                               icon="eye"
                               icon-position="left"
                               outlined
                               size="xs"
                               v-if="hasDetailViewAccessRights"
                               v-tooltip="{content:'Lihat Detail', placement:'top'}"/>
                    <bs-button @click="confirmProcess(item)"
                               color="success"
                               icon="check-double"
                               icon-position="left"
                               outlined
                               size="xs"
                               v-if="insApprove(item)"
                               v-tooltip="{content:'Persetujuan Data', placement:'top'}"/>
                    <bs-button @click="confirmProcess(item)"
                               color="green"
                               icon="check"
                               icon-position="left"
                               outlined
                               size="xs"
                               v-if="insVerify(item)"
                               v-tooltip="{content:'Verifikasi Data', placement:'top'}"/>
                    <bs-button :href="doEdit(item)"
                               color="primary"
                               icon="pen"
                               icon-position="left"
                               outlined
                               size="xs"
                               v-if="canEdit(item)"
                               v-tooltip="{content:'Sunting Data', placement:'top'}"/>
                    <bs-button @click="confirmDelete(item)"
                               color="danger"
                               icon="trash-alt"
                               icon-position="left"
                               outlined
                               size="xs"
                               v-if="insDelete(item)"
                               v-tooltip="{content:'Hapus Data', placement:'top'}"/>
                </bs-grid-cell>
            </template>
        </bs-grid>
        <div class="border-top pt-3 text-right"
             v-if="hasEditorAccessRights">
            <bs-button :disabled="disableAddButton"
                       :href="searchSmkPoltek()"
                       color="amber"
                       icon="plus-circle"
                       icon-position="left">
                Tambah Baru
            </bs-button>
        </div>
        <modal-dialog-beneficiary :approval="approval"
                                  :item-data="institusi"
                                  :item-name="itemName"
                                  :show-modal-delete.sync="showModalDelete"
                                  :show-modal-process.sync="showModalProcess"
                                  @approval="doProcess('approval')"
                                  @delete="doDelete"
                                  @reject="doProcess('reject')"
                                  @verify="doProcess('verify')"/>
        <bs-mask-loader :opacity="0"
                        :show="showLoader"
                        :spinner-diameter="50"/>
    </div>
</template>

<script>
    import {BsStore} from "vue-bs4";
    import {
        MSG_APPROVED_SUCCESS,
        MSG_REJECT_SUCCESS,
        MSG_VERIFY_SUCCESS,
        PAGE_SIZE,
        STATE_SUCCESS,
        STEP_APPROVAL,
        STEP_REJECT,
        STEP_UPDATE,
        STEP_VERIFY
    } from "../../../../../store/modules/mutation-types";
    import {GET_ACTIVE_PROGRAM, SET_ACTIVE_INSTITUSI} from "../../../../../store/modules/Kegiatan/mutation-types";
    import {SmkPoltekModel} from "../../../../../models/Beneficiary/Pendidikan/SmkPoltekModel";
    import appLocale from "../../../../../mixins/appLocale";
    import formatUtils from "../../../../../mixins/formatUtils";
    import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
    import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";
    import smkPoltekRouteGuard from "../../../../../mixins/security/smkPoltekRouteGuard";
    import smkPoltek from "../../../../../mixins/kegiatan/smkPoltek";
    import ModalDialogBeneficiary from "../../ModalDialogBeneficiary";
    import BeneficiaryWorkflowConfigurer from "../../../../../models/Beneficiary/BeneficiaryWorkflowConfigurer";

    export default {
        name: "GridSmkPoltek",
        mixins: [appLocale, formatUtils, httpErrorResponse, mapStoreKegiatanBeneficiary, smkPoltek, smkPoltekRouteGuard],
        components: {ModalDialogBeneficiary},
        data: (vm) => ({
            institusi: new SmkPoltekModel(),
            itemName: '',
            workflowConfigurer: new BeneficiaryWorkflowConfigurer('institusi'),
            dataSource: new BsStore({
                idProperty: 'institusiId',
                dataProperty: 'data',
                totalProperty: 'total',
                pageSize: PAGE_SIZE,
                sorts: [{property: 'postedDate', direction: 'desc'}],
                filters: [
                    {property: 'programs.id', value: vm.$route.params.idprogram, operator: 'eq'},
                    {property: 'kategori', value: vm.$route.params.kategori === 'poltek' ? 3 : 2, operator: 'eq'}
                ],
                restUrl: {
                    browse: 'kegiatan/penerima-manfaat/pendidikan/smk-poltek/dpt'
                }
            }),
        }),
        computed: {
            /**
             * Calculate column Tindakan cell width.
             *
             * @return {number} Cell width
             */
            cellTindakanWidth() {
                let width = 70;

                if (this.hasEditorAccessRights) {
                    width += 25
                }
                if (this.hasDeleteAccessRights) {
                    width += 25
                }
                if (this.hasVerificatorAccessRights) {
                    width += 25
                }
                if (this.hasApprovalAccessRights) {
                    width += 25
                }
                return this.hasAdminRole ? 115 : width < 90 ? 90 : width;
            },
            /**
             * @return {Workflow} A workflow object instance
             */
            workflow() {
                return this.workflowConfigurer.workflow;
            }
        },
        created() {
            const id = this.$route.params.idprogram;

            if (this[GET_ACTIVE_PROGRAM] === null) {
                this.fetchDpt(id);
            }

            this[SET_ACTIVE_INSTITUSI](null);
            this.dataSource.setFilters(null, true);
        },
        beforeDestroy() {
            this.dataSource.destroy();
            this.dataSource = null;
            this.institusi.destroy();
            this.institusi = null;
            this.workflowConfigurer.destroy();
            this.workflowConfigurer = null;
        },
        methods: {
            /**
             * Menampilkan konfirmasi dialog untuk menghapus record.
             *
             * @param {SmkPoltekModel} item Data model
             * @return {void}
             */
            confirmDelete(item) {
                if (this.hasDeleteAccessRights) {
                    this.institusi.assignValues(item);
                    this.showModalDelete = true;
                }
            },
            /**
             * @param {SmkPoltekModel} item Data model
             * @return {void}
             */
            confirmProcess(item) {
                let insName = this.nameStartWithTipe(item.namaInstitusi) ? '' : this.getActiveCategory();

                this.institusi.assignValues(item);
                this.itemName = insName + ' ' + item.namaInstitusi;
                if (this.hasVerificatorAccessRights && this.workflow.can(item, STEP_VERIFY)) {
                    this.approval.action = STEP_VERIFY;
                    this.showModalProcess = true;
                } else if (this.hasApprovalAccessRights && this.workflow.can(item, STEP_APPROVAL)) {
                    this.approval.action = STEP_APPROVAL;
                    this.showModalProcess = true;
                }
            },
            /**
             * Proses delete Penerima Manfaat SMK ataupun Poltek.
             *
             * @return {void}
             */
            doDelete() {
                this.showModalDelete = false;
                this.showLoader = true;

                this.$http.delete('/kegiatan/penerima-manfaat/pendidikan/smk-poltek/delete', {
                    'beneficiary': this.institusi.institusiId,
                    'program': this[GET_ACTIVE_PROGRAM]
                }).then((resp) => {
                    this.showLoader = false;
                    this.$notification.success(resp.data.message, STATE_SUCCESS);
                    this.$refs.datagrid.reload();
                }).catch((error) => {
                    this.showLoader = false;
                    this.showErrorMessage(error);
                });
            },
            /**
             * Returns route Url untuk menampilkan form Edit Manfaat Penerima SMK ataupun Poltek.
             *
             * @param  {SmkPoltekModel} item Data model
             * @return {string} Route URL
             */
            doEdit(item) {
                if (this.hasEditorAccessRights && this.workflow.canXor(item, [STEP_UPDATE, STEP_VERIFY, STEP_REJECT])) {
                    return '#/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM]
                        + '/pendidikan/institusi/' + this.getActiveCategory() + '/edit/' + item.institusiId;
                }
            },
            /**
             * Returns route Url untuk menampilkan form Monitoring Manfaat Penerima SMK/Poltek.
             *
             * @param {int} id ID Penerima Manfaat
             * @return {string} Route url
             */
            doMonitoring(id) {
                return '#/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM]
                    + '/pendidikan/institusi/' + this.getActiveCategory() + '/monitoring/' + id;
            },
            /**
             * Returns route Url untuk menampilkan laman ViewDetail Manfaat Penerima SMK ataupun Poltek.
             *
             * @param {int} id ID Penerima Manfaat
             * @return {string} Route URL
             */
            doView(id) {
                if (this.hasDetailViewAccessRights) {
                    return '#/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM]
                        + '/pendidikan/institusi/' + this.getActiveCategory() + '/view/' + id;
                }
            },
            /**
             * Redirect Url ke laman Program Keahlian/Studi dari SMK ataupun Poltek yang dipilih.
             *
             * @param {InstitusiModel} item Data model SMK/Poltek
             * @return {void}
             */
            gotoJurusan(item) {
                const url = '/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM]
                    + '/pendidikan/institusi/' + this.getActiveCategory() + '/' + item.institusiId + '/jurusan';
                this[SET_ACTIVE_INSTITUSI](item.toJSON());
                this.$router.push(url);
            },
            /**
             * Returns route Url untuk menampilkan Grid Tambah record SMK ataupun Poltek.
             *
             * @return {string} Route URL
             */
            searchSmkPoltek() {
                return '#/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM]
                    + '/pendidikan/institusi/' + this.getActiveCategory() + '/search';
            },
            /**
             * Proses verifikasi, reject, dan approval penerima manfaat
             */
            doProcess(action) {
                const url = '/kegiatan/penerima-manfaat/pendidikan/smk-poltek/stepflow/' + this.institusi.institusiId;
                const text = action === STEP_VERIFY ? MSG_VERIFY_SUCCESS : action === STEP_APPROVAL ? MSG_APPROVED_SUCCESS : MSG_REJECT_SUCCESS;
                const message = action === STEP_VERIFY || action === STEP_REJECT ? this.approval.reason : null;

                const config = {
                    'url': url,
                    'method': 'patch',
                    'data': {
                        action: action,
                        message: message
                    }
                };

                this.showModalProcess = false;
                this.showLoader = true;
                this.$axios(config).then(() => {
                    this.showLoader = false;
                    this.$notification.success('Data penerima manfaat' + text, STATE_SUCCESS);
                    this.$refs.datagrid.reload();
                }).catch((error) => {
                    this.showErrorMessage(error);
                    this.showLoader = false;
                });
            },
        }
    }
</script>

<style scoped>

</style>
