<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div>
        <bs-grid :data-source="dataSource"
                 pageable
                 ref="datagrid"
                 row-hover
                 sortable>
            <bs-grid-toolbar slot="toolbar">
                <div class="row justify-content-end">
                    <div class="col-xl-4 col-lg-6 pb-2">
                        <bs-grid-tool-search class="rounded-pill"
                                             field="biodata.searchFts"
                                             operator="fts"
                                             placeholder="Pencarian..."/>
                    </div>
                </div>
            </bs-grid-toolbar>
            <bs-grid-column row-numbering
                            text-align="right"
                            width="50"/>
            <bs-grid-column field="biodata.namaLengkap"
                            label="Nama Lengkap"
                            width="200"/>
            <bs-grid-column field="biodata.nik"
                            label="NIK"
                            width="110"/>
            <bs-grid-column :sortable="false"
                            field="alamat"
                            label="Alamat"
                            min-width="350"/>
            <bs-grid-column field="biodata.kecamatan.kabupaten.namaKabupaten"
                            label="Kabupaten"
                            width="150"/>
            <bs-grid-column field="biodata.kecamatan.kabupaten.provinsi.namaProvinsi"
                            label="Provinsi"
                            width="150"/>
            <bs-grid-column :formatter="dateFormat"
                            :formatter-options="formatConst.shortDate"
                            field="biodata.tanggalLahir"
                            label="Tgl Lahir"
                            width="100"/>
            <bs-grid-column field="biodata.statusJabatan"
                            label="Status"
                            text-align="center"
                            width="80"/>
            <bs-grid-column field="biodata.pendidikan"
                            label="Pend. Terakhir"
                            text-align="center"
                            width="130"/>
            <bs-grid-column field="namaInstitusi"
                            label="Institusi"
                            width="170"/>
            <bs-grid-column field="status"
                            label="Status Beneficiary"
                            width="170"/>
            <bs-grid-column :sortable="false"
                            :text-align="cellTindakanAlignment"
                            :width="cellTindakanWidth"
                            label="Tindakan"/>

            <template v-slot:datarow="{ columns, item, index }">
                <bs-grid-cell-numbering :column="columns[0]" :index="index"/>
                <bs-grid-cell :column="columns[1]" :index="index" :item="item"/>
                <bs-grid-cell :column="columns[2]" :index="index" :item="item"/>
                <bs-grid-cell :column="columns[3]" :index="index" :item="item">
                    {{ alamatBeneficiaryBeasiswa(item) }}
                </bs-grid-cell>
                <bs-grid-cell :column="columns[4]" :index="index" :item="item"/>
                <bs-grid-cell :column="columns[5]" :index="index" :item="item"/>
                <bs-grid-cell :column="columns[6]" :index="index" :item="item"/>
                <bs-grid-cell :column="columns[7]" :index="index" :item="item"/>
                <bs-grid-cell :column="columns[8]" :index="index" :item="item"/>
                <bs-grid-cell :column="columns[9]" :index="index" :item="item"/>
                <bs-grid-cell :column="columns[10]" :index="index" :item="item">
                    <bs-badge :color="workflowConfigurer.badgeColor(item)"
                              type="label">
                        {{ workflowConfigurer.majorPlaceMark(item) }}
                    </bs-badge>
                </bs-grid-cell>
                <bs-grid-cell :column="columns[11]" :index="index" :item="item">
                    <bs-button :href="doView(item.tbeId)"
                               color="default"
                               icon="eye"
                               icon-position="left"
                               outlined
                               size="xs"
                               v-if="hasDetailViewAccessRights"
                               v-tooltip="{content:'Lihat Detail', placement:'top'}"/>
                    <bs-button @click="confirmProcess(item)"
                               color="success"
                               icon="check-double"
                               icon-position="left"
                               outlined
                               size="xs"
                               v-if="canApprove(item)"
                               v-tooltip="{content:'Persetujuan Data', placement:'top'}"/>
                    <bs-button @click="confirmProcess(item)"
                               color="green"
                               icon="check"
                               icon-position="left"
                               outlined
                               size="xs"
                               v-if="canVerify(item)"
                               v-tooltip="{content:'Verifikasi Data', placement:'top'}"/>
                    <bs-button :href="doEdit(item)"
                               color="primary"
                               icon="pen"
                               icon-position="left"
                               outlined
                               size="xs"
                               v-if="canEdit(item)"
                               v-tooltip="{content:'Sunting Data', placement:'top'}"/>
                    <bs-button @click="confirmDelete(item)"
                               color="danger"
                               icon="trash-alt"
                               icon-position="left"
                               outlined
                               size="xs"
                               v-if="canDelete(item)"
                               v-tooltip="{content:'Hapus Data', placement:'top'}"/>
                </bs-grid-cell>
            </template>
        </bs-grid>
        <bs-card-footer class="bg-white text-right"
                        v-if="hasEditorAccessRights">
            <bs-button :disabled="disableAddButton"
                       :href="searchTechBase()"
                       color="amber"
                       icon="plus-circle"
                       icon-position="left">
                Tambah Baru
            </bs-button>
        </bs-card-footer>
        <modal-dialog-beneficiary :approval="approval"
                                  :item-data="techBase"
                                  :item-name="itemName"
                                  :show-modal-delete.sync="showModalDelete"
                                  :show-modal-process.sync="showModalProcess"
                                  @delete="doDelete"
                                  @approval="doProcess('approval')"
                                  @reject="doProcess('reject')"
                                  @verify="doProcess('verify')"/>
        <bs-mask-loader :opacity="0"
                        :show="showLoader"
                        :spinner-diameter="50"/>
    </div>
</template>

<script>
    import {BsStore} from "vue-bs4";
    import {TechBaseModel} from "../../../../../models/Beneficiary/Techbase/TechBaseModel";
    import {GET_ACTIVE_PROGRAM} from "../../../../../store/modules/Kegiatan/mutation-types";
    import {
        MSG_APPROVED_SUCCESS,
        MSG_REJECT_SUCCESS,
        MSG_VERIFY_SUCCESS,
        PAGE_SIZE, REJECTED,
        STATE_SUCCESS,
        STEP_APPROVAL,
        STEP_REJECT,
        STEP_UPDATE,
        STEP_VERIFY
    } from "../../../../../store/modules/mutation-types";
    import appLocale from "../../../../../mixins/appLocale";
    import formatUtils from "../../../../../mixins/formatUtils";
    import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
    import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";
    import mapAccessControls from "../../../../../mixins/security/mapAccessControls";
    import ModalDialogBeneficiary from "../../ModalDialogBeneficiary";
    import BeneficiaryWorkflowConfigurer from "../../../../../models/Beneficiary/BeneficiaryWorkflowConfigurer";

    export default {
        name: "GridTechBase",
        mixins: [appLocale, formatUtils, httpErrorResponse, mapStoreKegiatanBeneficiary, mapAccessControls],
        components: {ModalDialogBeneficiary},
        data: () => ({
            techBase: new TechBaseModel(),
            itemName: '',
            approval: {
                action: '',
                reason: ''
            },
            workflowConfigurer: new BeneficiaryWorkflowConfigurer('techBase'),
            dataSource: new BsStore({
                idProperty: 'tbeId',
                dataProperty: 'data',
                totalProperty: 'total',
                pageSize: PAGE_SIZE,
                sorts: [{property: 'postedDate', direction: 'desc'}],
                restUrl: {
                    browse: '/kegiatan/penerima-manfaat/tech-base/dpt'
                }
            })
        }),
        created() {
            const id = this.$route.params.idprogram;

            if (this[GET_ACTIVE_PROGRAM] === null) {
                this.fetchDpt(id);
            }
            this.dataSource.defaultFilters = [
                {property: 'biodata.programs.id', value: id, operator: 'eq'},
                {property: 'biodata.kategori', value: 5, operator: 'eq'}
            ];
        },
        beforeDestroy() {
            this.dataSource.destroy();
            this.dataSource = null;
            this.techBase.destroy();
            this.techBase = null;
            this.workflowConfigurer.destroy();
            this.workflowConfigurer = null;
            this.approval = null;
        },
        computed: {
            /**
             * @return {Workflow} A workflow object instance
             */
            workflow() {
                return this.workflowConfigurer.workflow;
            }
        },
        methods: {
            /**
             * Menampilkan konfirmasi dialog untuk menghapus record Penerima Manfaat (Tech-Based Education).
             *
             * @param {TechBaseModel} item Data model
             * @return {void}
             */
            confirmDelete(item) {
                if (this.hasDeleteAccessRights) {
                    this.techBase.assignValues(item);
                    this.showModalDelete = true;
                }
            },
            /**
             * @param {TechBaseModel} item Data model
             * @return {void}
             */
            confirmProcess(item) {
                this.techBase.assignValues(item);
                this.itemName = item.biodata.namaLengkap;
                if (this.hasVerificatorAccessRights && this.workflow.can(item, STEP_VERIFY)) {
                    this.approval.action = STEP_VERIFY;
                    this.showModalProcess = true;
                } else if (this.hasApprovalAccessRights && this.workflow.can(item, STEP_APPROVAL)) {
                    this.approval.action = STEP_APPROVAL;
                    this.showModalProcess = true;
                }
            },
            /**
             * Proses delete Penerima Manfaat (Tech-Based Education).
             *
             * @return {void}
             */
            doDelete() {
                this.showModalDelete = false;
                this.showLoader = true;

                const data = {
                    'beneficiary': this.techBase.tbeId,
                    'program': this[GET_ACTIVE_PROGRAM]
                };

                this.$http.delete('/kegiatan/penerima-manfaat/tech-base/delete', data).then((resp) => {
                    this.showLoader = false;
                    this.$notification.success(resp.data.message, STATE_SUCCESS);
                    this.$refs.datagrid.reload();
                }).catch((error) => {
                    this.showLoader = false;
                    this.showErrorMessage(error);
                });
            },
            /**
             * Display form Edit Penerima Manfaat (Tech-Based Education).
             *
             * @param {TechBaseModel} item Data model
             * @return {string} Route url
             */
            doEdit(item) {
                if (this.hasEditorAccessRights && this.workflow.canXor(item, [STEP_UPDATE, STEP_VERIFY, STEP_REJECT])) {
                    return '#/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/tech-base/edit/' + item.tbeId;
                }
            },
            /**
             * Returns route Url untuk menampilkan form View Manfaat Penerima (Tech-Based Education).
             *
             * @param {int} id Beneficiary ID
             * @return {string} Route url
             */
            doView(id) {
                if (this.hasDetailViewAccessRights) {
                    return '#/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/tech-base/view/' + id;
                }
            },
            /**
             * @return {boolean} TRUE or FALSE
             */
            isRejected(item){
                return item.status === REJECTED;
            },
            /**
             * Returns route Url untuk menampilkan Grid Tambah record Tech-Based Education.
             *
             * @return {string} Route url
             **/
            searchTechBase() {
                return '#/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/tech-base/search';
            },
            /**
             * Proses verifikasi, reject, dan approval penerima manfaat
             */
            doProcess(action) {
                const url = '/kegiatan/penerima-manfaat/tech-base/stepflow/' + this.techBase.tbeId;
                const text = action === STEP_VERIFY ? MSG_VERIFY_SUCCESS : action === STEP_APPROVAL ? MSG_APPROVED_SUCCESS : MSG_REJECT_SUCCESS;
                const message = action === STEP_VERIFY || action === STEP_REJECT ? this.approval.reason : null;

                const config = {
                    'url': url,
                    'method': 'patch',
                    'data': {
                        action: action,
                        message: message
                    }
                };

                this.showModalProcess = false;
                this.showLoader = true;
                this.$axios(config).then(() => {
                    this.showLoader = false;
                    this.$notification.success('Data penerima manfaat' + text, STATE_SUCCESS);
                    this.$refs.datagrid.reload();
                }).catch((error) => {
                    this.showErrorMessage(error);
                    this.showLoader = false;
                });
            },
        }
    }
</script>

<style scoped>

</style>
