/* BsAlert mixins */
@mixin make-outline-alert($name, $color) {
    .alert-outline-#{$name} {
        color: darken($color, 10%);
        border-color: lighten($color, 10%);

        hr {
            border-top-color: lighten($color, 10%);
        }

        .alert-link {
            color: darken($color, 15%);
        }
    }
}

/* BsProgress mixins */
@mixin progress-bar-indeterminate($color) {
    background-color: rgba($color, .24);

    .#{$prefix}-progress-bar-track,
    .#{$prefix}-progress-bar-fill {
        &:after {
            background-color: $color;
        }
    }
}

@mixin progress-bar-determinate($color) {
    background-color: rgba($color, .24);

    .#{$prefix}-progress-bar-fill {
        background-color: $color;
    }
}

@mixin progress-bar-buffer($color) {
    .#{$prefix}-progress-bar-fill {
        background-color: $color;
    }

    .#{$prefix}-progress-bar-track {
        background-color: rgba($color, .38);
    }

    .#{$prefix}-progress-bar-buffer {
        border-color: rgba($color, .38);
    }
}

@mixin make-progress-bar($name, $color) {
    .progress-bar-#{$name} {
        &.#{$prefix}-indeterminate,
        &.#{$prefix}-query {
            @include progress-bar-indeterminate($color);
        }

        &.#{$prefix}-determinate {
            @include progress-bar-determinate($color);
        }

        &.#{$prefix}-buffer {
            @include progress-bar-buffer($color);
        }
    }
}

@mixin make-progress-spinner($name, $color) {
    .spinner-#{$name} {
        .#{$prefix}-progress-spinner-circle {
            stroke: $color;
        }
    }
}

/* BsGrid mixins */
@mixin grid-rowstate-variant($name, $color) {
    .#{$prefix}-state-#{$name} {
        background-color: rgba($color, .08);
    }
}

/* BsList mixins */
@mixin bslist-variant($name, $color) {
    .#{$prefix}-list-#{$name} {
        background-color: $color;

        .#{$prefix}-subheader {
            @if (lightness($color) > 80) {
                color: darken($gray-500, 5%) !important;
            } @else {
                color: rgba($white-base, .8) !important;
            }
        }

        .#{$prefix}-list-item {
            &:not(.#{$prefix}-disabled) {
                &.#{$prefix}-link:hover {
                    background-color: set-hoverable-bgcolor($color);
                }
                &.#{$prefix}-active {
                    background-color: set-hoverable-bgcolor($color);
                }
            }
        }
        .#{$prefix}-list-item,
        .#{$prefix}-list-tile-title {
            color: set-notification-text-color($color);
        }
        .#{$prefix}-list-tile-subtitle {
            color: set-subtitle-text-color($color);
        }
        .#{$prefix}-list-item {
            &.#{$prefix}-disabled {
                color: set-disable-text-color($color) !important;
            }
        }
    }
}

/* Transition mixins */
@mixin enter($parent) {
    #{$parent}-enter {
        @content;
    }
}

@mixin enter-to($parent) {
    #{$parent}-enter-to {
        @content;
    }
}

@mixin enter-active($parent) {
    #{$parent}-enter-active {
        @content;
    }
}

@mixin enter-leave-active($parent) {
    #{$parent}-enter-active,
    #{$parent}-leave-active {
        @content;
    }
}

@mixin enter-leaveactive($parent) {
    #{$parent}-enter,
    #{$parent}-leave-active {
        @content;
    }
}

@mixin enter-leaveto($parent) {
    #{$parent}-enter,
    #{$parent}-leave-to {
        @content;
    }
}

@mixin leave-active($parent) {
    #{$parent}-leave-active {
        @content;
    }
}

@mixin leave-to($parent) {
    #{$parent}-leave-to {
        @content;
    }
}

@mixin leave-active-to($parent) {
    #{$parent}-leave,
    #{$parent}-leave-active,
    #{$parent}-leave-to {
        @content;
    }
}
