%opacity-0 {
    opacity: 0;
}

%opacity-100 {
    opacity: 1;
}

%cursor-pointer {
    cursor: pointer;
}

%full-rect-absolute {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

%topleft-h100-absolute {
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
}