<template>
    <div>
        <div v-if="dataItems">
            <div class="form-group text-right">
                <bs-menu>
                    <bs-button icon="file-alt"
                               icon-position="left"
                               size="sm"
                               dropdown-toggle
                               outlined>
                        Unduh / Cetak
                    </bs-button>
                    <bs-list slot="content">
                        <bs-list-item>
                            <a class="font-weight-bold text-dark" :href="routeRiwayatPembayaran" target="_blank">
                                Unduh Riwayat Pembayaran
                            </a>
                        </bs-list-item>
                        <bs-list-item>
                            <a class="font-weight-bold text-dark" :href="routeCetakRiwayatPembayaran" target="_blank">
                                Cetak Riwayat Pembayaran
                            </a>
                        </bs-list-item>
                    </bs-list>
                </bs-menu>
            </div>

            <div class="table-responsive" style="min-height: 250px; position: relative">
                <table class="table table-sm table-valign-middle table-bordered table-outer-borderless mb-0">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                #
                            </th>
                            <th class="text-center">
                                Nama Kegiatan
                            </th>
                            <th class="text-center">
                                Nilai RAB
                            </th>
                            <th class="text-center">
                                Termin
                            </th>
                            <th class="text-center">
                                Persen
                            </th>
                            <th class="text-center">
                                Tgl Tagihan
                            </th>
                            <th class="text-center">
                                No Tagihan
                            </th>
                            <th class="text-center">
                                Nilai Tagihan
                            </th>
                            <th class="text-center">
                                Tgl Pembayaran
                            </th>
                            <th class="text-center">
                                Nomor Voucher
                            </th>
                            <th class="text-center">
                                Nilai Pembayaran
                            </th>
                            <th class="text-center">
                                Tgl Realisasi
                            </th>
                            <th class="text-center">
                                Nilai Realisasi
                            </th>
                            <th class="text-center">
                                Sisa RAB / Deposito
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="(item, row) in dataItems">
                            <tr>
                                <td class="text-right">
                                    {{ row + 1 }}.
                                </td>
                                <td>
                                    {{ namaKegiatan(item) }}
                                </td>
                                <td class="text-right">
                                    {{ nilaiRAB(item) }}
                                </td>
                                <td>
                                    {{ item.tipe_termin }}
                                </td>
                                <td class="text-right">
                                    {{ item.persen }}
                                </td>
                                <td>
                                    {{ dateFormat(item.created_date, 'd/M/Y') }}
                                </td>
                                <td>
                                    {{ item.nomorSurat }}
                                </td>
                                <td class="text-right">
                                    {{ moneyFormat(item.totalPencairan) }}
                                </td>
                                <td>
                                    {{ dateFormat(item.paid_date, 'd-M-Y') }}
                                </td>
                                <td>
                                    {{ item.nomorVoucher }}
                                </td>
                                <td class="text-right">
                                    {{ moneyFormat(item.totalPencairan) }}
                                </td>
                                <td>
                                    {{ tglRealisasi(item) }}
                                </td>
                                <td class="text-right">
                                    {{ nilaiRealisasi(item) }}
                                </td>
                                <td>
                                    {{ sisaRabDeposito(item) }}
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
            <bs-mask-loader :opacity="0" :show="loading" :spinner-diameter="50"/>
        </div>
    </div>
</template>

<script>
import appLocale from "../../../mixins/appLocale";
import formatUtils from "../../../mixins/formatUtils";
import httpErrorResponse from "../../../mixins/httpErrorResponse";
import defaultRouteGuard from "../../../mixins/security/defaultRouteGuard";

export default {
	name: "GridRiwayatPembayaran",
	mixins: [appLocale, formatUtils, httpErrorResponse, defaultRouteGuard],
	data: () => ({
		idprogram: null,
		tahun: null,
		dataItems: null,
        loading: false,
	}),
    computed: {
		routeRiwayatPembayaran() {
			return 'app/riwayatpembayaran/full/' + this.idprogram+'/'+this.tahun;
		},
		routeCetakRiwayatPembayaran() {
			return 'app/riwayatpembayaran/printfull/' + this.idprogram+'/'+this.tahun;
		}

	},
    created() {
		this.idprogram = this.$route.params.idprogram;

		if (this.$route.params.tahun) {
			this.tahun = this.$route.params.tahun
		}

		this.loading = true;
		this.$http.get('/riwayatpembayaran/'+this.idprogram+'/'+this.tahun, [], []).then((response) => {
			this.dataItems = response.data.data;
			this.loading = false;
		}).catch((error) => {
			this.showErrorMessage(error);
			this.loading = false;
			this.$nextTick(() => {
				this.$router.push('/laporan/pembayaran/');
			});
		});
	},
    methods: {
		namaKegiatan(tagihan){
			if(tagihan){
				if(tagihan){
					if (tagihan.children){
						if (tagihan.children[0]) {
							return tagihan.children[0].title;
						}
                    }
                }
            }
			return '';
        },
		nilaiRAB(tagihan) {
			if(tagihan){
				if(tagihan){
					if (tagihan.children){
						if (tagihan.children[0]) {
							return this.moneyFormat(tagihan.children[0].anggaran);
				        }
					}
				}
			}
			return '';
		},
        tglRealisasi(tagihan) {
			if(tagihan){
				if(tagihan){
					if (tagihan.children){
						if (tagihan.children[0]) {
							if (tagihan.children[0].kegiatan){
								if (tagihan.children[0].kegiatan.tanggalPostedRealisasi){
									return this.dateFormat(tagihan.children[0].kegiatan.tanggalPostedRealisasi, 'd/M/Y');
							    }
							}
						}
					}
				}
			}
			return '';
		},
        nilaiRealisasi(tagihan) {
			if(tagihan){
				if(tagihan){
					if (tagihan.children){
						if (tagihan.children[0]) {
							if (tagihan.children[0].kegiatan){
								if (tagihan.children[0].kegiatan.realisasi){
									return this.moneyFormat(tagihan.children[0].kegiatan.realisasi, 'd/M/Y');
								}
							}
						}
					}
				}
			}
			return '';
		},
        sisaRabDeposito(tagihan) {
            if(tagihan){
                if(tagihan.kegiatan){
                    if (tagihan.kegiatan.children){
                        if (tagihan.kegiatan.children[0]) {
                            if (tagihan.children[0].kegiatan){
                                if (tagihan.children[0].kegiatan.realisasi){

                                    if (tagihan.children[0].kegiatan.anggaran > tagihan.children[0].kegiatan.realisasi) {
                                        return this.moneyFormat(tagihan.children[0].kegiatan.anggaran - tagihan.children[0].kegiatan.realisasi);
                                    }
                                    return '(dep.)'+ this.moneyFormat(tagihan.children[0].kegiatan.realisasi - tagihan.children[0].kegiatan.anggaran);
                                }
                            }
                        }
					}
				}
			}
			return ''
        }
    }

}
</script>

<style scoped>

</style>