<template>
    <div>
        <div v-if="dataItems">
            <div class="form-group text-right">
                <bs-menu>
                    <bs-button icon="file-alt"
                               icon-position="left"
                               size="sm"
                               dropdown-toggle
                               outlined>
                        Unduh / Cetak
                    </bs-button>
                    <bs-list slot="content">
                        <bs-list-item>
                            <a class="font-weight-bold text-dark" :href="routeMonitoringAnggaran" target="_blank">
                                Unduh Monitoring Anggaran
                            </a>
                        </bs-list-item>
                        <bs-list-item>
                            <a class="font-weight-bold text-dark" :href="routeCetakMonitoringAnggaran" target="_blank">
                                Cetak Monitoring Anggaran
                            </a>
                        </bs-list-item>
                    </bs-list>
                </bs-menu>
            </div>

            <div class="table-responsive" style="min-height: 250px; position: relative">
                <table class="table table-sm table-valign-middle table-bordered table-outer-borderless mb-0">
                    <thead class="thead-light">
                        <tr>
                            <th rowspan="2">
                                Detail Anggaran
                            </th>
                            <template v-for="tahun in tahunAkhir" v-if="tahun >= tahunAwal">
                            <th :colspan="periodeLength(tahun)" class="text-center">
                                Tahun {{ tahun }}
                            </th>
                            </template>
                            <th colspan="3" class="text-center">
                                Total
                            </th>
                        </tr>
                        <tr>
                            <template v-for="tahun in tahunAkhir" v-if="tahun >= tahunAwal">
                            <th v-for="bulan in 12"
                                v-if="!(((tahun==tahunAwal)&&(bulan<bulanAwal))||((tahun==tahunAkhir)&&(bulan>bulanAkhir)))"
                                class="text-center">
                                {{ bulan }}
                            </th>
                            </template>
                            <th class="text-center">
                                Actual
                            </th>
                            <th class="text-center">
                                Budget
                            </th>
                            <th class="text-center">
                                Variance
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="(item, row) in dataItems">
                            <tr :class="rowClass(item[tahunAwal].level)">
                                <td>
                                    <div :class="judulClass(item[tahunAwal].level)">
                                    {{ item[tahunAwal].judul }}
                                    </div>
                                </td>
                                <template v-for="tahun in tahunAkhir" v-if="tahun >= tahunAwal">
                                    <td v-for="bulan in 12"
                                        v-if="((tahun==tahunAwal)&&(bulan>=bulanAwal))||((tahun==tahunAkhir)&&(bulan<=bulanAkhir))"
                                            class="text-right">
                                        {{ moneyFormat(item[tahun]['serapan'+bulan]) }}
                                    </td>
                                </template>
                                <td class="text-right">
                                    {{ moneyFormat(getTotalSerapan(item)) }}
                                </td>
                                <td class="text-right">
                                    {{ moneyFormat(getBudget(item)) }}
                                </td>
                                <td class="text-right">
                                    {{ percentFormat(getVariance(item)) }}
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
            <bs-mask-loader :opacity="0" :show="loading" :spinner-diameter="50"/>
        </div>
    </div>
</template>

<script>
import { BsStore, Helper } from "vue-bs4";
import _ from 'lodash';
import appLocale from "../../../mixins/appLocale";
import formatUtils from "../../../mixins/formatUtils";
import httpErrorResponse from "../../../mixins/httpErrorResponse";
import defaultRouteGuard from "../../../mixins/security/defaultRouteGuard";

export default {
    name: "GridMonitoringAnggaran",
    mixins: [appLocale, formatUtils, httpErrorResponse, defaultRouteGuard],
    data: () => ({
        idprogram : null,
        awal: null,
        akhir: null,
        dataItems: null,
        period: [],
        bulanAwal: null,
        bulanAkhir: null,
        tahunAwal: null,
        tahunAkhir: null,
        loading: false
    }),
    computed: {
        currentYear() {
            let dt = new Date();
            return dt.getFullYear();
        },
        baseRouteUrl(){
            return window.location.pathname;
        },
        routeMonitoringAnggaran() {
            return this.baseRouteUrl+'/monitoringreport/full/' + this.idprogram+'/'+this.awal+'/'+this.akhir;
        },
        routeCetakMonitoringAnggaran() {
            return this.baseRouteUrl+'/monitoringreport/printfull/' + this.idprogram+'/'+this.awal+'/'+this.akhir;
        }
    },
    created() {
        this.idprogram = this.$route.params.idprogram;

        if (this.$route.params.awal) {
            this.awal = this.removeHyphen(this.$route.params.awal)
        }
        if (this.$route.params.akhir) {
            this.akhir = this.removeHyphen(this.$route.params.akhir)
        }
        if ((this.awal === null) || (this.akhir === null)){
            this.awal = this.currentYear+'01';
            this.akhir = this.currentYear+'12';
        }

        this.loading = true;
        this.$http.get('/monitoring/report/'+this.idprogram+'/'+this.awal+'/'+this.akhir, [], []).then((response) => {
            this.dataItems = response.data.data;
            this.loading = false;
        }).catch((error) => {
            this.showErrorMessage(error);
            this.loading = false;
            this.$nextTick(() => {
                this.$router.push('/laporan/monitoring/');
            });
        });
        this.tahunAwal = Number(this.awal.substring(0,4));
        this.tahunAkhir = Number(this.akhir.substring(0,4));
        this.bulanAwal = Number(this.awal.substring(4,6));
        this.bulanAkhir = Number(this.akhir.substring(4,6));
        this.period = [];
        let i, b1, b2;
        for (i = this.tahunAwal; i <= this.tahunAkhir; i++) {
            if (i === this.tahunAwal) {
                b1 = this.bulanAwal;
            }
            else {
                b1 = 1;
            }
            if (i === this.tahunAkhir) {
                b2 = this.bulanAkhir;
            }
            else {
                b2 = 12;
            }
            this.period[i] = { bulanAwal:b1, bulanAkhir:b2 };
        }

    },
    methods: {
        removeHyphen(monthyear) {
            return monthyear.replace(/-/g, "").slice(0,6);
        },
        rowClass(level) {
            if (level === 'program'){
                return 'font-weight-bold'
            } else
            if (level === 'batch'){
                return 'font-weight-medium font-italic'
            } else
            if (level === 'kegiatan'){
                return 'small'
            } else
            if (level === 'subkegiatan'){
                return 'small text-muted'
            } else
                return ''
        },
        judulClass(level) {
            if (level === 'program'){
                return 'ml-0'
            } else
            if (level === 'batch'){
                return 'ml-2'
            } else
            if (level === 'kegiatan'){
                return 'ml-3'
            } else
            if (level === 'subkegiatan'){
                return 'ml-4'
            } else {
                return '';
            }
        },
        periodeLength(year) {
            if (this.period[year]){
                return this.period[year].bulanAkhir - this.period[year].bulanAwal + 1;
            }
            return 0;
        },
        getTotalSerapan(item){
            if (item.hasOwnProperty('sum')) {
                return item['sum'].serapan
            }
            return 0;
        },
        getBudget(item){
            if (item.hasOwnProperty('sum')) {
                return item['sum'].budget
            }
            return 0;
        },
        getVariance(item){
            if (item.hasOwnProperty('sum')) {
                return item['sum'].variance
            }
            return '';
        },

    }
}
</script>

<style scoped>

</style>