<template>
    <div>
        <div>
            <div class="form-group text-right">
                <bs-menu>
                    <bs-button icon="file-alt"
                               icon-position="left"
                               size="sm"
                               dropdown-toggle
                               outlined>
                        Unduh / Cetak
                    </bs-button>
                    <bs-list slot="content">
                        <bs-list-item>
                            <a class="font-weight-bold text-dark" :href="routeRekap" target="_blank">
                                Unduh Rekap Anggaran
                            </a>
                        </bs-list-item>
                        <bs-list-item>
                            <a class="font-weight-bold text-dark" :href="routeCetakRekap" target="_blank">
                                Cetak Rekap Anggaran
                            </a>
                        </bs-list-item>
                    </bs-list>
                </bs-menu>
            </div>

            <div class="table-responsive" style="min-height: 250px; position: relative" v-if="dataItems">
                <table class="table table-sm table-valign-middle table-bordered table-outer-borderless mb-5">

                        <thead class="thead-light">
                            <tr>
                                <th rowspan="2">
                                    Detail Anggaran
                                </th>
                                <th :colspan="12" class="text-center">
                                    Aktual Tahun {{ tahun }}
                                </th>
                                <th colspan="3" class="text-center">
                                    Total
                                </th>
                            </tr>
                            <tr>
                                <th v-for="bulan in 12"
                                    class="text-center">
                                    {{ bulan }}
                                </th>
                                <th class="text-center">
                                    Aktual
                                </th>
                                <th class="text-center">
                                    Budget
                                </th>
                                <th class="text-center">
                                    Variance
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <template v-for="(item, row) in dataItems">
                                <tr :class="rowClass(item[tahun].level)" v-if="(item[tahun].flag != 'X') || (item[tahun].totalSerapan != 0)">
                                    <td>
                                        <div :class="judulClass(item[tahun].level)">
                                        {{ item[tahun].judul }}
                                        </div>
                                    </td>
                                    <td v-for="bulan in 12" class="text-right">
                                        {{ moneyFormat(item[tahun]['serapan'+bulan]) }}
                                    </td>
                                    <td class="text-right">
                                        {{ moneyFormat(item[tahun].totalSerapan) }}
                                    </td>
                                    <td class="text-right">
                                        {{ moneyFormat(item[tahun].budget) }}
                                    </td>
                                    <td class="text-right">
                                        {{ percentFormat(item[tahun].variance ) }}
                                    </td>
                                </tr>
                            </template>
                        </tbody>

                </table>
            </div>
        </div>
        <bs-mask-loader :opacity="0" :show="loading" :spinner-diameter="50"/>
    </div>
</template>

<script>
import { BsStore, Helper } from "vue-bs4";
import appLocale from "../../../mixins/appLocale";
import formatUtils from "../../../mixins/formatUtils";
import httpErrorResponse from "../../../mixins/httpErrorResponse";
import defaultRouteGuard from "../../../mixins/security/defaultRouteGuard";

export default {
    name: "GridRekap",
    mixins: [appLocale, formatUtils, httpErrorResponse, defaultRouteGuard],
    data: () => ({
        dataItems: null,
        tahun: null,
        bidang: null,
        loading: null
    }),
    computed: {
        currentYear() {
            let dt = new Date();
            return dt.getFullYear();
        },
        baseRouteUrl(){
            return window.location.pathname;
        },
        routeRekap() {
            return this.baseRouteUrl+'/rekapanggaranreport/full/' + this.tahun+'/'+this.bidang;
        },
        routeCetakRekap() {
            return this.baseRouteUrl+'/rekapanggaranreport/printfull/' + this.tahun+'/'+this.bidang;
        }
    },
    created() {
        if (this.$route.params.tahun) {
            this.tahun = parseInt(this.$route.params.tahun)
        }
        if (this.$route.params.bidang) {
            this.bidang = parseInt(this.$route.params.bidang)
        }
        if (this.bidang === 0) {
            this.loadRekapGlobal(this.tahun);
        }
        else {
            this.loadRekapBidang(this.tahun, this.bidang);
        }
    },
    methods: {
        loadRekapGlobal(tahun) {

            this.loading = true;
            this.$http.get('/rekapanggaran/?from='+this.tahun, [], []).then((response) => {
                this.dataItems = response.data.data;
                this.loading = false;
            }).catch((error) => {
                this.showErrorMessage(error);
                this.loading = false;
                this.$nextTick(() => {
                    this.$router.push('/laporan/rekap/');
                });
            });

        },
        loadRekapBidang(tahun, idBidang) {

            this.loading = true;
            this.$http.get('/rekapanggaran/bidang/'+this.bidang+'/'+this.tahun, [], []).then((response) => {
                this.dataItems = response.data.data;
                this.loading = false;
            }).catch((error) => {
                this.showErrorMessage(error);
                this.loading = false;
                this.$nextTick(() => {
                    this.$router.push('/laporan/rekap/');
                });
            });


        },
        rowClass(level) {
            if (level === 'global'){
                return 'font-weight-bold'
            } else
            if (level === 'bidang'){
                return 'font-weight-medium font-italic'
            } else
            if (level === 'program'){
                return 'small'
            } else
            if (level === 'batch'){
                return 'small text-muted'
            } else
                return ''
        },
        judulClass(level) {
            if (level === 'global'){
                return 'ml-0'
            } else
            if (level === 'bidang'){
                return 'ml-2'
            } else
            if (level === 'program'){
                return 'ml-3'
            } else
            if (level === 'batch'){
                return 'ml-4'
            } else {
                return '';
            }
        }
    }
}
</script>

<style scoped>

</style>