<template>
  <div>
    <bs-tabs v-model="activeTab" variant="material" color="nav-page">
      <bs-tab path="/master-data/program/bidang-csr" label="Bidang" />
      <bs-tab path="/master-data/program/program-csr" label="Program" />
    </bs-tabs>
    <router-view />
  </div>
</template>

<script>
export default {
    name: "DataProgramCSR",
    data: () => ({
        activeTab: null
    })
}
</script>

<style scoped>

</style>
