<template>
  <div class="body-container">
    <transition name="fade">
      <bs-card shadow v-if="showGrid">
        <bs-grid :data-source="dataSource"
                 :pageable="enablePaging"
                 row-hover
                 sortable
                 @filter="onAfterSearch">
          <bs-grid-toolbar class="px-3" slot="toolbar">
            <bs-grid-tool-search class="rounded-pill"
                                 field="biodata.searchFts"
                                 operator="fts"
                                 placeholder="Pencarian..." />
          </bs-grid-toolbar>
          <bs-grid-column field="beasiswaId"
                          label="Tindakan"
                          row-numbering
                          width="90" />
          <bs-grid-column field="biodata.namaLengkap"
                          label="Nama Lengkap"
                          min-width="175" />
          <bs-grid-column field="nim" label="NIM" width="100" />
          <bs-grid-column :sortable="false"
                          field="biodata.alamat"
                          label="Alamat"
                          min-width="320" />
          <bs-grid-column field="biodata.kecamatan.kabupaten.namaKabupaten"
                          label="Kabupaten"
                          width="150" />
          <bs-grid-column field="biodata.kecamatan.kabupaten.provinsi.namaProvinsi"
                          label="Provinsi"
                          width="150" />
          <bs-grid-column field="fakultas.name"
                          label="Fakultas"
                          width="150" />
          <bs-grid-column field="jurusan.name"
                          label="Program Studi"
                          width="150" />

          <template v-slot:datarow="{ columns, item, index }">
            <bs-grid-cell :column="columns[0]" :index="index" :item="item">
              <bs-button @click="doAddToProgram(item)"
                         block
                         color="default"
                         outlined
                         size="sm">
                Pilih
              </bs-button>
            </bs-grid-cell>
            <bs-grid-cell :column="columns[1]" :index="index" :item="item" />
            <bs-grid-cell :column="columns[2]" :index="index" :item="item" />
            <bs-grid-cell :column="columns[3]" :index="index" :item="item">
              {{ alamatBeneficiaryBeasiswa(item) }}
            </bs-grid-cell>
            <bs-grid-cell :column="columns[4]" :index="index" :item="item" />
            <bs-grid-cell :column="columns[5]" :index="index" :item="item" />
            <bs-grid-cell :column="columns[6]" :index="index" :item="item" />
            <bs-grid-cell :column="columns[7]" :index="index" :item="item" />
          </template>
        </bs-grid>
        <bs-card-footer class="pt-1 pb-3 bg-white">
          <div class="row">
            <div class="col">
              <bs-switch v-model="isAddDisable">
                Data tidak ditemukan
              </bs-switch>
            </div>
            <div class="col pt-2 text-right">
              <bs-button :disabled="!isAddDisable"
                         :href="urlAddBeasiswa"
                         color="amber"
                         icon="plus-circle"
                         icon-position="left">
                Tambah Baru
              </bs-button>
            </div>
          </div>
        </bs-card-footer>
      </bs-card>
    </transition>
    <bs-mask-loader :opacity="0" :show="showGrid === false" :spinner-diameter="50" />
  </div>
</template>

<script>
import { BsStore } from "vue-bs4";
import { PAGE_SIZE, STATE_SUCCESS } from "../../../../../store/modules/mutation-types";
import { GET_ACTIVE_PROGRAM } from "../../../../../store/modules/Kegiatan/mutation-types";
import appLocale from "../../../../../mixins/appLocale";
import formatUtils from "../../../../../mixins/formatUtils";
import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";
import editorRouteGuard from "../../../../../mixins/security/editorRouteGuard";

export default {
    name: 'GridSearchBeasiswa',
    mixins: [mapStoreKegiatanBeneficiary, appLocale, editorRouteGuard, formatUtils, httpErrorResponse],
    data: () => ({
        dataSource: new BsStore({
            idProperty: 'beasiswaId',
            dataProperty: 'data',
            totalProperty: 'total',
            pageSize: PAGE_SIZE,
            restUrl: {
                browse: '/kegiatan/penerima-manfaat/beasiswa'
            }
        }),
        isAddDisable: false
    }),
    computed: {
        /**
         * Get route Url untuk menampilkan Form Tambah Data Beasiswa.
         *
         * @return {string}
         **/
        urlAddBeasiswa() {
            return '#/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/beasiswa/create';
        }
    },
    created() {
        if (!this.hasEditorAccessRights) {
            this.$router.push('/access-denied');
            return;
        }
        const id = this.$route.params.idprogram;
        if (this[GET_ACTIVE_PROGRAM] === null) {
            this.fetchDpt(id);
        }

        this.dataSource.load().then(() => {
            if (this.dataSource.dataItems.length === 0) {
                this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/beasiswa/create');
            }
        }).catch((error) => {
            this.showErrorMessage(error);
            this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/beasiswa');
        });
    },
    beforeDestroy() {
        this.dataSource.destroy();
        this.dataSource = null;
    },
    methods: {
        /**
         * Assign selected peserta Beasiswa to the current/aktif DPT.
         *
         * @param {Object} item Data model
         * @return {void}
         */
        doAddToProgram(item) {
            const data = {
                'beneficiary': item.beasiswaId,
                'program': this[GET_ACTIVE_PROGRAM]
            };

            this.$http.post('/kegiatan/penerima-manfaat/beasiswa/addto-program', data).then(() => {
                this.$notification.success(item.biodata.namaLengkap + ' telah berhasil ditambahkan.', STATE_SUCCESS);
                this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/beasiswa');
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/beasiswa');
            });
        }
    }
}
</script>

<style scoped>

</style>
