<template>
  <section class="body-container">
    <div class="pb-3" v-if="canAddKpi">
      <bs-button color="amber"
                 icon="plus-circle"
                 icon-position="left"
                 @click="addKPI"
                 raised>
        Entri KPI
      </bs-button>
    </div>
    <bs-card shadow>
      <bs-card-body>
        <bs-card-content type="title" tag="h4" class="text-uppercase">
          {{ biodata.namaLengkap }}
        </bs-card-content>

        <div class="row">
          <div class="col-xl-6">
            <h6>Data Umum</h6>
            <div class="form-row">
              <div class="col-4 col-md-3">
                NIK
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ biodata.nik }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                NIP
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ techBase.nip }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Jenis Kelamin
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ jenisKelamin(biodata.jenisKelamin) }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Tempat Lahir
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ biodata.tempatLahir }}
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-4 col-md-3">
                Tanggal Lahir
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ dateFormat(biodata.tanggalLahir, 'DD MMMM YYYY') }}
              </div>
            </div>

            <h6>Pekerjaan & Pendidikan</h6>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Mengajar di
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ techBase.namaInstitusi }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Alamat Institusi
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ techBase.alamatInstitusi }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Jenis Institusi
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ formatJenisInstitusi(techBase.jenisInstitusi) }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Jabatan
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ biodata.jabatan }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Status
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ biodata.statusJabatan }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Sertifikasi
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ formatSertifikasi(techBase.sertifikasi) }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Pendidikan Terakhir
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ biodata.pendidikan }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Lama Mengajar
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ techBase.lamaMengajar }}
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-4 col-md-3">
                Mapel yang diajarkan
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ formatMapel(techBase.mapel) }}
              </div>
            </div>
          </div>

          <div class="col-xl-6">
            <display-alamat class="mb-3"
                            title="Alamat Tinggal"
                            :alamat="biodata.alamat"
                            :kelurahan="biodata.kelurahan"
                            :kecamatan="biodata.kecamatan"
                            :kodepos="biodata.kodePos"
                            :rtrw="biodata.rtRw" />
            <individu-contact class="mb-3"
                              :phone="biodata.phone"
                              :email="biodata.email"
                              :facebook="biodata.facebook"
                              :instagram="biodata.instagram" />
          </div>
          <div class="col-lg-12 mt-3 mb-4">
            <reject-view v-if="isRejected"
                         class="mb-3"
                         :approval="logs"
                         :status="workflowConfigurer.majorPlaceMark(biodata)"
                         :color="workflowConfigurer.badgeColor(biodata)"/>
          </div>
          <div class="col-xl-12">
            <h6 class="mt-2">
              Sertifikat Kompetensi/Prestasi
            </h6>
            <div class="mb-4">
              <table class="table table-bordered">
                <thead class="thead-light">
                  <tr>
                    <th>Nama Kegiatan</th>
                    <th>Tingkat</th>
                    <th>Tahun</th>
                  </tr>
                </thead>

                <tbody v-if="techBase.prestasi === null || techBase.prestasi.length === 0">
                  <tr class="table-info">
                    <td colspan="3" class="text-center">
                      Belum ada data.
                    </td>
                  </tr>
                </tbody>
                <tbody v-else>
                  <tr v-for="(item, idx) in techBase.prestasi" :key="'prestasi-' + idx">
                    <td>{{ item.nama }}</td>
                    <td>{{ item.tingkat }}</td>
                    <td>{{ item.tahun }}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <h6>Pelatihan Terkait Pembelajaran Teknologi Yang Pernah Diikuti</h6>
            <div class="mb-4">
              <table class="table table-bordered">
                <thead class="thead-light">
                  <tr>
                    <th>Nama Pelatihan</th>
                    <th>Tahun</th>
                  </tr>
                </thead>

                <tbody v-if="techBase.pelatihan === null || techBase.pelatihan.length === 0">
                  <tr class="table-info">
                    <td colspan="2" class="text-center">
                      Belum ada data.
                    </td>
                  </tr>
                </tbody>
                <tbody v-else>
                  <tr v-for="(item, idx) in techBase.pelatihan" :key="'prestasi-' + idx">
                    <td>{{ item.nama }}</td>
                    <td>{{ item.tahun }}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="mb-3" v-if="hasKpi">
              <h6>Penilaian KPI {{ namaProgram }}</h6>
              <table class="table table-sm table-valign-middle table-bordered">
                <thead class="thead-light">
                <tr>
                  <th class="text-center text-nowrap">
                    SEMESTER
                  </th>
                  <th class="text-center text-nowrap">
                    NILAI TOTAL
                  </th>
                  <th class="text-center text-nowrap">
                    LEVEL
                  </th>
                </tr>
                </thead>
                <tbody>
                <template>
                  <tr v-for="item in techBase.kpi" :key="item.idk">
                    <td class="text-nowrap">
                      {{ item.semester }}
                    </td>
                    <td class="text-nowrap">
                      {{ item.tbeParams.totalMax }}
                    </td>
                    <td class="text-nowrap">
                      {{ item.dataRef.name }}
                    </td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <audit-trail :last-updated="techBase.lastUpdated"
                     :posted-by="techBase.postedBy"
                     :posted-date="techBase.postedDate"
                     :updated-by="techBase.updatedBy" />
      </bs-card-footer>
      <bs-mask-loader :opacity="0"
                      :show="loader || techBase.loading"
                      :spinner-diameter="50" />
    </bs-card>
  </section>
</template>

<script>
  import {GET_ACTIVE_PRGNAME, GET_ACTIVE_PROGRAM} from "../../../../../store/modules/Kegiatan/mutation-types";
import { IndividuModel } from "../../../../../models/Beneficiary/IndividuModel";
import { TechBaseModel } from "../../../../../models/Beneficiary/Techbase/TechBaseModel";
import appLocale from "../../../../../mixins/appLocale";
import defaultRouteGuard from "../../../../../mixins/security/defaultRouteGuard";
import formatUtils from "../../../../../mixins/formatUtils";
import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";
import AuditTrail from "../../../../../components/AuditTrail";
import DisplayAlamat from "../../../../../components/DisplayAlamat";
import IndividuContact from "../../../../../components/IndividuContact";
import {APPROVED, REJECTED} from "../../../../../store/modules/mutation-types";
import RejectView from "../../RejectView";
import {LogAprvBeneficiaryModel} from "../../../../../models/Beneficiary/LogAprvBeneficiaryModel";
import BeneficiaryWorkflowConfigurer from "../../../../../models/Beneficiary/BeneficiaryWorkflowConfigurer";

export default {
    name: 'ViewTechBase',
    components: {AuditTrail, DisplayAlamat, IndividuContact, RejectView},
    mixins: [
        appLocale, defaultRouteGuard, formatUtils, httpErrorResponse, mapStoreKegiatanBeneficiary
    ],
    data: () => ({
        biodata: new IndividuModel(),
        techBase: new TechBaseModel(),
        loader: false,
        logs: null,
        workflowConfigurer: new BeneficiaryWorkflowConfigurer('techBase')
    }),
    created() {
        const idprogram = this.$route.params.idprogram;

        if (this[GET_ACTIVE_PROGRAM] === null) {
            this.fetchDpt(idprogram);
        }
        if (this.$route.params.id) {
            this.techBase.fetch(this.$route.params.id).then((rsp) => {
                this.biodata.assignValues(this.techBase.biodata);
                this.techBase.lastUpdated = new Date(rsp.data.data.lastUpdated);
                this.techBase.postedDate  = new Date(rsp.data.data.postedDate);
                this.techBase.postedBy    = rsp.data.data.postedBy.fullName;
                this.techBase.updatedBy   = rsp.data.data.updatedBy.fullName;
                this.loadDataReject(this.techBase.tbeId);
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/tech-base');
                });
            });
        }
    },
    beforeDestroy() {
        this.techBase.destroy();
        this.techBase = null;

        this.biodata.destroy();
        this.biodata = null;
    },
    computed: {
      hasKpi() {
        return this.techBase.kpi && this.techBase.kpi.length > 0;
      },
      namaProgram() {
        return this[GET_ACTIVE_PRGNAME];
      },
      canAddKpi () {
        return (this.hasEditorAccessRights) && (this.biodata.status === APPROVED);
      },
      /**
       * @return {boolean}
       */
      isRejected() {
        return this.biodata.status === REJECTED;
      }
    },
    methods: {
        addKPI() {
          this.$router.push('/kegiatan/penerima-manfaat/' + this.$route.params.idprogram + '/tech-base/view/' + this.$route.params.id + '/kpi/create');
        },
        /**
         * Fetch data from remote server.
         *
         * @param {number} $id
         * @return {void}
         */
        loadDataReject($id) {
          this.loader = true;
          this.$http.get('/kegiatan/penerima-manfaat/tech-base/approval/' + $id).then($response => {
            this.loader = false;
            let $resp = $response.data;
            this.logs = $resp.data;
          });
        },
        /**
         * Create formatted string of jenis institusi.
         *
         * @param {int} jenis kategori institusi
         *
         * @return {string} label institusi
         */
        formatJenisInstitusi(jenis) {
            switch (jenis) {
                case 1:
                    return 'SD';
                case 2:
                    return 'SMP';
                case 3:
                    return 'SMA';
                default:
                    return '';
            }
        },
        /**
         * Create formatted string of status sertifikasi.
         *
         * @param {boolean} sertifikasi status sertifikasi
         *
         * @return {string} label lsertifikasi
         */
        formatSertifikasi(sertifikasi) {
            if (sertifikasi) {
                return 'YA';
            } else {
                return 'TIDAK';
            }
        },
        /**
         * Combine collection of Mapel into CSV formatted string.
         *
         * @param {Object[]|null} mapels Array of mata pelajaran
         *
         * @return {string} CSV formatted string
         */
        formatMapel(mapels) {
            let fmtStrings = [];

            if (mapels) {
                for (const mapel of mapels) {
                    fmtStrings.push(mapel.text);
                }
            }

            return fmtStrings.join(', ');
        }
    }
}
</script>

<style scoped>

</style>
