<template>
  <div class="container">
    <bs-card shadow>
      <form class="mx-lg-2 mt-lg-2" novalidate>
        <bs-card-body class="pb-2">
          <div class="form-group row align-items-center">
            <label class="col-md-3 col-xl-2 h6 mb-0">
              DANA PROGRAM
            </label>
            <div class="col-md-9 col-xl-10">
              <bs-combobox v-model="danaBatch.danaProgramId"
                           :data-source="dsDanaProgram"
                           :external-validator="danaProgramIdValidator"
                           :readonly="isEditMode"
                           @change="onChangeDanaBatch" />
            </div>
          </div>
          <div class="form-group row align-items-center">
            <label class="col-md-3 col-xl-2 h6">
              DANA TERSEDIA
            </label>
            <label class="col-md-9 col-xl-7 h5" x-ms-format-detection="none">
              <strong>Rp. {{ moneyFormat(saldoAwal) }}</strong>
            </label>
          </div>
        </bs-card-body>
        <div class="mx-lg-n2">
          <bs-divider />
        </div>
        <bs-card-body>
          <div v-if="danaBatch.id != null" class="form-group row">
            <label class="col-form-label col-md-3 col-xl-2 font-weight-bold">
              Kode Transaksi
            </label>
            <label class="col-form-label col-md-9 col-xl-3">
              <strong>{{ danaBatch.kode }}</strong>
              <bs-badge :variant="danaBatch.status === 'REJECTED' ? 'danger' : 'info'"
                        class="float-right"
                        type="label">
                {{ badgeKodeTransaksi }}
              </bs-badge>
            </label>
          </div>
          <div class="form-group">
            <bs-text-field v-model="danaBatch.programCsrName"
                           :external-validator="programCsrNameValidator"
                           readonly
                           required>
              <label class="col-form-label col-md-3 col-xl-2">
                Program CSR
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-combobox v-model="danaBatch.batchId"
                         :data-source="dsBatch"
                         :external-validator="batchIdValidator"
                         :parent-value="danaBatch.programCsrId"
                         required
                         @change="updateTitle"
                         @data-bind="onBindBatchCsr">
              <label class="col-form-label col-md-3 col-xl-2">
                Periode Batch
              </label>
              <template v-slot:itemOption="{ item }">
                <bs-list-tile-content>
                  <bs-list-tile-title>
                    {{ item.namaBatch }} ( Tahun: {{ item.tahunAwal }} - {{ item.tahunAkhir }} )
                  </bs-list-tile-title>
                </bs-list-tile-content>
              </template>
            </bs-combobox>
          </div>
          <div class="form-group">
            <bs-date-time-field v-model="danaBatch.tahun"
                                :external-validator="tahunValidator"
                                append-icon="calendar"
                                control-cls="col-md-5 col-xl-3"
                                format="YYYY"
                                view-mode="year"
                                required
                                @input="updateTitle">
              <label class="col-form-label col-md-3 col-xl-2">
                Dana untuk Tahun
              </label>
            </bs-date-time-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="danaBatch.namaProgram"
                           :external-validator="namaProgramValidator"
                           required>
              <label class="col-form-label col-md-3 col-xl-2">
                Nama Dana Batch
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-number-field v-model.number="danaBatch.newValue"
                             :external-validator="anggaranValidator"
                             :locale="getLocale"
                             prepend-icon="pen"
                             required>
              <span slot="prependSlot" class="md-icon-text">Rp.</span>
              <label class="col-form-label col-md-3 col-xl-2">
                Nilai Anggaran
              </label>
            </bs-number-field>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-xl-2">
              <strong>Saldo Dana Program</strong>
            </label>
            <label class="col-md-9 col-xl-10 h6"
                   x-ms-format-detection="none"
                   :class="{'text-danger': saldoAkhir < 0}">
              <strong>Rp. {{ moneyFormat(saldoAkhir) }}</strong></label>
          </div>
          <bs-card class="mt-4">
            <bs-card-header class="d-flex align-items-center pr-2">
              <span class="d-inline-block">PENYANDANG DANA</span>
              <bs-tooltip placement="top" content="Tambah Baru">
                <bs-button class="ml-auto"
                           color="secondary"
                           mode="icon"
                           size="sm"
                           flat
                           @click="addRow">
                  <bs-icon icon="add" size="24" />
                </bs-button>
              </bs-tooltip>
            </bs-card-header>
            <bs-list>
              <!-- loop-->
              <template v-for="(item, index) in danaBatch.donaturs">
                <bs-list-item :key="'list-' + index" tag="div">
                  <bs-list-tile-content>
                    <div class="row">
                      <div class="col-lg-7">
                        <bs-combobox v-model="item.companyId"
                                     :data-source="dsDonatur"
                                     prepend-icon="pen"
                                     flat>
                          <span slot="prependSlot" style="font-size:.88rem; padding-right: 4px">{{ index + 1 }}.</span>
                        </bs-combobox>
                      </div>
                      <div class="col-lg-5">
                        <bs-number-field v-model.number="item.jumlah"
                                         :locale="getLocale"
                                         prepend-icon="pen"
                                         flat>
                          <span slot="prependSlot" class="md-icon-text">Rp.</span>
                        </bs-number-field>
                      </div>
                    </div>
                  </bs-list-tile-content>
                  <bs-list-tile-action>
                    <bs-tooltip placement="top" content="Hapus baris">
                      <bs-icon class="text-danger"
                               icon="clear"
                               style="cursor: pointer"
                               @click="deleteRow(index)" />
                    </bs-tooltip>
                  </bs-list-tile-action>
                </bs-list-item>
                <bs-divider :key="'divider-' + index" />
              </template>
              <!-- end loop-->
              <bs-list-item tag="div">
                <bs-list-tile-content>
                  <div class="row font-weight-bold">
                    <div class="col col-md-7 text-md-right">
                      JUMLAH TOTAL :
                    </div>
                    <div class="col col-md-5 pl-md-0" x-ms-format-detection="none">
                      Rp. {{ moneyFormat(totalDana) }}
                    </div>
                  </div>
                </bs-list-tile-content>
              </bs-list-item>
            </bs-list>
          </bs-card>
        </bs-card-body>
      </form>
      <bs-card-footer class="bg-white">
        <bs-button :disabled="disableSubmit"
                   color="primary"
                   @click="doSave">
          Simpan
        </bs-button>
      </bs-card-footer>
      <bs-mask-loader :opacity="0"
                      :show="danaBatch.loading ||danaBatch.updating"
                      :spinner-diameter="50" />
    </bs-card>
  </div>
</template>

<script>
import {
    MSG_SAVE_SUCCESS,
    MSG_UPDATE_SUCCESS,
    NEW,
    ONGOING,
    REJECTED,
    REVISED,
    REVISI_REJECTED,
    SAVE,
    STATE_SUCCESS,
    UPDATE,
    UPDATED
} from "../../../store/modules/mutation-types";
import { BsStore, Helper } from "vue-bs4";
import { validationMixin } from "vuelidate";
import { danaBatchValidationHandler, danaBatchValidator } from "../../../models/Pendanaan/DanaBatchValidators";
import appLocale from "../../../mixins/appLocale";
import formatUtils from "../../../mixins/formatUtils";
import httpErrorResponse from "../../../mixins/httpErrorResponse";
import editorRouteGuard from "../../../mixins/security/editorRouteGuard";
import DanaBatchModel from "../../../models/Pendanaan/DanaBatchModel";
import DonaturModel from "../../../models/Pendanaan/DonaturModel";

export default {
    name: "FormDanaBatch",
    mixins: [
        validationMixin, appLocale, formatUtils, httpErrorResponse, editorRouteGuard,
        danaBatchValidationHandler('danaBatch')
    ],
    data: () => ({
        dsBatch: {
            schema: {
                displayField: 'namaBatch',
                valueField: 'batchId',
                cascadeField: 'programCsr.msid'
            },
            proxy: new BsStore({
                idProperty: 'batchId',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    browse: '/master-data/batch'
                }
            })
        },
        dsDanaProgram: {
            schema: {
                displayField: 'title',
                valueField: 'id'
            },
            proxy: new BsStore({
                idProperty: 'id',
                dataProperty: 'data',
                totalProperty: 'total',
                filters: [{property: 'status', value: [ONGOING, REVISED, REVISI_REJECTED], operator: 'in'}],
                sorts: [{property: 'title', direction: 'asc'}],
                restUrl: {
                    browse: '/pendanaan/program'
                }
            })
        },
        dsDonatur: {
            schema: {
                displayField: 'name',
                valueField: 'id'
            },
            proxy: new BsStore({
                idProperty: 'id',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    browse: '/service/list/company'
                }
            })
        },
        saldoAwal: 0,
        isEditMode: false,
        danaBatch: new DanaBatchModel(),
        invalidNumericErrorMsg: 'Nilai field haruslah bertipe NUMERIC'
    }),
    computed: {
        badgeKodeTransaksi() {
            return this.danaBatch.status === REJECTED ? REJECTED : 'Belum diverifikasi';
        },
        disableSubmit() {
            return !this.hasEditorAccessRights || (this.saldoAkhir < 0) || ![NEW, UPDATED, REJECTED, null].includes(this.danaBatch.status);
        },
        saldoAkhir() {
            return this.saldoAwal - this.danaBatch.newValue;
        },
        totalDana() {
            let value = 0;

            this.danaBatch.donaturs.forEach((item) => {
                value = value + parseFloat(item.jumlah);
            });

            return value;
        }
    },
    validations: {
        danaBatch: danaBatchValidator
    },
    created() {
        if (this.$route.params.id) {
            this.isEditMode = true;
            this.danaBatch.fetch(this.$route.params.id).catch(error => {
                this.showErrorMessage(error);
            });
        }
    },
    beforeDestroy() {
        this.danaBatch.destroy();
        this.danaBatch = null;

        this.dsDanaProgram.proxy.destroy();
        this.dsDanaProgram.proxy = null;
        this.dsDanaProgram       = null;

        this.dsDonatur.proxy.destroy();
        this.dsDonatur.proxy = null;
        this.dsDonatur       = null;

        this.dsBatch.proxy.destroy();
        this.dsBatch.proxy = null;
        this.dsBatch       = null;
    },
    methods: {
        /**
         * Tambah baris baru untuk record donatur penyandang dana.
         *
         * @return {void}
         */
        addRow() {
            const donator  = new DonaturModel();
            donator.jumlah = 0;
            this.danaBatch.donaturs.push(donator);
        },
        /**
         * Hapus baris record donatur penyandang dana.
         *
         * @param {Number} index Absolute index position
         * @return {void}
         */
        deleteRow(index) {
            this.danaBatch.donaturs.splice(index, 1);
        },
        doSave() {
            this.$v.$touch();

            if (!this.$v.$error) {
                const text   = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                const action = this.isEditMode ? UPDATE : SAVE;
                let donaturs = [];

                this.danaBatch.donaturs.forEach(item => {
                    if (item.companyId && item.jumlah) {
                        donaturs.push({company: item.companyId, jumlah: item.jumlah});
                    }
                });

                this.danaBatch.donaturs    = donaturs;
                this.danaBatch.danaProgram = this.danaBatch.danaProgramId;
                this.danaBatch.batch       = this.danaBatch.batchId;

                this.danaBatch[action]().then(() => {
                    this.$notification.success('Data Dana Batch ' + text, STATE_SUCCESS);
                    this.$nextTick(() => {
                        this.$router.push('/pendanaan/batch');
                    });
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            }
        },
        onBindBatchCsr(items) {
            if (items && items.length > 0 && this.danaBatch.batch != null) {
                this.danaBatch.batchId = this.danaBatch.batch.batchId;
            }
            if (this.isEditMode) {
                this.saldoAwal = this.danaBatch.danaProgram.danaTersedia + this.danaBatch.anggaran;
            }
        },
        onChangeDanaBatch(item) {
            if (item) {
                this.saldoAwal                = item.danaTersedia;
                this.danaBatch.programCsrId   = item.programCsr.msid;
                this.danaBatch.programCsrName = item.programCsr.name;
                this.danaBatch.templateName   = item.programCsr.templateName;
            } else {
                this.saldoAwal                = 0;
                this.danaBatch.programCsrId   = null;
                this.danaBatch.programCsrName = null;
                this.danaBatch.templateName   = null;
            }

            this.danaBatch.namaProgram = null;
        },
        updateTitle(value) {
            let tpl = this.danaBatch.templateName || 'Program {0} - {1} ( {2} )';

            if (tpl) {
                if (Helper.isObject(value)) {
                    this.danaBatch.batchName = value.namaBatch;

                    tpl = tpl.replace('{0}', this.danaBatch.programCsrName)
                        .replace('{1}', value.namaBatch)
                        .replace('{2}', this.danaBatch.tahun ? this.danaBatch.tahun : '{2}');
                } else {
                    tpl = tpl.replace('{0}', this.danaBatch.programCsrName)
                        .replace('{1}', this.danaBatch.batchId ? this.danaBatch.batchName : '{1}')
                        .replace('{2}', this.danaBatch.tahun);
                }
            }

            this.danaBatch.namaProgram = tpl;
        }
    }
}
</script>

<style scoped>

</style>
