<template>
  <div class="container">
    <bs-card shadow>
      <form class="mx-lg-2 mt-lg-2" novalidate>
        <bs-card-body class="pb-2">
          <div class="mb-3 mb-xl-0 text-right">
            <bs-menu v-if="revisiMode"
                     class="mt-n2 mr-n2 mt-lg-n3 mr-lg-n3"
                     placement="bottom-right">
              <bs-button color="secondary"
                         mode="icon"
                         flat>
                <bs-icon icon="more_vert" size="24" />
              </bs-button>
              <bs-list slot="content">
                <bs-list-item @click="operasi = 'Penambahan'">
                  Penambahan Dana
                </bs-list-item>
                <bs-list-item @click="operasi = 'Pengurangan'">
                  Pengurangan Dana
                </bs-list-item>
              </bs-list>
            </bs-menu>
          </div>
          <div class="form-group row align-items-center">
            <label class="col-md-3 col-xl-2 h6 mb-0">
              DANA BIDANG
            </label>
            <div class="col-md-9 col-xl-7">
              <bs-combobox v-model="danaProgram.danaBidangId"
                           :data-source="dsDanaBidang"
                           :readonly="editMode || revisiMode"
                           :external-validator="bidangValidator"
                           @change="onChangeDanaBidang" />
            </div>
          </div>
          <div class="form-group row align-items-center">
            <label class="col-md-3 col-xl-2 h6">
              DANA TERSEDIA
            </label>
            <label class="col-md-9 col-xl-7 h5" x-ms-format-detection="none">
              <strong>Rp. {{ moneyFormat(saldoAwal) }}</strong>
            </label>
          </div>
        </bs-card-body>
        <div class="mx-lg-n2">
          <bs-divider />
        </div>
        <bs-card-body class="pb-2">
          <div v-if="danaProgram.id != null" class="form-group row">
            <label class="col-form-label col-md-3 col-xl-2 font-weight-bold">
              Kode Transaksi
            </label>
            <label class="col-form-label col-md-9 col-xl-7">
              <strong>{{ danaProgram.kode }}</strong>
              <bs-badge :color="badgeColor"
                        class="float-right"
                        type="label">
                {{ badgeKodeTransaksi }}
              </bs-badge>
            </label>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-md-3 col-xl-2 font-weight-bold">
              Dana untuk Tahun</label>
            <div class="col-md-9 col-xl-7">
              <div class="row">
                <bs-date-time-field v-model="danaProgram.tahunAwal"
                                    :external-validator="tahunAwalValidator"
                                    :readonly="revisiMode"
                                    append-icon="calendar"
                                    class="col"
                                    format="YYYY"
                                    view-mode="year"
                                    @input="updateTitle" />
                <div class="col-form-label text-center" style="width: 25px">
                  s/d
                </div>
                <bs-date-time-field v-model="danaProgram.tahunAkhir"
                                    :external-validator="tahunAkhirValidator"
                                    :readonly="revisiMode"
                                    append-icon="calendar"
                                    class="col"
                                    format="YYYY"
                                    view-mode="year"
                                    @input="updateTitle" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <bs-combobox v-model="danaProgram.programCsrId"
                         :data-source="dsProgramCsr"
                         :parent-value="danaProgram.bidangCsrId"
                         :external-validator="programCsrValidator"
                         :readonly="revisiMode"
                         required
                         @change="updateTitle"
                         @data-bind="onBindProgramCsr">
              <label class="col-form-label col-md-3 col-xl-2">
                Program CSR
              </label>
            </bs-combobox>
          </div>
          <div class="form-group">
            <bs-text-field v-model="danaProgram.title"
                           :external-validator="programTitleValidator"
                           :readonly="revisiMode"
                           required>
              <label class="col-form-label col-md-3 col-xl-2">
                Nama Dana Program
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-number-field v-model.number="danaProgram.newValue"
                             :autofocus="revisiMode"
                             :external-validator="anggaranValidator"
                             :locale="getLocale"
                             prepend-icon="pen"
                             required>
              <span slot="prependSlot" class="md-icon-text">Rp.</span>
              <label class="col-form-label col-md-3 col-xl-2">
                {{ labelAnggaran }}
              </label>
            </bs-number-field>
          </div>
          <div v-if="revisiMode" class="form-group row">
            <label class="col-md-3 col-xl-2">
              <strong>Total Dana Program</strong>
            </label>
            <label class="col-md-9 col-xl-10 h6"
                   x-ms-format-detection="none"
                   :class="{'text-danger': totalDana < 0}">
              <strong>Rp. {{ moneyFormat(totalDana) }}</strong></label>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-xl-2">
              <strong>Saldo Dana Bidang</strong>
            </label>
            <label class="col-md-9 col-xl-10 h6"
                   x-ms-format-detection="none"
                   :class="{'text-danger': saldoAkhir < 0}">
              <strong>Rp. {{ moneyFormat(saldoAkhir) }}</strong></label>
          </div>
        </bs-card-body>
      </form>
      <bs-card-footer class="bg-white">
        <bs-button :disabled="disableSubmit"
                   color="primary"
                   @click="doSave">
          Simpan
        </bs-button>
      </bs-card-footer>
      <bs-mask-loader :opacity="0"
                      :show="danaProgram.loading || danaProgram.updating"
                      :spinner-diameter="50" />
    </bs-card>
  </div>
</template>

<script>
import {
    MSG_SAVE_SUCCESS,
    MSG_UPDATE_SUCCESS,
    NEW,
    ONGOING,
    REJECTED,
    REVISED,
    REVISI_REJECTED,
    SAVE,
    STATE_SUCCESS,
    STEP_REQUEST,
    STEP_UPDATE,
    UPDATE
} from "../../../store/modules/mutation-types";
import { BsStore, Helper } from "vue-bs4";
import { validationMixin } from "vuelidate";
import { danaGlobalValidationHandler } from "../../../models/Pendanaan/DanaGlobalValidators";
import { danaProgramValidationHandler, danaProgramValidator } from "../../../models/Pendanaan/DanaProgramValidators";
import appLocale from "../../../mixins/appLocale";
import formatUtils from "../../../mixins/formatUtils";
import httpErrorResponse from "../../../mixins/httpErrorResponse";
import editorRouteGuard from "../../../mixins/security/editorRouteGuard";
import DanaProgramModel from "../../../models/Pendanaan/DanaProgramModel";
import ClosableWorkflowConfigurer from "../../../models/Pendanaan/ClosableWorkflowConfigurer";

export default {
    name: "FormDanaProgram",
    mixins: [
        validationMixin, appLocale, formatUtils, httpErrorResponse, editorRouteGuard,
        danaGlobalValidationHandler('danaProgram'), danaProgramValidationHandler('danaProgram')
    ],
    data: () => ({
        dsDanaBidang: {
            schema: {
                displayField: 'title',
                valueField: 'id'
            },
            proxy: new BsStore({
                idProperty: 'id',
                dataProperty: 'data',
                totalProperty: 'total',
                filters: [{property: 'status', value: [ONGOING, REVISED, REVISI_REJECTED], operator: 'in'}],
                restUrl: {
                    browse: '/pendanaan/bidang'
                }
            })
        },
        dsProgramCsr: {
            schema: {
                displayField: 'name',
                valueField: 'msid',
                cascadeField: 'jenis.id'
            },
            proxy: new BsStore({
                idProperty: 'msid',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    browse: '/master-data/program-csr'
                }
            })
        },
        saldoAwal: 0,
        editMode: false,
        revisiMode: false,
        operasi: 'Penambahan',
        danaProgram: new DanaProgramModel(),
        danaWorkflow: new ClosableWorkflowConfigurer('dana_program'),
        invalidNumericErrorMsg: 'Nilai field haruslah bertipe NUMERIC'
    }),
    computed: {
        badgeColor() {
            const placeMark = this.danaWorkflow.majorPlaceMark(this.danaProgram);

            if (placeMark === NEW) {
                return 'info';
            } else if (placeMark === REJECTED) {
                return 'danger';
            } else {
                return 'success-color-dark';
            }
        },
        badgeKodeTransaksi() {
            const placeMark = this.danaWorkflow.majorPlaceMark(this.danaProgram);

            if (placeMark === NEW) {
                return 'Belum diverifikasi';
            } else {
                return placeMark;
            }
        },
        disableSubmit() {
            const transitionEnabled = this.danaWorkflow.workflow.canXor(this.danaProgram, [STEP_UPDATE, STEP_REQUEST]);

            return !this.hasEditorAccessRights || (this.saldoAkhir < 0) || (this.totalDana < 0) || !transitionEnabled;
        },
        labelAnggaran() {
            if (this.revisiMode) {
                return `${this.operasi} Dana`;
            } else {
                return 'Nilai Anggaran';
            }
        },
        saldoAkhir() {
            if (this.revisiMode && this.operasi === 'Pengurangan') {
                return this.saldoAwal + this.danaProgram.newValue;
            } else {
                return this.saldoAwal - this.danaProgram.newValue;
            }
        },
        totalDana() {
            const jumlah = this.danaProgram.newValue;

            return this.danaProgram.anggaran + (this.operasi === 'Pengurangan' ? (Math.abs(jumlah) * -1) : Math.abs(jumlah));
        }
    },
    validations: {
        danaProgram: danaProgramValidator
    },
    created() {
        this.doLoad();
    },
    beforeDestroy() {
        this.danaProgram.destroy();
        this.danaProgram = null;

        this.danaWorkflow.destroy();
        this.danaWorkflow = null;

        this.dsDanaBidang.proxy.destroy();
        this.dsDanaBidang.proxy = null;
        this.dsDanaBidang       = null;

        this.dsProgramCsr.proxy.destroy();
        this.dsProgramCsr.proxy = null;
        this.dsProgramCsr       = null;
    },
    methods: {
        async doLoad() {
            try {
                if (this.$route.params.id) {
                    const resp = await this.danaProgram.fetch(this.$route.params.id);

                    if (resp.data.data) {
                        const placeMark = this.danaWorkflow.majorPlaceMark(resp.data.data);

                        if (placeMark === ONGOING) {
                            this.revisiMode           = true;
                            this.danaProgram.newValue = 0.0;
                        } else {
                            this.editMode             = true;
                            this.danaProgram.newValue = Math.abs(resp.data.data.anggaran);
                        }
                    }
                }
            } catch (e) {
                this.showErrorMessage(e);
            }
        },
        async doSave() {
            this.$v.$touch();

            if (!this.$v.$error) {
                const jumlah = this.danaProgram.newValue;
                const action = this.editMode ? UPDATE : SAVE;
                const text   = this.editMode || this.revisiMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;

                this.danaProgram.danaBidang = this.danaProgram.danaBidangId;
                this.danaProgram.programCsr = this.danaProgram.programCsrId;
                this.danaProgram.newValue   = this.operasi === 'Pengurangan' ? (Math.abs(jumlah) * -1) : Math.abs(jumlah);

                try {
                    if (this.revisiMode) {
                        let data = this.danaProgram.toJSON();
                        this.$delete(data, 'id');

                        await this.danaProgram.request('revisi', 'post', null, data);
                    } else {
                        await this.danaProgram[action]();
                    }

                    this.$notification.success('Data Dana Program' + text, STATE_SUCCESS);
                    this.$nextTick(() => {
                        this.$router.push('/pendanaan/program');
                    });
                } catch (e) {
                    this.showErrorMessage(e);
                }
            }
        },
        onBindProgramCsr(items) {
            if (items && items.length > 0 && this.danaProgram.programCsr != null) {
                this.danaProgram.programCsrId = this.danaProgram.programCsr.msid;
            }
            if (this.revisiMode) {
                this.saldoAwal = this.danaProgram.danaBidang.danaTersedia;
            } else if (this.editMode) {
                this.saldoAwal = this.danaProgram.danaBidang.danaTersedia + this.danaProgram.anggaran;
            }
        },
        onChangeDanaBidang(item) {
            if (item) {
                this.saldoAwal               = item.danaTersedia;
                this.danaProgram.bidangCsrId = item.bidangCsr.id;
            } else {
                this.saldoAwal               = 0;
                this.danaProgram.bidangCsrId = null;
            }
        },
        updateTitle(value) {
            let title = '';
            const t1  = this.danaProgram.tahunAwal ? this.danaProgram.tahunAwal : '';
            const t2  = this.danaProgram.tahunAkhir ? this.danaProgram.tahunAkhir : '';

            if (Helper.isObject(value)) {
                title = 'Dana Program ' + value.name + ` Tahun ${t1} - ${t2}`;
            } else {
                const item = this.dsProgramCsr.proxy.dataItems.find(el => el.msid === this.danaProgram.programCsrId);
                title      = 'Dana Program ' + (item ? item.name : '') + ` Tahun ${t1} - ${t2}`;
            }

            this.danaProgram.title = title;
        }
    }
}
</script>

<style scoped>

</style>
