<template>
  <div class="container">
    <bs-card shadow>
      <form class="mx-lg-2 mt-lg-2" novalidate>
        <bs-card-body>
          <div v-if="danaBatch.id != null" class="form-group row">
            <label class="col-form-label col-md-3 col-xl-2 font-weight-bold">
              Kode Transaksi
            </label>
            <label class="col-form-label col-md-9 col-xl-3">
              <strong>{{ danaBatch.kode }}</strong>
              <bs-badge :color="badgeColor"
                        class="float-right"
                        type="label">
                {{ badgeKodeTransaksi }}
              </bs-badge>
            </label>
          </div>
          <div class="form-group">
            <bs-text-field v-model="danaBatch.programCsrName"
                           readonly
                           required>
              <label class="col-form-label col-md-3 col-xl-2">
                Program CSR
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="danaBatch.batchName"
                           readonly
                           required>
              <label class="col-form-label col-md-3 col-xl-2">
                Periode Batch
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-date-time-field v-model="danaBatch.tahun"
                                append-icon="calendar"
                                control-cls="col-md-5 col-xl-3"
                                format="YYYY"
                                view-mode="year"
                                readonly
                                required>
              <label class="col-form-label col-md-3 col-xl-2">
                Dana untuk Tahun
              </label>
            </bs-date-time-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="danaBatch.namaProgram"
                           readonly
                           required>
              <label class="col-form-label col-md-3 col-xl-2">
                Nama Dana Batch
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-number-field v-model.number="nilaiAnggaran"
                             :locale="getLocale"
                             prepend-icon="pen"
                             readonly
                             required>
              <span slot="prependSlot" class="md-icon-text">Rp.</span>
              <label class="col-form-label col-md-3 col-xl-2">
                Nilai Anggaran
              </label>
            </bs-number-field>
          </div>
          <div>&nbsp;</div>
          <bs-card class="rounded-0 table-responsive-lg">
            <table role="grid" class="table table-valign-middle mb-0">
              <colgroup>
                <col style="width: 40px" />
                <col style="width: 120px" />
                <col />
                <col style="width: 180px" />
              </colgroup>
              <thead role="rowgroup" class="thead-light">
                <tr>
                  <th role="columnheader" scope="col" class="text-nowrap">
                    #
                  </th>
                  <th role="columnheader" scope="col" class="text-nowrap">
                    KODE
                  </th>
                  <th role="columnheader" scope="col" class="text-nowrap">
                    SUMBER DANA
                  </th>
                  <th role="columnheader" scope="col" class="text-right">
                    PENAMBAHAN (Rp)
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in danaBatch.requests"
                    :key="'rev-' + index"
                    role="row">
                  <td role="gridcell">
                    {{ index + 1 }}.
                  </td>
                  <td role="gridcell">
                    {{ item.refcode }}
                  </td>
                  <td role="gridcell">
                    {{ item.title }}
                  </td>
                  <td role="gridcell" class="text-right" x-ms-format-detection="none">
                    {{ moneyFormat(item.jumlah) }}
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th colspan="3" class="text-nowrap text-right">
                    TOTAL PENAMBAHAN DANA
                  </th>
                  <th class="text-right" x-ms-format-detection="none">
                    {{ moneyFormat(totalTambahanDana) }}
                  </th>
                </tr>
                <tr>
                  <th colspan="3" class="text-nowrap text-right">
                    TOTAL ANGGARAN
                  </th>
                  <th class="text-right" x-ms-format-detection="none">
                    {{ moneyFormat(danaBatch.anggaran) }}
                  </th>
                </tr>
              </tfoot>
            </table>
          </bs-card>
        </bs-card-body>
      </form>
      <bs-card-footer class="bg-white">
        <bs-button :disabled="disableSubmit"
                   color="primary"
                   outlined
                   @click="confirmVerify">
          Verifikasi
        </bs-button>
      </bs-card-footer>
      <bs-mask-loader :opacity="0"
                      :show="danaBatch.loading ||danaBatch.updating"
                      :spinner-diameter="50" />
    </bs-card>

    <bs-modal :open.sync="openModalVerify"
              :title="approval.dlgTitle"
              overlay-close
              max-width="90%"
              width="450">
      <p v-html="approval.dlgMessage"></p>
      <div class="form-group">
        <bs-text-area v-model="approval.message"
                      rows="3"
                      placeholder="Wajib mencantumkan komentar jika reject">
          <label class="col-form-label col-md-3">
            Komentar
          </label>
        </bs-text-area>
      </div>
      <template v-slot:footer="">
        <bs-button :disabled="approval.message == null || approval.message === ''"
                   color="danger"
                   @click="doReject">
          Reject
        </bs-button>
        <bs-button color="primary"
                   @click="doApprove">
          Verify
        </bs-button>
      </template>
    </bs-modal>
  </div>
</template>

<script>
import { sumBy } from "lodash";
import { NEW, REJECTED, STEP_REJECT_REQUEST, STEP_VERIFY_REQUEST } from "../../../store/modules/mutation-types";
import appLocale from "../../../mixins/appLocale";
import formatUtils from "../../../mixins/formatUtils";
import httpErrorResponse from "../../../mixins/httpErrorResponse";
import DanaBatchModel from "../../../models/Pendanaan/DanaBatchModel";
import ClosableWorkflowConfigurer from "../../../models/Pendanaan/ClosableWorkflowConfigurer";
import mapAccessControls from "../../../mixins/security/mapAccessControls";

export default {
    name: "FormDanaBatchVerifyRevisi",
    mixins: [appLocale, formatUtils, httpErrorResponse, mapAccessControls],
    data: () => ({
        loaded: false,
        openModalVerify: false,
        approval: {
            dlgTitle: '',
            dlgMessage: '',
            message: ''
        },
        danaBatch: new DanaBatchModel(),
        danaWorkflow: new ClosableWorkflowConfigurer('dana_batch')
    }),
    computed: {
        badgeColor() {
            const placeMark = this.danaWorkflow.majorPlaceMark(this.danaBatch);

            if (placeMark === NEW) {
                return 'info';
            } else if (placeMark === REJECTED) {
                return 'danger';
            } else {
                return 'success-color-dark';
            }
        },
        badgeKodeTransaksi() {
            const placeMark = this.danaWorkflow.majorPlaceMark(this.danaBatch);

            if (placeMark === NEW) {
                return 'Belum diverifikasi';
            } else {
                return placeMark;
            }
        },
        disableSubmit() {
            return !this.loaded || !this.danaWorkflow.workflow.can(this.danaBatch, STEP_VERIFY_REQUEST);
        },
        nilaiAnggaran() {
            return this.danaBatch.anggaran - this.totalTambahanDana;
        },
        totalTambahanDana() {
            return sumBy(this.danaBatch.requests, 'jumlah');
        }
    },
    beforeRouteEnter(to, from, next) {
        next(async vm => {
            await vm.checkAcl();
            if (vm.hasVerificatorRole && vm.verifyRouteEnter(to, 'VERIFICATOR')) {
                next();
            } else {
                next('/access-denied');
            }
        });
    },
    beforeRouteUpdate(to, from, next) {
        if (this.hasVerificatorRole && this.hasVerificatorAccessRights) {
            next();
        } else {
            next('/access-denied');
        }
    },
    created() {
        this.doLoad();
    },
    methods: {
        /**
         * Menampilkan dialog konfirmasi verfikasi revisi anggaran Dana Batch.
         *
         * @return {void}
         */
        confirmVerify() {
            const title = this.danaBatch.namaProgram;

            this.openModalVerify     = true;
            this.approval.dlgTitle   = 'Konfirmasi';
            this.approval.dlgMessage = `Apakah anda yakin data revisi anggaran <b>${title}</b> sudah benar ?`;
        },
        /**
         * Proses APPROVE revisi anggaran Dana Batch.
         *
         * @return {void}
         */
        doApprove() {
            const data = {
                action: STEP_VERIFY_REQUEST,
                message: this.approval.message
            };

            this.openModalVerify = false;

            this.danaBatch.request('stepflow', 'patch', null, data).then(() => {
                this.$nextTick(() => {
                    this.$router.push('/pendanaan/batch');
                });
            }).catch(error => {
                this.showErrorMessage(error);
            });
        },
        /**
         * Load data revisi anggaran Dana Batch from remote server.
         *
         * @return {void}
         */
        doLoad() {
            if (this.$route.params.id) {
                this.danaBatch.fetch(this.$route.params.id).then(() => {
                    if (!this.danaWorkflow.workflow.can(this.danaBatch, STEP_VERIFY_REQUEST)) {
                        this.$router.push('/access-denied');
                    }

                    this.danaBatch.requests = this.danaBatch.revisiAnggarans.filter(
                        el => el.revnum === this.danaBatch.tags.revnum
                    );

                    this.loaded = true;
                }).catch(error => {
                    this.showErrorMessage(error);
                });
            }
        },
        /**
         * Proses REJECT revisi anggaran Dana Batch.
         *
         * @return {void}
         */
        doReject() {
            const data = {
                action: STEP_REJECT_REQUEST,
                message: this.approval.message
            };

            this.openModalVerify = false;

            this.danaBatch.request('stepflow', 'patch', null, data).then(() => {
                this.$nextTick(() => {
                    this.$router.push('/pendanaan/batch');
                });
            }).catch(error => {
                this.showErrorMessage(error);
            });
        }
    }
}
</script>

<style scoped>

</style>
