<template>
  <section class="container">
    <bs-card shadow>
      <bs-card-body>
        <p class="h4 text-uppercase">
          Dana Tersedia
        </p>
        <p v-if="hasSaldo === false" class="h5">
          <span class="badge badge-info">Belum Ada</span>
        </p>
        <p v-else class="text-muted h5 font-weight-normal">
          Tahun {{ danaGlobal.tahunAwal }} - {{ danaGlobal.tahunAkhir }}
        </p>
        <bs-card class="mt-4">
          <bs-card-header tag="h5"
                          class="d-flex align-items-center py-2 pr-2"
                          x-ms-format-detection="none">
            <span class="d-none d-md-inline-block">Saldo Awal: &nbsp;</span>
            Rp. {{ moneyFormat(saldoAwal) }}
            <bs-menu v-if="danaGlobal.status !== null" class="ml-auto" placement="bottom-right">
              <bs-button color="secondary"
                         mode="icon"
                         class="ml-auto"
                         flat>
                <bs-icon icon="more_vert" size="24" />
              </bs-button>
              <bs-list slot="content">
                <bs-list-item @click="operasi = 'Penambahan'">
                  Penambahan Dana
                </bs-list-item>
                <bs-list-item @click="operasi = 'Pengurangan'">
                  Pengurangan Dana
                </bs-list-item>
              </bs-list>
            </bs-menu>
          </bs-card-header>
          <bs-card-body class="pb-2">
            <div class="row">
              <form class="pt-lg-2 col-xl-9" novalidate>
                <div v-if="showKodeTransaksi" class="form-group row">
                  <label class="col-form-label col-md-4 col-xl-3 font-weight-bold">
                    Kode Transaksi
                  </label>
                  <label class="col-form-label col-md-8 col-xl-9">
                    <strong>{{ danaGlobal.kode }}</strong>
                    <bs-badge :variant="danaGlobal.status === 'REJECTED' ? 'danger' : 'info'"
                              class="float-right"
                              type="label">
                      {{ badgeKodeTransaksi }}
                    </bs-badge>
                  </label>
                </div>
                <div class="form-group">
                  <bs-number-field v-model.number="danaGlobal.newValue"
                                   :external-validator="anggaranValidator"
                                   :locale="getLocale"
                                   prepend-icon="pen"
                                   autofocus
                                   required>
                    <span slot="prependSlot" class="md-icon-text">Rp.</span>
                    <label class="col-form-label col-md-4 col-xl-3">
                      {{ operasi }} Dana
                    </label>
                  </bs-number-field>
                </div>
                <div class="form-group">
                  <bs-text-field v-model="danaGlobal.title"
                                 placeholder="Ketik keterangan transaksi">
                    <label class="col-form-label col-md-4 col-xl-3">
                      Keterangan
                    </label>
                  </bs-text-field>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-md-4 col-xl-3 font-weight-bold">
                    Dana untuk Tahun</label>
                  <div class="col-md-8 col-xl-9">
                    <div class="row">
                      <bs-date-time-field v-model="danaGlobal.tahunAwal"
                                          :external-validator="tahunAwalValidator"
                                          append-icon="calendar"
                                          class="col"
                                          format="YYYY"
                                          view-mode="year" />
                      <div class="col-form-label text-center" style="width: 25px">
                        s/d
                      </div>
                      <bs-date-time-field v-model="danaGlobal.tahunAkhir"
                                          :external-validator="tahunAkhirValidator"
                                          append-icon="calendar"
                                          class="col"
                                          format="YYYY"
                                          view-mode="year" />
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-xl-3">
                    <b>Saldo Akhir</b>
                  </label>
                  <label class="col-md-8 col-xl-9 h6"
                         x-ms-format-detection="none"
                         :class="{'text-danger': saldoAkhir < 0}">
                    <b>Rp. {{ moneyFormat(saldoAkhir) }}</b></label>
                </div>
              </form>
            </div>
          </bs-card-body>
        </bs-card>
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <bs-button :disabled="saldoAkhir < 0"
                   color="primary"
                   @click="doSave">
          Simpan
        </bs-button>
      </bs-card-footer>
      <bs-mask-loader :opacity="0"
                      :show="riwayat.loading || danaGlobal.updating"
                      :spinner-diameter="50" />
    </bs-card>
  </section>
</template>

<script>
import { validationMixin } from "vuelidate";
import { Helper } from "vue-bs4";
import {
    MSG_SAVE_SUCCESS,
    MSG_UPDATE_SUCCESS,
    NEW,
    REJECTED,
    SAVE,
    STATE_SUCCESS,
    UPDATE,
    UPDATED,
    VERIFIED
} from "../../../store/modules/mutation-types";
import { danaGlobalValidationHandler, danaGlobalValidator } from "../../../models/Pendanaan/DanaGlobalValidators";
import appLocale from "../../../mixins/appLocale";
import formatUtils from "../../../mixins/formatUtils";
import httpErrorResponse from "../../../mixins/httpErrorResponse";
import mapStoreMutations from "../../../mixins/mapStoreMutations";
import editorRouteGuard from "../../../mixins/security/editorRouteGuard";
import DanaGlobalModel from "../../../models/Pendanaan/DanaGlobalModel";
import RiwayatDanaGlobal from "../../../models/Pendanaan/RiwayatDanaGlobal";

export default {
    name: "FormDanaGlobal",
    mixins: [
        validationMixin, danaGlobalValidationHandler('danaGlobal'),
        mapStoreMutations, appLocale, formatUtils, httpErrorResponse, editorRouteGuard
    ],
    data: () => ({
        danaGlobal: new DanaGlobalModel(),
        riwayat: new RiwayatDanaGlobal(),
        hasSaldo: true,
        fetched: false,
        operasi: 'Penambahan',
        invalidNumericErrorMsg: 'Nilai field haruslah bertipe NUMERIC',
    }),
    computed: {
        saldoAwal() {
            return this.riwayat.saldo;
        },
        saldoAkhir() {
            if (this.fetched) {
                if (this.operasi === 'Pengurangan') {
                    return this.saldoAwal - Math.abs(this.danaGlobal.newValue);
                } else {
                    return this.saldoAwal + Math.abs(this.danaGlobal.newValue);
                }
            }

            return this.riwayat.saldo;
        },
        showKodeTransaksi() {
            return this.danaGlobal.id !== null && this.danaGlobal.status !== VERIFIED;
        },
        badgeKodeTransaksi() {
            if (this.danaGlobal.status === NEW || this.danaGlobal.status === UPDATED) {
                return 'Belum Diverifikasi';
            } else {
                return this.danaGlobal.status;
            }
        }
    },
    validations: {
        danaGlobal: danaGlobalValidator
    },
    created() {
        this.doLoad();
    },
    beforeDestroy() {
        this.danaGlobal.destroy();
        this.danaGlobal = null;
        this.riwayat.destroy();
        this.riwayat = null;
    },
    methods: {
        async doLoad() {
            try {
                await this.riwayat.fetch();
                await this.danaGlobal.request('info');

                if (this.riwayat.saldo == null && this.danaGlobal.status === REJECTED) {
                    this.$route.meta.title = 'Sunting Dana Global';
                } else if (this.riwayat.saldo != null && this.danaGlobal.status === VERIFIED) {
                    const t1 = this.danaGlobal.tahunAwal;
                    const t2 = this.danaGlobal.tahunAkhir;

                    this.danaGlobal.reset();
                    this.danaGlobal.anggaran   = 0;
                    this.danaGlobal.kode       = null;
                    this.danaGlobal.tahunAwal  = t1;
                    this.danaGlobal.tahunAkhir = t2;
                    this.$route.meta.title     = 'Sunting Dana Global';
                } else if (this.riwayat.saldo != null && this.danaGlobal.status !== VERIFIED) {
                    this.$route.meta.title = 'Sunting Dana Global';
                    this.operasi           = this.danaGlobal.anggaran < 0 ? 'Pengurangan' : 'Penambahan';
                } else {
                    this.hasSaldo          = false;
                    this.riwayat.saldo     = 0;
                    this.$route.meta.title = 'Setup Dana Global';
                }

                this.fetched = true;
                this.setPageTitle(this.$route.meta.title);
            } catch (e) {
                this.showErrorMessage(e);
            }
        },
        /**
         * Simpan data transaksi Dana Global.
         *
         * @return {void}
         */
        doSave() {
            this.$v.$touch();

            if (!this.$v.$error) {
                const textMsg = this.hasSaldo ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                const action  = this.danaGlobal.id === null ? SAVE : UPDATE;
                const jumlah  = this.danaGlobal.newValue;

                this.danaGlobal.newValue = this.operasi === 'Pengurangan' ? (Math.abs(jumlah) * -1) : Math.abs(jumlah);

                if (!this.hasSaldo && Helper.isEmpty(this.danaGlobal.title)) {
                    this.danaGlobal.title = 'SETUP Awal Dana Global';
                } else if (Helper.isEmpty(this.danaGlobal.title)) {
                    this.danaGlobal.title = `REQUEST ${this.operasi} Dana Global`;
                }

                this.danaGlobal[action]().then(() => {
                    this.$notification.success('Dana Global' + textMsg, STATE_SUCCESS);
                    this.$nextTick(() => {
                        this.$router.push('/pendanaan/global');
                    });
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            }
        }
    }
}
</script>

<style scoped>

</style>
