<template>
  <div class="container">
    <bs-card shadow>
      <form class="mx-lg-2 mt-lg-2" novalidate>
        <bs-card-body class="pb-2">
          <bs-menu v-if="revisiMode"
                   class="float-right mt-n2 mr-n2 mt-lg-n3 mr-lg-n3"
                   placement="bottom-right">
            <bs-button color="secondary"
                       mode="icon"
                       flat>
              <bs-icon icon="more_vert" size="24" />
            </bs-button>
            <bs-list slot="content">
              <bs-list-item @click="operasi = 'Penambahan'">
                Penambahan Dana
              </bs-list-item>
              <bs-list-item @click="operasi = 'Pengurangan'">
                Pengurangan Dana
              </bs-list-item>
            </bs-list>
          </bs-menu>
          <p class="h5 text-uppercase">
            Dana Global Tersedia
          </p>

          <p v-if="!riwayat.saldo" class="h5">
            <span class="badge badge-info">Belum Ada</span>
          </p>
          <div v-else>
            <p class="h4" x-ms-format-detection="none">
              Rp. {{ moneyFormat(riwayat.saldo) }}
            </p>
            <p class="text-muted h5 font-weight-normal">
              Tahun {{ riwayat.tahunAwal }} - {{ riwayat.tahunAkhir }}
            </p>
          </div>
        </bs-card-body>
        <div class="mx-lg-n2">
          <bs-divider />
        </div>
        <bs-card-body class="pb-2">
          <div v-if="danaBidang.id != null" class="form-group row">
            <label class="col-form-label col-md-3 col-xl-2 font-weight-bold">
              Kode Transaksi
            </label>
            <label class="col-form-label col-md-9 col-xl-7">
              <strong>{{ danaBidang.kode }}</strong>
              <bs-badge :color="badgeColor"
                        class="float-right"
                        type="label">
                {{ badgeKodeTransaksi }}
              </bs-badge>
            </label>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-md-3 col-xl-2 font-weight-bold">
              Dana untuk Tahun</label>
            <div class="col-md-9 col-xl-7">
              <div class="row">
                <bs-date-time-field v-model="danaBidang.tahunAwal"
                                    :external-validator="tahunAwalValidator"
                                    :readonly="revisiMode"
                                    append-icon="calendar"
                                    class="col"
                                    format="YYYY"
                                    view-mode="year"
                                    @input="updateTitle" />
                <div class="col-form-label text-center" style="width: 25px">
                  s/d
                </div>
                <bs-date-time-field v-model="danaBidang.tahunAkhir"
                                    :external-validator="tahunAkhirValidator"
                                    :readonly="revisiMode"
                                    append-icon="calendar"
                                    class="col"
                                    format="YYYY"
                                    view-mode="year"
                                    @input="updateTitle" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <bs-combobox v-model="danaBidang.bidangCsrId"
                         :data-source="dsBidangCsr"
                         :external-validator="bidangCsrValidator"
                         :readonly="revisiMode"
                         required
                         @change="updateTitle">
              <label class="col-form-label col-md-3 col-xl-2">
                Bidang CSR
              </label>
            </bs-combobox>
          </div>
          <div class="form-group">
            <bs-text-field v-model="danaBidang.title"
                           :external-validator="bidangTitleValidator"
                           :readonly="revisiMode"
                           required>
              <label class="col-form-label col-md-3 col-xl-2">
                Nama Dana Bidang
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-number-field v-model.number="danaBidang.newValue"
                             :autofocus="revisiMode"
                             :external-validator="anggaranValidator"
                             :locale="getLocale"
                             prepend-icon="pen"
                             required>
              <span slot="prependSlot" class="md-icon-text">Rp.</span>
              <label class="col-form-label col-md-3 col-xl-2">
                {{ labelAnggaran }}
              </label>
            </bs-number-field>
          </div>
          <div v-if="revisiMode" class="form-group row">
            <label class="col-md-3 col-xl-2">
              <strong>Total Dana Bidang</strong>
            </label>
            <label class="col-md-9 col-xl-10 h6"
                   x-ms-format-detection="none"
                   :class="{'text-danger': totalDana < 0}">
              <strong>Rp. {{ moneyFormat(totalDana) }}</strong></label>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-xl-2">
              <strong>Saldo Dana Global</strong>
            </label>
            <label class="col-md-9 col-xl-10 h6"
                   x-ms-format-detection="none"
                   :class="{'text-danger': saldoAkhir < 0}">
              <strong>Rp. {{ moneyFormat(saldoAkhir) }}</strong></label>
          </div>
        </bs-card-body>
      </form>
      <bs-card-footer class="bg-white">
        <bs-button :disabled="disableSubmit"
                   color="primary"
                   @click="doSave">
          Simpan
        </bs-button>
      </bs-card-footer>
      <bs-mask-loader :opacity="0"
                      :show="danaBidang.loading || danaBidang.updating"
                      :spinner-diameter="50" />
    </bs-card>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { BsStore, Helper } from "vue-bs4";
import {
    MSG_SAVE_SUCCESS,
    MSG_UPDATE_SUCCESS,
    NEW,
    ONGOING,
    REJECTED,
    SAVE,
    STATE_SUCCESS,
    STEP_REQUEST,
    STEP_UPDATE,
    UPDATE
} from "../../../store/modules/mutation-types";
import { danaGlobalValidationHandler } from "../../../models/Pendanaan/DanaGlobalValidators";
import { danaBidangValidationHandler, danaBidangValidator } from "../../../models/Pendanaan/DanaBidangValidators";
import appLocale from "../../../mixins/appLocale";
import formatUtils from "../../../mixins/formatUtils";
import httpErrorResponse from "../../../mixins/httpErrorResponse";
import editorRouteGuard from "../../../mixins/security/editorRouteGuard";
import DanaBidangModel from "../../../models/Pendanaan/DanaBidangModel";
import RiwayatDanaGlobal from "../../../models/Pendanaan/RiwayatDanaGlobal";
import ClosableWorkflowConfigurer from "../../../models/Pendanaan/ClosableWorkflowConfigurer";

export default {
    name: "FormDanaBidang",
    mixins: [
        validationMixin, appLocale, formatUtils, httpErrorResponse, editorRouteGuard,
        danaGlobalValidationHandler('danaBidang'), danaBidangValidationHandler('danaBidang')
    ],
    data: () => ({
        dsBidangCsr: {
            schema: {
                displayField: 'title',
                valueField: 'id'
            },
            proxy: new BsStore({
                idProperty: 'id',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    browse: '/master-data/bidang-csr'
                }
            })
        },
        editMode: false,
        revisiMode: false,
        operasi: 'Penambahan',
        riwayat: new RiwayatDanaGlobal(),
        danaBidang: new DanaBidangModel(),
        danaWorkflow: new ClosableWorkflowConfigurer('dana_bidang'),
        invalidNumericErrorMsg: 'Nilai field haruslah bertipe NUMERIC'
    }),
    computed: {
        badgeColor() {
            const placeMark = this.danaWorkflow.majorPlaceMark(this.danaBidang);

            if (placeMark === NEW) {
                return 'info';
            } else if (placeMark === REJECTED) {
                return 'danger';
            } else {
                return 'success-color-dark';
            }
        },
        badgeKodeTransaksi() {
            const placeMark = this.danaWorkflow.majorPlaceMark(this.danaBidang);

            if (placeMark === NEW) {
                return 'Belum diverifikasi';
            } else {
                return placeMark;
            }
        },
        disableSubmit() {
            const transitionEnabled = this.danaWorkflow.workflow.canXor(this.danaBidang, [STEP_UPDATE, STEP_REQUEST]);

            return !this.hasEditorAccessRights || !this.riwayat.saldo ||
                (this.saldoAkhir < 0) || (this.totalDana < 0) || !transitionEnabled;
        },
        labelAnggaran() {
            if (this.revisiMode) {
                return `${this.operasi} Dana`;
            } else {
                return 'Nilai Anggaran';
            }
        },
        saldoAkhir() {
            if (this.revisiMode && this.operasi === 'Pengurangan') {
                return this.riwayat.saldo + this.danaBidang.newValue;
            } else {
                return this.riwayat.saldo - this.danaBidang.newValue;
            }
        },
        totalDana() {
            const jumlah = this.danaBidang.newValue;

            return this.danaBidang.anggaran + (this.operasi === 'Pengurangan' ? (Math.abs(jumlah) * -1) : Math.abs(jumlah));
        }
    },
    validations: {
        danaBidang: danaBidangValidator
    },
    created() {
        this.doLoad();
    },
    beforeDestroy() {
        this.dsBidangCsr.proxy.destroy();
        this.dsBidangCsr.proxy = null;
        this.dsBidangCsr       = null;

        this.danaBidang.destroy();
        this.danaBidang = null;
        this.danaWorkflow.destroy();
        this.danaWorkflow = null;
        this.riwayat.destroy();
        this.riwayat = null;
    },
    methods: {
        async doLoad() {
            try {
                const resp1 = await this.riwayat.fetch();

                if (this.$route.params.id) {
                    const resp2 = await this.danaBidang.fetch(this.$route.params.id);

                    if (resp1.data.data && resp2.data.data) {
                        const placeMark = this.danaWorkflow.majorPlaceMark(resp2.data.data);

                        if (placeMark === ONGOING) {
                            this.revisiMode          = true;
                            this.danaBidang.newValue = 0.0;
                        } else {
                            this.editMode            = true;
                            this.danaBidang.newValue = Math.abs(resp2.data.data.anggaran);
                            this.riwayat.saldo       = resp2.data.data.anggaran + this.riwayat.saldo;
                        }
                    }
                }
            } catch (e) {
                this.showErrorMessage(e);
            }
        },
        async doSave() {
            this.$v.$touch();

            if (!this.$v.$error) {
                const jumlah = this.danaBidang.newValue;
                const action = this.editMode ? UPDATE : SAVE;
                const text   = this.editMode || this.revisiMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;

                this.danaBidang.newValue  = this.operasi === 'Pengurangan' ? (Math.abs(jumlah) * -1) : Math.abs(jumlah);
                this.danaBidang.bidangCsr = this.danaBidang.bidangCsrId;

                try {
                    if (this.revisiMode) {
                        let data = this.danaBidang.toJSON();
                        this.$delete(data, 'id');

                        await this.danaBidang.request('revisi', 'post', null, data);
                    } else {
                        await this.danaBidang[action]();
                    }

                    this.$notification.success('Data Dana Bidang' + text, STATE_SUCCESS);
                    this.$nextTick(() => {
                        this.$router.push('/pendanaan/bidang');
                    });
                } catch (e) {
                    this.showErrorMessage(e);
                }
            }
        },
        updateTitle(value) {
            let title = '';
            const t1  = this.danaBidang.tahunAwal ? this.danaBidang.tahunAwal : '';
            const t2  = this.danaBidang.tahunAkhir ? this.danaBidang.tahunAkhir : '';

            if (Helper.isObject(value)) {
                title = 'Dana Bidang ' + this.titleCase(value.title) + ` Tahun ${t1} - ${t2}`;
            } else {
                const item = this.dsBidangCsr.proxy.dataItems.find(el => el.id === this.danaBidang.bidangCsrId);
                title      = 'Dana Bidang ' + (item ? this.titleCase(item.title) : '') + ` Tahun ${t1} - ${t2}`;
            }

            this.danaBidang.title = title;
        }
    }
}
</script>

<style scoped>

</style>
