<template>
  <div class="container">
    <bs-card shadow>
      <form class="mx-lg-2 mt-lg-2" novalidate>
        <bs-card-body>
          <div v-if="danaBatch.id != null" class="form-group row">
            <label class="col-form-label col-md-3 col-xl-2 font-weight-bold">
              Kode Transaksi
            </label>
            <label class="col-form-label col-md-9 col-xl-3">
              <strong>{{ danaBatch.kode }}</strong>
              <bs-badge :color="badgeColor"
                        class="float-right"
                        type="label">
                {{ badgeKodeTransaksi }}
              </bs-badge>
            </label>
          </div>
          <div class="form-group">
            <bs-text-field v-model="danaBatch.programCsrName"
                           readonly
                           required>
              <label class="col-form-label col-md-3 col-xl-2">
                Program CSR
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="danaBatch.batchName"
                           readonly
                           required>
              <label class="col-form-label col-md-3 col-xl-2">
                Periode Batch
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-date-time-field v-model="danaBatch.tahun"
                                append-icon="calendar"
                                control-cls="col-md-5 col-xl-3"
                                format="YYYY"
                                view-mode="year"
                                readonly
                                required>
              <label class="col-form-label col-md-3 col-xl-2">
                Dana untuk Tahun
              </label>
            </bs-date-time-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="danaBatch.namaProgram"
                           readonly
                           required>
              <label class="col-form-label col-md-3 col-xl-2">
                Nama Dana Batch
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-number-field v-model.number="danaBatch.anggaran"
                             :locale="getLocale"
                             prepend-icon="pen"
                             readonly
                             required>
              <span slot="prependSlot" class="md-icon-text">Rp.</span>
              <label class="col-form-label col-md-3 col-xl-2">
                Nilai Anggaran
              </label>
            </bs-number-field>
          </div>
          <div class="form-group row align-items-center" x-ms-format-detection="none">
            <label class="col-md-3 col-xl-2 font-weight-bold">
              Dana Tersedia
            </label>
            <label v-if="loaded" class="col-md-9 col-xl-7 h6">
              <strong>Rp. {{ moneyFormat(danaBatch.danaTersedia) }}</strong>
            </label>
          </div>
          <div>&nbsp;</div>
          <bs-alert :value="loaded && $v.danaBatch.requests.required === false"
                    color="danger"
                    icon="exclamation-triangle">
            Minimal harus ada 1 record Sumber Dana.
          </bs-alert>
          <bs-card class="rounded-0 table-responsive-lg">
            <table role="grid" class="table table-valign-middle mb-0">
              <colgroup>
                <col />
                <col style="width: 150px" />
                <col style="width: 200px" />
                <col style="width: 50px" />
              </colgroup>
              <thead role="rowgroup" class="thead-light">
                <tr>
                  <th role="columnheader" scope="col" class="text-nowrap">
                    SUMBER DANA
                  </th>
                  <th role="columnheader" scope="col" class="text-nowrap text-right">
                    DANA TERSEDIA (Rp)
                  </th>
                  <th role="columnheader" scope="col" class="text-right">
                    PENAMBAHAN (Rp)
                  </th>
                  <th role="columnheader" scope="col">
                    <bs-button v-tooltip="{content:'Tambah Baru', placement:'top'}"
                               color="secondary"
                               mode="icon"
                               size="sm"
                               flat
                               @click="addRow">
                      <bs-icon icon="add" size="24" />
                    </bs-button>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in $v.danaBatch.requests.$each.$iter"
                    :key="'rev-' + index"
                    role="row">
                  <td role="gridcell">
                    <bs-combobox v-model="item.$model.refcode"
                                 :data-source="dsSumberDana"
                                 :external-validator="refcodeValidator(item)"
                                 flat
                                 @select="onSelectSumberDana(item)"
                                 @deselect="onDeselectSumberDana(item)" />
                  </td>
                  <td :class="{'text-danger': item.saldo < item.jumlah}"
                      role="gridcell"
                      class="font-weight-medium text-right"
                      x-ms-format-detection="none">
                    {{ moneyFormat(item.$model.saldo) }}
                  </td>
                  <td role="gridcell">
                    <bs-number-field v-model="item.$model.jumlah"
                                     :external-validator="jumlahValidator(item)"
                                     :locale="getLocale"
                                     control-cls="text-right"
                                     flat />
                  </td>
                  <td role="gridcell">
                    <bs-button v-tooltip="{content:'Hapus baris ini', placement:'top'}"
                               :key="'btn-' + index"
                               color="danger"
                               mode="icon"
                               size="sm"
                               flat
                               @click="danaBatch.requests.splice(index, 1)">
                      <bs-icon icon="clear" size="24" />
                    </bs-button>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th colspan="2" class="text-nowrap text-right">
                    TOTAL PENAMBAHAN DANA
                  </th>
                  <th class="text-right" x-ms-format-detection="none">
                    {{ moneyFormat(totalTambahanDana) }}
                  </th>
                  <th></th>
                </tr>
              </tfoot>
            </table>
          </bs-card>
        </bs-card-body>
      </form>
      <bs-card-footer class="bg-white">
        <bs-button :disabled="disableSubmit"
                   color="primary"
                   @click="doSave">
          Simpan
        </bs-button>
      </bs-card-footer>
      <bs-mask-loader :opacity="0"
                      :show="danaBatch.loading ||danaBatch.updating"
                      :spinner-diameter="50" />
    </bs-card>
  </div>
</template>

<script>
import { sumBy } from "lodash";
import { BsStore } from "vue-bs4";
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import { danaRevisiValidationHandler, danaRevisiValidator } from "../../../models/Pendanaan/DanaBatchValidators";
import { MSG_UPDATE_SUCCESS, NEW, REJECTED, STATE_SUCCESS, STEP_REQUEST } from "../../../store/modules/mutation-types";
import appLocale from "../../../mixins/appLocale";
import formatUtils from "../../../mixins/formatUtils";
import httpErrorResponse from "../../../mixins/httpErrorResponse";
import editorRouteGuard from "../../../mixins/security/editorRouteGuard";
import DanaBatchModel from "../../../models/Pendanaan/DanaBatchModel";
import ClosableWorkflowConfigurer from "../../../models/Pendanaan/ClosableWorkflowConfigurer";

export default {
    name: "FormDanaBatchRevisi",
    mixins: [
        validationMixin, appLocale, formatUtils, httpErrorResponse,
        danaRevisiValidationHandler, editorRouteGuard
    ],
    data: () => ({
        loaded: false,
        revisiMode: false,
        danaBatch: new DanaBatchModel(),
        danaWorkflow: new ClosableWorkflowConfigurer('dana_batch'),
        dsSumberDana: {
            schema: {
                displayField: 'title',
                valueField: 'kode'
            },
            proxy: new BsStore({
                idProperty: 'id',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    browse: '/pendanaan/batch/sumberdana-revisi'
                }
            })
        }
    }),
    computed: {
        badgeColor() {
            const placeMark = this.danaWorkflow.majorPlaceMark(this.danaBatch);

            if (placeMark === NEW) {
                return 'info';
            } else if (placeMark === REJECTED) {
                return 'danger';
            } else {
                return 'success-color-dark';
            }
        },
        badgeKodeTransaksi() {
            const placeMark = this.danaWorkflow.majorPlaceMark(this.danaBatch);

            if (placeMark === NEW) {
                return 'Belum diverifikasi';
            } else {
                return placeMark;
            }
        },
        disableSubmit() {
            return !this.hasEditorAccessRights || !this.revisiMode ||
                !this.danaWorkflow.workflow.can(this.danaBatch, STEP_REQUEST) || this.$v.$error;
        },
        totalTambahanDana() {
            return sumBy(this.danaBatch.requests, 'jumlah');
        }
    },
    validations: {
        danaBatch: {
            requests: {
                required,
                $each: danaRevisiValidator
            }
        }
    },
    created() {
        this.doLoad();
    },
    beforeDestroy() {
        this.danaBatch.destroy();
        this.danaBatch = null;

        this.danaWorkflow.destroy();
        this.danaWorkflow = null;

        this.dsSumberDana.proxy.destroy();
        this.dsSumberDana.proxy = null;
        this.dsSumberDana       = null;
    },
    methods: {
        addRow() {
            this.danaBatch.requests.push({refcode: null, jumlah: 0, saldo: 0});
        },
        doLoad() {
            if (this.$route.params.id) {
                this.revisiMode = true;
                this.dsSumberDana.proxy.setFilters({property: 'id', value: this.$route.params.id});

                this.danaBatch.fetch(this.$route.params.id).then(() => {
                    if (!this.danaWorkflow.workflow.can(this.danaBatch, STEP_REQUEST)) {
                        this.$router.push('/access-denied');
                    }
                    this.addRow();
                    this.loaded = true;
                }).catch(error => {
                    this.showErrorMessage(error);
                });
            }
        },
        doSave() {
            this.$v.$touch();

            if (!this.$v.$error) {
                const revisi = {
                    requests: []
                };

                this.danaBatch.requests.forEach(el => {
                    const obj = {
                        refcode: el.refcode,
                        jumlah: el.jumlah
                    };
                    revisi.requests.push(obj);
                });

                this.danaBatch.request('revisi', 'post', null, revisi).then(() => {
                    this.$notification.success('Data Dana Batch' + MSG_UPDATE_SUCCESS, STATE_SUCCESS);
                    this.$nextTick(() => {
                        this.$router.push('/pendanaan/batch');
                    });
                }).catch(error => {
                    this.showErrorMessage(error);
                })
            }
        },
        onDeselectSumberDana(item) {
            item.$model.saldo = 0;
        },
        onSelectSumberDana(item) {
            const found       = this.dsSumberDana.proxy.dataItems.find(el => item.$model.refcode === el.kode);
            item.$model.saldo = found.saldo;
        }
    }
}
</script>

<style scoped>

</style>
