<template>
  <div class="md-field md-field-searchbox" :class="_classNames">
    <div class="md-prepend-icon">
      <font-awesome-icon icon="search" size="lg" />
    </div>
    <label>
      <input ref="input"
             v-bind="_attributes"
             @input="_onInput($event.target.value)"
             @change="_onChange($event.target.value)"
             @focus="_onFocus"
             @blur="_onBlur"
             @keydown="_onKeyDown" />
    </label>
  </div>
</template>

<script>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import Helper from "../../utils/Helper";

export default {
    name: "BsSearchField",
    components: {FontAwesomeIcon},
    props: {
        autofocus: Boolean,
        darkMode: Boolean,
        id: {
            type: String,
            default() {
                return 'bs-' + Helper.uuid(true);
            }
        },
        minlength: {
            type: [String, Number],
            default: 4,
            validator: value => parseInt(value, 10) > 0
        },
        placeholder: {
            type: String,
            default: 'Search...'
        },
        name: {
            type: String,
            default: undefined
        },
        disabled: {
            type: Boolean,
            default: false
        },
        readonly: {
            type: Boolean,
            default: false
        }
    },
    data: () => ({
        isFocused: false,
        value: null
    }),
    computed: {
        _classNames() {
            return {
                ...this.cmpAttrClasses,
                'md-disabled': this.disabled,
                'md-readonly': this.readonly,
                'md-focused': this.isFocused,
                'md-searchbox-dark': this.darkMode
            }
        },
        _attributes() {
            return {
                'type': 'search',
                'role': 'searchbox',
                'spellcheck': 'false',
                'id': this.id,
                'name': this.name,
                'value': this.value,
                'disabled': this.disabled,
                'readonly': this.readonly,
                'autofocus': this.autofocus,
                'placeholder': this.placeholder,
                'minlength': this.minlength,
                'aria-disabled': this.disabled,
                'aria-readonly': this.readonly,
                'aria-placeholder': this.placeholder
            }
        }
    },
    methods: {
        _onBlur(event) {
            this.isFocused = false;
            this.$emit('blur', event);
        },
        _onFocus(event) {
            if (!this.$refs.input) {
                return;
            }
            if (document.activeElement !== this.$refs.input) {
                this.$refs.input.focus();
            }
            this.isFocused = true;
            this.$emit('focus', event);
        },
        _onKeyDown(event) {
            if (!this.$refs.input) {
                return;
            }
            this.$emit('keydown', event);

            if (event.key && event.key.toLowerCase() === 'enter') {
                if (!Helper.isEmpty(this.value)) {
                    const term = this.value.trim();

                    if (term.length >= this.minlength) {
                        this.value = term;
                        this.$emit('search', term);
                    }
                } else {
                    this.value = null;
                    this.$emit('clear', null);
                }
            }
        },
        _onChange(value) {
            if (Helper.isEmpty(value)) {
                this.value = null;
                this.$emit('clear', null);
            } else {
                this.value = value;
                this.$emit('change', value);
            }
        },
        _onInput(value) {
            this.value = value;
            this.$emit('input', value);
        },
        getValue() {
            return this.value;
        }
    }
}
</script>

<style lang="scss">
  @import "~compass-sass-mixins/lib/compass/css3";
  @import "../../../scss/colors";
  @import "../../../scss/variables";

  .#{$prefix}-field {
    &.#{$prefix}-field-searchbox {
      @include transition(border-color .15s ease-in-out, box-shadow .15s ease-in-out);
      @include display-flex();
      background-color: rgba($black, .015);
      border: 1px solid rgba($black, .05);
      border-radius: .16rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      width: 100%;
      padding: .375rem .75rem;
      position: relative;

      &.#{$prefix}-focused {
        box-shadow: 0 0 0.1rem 0.2rem rgba(0, 123, 255, .25);
        background-color: $white;
        border-color: $info-color-dark;
      }

      > .#{$prefix}-prepend-icon {
        color: darken($gray-500, 5%);
        font-weight: $font-weight-normal;
        margin-right: $padding-base - .3;
        padding-top: .1rem;
      }

      label {
        display: block;
        margin: 0;
        padding: 2px 0 0 0;
        width: 100%;
      }

      input {
        border: 0 transparent;
        background: transparent;
        color: $gray-600;
        width: 100%;
        outline: none;
        padding-left: 2px;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: $gray-500;
          font-weight: $font-weight-normal;
        }

        &::-moz-placeholder {
          color: $gray-500;
          font-weight: $font-weight-normal;
        }

        &::-webkit-input-placeholder {
          color: $gray-500;
          font-weight: $font-weight-normal;
        }

        &:-ms-input-placeholder {
          color: $gray-500;
          font-weight: $font-weight-normal;
        }
      }

      &.#{$prefix}-searchbox-dark {
        background-color: rgba($black, .25);
        border: 1px solid rgba($black, .085);

        &.#{$prefix}-focused {
          box-shadow: 0 0 0.1rem 0.1rem rgba(255, 255, 255, 0.28);
          background-color: rgba(0, 0, 0, 0.15);
          border-color: rgba(0, 0, 0, 0.25);

          > .#{$prefix}-prepend-icon {
            color: $gray-300;
          }

          input:focus {
            color: $gray-200;
          }
        }

        input {
          color: $gray-500;
        }
      }
    }
  }
</style>
