<template>
  <div class="body-container">
    <div v-if="hasAdminRole" class="pb-3">
      <bs-button color="amber"
                 href="#/security/members/user/create"
                 icon="plus-circle"
                 icon-position="left"
                 raised>
        Tambah Baru
      </bs-button>
    </div>

    <bs-card shadow>
      <bs-grid :data-source="dataSource"
               :filterable="{minlength: 3, operator: 'contains', immediate: false, placeholder: false}"
               ref="GridUser"
               pageable
               row-hover
               sortable>
        <bs-grid-column :filterable="{enabled: false, button: true}"
                        row-numbering
                        text-align="right"
                        width="50" />
        <bs-grid-column v-if="hasAdminRole"
                        field="username"
                        label="Akun Pengguna"
                        min-width="150" />
        <bs-grid-column field="fullName"
                        label="Nama Lengkap"
                        min-width="300" />
        <bs-grid-column field="email"
                        label="Email"
                        min-width="150" />
        <bs-grid-column field="group.groupName"
                        label="Grup Pengguna" />
        <bs-grid-column :filterable="{enabled: true, operator: 'eq'}"
                        field="enabled"
                        label="Aktif"
                        width="80"
                        text-align="center" />
        <bs-grid-column :filterable="{enabled: false}"
                        field="lastVisited"
                        label="Kunjungan Terakhir"
                        text-align="center"
                        width="170" />
        <bs-grid-column v-if="hasAdminRole"
                        label="Tindakan"
                        width="90"
                        :sortable="false" />

        <template v-slot:datarow="{ columns, item, index }">
          <bs-grid-cell-numbering :column="columns[0]" :index="index" />
          <bs-grid-cell v-if="hasAdminRole"
                        :column="columns[1]"
                        :item="item">
            {{ item.username }}&nbsp;
            <bs-badge v-if="item.mitraCompany">
              {{ item.mitraCompany.kodeLembaga }}
            </bs-badge>
          </bs-grid-cell>
          <bs-grid-cell :column="hasAdminRole ? columns[2] : columns[1]" :item="item" :index="index">
            {{ item.fullName }}&nbsp;
            <bs-badge v-if="item.mitraCompany && !hasAdminRole">
              {{ item.mitraCompany.kodeLembaga }}
            </bs-badge>
          </bs-grid-cell>
          <bs-grid-cell :column="hasAdminRole ? columns[3] : columns[2]" :item="item" :index="index" />
          <bs-grid-cell :column="hasAdminRole ? columns[4] : columns[3]" :item="item" :index="index" />
          <bs-grid-cell :column="hasAdminRole ? columns[5] : columns[4]" :item="item" :index="index">
            <font-awesome-icon v-if="item.enabled" icon="check-square" class="text-pink" />
            <span v-else>&nbsp;</span>
          </bs-grid-cell>
          <bs-grid-cell :column="hasAdminRole ? columns[6] : columns[5]" :item="item" :index="index">
            <bs-badge v-if="item.lastVisited === null" type="label">
              Belum Pernah
            </bs-badge>
            <span v-else>{{ dateFormat(item.lastVisited, formatConst.dateTimeCustom) }}</span>
          </bs-grid-cell>
          <bs-grid-cell v-if="hasAdminRole"
                        :column="columns[7]"
                        :item="item"
                        :index="index">
            <bs-button v-tooltip="{content:'Sunting Data', placement:'top'}"
                       :href="editUser(item.uid)"
                       color="primary"
                       icon="pen"
                       icon-position="left"
                       size="xs"
                       outlined />
            <bs-button v-tooltip="{content:'Hapus Data', placement:'top'}"
                       color="danger"
                       icon="trash-alt"
                       icon-position="left"
                       size="xs"
                       outlined
                       @click="openConfirmDialog(item)" />
          </bs-grid-cell>
        </template>
      </bs-grid>
    </bs-card>

    <bs-modal :esc-close="false"
              :open.sync="isModalOpen"
              :overlay-close="false"
              max-width="85%"
              title="Konfirmasi"
              width="400">
      Apakah anda yakin akan menghapus pengguna <b>{{ userAccount.username }}</b>?
      <template v-slot:footer>
        <bs-button color="secondary"
                   outlined
                   @click="closeDialog">
          Batal
        </bs-button>
        <bs-button color="danger" @click="deleteUser">
          Hapus
        </bs-button>
      </template>
    </bs-modal>
    <bs-mask-loader :opacity="0"
                    :show="userAccount.deleting"
                    :spinner-diameter="50" />
  </div>
</template>

<script>
import { BsStore } from "vue-bs4";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { PAGE_SIZE, STATE_SUCCESS } from "../../../store/modules/mutation-types";
import { UserAccountModel } from "../../../models/Security/UserAccountModel";
import appLocale from "../../../mixins/appLocale";
import formatUtils from "../../../mixins/formatUtils";
import httpErrorResponse from "../../../mixins/httpErrorResponse";
import defaultRouteGuard from "../../../mixins/security/defaultRouteGuard";

export default {
    name: "GridUserAccount",
    components: {FontAwesomeIcon},
    mixins: [appLocale, formatUtils, defaultRouteGuard, httpErrorResponse],
    data: () => ({
        dataSource: new BsStore({
            idProperty: 'uid',
            dataProperty: 'data',
            totalProperty: 'total',
            pageSize: PAGE_SIZE,
            restUrl: {
                browse: '/security/user'
            }
        }),
        userAccount: new UserAccountModel(),
        isModalOpen: false
    }),
    beforeDestroy() {
        this.dataSource.destroy();
        this.dataSource = null;
        this.userAccount.destroy();
        this.userAccount = null;
    },
    methods: {
        /**
         * Menutup modal dialog konfirmasi delete userAccount.
         *
         * @return {void}
         */
        closeDialog() {
            this.isModalOpen = false;
        },

        /**
         * Process request menghapus record userAccount.
         *
         * @return {void}
         */
        deleteUser() {
            this.closeDialog();
            this.userAccount.delete().then((response) => {
                this.$notification.success(response.data.message, STATE_SUCCESS);
                this.$refs.GridUser.reload();
            }).catch((error) => {
                this.showErrorMessage(error);
            });
        },

        /**
         * Returns route Url untuk menampilkan form Edit userAccount.
         *
         * @param {int} id User ID
         * @return {string} Route url
         */
        editUser(id) {
            return '#/security/members/user/edit/' + id;
        },

        /**
         * Menampilkan konfirmasi modal dialog untuk menghapus record userAccount.
         *
         * @param {UserAccountModel} item UserAccount to delete
         * @return {void}
         */
        openConfirmDialog(item) {
            this.userAccount.assignValues(item);
            this.isModalOpen = true;
        }
    }
}
</script>

<style scoped>

</style>
