/
<template>
    <div class="body-container">
        <bs-card shadow>
            <bs-card-header>
                Pengaturan Sistem
            </bs-card-header>
            <bs-card-body>
                <div class="pb-0">
                    <div class="row">
                        <div class="col-xl-7">
                            <div class="form-group">
                                <bs-combobox required v-model="section"
                                             :data-source="dsSection"
                                             @change="onSelectSection">
                                    <label class="col-form-label col-lg-3">
                                        Section
                                    </label>
                                </bs-combobox>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive"
                     style="min-height: 250px; position: relative">
                    <table class="table table-sm table-valign-middle table-bordered table-outer-borderless mb-0">
                        <thead class="thead-light">
                        <tr>
                            <th>
                                Section
                            </th>
                            <th>
                                Atribut
                            </th>
                            <th>
                                Label
                            </th>
                            <th>
                                Nilai
                            </th>
                            <th>
                                Tindakan
                            </th>
                        </tr>
                        </thead>
                        <tbody v-if="entries">
                        <tr v-for="row in entries">
                            <td>
                                {{ row.section }}
                            </td>
                            <td>
                                {{ row.attribute }}
                            </td>
                            <td>
                                {{ row.label }}
                            </td>
                            <td>
                                {{ row.attributeValue }}
                            </td>
                            <td class="text-center">
                                <bs-tooltip content="Sunting Data" placement="top">
                                    <bs-button @click="doEditing(row)"
                                               color="primary"
                                               icon="pen"
                                               icon-position="left"
                                               outlined
                                               size="xs" />
                                </bs-tooltip>
                            </td>

                        </tr>
                        </tbody>
                        <tbody v-else>
                        <tr>
                            <td colspan="5" class="text-center">
                                <span class="text-muted">Belum ada setting</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <bs-mask-loader :opacity="0"
                                    :show="loading"
                                    :spinner-diameter="50" />
                </div>
            </bs-card-body>
        </bs-card>
    </div>
</template>

<script>
    import appLocale from '../../../mixins/appLocale';
    import formatUtils from '../../../mixins/formatUtils';
    import httpErrorResponse from '../../../mixins/httpErrorResponse';
    import adminRouteGuard from "../../../mixins/security/adminRouteGuard";
    import {BsStore} from "vue-bs4";
    import {NEW, PLANNED, REJECTED, UPDATED} from "../../../store/modules/mutation-types";

    export default {
        name: 'GridAppSetting',
        mixins: [appLocale, formatUtils, adminRouteGuard, httpErrorResponse],
        data: () => ({
            dsSection: {
                schema: {
                    displayField: 'label',
                    valueField: 'value'
                },
                proxy: new BsStore({
                    idProperty: 'label',
                    dataProperty: 'data',
                    restUrl: {
                        browse: '/security/appsetting/sections'
                    }
                })
            },
            section : '',
            entries : null,
            loading : false
        }),
        beforeDestroy() {
            this.entries = null;
            this.allSections = null;
            this.dsSection.proxy.destroy();
            this.dsSection = null;
        },
        mounted() {
            this.loadAppSetting();
        },
        methods: {
            loadAppSetting() {
                let filter = '';
                if (this.section) {
                    filter = '?page=1&limit=15&filters[]=%7B%22property%22:%22section%22,%22value%22:%22' +
                        this.section +
                        '%22,%22operator%22:%22eq%22%7D&logic=AND';
                }
                this.loading = true;
                this.$http.get('/security/appsetting'+filter, [], []).then((response) => {
                    this.entries = response.data.data;
                    this.loading = false;
                }).catch((error) => {
                    this.showErrorMessage(error);
                    this.loading = false;
                });
            },
            onSelectSection() {
                this.loadAppSetting();
            },
            doEditing(row) {
                let entry = row.section + '/' + row.attribute;
                this.$router.push('/security/appconfig/'+entry);
            }
        },

    };
</script>

<style scoped>

</style>