<template>
  <div class="body-container">
    <div class="pb-3">
      <bs-button color="amber"
                 href="#/security/members/group/create"
                 icon="plus-circle"
                 icon-position="left"
                 raised>
        Tambah Baru
      </bs-button>
    </div>

    <bs-card shadow>
      <bs-grid :data-source="dataSource"
               :filterable="{minlength: 3, operator: 'contains', immediate: false, placeholder: false}"
               ref="GridGroup"
               pageable
               row-hover
               sortable>
        <bs-grid-column :filterable="{enabled: false, button: true}"
                        row-numbering
                        text-align="right"
                        width="50" />
        <bs-grid-column field="groupName"
                        label="Nama Grup"
                        min-width="200" />
        <bs-grid-column field="description"
                        label="Deskripsi" />
        <bs-grid-column :filterable="{enabled: true, operator: 'eq'}"
                        field="enabled"
                        label="Aktif"
                        width="80"
                        text-align="center" />
        <bs-grid-column :filterable="{enabled: false}"
                        :formatter="getRoleName"
                        field="roles"
                        label="Roles" />
        <bs-grid-column label="Tindakan"
                        width="90"
                        :sortable="false" />

        <template v-slot:datarow="{ columns, item, index }">
          <bs-grid-cell-numbering :column="columns[0]" :index="index" />
          <bs-grid-cell :column="columns[1]" :item="item" :index="index" />
          <bs-grid-cell :column="columns[2]" :item="item" :index="index" />
          <bs-grid-cell :column="columns[3]" :item="item" :index="index">
            <font-awesome-icon v-if="item.enabled" icon="check-square" class="text-pink" />
            <span v-else>&nbsp;</span>
          </bs-grid-cell>
          <bs-grid-cell :column="columns[4]" :item="item" :index="index" />
          <bs-grid-cell :column="columns[5]" :item="item" :index="index">
            <bs-button v-tooltip="{content:'Sunting Data', placement:'top'}"
                       :href="editGroup(item.groupId)"
                       size="xs"
                       color="primary"
                       icon="pen"
                       icon-position="left"
                       outlined />
            <bs-button v-if="item.protected === false"
                       size="xs"
                       color="danger"
                       v-tooltip="{content:'Hapus Data', placement:'top'}"
                       icon="trash-alt"
                       icon-position="left"
                       outlined
                       @click="openConfirmDialog(item)" />
          </bs-grid-cell>
        </template>
      </bs-grid>
    </bs-card>

    <bs-modal :esc-close="false"
              :open.sync="isModalOpen"
              :overlay-close="false"
              max-width="85%"
              title="Konfirmasi"
              width="400">
      Apakah anda yakin akan menghapus group <b>{{ userGroup.groupName }}</b>?
      <template v-slot:footer>
        <bs-button color="secondary"
                   outlined
                   @click="closeDialog">
          Batal
        </bs-button>
        <bs-button color="danger" @click="deleteGroup">
          Hapus
        </bs-button>
      </template>
    </bs-modal>
    <bs-mask-loader :opacity="0"
                    :show="userGroup.deleting"
                    :spinner-diameter="50" />
  </div>
</template>

<script>
import { BsStore } from "vue-bs4";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { PAGE_SIZE, STATE_SUCCESS } from "../../../store/modules/mutation-types";
import { UserGroupModel } from "../../../models/Security/UserGroupModel";
import httpErrorResponse from "../../../mixins/httpErrorResponse";
import adminRouteGuard from "../../../mixins/security/adminRouteGuard";

export default {
    name: "GridUserGroup",
    mixins: [adminRouteGuard, httpErrorResponse],
    components: {FontAwesomeIcon},
    data: () => ({
        dataSource: new BsStore({
            idProperty: 'groupId',
            dataProperty: 'data',
            totalProperty: 'total',
            pageSize: PAGE_SIZE,
            restUrl: {
                browse: '/security/group'
            }
        }),
        userGroup: new UserGroupModel(),
        isModalOpen: false
    }),
    beforeDestroy() {
        this.dataSource.destroy();
        this.dataSource = null;
        this.userGroup.destroy();
        this.userGroup = null;
    },
    methods: {
        /**
         * Menutup modal dialog konfirmasi delete UserGroup.
         *
         * @return {void}
         */
        closeDialog() {
            this.isModalOpen = false;
        },

        /**
         * Process request menghapus record UserGroup
         *
         * @return {void}
         */
        deleteGroup() {
            this.closeDialog();
            this.userGroup.delete().then((response) => {
                this.$notification.success(response.data.message, STATE_SUCCESS);
                this.$refs.GridGroup.reload();
            }).catch((error) => {
                this.showErrorMessage(error);
            });
        },

        /**
         * Returns route Url untuk menampilkan form Edit UserGroup.
         *
         * @param {int} id Group ID
         * @return {string} Route url
         */
        editGroup(id) {
            return '#/security/members/group/edit/' + id;
        },

        /**
         * Parse dan format nama ROLES.
         *
         * @param {string[]} roles ROLE yg akan diparse
         * @return {string} Nama ROLE yang telah diformat
         */
        getRoleName(roles) {
            let names = [];

            for (const role of roles) {
                names.push(role.replace('_', ' ').toUpperCase());
            }

            return names.join(', ');
        },

        /**
         * Menampilkan konfirmasi modal dialog untuk menghapus record UserGroup.
         *
         * @param {Object} item Group to delete
         * @return {void}
         */
        openConfirmDialog(item) {
            this.userGroup.assignValues(item);
            this.isModalOpen = true;
        }
    }
}
</script>

<style scoped>

</style>
