<template>
    <div class="body-container">
        <bs-card shadow>
            <bs-grid :data-source="dataSource"
                     :filterable="{minlength: 3, operator: 'contains', immediate: false, placeholder: false}"
                     pageable
                     ref="datagrid"
                     row-hover
                     sortable>
                <bs-grid-column :filterable="{enabled: false, button: true}"
                                row-numbering
                                text-align="right"
                                width="60" />
                <bs-grid-column :filterable="{enabled: false}"
                                field="id"
                                label="ID"
                                width="80" />
                <bs-grid-column :filterable="{minlength: 2}"
                                field="postedDate"
                                label="Tanggal"
                                width="160" />
                <bs-grid-column :filterable="{minlength: 2}"
                                field="level"
                                label="Level"
                                width="90" />
                <bs-grid-column field="message"
                                label="Log"
                                min-width="320" />
                <bs-grid-column field="entityName"
                                label="Entitas Terkait"
                                width="140" />
                <bs-grid-column :filterable="{minlength: 2}"
                                field="ipAddress"
                                label="IP Address"
                                width="120" />
                <bs-grid-column field="userAgent"
                                label="User-Agent"
                                width="100" />
                <bs-grid-column field="postedBy.fullName"
                                label="User Terkait"
                                width="120" />

                <template v-slot:datarow="{ columns, item, index }">
                    <bs-grid-cell-numbering :column="columns[0]" :index="index" />
                    <bs-grid-cell :column="columns[1]" :item="item" :index="index" />
                    <bs-grid-cell>
                        {{ dateFormat(item.postedDate, 'YYYY-MM-DD HH:mm:ss') }}
                    </bs-grid-cell>
                    <bs-grid-cell :column="columns[3]" :item="item" :index="index" />
                    <bs-grid-cell>
                        <bs-tooltip :content="item.message">
                            <span>{{ item.message }}</span>
                        </bs-tooltip>
                    </bs-grid-cell>
                    <bs-grid-cell :column="columns[5]" :item="item" :index="index" />
                    <bs-grid-cell :column="columns[6]" :item="item" :index="index" />
                    <bs-grid-cell>
                        <bs-tooltip :content="item.userAgent">
                            <span>{{ item.userAgent }}</span>
                        </bs-tooltip>
                    </bs-grid-cell>
                    <bs-grid-cell :column="columns[8]" :item="item" :index="index" />
                </template>
            </bs-grid>
        </bs-card>
    </div>

</template>

<script>
    import httpErrorResponse from "../../../mixins/httpErrorResponse";
    import {BsStore} from "vue-bs4";
    import {PAGE_SIZE} from "../../../store/modules/mutation-types";
    import adminRouteGuard from "../../../mixins/security/adminRouteGuard";
    import formatUtils from "../../../mixins/formatUtils";

    export default {
        name: "GridAuditLog",
        mixins: [adminRouteGuard, httpErrorResponse, formatUtils],
        data: () => ({
            dataSource: new BsStore({
                idProperty: 'id',
                dataProperty: 'data',
                totalProperty: 'total',
                pageSize: PAGE_SIZE,
                restUrl: {
                    browse: '/security/audit-log'
                }
            }),
            loading: false,
        }),
        beforeDestroy() {
            this.dataSource.destroy();
            this.dataSource = null;
        },
    }
</script>

<style scoped>

</style>