<template>
  <aside :is="tag"
         :class="_classNames"
         :style="_styles"
         class="md-sidebar"
         v-resize="_resize">
    <div class="md-sidebar-inner">
      <slot></slot>
    </div>
  </aside>
</template>

<script>
import PopupManager from "../../utils/PopupManager";
import resize from "../../directives/WindowResize";
import Helper from '../../utils/Helper';
import ScreenSize from "../../mixins/ScreenSize";
import { getZIndex } from "../../mixins/Popup";

export default {
    name: 'BsSidebar',
    directives: {resize},
    mixins: [ScreenSize],
    props: {
        dark: Boolean,
        mini: Boolean,
        tag: {
            type: String,
            default: 'aside'
        },
        open: {
            type: Boolean,
            default: true
        },
        width: {
            type: [Number, String],
            default: 240,
            validator: v => !isNaN(parseInt(v, 10))
        },
        miniWidth: {
            type: [Number, String],
            default: 55,
            validator: v => !isNaN(parseInt(v, 10))
        }
    },
    data: () => ({
        isMobile: false,
        overlay: true,
        overlayClose: true,
        overlayColor: '#000',
        overlayOpacity: 0.4,
        overlayZIndex: getZIndex(),
        zIndex: getZIndex(),
        listItems: []
    }),
    computed: {
        /**
         * Get computed component's class names.
         *
         * @return {Object} Component css classes
         * @private
         */
        _classNames() {
            return {
                'md-sidebar-dark': this.dark,
                'collapse-mini': this.mini && this.open,
                'collapse': this.open === false && this.mini === false
            }
        },
        /**
         * Get component's css styles.
         *
         * @return {Object|null} Inline css styles
         * @private
         */
        _styles() {
            if (this.isMobile && this.open) {
                let prop = {
                    'position': 'fixed',
                    'z-index': this.zIndex,
                };
                if (this.width) {
                    prop['width'] = Helper.sizeUnit(this.width);
                }

                return prop;
            } else if (this.mini && this.miniWidth && this.open) {
                return {width: Helper.sizeUnit(this.miniWidth)};
            } else if (this.width && this.open) {
                return {width: Helper.sizeUnit(this.width)};
            }

            return null;
        }
    },
    watch: {
        open(value) {
            if (value) {
                if (this.isMobile) {
                    this._setZIndex();
                    PopupManager.open(this);
                }
            } else {
                PopupManager.close(this);
            }
        }
    },
    provide() {
        return {
            listItems: this.listItems
        }
    },
    beforeDestroy() {
        if (this.isMobile) {
            PopupManager.close(this);
        }
        this.listItems = null;
    },
    methods: {
        /**
         * Event handler when overlay is clicked.
         *
         * @event open Triggers open event with value TRUE or FALSE
         * @return {void}
         * @private
         */
        overlayClick() {
            if (!this.overlay || !this.overlayClose || !this.open) {
                return;
            }
            this.$emit('open', false);
            if (!this.isMobile) {
                this.$nextTick(() => {
                    this.$emit('open', true);
                });
            }
        },
        /**
         * Event handler when document body is resized.
         *
         * @event open Triggers open event with value TRUE or FALSE
         * @return {void}
         * @private
         */
        _resize() {
            if (this.screenMaxMd.matches) {
                this.isMobile = true;
                this.$emit('open', false);
            } else {
                this.isMobile = false;
                this.$emit('open', true);
            }
        },
        /**
         * Sets Element z-index.
         *
         * @return {void}
         * @private
         */
        _setZIndex() {
            if (!this.zIndex) {
                this.zIndex = getZIndex();
            }
            if (!this.overlayZIndex) {
                this.overlayZIndex = getZIndex();
            }
        }
    }
}
</script>

<style lang="scss">
  @import "~bootstrap/scss/functions";
  @import "~bootstrap/scss/variables";
  @import "~bootstrap/scss/mixins/breakpoints";
  @import "~compass-sass-mixins/lib/compass/css3";
  @import "../../../scss/colors";
  @import "../../../scss/variables";

  .#{$prefix}-sidebar {
    @include box-shadow(0px 0px 10px 0 rgba(0, 0, 0, .6));
    @include box-sizing(border-box);
    @include transition(1s);
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    z-index: 100;
    position: fixed;

    .#{$prefix}-sidebar-inner {
      @include flexbox((display:flex, flex-direction: column));
      height: 100vh;
      overflow-x: hidden;
      position: relative;
    }

    a {
      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }

    .divider {
      border-bottom: 1px solid rgba(200, 200, 200, 0.16);
    }

    &.collapse {
      @include box-shadow(none);
      @include transition(1s);
      width: 0;
    }

    @include media-breakpoint-up(lg) {
      @include box-shadow(none);
      margin-left: 0;
      position: relative;
    }
  }
</style>
