<template>
  <div v-if="!haveTargets">
    <bs-card-body>
      <div class="table-responsive-xl mb-2">
        <table class="table table-valign-middle table-bordered mb-1">
          <thead class="thead-light">
            <tr>
              <th class="border-right-0" style="width: 20px;">
                #
              </th>
              <th class="flex-grow-1 border-left-0">
                Keterangan
              </th>
              <th :key="year"
                  class="text-center"
                  v-for="year in periodeBatch"
                  width="130px">
                {{ year }} - {{ year + 1 }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td :colspan="periodeBatch.length + 2">
                <div class="row justify-content-center">
                  <div class="col-lg-9 col-xl-7">
                    <bs-alert class="my-2 text-center" color="danger">
                      Belum ada data.
                    </bs-alert>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </bs-card-body>
    <bs-card-footer class="bg-white" v-if="canEdit">
      <bs-button @click="doAdd" color="warning">
        Tambah Baru
      </bs-button>
    </bs-card-footer>
  </div>
  <div v-else>
    <form novalidate>
      <bs-card-body>
        <div class="table-responsive-xl mb-2">
          <table class="table table-valign-middle table-bordered mb-1">
            <thead class="thead-light">
              <tr>
                <th class="border-right-0" style="width: 20px;">
                  #
                </th>

                <th class="flex-grow-1 border-left-0" colspan="2">
                  Keterangan
                </th>
                <th :key="year"
                    class="text-center"
                    style="min-width: 120px; width: 130px;"
                    v-for="year in periodeBatch">
                  {{ year }} - {{ year + 1 }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr :key="kpiParam.code" v-for="(kpiParam, idx) in kpiTargetKuantitas">
                <td class="border-right-0">
                  {{ idx + 1 }}.
                </td>
                <td class="border-left-0" colspan="2" style="min-width: 300px">
                  {{ kpiParam.name }}
                </td>
                <td :key="kpiTahun.tahun"
                    v-for="kpiTahun in targets"
                    class="text-right"
                    style="min-width: 120px; width: 150px;">
                  <div v-if="kpiTahun[kpiParam.code]">
                    <span class="text-right" v-if="mode === 'view'">
                      {{ decimalFormat(kpiTahun[kpiParam.code].target) }}
                    </span>
                    <bs-number-field :locale="getLocale"
                                     control-cls="text-right"
                                     flat
                                     v-else-if="mode === 'edit'"
                                     v-model="kpiTahun[kpiParam.code].target"></bs-number-field>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="border-right-0">
                  {{ kpiTargetKuantitas.length + 1 }}.
                </td>
                <td :colspan="periodeBatch.length + 2" class="border-left-0">
                  Persentase mahasiswa mencapai prestasi akademik
                </td>
              </tr>
              <tr :key="kpiParam.code" v-for="(kpiParam, idx) in kpiTargetKualitas">
                <td class="border-right-0">
                  &nbsp;
                </td>
                <td class="border-left-0 border-right-0" style="width: 20px; vertical-align: top;">
                  {{ alphabetNumbering(idx + 1) }}.
                </td>
                <td class="border-left-0" style="vertical-align: top;">
                  {{ kpiParam.name }}
                </td>
                <td :key="kpiTahun.tahun"
                    v-for="kpiTahun in targets"
                    class="text-right"
                    style="min-width: 120px; width: 150px;">
                  <div v-if="kpiTahun[kpiParam.code]">
                    <span class="text-right" v-if="mode === 'view'">
                      {{ decimalFormat(kpiTahun[kpiParam.code].target) }} %
                    </span>
                    <bs-number-field :locale="getLocale"
                                     append-icon="pen"
                                     control-cls="text-right"
                                     flat
                                     v-else-if="mode === 'edit'"
                                     v-model="kpiTahun[kpiParam.code].target">
                      <span class="md-icon-text" slot="appendSlot"> %</span>
                    </bs-number-field>
                  </div>
                </td>
              </tr>
              <tr v-if="mode !== 'view' && !checkPercentAll()">
                <td class="font-weight-bold" colspan="3" style="min-width: 300px">
                  {{ validationMsg }}
                </td>
                <td :key="idx" style="min-width: 120px; width: 150px;" v-for="(targetTahun, idx) in targets">
                  <span :class="{ 'text-danger': !checkPercent(targetTahun) }" class="font-weight-medium">
                    {{ checkPercent(targetTahun) ? '100%' : 'Total &lt;&gt; 100%' }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </bs-card-body>
      <bs-card-footer class="bg-white" v-if="canEdit">
        <bs-button @click="doSave" color="primary" v-if="mode === 'edit'">
          Simpan
        </bs-button>
        <bs-button @click="doRevert"
                   color="secondary"
                   outlined
                   v-if="mode === 'edit'">
          Batal
        </bs-button>
        <bs-button @click="doEdit" outlined v-if="mode === 'view'">
          Sunting
        </bs-button>
      </bs-card-footer>
    </form>
  </div>
</template>

<script>
import kpiCommon from "../../../../mixins/kpi/common";
import formatUtils from "../../../../mixins/formatUtils";
import appLocale from "../../../../mixins/appLocale";
import { EDIT_MODE, VIEW_MODE } from "../../../../mixins/kpi/KpiConst";

export default {
    name: "TargetKpiBeasiswa",
    mixins: [appLocale, kpiCommon, formatUtils],
    props: {
        batch: {
            type: Object,
            default: undefined
        },
        params: {
            type: [Array, Object],
            default: undefined
        },
        targets: {
            type: [Array, Object],
            default: undefined
        },
        canEdit: {
            type: Boolean,
            default: false
        }
    },
    data: () => ({
        mode: VIEW_MODE,
        validationMsg: null,
    }),
    methods: {
        /**
         * Fire event <tt>kpiTambahBaru</tt> and change form mode into <tt>EDIT</tt> mode.
         *
         * @return {void}
         */
        doAdd() {
            this.$emit('kpiTambahBaru');
            this.mode = EDIT_MODE;
        },
        /**
         * Change form mode into <tt>EDIT</tt> mode, hanya jika telah memiliki record target KPI.
         *
         * @return {void}
         */
        doEdit() {
            if (this.haveTargets) {
                this.mode = EDIT_MODE;
            }
        },
        /**
         * Fire event <tt>kpiRefresh</tt> and change form mode into <tt>VIEW</tt> mode.
         *
         * @return {void}
         */
        doRevert() {
            this.$emit('kpiRefresh', this.batch.batchId);
            this.mode = VIEW_MODE;
        },
        /**
         * Do some validation then fire event <tt>kpiSave</tt> and change form mode into <tt>VIEW</tt> mode.
         *
         * @return {void}
         */
        doSave() {
            if (this.batch && this.haveTargets) {
                if (this.checkPercentAll()) {
                    this.$emit('kpiSave');
                    this.mode = VIEW_MODE;
                } else {
                    this.validationMsg = 'Jumlah Persentase'
                }
            }
        },
    },
    beforeDestroy() {
        this.validationMsg = null;
    }
}
</script>

<style scoped>

</style>
