<template>
  <bs-card-body>
    <bs-alert icon="exclamation-triangle">
      Silakan pilih <strong>Program CSR</strong> dan
      <strong>Periode Batch</strong> terlebih dahulu.
    </bs-alert>
  </bs-card-body>
</template>

<script>
export default {
    name: "TargetKpiDefault"
}
</script>

<style scoped>

</style>
