<template>
  <div>
    <bs-card-body>
      <div class="table-responsive-xl mb-2">
        <table class="table table-valign-middle table-bordered mb-1">
          <thead class="thead-light">
            <tr>
              <th class="border-right-0">
                #
              </th>
              <th class="flex-grow-1 border-left-0">
                Keterangan
              </th>
              <th :key="year"
                  class="text-center"
                  v-for="year in periodeBatch"
                  width="100px">
                {{ year }}
              </th>
            </tr>
          </thead>
          <tbody v-if="!haveTargets">
            <tr>
              <td :colspan="periodeBatch.length + 2">
                <div class="row justify-content-center">
                  <div class="col-lg-9 col-xl-7">
                    <bs-alert class="my-2 text-center" color="danger">
                      Belum ada data.
                    </bs-alert>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody v-else>
            <tr>
              <td :colspan="periodeBatch.length + 2">
                <b> Indikator Kuantitas </b>
              </td>
            </tr>
            <tr :key="kpiParam.code" v-for="(kpiParam, idx) in kpiTargetKuantitas">
              <td class="border-right-0" style="vertical-align: top;">
                {{ idx + 1 }}.
              </td>
              <td class="border-left-0" style="min-width: 300px">
                {{ kpiParam.name }}
              </td>
              <td :key="kpiTahun.tahun"
                  v-for="kpiTahun in targets"
                  class="text-right"
                  style="min-width: 120px; width: 200px;">
                <div v-if="kpiTahun[kpiParam.code]">
                  <span class="text-right" v-if="mode === 'view'">
                    {{ decimalFormat(kpiTahun[kpiParam.code].target) }}
                  </span>
                  <bs-number-field :locale="getLocale"
                                   control-cls="text-right"
                                   flat
                                   v-else-if="mode === 'edit'"
                                   v-model="kpiTahun[kpiParam.code].target" />
                </div>
              </td>
            </tr>
            <tr>
              <td :colspan="periodeBatch.length + 2">
                <b> Indikator Kualitas </b>
              </td>
            </tr>
            <tr :key="kpiParam.code" v-for="(kpiParam, idx) in kpiTargetKualitas">
              <td class="border-right-0" style="vertical-align: top;">
                {{ idx + 1 }}.
              </td>
              <td class="border-left-0" style="min-width: 300px">
                {{ kpiParam.name }}
              </td>
              <td :key="kpiTahun.tahun"
                  v-for="kpiTahun in targets"
                  class="text-right"
                  style="min-width: 120px; width: 200px;">
                <div v-if="kpiTahun[kpiParam.code]">
                  <span class="text-right" v-if="mode === 'view'">
                    {{ decimalFormat(kpiTahun[kpiParam.code].target) }}
                  </span>
                  <bs-number-field :locale="getLocale"
                                   control-cls="text-right"
                                   flat
                                   v-else-if="mode === 'edit'"
                                   v-model="kpiTahun[kpiParam.code].target" />
                </div>
              </td>
            </tr>
            <tr v-if="mode !== 'view' && !checkMandatoryAll()">
              <td class="font-weight-bold" colspan="2" style="min-width: 200px">
                {{ validationMsg }}
              </td>
              <td :key="idx" style="min-width: 120px; width: 200px;" v-for="(targetTahun, idx) in targets">
                <span :class="{ 'text-danger': !checkMandatory(targetTahun) }" class="font-weight-medium">
                  {{ checkMandatory(targetTahun) ? 'Terisi' : 'Wajib diisi semua' }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </bs-card-body>
    <template v-if="canEdit">
      <bs-card-footer class="bg-white" v-if="!haveTargets">
        <bs-button @click="doAdd" color="warning">
          Tambah Baru
        </bs-button>
      </bs-card-footer>
      <bs-card-footer class="bg-white" v-else>
        <bs-button @click="doSave" color="primary" v-if="mode === 'edit'">
          Simpan
        </bs-button>
        <bs-button @click="doRevert"
                   color="secondary"
                   outlined
                   v-if="mode === 'edit'">
          Batal
        </bs-button>
        <bs-button @click="doEdit" outlined v-if="mode === 'view'">
          Sunting
        </bs-button>
      </bs-card-footer>
    </template>
  </div>
</template>

<script>
import kpiCommon from "../../../../mixins/kpi/common";
import formatUtils from "../../../../mixins/formatUtils";
import appLocale from "../../../../mixins/appLocale";
import { EDIT_MODE, VIEW_MODE } from "../../../../mixins/kpi/KpiConst";

export default {
    name: "TargetKpiPelatihanVokasi",
    mixins: [appLocale, kpiCommon, formatUtils],
    props: {
        batch: {
            type: Object,
            default: undefined
        },
        params: {
            type: [Array, Object],
            default: undefined
        },
        targets: {
            type: [Array, Object],
            default: undefined
        },
        canEdit: {
            type: Boolean,
            default: false
        }
    },
    data: () => ({
        mode: VIEW_MODE,
        validationMsg: null,
    }),
    methods: {
        doAdd() {
            this.$emit('kpiTambahBaru');
            this.mode = EDIT_MODE;
        },
        doEdit() {
            if (this.haveTargets) {
                this.mode = EDIT_MODE;
            }
        },
        doRevert() {
            this.$emit('kpiRefresh', this.batch.batchId);
            this.mode = VIEW_MODE;
        },
        doSave() {
            if (this.batch && this.haveTargets) {
                if (this.checkMandatoryAll()) {
                    this.$emit('kpiSave');
                    this.mode = VIEW_MODE;
                } else {
                    this.validationMsg = ' '
                }
            }
        }
    },
    beforeDestroy() {
        this.validationMsg = null;
    }
}
</script>

<style scoped>

</style>
