<template>
  <bs-card class="mt-4" shadow>
    <bs-card-body>
      <div class="row">
        <div class="col-md border-right">
          <dl class="form-row mb-0">
            <dt class="col-xl-5">
              Diajukan Oleh:
            </dt>
            <dd class="col-xl-7">
              {{ kegiatan.submittedBy ? kegiatan.submittedBy.fullName : '' }}
            </dd>
            <dt class="col-xl-5">
              Tanggal:
            </dt>
            <dd class="col-xl-7">
              {{ kegiatan.tanggalSubmitted ? dateFormat(kegiatan.tanggalSubmitted, formatConst.dateTimeCustom) : '' }}
              &nbsp;
            </dd>
            <dt v-if="showSubmitRealisasi" class="col-xl-5">
              Realisasi RAB:
            </dt>
            <dd v-if="showSubmitRealisasi" class="col-xl-7">
              {{ kegiatan.postedRealisasiBy.fullName }}
            </dd>
            <dt v-if="showSubmitRealisasi" class="col-xl-5">
              Tanggal:
            </dt>
            <dd v-if="showSubmitRealisasi" class="col-xl-7">
              {{ kegiatan.tanggalPostedRealisasi ? dateFormat(kegiatan.tanggalPostedRealisasi, formatConst.dateTimeCustom) : '' }}
              &nbsp;
            </dd>
          </dl>
        </div>
        <div class="col-md border-right">
          <dl class="form-row mb-0">
            <dt class="col-xl-5">
              Diverifikasi Oleh:
            </dt>
            <dd class="col-xl-7">
              {{ kegiatan.verifiedBy ? kegiatan.verifiedBy.fullName : '' }}
            </dd>
            <dt class="col-xl-5">
              Tanggal:
            </dt>
            <dd class="col-xl-7">
              {{ kegiatan.tanggalVerified ? dateFormat(kegiatan.tanggalVerified, formatConst.dateTimeCustom) : '' }}
              &nbsp;
            </dd>
            <dt v-if="realisasiVerified" class="col-xl-5">
              Verifikasi RAB:
            </dt>
            <dd v-if="realisasiVerified" class="col-xl-7">
              {{ realisasiVerified.postedBy.fullName }}
            </dd>
            <dt v-if="realisasiVerified" class="col-xl-5">
              Tanggal:
            </dt>
            <dd v-if="realisasiVerified" class="col-xl-7">
              {{ dateFormat(realisasiVerified.postedDate, formatConst.dateTimeCustom) }}
              &nbsp;
            </dd>
          </dl>
        </div>
        <div class="col-md">
          <dl class="form-row mb-0">
            <dt class="col-xl-5">
              Ditutup Oleh:
            </dt>
            <dd class="col-xl-7">
              {{ kegiatan.closedBy ? kegiatan.closedBy.fullName : '' }}
            </dd>
            <dt class="col-xl-5">
              Tanggal:
            </dt>
            <dd class="col-xl-7">
              {{ kegiatan.tanggalClosed ? dateFormat(kegiatan.tanggalClosed, formatConst.dateTimeCustom) : '' }}
              &nbsp;
            </dd>
          </dl>
        </div>
      </div>
    </bs-card-body>
  </bs-card>
</template>

<script>
import { KegiatanModel } from "../../models/Kegiatan/Pengelolaan/KegiatanModel";
import { CLOSED, REALISASI_VERIFIED } from "../../store/modules/mutation-types";
import appLocale from "../../mixins/appLocale";
import formatUtils from "../../mixins/formatUtils";

/**
 * Log Approval data type.
 *
 * @typedef {Object} ILogApproval
 * @property {Number}           logId       Entity ID
 * @property {String}           logAction   Tindakan verifikasi ataupun approval yang dilakukan.
 * @property {String}           logTitle    Title approval atau nama kegiatan
 * @property {String}           fromStatus  Status Kegiatan sebelum tindakan verifikasi ataupun approval.
 * @property {String}           toStatus    Status Kegiatan setelah tindakan verifikasi ataupun approval.
 * @property {String|Date}      postedDate  Tanggal approval
 * @property {UserAccountModel} postedBy    User yang melakukan approval
 */

export default {
    name: "AuditPanelRab",
    mixins: [appLocale, formatUtils],
    props: {
        /**
         * @type {KegiatanModel|*}
         * Data model pengelolaan Kegiatan.
         */
        kegiatan: {
            type: KegiatanModel,
            default: undefined,
            required: true
        },
        /**
         * @type {Object[]|*}
         * Data model log approval kegiatan.
         */
        logApprovals: {
            type: Array,
            default: undefined
        }
    },
    computed: {
        /**
         * @return {ILogApproval|null} Data log verifikasi realisasi RAB.
         */
        realisasiVerified() {
            if (this.showRealisasiVerified) {
                return this.logApprovals.find(el => el.toStatus === REALISASI_VERIFIED);
            }

            return null;
        },
        showSubmitRealisasi() {
            return this.kegiatan.postedRealisasiBy != null && this.kegiatan.tanggalPostedRealisasi != null;
        },
        showRealisasiVerified() {
            return this.kegiatan.status === REALISASI_VERIFIED || this.kegiatan.status === CLOSED;
        }
    },
}
</script>

<style scoped>

</style>
