<template>
  <div class="table-responsive" style="min-height: 250px; position: relative">
    <table class="table table-sm table-valign-middle table-bordered table-outer-borderless mb-0">
      <thead class="thead-light">
        <tr>
          <th class="text-center text-nowrap" rowspan="3" v-if="actionColumn || realisasiAction">
            Tindakan
          </th>
          <th class="text-center" rowspan="3">
            Kode
          </th>
          <th class="text-center" rowspan="3">
            Account
          </th>
          <th class="text-center" rowspan="3" style="width: 350px">
            Deskripsi
          </th>
          <th class="text-center border-bottom" colspan="8">
            Amount
          </th>
          <th class="text-center" rowspan="3" style="width: 250px">
            Catatan
          </th>
          <th class="text-nowrap text-center" rowspan="3">
            Fixed Cost (Rp)
          </th>
          <th class="text-nowrap text-center border-bottom" colspan="2">
            Reimburse (Rp)
          </th>
          <th class="text-nowrap text-center" rowspan="3">
            Total RAB (Rp)
          </th>
          <th class="text-nowrap text-center" rowspan="3">
            Pengajuan Belum<br/>Diverifikasi
          </th>
          <th v-if="showRealisasi" class="text-center border-bottom" colspan="2">
            Realisasi
          </th>
        </tr>
        <tr>
          <th class="text-center border-bottom" colspan="2">
            Qty-1
          </th>
          <th class="text-center border-bottom" colspan="2">
            Qty-2
          </th>
          <th class="text-center" rowspan="2">
            Amount per-Unit (Rp)
          </th>
          <th class="text-center border-bottom" colspan="2">
            Frekuensi
          </th>
          <th class="text-center" rowspan="2">
            Total (Rp)
          </th>
          <th class="text-center" rowspan="2">
            Reimburse
          </th>
          <th class="text-nowrap text-center" rowspan="2">
            Mgt. Fee {{ managementFee }}
          </th>
          <th v-if="showRealisasi" class="text-nowrap text-center" rowspan="2">
            Realisasi<br/>Terverifikasi(Rp)
          </th>
          <th v-if="showRealisasi" class="text-nowrap text-center" rowspan="2">
            Bulan Pengajuan<br/>Terakhir
          </th>
        </tr>
        <tr>
          <th>Jumlah</th>
          <th>Satuan</th>
          <th>Jumlah</th>
          <th>Satuan</th>
          <th>Jumlah</th>
          <th>Satuan</th>
        </tr>
      </thead>
      <tbody>
        <template v-for="(item, row) in dataItems">
          <tr class="grey-100" :key="'rab-' + row">
            <td class="text-nowrap" v-if="actionColumn || realisasiAction">
              <bs-button v-if="canEdit"
                         v-tooltip="{content:'Sunting Data', placement:'top'}"
                         key="item_edit"
                         color="primary"
                         icon="pen"
                         icon-position="left"
                         size="xs"
                         outlined
                         @click="$emit('edit', item)" />
              <bs-button v-if="_canDelete(item)"
                         v-tooltip="{content:'Hapus Data', placement:'top'}"
                         key="item_delete"
                         color="danger"
                         icon="trash-alt"
                         icon-position="left"
                         size="xs"
                         outlined
                         @click="$emit('delete', item)" />
            </td>
            <td class="font-weight-bold" colspan="15">
              <span :class="item.isRealisasi === true ? 'text-info' : ''">{{ item.title }}</span>,&nbsp;
              <span class="text-muted font-weight-normal">{{ fmtJadwal(item) }}</span>
            </td>
            <td class="text-nowrap text-right font-weight-bold"
                x-ms-format-detection="none">
              {{ moneyFormat(item.anggaran) }}
            </td>
            <td v-if="showRealisasi"
                class="text-nowrap text-right font-weight-bold"
                x-ms-format-detection="none">
              {{ sumTotalPengajuanRealisasi(item.children, row) }}
            </td>
            <td class="text-nowrap text-right font-weight-bold"
                x-ms-format-detection="none">
              {{ moneyFormat(item.verifiedSubRealisasi) }}
            </td>
            <td v-if="showRealisasi"
                x-ms-format-detection="none">
              &nbsp;
            </td>
          </tr>
          <tr v-for="child in item.children" :key="child.account.code + '-' + child.id">
            <td class="text-nowrap" v-if="actionColumn || realisasiAction">
              <bs-button v-if="actionColumn && canEdit"
                         v-tooltip="{content:'Sunting Data', placement:'top'}"
                         color="primary"
                         icon="pen"
                         icon-position="left"
                         size="xs"
                         outlined
                         @click="$emit('edit', child, item)" />
              <bs-button v-if="rabHasRealisasi(child) || canUpdateRealisasi" v-tooltip="{content:'Riwayat Realisasi', placement:'top'}"
                         color="info"
                         icon="history"
                         icon-position="left"
                         size="xs"
                         outlined
                         @click="$emit('history', child, item)"/>
              <bs-button v-if="actionColumn && canDelete" v-tooltip="{content:'Hapus Data', placement:'top'}"
                         color="danger"
                         icon="trash-alt"
                         icon-position="left"
                         size="xs"
                         outlined
                         @click="$emit('delete', child, item)" />
            </td>
            <td class="text-nowrap"
                x-ms-format-detection="none">
              {{ child.account.code }}
            </td>
            <td class="text-nowrap">
              {{ child.account.name }}
            </td>
            <td>
              <div class="text-truncate" style="width: 350px">
                {{ child.title }}
              </div>
            </td>
            <td class="text-nowrap text-right"
                x-ms-format-detection="none">
              {{ child.jumlahQty1 }}
            </td>
            <td class="text-nowrap">
              {{ child.unitQty1 }}
            </td>
            <td class="text-nowrap text-right"
                x-ms-format-detection="none">
              {{ child.jumlahQty2 }}
            </td>
            <td class="text-nowrap">
              {{ child.unitQty2 }}
            </td>
            <td class="text-nowrap text-right"
                x-ms-format-detection="none">
              {{ moneyFormat(child.unitPrice) }}
            </td>
            <td class="text-nowrap text-right"
                x-ms-format-detection="none">
              {{ child.frequency }}
            </td>
            <td class="text-nowrap">
              {{ child.unitFrequency }}
            </td>
            <td class="text-nowrap text-right font-weight-bold"
                x-ms-format-detection="none">
              {{ moneyFormat(_calcRab(child)) }}
            </td>
            <td>
              <div v-tooltip="{content: child.remark, placement: 'top', width: 250}"
                   class="text-truncate"
                   style="width: 250px">
                {{ child.remark }}
              </div>
            </td>
            <td class="text-nowrap text-right"
                x-ms-format-detection="none">
              {{ fmtFixedCost(child) }}
            </td>
            <td class="text-nowrap text-right"
                x-ms-format-detection="none">
              {{ fmtReimburse(child) }}
            </td>
            <td class="text-nowrap text-right"
                x-ms-format-detection="none">
              {{ fmtManagementFee(child) }}
            </td>
            <td class="text-nowrap text-right"
                x-ms-format-detection="none">
              {{ moneyFormat(child.anggaran) }}
            </td>
            <td class="text-nowrap text-right"
                x-ms-format-detection="none" v-if="showRealisasi">
              {{ sumTotalPengajuanRealisasiPerItem(child.realisasiRabs) }}
            </td>
            <td class="text-nowrap text-right"
                x-ms-format-detection="none" v-if="showRealisasi">
              {{ showVerifiedRealisasiPerItem(child.realisasiRabs) }}
            </td>
            <td class="text-nowrap text-right"
                x-ms-format-detection="none" v-if="showRealisasi">
              &nbsp;{{ realisasiLastUpdate(child) }}
            </td>
          </tr>
        </template>
        <tr class="grey-100">
          <td class="font-weight-bold text-right" :colspan="actionColumn || realisasiAction ? 16 : 15">
            JUMLAH TOTAL
          </td>
          <td class="text-nowrap text-right font-weight-bold"
              x-ms-format-detection="none">
            {{ moneyFormat(sumTotalRab) }}
          </td>
          <td v-if="showRealisasi"
              class="text-nowrap text-right font-weight-bold"
              x-ms-format-detection="none">
            {{ moneyFormat(totalPengajuanRealisasi) }}
          </td>
            <td v-if="showRealisasi"
                class="text-nowrap text-right font-weight-bold">
            {{ moneyFormat(totalVerifiedRealisasi) }}
          </td>
          <td v-if="showRealisasi">
            &nbsp;
          </td>
        </tr>
      </tbody>
    </table>
    <bs-mask-loader :opacity="0.2"
                    :show="loader && dataSource.loading"
                    :spinner-diameter="50" />
  </div>
</template>

<script>
import { sumBy } from "lodash";
import { BsStore, Helper } from "vue-bs4";
import appLocale from "../../mixins/appLocale";
import formatUtils from "../../mixins/formatUtils";
import httpErrorResponse from "../../mixins/httpErrorResponse";
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';

export default {
    name: "GridRabKegiatan",
    mixins: [appLocale, formatUtils, httpErrorResponse],
    data: () => ({
        listValuePengajuanRealisasi: {},
        totalPengajuanSubRealisasi: 0,
        totalFinalRab: 0,
        totalFinalVerifiedRealisasi: 0,
        totalFinalPengajuanRealisasi: 0,
    }),

    props: {
        actionColumn: Boolean,
        realisasiAction: Boolean,
        canEdit: Boolean,
        canDelete: Boolean,
        canUpdateRealisasi: Boolean,
        closed: Boolean,
        loader: {
            type: Boolean,
            default: true
        },
        dataSource: {
            type: BsStore,
            default: undefined
        },
        idKegiatan: {
            type: [Number, String],
            default: undefined,
            validator: v => !isNaN(parseInt(v, 10))
        },
        mgtFee: {
            type: [Number, String],
            default: 5,
            validator: v => !isNaN(parseInt(v, 10))
        }
    },
    computed: {

        /**
         * Get datasource items.
         *
         * @return {Object[]} Collection of data model
         */
        dataItems() {
            return this.dataSource.dataItems;
        },
        managementFee() {
            if (this.closed && this.rabHasItems) {
                return this.percentFormat(this.dataSource.dataItems[0].children[0].mgtFeeConst);
            }

            return this.percentFormat(this.mgtFee);
        },
        rabHasItems() {
            return (this.dataSource.dataItems.length > 0) && (this.dataSource.dataItems[0].children.length > 0);
        },
        showRealisasi() {
            return (this.dataSource.dataItems.length > 0) && (this.dataSource.dataItems[0].children.length > 0);
        },
        /**
         * Get jumlah nilai total RAB.
         *
         * @return {Number} Nilai RAB
         */
        sumTotalRab() {
            if (this.dataSource.dataItems.length > 0) {
                const $t = sumBy(this.dataItems, 'anggaran');
                this.totalFinalRab = $t;
                return $t;
            }

            return 0.0;
        },
        /**
         * Get jumlah realisasi yang sudah verified
         * @return {Number} Nilai Verified Realisasi
         */
        totalVerifiedRealisasi() {
            if (this.dataSource.dataItems.length > 0) {
                const $t = sumBy(this.dataItems, 'verifiedSubRealisasi');
                this.totalFinalVerifiedRealisasi = $t;
                return $t;
            }

            return 0.0;
        },
        /**
         * menghitung total pengajuan realisasi
         */
        totalPengajuanRealisasi() {
            const $t = sumBy(Object.values(this.listValuePengajuanRealisasi));
            this.totalFinalPengajuanRealisasi = $t;
            return $t;
        },

        sumTotalRealisasi() {
            if (this.dataSource.dataItems.length > 0) {
                return sumBy(this.dataItems, 'totalSubRealisasi');
            }

            return 0.0;
        },

    },
    methods: {
        /**
         * Check if Subkegiatan dapat dihapus atau tidak.
         *
         * @param {Object} item Data model Subkegiatan
         * @return {boolean} TRUE jika masih dapat dihapus
         * @private
         */
        _canDelete(item) {
            return this.canDelete && item.children.length === 0;
        },
        /**
         * Calculate nilai Total RAB.
         *
         * @param {ItemRabModel} item Data model
         * @return {Number} Nilai RAB
         * @private
         */
        _calcRab(item) {
            return item.jumlahQty1 * item.jumlahQty2 * item.unitPrice * item.frequency;
        },
        /**
         * Format teks jadwal pelaksanaan Subkegiatan pada gridCell.
         *
         * @param {SubKegiatanModel} item Data model subkegiatan
         * @return {string} Formatted string
         */
        fmtJadwal(item) {
            let fmt = '';

            if (!Helper.isEmpty(item)) {
                let y2   = null;
                const y1 = this.dateFormat(item.tanggalMulai, 'YYYY');

                if (!Helper.isEmpty(item.tanggalAkhir)) {
                    y2 = this.dateFormat(item.tanggalAkhir, 'YYYY');
                }
                if (y1 === y2) {
                    fmt = this.dateFormat(item.tanggalMulai, 'DD MMMM');
                    fmt += ' s.d ' + this.dateFormat(item.tanggalAkhir, this.formatConst.fullDate);
                } else {
                    fmt = this.dateFormat(item.tanggalMulai, this.formatConst.fullDate);
                    if (!Helper.isEmpty(item.tanggalAkhir)) {
                        fmt += ' s.d ' + this.dateFormat(item.tanggalAkhir, this.formatConst.fullDate);
                    }
                }
            }

            return fmt;
        },
        /**
         * Hitung total realisasi sub kegiatan.
         *
         * @param {SubKegiatanModel} item Data model subkegiatan
         * @return {number|string}
         */
        sumTotalSubRealisasi(item) {
            let totalSub = 0.0;
            if (!Helper.isEmpty(item.totalSubRealisasi)) {
                totalSub = item.totalSubRealisasi;
            }
            return this.moneyFormat(totalSub);
        },

        /**
         * hitung hanya pengajuan realisasi saja peritem rabs
         * @param Array $itemRabs;
         * @return Integer $totalPengajuanPerItem
         */
        sumTotalPengajuanRealisasi($itemRabs, $itemIdx) {
            let $totalPengajuanPerItem = 0;
            let $totalPengajuanRealisasi = 0;

            if ($itemRabs && $itemRabs.length > 0) {
                $itemRabs.forEach(($obj, $idx) => {
                    let $realisasiRabs = $obj.realisasiRabs;
                    if ($realisasiRabs && $realisasiRabs.length > 0) {

                        $realisasiRabs.forEach(($objItemRealisasi, $idx) => {
                            if ($objItemRealisasi.status == 'REALISASI_CREATED' ||
                                $objItemRealisasi.status == 'REALISASI_SUBMITTED') {
                                    $totalPengajuanPerItem+= $objItemRealisasi.realisasi;
                                    $totalPengajuanRealisasi+= $objItemRealisasi.realisasi;
                            }
                        });

                    }

                });
            }

            //this.listValuePengajuanRealisasi.push($totalPengajuanRealisasi);
            this.listValuePengajuanRealisasi[$itemIdx] = $totalPengajuanRealisasi;
            this.totalPengajuanSubRealisasi =  $totalPengajuanRealisasi;
            return this.moneyFormat($totalPengajuanPerItem);
        },

        /**
         * hitung hanya pengajuan realisasi saja peritem rabs
         * @param Array $itemRabs;
         * @return Integer $totalPengajuanPerItem
         */
        sumTotalPengajuanRealisasiPerItem($itemRabs) {
            let $totalPengajuanPerItem = 0;

            if ($itemRabs && $itemRabs.length > 0) {
                $itemRabs.forEach(($obj, $idx) => {
                    if ($obj.status == 'REALISASI_CREATED' ||
                        $obj.status == 'REALISASI_SUBMITTED') {
                        $totalPengajuanPerItem = $obj.realisasi;
                    }

                });
            }

            return this.moneyFormat($totalPengajuanPerItem);
        },

        /**
         * menampilkan realiasi yang sudah verified saja peritem rabs
         * @param Array $itemRabs;
         * @return Integer $verifiedRealisasi
         */
        showVerifiedRealisasiPerItem($itemRabs) {
            let $verifiedRealisasi = 0;
            if ($itemRabs && $itemRabs.length > 0) {
                $itemRabs.forEach(($obj, $idx) => {
                    if ($obj.status == 'REALISASI_VERIFIED') {
                        $verifiedRealisasi = $obj.realisasi;
                    }
                });
            }

            return this.moneyFormat($verifiedRealisasi);
        },

        subKegiatanBadge(item) {
            if (item.isRealisasi === true) {
                return {display: true, color: 'info-color', icon: 'fas fa-info'};
            } else {
                return {display: false, color: null, icon: ''};
            }
        },

        /**
         * Format nilai Fixed Cost.
         *
         * @param {ItemRabModel} item Data model Item RAB
         * @return {number|string} Nilai RAB
         */
        fmtFixedCost(item) {
            if (item.fixedCost === true) {
                return this.moneyFormat(this._calcRab(item));
            }

            return '';
        },
        /**
         * Format nilai Reimburse.
         *
         * @param {ItemRabModel} item Data model Item RAB
         * @return {number|string} Nilai RAB
         */
        fmtReimburse(item) {
            if (item.fixedCost === false) {
                return this.moneyFormat(this._calcRab(item));
            }

            return '';
        },
        /**
         * Format nilai Management Fee.
         *
         * @param {ItemRabModel} item Data model Item RAB
         * @return {number|string} Nilai management fee
         */
        fmtManagementFee(item) {
            if (item.fixedCost === false) {
                const rab    = this._calcRab(item);
                const mgtval = parseFloat(item.mgtFeeConst) / 100;

                return this.moneyFormat(rab * mgtval);
            }

            return '';
        },
        countRealisasi(item) {
            if (item.realisasiRabs.length > 0) {
                const totalRealisasi = sumBy(item.realisasiRabs, 'realisasi');
                return this.moneyFormat(totalRealisasi);
            }

            return '';
        },
        realisasiLastUpdate(item) {
            if (!Helper.isEmptyObject(item.lastRealisasi)) {
                let lastDate = item.lastRealisasi.realisasiDate;
                return this.dateFormat(lastDate, 'MMMM YYYY');
            }

          return '';
        },
        rabHasRealisasi(item) {
          return item.realisasiRabs.length > 0;
        },
        /**
         * Load data RAB from remote server.
         *
         * @return {void}
         */
        load() {
            if (!Helper.isEmpty(this.idKegiatan)) {
                this.dataSource.fetch(this.idKegiatan).then(($resp) => {
                    this.overBudgetMarking();
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            }
        },
        /**
         * check if pengajuan realisasi is not over budget,
         * if yes, then send overbudget message, otherwise send lowbudget
         */
        overBudgetMarking() {
            const $isOverBudget = (this.totalFinalPengajuanRealisasi + this.totalFinalVerifiedRealisasi) > this.totalFinalRab ? true:false;
            if ($isOverBudget) {
                this.$emit('overbudget');
            } else {
                this.$emit('lowbudget');
            }
        }

    }
}
</script>

<style scoped>

</style>
