<template>
  <div class="table-responsive" style="min-height: 200px; position: relative">
    <div class="row" style="margin: 20px 15px 0px 15px;">
        <div class="col-xl-8">
            <div class="form-group">
                <bs-date-time-field 
                    v-model="itemVerifikasi.bultah"
                    append-icon="calendar"
                    clear-button
                    display-format="MMMM YYYY"
                    format="YYYY-MM"
                    required
                    view-mode="month"
                    :readonly="bultahReadonly">
                    <label class="col-form-label col-lg-4">
                    BULAN &amp; TAHUN REALISASI
                    </label>
                </bs-date-time-field>
            </div>
        </div>
    </div>
    <table class="table table-sm table-valign-middle table-bordered table-outer-borderless mb-0" style="min-height: 150px;">
        <thead class="thead-light">
            <tr>
                <th class="text-center" :rowspan="2">
                    Kode
                </th>
                <th class="text-center" :rowspan="2">
                    Account
                </th>
                <th class="text-center" style="width: 250px" :rowspan="2">
                    Deskripsi
                </th>
                <th class="text-nowrap text-center" :rowspan="2">
                    Total RAB (Rp)
                </th>
                <th class="text-nowrap text-center" :rowspan="2">
                    Akumulasi <br/>Terverifikasi <br/>(Rp)
                </th>
                <th class="text-nowrap text-center" :rowspan="2">
                    Pengajuan <br/>Realisasi (Rp)
                </th>
                <th class="text-nowrap text-center" :colspan="2" width="150">
                    Tindakan
                </th>
                <th class="text-nowrap text-center" :rowspan="2">
                    Alasan Penolakan
                </th>
            </tr>
            <tr>
                <th>Terima</th>
                <th>Tolak</th>
            </tr>
        </thead>
        <tbody>
            <template v-for="(item, row) in dataItems">
                <tr class="grey-100" :key="'rab-' + row">
                    <td class="font-weight-bold" colspan="3">
                        <span :class="item.isRealisasi === true ? 'text-info' : ''">{{ item.title }}</span>,&nbsp;
                        <span class="text-muted font-weight-normal">{{ fmtJadwal(item) }}</span>
                    </td>
                    <td class="text-nowrap text-right font-weight-bold"
                        x-ms-format-detection="none">
                    {{ moneyFormat(item.anggaran) }}
                    </td>
                    <td class="text-nowrap text-right font-weight-bold"
                        x-ms-format-detection="none">
                    {{ sumTotalVerifiedSubRealisasi(item) }}
                    </td>
                    <td x-ms-format-detection="none" :colspan="4">
                    &nbsp;
                    </td>
                </tr>
                <tr v-for="child in item.children" :key="child.account.code + '-' + child.id">
                    
                    <td class="text-nowrap"
                        x-ms-format-detection="none">
                        {{ child.account.code }}
                    </td>
                    <td class="text-nowrap">
                        {{ child.account.name }}
                    </td>
                    <td>
                        <div class="text-truncate" style="width: 350px">
                            {{ child.title }}
                        </div>
                    </td>
                    
                    <td class="text-nowrap text-right"
                        x-ms-format-detection="none">
                        {{ moneyFormat(child.anggaran) }}
                    </td>
                    <td class="text-nowrap text-right"
                        x-ms-format-detection="none">
                        {{ countRealisasi(child) }}
                    </td>
                    <td class="text-nowrap text-right" 
                        x-ms-format-detection="none">
                        {{ itemVerifikasi.submitteds[child.idSub+'_'+child.id] ? moneyFormat(itemVerifikasi.submitteds[child.idSub+'_'+child.id]) : 0 }}
                    </td>
                    <td class="text-nowrap text-center" 
                        x-ms-format-detection="none">
                        <input type="radio"
                            :name="child.idSub+'_'+child.id" 
                            v-show="blockCommentBoxReadonly[child.idSub+'_'+child.id]" 
                            v-model="itemVerifikasi.decisions[child.idSub+'_'+child.id]" 
                            value="terima" 
                            style="cursor: pointer; height: 24px; width: 24px" />
                    </td>
                    <td class="text-nowrap text-center" 
                        x-ms-format-detection="none">
                        <input type="radio"
                            :name="child.idSub+'_'+child.id" 
                            v-show="blockCommentBoxReadonly[child.idSub+'_'+child.id]" 
                            v-model="itemVerifikasi.decisions[child.idSub+'_'+child.id]" 
                            value="tolak" 
                            style="cursor: pointer; height: 24px; width: 24px" />
                    </td>
                    <td class="text-nowrap text-right" 
                        x-ms-format-detection="none">
                            <div v-show="blockCommentBoxReadonly[child.idSub+'_'+child.id]" 
                                style="position: relative; overflow: hidden; width: 350px;">
                                <textarea 
                                    v-model="itemVerifikasi.comments[child.idSub+'_'+child.id]" 
                                    rows="4" 
                                    placeholder="Komentar Penolakan"
                                    style="float: left; width: 350px; margin: 0; border: none; border-bottom: 1px solid #ccc;"></textarea>
                                <!-- <bs-button 
                                    :id="child.idSub+'_'+child.id" 
                                    style="float: right; width: 30px; height: 31px;" 
                                    @click="showCommentBox(child.idSub+'_'+child.id)">...</bs-button> -->
                            </div>
                        <!-- show when true -->
                        <!-- <div v-show="false" 
                            style="position: relative; overflow: hidden; width: 250px;">
                            <bs-text-area 
                                :rows="1" 
                                :readonly="true" 
                                :no-resize="true"
                                placeholder="Ketik komentar di tampilkan"
                                style="float: left; width: 200px; margin: 0;"/>
                            <bs-button style="float: right; width: 30px; height: 31px;">...</bs-button>
                        </div> -->
                        <!-- <bs-text-area
                            :rows="4" 
                            placeholder="Kolom alasan penolakan" /> -->
                    </td>
                </tr>
            </template>
            <tr class="grey-100">
                <td class="font-weight-bold text-right" :colspan="3">
                    JUMLAH TOTAL
                </td>
                <td class="text-nowrap text-right font-weight-bold"
                    x-ms-format-detection="none">
                    {{ moneyFormat(sumTotalRab) }}
                </td>
                <td class="text-nowrap text-right font-weight-bold"
                    x-ms-format-detection="none">
                    {{ moneyFormat(sumTotalRealisasi) }}
                </td>
                <td class="text-nowrap text-right font-weight-bold"
                    x-ms-format-detection="none">
                    {{ moneyFormat(totalPengajuanRealisasi) }}
                </td>
                <td colspan="6">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="9">
                    <div style="float: right; margin: 10px 15px;">
                        <bs-button 
                            color="primary" 
                            :disabled="gridLoader" 
                            @click="submitVerifikasi">
                        Submit
                        </bs-button>
                        <bs-button 
                            color="danger" 
                            :disabled="gridLoader" 
                            @click="backToRabKegiatan">
                            Batal
                        </bs-button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    
    <bs-mask-loader :opacity="0"
                    :show="gridLoader"
                    :spinner-diameter="50" />
  </div>
</template>

<script>
import Vue from "vue";
import VueSwal  from "vue-swal";
import { sumBy } from "lodash";
import { BsStore, Helper } from "vue-bs4";
import appLocale from "../../mixins/appLocale";
import formatUtils from "../../mixins/formatUtils";
import httpErrorResponse from "../../mixins/httpErrorResponse";
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import { STATE_SUCCESS, STATE_ERROR } from "../../store/modules/mutation-types";
import mapStoreUserProfile from "../../mixins/mapStoreUserProfile";
Vue.use(VueSwal);

export default {
    name: "GridItemVerifikasiBulanan",
    mixins: [appLocale, formatUtils, httpErrorResponse, mapStoreUserProfile],
    data: () => ({
        gridLoader: false,
        itemVerifikasi: {},
        totalAnggaran: 0,
        totalVerified: 0,
        totalPengajuanRealisasi: 0,
        itemPengajuanRealisasi: [],
        bultahReadonly: true,
        blockCommentBoxStatus: {},
        blockCommentBoxReadonly: {},
        abc: 1,
        myCssStyle: {
          hide: 'none',
          show: 'inline-block'
        }
    }),
    mounted() {
        // if (this.dataSource.dataItems.length > 0) {
        //     this.dataSource.dataItems.forEach(($obj, $idx) => {
        //         console.log($obj, $idx);
        //     });
        // }
    },
    created() {
        this.itemVerifikasi.idKegiatan = parseInt(this.$route.params.id);
        this.itemVerifikasi.comments = {};
        this.itemVerifikasi.decisions = {};
        this.itemVerifikasi.submitteds = {};
        this.itemVerifikasi.bultah = this.$route.params.periode;
    },
    props: {
        actionColumn: Boolean,
        realisasiAction: Boolean,
        canEdit: Boolean,
        canDelete: Boolean,
        canUpdateRealisasi: Boolean,
        closed: Boolean,
        loader: {
            type: Boolean,
            default: true
        },
        dataSource: {
            type: BsStore,
            default: undefined
        },
        idKegiatan: {
            type: [Number, String],
            default: undefined,
            validator: v => !isNaN(parseInt(v, 10))
        },
        mgtFee: {
            type: [Number, String],
            default: 5,
            validator: v => !isNaN(parseInt(v, 10))
        }
    },
    computed: {
        /**
         * Get datasource items.
         *
         * @return {Object[]} Collection of data model
         */
        dataItems() {
            return this.dataSource.dataItems;
        },
        
        showRealisasi() {
            return (this.dataSource.dataItems.length > 0) && (this.dataSource.dataItems[0].children.length > 0);
        },
        /**
         * Get jumlah nilai total RAB.
         *
         * @return {Number} Nilai RAB
         */
        sumTotalRab() {
            if (this.dataSource.dataItems.length > 0) {
                let $totalAnggaran = sumBy(this.dataItems, 'anggaran');
                this.totalAnggaran = $totalAnggaran;
                return $totalAnggaran;
            }

            return 0.0;
        },
        sumTotalRealisasi() {
            if (this.dataSource.dataItems.length > 0) {
                let $totalVerified = sumBy(this.dataItems, 'verifiedSubRealisasi');
                this.totalVerified = $totalVerified;
                return $totalVerified;
            }

            return 0.0;
        }
    },
    methods: {
        /**
         * submit verifikasi realisasi
         */
        submitVerifikasi() {
            if (!this._realisasiValidation()) {
                return false;
            }

            //sweetalert confirmation box
            this.$swal({
                text: 'Lanjutkan verifikasi data realisasi ?',
                icon: 'warning',
                buttons: true
            }).then(($pressed) => {
                if ($pressed) {
                    const $endpoint = '/kegiatan/pengelolaan/item-realisasi/verifikasi-realisasi';
                    this.gridLoader = true;
                    this.itemVerifikasi.identifier = this.getUserProfile.email;
                    this.$http.post($endpoint, this.itemVerifikasi).then(($response) => {
                        let $resp = $response.data;
                        if ($resp.success == true) {
                            this.$notification.success($resp.data.message, STATE_SUCCESS);
                            this.backToRabKegiatan();
                        } else {
                            this.$notification.error($resp.data.message, STATE_ERROR);
                        }
                        this.gridLoader = false;
                    }).catch(($error)=> {
                        this.gridLoader = false;
                        this.$notification.error('Internal Server Error(500)', STATE_ERROR);
                    });
                }
            });

            //this.$notification.success('Data dikirim!!!, terima kasih', STATE_SUCCESS);
        },

        /**
         * validasi untuk verifikasi realisasi
         * return boolean
         */
        _realisasiValidation() {

            if (Helper.isEmptyObject(this.itemVerifikasi.decisions)) {
                this.$notification.error('Tindakan verifikasi tidak boleh kosong!', STATE_ERROR);
                return false;
            } else {
                let $error = 0;
                let $errorComment = 0;
                Object.keys(this.itemVerifikasi.decisions).forEach($key => {
                    if (Helper.isEmpty(this.itemVerifikasi.decisions[$key])) {
                        $error++;
                    } else {
                        if (this.itemVerifikasi.decisions[$key] == 'tolak' && 
                            Helper.isEmpty(this.itemVerifikasi.comments[$key])) {
                            $errorComment++;
                        }
                    }
                });

                if ($error > 0) {
                    this.$notification.error('Harap mengisi semua tindakan verifikasi!', STATE_ERROR);
                    return false;
                }
                if ($errorComment > 0) {
                    this.$notification.error('Jika tindakan yang dipilih adalah \'Tolak\', maka kolom alasan penolokan wajib diisi!', STATE_ERROR);
                    return false;
                }
            }

            return true;
        },

        showCommentBox($idx) {
            // const $me = this;
            // this.$nextTick(() => {
            //     $me.$set(this.blockCommentBoxReadonly, $idx, 4);
            //     console.log(this.blockCommentBoxReadonly[$idx]);
            // })
            //this.abc = 4;
            // this.blockCommentBoxReadonly[$idx] = 4;
            this.$set(this.blockCommentBoxReadonly, $idx, 4);
            //console.log(this.blockCommentBoxReadonly);
        },

        /**
         * show realisasi submitted
         */
        printRealisasiSubmitted($item) {
            let $submittedObj = $item.lastRealisasi;
            if (!Helper.isEmpty($submittedObj) && 
                $submittedObj.status === 'REALISASI_SUBMITTED') {
                return this.moneyFormat($submittedObj.realisasi);
            }

            return 0;
        },

        /**
         * back to list data sub kegiatan
         */
        backToRabKegiatan() {
            let $kegiatanId = this.$route.params.id;
            this.$router.push('/kegiatan/pengelolaan/'+ $kegiatanId +'/rab');
        },
        
        /**
         * Format teks jadwal pelaksanaan Subkegiatan pada gridCell.
         *
         * @param {SubKegiatanModel} item Data model subkegiatan
         * @return {string} Formatted string
         */
        fmtJadwal(item) {
            let fmt = '';

            if (!Helper.isEmpty(item)) {
                let y2   = null;
                const y1 = this.dateFormat(item.tanggalMulai, 'YYYY');

                if (!Helper.isEmpty(item.tanggalAkhir)) {
                    y2 = this.dateFormat(item.tanggalAkhir, 'YYYY');
                }
                if (y1 === y2) {
                    fmt = this.dateFormat(item.tanggalMulai, 'DD MMMM');
                    fmt += ' s.d ' + this.dateFormat(item.tanggalAkhir, this.formatConst.fullDate);
                } else {
                    fmt = this.dateFormat(item.tanggalMulai, this.formatConst.fullDate);
                    if (!Helper.isEmpty(item.tanggalAkhir)) {
                        fmt += ' s.d ' + this.dateFormat(item.tanggalAkhir, this.formatConst.fullDate);
                    }
                }
            }

            return fmt;
        },

        /**
         * Hitung total realisasi sub kegiatan.
         *
         * @param {SubKegiatanModel} item Data model subkegiatan
         * @return {number|string}
         */
        sumTotalVerifiedSubRealisasi(item) {
            let totalSub = 0.0;
            if (!Helper.isEmpty(item.verifiedSubRealisasi)) {
                totalSub = item.verifiedSubRealisasi;
            }
            return this.moneyFormat(totalSub);
        },
        
        countRealisasi(item) {
            let totalSub = 0.0;
            if (!Helper.isEmpty(item.verifiedRealisasi)) {
                totalSub = item.verifiedRealisasi;
            }
            
            //this.$set(this.blockCommentBoxReadonly, item.idSub+'_'+item.id, 1);
            //const $varname = item.idSub+'_'+item.id;
            //this.blockCommentBoxReadonly[$varname] = 1;
            //this.itemVerifikasi.comments[$varname] = null;
            //this.itemVerifikasi.decisions[$varname] = null;
            //this.$set(this.itemVerifikasi.actions, );
            return this.moneyFormat(totalSub);
        },
        
        /**
         * Load data RAB from remote server.
         *
         * @return {void}
         */
        load() {
            if (!Helper.isEmpty(this.idKegiatan)) {
                this.gridLoader = true;
                this.dataSource.fetch(this.idKegiatan).then($resp => {
                    this.totalPengajuanRealisasi = 0;
                    this.gridLoader = false;
                    //this._initDataKegiatan($resp.data.data);
                    //console.log($resp.data.data);
                    this._loadDataRealisasi(this.idKegiatan);
                }).catch((error) => {
                    this.gridLoader = false;
                    this.showErrorMessage(error);
                });
            }
        },
        // _initComponentVariable() {
        //     this.itemVerifikasi.decisions = {};
        //     this.itemVerifikasi.comments = {};
        // },

        
        /**
         * get data realisasi from remote server
         * @param $idKegiatan
         */
        _loadDataRealisasi($idKegiatan) {
            // jika parameter bultah di isi
            const $bultah = this.$route.params.periode;
            if ($bultah) {
                const $url = '/kegiatan/pengelolaan/item-realisasi/get-realisasi'
                let $data = {
                    idKegiatan: $idKegiatan, 
                    bultah: $bultah,
                    state: 'REALISASI_SUBMITTED'
                };
                
                this.gridLoader= true;
                this.$http.post($url, $data).then(($response) => {
                    this.gridLoader= false;
                    const $resp = $response.data;
                    
                    //this.itemVerifikasi.bultah = $bultah;
                    //this.bultahReadonly = true
                    this._buildDataRealisasiParam($resp.data);
                }).catch(($error) => {
                    this.gridLoader= false;
                });
            }
        },

        /**
         * rebuild variable for text realisasi
         */
        _buildDataRealisasiParam($dataRealisasi) {
            $dataRealisasi.forEach(($obj, $idx) => {
                if ($obj.realisasi) {
                    let $varname = $obj.id_subkegiatan+'_'+$obj.id_rab;
                    this.totalPengajuanRealisasi+= $obj.realisasi ? parseFloat($obj.realisasi) : 0;
                    //this.itemVerifikasi.postData[$obj.id_subkegiatan+'_'+$obj.id_rab] = parseFloat($obj.realisasi);
                    this.itemVerifikasi.decisions[$varname] = null;
                    this.itemVerifikasi.comments[$varname] = null;
                    this.itemVerifikasi.submitteds[$varname] = $obj.realisasi;
                    this.blockCommentBoxReadonly[$varname] = true;
                }
            });
        },

        // _initDataKegiatan($dataSource) {
        //     if ($dataSource.length > 0) {
        //         const $me = this;
        //         $dataSource.forEach(($obj, $idx) => {
        //             //console.log($obj.children);
        //             $me._initModelVariable($obj.children);
        //         });
        //     }
        // },

        // _initModelVariable($dataRab) {
        //     if ($dataRab.length > 0) {
        //         $dataRab.forEach(($obj, $idx) => {
        //             let $lastRealisasi = $obj.lastRealisasi;
        //             let $varname = $obj.idSub+'_'+$obj.id;

        //             console.log($varname, $obj, $lastRealisasi);
        //             if (!Helper.isEmpty($lastRealisasi) && 
        //                 !Helper.isEmpty($lastRealisasi.realisasi) && 
        //                 $lastRealisasi.status == 'REALISASI_SUBMITTED') {
        //                 this.totalPengajuanRealisasi+= $lastRealisasi.realisasi;
        //                 this.itemVerifikasi.decisions[$varname] = null;
        //                 this.itemVerifikasi.comments[$varname] = null;
        //                 this.blockCommentBoxReadonly[$varname] = true;
        //             }
        //         });
        //     }
        // }

    }
}
</script>

<style scoped>
    .showCommentBoxClass {
        display: inline-block
    }
    .hideCommentBoxClass {
        display: none;
    }
</style>
