<template>
    <div class="table-responsive" style="min-height: 250px; position: relative">
        <table class="table table-sm table-valign-middle table-bordered table-outer-borderless mb-0">
            <thead class="thead-light">
            <tr>
                <th class="text-center text-nowrap">
                    Tindakan
                </th>
                <th class="text-center">
                    Dibuat Oleh
                </th>
                <th class="text-center">
                    Tanggal
                </th>
                <th class="text-nowrap text-center">
                    Realisasi (Rp)
                </th>
            </tr>
            </thead>
        </table>
        <bs-mask-loader :opacity="0.2"
                        :show="loader && dataSource.loading"
                        :spinner-diameter="50" />
    </div>
</template>

<script>
    import { sumBy } from "lodash";
    import { BsStore, Helper } from "vue-bs4";
    import appLocale from "../../mixins/appLocale";
    import formatUtils from "../../mixins/formatUtils";
    import httpErrorResponse from "../../mixins/httpErrorResponse";

    export default {
        name: "GridHistoryRealisasi",
        mixins: [appLocale, formatUtils, httpErrorResponse],
        props: {
            actionColumn: Boolean,
            loader: {
                type: Boolean,
                default: true
            },
            dataSource: {
                type: BsStore,
                default: undefined
            }
        },
        computed: {
            /**
             * Get datasource items.
             *
             * @return {Object[]} Collection of data model
             */
            dataItems() {
                return this.dataSource.dataItems;
            },
        },
        methods: {
            /**
             * Load data RAB from remote server.
             *
             * @return {void}
             */
            load() {
                if (!Helper.isEmpty(this.idKegiatan)) {
                    this.dataSource.fetch(this.idKegiatan).catch((error) => {
                        this.showErrorMessage(error);
                    });
                }
            }
        }
    }
</script>

<style scoped>

</style>
