<template>
  <div class="table-responsive" style="min-height: 200px; position: relative">
    <div class="row" style="margin: 20px 15px 0px 15px;">
        <div class="col-xl-8">
            <div class="form-group">
                <bs-date-time-field 
                    v-model="itemRealisasi.bultah"
                    append-icon="calendar"
                    clear-button
                    display-format="MMMM YYYY"
                    format="YYYY-MM"
                    required
                    view-mode="month"
                    :readonly="bultahReadonly">
                    <label class="col-form-label col-lg-4">
                    BULAN &amp; TAHUN REALISASI
                    </label>
                </bs-date-time-field>
            </div>
        </div>
    </div>
    <table class="table table-sm table-valign-middle table-bordered table-outer-borderless mb-0">
        <thead class="thead-light">
            <tr>
                <th class="text-center">
                    Kode
                </th>
                <th class="text-center">
                    Account
                </th>
                <th class="text-center" style="width: 250px">
                    Deskripsi
                </th>
                <th class="text-nowrap text-center">
                    Total RAB (Rp)
                </th>
                <th class="text-nowrap text-center">
                    Akumulasi <br/>Terverifikasi <br/>(Rp)
                </th>
                <th class="text-nowrap text-center">
                    Pengajuan <br/>Realisasi (Rp)
                </th>
                <th class="text-nowrap" style="width: 200px">
                    Alasan Penolakan
                </th>
            </tr>
            
        </thead>
        <tbody>
            <template v-for="(item, row) in dataItems">
                <tr class="grey-100" :key="'rab-' + row">
                    <td class="font-weight-bold" colspan="3">
                        <span :class="item.isRealisasi === true ? 'text-info' : ''">{{ item.title }}</span>,&nbsp;
                        <span class="text-muted font-weight-normal">{{ fmtJadwal(item) }}</span>
                    </td>
                    <td class="text-nowrap text-right font-weight-bold"
                        x-ms-format-detection="none">
                    {{ moneyFormat(item.anggaran) }}
                    </td>
                    <td class="text-nowrap text-right font-weight-bold"
                        x-ms-format-detection="none">
                    {{ sumTotalVerifiedSubRealisasi(item) }}
                    </td>
                    <td v-if="showRealisasi"
                        x-ms-format-detection="none" 
                        colspan="2">&nbsp;</td>
                </tr>
                <tr v-for="child in item.children" :key="child.account.code + '-' + child.id">
                    
                    <td class="text-nowrap"
                        x-ms-format-detection="none">
                        {{ child.account.code }}
                    </td>
                    <td class="text-nowrap">
                        {{ child.account.name }}
                    </td>
                    <td>
                        <div class="text-truncate" style="width: 350px">
                            {{ child.title }}
                        </div>
                    </td>
                    
                    <td class="text-nowrap text-right"
                        x-ms-format-detection="none">
                    {{ moneyFormat(child.anggaran) }}
                    </td>
                    <td class="text-nowrap text-right"
                        x-ms-format-detection="none">
                    {{ countRealisasi(child) }}
                    </td>
                    <td class="text-nowrap text-right" x-ms-format-detection="none">
                        <bs-number-field 
                            v-show="itemRealisasi.postData[child.idSub+'_'+child.id]" 
                            v-model="itemRealisasi.postData[child.idSub+'_'+child.id]" 
                            :locale="getLocale" 
                            prepend-icon="trash-alt" 
                            @input="calcAkumulasiVerifikasi">
                            <span slot="prependSlot" class="md-icon-text">Rp:</span>
                        </bs-number-field>
                    
                    </td>
                    <td style="width: 200px">
                        {{ rejectedComments[child.idSub+'_'+child.id] ? rejectedComments[child.idSub+'_'+child.id] : '-' }}
                    </td>
                </tr>
            </template>
            <tr class="grey-100">
                <td class="font-weight-bold text-right" :colspan="3">
                    JUMLAH TOTAL
                </td>
                <td class="text-nowrap text-right font-weight-bold"
                    x-ms-format-detection="none">
                    <!-- sumTotalRab -->
                    {{ moneyFormat(totalRab) }}
                </td>
                <td class="text-nowrap text-right font-weight-bold"
                    x-ms-format-detection="none">
                    <!-- sumTotalRealisasi -->
                    {{ moneyFormat(totalVerified) }}
                </td>

                <td v-show="(totalVerified + totalRencanaRealisasi) > totalAnggaran"
                    class="text-nowrap text-right font-weight-bold"
                    x-ms-format-detection="none" 
                    style="color: red;">
                    {{ moneyFormat(totalRencanaRealisasi) }}
                </td>
                <td v-show="(totalVerified + totalRencanaRealisasi) <= totalAnggaran" 
                    class="text-nowrap text-right font-weight-bold"
                    x-ms-format-detection="none" 
                    style="color: #000000;">
                    {{ moneyFormat(totalRencanaRealisasi) }}
                </td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>

    <div style="float: right; margin: 10px 15px;">
        <bs-button 
            color="primary" 
            :disabled="gridLoader || (totalVerified + totalRencanaRealisasi) > totalAnggaran" 
            @click="doBatchSave('rejected')">
          Submit
        </bs-button>
        <bs-button 
            color="danger" 
            :disabled="gridLoader" 
            @click="backToRabKegiatan">
            Batal
        </bs-button>
    </div>
    <bs-mask-loader :opacity="0"
                    :show="gridLoader"
                    :spinner-diameter="50" />
  </div>
</template>

<script>
import Vue from "vue";
import VueSwal  from "vue-swal";
import { sumBy } from "lodash";
import { BsStore, Helper } from "vue-bs4";
import appLocale from "../../mixins/appLocale";
import formatUtils from "../../mixins/formatUtils";
import httpErrorResponse from "../../mixins/httpErrorResponse";
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import { STATE_SUCCESS, STATE_ERROR } from "../../store/modules/mutation-types";
import mapStoreUserProfile from "../../mixins/mapStoreUserProfile";
Vue.use(VueSwal);

export default {
    name: "GridItemRealisasiRejected",
    mixins: [appLocale, formatUtils, httpErrorResponse, mapStoreUserProfile],
    data: () => ({
        gridLoader: false,
        itemRealisasi: {},
        totalAnggaran: 0,
        totalVerified: 0,
        totalRencanaRealisasi: 0,
        bultahReadonly: false,
        totalRab: 0,
        rejectedComments: {}
    }),
    created() {
        this.itemRealisasi.idKegiatan = parseInt(this.$route.params.id);
        this.itemRealisasi.postData = {};
    },
    props: {
        actionColumn: Boolean,
        realisasiAction: Boolean,
        canEdit: Boolean,
        canDelete: Boolean,
        canUpdateRealisasi: Boolean,
        closed: Boolean,
        loader: {
            type: Boolean,
            default: true
        },
        dataSource: {
            type: BsStore,
            default: undefined
        },
        idKegiatan: {
            type: [Number, String],
            default: undefined,
            validator: v => !isNaN(parseInt(v, 10))
        },
        mgtFee: {
            type: [Number, String],
            default: 5,
            validator: v => !isNaN(parseInt(v, 10))
        }
    },
    computed: {
        /**
         * Get datasource items.
         *
         * @return {Object[]} Collection of data model
         */
        dataItems() {
            return this.dataSource.dataItems;
        },
        managementFee() {
            if (this.closed && this.rabHasItems) {
                return this.percentFormat(this.dataSource.dataItems[0].children[0].mgtFeeConst);
            }

            return this.percentFormat(this.mgtFee);
        },
        rabHasItems() {
            return (this.dataSource.dataItems.length > 0) && (this.dataSource.dataItems[0].children.length > 0);
        },
        showRealisasi() {
            return (this.dataSource.dataItems.length > 0) && (this.dataSource.dataItems[0].children.length > 0);
        },
    },
    methods: {
        calcAkumulasiVerifikasi($input) {

            const $preRealisasiValue = Object.values(this.itemRealisasi.postData);
            this.totalRencanaRealisasi = 0;
            $preRealisasiValue.forEach(($val) => {
                this.totalRencanaRealisasi+= $val;
            });
                //console.log($input, this.totalVerified);
            
        },

        /**
         * menyimpan data realisasi dan mensubmit nya secara masal
         * @param $status
         */
        doBatchSave($status) {
            if (!this.itemRealisasi.hasOwnProperty('bultah') || 
                Helper.isEmpty(this.itemRealisasi.bultah)) {
                this.$notification.error('Bulan dan Tahun realisasi tidak boleh kosong', STATE_ERROR);
                return false;
            }
            if (Helper.isEmptyObject(this.itemRealisasi.postData)) {
                this.$notification.error('Data realisasi tidak boleh kosong!', STATE_ERROR);
                return false;
            }
            
            let $totalPreRealisasi = this.__isTotalPreRealisasiAllowed(this.itemRealisasi.postData);
            if (!this.__isTotalPreRealisasiAllowed(this.itemRealisasi.postData)) {
                const $errMsg = 'Nilai Realisasi yang anda ajukan melebihi nilai sisa anggaran. Harap ajukan permintaan dana baru.';
                this.$notification.error($errMsg, STATE_ERROR);
                return false;
            }
            
            
            //sweetalert confirmation box
            this.$swal({
                text: 'Apakah anda yakin perbaikan realisasi sudah benar?',
                icon: 'warning',
                buttons: true
            }).then(($pressed) => {
                if ($pressed) {
                    const $url = '/kegiatan/pengelolaan/item-realisasi/batch-save-realisasi'
                    this.gridLoader= true;
                    
                    this.itemRealisasi.context = $status;
                    this.itemRealisasi.identifier = this.getUserProfile.email;
                    this.$http.post($url, this.itemRealisasi).then(($response) => {
                        const $resp = $response.data;
                        if ($resp.success == true) {
                            this.$notification.success($resp.data.message, STATE_SUCCESS);
                            this.backToRabKegiatan();
                        } else {
                            this.$notification.error($resp.message, STATE_ERROR);
                        }

                        this.gridLoader= false;
                    }).catch(($error) => {
                        this.gridLoader= false;
                    });
                }
            });
        },
        
        /**
         * back to list data sub kegiatan
         */
        backToRabKegiatan() {
            let $kegiatanId = this.$route.params.id;
            this.$router.push('/kegiatan/pengelolaan/'+ $kegiatanId +'/rab');
        },
        
        /**
         * Format teks jadwal pelaksanaan Subkegiatan pada gridCell.
         *
         * @param {SubKegiatanModel} item Data model subkegiatan
         * @return {string} Formatted string
         */
        fmtJadwal(item) {
            let fmt = '';

            if (!Helper.isEmpty(item)) {
                let y2   = null;
                const y1 = this.dateFormat(item.tanggalMulai, 'YYYY');

                if (!Helper.isEmpty(item.tanggalAkhir)) {
                    y2 = this.dateFormat(item.tanggalAkhir, 'YYYY');
                }
                if (y1 === y2) {
                    fmt = this.dateFormat(item.tanggalMulai, 'DD MMMM');
                    fmt += ' s.d ' + this.dateFormat(item.tanggalAkhir, this.formatConst.fullDate);
                } else {
                    fmt = this.dateFormat(item.tanggalMulai, this.formatConst.fullDate);
                    if (!Helper.isEmpty(item.tanggalAkhir)) {
                        fmt += ' s.d ' + this.dateFormat(item.tanggalAkhir, this.formatConst.fullDate);
                    }
                }
            }

            return fmt;
        },

        /**
         * Hitung total realisasi sub kegiatan.
         *
         * @param {SubKegiatanModel} item Data model subkegiatan
         * @return {number|string}
         */
        sumTotalVerifiedSubRealisasi(item) {
            //console.log(item);
            let totalSub = 0.0;
            if (!Helper.isEmpty(item.verifiedSubRealisasi)) {
                totalSub = item.verifiedSubRealisasi;
            }
            return this.moneyFormat(totalSub);
        },

        subKegiatanBadge(item) {
            if (item.isRealisasi === true) {
                return {display: true, color: 'info-color', icon: 'fas fa-info'};
            } else {
                return {display: false, color: null, icon: ''};
            }
        },
        
        countRealisasi(item) {
            let totalSub = 0.0;
            if (!Helper.isEmpty(item.verifiedRealisasi)) {
                totalSub = item.verifiedRealisasi;
            }
            return this.moneyFormat(totalSub);
        },
        
        /**
         * Load data RAB from remote server.
         *
         * @return {void}
         */
        load() {
            if (!Helper.isEmpty(this.idKegiatan)) {
                this.gridLoader = true;
                this.dataSource.fetch(this.idKegiatan).then($resp => {
                    this.gridLoader = false;
                    
                    this.__initVariable($resp.data.data);
                    this.__loadDataRealisasi(this.idKegiatan);
                }).catch((error) => {
                    this.gridLoader = false;
                    this.showErrorMessage(error);
                });
            }
        },

        /**
         * inisialisasi variabel
         */
        __initVariable($data) {
            this.totalVerified = sumBy($data, 'verifiedSubRealisasi');
            this.totalAnggaran = sumBy($data, 'anggaran');
            this.totalRab = this.totalAnggaran;
            console.log($data);
        },

        /**
         * get data realisasi from remote server
         * @param $idKegiatan
         */
        __loadDataRealisasi($idKegiatan) {
            // jika parameter bultah di isi
            const $bultah = this.$route.params.bultah;
            if ($bultah) {
                const $url = '/kegiatan/pengelolaan/item-realisasi/get-realisasi'
                let $data = {
                    idKegiatan: $idKegiatan, 
                    bultah: $bultah,
                    state: 'REALISASI_REJECTED'
                };

                this.gridLoader= true;
                this.$http.post($url, $data).then(($response) => {
                    this.gridLoader= false;
                    const $resp = $response.data;
                    console.log($resp.data);

                    this.itemRealisasi.bultah = $bultah;
                    this.bultahReadonly = true
                    this.__buildDataRealisasiParam($resp.data);
                }).catch(($error) => {
                    this.gridLoader= false;
                });
            }
        },

        __buildDataRealisasiParam($dataRealisasi) {
            $dataRealisasi.forEach(($obj, $idx) => {
                this.totalRencanaRealisasi+= parseFloat($obj.realisasi);
                this.itemRealisasi.postData[$obj.id_subkegiatan+'_'+$obj.id_rab] = parseFloat($obj.realisasi);
                this.rejectedComments[$obj.id_subkegiatan+'_'+$obj.id_rab] = $obj.keterangan;
            })
        },

        /**
         * check nilai realisasi tidak boleh lebih dari nilai anggaran
         * @param $arrRealisasi
         * @return int;
         */
        __isTotalPreRealisasiAllowed($arrRealisasi) {
            const $arrPreRealisasi = Object.values($arrRealisasi);
            let $preRealisasi = 0;
            $arrPreRealisasi.forEach(($val, $idx) => {
                $preRealisasi+= $val;
            })

            const $sisaAnggaran = (this.totalAnggaran - this.totalVerified);
            return $preRealisasi > $sisaAnggaran ? false : true;
        },
    }
}
</script>

<style scoped>
    .realisasiOverBadge { color: red !important; }
</style>
