<template>
  <div>
    <h6>Ringkasan Umum</h6>
    <div v-if="mode==='view'" class="row">
      <div class="col col-12">
        <div v-if="narasi" class="align-baseline m-1">
          {{ narasi }}
        </div>
        <span v-else class="text-muted font-italic align-baseline m-2">
          Belum ada ringkasan umum
        </span>
      </div>
      <div class="col">
        <bs-button v-if="canEdit"
                   color="teal"
                   @click="setEditMode"
                   size="sm"
                   outlined
                   class="btn btn-inner m-1"
                   icon="pen">
          Sunting
        </bs-button>
      </div>
    </div>
    <div v-else>
      <table class="table table-md table-bordered">
        <tr>
          <td>
            <bs-text-field v-model="newNarasi"
                           placeholder="Narasi pencapaian untuk tahun ini"
                           maxlength="500" />
          </td>
        </tr>
        <tr>
          <td>
            <bs-button color="success"
                       @click="editAction"
                       size="sm"
                       icon="pen">
              Simpan
            </bs-button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
export default {
    name: "NarasiCapaianKpi",
    data: () => ({
        mode: 'view',
        newNarasi: ''
    }),
    props: {
        narasi: {
            type: String,
            default: null
        },
        canEdit: {
            type: Boolean,
            default: false
        },
    },
    methods: {
        setEditMode() {
            this.mode = 'edit'
            this.newNarasi = this.narasi
        },
        editAction() {
            this.$emit('narasiUpdate', this.newNarasi);
            this.mode = 'view'
        },
    }
}
</script>

<style scoped>

</style>
