<template>
  <div class="body-container">
    <div v-if="hasEditorAccessRights" class="pb-3">
      <bs-button color="amber"
                 href="#/master-data/data-reference/create"
                 icon="plus-circle"
                 icon-position="left"
                 raised>
        Tambah Baru
      </bs-button>
    </div>

    <bs-card shadow>
      <bs-grid :data-source="dataSource"
               :filterable="{minlength: 3, operator: 'contains', immediate: false, placeholder: false}"
               ref="datagrid"
               pageable
               row-hover
               sortable>
        <bs-grid-column :filterable="{enabled: false, button: true}"
                        row-numbering
                        text-align="right"
                        width="50" />
        <bs-grid-column field="parent.name" label="Group" />
        <bs-grid-column field="name" label="Nama Referensi" min-width="300" />
        <bs-grid-column field="code" label="Kode" width="140" />
        <bs-grid-column :sortable="false"
                        :text-align="cellTindakanAlignment"
                        :width="cellTindakanWidth"
                        label="Tindakan" />

        <template v-slot:datarow="{ columns, item, index }">
          <bs-grid-cell-numbering :column="columns[0]" :index="index" />
          <bs-grid-cell :column="columns[1]" :item="item" :index="index" />
          <bs-grid-cell :column="columns[2]" :item="item" :index="index" />
          <bs-grid-cell :column="columns[3]" :item="item" :index="index" />
          <bs-grid-cell :column="columns[4]" :item="item" :index="index">
            <bs-button v-tooltip="{content:'Lihat Detail', placement:'top'}"
                       :href="doView(item.id)"
                       size="xs"
                       color="default"
                       icon="eye"
                       icon-position="left"
                       outlined />
            <bs-button v-tooltip="{content:'Sunting Data', placement:'top'}"
                       v-if="hasEditorAccessRights"
                       :href="doEdit(item.id)"
                       size="xs"
                       color="primary"
                       icon="pen"
                       icon-position="left"
                       outlined />
            <bs-button v-tooltip="{content:'Hapus Data', placement:'top'}"
                       v-if="item.protected === false && hasDeleteAccessRights"
                       size="xs"
                       color="danger"
                       icon="trash-alt"
                       icon-position="left"
                       @click="confirmDelete(item)"
                       outlined />
          </bs-grid-cell>
        </template>
      </bs-grid>
    </bs-card>

    <bs-modal :open.sync="isModalOpen"
              :overlay-close="false"
              max-width="85%"
              title="Konfirmasi"
              width="400">
      Apakah anda yakin akan menghapus <b>{{ dataReference.name }}</b> dari database?
      <template v-slot:footer>
        <bs-button color="secondary"
                   outlined
                   @click="isModalOpen = false">
          Batal
        </bs-button>
        <bs-button color="danger" @click="doDelete">
          Hapus
        </bs-button>
      </template>
    </bs-modal>
    <bs-mask-loader :show="dataReference.deleting"
                    :opacity="0"
                    :spinner-diameter="50" />
  </div>
</template>

<script>
import { BsStore } from "vue-bs4";
import { DataReferenceModel } from "../../../../models/MasterData/DataReference/DataReferenceModel";
import { PAGE_SIZE, STATE_SUCCESS } from "../../../../store/modules/mutation-types";
import defaultRouteGuard from "../../../../mixins/security/defaultRouteGuard";
import httpErrorResponse from "../../../../mixins/httpErrorResponse";

export default {
    name: 'GridDataReference',
    mixins: [defaultRouteGuard, httpErrorResponse],
    data: () => ({
        dataReference: new DataReferenceModel(),
        dataSource: new BsStore({
            idProperty: 'id',
            dataProperty: 'data',
            totalProperty: 'total',
            pageSize: PAGE_SIZE,
            restUrl: {
                browse: '/master-data/data-reference'
            }
        }),
        isModalOpen: false
    }),
    computed: {
        /**
         * Calculate column Tindakan cell alignment.
         *
         * @return {string|null} Cell alignment
         */
        cellTindakanAlignment(){
            return this.hasEditorAccessRights || this.hasDeleteAccessRights ? null : 'center';
        },
        /**
         * Calculate column Tindakan cell width.
         *
         * @return {number} Cell width
         */
        cellTindakanWidth() {
            return this.hasEditorAccessRights && this.hasDeleteAccessRights ? 120 : 90;
        }
    },
    created() {
        this.dataSource.setFilters([
            {property: 'parent', value: null, operator: 'neq'}
        ]);
    },
    beforeDestroy() {
        this.dataReference.destroy();
        this.dataReference = null;
        this.dataSource.destroy();
        this.dataSource = null;
    },
    methods: {
        /**
         * Menampilkan konfirmasi dialog untuk menghapus record Data Reference.
         *
         * @param {Object} item Record dataref yang akan dihapus
         * @return {void}
         */
        confirmDelete(item) {
            this.dataReference.assignValues(item);
            this.isModalOpen = true;
        },
        /**
         * Proses delete Data Reference.
         *
         * @return {void}
         */
        doDelete() {
            this.isModalOpen = false;

            this.dataReference.delete().then((resp) => {
                this.$notification.success(resp.data.message, STATE_SUCCESS);
                this.$refs.datagrid.reload();
            }).catch((error) => {
                this.showErrorMessage(error);
            });
        },
        /**
         * Proses sunting data Data Reference.
         *
         * @param {int} id Data referensi ID
         * @return {string} Route url
         */
        doEdit(id) {
            return "#/master-data/data-reference/edit/" + id;
        },
        /**
         * Proses detail data Data Reference.
         *
         * @param {int} id Data referensi ID
         * @return {string} Route url
         */
        doView(id) {
            return "#/master-data/data-reference/view/" + id;
        }
    }
}
</script>

<style scoped>

</style>
