<template>
  <div class="body-container" style="padding: 0;">
    <bs-card shadow :flat="true">
      <bs-card-body>
        <div class="row">
          <div class="col-xl-12">
            <div class="form-group">
              <bs-date-time-field 
                v-model="tahun" 
                format="YYYY" 
                view-mode="year" 
                append-icon="calendar"
                @change="updateData(tahun, programId)">
                <label class="col-form-label col-lg-3">
                  Tahun
                </label>
              </bs-date-time-field>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-12">
            <div class="form-group">
              <bs-combobox 
                v-model="programId" 
                :data-source="dsProgram">
                <label class="col-form-label col-lg-3">
                  Program
                </label>
              </bs-combobox>
            </div>
          </div>
        </div>
      </bs-card-body>
    </bs-card>

    <div id="graph" class="w-100 h-100">
    </div>
      
    <bs-mask-loader :opacity="0" :show="loading" :spinner-diameter="50" />
  </div>
</template>

<script>
import { BsStore, Helper } from "vue-bs4";
import httpErrorResponse from "../../../mixins/httpErrorResponse";
import Highcharts from "highcharts";

export default {
    name: "KurvaS",
    mixins: [httpErrorResponse],
    data: () => ({
        loading: false,
        tahun: null,
        dsProgram: {
            schema: {
                displayField: 'name',
                valueField: 'msid',
            },
            proxy: new BsStore({
                idProperty: 'msid',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    browse: '/master-data/program-csr'
                }
            })
        },
        defaultOption: {
            credits: {
                enabled: false,
            },
            title: {
                text: null,
            },
            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun',
                    'Jul', 'Agu', 'Sep', 'Okt', 'Nov', 'Des'],
                title: {
                    text: 'Bulan',
                },
            },
            yAxis: [
                { // axis 1, progress percent
                    min: 0,
                    max: 100,
                    title: {
                        text: "Rencana dan capaian Progress kegiatan",
                    },
                    labels: {
                        format: '{value} %',
                    }
                },
                { // axis 2, budget realisation
                    title: {
                        text: "Serapan anggaran kegiatan"
                    },
                    labels: {
                        format: 'Rp. {value}'
                    },
                    opposite: true
                }
            ],
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },
            chart: {
                type: "spline",
                style: {
                    fontFamily: 'Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif'
                }
            },
            pane: {
                background: null,
                size: '97%',
            },
            series: [
                {
                    name: 'Rencana',
                    data: [],

                },
                {
                    name: 'Realisasi',
                    data: []
                },
                {
                    name: 'Serapan',
                    data: [],
                    yAxis: 1
                },

            ]
        },
        chart : null,
    }),

    // computed property
    computed: {
        programId: {
            get() {
                return null;
            },
            set(value) {
                this.updateData(this.tahun, value);
            }
        }
    },
    methods: {
        // get DPT location from server
        updateData(tahun, programId) {
            if (tahun) {
                let wsUrl;
                if (programId) {
                    wsUrl = 'kegiatan/chart/' + tahun + '/program/' + programId;
                } else {
                    wsUrl = 'kegiatan/chart/' + tahun + '/bidang/2';
                }
                this.loading = true;
                this.$http.get(wsUrl).then(response => {
                    const chartData = response.data.data;
                    this.renderChart(chartData);
                    this.loading = false;
                }).catch(err => {
                    this.loading = false;
                });
            }
        },

        // render the chart
        renderChart(chartData){
            if (this.chart) {
                this.chart.setTitle({text: chartData.judul});
                let maxSerapan = chartData.maxSerapan;
                let rencana = [];
                let realisasi = [];
                let serapan = [];
                if (chartData.data.length > 0){
                    chartData.data.map(elmt => {
                        let bulan = elmt.bulan-1;
                        rencana[bulan] = elmt.rencana;
                        realisasi[bulan] = elmt.realisasi;
                        serapan[bulan] = elmt.serapan;
                    });
                    this.chart.series[0].setData(rencana);
                    this.chart.series[1].setData(realisasi);
                    this.chart.series[2].setData(serapan);
                    //this.chart.yAxis[1].max = maxSerapan;
                }
            }
        }

    },
    mounted() {
        this.chart = Highcharts.chart('graph', this.defaultOption);
    }
}
</script>

<style scoped>

</style>
