<template>
  <div class="body-container" style="padding: 0;">
      <bs-card shadow :flat="true">
          <bs-card-body>
              <div class="row">
                  <div class="col-xl-12">
                      <div class="form-group">
                          <bs-date-time-field
                                  v-model="tahun"
                                  format="YYYY"
                                  view-mode="year"
                                  append-icon="calendar"
                                  @change="updateData">
                              <label class="col-form-label col-lg-3">
                                  Tahun
                              </label>
                          </bs-date-time-field>
                      </div>
                  </div>
              </div>
          </bs-card-body>
      </bs-card>

      <div id="graph" class="w-100 h-100">
      </div>

      <bs-mask-loader :opacity="0" :show="loading" :spinner-diameter="50" />
  </div>
</template>

<script>
import { BsStore, Helper } from "vue-bs4";
import httpErrorResponse from "../../../mixins/httpErrorResponse";
import Highcharts from "highcharts";

export default {
    name: "Rekap",
    mixins: [httpErrorResponse],
    data: () => ({
        loading: false,
        defaultOption: {
            credits: {
                enabled: false,
            },
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Bidang CSR'
            },
            subtitle: {
                text: 'Overview Progress Kegiatan'
            },
            xAxis: {
                type: 'category',
                title: {
                    text: 'Program CSR'
                }
            },
            yAxis: {
                min: 0,
                max: 100,
                title: {
                    text: 'Progress Kegiatan (%)',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ' %'
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 80,
                floating: false,
                borderWidth: 1,
                backgroundColor: Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
                shadow: true
            },
            series: [{
                name: 'Capaian',
                data: null
            }],
            pane: {
                background: null,
                size: '97%',
            },
        },
        chart : null,
        tahun : null,
        bidang : 2 // bidang pendidikan
    }),

    methods: {
        updateData() {
            let wsUrl = 'kegiatan/chart/rekap';
            if (this.tahun) {
                wsUrl += '/' + this.tahun + '/2'; // bidang pendidikan
            }
            this.loading = true;
            this.$http.get(wsUrl).then(response => {
                const chartData = response.data.data;
                this.renderChart(chartData);
                this.loading = false;
            }).catch(err => {
                this.loading = false;
            });
        },

        // render the chart
        renderChart(chartData){
            if (this.chart) {
                this.chart.setTitle({text: chartData.judul});
                let progress = [];
                if (chartData.data.length > 0){
                    progress = chartData.data;
                    this.chart.series[0].setData(progress);
                }
            }
        }

    },
    mounted() {
        this.chart = Highcharts.chart('graph', this.defaultOption);
        this.updateData();
    }
}
</script>

<style scoped>

</style>
