<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div>
        <bs-modal :esc-close="false"
                  :maxWidth="'100%'"
                  :open.sync="openModalDelete"
                  :overlay-close="false"
                  :width="450"
                  title="Konfirmasi">
            <div style="overflow-wrap: break-word;">
                Apakah anda yakin akan menghapus data source <strong>{{ itemData.sourceName }}</strong> ini?
            </div>
            <template v-slot:footer="">
                <bs-button color="secondary" outlined v-on:click="openModalDelete = false">Batal</bs-button>
                <bs-button @click="modalAction('delete')" color="danger">Hapus</bs-button>
            </template>
        </bs-modal>

        <bs-modal :esc-close="true"
                  :line="0"
                  :maxWidth="'100%'"
                  :open.sync="openModalPreview"
                  :overlay-close="true"
                  :padding="5"
                  :title="this.itemData.sourceName"
                  :width="800">
                <div class="table-responsive" style="min-height: 250px; position: relative">
                    <table class="table table-striped table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th v-for="(column, index) in columns" :key="index">{{column}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in values" :key="index">
                                <td v-for="(column, indexColumn) in columns" :key="indexColumn">{{item[column]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <bs-mask-loader :show="source"
                                :opacity="0"
                                :spinner-diameter="50" />
            <template v-slot:footer="">
                <bs-button @click="openModalPreview = false"
                           color="secondary"
                           outlined>
                    Batal
                </bs-button>
            </template>
        </bs-modal>
    </div>
</template>

<script>
    import Helper from "vue-bs4/src/utils/Helper";

    export default {
        name: "ModalDialogDataSource",
        props: {
            itemData: {
                type: Object,
                default: undefined,
                required: true
            },
            showModalDelete: {
                type: Boolean,
                default: false,
                required: true
            },
            showModalPreview: {
                type: Boolean,
                default: false,
                required: true
            }
        },
        data: () => ({
            columns: [],
            values: [],
            source: false,
        }),
        computed: {
            openModalDelete: {
                get() {
                    return this.showModalDelete;
                },
                set(value) {
                    this.$emit('update:showModalDelete', value);
                }
            },
            openModalPreview: {
                get() {
                    if (!Helper.isEmpty(this.itemData.sourceId)){
                        this.load();
                    }
                    return this.showModalPreview;
                },
                set(value) {
                    this.$emit('update:showModalPreview', value);
                }
            },
        },
        methods: {
            /**
             * Fire event on modal dialog button's clicked.
             *
             * @param {String} name The action name
             * @return {void}
             */
            modalAction(name) {
                this.$emit(name);
            },
            load() {
                let url = '/master-data/konfigurasi-kpi/data-source/query/' + this.itemData.sourceId;
                this.source = true;
                try {
                    this.$http.get(url).then($response => {
                        let result = $response.data;
                        if (!Helper.isEmpty(result.data)) {
                            this.columns = result.data.columns;
                            this.values = result.data.values;
                        } else {
                            this.columns = null;
                            this.values = null;
                        }
                        this.source = false;
                    });
                } catch (e) {
                    this.showErrorMessage(e);
                    this.source = false;
                }
            }
        }
    }
</script>

<style scoped>

</style>
