<template>
    <div class="body-container">
        <bs-card shadow>
            <bs-card-body>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-row">
                            <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                                PROGRAM CSR
                            </label>
                            <label class="col-md-9 font-weight-bold pt-1 text-md-right text-lg-left">
                                {{ getProgram }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-row">
                            <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                                BATCH
                            </label>
                            <label class="col-md-9 font-weight-bold pt-1 text-md-right text-lg-left">
                                {{ getBatch }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-row">
                            <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                                TAHUN
                            </label>
                            <label class="col-md-9 font-weight-bold pt-1 text-md-right text-lg-left">
                                {{ getTahun }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-row">
                            <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                                KEGIATAN
                            </label>
                            <label class="col-md-9 font-weight-bold pt-1 text-md-right text-lg-left">
                                {{ getKegiatan }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-row">
                            <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                                MITRA
                            </label>
                            <label class="col-md-9 font-weight-bold pt-1 text-md-right text-lg-left">
                                {{ getMitra }}
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-row" x-ms-format-detection="none">
                            <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                                STATUS
                            </label>
                            <div class="col-md-9 text-md-right text-lg-left">
                                <bs-badge :color="workflowConfigurer.badgeColor(finalisasi)" type="label">
                                    {{ workflowConfigurer.majorPlaceMark(finalisasi) }}
                                </bs-badge>
                            </div>
                        </div>
                    </div>
                </div>
            </bs-card-body>
        </bs-card>

        <bs-card shadow class="mt-2">
            <bs-card-body>
                <div class="row">
                    <div class="col-xl-8">
                        <label class="col-form-label pt-1 font-weight-bold">
                            Judul Laporan
                        </label>
                        <div class="mb-2">
                            {{ finalisasi.judul }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <label class="col-form-label pt-1 font-weight-bold">
                            Latar Belakang
                        </label>
                        <div class="mb-2">
                            {{ finalisasi.latarbelakang }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <label class="col-form-label pt-1 font-weight-bold">
                            Tujuan Program
                        </label>
                        <div class="mb-2">
                            {{ finalisasi.tujuanprogram }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <label class="col-form-label pt-1 font-weight-bold">
                            Outcome dan Dampak Program
                        </label>
                        <div class="mb-2">
                            {{ finalisasi.outcome }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <label class="col-form-label pt-1 font-weight-bold">
                            Ruang Lingkup
                        </label>
                        <div class="mb-2">
                            {{ finalisasi.ruanglingkup }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <label class="col-form-label pt-1 font-weight-bold">
                            Pemangku Kepentingan Utama
                        </label>
                        <div class="mb-2">
                            {{ finalisasi.pemangkukepentingan }}
                        </div>
                    </div>
                </div>

            </bs-card-body>
        </bs-card>

        <bs-card>
            <bs-card-body>
                <div class="row">
                    <div class="col-md border-right">
                        <dl class="form-row mb-0">
                            <dt class="col-xl-5">
                                Dibuat Oleh:
                            </dt>
                            <dd class="col-xl-7">
                                {{ data.created_by ? data.created_by.fullName : '' }}
                            </dd>
                            <dt class="col-xl-5">
                                Tanggal:
                            </dt>
                            <dd class="col-xl-7">
                                {{ data.created_date ? dateFormat(data.created_date, formatConst.dateTimeCustom) : '' }}
                                &nbsp;
                            </dd>
                            <dt class="col-xl-5">
                                Diajukan (1) oleh:
                            </dt>
                            <dd class="col-xl-7">
                                {{ data.presubmitted_by ? data.presubmitted_by.fullName : '' }}
                            </dd>
                            <dt class="col-xl-5">
                                Tanggal:
                            </dt>
                            <dd class="col-xl-7">
                                {{ data.presubmitted_date ? dateFormat(data.presubmitted_date, formatConst.dateTimeCustom) : '' }}
                                &nbsp;
                            </dd>
                            <dt class="col-xl-5">
                                Diajukan (2) oleh:
                            </dt>
                            <dd class="col-xl-7">
                                {{  data.submitted_by ? data.submitted_by.fullName : ''  }}
                            </dd>
                            <dt class="col-xl-5">
                                Tanggal:
                            </dt>
                            <dd class="col-xl-7">
                                {{ data.submitted_date ? dateFormat(data.submitted_date, formatConst.dateTimeCustom) : '' }}
                                &nbsp;
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md border-right">
                        <dl class="form-row mb-0">
                            <dt class="col-xl-5">
                                Diverifikasi (1) Oleh:
                            </dt>
                            <dd class="col-xl-7">
                                {{ data.verified1_by ? data.verified1_by.fullName : '' }}
                            </dd>
                            <dt class="col-xl-5">
                                Tanggal:
                            </dt>
                            <dd class="col-xl-7">
                                {{ data.verified1_date ? dateFormat(data.verified1_date, formatConst.dateTimeCustom) : '' }}
                                &nbsp;
                            </dd>
                            <dt class="col-xl-5">
                                Diverifikasi (2) oleh:
                            </dt>
                            <dd class="col-xl-7">
                                {{ data.verified2_by ? data.verified2_by.fullName : '' }}
                            </dd>
                            <dt class="col-xl-5">
                                Tanggal:
                            </dt>
                            <dd class="col-xl-7">
                                {{ data.verified2_date ? dateFormat(data.verified2_date, formatConst.dateTimeCustom) : '' }}
                                &nbsp;
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <dl class="form-row mb-0">
                            <dt class="col-xl-5">
                                Diapprove (1) Oleh:
                            </dt>
                            <dd class="col-xl-7">
                                {{ data.approved1_by ? data.approved1_by.fullName : '' }}
                            </dd>
                            <dt class="col-xl-5">
                                Tanggal:
                            </dt>
                            <dd class="col-xl-7">
                                {{ data.approved1_date ? dateFormat(data.approved1_date, formatConst.dateTimeCustom) : '' }}
                                &nbsp;
                            </dd>
                        </dl>
                        <dl class="form-row mb-0">
                            <dt class="col-xl-5">
                                Diapprove (2) Oleh:
                            </dt>
                            <dd class="col-xl-7">
                                {{ data.approved2_by ? data.approved2_by.fullName : '' }}
                            </dd>
                            <dt class="col-xl-5">
                                Tanggal:
                            </dt>
                            <dd class="col-xl-7">
                                {{ data.approved2_date ? dateFormat(data.approved2_date, formatConst.dateTimeCustom) : '' }}
                                &nbsp;
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md border-right">
                        <dl class="form-row mb-0">
                            <dt class="col-xl-5">
                                Diapprove (3) Oleh:
                            </dt>
                            <dd class="col-xl-7">
                                {{ data.approved3_by ? data.approved3_by.fullName : '' }}
                            </dd>
                            <dt class="col-xl-5">
                                Tanggal:
                            </dt>
                            <dd class="col-xl-7">
                                {{ data.approved3_date ? dateFormat(data.approved3_date, formatConst.dateTimeCustom) : '' }}
                                &nbsp;
                            </dd>
                        </dl>
                    </div>
                </div>
            </bs-card-body>
            <bs-card-footer>
                <bs-button color="primary" href="#/kegiatan/finalisasi">
                    Kembali
                </bs-button>
            </bs-card-footer>
        </bs-card>
        <bs-mask-loader :opacity="0"
                        :show="finalisasi.loading"
                        :spinner-diameter="50"/>
    </div>
</template>

<script>
import appLocale from "../../../../mixins/appLocale";
import httpErrorResponse from "../../../../mixins/httpErrorResponse";
import formatUtils from "../../../../mixins/formatUtils";
import defaultRouteGuard from "../../../../mixins/security/defaultRouteGuard";
import {FinalisasiModel} from "../../../../models/Kegiatan/Pengelolaan/FinalisasiModel";
import FinalisasiWorkflowConfigurer from "../../../../models/Kegiatan/Pengelolaan/FinalisasiWorkflowConfigurer";

export default {
    name: "ViewFinalisasi",
    mixins: [ appLocale, httpErrorResponse, formatUtils, defaultRouteGuard ],
    data: () => ({
        finalisasi: new FinalisasiModel(),
        workflowConfigurer: new FinalisasiWorkflowConfigurer(),
        finalisasiId: null,
        data: {}
    }),
    computed: {
        getProgram() {
            if (this.finalisasi.kegiatan) {
                return this.finalisasi.kegiatan.periodeBatch.programCsr.name
            }
        },
        getBatch() {
            if (this.finalisasi.kegiatan) {
                return this.finalisasi.kegiatan.periodeBatch.namaBatch
            }
        },
        getTahun() {
            if (this.finalisasi.kegiatan) {
                return this.finalisasi.kegiatan.danaBatch.tahun
            }
        },
        getKegiatan() {
            if (this.finalisasi.kegiatan) {
                return this.finalisasi.kegiatan.namaKegiatan
            }
        },
        getMitra() {
            if (this.finalisasi.mitra) {
                return this.finalisasi.mitra.namaLembaga;
            }
        }
    },
    mounted() {
        if (this.$route.params.id) {
            this.finalisasiId = this.$route.params.id;
            this.loadFinalisasi(this.finalisasiId);
        }
    },
    methods: {
        loadFinalisasi(id){
            this.finalisasi.id = id;
            this.finalisasi.fetch().then((resp) => {
                this.data = resp.data.data;
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    //this.$router.push(this.$route.meta.previous);
                });
            });
        }

    }
}
</script>

<style scoped>

</style>