<template>
  <section class="body-container">
    <bs-card shadow>
      <bs-card-body>
        <form class="row pt-lg-3 px-lg-2" novalidate>
          <!-- left side -->
          <div class="col-xl-6">
            <div class="form-group">
              <bs-combobox v-model="individu.institusiId"
                           :data-source="comboInstitusi"
                           :external-validator="institusiIdValidator"
                           required>
                <label class="col-form-label col-lg-4">
                  Institusi
                </label>
                <template slot="itemOption" slot-scope="{ item }">
                  <bs-list-tile-content>
                    <bs-list-tile-title>{{ item.namaInstitusi }}</bs-list-tile-title>
                    <bs-list-tile-subtitle>
                      {{ fmtNamaWilayah(item) }}
                    </bs-list-tile-subtitle>
                  </bs-list-tile-content>
                </template>
              </bs-combobox>
            </div>
            <div class="form-group">
              <bs-text-field v-model="individu.namaLengkap"
                             :external-validator="namaLengkapValidator"
                             required>
                <label class="col-form-label col-lg-4">
                  Nama Lengkap
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="individu.nik"
                             :external-validator="nikValidator"
                             required>
                <label class="col-form-label col-lg-4">
                  NIK
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-button-toggle-field v-model="individu.statusJabatan"
                                      :items="statusJabatan"
                                      :external-validator="statusJabatanValidator"
                                      color="default"
                                      toggle-color="teal"
                                      size="sm"
                                      outlined
                                      required>
                <label class="col-form-label col-lg-4">
                  Status
                </label>
              </bs-button-toggle-field>
            </div>
            <div class="row mb-2">
              <label class="col-form-label col-lg-4 font-weight-bold">
                Pendidikan Terakhir
              </label>
              <div class="col col-lg-4">
                <bs-radio v-model="pilihPendidikan" value="SMA/Sederajat" name="pendidikan">
                  SMA/Sederajat
                </bs-radio>
                <bs-radio v-model="pilihPendidikan" value="S1 PAUD" name="pendidikan">
                  S1 PAUD
                </bs-radio>
              </div>
              <div class="col col-lg-4">
                <bs-radio v-model="pilihPendidikan" value="Diploma" name="pendidikan">
                  Diploma
                </bs-radio>
                <bs-radio v-model="pilihPendidikan" value="S1 Non-PAUD" name="pendidikan">
                  S1 Non-PAUD
                </bs-radio>
              </div>
              <div class="col offset-lg-4 col-lg-8">
                <bs-radio v-model="pilihPendidikan" value="" name="pendidikan">
                  <bs-text-field placeholder="Lainnya"
                                 v-model="textPendidikan"
                                 :disabled="(pilihPendidikan!=='')" />
                </bs-radio>
              </div>
            </div>
            <div class="form-group">
              <bs-text-field v-model="individu.jabatan">
                <label class="col-form-label col-lg-4">
                  Jabatan
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="individu.phone">
                <label class="col-form-label col-lg-4">
                  No. HP/Telp
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="individu.email" :external-validator="emailValidator">
                <label class="col-form-label col-lg-4">
                  Alamat Email
                </label>
              </bs-text-field>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <label class="col-form-label">
                  Media Sosial
                </label>
              </div>
              <div class="col-lg-8">
                <div class="form-group">
                  <bs-text-field v-model="individu.facebook" prepend-icon="pen">
                    <span slot="prependSlot" class="md-icon-text">Facebook:</span>
                  </bs-text-field>
                </div>
                <div class="form-group">
                  <bs-text-field v-model="individu.instagram" prepend-icon="pen">
                    <span slot="prependSlot" class="md-icon-text">Instagram:</span>
                  </bs-text-field>
                </div>
              </div>
            </div>
          </div>
          <!-- right side -->
          <div class="col-xl-6">
            <div class="form-group">
              <bs-text-field v-model="individu.tempatLahir"
                             :external-validator="tempatLahirValidator"
                             required>
                <label class="col-form-label col-lg-4">
                  Tempat Lahir
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-date-time-field v-model="individu.tanggalLahir"
                                  :external-validator="tanggalLahirValidator"
                                  :locale="getLocale"
                                  format="YYYY-MM-DD"
                                  display-format="DD MMMM YYYY"
                                  append-icon="calendar"
                                  required>
                <label class="col-form-label col-lg-4">
                  Tanggal Lahir
                </label>
              </bs-date-time-field>
            </div>
            <div class="form-group">
              <bs-button-toggle-field v-model="individu.jenisKelamin"
                                      :external-validator="jenisKelaminValidator"
                                      :items="jenisKelamin"
                                      color="default"
                                      toggle-color="teal"
                                      size="sm"
                                      outlined
                                      required>
                <label class="col-form-label col-lg-4">
                  Jenis kelamin
                </label>
              </bs-button-toggle-field>
            </div>
            <div class="form-group">
              <bs-text-area v-model="individu.alamat"
                            :external-validator="alamatValidator"
                            rows="2"
                            required>
                <label class="col-form-label col-lg-4">
                  Alamat Tinggal
                </label>
              </bs-text-area>
            </div>
            <div class="form-group">
              <bs-combobox v-model="individu.provinsiId"
                           :data-source="dsCboProvinsi"
                           :external-validator="provinsiIdValidator"
                           required>
                <label class="col-form-label col-lg-4">
                  Provinsi
                </label>
              </bs-combobox>
            </div>
            <div class="form-group">
              <bs-combobox v-model="individu.kabupatenId"
                           :data-source="dsCboKabupaten"
                           :parent-value="individu.provinsiId"
                           :external-validator="kabupatenIdValidator"
                           @data-bind="onBindKabupaten"
                           required>
                <label class="col-form-label col-lg-4">
                  Kabupaten
                </label>
              </bs-combobox>
            </div>
            <div class="form-group">
              <bs-combobox v-model="individu.kecamatanId"
                           :data-source="dsCboKecamatan"
                           :parent-value="individu.kabupatenId"
                           :external-validator="kecamatanIdValidator"
                           @data-bind="onBindKecamatan"
                           required>
                <label class="col-form-label col-lg-4">
                  Kecamatan
                </label>
              </bs-combobox>
            </div>
            <div class="form-group">
              <bs-combobox v-model="individu.kelurahanId"
                           :data-source="dsCboKelurahan"
                           :parent-value="individu.kecamatanId"
                           :external-validator="kelurahanIdValidator"
                           @data-bind="onBindKelurahan"
                           required>
                <label class="col-form-label col-lg-4">
                  Kelurahan
                </label>
              </bs-combobox>
            </div>
            <div class="row">
              <div class="col-lg-8 offset-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <bs-text-field v-model="individu.rtRw"
                                   :external-validator="rtRwValidator"
                                   prepend-icon="pen"
                                   class="form-group"
                                   placeholder="001/003">
                      <span slot="prependSlot" class="md-icon-text">RT/RW:</span>
                    </bs-text-field>
                  </div>
                  <div class="col-lg-6">
                    <bs-text-field v-model="individu.kodePos" prepend-icon="pen" class="form-group">
                      <span slot="prependSlot" class="md-icon-text">Kode Pos:</span>
                    </bs-text-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <bs-button color="primary" @click="doSave">
          Simpan
        </bs-button>
      </bs-card-footer>
    </bs-card>
    <bs-mask-loader :opacity="0"
                    :show="individu.loading || individu.updating"
                    :spinner-diameter="50" />
  </section>
</template>

<script>
import { BsStore, Helper } from "vue-bs4";
import { validationMixin } from "vuelidate";
import { PaudGuruModel } from "../../../../../models/Beneficiary/Paud/PaudGuruModel";
import {
    MSG_SAVE_SUCCESS,
    MSG_UPDATE_SUCCESS,
    SAVE,
    STATE_SUCCESS,
    UPDATE
} from "../../../../../store/modules/mutation-types";
import { GET_ACTIVE_PROGRAM } from "../../../../../store/modules/Kegiatan/mutation-types";
import {
    paudGuruSiswaValidationHandler,
    paudGuruValidator,
} from "../../../../../models/Beneficiary/Paud/PaudGuruSiswaValidator";
import appLocale from "../../../../../mixins/appLocale";
import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
import cascadeComboBoxWilayah from "../../../../../mixins/cascadeComboBoxWilayah";
import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";
import alamatValidationHandler from "../../../../../models/Beneficiary/alamatValidationHandler";
import personValidationHandler from "../../../../../models/Beneficiary/personValidationHandler";
import editorRouteGuard from "../../../../../mixins/security/editorRouteGuard";

export default {
    name: "FormPaudGuru",
    mixins: [
        validationMixin, appLocale, httpErrorResponse, editorRouteGuard, mapStoreKegiatanBeneficiary,
        cascadeComboBoxWilayah, alamatValidationHandler('individu'),
        personValidationHandler('individu'), paudGuruSiswaValidationHandler('individu')
    ],
    data: () => ({
        individu: new PaudGuruModel(),
        statusJabatan: [
            {label: 'PNS', value: 'PNS'},
            {label: 'GTY', value: 'GTY'},
            {label: 'GTT', value: 'GTT'}
        ],
        jenisKelamin: [
            {label: 'Laki-laki', value: 'L'},
            {label: 'Perempuan', value: 'P'}
        ],
        /**
         * Combo Institusi
         **/
        comboInstitusi: {
            schema: {
                displayField: 'namaInstitusi',
                valueField: 'institusiId'
            },
            proxy: new BsStore({
                idProperty: 'institusiId',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    browse: '/kegiatan/penerima-manfaat/paud/dpt'
                }
            })
        },
        pendidikanLainnya: '',
        /**
         * Jika bernilai FALSE dipergunakan untuk menambah data baru,
         * dan jika bernilai TRUE dipergunakan untuk memperbarui existing data.
         *
         * @type boolean
         */
        isEditMode: false
    }),
    computed: {
        pilihPendidikan: {
            get() {
                if (this.inSelection(this.individu.pendidikan)) {
                    return this.individu.pendidikan;
                }

                return '';
            },
            set(newValue) {
                if (newValue === '') {
                    if (this.isEditMode && !this.inSelection(this.individu.pendidikan)) {
                        this.pendidikanLainnya = this.individu.pendidikan;
                    }

                    this.individu.pendidikan = '';
                } else if (this.inSelection(newValue)) {
                    this.individu.pendidikan = newValue;
                }
            }
        },
        textPendidikan: {
            get() {
                if (!this.inSelection(this.individu.pendidikan)) {
                    if (this.isEditMode && this.pendidikanLainnya !== '') {
                        return this.pendidikanLainnya;
                    }

                    return this.individu.pendidikan;
                }

                return '';
            },
            set(newValue) {
                if (!this.inSelection(newValue)) {
                    this.pendidikanLainnya   = newValue;
                    this.individu.pendidikan = newValue;
                }
            }
        }
    },
    validations: {
        individu: paudGuruValidator
    },
    created() {
        if (!this.hasEditorAccessRights) {
            this.$router.push('/access-denied');
            return;
        }

        const idprogram = this.$route.params.idprogram;

        if (this[GET_ACTIVE_PROGRAM] === null) {
            this.fetchDpt(idprogram);
        }
        if (this.$route.params.id) {
            this.isEditMode          = true;
            this.individu.individuId = this.$route.params.id;

            this.individu.fetch().then(() => {
                this.individu.institusiId = this.individu.institusi.institusiId;
                this.individu.provinsiId  = this.individu.kecamatan.kabupaten.provinsi.provinsiId;
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] +
                        '/paud/guru');
                });
            });
        }
        if (!this.isEditMode){
          this.individu.status = 'NEW';
          this.individu.statusVerifikasi = 0;
        }

        // Menambahkan filter pada dataSource ComboBox Institusi
        this.comboInstitusi.proxy.setFilters([{
            property: 'programs.id',
            value: this[GET_ACTIVE_PROGRAM] === null ? idprogram : this[GET_ACTIVE_PROGRAM],
            operator: 'eq'
        }]);
    },
    beforeDestroy() {
        this.individu.destroy();
        this.individu = null;

        this.comboInstitusi.proxy.destroy();
        this.comboInstitusi.proxy = null;
        this.comboInstitusi       = null;
    },
    methods: {
        /**
         * Send HTTP request untuk menambah/mengupdate data Guru PAUD.
         *
         * @return {void}
         */
        doSave() {
            this.$v.$touch();

            if (!this.$v.$error) {
                const text   = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                const action = this.isEditMode ? UPDATE : SAVE;

                this.individu.kategori  = 5;
                this.individu.institusi = this.individu.institusiId;
                this.individu.kecamatan = this.individu.kecamatanId;
                this.individu.kelurahan = this.individu.kelurahanId;

                if (Helper.isArray(this.individu.programs) && this.individu.programs.length > 0) {
                    let programs = [];

                    this.individu.programs.forEach(el => {
                        if (!Helper.isEmpty(el.id)) {
                            programs.push(el.id);
                        }
                    });
                    if (!programs.includes(this[GET_ACTIVE_PROGRAM])) {
                        programs.push(this[GET_ACTIVE_PROGRAM]);
                    }
                    this.individu.programs = programs;
                } else {
                    this.individu.programs = [this[GET_ACTIVE_PROGRAM]];
                }

                this.individu[action]().then(() => {
                    this.$notification.success('Data ' + this.individu.namaLengkap + text, STATE_SUCCESS);
                    this.$nextTick(() => {
                        this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/paud/guru');
                    });
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            }
        },
        /**
         * Join nama kabupaten dan provinsi serta memformatnya.
         *
         * @param {Object} item Data penerima manfaat
         * @return {string} Gabungan nama wilayah yang telah diformat
         */
        fmtNamaWilayah(item) {
            return item.kecamatan.kabupaten.namaKabupaten + ', ' + item.kecamatan.kabupaten.provinsi.namaProvinsi;
        },
        /**
         * Memeriksa apakah input String masuk dalam choices atau tidak.
         *
         * @param {string} pilihan Input string
         * @return {boolean} TRUE jika input String masuk dalam choice dan FALSE jika tidak masuk
         */
        inSelection(pilihan) {
            if (pilihan) {
                return ['SMA/Sederajat', 'Diploma', 'S1 PAUD', 'S1 Non-PAUD'].includes(pilihan);
            }

            return false
        },
        /**
         * Event handler when data kabupaten already loaded.
         *
         * @param {Object[]} items Data kabupaten
         * @return {void}
         */
        onBindKabupaten(items) {
            if (items && items.length > 0 && this.individu.kecamatan !== null) {
                this.individu.kabupatenId = this.individu.kecamatan.kabupaten.kabupatenId;
            }
        },
        /**
         * Event handler when data kecamatan already loaded.
         *
         * @param {Object[]} items Data kecamatan
         * @return {void}
         */
        onBindKecamatan(items) {
            if (items && items.length > 0 && this.individu.kecamatan !== null) {
                this.individu.kecamatanId = this.individu.kecamatan.kecamatanId;
            }
        },
        /**
         * Event handler when data kelurahan already loaded.
         *
         * @param {Object[]} items Data kelurahan
         * @return {void}
         */
        onBindKelurahan(items) {
            if (items && items.length > 0 && this.individu.kelurahan !== null) {
                this.individu.kelurahanId = this.individu.kelurahan.kelurahanId;
            }
        }
    },
}
</script>

<style scoped>

</style>
