<template>
    <section class="body-container">
        <bs-card shadow>
            <bs-card-body>
                <form class="pt-lg-3 px-lg-2" novalidate>
                    <div class="form-row">
                        <div class="col-lg-3 col-xl-2 font-weight-bold">
                            NAMA
                        </div>
                        <div style="width: 8px">
                            :
                        </div>
                        <div class="col">
                            {{ institusiPaud.namaInstitusi }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-3 col-xl-2 font-weight-bold">
                            KATEGORI
                        </div>
                        <div style="width: 8px">
                            :
                        </div>
                        <div class="col">
                            {{ fmtKategoriInstitusi(institusiPaud.kategori) + " " + institusiPaud.jenisPaud }},
                            {{ jenisInstitusi(institusiPaud.swasta) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-3 col-xl-2 font-weight-bold">
                            NPSN
                        </div>
                        <div style="width: 8px">
                            :
                        </div>
                        <div class="col">
                            {{ institusiPaud.kodeInstitusi }}
                        </div>
                    </div>
                    <bs-divider class="grey-500 my-3"/>
                    <h6 class="mb-3">Indikator Keberhasilan Penerapan PHBK</h6>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-4 font-weight-bold">
                            Triwulan
                        </label>
                        <div class="col-lg-4">
                            <bs-combobox v-model="indikator.semester"
                                         :external-validator="semesterValidator"
                                         :items="dsSemester"
                                         required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <table class="table table-valign-middle table-bordered mb-1">
                            <thead class="thead-light">
                            <tr>
                                <th class="border-right-0" rowspan="2" style="width: 20px;">
                                    #
                                </th>
                                <th class="text-center" rowspan="2">
                                    Komponen Implementasi
                                </th>
                                <th class="text-center" rowspan="2" style="width: 100px">
                                    Jumlah Aspek Evaluasi
                                </th>
                                <th class="text-center" colspan="2">
                                    Skor Aspek Evaluasi
                                </th>
                            </tr>
                            <tr>
                                <th class="text-center" style="width: 100px" >
                                    Maksimum
                                </th>
                                <th class="text-center" style="width: 100px" >
                                    Minimum
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Rutinitas Kegiatan Belajar Mengajar</td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.rutinitasJumlah"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.rutinitasMax"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.rutinitasMin"
                                                              required/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Kegiatan Baris/Senam</td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.barisJumlah"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.barisMax"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.barisMin"
                                                              required/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Kegiatan Morning Circle</td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.circleJumlah"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.circleMax"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.circleMin"
                                                              required/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Kegiatan Jurnal</td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.jurnalJumlah"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.jurnalMax"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.jurnalMin"
                                                              required/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Display Kelas / Kerapian Kelas</td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.displayJumlah"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.displayMax"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.displayMin"
                                                              required/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Kegiatan Pilar Karakter</td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.karakterJumlah"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.karakterMax"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.karakterMin"
                                                              required/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Komunikasi Efektif dengan Siswa</td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.komunikasiJumlah"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.komunikasiMax"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.komunikasiMin"
                                                              required/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Kegiatan Sentra</td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.sentraJumlah"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.sentraMax"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.sentraMin"
                                                              required/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Kegiatan Literasi</td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.literasiJumlah"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.literasiMax"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.literasiMin"
                                                              required/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Kegiatan Evaluasi</td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.evaluasiJumlah"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.evaluasiMax"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.evaluasiMin"
                                                              required/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>Kelengkapan Administrasi</td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.admJumlah"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.admMax"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.admMin"
                                                              required/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>Manajemen Kelas</td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.mnjJumlah"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.mnjMax"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.mnjMin"
                                                              required/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td>Hubungan dengan Rekan Kerja</td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.rekanJumlah"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.rekanMax"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.rekanMin"
                                                              required/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>Hubungan dengan Orang Tua</td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.ortuJumlah"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.ortuMax"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.paudParams.ortuMin"
                                                              required/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="list-unstyled mt-3">
                            <li>
                                Skor Penilaian Aspek Evaluasi
                                <ol>
                                    <li>Selalu: 3</li>
                                    <li>Kadang - kadang: 2</li>
                                    <li>Tidak: 1</li>
                                </ol>
                            </li>
                        </ul>
                    </div>
                </form>
            </bs-card-body>
            <bs-card-footer class="bg-white">
                <bs-button color="primary" @click="doSave">
                    Simpan
                </bs-button>
                <bs-button color="secondary" outlined @click="doCancel">
                    Batal
                </bs-button>
            </bs-card-footer>
            <bs-mask-loader :opacity="0"
                            :show="loaded || institusiPaud.loading || indikator.updating"
                            :spinner-diameter="50" />
        </bs-card>
    </section>
</template>

<script>
    import appLocale from "../../../../../mixins/appLocale";
    import formatUtils from "../../../../../mixins/formatUtils";
    import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
    import editorRouteGuard from "../../../../../mixins/security/editorRouteGuard";
    import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";
    import {validationMixin} from "vuelidate";
    import NumberFieldWrapper from "../../../../../components/NumberFieldWrapper";
    import {IndikatorKpiModel} from "../../../../../models/Kegiatan/IndikatorKpiModel";
    import {PaudModel} from "../../../../../models/Beneficiary/Paud/PaudModel";
    import DanaBatchModel from "../../../../../models/Pendanaan/DanaBatchModel";
    import {KpiValidationHandler, KpiIndikatorValidator} from "../../../../../models/Kegiatan/KpiIndikatorValidator";
    import {
        MSG_SAVE_SUCCESS,
        MSG_UPDATE_SUCCESS,
        SAVE,
        STATE_SUCCESS,
        UPDATE
    } from "../../../../../store/modules/mutation-types";

    export default {
        name: "FormKpiPaud",
        components: {NumberFieldWrapper},
        mixins: [
            appLocale, editorRouteGuard, formatUtils, httpErrorResponse,
            mapStoreKegiatanBeneficiary, validationMixin, KpiValidationHandler('indikator')
        ],
        data() {
            return {
                program: new DanaBatchModel(),
                institusiPaud: new PaudModel(),
                indikator: new IndikatorKpiModel(),
                dsSemester: ['I','II','III','IV'],
                loaded: false,
                isEditMode: false
            }
        },
        created() {
            const idprogram = this.$route.params.idprogram;

            if (this.$route.params.id) {
                this.isEditMode = true;
                this.fetchData(this.$route.params.id);
            }

            if (this.$route.params.idprogram) {
                this.fetchProgram(this.$route.params.idprogram);
            }

            if (this.$route.params.uid) {
                this.institusiPaud.fetch(this.$route.params.uid).then((rsp) => {
                }).catch((error) => {
                    this.showErrorMessage(error);
                    this.$nextTick(() => {
                        this.$router.push('/kegiatan/penerima-manfaat/' + idprogram + '/paud/institusi/view/' + this.$route.params.uid + '/profil');
                    });
                });
            }

        },
        beforeDestroy() {
            this.institusiPaud.destroy();
            this.institusiPaud = null;

            this.indikator.destroy();
            this.indikator = null;

            this.program.destroy();
            this.program = null;
        },
        validations: {
            indikator: KpiIndikatorValidator
        },
        methods: {
            restrictChars(evt) {
                evt = (evt) ? evt : window.event;
                let charCode = (evt.which) ? evt.which : evt.keyCode;
                if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                    evt.preventDefault();
                } else {
                    return true;
                }
            },
            /**
             * Send request insert/update data to server.
             *
             * @return {void}
             */
            doSave() {
                this.$v.$touch();
                if (!this.$v.$error) {
                    const text = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                    const action = this.isEditMode ? UPDATE : SAVE;

                    this.loaded = true;

                    this.indikator.institusi = this.institusiPaud.institusiId;
                    this.indikator.periodeBatch = this.program.batchId;
                    this.indikator.tahun = this.program.tahun;

                    this.indikator[action]().then(() => {
                        this.loaded = false;
                        this.$notification.success('Data KPI Paud ' + this.institusiPaud.namaInstitusi + text, STATE_SUCCESS);
                        this.$nextTick(() => {
                            this.$router.push('/kegiatan/penerima-manfaat/' + this.$route.params.idprogram + '/paud/institusi/view/' + this.$route.params.uid + '/profil');
                        });
                    }).catch((error) => {
                        this.loaded = false;
                        this.showErrorMessage(error);
                    });
                }
            },
            /**
             * Batalkan pengisian atau penyuntingan data dan kembali ke halaman DataGrid.
             *
             * @return {void}
             */
            doCancel() {
                this.$router.push(this.$route.meta.previous);
            },
            /**
             * Fetch data from remote server.
             *
             * @param {Number|String} id bid
             * @return {void}
             */
            fetchData(id) {
                this.indikator.fetch(id).catch((error) => {
                    this.showErrorMessage(error);
                    this.$nextTick(() => {
                        this.$router.push(this.$route.meta.previous);
                    });
                });
            },
            /**
             * Fetch data program Dana Batch tahunan.
             *
             * @param {int|string} id    Program ID
             * @return {void}
             */
            fetchProgram(id) {
                this.program.fetch(id).catch((error) => {
                    this.showErrorMessage(error);
                    this.$nextTick(() => {
                        this.$router.push(this.$route.meta.previous);
                    });
                });
            }
        }
    }
</script>

<style scoped>

</style>
