<template>
  <section class="body-container">
    <bs-card shadow>
      <bs-card-body>
        <form class="row pt-lg-3 px-lg-2" novalidate>
          <!-- left side -->
          <div class="col-xl-6">
            <div class="form-group">
              <bs-text-field v-model="dtpaud.kodeInstitusi"
                             :external-validator="kodeInstitusiValidator"
                             placeholder="Ketik Nomor Pokok Sekolah Nasional"
                             autofocus
                             required>
                <label class="col-form-label col-lg-4">
                  Kode Sekolah
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="dtpaud.namaInstitusi"
                             :external-validator="namaInstitusiValidator"
                             required>
                <label class="col-form-label col-lg-4">
                  Nama Sekolah
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-button-toggle-field v-model="dtpaud.jenisPaud"
                                      :items="jenisPaud"
                                      :external-validator="jenisPaudValidator"
                                      color="default"
                                      toggle-color="teal"
                                      size="sm"
                                      outlined
                                      required>
                <label class="col-form-label col-lg-4">
                  Kategori
                </label>
              </bs-button-toggle-field>
            </div>
            <div class="form-group">
              <bs-button-toggle-field v-model="dtpaud.swasta"
                                      :items="statusInstansi"
                                      :external-validator="statusSwastaValidator"
                                      color="default"
                                      toggle-color="teal"
                                      size="sm"
                                      outlined
                                      required>
                <label class="col-form-label col-lg-4">
                  Status
                </label>
              </bs-button-toggle-field>
            </div>
            <div class="form-group">
              <bs-text-area v-model="dtpaud.alamat"
                            :external-validator="alamatValidator"
                            rows="2"
                            required>
                <label class="col-form-label col-lg-4">
                  Alamat Sekolah
                </label>
              </bs-text-area>
            </div>
            <div class="form-group">
              <bs-combobox v-model="dtpaud.provinsiId"
                           :data-source="dsCboProvinsi"
                           :external-validator="provinsiIdValidator"
                           required>
                <label class="col-form-label col-lg-4">
                  Provinsi
                </label>
              </bs-combobox>
            </div>
            <div class="form-group">
              <bs-combobox v-model="dtpaud.kabupatenId"
                           :data-source="dsCboKabupaten"
                           :parent-value="dtpaud.provinsiId"
                           :external-validator="kabupatenIdValidator"
                           required
                           @data-bind="onBindKabupaten">
                <label class="col-form-label col-lg-4">
                  Kabupaten
                </label>
              </bs-combobox>
            </div>
            <div class="form-group">
              <bs-combobox v-model="dtpaud.kecamatanId"
                           :data-source="dsCboKecamatan"
                           :parent-value="dtpaud.kabupatenId"
                           :external-validator="kecamatanIdValidator"
                           required
                           @data-bind="onBindKecamatan">
                <label class="col-form-label col-lg-4">
                  Kecamatan
                </label>
              </bs-combobox>
            </div>
            <div class="form-group">
              <bs-combobox v-model="dtpaud.kelurahanId"
                           :data-source="dsCboKelurahan"
                           :parent-value="dtpaud.kecamatanId"
                           :external-validator="kelurahanIdValidator"
                           required
                           @data-bind="onBindKelurahan">
                <label class="col-form-label col-lg-4">
                  Kelurahan
                </label>
              </bs-combobox>
            </div>
            <div class="row">
              <div class="col-lg-8 offset-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <bs-text-field v-model="dtpaud.rtRw"
                                   :external-validator="rtRwValidator"
                                   class="form-group"
                                   prepend-icon="pen"
                                   placeholder="001/003">
                      <span slot="prependSlot" class="md-icon-text">RT/RW:</span>
                    </bs-text-field>
                  </div>
                  <div class="col-lg-6">
                    <bs-text-field v-model="dtpaud.kodePos" prepend-icon="pen" class="form-group">
                      <span slot="prependSlot" class="md-icon-text">Kode Pos:</span>
                    </bs-text-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-lg-4">
                Koordinat (GPS)
              </label>
              <div class="col-lg-8">
                <div class="row">
                  <div class="col-lg-6">
                    <bs-number-field v-model.number="dtpaud.latitude"
                                     :locale="getLocale"
                                     prepend-icon="pen"
                                     class="form-group">
                      <span slot="prependSlot" class="md-icon-text">Latitude:</span>
                    </bs-number-field>
                  </div>
                  <div class="col-lg-6">
                    <bs-number-field v-model.number="dtpaud.longitude"
                                     :locale="getLocale"
                                     prepend-icon="pen"
                                     class="form-group">
                      <span slot="prependSlot" class="md-icon-text">Longitude:</span>
                    </bs-number-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- right side -->
          <div class="col-xl-6">
            <div class="form-group">
              <bs-text-field v-model="dtpaud.nomorAkte"
                             :external-validator="nomorAkteValidator"
                             required>
                <label class="col-form-label col-lg-4">
                  No. Akte Pendirian
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-date-time-field v-model="dtpaud.tahunBerdiri"
                                  :external-validator="tahunBerdiriValidator"
                                  format="YYYY"
                                  view-mode="year"
                                  append-icon="calendar"
                                  required>
                <label class="col-form-label col-lg-4">
                  Berdiri Tahun
                </label>
              </bs-date-time-field>
            </div>
            <div class="form-group">
              <bs-button-toggle-field v-model="akreditasi"
                                      :items="nilaiAkreditasi"
                                      color="default"
                                      toggle-color="teal"
                                      size="sm"
                                      outlined
                                      required>
                <label class="col-form-label col-lg-4">
                  Akreditasi
                </label>
              </bs-button-toggle-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="dtpaud.officePhone">
                <label class="col-form-label col-lg-4">
                  Telpon Kantor
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="dtpaud.email" :external-validator="emailValidator">
                <label class="col-form-label col-lg-4">
                  Alamat Email
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="dtpaud.website">
                <label class="col-form-label col-lg-4">
                  Website
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="dtpaud.namaPimpinan">
                <label class="col-form-label col-lg-4">
                  Nama Kepala Sekolah
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="dtpaud.contactPhone">
                <label class="col-form-label col-lg-4">
                  Nomor Telpon/HP
                </label>
              </bs-text-field>
            </div>
          </div>
        </form>
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <bs-button color="primary" @click="doSave">
          Simpan
        </bs-button>
      </bs-card-footer>
    </bs-card>
    <bs-mask-loader :opacity="0"
                    :show="dtpaud.loading || dtpaud.updating"
                    :spinner-diameter="50" />
  </section>
</template>

<script>
import { Helper } from "vue-bs4";
import { validationMixin } from "vuelidate";
import { PaudModel } from "../../../../../models/Beneficiary/Paud/PaudModel";
import {
    MSG_SAVE_SUCCESS,
    MSG_UPDATE_SUCCESS,
    SAVE,
    STATE_SUCCESS,
    UPDATE
} from "../../../../../store/modules/mutation-types";
import { GET_ACTIVE_PROGRAM } from "../../../../../store/modules/Kegiatan/mutation-types";
import { paudValidationHandler, paudValidator } from "../../../../../models/Beneficiary/Paud/PaudValidators";
import appLocale from "../../../../../mixins/appLocale";
import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
import cascadeComboBoxWilayah from "../../../../../mixins/cascadeComboBoxWilayah";
import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";
import alamatValidationHandler from "../../../../../models/Beneficiary/alamatValidationHandler";
import institusiValidationHandler from "../../../../../models/Beneficiary/institusiValidationHandler";
import editorRouteGuard from "../../../../../mixins/security/editorRouteGuard";

export default {
    name: "FormPaud",
    mixins: [
        validationMixin, appLocale, httpErrorResponse, mapStoreKegiatanBeneficiary,
        editorRouteGuard, cascadeComboBoxWilayah, alamatValidationHandler('dtpaud'),
        institusiValidationHandler('dtpaud'), paudValidationHandler('dtpaud')
    ],
    data: () => ({
        dtpaud: new PaudModel(),
        jenisPaud: [
            {label: 'PAUD Inti', value: 'INTI'},
            {label: 'PAUD Imbas', value: 'IMBAS'}
        ],
        statusInstansi: [
            {label: 'Negeri', value: false},
            {label: 'Swasta', value: true}
        ],
        nilaiAkreditasi: [
            {label: 'A', value: 'A'},
            {label: 'B', value: 'B'},
            {label: 'C', value: 'C'},
            {label: 'Belum', value: null}
        ],
        /**
         * Jika bernilai FALSE dipergunakan untuk menambah data baru,
         * dan jika bernilai TRUE dipergunakan untuk memperbarui existing data.
         *
         * @type boolean
         */
        isEditMode: false
    }),
    computed: {
        akreditasi: {
            get() {
                return this.dtpaud.nilaiAkreditasi;
            },
            set(value) {
                this.dtpaud.nilaiAkreditasi = value;
                this.dtpaud.akreditasi      = !Helper.isEmpty(value);
            }
        }
    },
    validations: {
        dtpaud: paudValidator
    },
    created() {
        if (!this.hasEditorAccessRights) {
            this.$router.push('/access-denied');
            return;
        }

        const idprogram = this.$route.params.idprogram;

        if (this[GET_ACTIVE_PROGRAM] === null) {
            this.fetchDpt(idprogram);
        }
        if (this.$route.params.id) {
            this.isEditMode         = true;
            this.dtpaud.institusiId = this.$route.params.id;

            this.dtpaud.fetch().then(() => {
                this.dtpaud.provinsiId = this.dtpaud.kecamatan.kabupaten.provinsi.provinsiId;
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] +
                        '/paud/institusi');
                });
            });
        }
        if (!this.isEditMode){
            this.dtpaud.status = 'NEW';
            this.dtpaud.statusVerifikasi = 0;
        }
    },
    beforeDestroy() {
        this.dtpaud.destroy();
        this.dtpaud = null;
    },
    methods: {
        /**
         * Send HTTP request untuk menambah/mengupdate data PAUD.
         *
         * @return {void}
         */
        doSave() {
            this.$v.$touch();

            if (!this.$v.$error) {
                const text   = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                const action = this.isEditMode ? UPDATE : SAVE;

                this.dtpaud.kategori  = 1;
                this.dtpaud.kecamatan = this.dtpaud.kecamatanId;
                this.dtpaud.kelurahan = this.dtpaud.kelurahanId;

                if (this.dtpaud.akreditasi === false) {
                    this.dtpaud.nilaiAkreditasi = null;
                }
                if (Helper.isArray(this.dtpaud.programs) && this.dtpaud.programs.length > 0) {
                    let programs = [];

                    this.dtpaud.programs.forEach(el => {
                        if (!Helper.isEmpty(el.id)) {
                            programs.push(el.id);
                        }
                    });
                    if (!programs.includes(this[GET_ACTIVE_PROGRAM])) {
                        programs.push(this[GET_ACTIVE_PROGRAM]);
                    }
                    this.dtpaud.programs = programs;
                } else {
                    this.dtpaud.programs = [this[GET_ACTIVE_PROGRAM]];
                }

                this.dtpaud[action]().then(() => {
                    this.$notification.success('Data ' + this.dtpaud.namaInstitusi + text, STATE_SUCCESS);
                    this.$nextTick(() => {
                        this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/paud/institusi');
                    });
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            }
        },
        /**
         * Event handler when data kabupaten already loaded.
         *
         * @param {Object[]} items Data kabupaten
         * @return {void}
         */
        onBindKabupaten(items) {
            if (items && items.length > 0 && this.dtpaud.kecamatan !== null) {
                this.dtpaud.kabupatenId = this.dtpaud.kecamatan.kabupaten.kabupatenId;
            }
        },
        /**
         * Event handler when data kecamatan already loaded.
         *
         * @param {Object[]} items Data kecamatan
         * @return {void}
         */
        onBindKecamatan(items) {
            if (items && items.length > 0 && this.dtpaud.kecamatan !== null) {
                this.dtpaud.kecamatanId = this.dtpaud.kecamatan.kecamatanId;
            }
        },
        /**
         * Event handler when data kelurahan already loaded.
         *
         * @param {Object[]} items Data kelurahan
         * @return {void}
         */
        onBindKelurahan(items) {
            if (items && items.length > 0 && this.dtpaud.kelurahan !== null) {
                this.dtpaud.kelurahanId = this.dtpaud.kelurahan.kelurahanId;
            }
        }
    }
}
</script>

<style scoped>

</style>
