<template>
    <section class="container">
        <bs-card shadow>
            <bs-card-body>
                <form class="pt-lg-3 px-lg-2" novalidate>
                    <div class="form-group">
                        <bs-text-field v-model="kpiDashboard.dashboardName"
                                       :external-validator="dashboardNameValidator"
                                       autofocus
                                       required>
                            <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
                                Nama Dashboard
                            </label>
                        </bs-text-field>
                    </div>
                    <div class="form-group">
                        <bs-combobox v-model="kpiDashboard.templateLayout"
                                     :external-validator="templateLayoutValidator"
                                     @change="onSelectLayout(kpiDashboard.templateLayout)"
                                     :data-source="dsDataSource"
                                     required>
                            <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
                                Dashboard Layout
                            </label>
                        </bs-combobox>
                    </div>
                    <div class="form-group">
                        <bs-combobox v-model="kpiDashboard.displayType"
                                     :external-validator="displayTypeValidator"
                                     :items="dsDisplayType"
                                     @change="onSelectType(kpiDashboard.displayType)"
                                     required>
                            <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
                                Display Type
                            </label>
                        </bs-combobox>
                    </div>
                    <div class="form-group" v-if="viewChart || showDisplaySource">
                        <bs-combobox v-model="kpiDashboard.displaySource"
                                     @change="onSelectChart(kpiDashboard.displaySource)"
                                     :data-source="dsCharts">
                            <label class="col-form-label col-lg-3 col-xl-2">
                                Display Source
                            </label>
                        </bs-combobox>
                    </div>
                    <div class="form-group" v-if="viewComp || showComp">
                        <bs-text-area v-model="kpiDashboard.dashboardComp"
                                      :external-validator="dashboardCompValidator"
                                      required
                                      readonly
                                      rows="8">
                            <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
                                Component
                            </label>
                        </bs-text-area>
                    </div>
                    <div class="form-group">
                        <bs-text-area v-model="kpiDashboard.dashboardDesc"
                                      rows="2">
                            <label class="col-form-label col-lg-3 col-xl-2">
                                Keterangan
                            </label>
                        </bs-text-area>
                    </div>
                </form>
            </bs-card-body>
            <bs-card-footer class="bg-white">
                <bs-button color="primary" @click="doSave">
                    Simpan
                </bs-button>
            </bs-card-footer>
        </bs-card>
        <bs-mask-loader :opacity="0"
                        :show="kpiDashboard.updating"
                        :spinner-diameter="50" />
    </section>
</template>

<script>
    import editorRouteGuard from "../../../../../mixins/security/editorRouteGuard";
    import appLocale from "../../../../../mixins/appLocale";
    import formatUtils from "../../../../../mixins/formatUtils";
    import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
    import {validationMixin} from "vuelidate";
    import BsStore from "vue-bs4/src/model/BsStore";
    import {
        MSG_SAVE_SUCCESS,
        MSG_UPDATE_SUCCESS,
        SAVE,
        STATE_SUCCESS,
        UPDATE
    } from "../../../../../store/modules/mutation-types";
    import {
        DashboardValidationHandler,
        DashboardValidator
    } from "../../../../../models/MasterData/KonfigurasiKpi/DashboardValidator";
    import {DashboardModel} from "../../../../../models/MasterData/KonfigurasiKpi/DashboardModel";
    import {LayoutModel} from "../../../../../models/MasterData/KonfigurasiKpi/LayoutModel";
    import Helper from "vue-bs4/src/utils/Helper";

    export default {
        name: "FormDashboard",
        mixins: [editorRouteGuard, appLocale, formatUtils, httpErrorResponse,
            validationMixin, DashboardValidationHandler('kpiDashboard')],
        data: () => ({
            dsDisplayType: [
                {label: 'CHART', value: 'CHART'},
                {label: 'TABLE', value: 'TABLE'}
            ],
            dsDataSource: {
                schema: {
                    displayField: 'layoutName',
                    valueField: 'layoutId'
                },
                proxy: new BsStore({
                    idProperty: 'layoutId',
                    dataProperty: 'data',
                    totalProperty: 'total',
                    restUrl: {
                        browse: '/master-data/konfigurasi-kpi/layout'
                    }
                })
            },
            dsCharts: {
                schema: {
                    displayField: 'chartName',
                    valueField: 'chartId'
                },
                proxy: new BsStore({
                    idProperty: 'chartId',
                    dataProperty: 'data',
                    totalProperty: 'total',
                    restUrl: {
                        browse: '/master-data/konfigurasi-kpi/chart'
                    }
                })
            },
            dsDisplaySource: [],
            kpiDashboard: new DashboardModel(),
            kpiLayout: new LayoutModel(),
            isEditMode: false,
            viewChart: false,
            viewComp: false
        }),
        validations: {
            kpiDashboard: DashboardValidator
        },
        created() {
            if (this.$route.params.id) {
                this.isEditMode = true;
                this.fetchData(this.$route.params.id);
            }
        },
        beforeDestroy() {
            this.kpiDashboard.destroy();
            this.kpiDashboard = null;
        },
        computed: {
            showComp() {
                if (this.kpiDashboard.templateLayout) {
                    this.viewComp = true;
                }
            },
            showDisplaySource(){
                if (this.kpiDashboard.displayType === 'CHART') {
                    this.viewChart = true;
                }
            }
        },
        methods: {
            /**
             * Send request insert/update data.
             *
             * @return {void}
             */
            doSave() {
                this.$v.$touch();

                if (!this.$v.$error) {
                    const text   = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                    const action = this.isEditMode ? UPDATE : SAVE;

                    this.kpiDashboard[action]().then(() => {
                        this.$notification.success('Data ' + text, STATE_SUCCESS);
                        this.$nextTick(() => {
                            this.$router.push('/master-data/konfigurasi-kpi/dashboard');
                        });
                    }).catch((error) => {
                        this.showErrorMessage(error);
                    });
                }
            },
            /**
             * Fetch data from remote server.
             *
             * @param {Number|String} id bid
             * @return {void}
             */
            fetchData(id) {
                this.kpiDashboard.dashboardId = id;
                this.kpiDashboard.fetch().catch((error) => {
                    this.showErrorMessage(error);
                    this.$nextTick(() => {
                        this.$router.push(this.$route.meta.previous);
                    });
                });
            },
            onSelectLayout(item){
                if (!Helper.isEmpty(item)) {
                    this.viewComp = true;
                    this.kpiLayout.layoutId = item;
                    this.kpiLayout.fetch().then(() => {
                        const table = this.kpiLayout.templateEditor;
                        const tableObject = [];
                        let colTable = table.replace(/(<([^>]+)>)/ig, "");
                        let row = colTable.split(/\[(.*?)\]/g);

                        for(let i = 0 ; i < row.length ; i ++) {
                            if (row[i]) {
                                const rows = {};
                                for(let j = 0 ; j < row[i].length; j++) {
                                    rows['block'] = row[i];
                                }
                                tableObject.push(rows);
                            }
                        }
                        this.kpiDashboard.dashboardComp = JSON.stringify(tableObject);
                    }).catch((error) => {
                        this.showErrorMessage(error);
                    });
                } else {
                    this.viewComp = false;
                    this.kpiDashboard.dashboardComp = null;
                }
            },
            onSelectType(item){
                this.viewChart = item === 'CHART';
                const table = this.kpiLayout.templateEditor;
                const tableObject = [];
                let colTable = table.replace(/(<([^>]+)>)/ig, "");
                let row = colTable.split(/\[(.*?)\]/g);

                for(let i = 0 ; i < row.length ; i ++) {
                    if (row[i]) {
                        const rows = {};
                        for(let j = 0 ; j < row[i].length; j++) {
                            rows['block'] = row[i];
                            rows['display'] = item.toLowerCase();
                        }
                        tableObject.push(rows);
                    }
                }
                this.kpiDashboard.dashboardComp = JSON.stringify(tableObject);
            },
            onSelectChart(item){
                console.log(item);
                const table = this.kpiLayout.templateEditor;
                const tableObject = [];
                let colTable = table.replace(/(<([^>]+)>)/ig, "");
                let row = colTable.split(/\[(.*?)\]/g);
                let dSource = this.kpiDashboard.displayType;
                for(let i = 0 ; i < row.length ; i ++) {
                    if (row[i]) {
                        const rows = {};
                        for(let j = 0 ; j < row[i].length; j++) {
                            rows['block'] = row[i];
                            rows['display'] = dSource.toLowerCase();
                            rows['display_id'] = item;
                        }
                        tableObject.push(rows);
                    }
                }
                this.kpiDashboard.dashboardComp = JSON.stringify(tableObject);
            }
        },
    }
</script>

<style scoped>

</style>
