<template>
    <section class="container">
        <bs-card shadow>
            <bs-card-body>
                <form class="pt-lg-3 px-lg-2" novalidate>
                    <div class="form-group">
                        <bs-text-field v-model="kpiChart.chartName"
                                       :external-validator="chartNameValidator"
                                       autofocus
                                       required>
                            <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
                                Nama Chart
                            </label>
                        </bs-text-field>
                    </div>
                    <div class="form-group">
                        <bs-combobox v-model="kpiChart.chartType"
                                     :external-validator="chartTypeValidator"
                                     :items="dsType"
                                     required>
                            <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
                                Tipe
                            </label>
                        </bs-combobox>
                    </div>
                    <div class="form-group">
                        <bs-combobox v-model="kpiChart.dataSource"
                                     :external-validator="dataSourceValidator"
                                     :data-source="dsDataSource"
                                     required>
                            <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
                                Data Source
                            </label>
                        </bs-combobox>
                    </div>
                    <div class="form-group">
                        <bs-text-area v-model="kpiChart.dataConf"
                                      :external-validator="dataConfValidator"
                                      required
                                      rows="4">
                            <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
                                Data Configuration
                            </label>
                        </bs-text-area>
                    </div>
                    <div class="form-group">
                        <bs-text-area v-model="kpiChart.axisConf"
                                      :external-validator="axisConfValidator"
                                      required
                                      rows="4">
                            <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
                                Axis Configuration
                            </label>
                        </bs-text-area>
                    </div>
                    <div class="form-group">
                        <bs-text-area v-model="kpiChart.chartDesc"
                                      rows="2">
                            <label class="col-form-label col-lg-3 col-xl-2">
                                Keterangan
                            </label>
                        </bs-text-area>
                    </div>
                </form>
            </bs-card-body>
            <bs-card-footer class="bg-white">
                <bs-button color="primary" @click="doSave">
                    Simpan
                </bs-button>
            </bs-card-footer>
        </bs-card>
        <bs-mask-loader :opacity="0"
                        :show="kpiChart.updating"
                        :spinner-diameter="50" />
    </section>
</template>

<script>
    import BsStore from "vue-bs4/src/model/BsStore";
    import editorRouteGuard from "../../../../../mixins/security/editorRouteGuard";
    import appLocale from "../../../../../mixins/appLocale";
    import formatUtils from "../../../../../mixins/formatUtils";
    import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
    import {validationMixin} from "vuelidate";
    import {ChartModel} from "../../../../../models/MasterData/KonfigurasiKpi/ChartModel";
    import {
        MSG_SAVE_SUCCESS,
        MSG_UPDATE_SUCCESS,
        SAVE,
        STATE_SUCCESS,
        UPDATE
    } from "../../../../../store/modules/mutation-types";
    import {ChartValidator, ChartValidationHandler} from "../../../../../models/MasterData/KonfigurasiKpi/ChartValidator";

    export default {
        name: "FormChart",
        mixins: [editorRouteGuard, appLocale, formatUtils, httpErrorResponse,
            validationMixin, ChartValidationHandler('kpiChart')],
        data: () => ({
            dsType: [
                {label: 'LINE', value: 'LINE'},
                {label: 'BAR', value: 'BAR'},
                {label: 'PIE', value: 'PIE'}
            ],
            dsDataSource: {
                schema: {
                    displayField: 'sourceName',
                    valueField: 'sourceId'
                },
                proxy: new BsStore({
                    idProperty: 'sourceId',
                    dataProperty: 'data',
                    totalProperty: 'total',
                    restUrl: {
                        browse: '/master-data/konfigurasi-kpi/data-source'
                    }
                })
            },
            kpiChart: new ChartModel(),
            isEditMode: false
        }),
        validations: {
            kpiChart: ChartValidator
        },
        created() {
            if (this.$route.params.id) {
                this.isEditMode = true;
                this.fetchData(this.$route.params.id);
            }
        },
        beforeDestroy() {
            this.kpiChart.destroy();
            this.kpiChart = null;
        },
        methods: {
            /**
             * Send request insert/update data.
             *
             * @return {void}
             */
            doSave() {
                this.$v.$touch();

                if (!this.$v.$error) {
                    const text   = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                    const action = this.isEditMode ? UPDATE : SAVE;

                    this.kpiChart[action]().then(() => {
                        this.$notification.success('Data ' + text, STATE_SUCCESS);
                        this.$nextTick(() => {
                            this.$router.push('/master-data/konfigurasi-kpi/chart');
                        });
                    }).catch((error) => {
                        this.showErrorMessage(error);
                    });
                }
            },
            /**
             * Fetch data from remote server.
             *
             * @param {Number|String} id bid
             * @return {void}
             */
            fetchData(id) {
                this.kpiChart.chartId = id;
                this.kpiChart.fetch().catch((error) => {
                    this.showErrorMessage(error);
                    this.$nextTick(() => {
                        this.$router.push(this.$route.meta.previous);
                    });
                });
            },
        },
    }
</script>

<style scoped>

</style>
