<template>
    <section class="container">
        <bs-card shadow>
            <bs-card-body>
                <form class="pt-lg-3 px-lg-2" novalidate>
                    <div class="form-group">
                        <bs-text-field v-model="kpiLayout.layoutName"
                                       :external-validator="layoutNameValidator"
                                       autofocus
                                       required>
                            <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
                                Nama Layout
                            </label>
                        </bs-text-field>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
                            Template Editor
                        </label>
                        <div class="col-lg-9 col-xl-10">
                            <ckeditor :config="editorConfig"
                                      :editor="editor"
                                      v-model="kpiLayout.templateEditor"
                                      :external-validator="templateEditorValidator"
                                      required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <bs-text-area v-model="kpiLayout.layoutDesc"
                                      rows="2">
                            <label class="col-form-label col-lg-3 col-xl-2">
                                Keterangan
                            </label>
                        </bs-text-area>
                    </div>
                </form>
            </bs-card-body>
            <bs-card-footer class="bg-white">
                <bs-button color="primary" @click="doSave">
                    Simpan
                </bs-button>
            </bs-card-footer>
        </bs-card>
        <bs-mask-loader :opacity="0"
                        :show="kpiLayout.updating"
                        :spinner-diameter="50" />
    </section>
</template>

<script>
    import editorRouteGuard from "../../../../../mixins/security/editorRouteGuard";
    import appLocale from "../../../../../mixins/appLocale";
    import formatUtils from "../../../../../mixins/formatUtils";
    import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
    import {validationMixin} from "vuelidate";
    import {
        MSG_SAVE_SUCCESS,
        MSG_UPDATE_SUCCESS,
        SAVE,
        STATE_SUCCESS,
        UPDATE
    } from "../../../../../store/modules/mutation-types";
    import {
        LayoutValidationHandler,
        LayoutValidator
    } from "../../../../../models/MasterData/KonfigurasiKpi/LayoutValidator";
    import {LayoutModel} from "../../../../../models/MasterData/KonfigurasiKpi/LayoutModel";
    import CKEditor from '@ckeditor/ckeditor5-vue';
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

    export default {
        name: "FormLayout",
        mixins: [editorRouteGuard, appLocale, formatUtils, httpErrorResponse,
            validationMixin, LayoutValidationHandler('kpiLayout')],
        components: {
            ckeditor: CKEditor.component,
        },
        data: () => ({
            kpiLayout: new LayoutModel(),
            isEditMode: false,
            editor: ClassicEditor,
            editorConfig: {
                language: 'id',
                figure: 1,
                removePlugins: ['Link', 'MediaEmbed', 'Image','ImageUpload','Heading','Bold', 'Italic','BlockQuote','List','Indent'],
            },
        }),
        validations: {
            kpiLayout: LayoutValidator
        },
        created() {
            if (this.$route.params.id) {
                this.isEditMode = true;
                this.fetchData(this.$route.params.id);
            }
            console.log(this.editor.builtinPlugins.map( plugin => plugin.pluginName ));
        },
        beforeDestroy() {
            this.kpiLayout.destroy();
            this.kpiLayout = null;
        },
        methods: {
            /**
             * Send request insert/update data.
             *
             * @return {void}
             */
            doSave() {
                this.$v.$touch();

                if (!this.$v.$error) {
                    const text   = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                    const action = this.isEditMode ? UPDATE : SAVE;

                    this.kpiLayout[action]().then(() => {
                        this.$notification.success('Data ' + text, STATE_SUCCESS);
                        this.$nextTick(() => {
                            this.$router.push('/master-data/konfigurasi-kpi/layout');
                        });
                    }).catch((error) => {
                        this.showErrorMessage(error);
                    });
                }
            },
            /**
             * Fetch data from remote server.
             *
             * @param {Number|String} id bid
             * @return {void}
             */
            fetchData(id) {
                this.kpiLayout.layoutId = id;
                this.kpiLayout.fetch().catch((error) => {
                    this.showErrorMessage(error);
                    this.$nextTick(() => {
                        this.$router.push(this.$route.meta.previous);
                    });
                });
            },
        },
    }
</script>

<style scoped>

</style>
