<template>
    <section class="container">
        <bs-card shadow>
            <bs-card-body>
                <form class="pt-lg-3 px-lg-2" novalidate>
                    <div class="form-group">
                        <bs-text-field v-model="kpiReport.reportName"
                                       :external-validator="reportNameValidator"
                                       autofocus
                                       required>
                            <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
                                Nama Report
                            </label>
                        </bs-text-field>
                    </div>
                    <div class="form-group">
                        <bs-text-field v-model="kpiReport.reportTitle"
                                       :external-validator="reportTitleValidator"
                                       required>
                            <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
                                Title
                            </label>
                        </bs-text-field>
                    </div>
                    <div class="form-group">
                        <bs-combobox v-model="kpiReport.dataSource"
                                     :external-validator="dataSourceValidator"
                                     :data-source="dsDataSource"
                                     required>
                            <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
                                Data Source
                            </label>
                        </bs-combobox>
                    </div>
                    <div class="form-group">
                        <bs-text-area v-model="kpiReport.reportFilter"
                                      :external-validator="reportFilterValidator"
                                      required
                                      rows="6">
                            <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
                                Data Filter
                            </label>
                        </bs-text-area>
                    </div>
                    <div class="form-group">
                        <bs-text-area v-model="kpiReport.reportSort"
                                      :external-validator="reportSortValidator"
                                      required
                                      rows="6">
                            <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
                                Data Sorting
                            </label>
                        </bs-text-area>
                    </div>
                </form>
            </bs-card-body>
            <bs-card-footer class="bg-white">
                <bs-button color="primary" @click="doSave">
                    Simpan
                </bs-button>
            </bs-card-footer>
        </bs-card>
        <bs-mask-loader :opacity="0"
                        :show="kpiReport.updating"
                        :spinner-diameter="50" />
    </section>
</template>

<script>
    import editorRouteGuard from "../../../../../mixins/security/editorRouteGuard";
    import appLocale from "../../../../../mixins/appLocale";
    import formatUtils from "../../../../../mixins/formatUtils";
    import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
    import {validationMixin} from "vuelidate";
    import {ReportValidator, ReportValidationHandler} from "../../../../../models/MasterData/KonfigurasiKpi/ReportValidator";
    import BsStore from "vue-bs4/src/model/BsStore";
    import {ReportModel} from "../../../../../models/MasterData/KonfigurasiKpi/ReportModel";
    import {
        MSG_SAVE_SUCCESS,
        MSG_UPDATE_SUCCESS,
        SAVE,
        STATE_SUCCESS,
        UPDATE
    } from "../../../../../store/modules/mutation-types";

    export default {
        name: "FormReport",
        mixins: [editorRouteGuard, appLocale, formatUtils, httpErrorResponse,
            validationMixin, ReportValidationHandler('kpiReport')],
        data: () => ({
            dsDataSource: {
                schema: {
                    displayField: 'sourceName',
                    valueField: 'sourceId'
                },
                proxy: new BsStore({
                    idProperty: 'sourceId',
                    dataProperty: 'data',
                    totalProperty: 'total',
                    restUrl: {
                        browse: '/master-data/konfigurasi-kpi/data-source'
                    }
                })
            },
            kpiReport: new ReportModel(),
            isEditMode: false
        }),
        validations: {
            kpiReport: ReportValidator
        },
        created() {
            if (this.$route.params.id) {
                this.isEditMode = true;
                this.fetchData(this.$route.params.id);
            }
        },
        beforeDestroy() {
            this.kpiReport.destroy();
            this.kpiReport = null;
        },
        methods: {
            /**
             * Send request insert/update data.
             *
             * @return {void}
             */
            doSave() {
                this.$v.$touch();

                if (!this.$v.$error) {
                    const text   = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                    const action = this.isEditMode ? UPDATE : SAVE;

                    this.kpiReport[action]().then(() => {
                        this.$notification.success('Data ' + text, STATE_SUCCESS);
                        this.$nextTick(() => {
                            this.$router.push('/master-data/konfigurasi-kpi/report');
                        });
                    }).catch((error) => {
                        this.showErrorMessage(error);
                    });
                }
            },
            /**
             * Fetch data from remote server.
             *
             * @param {Number|String} id bid
             * @return {void}
             */
            fetchData(id) {
                this.kpiReport.reportId = id;
                this.kpiReport.fetch().catch((error) => {
                    this.showErrorMessage(error);
                    this.$nextTick(() => {
                        this.$router.push(this.$route.meta.previous);
                    });
                });
            },
        },
    }
</script>

<style scoped>

</style>
