<template>
    <section class="container">
        <bs-card shadow>
            <bs-card-body>
                <form class="pt-lg-3 px-lg-2" novalidate>
                    <div class="form-group">
                        <bs-text-field autofocus
                                       required
                                       :external-validator="sourceNameValidator"
                                       v-model="kpiDataSource.sourceName">
                            <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
                                Nama Data Source
                            </label>
                        </bs-text-field>
                    </div>
                    <div class="form-group">
                        <bs-combobox v-model="kpiDataSource.sourceType"
                                     :external-validator="sourceTypeValidator"
                                     :items="dsType"
                                     required>
                            <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
                                Tipe
                            </label>
                        </bs-combobox>
                    </div>
                    <div class="form-group">
                        <bs-text-area required
                                      rows="8"
                                      :external-validator="sourceQueryValidator"
                                      v-model="kpiDataSource.sourceQuery">
                            <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
                                Query
                            </label>
                        </bs-text-area>
                    </div>
                    <div class="form-group">
                        <bs-text-area rows="2"
                                      v-model="kpiDataSource.sourceDesc">
                            <label class="col-form-label col-lg-3 col-xl-2">
                                Keterangan
                            </label>
                        </bs-text-area>
                    </div>
                </form>
            </bs-card-body>
            <bs-card-footer class="bg-white">
                <bs-button color="primary" @click="doSave">
                    Simpan
                </bs-button>
            </bs-card-footer>
        </bs-card>
        <bs-mask-loader :opacity="0"
                        :show="kpiDataSource.updating"
                        :spinner-diameter="50" />
    </section>
</template>

<script>
    import {validationMixin} from "vuelidate";
    import editorRouteGuard from "../../../../../mixins/security/editorRouteGuard";
    import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
    import {KpiDataSourceModel} from "../../../../../models/MasterData/KonfigurasiKpi/KpiDataSourceModel";
    import {
        MSG_SAVE_SUCCESS,
        MSG_UPDATE_SUCCESS,
        SAVE,
        STATE_SUCCESS,
        UPDATE
    } from "../../../../../store/modules/mutation-types";
    import appLocale from "../../../../../mixins/appLocale";
    import formatUtils from "../../../../../mixins/formatUtils";
    import {KpiDataSourceValidationHandler, KpiDataSourceValidator} from "../../../../../models/MasterData/KonfigurasiKpi/KpiDataSourceValidator";

    export default {
        name: "FormDataSource",
        mixins: [editorRouteGuard, appLocale, formatUtils, httpErrorResponse,
            validationMixin, KpiDataSourceValidationHandler('kpiDataSource')],
        data: () => ({
            kpiDataSource: new KpiDataSourceModel(),
            dsType: [
                {label: 'table', value: 'TABLE'},
                {label: 'view', value: 'VIEW'},
                {label: 'custom_query', value: 'CUSTOM QUERY'}
            ],
            isEditMode: false
        }),
        validations: {
            kpiDataSource: KpiDataSourceValidator
        },
        created() {
            if (this.$route.params.id) {
                this.isEditMode = true;
                this.fetchData(this.$route.params.id);
            }
        },
        beforeDestroy() {
            this.kpiDataSource.destroy();
            this.kpiDataSource = null;
        },
        methods: {
            /**
             * Send request insert/update data.
             *
             * @return {void}
             */
            doSave() {
                this.$v.$touch();

                if (!this.$v.$error) {
                    const text   = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                    const action = this.isEditMode ? UPDATE : SAVE;

                    this.kpiDataSource[action]().then(() => {
                        this.$notification.success('Data ' + text, STATE_SUCCESS);
                        this.$nextTick(() => {
                            this.$router.push('/master-data/konfigurasi-kpi/data-source');
                        });
                    }).catch((error) => {
                        this.showErrorMessage(error);
                    });
                }
            },
            /**
             * Fetch data from remote server.
             *
             * @param {Number|String} id bid
             * @return {void}
             */
            fetchData(id) {
                this.kpiDataSource.sourceId = id;
                this.kpiDataSource.fetch().catch((error) => {
                    this.showErrorMessage(error);
                    this.$nextTick(() => {
                        this.$router.push(this.$route.meta.previous);
                    });
                });
            },
        },
    }
</script>

<style scoped>

</style>
