<template>
    <img :src="imgSrc" class="md-avatar" :class="imageClass" :style="imageSizeStyles">
</template>

<script>
    import Image from '../../mixins/Image';

    export default {
        name: "BsAvatar",
        mixins: [Image]
    }
</script>

<style scoped>

</style>