<template>
  <div class="body-container">
    <div class="pb-3">
      <bs-button color="amber"
                 v-if="hasEditorAccessRights"
                 href="#/master-data/program/program-csr/create"
                 icon="plus-circle"
                 icon-position="left"
                 raised>
        Tambah Baru
      </bs-button>
    </div>
    <bs-card shadow>
      <bs-grid :data-source="dataSource"
               :filterable="{minlength: 3, operator: 'contains', immediate: false, placeholder: false}"
               pageable
               ref="datagrid"
               row-hover
               sortable>
        <bs-grid-column :filterable="{enabled: false, button: true}"
                        row-numbering
                        text-align="right"
                        width="60" />
        <bs-grid-column field="name"
                        label="Program CSR"
                        min-width="200" />
        <bs-grid-column :sortable="false"
                        field="templateName"
                        label="Template Dana Batch"
                        min-width="250" />
        <bs-grid-column :sortable="false"
                        field="Description"
                        label="Deskripsi" />
        <bs-grid-column field="jenis.title"
                        label="Bidang CSR" />
        <bs-grid-column :sortable="false"
                        v-if="hasDeleteAccessRights || hasEditorAccessRights"
                        label="Tindakan"
                        text-align="center"
                        width="100" />

        <template v-slot:datarow="{ columns, item, index }">
          <bs-grid-cell-numbering :column="columns[0]" :index="index" />
          <bs-grid-cell :column="columns[1]" :item="item" :index="index" />
          <bs-grid-cell :column="columns[2]" :item="item" :index="index" />
          <bs-grid-cell :column="columns[3]" :item="item" :index="index" />
          <bs-grid-cell :column="columns[4]" :item="item" :index="index" />
          <bs-grid-cell :column="columns[5]"
                        :index="index"
                        :item="item"
                        v-if="hasDeleteAccessRights || hasEditorAccessRights">
            <bs-tooltip content="Sunting Data"
                        placement="top"
                        v-if="hasEditorAccessRights">
              <bs-button :href="doEdit(item.msid)"
                         color="primary"
                         icon="pen"
                         icon-position="left"
                         outlined
                         size="xs" />
            </bs-tooltip>
            <bs-tooltip content="Hapus Data"
                        placement="top"
                        v-if="hasDeleteAccessRights">
              <bs-button color="danger"
                         icon="trash-alt"
                         icon-position="left"
                         outlined
                         size="xs"
                         @click="confirmDelete(item)" />
            </bs-tooltip>
          </bs-grid-cell>
        </template>
      </bs-grid>
    </bs-card>

    <bs-modal :esc-close="false"
              :open.sync="showModal"
              :overlay-close="false"
              max-width="85%"
              title="Konfirmasi"
              width="400">
      Apakah anda yakin akan menghapus Program <b>{{ program.name }}</b>?
      <bs-button slot="footer"
                 color="secondary"
                 outlined
                 @click="showModal = false">
        Batal
      </bs-button>
      <bs-button slot="footer" color="danger" @click="doDelete">
        Hapus
      </bs-button>
    </bs-modal>
    <bs-mask-loader :opacity="0"
                    :show="program.deleting"
                    :spinner-diameter="50" />
  </div>
</template>

<script>
import { BsStore } from "vue-bs4";
import { PAGE_SIZE, STATE_SUCCESS } from "../../../../store/modules/mutation-types";
import { ProgramModel } from "../../../../models/MasterData/Program/ProgramModel";
import defaultRouteGuard from "../../../../mixins/security/defaultRouteGuard";
import httpErrorResponse from "../../../../mixins/httpErrorResponse";

export default {
    name: "GridProgram",
    mixins: [defaultRouteGuard, httpErrorResponse],
    data: () => ({
        dataSource: new BsStore({
            idProperty: 'msid',
            dataProperty: 'data',
            totalProperty: 'total',
            pageSize: PAGE_SIZE,
            restUrl: {
                browse: '/master-data/program-csr'
            }
        }),
        showModal: false,
        program: new ProgramModel()
    }),
    beforeDestroy() {
        this.dataSource.destroy();
        this.dataSource = null;
        this.program.destroy();
        this.program = null;
    },
    methods: {
        /**
         * Menampilkan modal dialog konfirmasi delete record Program CSR.
         *
         * @param {Object} item Single record object
         * @return {void}
         */
        confirmDelete(item) {
            this.program.assignValues(item);
            this.showModal = true;
        },
        /**
         * Process request hapus record Kabupaten.
         *
         * @return {void}
         */
        doDelete() {
            this.showModal = false;
            this.program.delete().then((callback) => {
                this.$notification.success(callback.data.message, STATE_SUCCESS);
                this.$refs.datagrid.reload();
            }).catch((error) => {
                this.showErrorMessage(error);
            });
        },
        /**
         * Returns route Url untuk menampilkan halaman form Edit Program CSR.
         *
         * @param {number} id program ID
         * @return {string} url edit program csr
         */
        doEdit(id) {
            return '#/master-data/program/program-csr/edit/' + id;
        }
    }
}
</script>

<style scoped>

</style>
