{% extends 'layout/base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block head_title %}Ganti Kata Sandi - Adaro CSRMS{% endblock %}

{% block body %}
  <div class="container-fluid wrapper">
    <img src="{{ asset('images/login-artbox.png') }}" alt="" class="art">
    <div class="logo">
      <img src="{{ asset('images/login-logo.png') }}" alt="">
    </div>
    <div class="form-panel">
      <h4 class="page-title">{{ "ForgotPassword.PageTitleChangePassword"|trans }}</h4>
      {% for label, messages in app.flashes(['success', 'danger']) %}
        {% for message in messages %}
          <div class="alert alert-{{ label }}">
            {{ message|trans }}
          </div>
        {% endfor %}
      {% endfor %}

      {{ form_start(form) }}
      {% if action is not same as ("success") %}
          <div class="form-group">
              <label for="change_password_password" class="required">Kata Sandi Baru</label>
              <div class="input-group mb-2">
                  {{ form_widget(form.password) }}
                  <div class="custom-append" onclick="togglePassword('change_password_password')">
                      <i id="icon-append_change_password_password" class="fa fa-eye-slash"></i>
                  </div>
              </div>
          </div>
          <div class="form-group">
              <label for="change_password_confirmPassword" class="required">Konfirmasi Kata Sandi Baru</label>
              <div class="input-group mb-2">
                  {{ form_widget(form.confirmPassword) }}
                  <div class="custom-append" onclick="togglePassword('change_password_confirmPassword')">
                      <i id="icon-append_change_password_confirmPassword" class="fa fa-eye-slash"></i>
                  </div>
              </div>
          </div>
        <input type="hidden" name="_csrf" value="{{ csrf_token(constant('App\\Form\\User\\ChangePasswordType::CSRF_NAME')) }}" />
      {% endif %}
      <div class="action-group">
        {% if action is not same as ("success") %}
          <button type="submit" class="btn btn-block btn-main">{{ "Button.Submit"|trans }}</button>
        {% endif %}
        <a href="{{ path('auth_login_form') }}" class="btn btn-block btn-secondary">
          {{ "Button.Back"|trans }}
        </a>
      </div>
      {{ form_end(form, {'render_rest': false}) }}
    </div>
  </div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('default-page') }}
    <link type="text/css" media="screen" rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    function togglePassword(input) {
        let elm = document.getElementById(input);
        let icon = document.getElementById("icon-append_" + input);

        if (elm.type === "password") {
            elm.type = "text";
            icon.className = "fa fa-eye";
        } else {
            elm.type = "password";
            icon.className = "fa fa-eye-slash";
        }
    }
    </script>
{% endblock %}