{% extends 'layout/base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block head_title %}Lupa Kata Sandi - Adaro CSRMS{% endblock %}

{% block body %}
  <div class="container-fluid wrapper">
    <img src="{{ asset('images/login-artbox.png') }}" alt="" class="art">
    <div class="logo">
      <img src="{{ asset('images/login-logo.png') }}" alt="">
    </div>
    <div class="form-panel">
      <h4 class="page-title">{{ "ForgotPassword.PageTitle"|trans }}</h4>
      {% for label, messages in app.flashes(['success', 'danger']) %}
        {% for message in messages %}
          <div class="alert alert-{{ label }}">
            {{ message|trans }}
          </div>
        {% endfor %}
      {% endfor %}

      {{ form_start(form) }}
      {% if action is not same as ("success") %}
        {{ form_row(form.email) }}
        <input type="hidden" name="_csrf" value="{{ csrf_token(constant('App\\Form\\User\\ForgotPasswordType::CSRF_NAME')) }}" />
      {% endif %}
      <div class="action-group">
        {% if action is not same as ("success") %}
          <button type="submit" class="btn btn-block btn-main">{{ "Button.Submit"|trans }}</button>
        {% endif %}
        <a href="{{ path('auth_login_form') }}" class="btn btn-block btn-secondary">
          {{ (action == "success" ? "Button.Back" : "Button.Cancel")|trans }}
        </a>
      </div>
      {{ form_end(form, {'render_rest': false}) }}
    </div>
  </div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('default-page') }}
{% endblock %}