<template>
    <div class="body-container">
        <div class="pb-3" v-if="hasEditorAccessRights">
            <bs-button color="amber"
                       href="#/kegiatan/finalisasi/create"
                       icon="plus-circle"
                       icon-position="left"
                       raised>
                Buat Finalisasi Kegiatan
            </bs-button>
        </div>


        <bs-card shadow>
            <bs-card-body class="pb-3 border-bottom">
                <div class="row">
                    <div class="col-xl-7">
                        <div class="form-group"></div>
                    </div>
                </div>
            </bs-card-body>

            <bs-grid :data-source="dataSource"
                     :flip-on-small-screen="false"
                     ref="datagrid"
                     pageable
                     row-hover
                     show-footer
                     sortable>
                <bs-grid-column :filterable="{enabled: false, button: true}"
                                :sortable="false"
                                class="row-numbering"
                                text-align="right"
                                width="50" />
                <bs-grid-column field="kegiatan.namaKegiatan"
                                label="Nama Kegiatan"
                                width="180" />
                <bs-grid-column field="mitra.namaLembaga"
                                label="Nama Mitra"
                                min-width="180" />
                <bs-grid-column field="judul"
                                label="Judul Laporan"
                                min-width="250" />
                <bs-grid-column :filterable="{enabled: false}"
                                field="status"
                                label="Status"
                                text-align="center"
                                width="100" />
                <bs-grid-column :sortable="false"
                                text-align="text-center"
                                width="220"
                                label="Tindakan" />
                <template v-slot:datarow="{ columns, item, index }">
                    <bs-grid-cell-numbering :column="columns[0]" :index="index" />
                    <bs-grid-cell :column="columns[1]" :item="item" />
                    <bs-grid-cell :column="columns[2]" :item="item" />
                    <bs-grid-cell :column="columns[3]" :item="item" />
                    <bs-grid-cell :column="columns[4]" :item="item">
                        <bs-badge :color="workflowConfigurer.badgeColor(item)"
                                  type="label">
                            {{ workflowConfigurer.majorPlaceMark(item) }}
                        </bs-badge>
                    </bs-grid-cell>
                    <bs-grid-cell>
                        <bs-button :href="hrefEdit(item.id)"
                                   color="primary"
                                   icon="pen"
                                   icon-position="left"
                                   outlined
                                   size="xs"
                                   v-if="hasEditorAccessRights && (item.status === 'NEW')"
                                   v-tooltip="{content:'Sunting Data', placement:'top'}"/>
                        <bs-button :href="hrefView(item.id)"
                                   color="default"
                                   icon="eye"
                                   icon-position="left"
                                   outlined
                                   size="xs"
                                   v-if="hasAccess"
                                   v-tooltip="{content:'Lihat Detail', placement:'top'}"/>
                        <bs-button @click="confirmDelete(item)"
                                   color="danger"
                                   icon="trash-alt"
                                   icon-position="left"
                                   outlined
                                   size="xs"
                                   v-if="hasDeleteAccessRights && (item.status === 'NEW')"
                                   v-tooltip="{content:'Hapus Data', placement:'top'}"/>
                        <bs-button @click="confirmPresubmit(item)"
                                   color="warning"
                                   icon="paper-plane"
                                   icon-position="left"
                                   outlined
                                   size="xs"
                                   v-if="hasEditorAccessRights && (item.status === 'NEW')"
                                   v-tooltip="{content:'Ajukan (1) Data', placement:'top'}"/>
                        <bs-button @click="confirmSubmit(item)"
                                   color="primary"
                                   icon="paper-plane"
                                   icon-position="left"
                                   outlined
                                   size="xs"
                                   v-if="hasEditorAccessRights && (item.status === 'PRESUBMITTED')"
                                   v-tooltip="{content:'Ajukan (2) Data', placement:'top'}"/>
                        <bs-button @click="confirmVerify1(item)"
                                   color="warning"
                                   icon="angle-down"
                                   icon-position="left"
                                   outlined
                                   size="xs"
                                   v-if="hasVerificatorAccessRights && (item.status === 'SUBMITTED')"
                                   v-tooltip="{content:'Verifikasi (1) Data', placement:'top'}"/>
                        <bs-button @click="confirmVerify2(item)"
                                   color="primary"
                                   icon="angle-down"
                                   icon-position="left"
                                   outlined
                                   size="xs"
                                   v-if="hasVerificatorAccessRights && (item.status === 'VERIFIED1')"
                                   v-tooltip="{content:'Verifikasi (2) Data', placement:'top'}"/>
                        <bs-button @click="confirmApprove1(item)"
                                   color="warning"
                                   icon="angle-double-down"
                                   icon-position="left"
                                   outlined
                                   size="xs"
                                   v-if="hasVerificatorAccessRights && (item.status === 'VERIFIED2')"
                                   v-tooltip="{content:'Approve (1) Data', placement:'top'}"/>
                        <bs-button @click="confirmApprove2(item)"
                                   color="primary"
                                   icon="angle-double-down"
                                   icon-position="left"
                                   outlined
                                   size="xs"
                                   v-if="hasVerificatorAccessRights && (item.status === 'APPROVED1')"
                                   v-tooltip="{content:'Approve (2) Data', placement:'top'}"/>
                        <bs-button @click="confirmApprove3(item)"
                                   color="success"
                                   icon="angle-double-down"
                                   icon-position="left"
                                   outlined
                                   size="xs"
                                   v-if="hasVerificatorAccessRights && (item.status === 'APPROVED2')"
                                   v-tooltip="{content:'Approve (3) Data', placement:'top'}"/>
                    </bs-grid-cell>
                </template>
            </bs-grid>
        </bs-card>
        <bs-modal :open.sync="isDeleteModalOpen"
                  :overlay-close="false"
                  max-width="85%"
                  title="Konfirmasi"
                  width="400">
            Apakah anda yakin akan menghapus Finalisasi kegiatan:
            <b>{{ finalisasi? finalisasi.kegiatan.namaKegiatan : '' }}</b> dari database?
            <bs-button slot="footer"
                       color="secondary"
                       outlined
                       @click="isDeleteModalOpen = false">
                Batal
            </bs-button>
            <bs-button slot="footer" color="danger" @click="doDelete">
                Hapus
            </bs-button>
        </bs-modal>
        <bs-modal :open.sync="isPresubmitModalOpen"
                  :overlay-close="false"
                  max-width="85%"
                  title="Konfirmasi"
                  width="400">
            Apakah anda yakin akan mengajukan (1) Finalisasi kegiatan:
            <b>{{ finalisasi ? finalisasi.kegiatan.namaKegiatan : '' }}</b>?
            <bs-button slot="footer"
                       color="secondary"
                       outlined
                       @click="isPresubmitModalOpen = false">
                Batal
            </bs-button>
            <bs-button slot="footer" color="primary" @click="doPresubmit">
                Lanjutkan
            </bs-button>
        </bs-modal>
        <bs-modal :open.sync="isSubmitModalOpen"
                  :overlay-close="false"
                  max-width="85%"
                  title="Konfirmasi"
                  width="400">
            Apakah anda yakin akan mengajukan (2) Finalisasi kegiatan:
            <b>{{ finalisasi ? finalisasi.kegiatan.namaKegiatan : '' }}</b>?
            <bs-button slot="footer"
                       color="secondary"
                       outlined
                       @click="isSubmitModalOpen = false">
                Batal
            </bs-button>
            <bs-button slot="footer" color="primary" @click="doSubmit">
                Lanjutkan
            </bs-button>
        </bs-modal>
        <bs-modal :open.sync="isVerify1ModalOpen"
                  :overlay-close="false"
                  max-width="85%"
                  title="Konfirmasi"
                  width="400">
            Apakah anda yakin akan memverifikasi (1) Finalisasi kegiatan:
            <b>{{ finalisasi ? finalisasi.kegiatan.namaKegiatan : '' }}</b>?
            <bs-button slot="footer"
                       color="secondary"
                       outlined
                       @click="isVerify1ModalOpen = false">
                Batal
            </bs-button>
            <bs-button slot="footer" color="primary" @click="doVerify1">
                Lanjutkan
            </bs-button>
        </bs-modal>
        <bs-modal :open.sync="isVerify2ModalOpen"
                  :overlay-close="false"
                  max-width="85%"
                  title="Konfirmasi"
                  width="400">
            Apakah anda yakin akan memverifikasi (2) Finalisasi kegiatan:
            <b>{{ finalisasi ? finalisasi.kegiatan.namaKegiatan : '' }}</b>?
            <bs-button slot="footer"
                       color="secondary"
                       outlined
                       @click="isVerify2ModalOpen = false">
                Batal
            </bs-button>
            <bs-button slot="footer" color="primary" @click="doVerify2">
                Lanjutkan
            </bs-button>
        </bs-modal>
        <bs-modal :open.sync="isApprove1ModalOpen"
                  :overlay-close="false"
                  max-width="85%"
                  title="Konfirmasi"
                  width="400">
            Apakah anda yakin akan meng-approve (1) Finalisasi kegiatan:
            <b>{{ finalisasi ? finalisasi.kegiatan.namaKegiatan : '' }}</b>?
            <bs-button slot="footer"
                       color="secondary"
                       outlined
                       @click="isApprove1ModalOpen = false">
                Batal
            </bs-button>
            <bs-button slot="footer" color="primary" @click="doApprove1">
                Lanjutkan
            </bs-button>
        </bs-modal>
        <bs-modal :open.sync="isApprove2ModalOpen"
                  :overlay-close="false"
                  max-width="85%"
                  title="Konfirmasi"
                  width="400">
            Apakah anda yakin akan meng-approve (2) Finalisasi kegiatan:
            <b>{{ finalisasi ? finalisasi.kegiatan.namaKegiatan : '' }}</b>?
            <bs-button slot="footer"
                       color="secondary"
                       outlined
                       @click="isApprove2ModalOpen = false">
                Batal
            </bs-button>
            <bs-button slot="footer" color="primary" @click="doApprove2">
                Lanjutkan
            </bs-button>
        </bs-modal>
        <bs-modal :open.sync="isApprove3ModalOpen"
                  :overlay-close="false"
                  max-width="85%"
                  title="Konfirmasi"
                  width="400">
            Apakah anda yakin akan meng-approve (3) Finalisasi kegiatan:
            <b>{{ finalisasi ? finalisasi.kegiatan.namaKegiatan : '' }}</b>?
            <bs-button slot="footer"
                       color="secondary"
                       outlined
                       @click="isApprove3ModalOpen = false">
                Batal
            </bs-button>
            <bs-button slot="footer" color="primary" @click="doApprove3">
                Lanjutkan
            </bs-button>
        </bs-modal>
    </div>
</template>

<script>
import { BsStore } from "vue-bs4";
import { MSG_SAVE_SUCCESS, PAGE_SIZE, STATE_SUCCESS, STEP_APPROVAL } from "../../../../store/modules/mutation-types";
import appLocale from "../../../../mixins/appLocale";
import defaultRouteGuard from "../../../../mixins/security/defaultRouteGuard";
import formatUtils from "../../../../mixins/formatUtils";
import httpErrorResponse from "../../../../mixins/httpErrorResponse";
import FinalisasiWorkflowConfigurer from "../../../../models/Kegiatan/Pengelolaan/FinalisasiWorkflowConfigurer";


export default {
    name: "GridFinalisasi",
    mixins: [appLocale, defaultRouteGuard, formatUtils, httpErrorResponse],
    data: () => ({
        dataSource: new BsStore({
            idProperty: 'id',
            dataProperty: 'data',
            totalProperty: 'total',
            pageSize: PAGE_SIZE,
            restUrl: {
                browse: '/kegiatan/finalisasi'
            }
        }),
        finalisasi: null,
        isDeleteModalOpen: false,
        isPresubmitModalOpen: false,
        isSubmitModalOpen: false,
        isVerify1ModalOpen: false,
        isVerify2ModalOpen: false,
        isApprove1ModalOpen: false,
        isApprove2ModalOpen: false,
        isApprove3ModalOpen: false,
        loading: false,
        workflowConfigurer: new FinalisasiWorkflowConfigurer(),
    }),
    beforeDestroy() {
        this.dataSource.destroy();
        this.dataSource = null;
    },
    methods: {
        hrefEdit(fid) {
            return '#/kegiatan/finalisasi/edit/' + fid;
        },
        hrefView(fid) {
            return '#/kegiatan/finalisasi/view/' + fid;
        },
        confirmDelete(item) {
            this.finalisasi = item;
            this.isDeleteModalOpen = true;
        },
        doDelete() {
            this.isDeleteModalOpen = false;
            this.loading = true;
            this.finalisasi.delete()
                .then(() => {
                    this.loading = false;
                    this.$notification.success('Finalisasi berhasil dihapus', STATE_SUCCESS);
                    this.$refs.datagrid.reload();

                })
                .catch((error) => {
                    this.loading = false;
                    this.showErrorMessage(error);
                });

        },
        confirmPresubmit(item) {
            this.finalisasi = item;
            this.isPresubmitModalOpen = true;
        },
        doPresubmit() {
            this.isPresubmitModalOpen = false;
            this.loading = true;
            const config = {
                'url': '/kegiatan/finalisasi/stepflow/' + this.finalisasi.id,
                'method': 'patch',
                'data': {
                    action: 'presubmit',
                    message: null
                }
            };
            this.$axios(config)
                .then(() => {
                    this.loading = false;
                    this.$notification.success('Finalisasi berhasil diajukan (1)', STATE_SUCCESS);
                    this.$refs.datagrid.reload();
                    this.$nextTick(() => {
                        this.$router.push('/kegiatan/finalisasi/');
                    })

                })
                .catch((error) => {
                    this.loading = false;
                    this.showErrorMessage(error);
                });

        },
        confirmSubmit(item) {
            this.finalisasi = item;
            this.isSubmitModalOpen = true;
        },
        doSubmit() {
            this.isSubmitModalOpen = false;
            this.loading = true;
            const config = {
                'url': '/kegiatan/finalisasi/stepflow/' + this.finalisasi.id,
                'method': 'patch',
                'data': {
                    action: 'submit',
                    message: null
                }
            };
            this.$axios(config)
                .then(() => {
                    this.loading = false;
                    this.$notification.success('Finalisasi berhasil diajukan (2)', STATE_SUCCESS);
                    this.$refs.datagrid.reload();
                    this.$nextTick(() => {
                        this.$router.push('/kegiatan/finalisasi/');
                    })

                })
                .catch((error) => {
                    this.loading = false;
                    this.showErrorMessage(error);
                });

        },
        confirmVerify1(item) {
            this.finalisasi = item;
            this.isVerify1ModalOpen = true;
        },
        doVerify1() {
            this.isVerify1ModalOpen = false;
            this.loading = true;
            const config = {
                'url': '/kegiatan/finalisasi/stepflow/' + this.finalisasi.id,
                'method': 'patch',
                'data': {
                    action: 'verify1',
                    message: null
                }
            };
            this.$axios(config)
                .then(() => {
                    this.loading = false;
                    this.$notification.success('Finalisasi berhasil diverifikasi (1)', STATE_SUCCESS);
                    this.$refs.datagrid.reload();
                    this.$nextTick(() => {
                        this.$router.push('/kegiatan/finalisasi/');
                    })

                })
                .catch((error) => {
                    this.loading = false;
                    this.showErrorMessage(error);
                });

        },
        confirmVerify2(item) {
            this.finalisasi = item;
            this.isVerify2ModalOpen = true;
        },
        doVerify2() {
            this.isVerify2ModalOpen = false;
            this.loading = true;
            const config = {
                'url': '/kegiatan/finalisasi/stepflow/' + this.finalisasi.id,
                'method': 'patch',
                'data': {
                    action: 'verify2',
                    message: null
                }
            };
            this.$axios(config)
                .then(() => {
                    this.loading = false;
                    this.$notification.success('Finalisasi berhasil diverifikasi (2)', STATE_SUCCESS);
                    this.$refs.datagrid.reload();
                    this.$nextTick(() => {
                        this.$router.push('/kegiatan/finalisasi/');
                    })

                })
                .catch((error) => {
                    this.loading = false;
                    this.showErrorMessage(error);
                });

        },
        confirmApprove1(item) {
            this.finalisasi = item;
            this.isApprove1ModalOpen = true;
        },
        doApprove1() {
            this.isApprove1ModalOpen = false;
            this.loading = true;
            const config = {
                'url': '/kegiatan/finalisasi/stepflow/' + this.finalisasi.id,
                'method': 'patch',
                'data': {
                    action: 'approve1',
                    message: null
                }
            };
            this.$axios(config)
                .then(() => {
                    this.loading = false;
                    this.$notification.success('Finalisasi berhasil diapprove (1)', STATE_SUCCESS);
                    this.$refs.datagrid.reload();
                    this.$nextTick(() => {
                        this.$router.push('/kegiatan/finalisasi/');
                    })

                })
                .catch((error) => {
                    this.loading = false;
                    this.showErrorMessage(error);
                });

        },
        confirmApprove2(item) {
            this.finalisasi = item;
            this.isApprove2ModalOpen = true;
        },
        doApprove2() {
            this.isApprove2ModalOpen = false;
            this.loading = true;
            const config = {
                'url': '/kegiatan/finalisasi/stepflow/' + this.finalisasi.id,
                'method': 'patch',
                'data': {
                    action: 'approve2',
                    message: null
                }
            };
            this.$axios(config)
                .then(() => {
                    this.loading = false;
                    this.$notification.success('Finalisasi berhasil diapprove (2)', STATE_SUCCESS);
                    this.$refs.datagrid.reload();
                    this.$nextTick(() => {
                        this.$router.push('/kegiatan/finalisasi/');
                    })

                })
                .catch((error) => {
                    this.loading = false;
                    this.showErrorMessage(error);
                });

        },
        confirmApprove3(item) {
            this.finalisasi = item;
            this.isApprove3ModalOpen = true;
        },
        doApprove3() {
            this.isApprove3ModalOpen = false;
            this.loading = true;
            const config = {
                'url': '/kegiatan/finalisasi/stepflow/' + this.finalisasi.id,
                'method': 'patch',
                'data': {
                    action: 'approve3',
                    message: null
                }
            };
            this.$axios(config)
                .then(() => {
                    this.loading = false;
                    this.$notification.success('Finalisasi berhasil diapprove (3)', STATE_SUCCESS);
                    this.$refs.datagrid.reload();
                    this.$nextTick(() => {
                        this.$router.push('/kegiatan/finalisasi/');
                    })

                })
                .catch((error) => {
                    this.loading = false;
                    this.showErrorMessage(error);
                });

        },
    }
}
</script>

<style scoped>

</style>