<template>
  <section class="body-container">
    <bs-card shadow>
      <bs-card-body>
        <form class="row pt-lg-3 px-lg-2" novalidate>
          <!-- left side -->
          <div class="col-xl-6">
            <div class="form-group">
              <bs-text-field v-model="mitra.kodeLembaga"
                             :external-validator="kodeLembagaValidator"
                             autofocus
                             required>
                <label class="col-form-label col-lg-4">
                  Kode Mitra
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="mitra.namaLembaga"
                             :external-validator="namaLembagaValidator"
                             required>
                <label class="col-form-label col-lg-4">
                  Nama Mitra
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-combobox v-model="mitra.jenisLembaga"
                           :items="jenisLembaga"
                           :external-validator="jenisLembagaValidator"
                           required>
                <label class="col-form-label col-lg-4">
                  Kategori
                </label>
              </bs-combobox>
            </div>
            <div class="form-group">
              <bs-text-area v-model="mitra.alamat"
                            :external-validator="alamatMitraValidator"
                            rows="2"
                            required>
                <label class="col-form-label col-lg-4">
                  Alamat Mitra
                </label>
              </bs-text-area>
            </div>
            <div class="form-group">
              <bs-combobox v-model="mitra.provinsiId"
                           :data-source="dsCboProvinsi"
                           :external-validator="provinsiIdValidator"
                           required>
                <label class="col-form-label col-lg-4">
                  Provinsi
                </label>
              </bs-combobox>
            </div>
            <div class="form-group">
              <bs-combobox v-model="mitra.kabupatenId"
                           :data-source="dsCboKabupaten"
                           :parent-value="mitra.provinsiId"
                           :external-validator="kabupatenIdValidator"
                           @data-bind="onBindKabupaten"
                           required>
                <label class="col-form-label col-lg-4">
                  Kabupaten
                </label>
              </bs-combobox>
            </div>
            <div class="form-group">
              <bs-combobox v-model="mitra.kecamatanId"
                           :data-source="dsCboKecamatan"
                           :parent-value="mitra.kabupatenId"
                           :external-validator="kecamatanIdValidator"
                           @data-bind="onBindKecamatan"
                           required>
                <label class="col-form-label col-lg-4">
                  Kecamatan
                </label>
              </bs-combobox>
            </div>
            <div class="form-group">
              <bs-combobox v-model="mitra.kelurahanId"
                           :data-source="dsCboKelurahan"
                           :parent-value="mitra.kecamatanId"
                           :external-validator="kelurahanIdValidator"
                           @data-bind="onBindKelurahan"
                           required>
                <label class="col-form-label col-lg-4">
                  Kelurahan
                </label>
              </bs-combobox>
            </div>
            <div class="row">
              <div class="col-lg-8 offset-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <bs-text-field v-model="mitra.rtRw"
                                   :external-validator="rtRwValidator"
                                   prepend-icon="pen"
                                   class="form-group"
                                   placeholder="001/003">
                      <span slot="prependSlot" class="md-icon-text">RT/RW:</span>
                    </bs-text-field>
                  </div>
                  <div class="col-lg-6">
                    <bs-text-field v-model="mitra.kodePos" prepend-icon="pen" class="form-group">
                      <span slot="prependSlot" class="md-icon-text">Kode Pos:</span>
                    </bs-text-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-lg-4">
                Koordinat (GPS)
              </label>
              <div class="col-lg-8">
                <div class="row">
                  <div class="col-lg-6">
                    <bs-number-field v-model.number="mitra.latitude"
                                     prepend-icon="pen"
                                     :locale="getLocale"
                                     class="form-group">
                      <span slot="prependSlot" class="md-icon-text">Latitude:</span>
                    </bs-number-field>
                  </div>
                  <div class="col-lg-6">
                    <bs-number-field v-model.number="mitra.longitude"
                                     prepend-icon="pen"
                                     :locale="getLocale"
                                     class="form-group">
                      <span slot="prependSlot" class="md-icon-text">Longitude:</span>
                    </bs-number-field>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- right side -->
          <div class="col-xl-6">
            <div class="form-group">
              <bs-text-field v-model="mitra.aktePendirian"
                             :external-validator="aktePendirianValidator"
                             required>
                <label class="col-form-label col-lg-4">
                  No. Akte Pendirian
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="mitra.officePhone">
                <label class="col-form-label col-lg-4">
                  Telpon Kantor
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="mitra.email">
                <label class="col-form-label col-lg-4">
                  Alamat Email
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="mitra.website">
                <label class="col-form-label col-lg-4">
                  Website
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="mitra.namaPimpinan">
                <label class="col-form-label col-lg-4">
                  Nama Pimpinan
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="mitra.pimpinanPhone">
                <label class="col-form-label col-lg-4">
                  Telpon/HP
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="mitra.picProgram">
                <label class="col-form-label col-lg-4">
                  PIC Program
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="mitra.picPhone">
                <label class="col-form-label col-lg-4">
                  Telpon/HP PIC
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-combobox v-model="mitra.msid" :data-source="comboProgramCSR" clear-button>
                <label class="col-form-label col-lg-4">
                  Prorgam CSR
                </label>
              </bs-combobox>
            </div>
          </div>
        </form>
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <bs-button color="primary" @click="doSave">
          Simpan
        </bs-button>
      </bs-card-footer>
    </bs-card>
    <bs-mask-loader :show="mitra.updating"
                    :opacity="0"
                    :spinner-diameter="50" />
  </section>
</template>

<script>
import { BsStore } from "vue-bs4";
import { validationMixin } from "vuelidate";
import { MitraModel } from "../../../../models/MasterData/Mitra/MitraModel";
import {
    MSG_SAVE_SUCCESS,
    MSG_UPDATE_SUCCESS,
    SAVE,
    STATE_SUCCESS,
    UPDATE
} from "../../../../store/modules/mutation-types";
import { mitraValidationHandler, mitraValidator } from "../../../../models/MasterData/Mitra/MitraValidators";
import alamatValidationHandler from "../../../../models/Beneficiary/alamatValidationHandler";
import editorRouteGuard from "../../../../mixins/security/editorRouteGuard";
import appLocale from "../../../../mixins/appLocale";
import cascadeComboBoxWilayah from "../../../../mixins/cascadeComboBoxWilayah";
import httpErrorResponse from "../../../../mixins/httpErrorResponse";

export default {
    name: 'FormMitra',
    mixins: [
        appLocale, httpErrorResponse, cascadeComboBoxWilayah, editorRouteGuard, validationMixin,
        mitraValidationHandler('mitra'), alamatValidationHandler('mitra')
    ],
    data: () => ({
        mitra: new MitraModel(),
        jenisLembaga: [
            {label: 'NEGERI', value: 'NEGERI'},
            {label: 'PERKUMPULAN', value: 'PERKUMPULAN'},
            {label: 'SWASTA', value: 'SWASTA'},
            {label: 'YAYASAN', value: 'YAYASAN'}
        ],
        comboProgramCSR: {
            schema: {
                displayField: 'name',
                valueField: 'msid'
            },
            proxy: new BsStore({
                idProperty: 'msid',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    browse: '/master-data/program-csr'
                }
            })
        },
        /**
         * Jika bernilai FALSE dipergunakan untuk menambah data baru,
         * dan jika bernilai TRUE dipergunakan untuk memperbarui existing data.
         *
         * @type boolean
         */
        isEditMode: false
    }),
    validations: {
        mitra: mitraValidator
    },
    created() {

        if (this.$route.params.id) {
            this.isEditMode = true;

            this.mitra.fetch(this.$route.params.id).then(() => {
                this.mitra.provinsiId = this.mitra.kecamatan.kabupaten.provinsi.provinsiId;
                this.mitra.msid       = this.mitra.programCsr != null ? this.mitra.programCsr.msid : null;
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/master-data/mitra');
                });
            });
        }
    },
    beforeDestroy() {
        this.mitra.destroy();
        this.mitra = null;
        this.comboProgramCSR.proxy.destroy();
        this.comboProgramCSR.proxy = null;
        this.comboProgramCSR       = null;
    },
    methods: {
        /**
         * Send HTTP request untuk menambah/mengupdate data PAUD.
         *
         * @return {void}
         */
        doSave() {
            this.$v.$touch();

            if (!this.$v.$error) {
                const text   = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                const action = this.isEditMode ? UPDATE : SAVE;

                this.mitra.programCsr = this.mitra.msid;
                this.mitra.kecamatan  = this.mitra.kecamatanId;
                this.mitra.kelurahan  = this.mitra.kelurahanId;

                this.mitra[action]().then(() => {
                    this.$notification.success('Data ' + this.mitra.namaLembaga + text, STATE_SUCCESS);
                    this.$nextTick(() => {
                        this.$router.push('/master-data/mitra');
                    });
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            }
        },
        /**
         * Event handler when data kabupaten already loaded.
         *
         * @param {Object[]} items Data kabupaten
         * @return {void}
         */
        onBindKabupaten(items) {
            if (items && items.length > 0 && this.mitra.kecamatan !== null) {
                this.mitra.kabupatenId = this.mitra.kecamatan.kabupaten.kabupatenId;
            }
        },
        /**
         * Event handler when data kecamatan already loaded.
         *
         * @param {Object[]} items Data kecamatan
         * @return {void}
         */
        onBindKecamatan(items) {
            if (items && items.length > 0 && this.mitra.kecamatan !== null) {
                this.mitra.kecamatanId = this.mitra.kecamatan.kecamatanId;
            }
        },
        /**
         * Event handler when data kelurahan already loaded.
         *
         * @param {Object[]} items Data kelurahan
         * @return {void}
         */
        onBindKelurahan(items) {
            if (items && items.length > 0 && this.mitra.kelurahan !== null) {
                this.mitra.kelurahanId = this.mitra.kelurahan.kelurahanId;
            }
        }
    }
}
</script>

<style scoped>

</style>
