<template>
  <section class="container">
    <bs-card shadow>
      <bs-card-body>
        <form class="row pt-lg-3 px-lg-2" novalidate>
          <div class="col-xl-8">
            <div class="form-group">
              <bs-text-field v-model="profile.username" disabled required>
                <label class="col-form-label col-md-4 col-xl-3">
                  Akun Pengguna
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="profile.fullName"
                             :external-validator="fullNameValidator"
                             autofocus
                             required>
                <label class="col-form-label col-md-4 col-xl-3">
                  Nama Lengkap
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="profile.newEmail"
                             :external-validator="emailValidator"
                             help-text="Untuk merubah alamat email pastikan alamat email lama masih aktif."
                             persistent-help-text
                             required>
                <label class="col-form-label col-md-4 col-xl-3">
                  Alamat Email
                </label>
              </bs-text-field>
            </div>
            <div class="form-group row">
              <div class="col-md-8 col-xl-9 offset-md-4 offset-xl-3">
                <bs-checkbox v-model="bChangePassword" color="pink">
                  Ganti Kata Sandi
                </bs-checkbox>
              </div>
            </div>
            <div class="form-group" v-if="isPasswordChange">
              <bs-text-field v-model="profile.userPassword"
                             :external-validator="userPasswordValidator"
                             type="password"
                             required>
                <label class="col-form-label col-md-4 col-xl-3">
                  Kata Sandi Lama
                </label>
              </bs-text-field>
            </div>
            <div class="form-group" v-if="isPasswordChange">
              <bs-text-field v-model="profile.newPassword"
                             :external-validator="newPassworddValidator"
                             type="password"
                             required>
                <label class="col-form-label col-md-4 col-xl-3">
                  Kata Sandi Baru
                </label>
              </bs-text-field>
            </div>
            <div class="form-group" v-if="isPasswordChange">
              <bs-text-field v-model="profile.confirmPassword"
                             :external-validator="confirmPasswordValidator"
                             type="password"
                             required>
                <label class="col-form-label col-md-4 col-xl-3">
                  Konfirmasi Kata Sandi Baru
                </label>
              </bs-text-field>
            </div>
          </div>
        </form>
        <template v-for="(message, idx) in alertMessages">
          <bs-alert v-model="showAlert"
                    :key="'alert-' + idx"
                    :class="{'mb-1': alertMessages.length === (idx + 1)}"
                    color="info"
                    icon="info-circle"
                    dismissable>
            <div v-html="message"></div>
          </bs-alert>
        </template>
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <div class="d-flex align-items-center">
          <div style="width: 250px">
            <bs-button color="primary" @click="doSave">
              Simpan
            </bs-button>
            <bs-button color="blue-grey" outlined @click="loadUserProfile">
              Batal
            </bs-button>
          </div>
          <div class="d-none d-md-block flex-fill text-right text-grey-500">
            Kunjungan terakhir: {{ profile.lastVisited }}
          </div>
        </div>
      </bs-card-footer>
    </bs-card>
    <bs-mask-loader :opacity="0"
                    :show="profile.updating"
                    :spinner-diameter="50" />
  </section>
</template>

<script>
import { Helper } from "vue-bs4";
import { validationMixin } from "vuelidate";
import {
    ASSIGN_VALUES,
    SET_USER_FULLNAME,
    SET_USER_GROUP_NAME,
    STATE_SUCCESS
} from "../../../store/modules/mutation-types";
import { userProfileValidationHandler, userProfileValidator } from "../../../models/User/UserProfileValidators";
import appLocale from "../../../mixins/appLocale";
import formatUtils from "../../../mixins/formatUtils";
import httpErrorResponse from "../../../mixins/httpErrorResponse";
import UserProfileModel from "../../../models/User/UserProfileModel";
import mapStoreUserProfile from "../../../mixins/mapStoreUserProfile";

export default {
    name: "FormUserProfile",
    mixins: [
        validationMixin, appLocale, formatUtils, mapStoreUserProfile, httpErrorResponse,
        userProfileValidationHandler('profile')],
    data: () => ({
        profile: new UserProfileModel(),
        bChangePassword: false,
        alertMessages: [],
        showAlert: false
    }),
    computed: {
        isPasswordChange() {
            return this.bChangePassword;
        }
    },
    validations: {
        profile: userProfileValidator
    },
    created() {
        this.loadUserProfile();
    },
    beforeDestroy() {
        this.profile.destroy();
        this.profile       = null;
        this.alertMessages = null;
    },
    methods: {
        /**
         * Send HTTP request untuk menambah/memperbarui data UserAccount.
         *
         * @return {void}
         */
        doSave() {
            this.$v.$touch();

            if (!this.$v.$error) {
                this.alertMessages = [];
                if (!this.isPasswordChange) {
                    this.profile.userPassword    = null;
                    this.profile.newPassword     = null;
                    this.profile.confirmPassword = null;
                }

                this.profile.update().then((response) => {
                    this.$notification.success('Profil Anda telah berhasil diperbarui.', STATE_SUCCESS);

                    if (this.isPasswordChange) {
                        this.alertMessages.push('Kata sandi berhasil diperbarui. Silakan keluar dari aplikasi ' +
                            'dan coba untuk login dengan kata sandi baru.');
                    }
                    if (!Helper.isEmpty(this.profile.email) && this.profile.newEmail !== this.profile.email) {
                        this.alertMessages.push('Email konfirmasi telah dikirimkan ke <b>' + this.maskEmail(this.profile.email) +
                            '</b>. Jika Anda tidak menemukan email yang dimaksud, periksa kotak SPAM.');
                    } else if (Helper.isEmpty(this.profile.email) && !Helper.isEmpty(this.profile.newEmail)) {
                        this.alertMessages.push('Email konfirmasi telah dikirimkan ke <b>' + this.profile.newEmail +
                            '</b>. Jika Anda tidak menemukan email yang dimaksud, periksa kotak SPAM.');
                    }

                    this.showAlert           = !Helper.isEmpty(this.alertMessages);
                    this.profile.lastVisited = this.dateFormat(response.data.data.lastVisited, this.formatConst.dateTimeCustom);
                    this[SET_USER_FULLNAME](this.profile.fullName);
                }).catch((error) => {
                    this.showAlert = false;
                    this.showErrorMessage(error);
                });
            }
        },
        /**
         * Load user profile from remote server.
         *
         * @return {void}
         */
        loadUserProfile() {
            this.profile.fetch().then((response) => {
                const data               = response.data.data;
                this.profile.username    = data.username;
                this.profile.email       = data.email;
                this.profile.newEmail    = data.email;
                this.profile.groupName   = data.group.groupName;
                this.profile.lastVisited = this.dateFormat(data.lastVisited, this.formatConst.dateTimeCustom);
                this[ASSIGN_VALUES](data);
                this[SET_USER_GROUP_NAME](this.profile.groupName);
                this.$v.$reset();
            }).catch((error) => {
                this.showErrorMessage(error);
            });
        }
    }
}
</script>

<style scoped>

</style>
