<template>
  <div class="body-container">
    <bs-card shadow>
      <bs-card-header>
        Monitoring Anggaran
      </bs-card-header>
      <bs-card-body>
        <div class="pb-0">
          <div class="row">
            <div class="col-xl-7">
              <div class="form-group">
                <bs-combobox required v-model="idprogram" :data-source="dsProgram" @change="onSelectProgram">
                  <label class="col-form-label col-lg-3">
                    Program CSR
                  </label>
                </bs-combobox>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-7">
              <div class="form-group">
                <div class="col-md-9 col-xl-10">
                  <bs-checkbox v-model="hasCustomPeriode">
                    Pilih tahun
                  </bs-checkbox>
                </div>
              </div>
            </div>
          </div>
          <div v-if="hasCustomPeriode" class="row">
            <label class="col-form-label col-md-3 col-xl-2 font-weight-bold">
              Tahun
            </label>
            <div class="col-md-9 col-xl-10">
              <div class="form-group form-row">
                <div class="col-5">
                  <bs-date-time-field v-model="tahun"
                                      append-icon="calendar"
                                      format="YYYY"
                                      display-format="YYYY"
                                      view-mode="year"
                                      required
                                      @change="onSelectPeriod"/>
                </div>
                <div class="col-5" v-if="false">
                  <bs-button-toggle-field :items="pilihanBulan"
                                          @change="onSelectPeriod"
                                          color="default"
                                          outlined
                                          required
                                          size="sm"
                                          toggle-color="teal"
                                          v-model="bulan">
                    <label class="col-form-label col-lg-4">
                      bulan
                    </label>
                  </bs-button-toggle-field>
                </div>
              </div>

            </div>
            <bs-alert style="width: 100%" v-if="(periodeAwal===null)||(periodeAkhir===null)">
              Silakan pilih periode anggaran yang akan ditampilkan
            </bs-alert>
          </div>
          <router-view :key="$route.fullPath"/>
          <bs-mask-loader :opacity="0" :show="loading" :spinner-diameter="50" />
        </div>
      </bs-card-body>
      <bs-card-footer class="bg-white" />
    </bs-card>
  </div>
</template>

<script>
import { BsStore, Helper } from "vue-bs4";
import defaultRouteGuard from "../../mixins/security/defaultRouteGuard";
import {SET_ACTIVE_ITEM} from "../../store/modules/mutation-types";

export default {
  name: "MonitoringAnggaran",
  mixins: [ defaultRouteGuard ],
  data: () => ({
    dsProgram: {
      schema: {
        displayField: 'name',
        valueField: 'msid'
      },
      proxy: new BsStore({
        idProperty: 'msid',
        dataProperty: 'data',
        totalProperty: 'total',
        restUrl: {
          browse: '/master-data/program-csr'
        }
      })
    },
    pilihanBulan: [
      {label: 'Januari', value: 1},
      {label: 'Juli', value: 7}
    ],    // showModal: false,
    bulan: 1,
    tahun: null,
    idprogram: null,
    hasCustomPeriode: false,
    periodeAwal: null,
    periodeAkhir: null,
    loading: false,
  }),
  computed: {
    currentYear() {
      var dt = new Date();
      return dt.getFullYear();
    }
  },
  created() {
    this.idprogram = this.$route.params.idprogram;

    if (this.$route.params.awal) {
      this.periodeAwal = this.$route.params.awal
      this.tahun = this.yearPart(this.periodeAwal);
    }
    if (this.$route.params.akhir) {
      this.periodeAkhir = this.$route.params.akhir
      //this.hasCustomPeriode = true;
    }
  },
  methods: {
    yearPart(tanggal) {
      return Number(tanggal.substring(0,4));
    },
    monthPart(tanggal) {
      return Number(tanggal.substring(5,7));
    },
    onSelectProgram(item) {
      if (item === null) {
        //this.program = null;
        this.hasCustomPeriode = false;
      } else {
        //this.program = item;
        if (! this.hasCustomPeriode) {
          this.resetPeriode();
          this.gotoLaporan(this.idprogram);
        }
        else {
          this.gotoLaporan(this.idprogram);
        }
      }

    },
    onSelectPeriod() {
      if (this.bulan === 1){
        this.periodeAwal = this.tahun+'-01';
        this.periodeAkhir = this.tahun+'-12';
        this.gotoLaporan(this.idprogram);
      }
      else {
        let tahunNext = 1 + Number(this.tahun);
        this.periodeAwal = this.tahun+'-07';
        this.periodeAkhir = tahunNext+'-06';
        this.gotoLaporan(this.idprogram);
      }

    },
    resetPeriode() {
      this.periodeAwal = this.currentYear+'-01';
      this.periodeAkhir = this.currentYear+'-12';
    },
    gotoLaporan(idprogram) {
      if (idprogram != null) {
        this.$router.push('/laporan/monitoring/' + idprogram + '/' +
                this.periodeAwal + '/' + this.periodeAkhir);
      }
    },
  }
  
}
</script>

<style scoped>

</style>
