<template>
    <div class="body-container">
        <bs-card shadow>
            <bs-card-header>
                Rekap Anggaran
            </bs-card-header>
            <bs-card-body>
                <div class="pb-0">
                    <div class="row">
                        <label class="col-form-label col-md-3 col-xl-2 font-weight-bold">
                            Tahun
                        </label>
                        <div class="col-md-9 col-xl-10">
                            <div class="form-group form-row">
                                <div class="col-5">
                                    <bs-date-time-field v-model="tahun"
                                                        append-icon="calendar"
                                                        format="YYYY"
                                                        display-format="YYYY"
                                                        view-mode="year"
                                                        required
                                                        @change="onSelectPeriod"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-7">
                            <div class="form-group">
                                <div class="col-md-9 col-xl-10">
                                    <bs-checkbox v-model="hasSelectBidang" @change="onSelectBidang">
                                        Pilih Bidang CSR
                                    </bs-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" v-if="hasSelectBidang">
                        <bs-combobox v-model="bidangId"
                                     :data-source="dsJenis"
                                     @change="onSelectBidang">
                            <label class="col-form-label col-md-3 col-xl-2">
                                Bidang CSR
                            </label>
                        </bs-combobox>
                    </div>
                    <bs-alert style="width: 100%" v-if="(tahun===null)">
                        Silakan pilih periode anggaran yang akan ditampilkan
                    </bs-alert>
                    <router-view :key="$route.fullPath"/>
                    <bs-mask-loader :opacity="0" :show="loading" :spinner-diameter="50" />
                </div>
            </bs-card-body>
            <bs-card-footer class="bg-white" />
        </bs-card>
    </div>
</template>

<script>
    import { BsStore, Helper } from "vue-bs4";
    import defaultRouteGuard from "../../mixins/security/defaultRouteGuard";
    import {SET_ACTIVE_ITEM} from "../../store/modules/mutation-types";

    export default {
        name: "Rekap",
        mixins: [ defaultRouteGuard ],
        data: () => ({
            dsJenis: {
                schema: {
                    displayField: 'title',
                    valueField: 'id'
                },
                proxy: new BsStore({
                    idProperty: 'id',
                    dataProperty: 'data',
                    totalProperty: 'total',
                    restUrl: {
                        browse: '/master-data/bidang-csr'
                    }
                })
            },
            hasSelectBidang: false,
            bidangId: null,
            tahun: null,
            loading: false,
        }),
        computed: {
            currentYear() {
                var dt = new Date();
                return dt.getFullYear();
            }
        },
        created() {
            if (this.$route.params.tahun) {
                this.tahun = parseInt(this.$route.params.tahun);
            }
            else {
                this.tahun = this.currentYear;
            }

            if (this.$route.params.bidang) {
                this.bidangId = parseInt(this.$route.params.bidang);
                this.hasSelectBidang = true;
            }
            else {
                this.bidangId = 0;
            }

            if (this.bidangId === 0) {
                this.hasSelectBidang = false;
            }
            this.gotoLaporan();
        },
        methods: {
            onSelectPeriod() {
                this.gotoLaporan();
            },
            onSelectBidang() {
                if (!this.hasSelectBidang) {
                    this.bidangId = 0;
                }
                this.gotoLaporan();
            },
            resetPeriode() {
                this.tahun = this.currentYear;
            },
            gotoLaporan() {
                this.$router.push('/laporan/rekap/' + this.tahun + '/' + this.bidangId);
            },
        }

    }
</script>

<style scoped>

</style>
