<template>
    <div class="body-container">
        <bs-card shadow>
            <bs-card-header>
                Monitoring Anggaran
            </bs-card-header>
            <bs-card-body>
                <div class="pb-0">
                    <div class="row">
                        <div class="col-xl-7">
                            <div class="form-group">
                                <bs-combobox required v-model="idprogram" :data-source="dsProgram" @change="onSelectProgram">
                                    <label class="col-form-label col-lg-3">
                                        Program CSR
                                    </label>
                                </bs-combobox>
                            </div>
                        </div>
                    </div>
                    <div  class="row">
                        <div class="col-xl-7">
                            <div class="form-group">
                                <bs-date-time-field v-model="tahun"
                                                    append-icon="calendar"
                                                    format="YYYY"
                                                    display-format="YYYY"
                                                    view-mode="year"
                                                    required
                                                    @change="onSelectPeriod">

                                    <label class="col-form-label col-lg-3">
                                        Tahun
                                    </label>
                                </bs-date-time-field>
                            </div>
                        </div>
                    </div>
                    <router-view :key="$route.fullPath"/>
                    <bs-mask-loader :opacity="0" :show="loading" :spinner-diameter="50" />
                </div>
            </bs-card-body>
            <bs-card-footer class="bg-white" />
        </bs-card>
    </div>

</template>

<script>
import defaultRouteGuard from "../../mixins/security/defaultRouteGuard";
import { BsStore } from "vue-bs4";

export default {
	name: "RiwayatPembayaran",
	mixins: [defaultRouteGuard],
    data: () => ({
		dsProgram: {
			schema: {
				displayField: 'name',
				valueField: 'msid'
			},
			proxy: new BsStore({
				idProperty: 'msid',
				dataProperty: 'data',
				totalProperty: 'total',
				restUrl: {
					browse: '/master-data/program-csr'
				}
			})
		},
        idprogram: null,
        tahun: null,
        loading: false,
    }),
	computed: {
		currentYear() {
			var dt = new Date();
			return dt.getFullYear();
		}
	},
    created() {
		if (this.$route.params.idprogram) {
			this.idprogram = this.$route.params.idprogram;
		}

		if (this.$route.params.tahun) {
			this.tahun = this.$route.params.tahun
		}
	},
	methods: {
		onSelectProgram() {
			if (this.tahun == null) {
				this.tahun = this.currentYear;
            }
			this.gotoLaporan();
        },
        onSelectPeriod() {
			this.gotoLaporan();
        },
        gotoLaporan() {
			if ((this.idprogram != null) && (this.tahun != null)) {
				this.$router.push('/laporan/pembayaran/' + this.idprogram + '/' + this.tahun);
			}
		},

	}
}
</script>

<style scoped>

</style>