<template>
  <section class="container">
    <bs-card shadow>
      <bs-card-body>
        <form class="pt-lg-3 px-lg-2" novalidate>
          <div class="form-group">
            <bs-text-field v-model="dataReference.name"
                           :external-validator="nameValidator"
                           autofocus
                           required>
              <label class="col-form-label col-lg-3 col-xl-2">
                Nama Referensi
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="dataReference.code"
                           :external-validator="codeValidator"
                           :readonly="dataReference.protected"
                           :append-icon="dataReference.protected ? 'lock' : null"
                           required>
              <label class="col-form-label col-lg-3 col-xl-2">
                Kode Referensi
              </label>
              <font-awesome-icon v-if="dataReference.protected"
                                 slot="appendSlot"
                                 class="text-danger"
                                 icon="lock" />
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field v-if="dataReference.protected"
                           :value="dataReference.parent ? dataReference.parent.name : null"
                           :readonly="true"
                           append-icon="lock"
                           required>
              <label class="col-form-label col-lg-3 col-xl-2">
                Group
              </label>
              <font-awesome-icon slot="appendSlot"
                                 class="text-danger"
                                 icon="lock" />
            </bs-text-field>
            <bs-combobox v-model="dataReference.parentId"
                         :data-source="comboParent"
                         v-else>
              <label class="col-form-label col-lg-3 col-xl-2">
                Group
              </label>
            </bs-combobox>
          </div>
          <div class="form-group">
            <bs-text-field v-model="dataReference.description">
              <label class="col-form-label col-lg-3 col-xl-2">
                Keterangan
              </label>
            </bs-text-field>
          </div>
        </form>

        <div class="mx-2">
          <bs-card-content type="title" class="mt-4 mb-1">
            Parameter Referensi
          </bs-card-content>
          <table class="table table-bordered mt-3">
            <thead class="thead-light">
              <tr>
                <th>Property</th>
                <th>Value</th>
                <th>Type</th>
                <th class="align-middle text-center" style="width: 25px">
                  <font-awesome-icon v-tooltip="{content:'Tambah baris baru', placement:'top'}"
                                     icon="plus"
                                     size="lg"
                                     style="cursor: pointer"
                                     @click="doAddRowParam" />
                </th>
              </tr>
            </thead>

            <tbody>
              <tr v-for="(item, idx) in dataReference.params" :key="'param-' + idx">
                <td>
                  <bs-text-field v-model="item.property" placeholder="Ketik nama property" flat />
                </td>
                <td>
                  <bs-text-field v-model="item.value" placeholder="Ketik property value" flat />
                </td>
                <td>
                  <bs-combobox v-model="item.type" :items="typeReference" flat />
                </td>
                <td class="align-middle text-center">
                  <font-awesome-icon icon="times"
                                     size="lg"
                                     class="text-danger"
                                     style="cursor: pointer"
                                     v-tooltip="{content:'Hapus baris', placement:'top'}"
                                     @click="dataReference.params.splice(idx, 1)" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <bs-button color="primary" @click="doSave">
          Simpan
        </bs-button>
      </bs-card-footer>
    </bs-card>
    <bs-mask-loader :show="dataReference.updating"
                    :opacity="0"
                    :spinner-diameter="50" />
  </section>
</template>

<script>
import { BsStore } from "vue-bs4";
import { validationMixin } from "vuelidate";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { DataReferenceModel } from "../../../../models/MasterData/DataReference/DataReferenceModel";
import {
    dataReferenceValidationHandler,
    dataReferenceValidator
} from "../../../../models/MasterData/DataReference/DataReverenceValidator";
import {
    MSG_SAVE_SUCCESS,
    MSG_UPDATE_SUCCESS,
    SAVE,
    STATE_SUCCESS,
    UPDATE
} from "../../../../store/modules/mutation-types";
import editorRouteGuard from "../../../../mixins/security/editorRouteGuard";
import httpErrorResponse from "../../../../mixins/httpErrorResponse";

export default {
    name: 'FormDataReference',
    components: {FontAwesomeIcon},
    mixins: [
        validationMixin, dataReferenceValidationHandler('dataReference'),
        editorRouteGuard, httpErrorResponse
    ],
    data: () => ({
        dataReference: new DataReferenceModel(),
        typeReference: [
            {label: 'STRING', value: 'STRING'},
            {label: 'BOOLEAN', value: 'BOOLEAN'},
            {label: 'FLOAT', value: 'FLOAT'},
            {label: 'INTEGER', value: 'INTEGER'}
        ],
        comboParent: {
            schema: {
                displayField: 'name',
                valueField: 'id'
            },
            proxy: new BsStore({
                idProperty: 'id',
                dataProperty: 'data',
                totalProperty: 'total',
                filters: [{property: 'parent', value: null, operator: 'eq'}],
                restUrl: {
                    browse: '/master-data/data-reference'
                }
            })
        },
        /**
         * Jika bernilai FALSE dipergunakan untuk menambah data baru,
         * dan jika bernilai TRUE dipergunakan untuk memperbarui existing data.
         *
         * @type boolean
         */
        isEditMode: false
    }),
    /**
     * @return {void}
     */
    created() {
        if (!this.hasEditorAccessRights) {
            this.$router.push('/access-denied');
            return;
        }

        if (this.$route.params.id) {
            this.isEditMode       = true;
            this.dataReference.id = this.$route.params.id;

            this.dataReference.fetch().then(() => {
                if (this.dataReference.parent) {
                    this.dataReference.parentId = this.dataReference.parent.id;
                }
                this.dataReference.params = this.dataReference.params === null
                    ? [{property: '', value: '', type: 'STRING'}]
                    : this.dataReference.params;
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/master-data/data-reference');
                });
            });
        }
    },
    beforeDestroy() {
        this.dataReference.destroy();
        this.dataReference = null;

        this.comboParent.proxy.destroy();
        this.comboParent.proxy = null;
        this.comboParent       = null;
    },
    validations: {
        dataReference: dataReferenceValidator
    },
    methods: {
        /**
         * Tambah baris baru untuk data parameter.
         *
         * @return {void}
         */
        doAddRowParam() {
            this.dataReference.params.push({property: '', value: '', type: 'STRING'});
        },
        /**
         * Send HTTP request untuk menambah/mengupdate data DataReference.
         *
         * @return {void}
         */
        doSave() {
            this.$v.$touch();

            if (!this.$v.$error) {
                const text   = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                const action = this.isEditMode ? UPDATE : SAVE;

                this.dataReference.parent = this.dataReference.parentId;

                this.dataReference[action]().then(() => {
                    this.$notification.success('Data ' + this.dataReference.name + text, STATE_SUCCESS);
                    this.$nextTick(() => {
                        this.$router.push('/master-data/data-reference');
                    });
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            }
        }
    }
}
</script>

<style scoped>

</style>
