<template>
    <div class="body-container">
        <bs-card shadow>
            <bs-card-body class="pb-3 border-bottom">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-group">
                            <bs-date-time-field
                                    v-model="tahun"
                                    append-icon="calendar"
                                    clear-button
                                    display-format="YYYY"
                                    format="YYYY"
                                    required
                                    view-mode="year">
                                <label class="col-form-label col-lg-4">TAHUN ANGGARAN</label>
                            </bs-date-time-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-group">
                            <bs-combobox
                                    v-model="programId"
                                    :parent-value="tahun"
                                    :data-source="dsProgram"
                                    required>
                                <label class="col-form-label col-lg-4">NAMA PROGRAM</label>
                            </bs-combobox>
                        </div>
                    </div>
                </div>
            </bs-card-body>
            <bs-card-body v-if="dataSource">
                <div class="dokumen-wrapper">
                    <template v-for="(item, row) in dataSource">
                        <div class="dokumen" :key="'doc-' + row">
                            <img :src="showIcon(item)"
                                 :title="item.namaKegiatan"
                                 :alt="item.namaKegiatan"
                                 class="img-fluid"/>
                            <p>{{ item.namaKegiatan }}</p>
                            <div class="grid__overlay">
                                <bs-button color="info"
                                           @click="showDetail(item)"
                                           icon="eye"
                                           size="sm"
                                           class="button_detail">
                                    Lihat Detail
                                </bs-button>
                            </div>
                        </div>
                    </template>
                </div>
            </bs-card-body>
            <bs-mask-loader :opacity="0"
                            :show="loader"
                            :spinner-diameter="50"/>
        </bs-card>
    </div>
</template>
<script>
    import {GET_ACTIVE_PROGRAM} from "../../../store/modules/Kegiatan/mutation-types";
    import {DOSIR, NEW, PLANNED, REJECTED, STATE_WARNING, UPDATED} from "../../../store/modules/mutation-types";
    import {BsStore, Helper} from "vue-bs4";
    import appLocale from "../../../mixins/appLocale";
    import formatUtils from "../../../mixins/formatUtils";
    import httpErrorResponse from "../../../mixins/httpErrorResponse";
    import defaultRouteGuard from "../../../mixins/security/defaultRouteGuard";

    export default {
        name: "DosirKegiatan",
        mixins: [appLocale, formatUtils, httpErrorResponse, defaultRouteGuard],
        data: () => ({
            dataSource: null,
            dsProgram: {
                schema: {
                    displayField: 'namaProgram',
                    valueField: 'id',
                    cascadeField: 'tahun'
                },
                proxy: new BsStore({
                    idProperty: 'id',
                    dataProperty: 'data',
                    totalProperty: 'total',
                    filters: [{property: 'status', value: [NEW, UPDATED, REJECTED, PLANNED], operator: 'notin'}],
                    restUrl: {
                        browse: '/pendanaan/batch'
                    }
                })
            },
            tahun: null,
            iconFolder: 'images/icon-document/',
            loader: false
        }),
        computed: {
            programId: {
                get() {
                    return this[GET_ACTIVE_PROGRAM];
                },
                set(value) {
                    this.load(value);
                }
            }
        },
        created() {
            this.load();
        },
        beforeDestroy() {
            this.dsProgram.proxy.destroy();
            this.dsProgram.proxy = null;
            this.dsProgram = null;
        },
        methods: {
            /**
             * Load primary data from remote source.
             */
            load(programId) {
                let $wsUrl = '/kegiatan/dokumentasi/exist/' + DOSIR + '/1';
                if (!Helper.isEmpty(programId)) {
                    $wsUrl = '/kegiatan/dokumentasi/exist/' + DOSIR + '/1?filters[]=%7B"property":"danaBatch.id","value":"' + programId + '","operator":"eq"%7D&sorts[]=%7B"property":"postedDate","direction":"desc"%7D&logic=AND';
                }

                this.loader = true;
                try {
                    this.$http.get($wsUrl).then($response => {
                        let res = $response.data;
                        if (!Helper.isEmpty(res.data)) {
                            this.dataSource = res.data;
                        } else {
                            this.$notification.warning('Dokumentasi kegiatan tidak ditemukan atau belum ada yang diunggah', STATE_WARNING);
                            this.dataSource = null;
                        }
                        this.loader = false;
                    });
                } catch (e) {
                    this.showErrorMessage(e);
                    this.loader = false;
                }
            },
            showDetail(item) {
                this.$router.push('/dokumentasi/dosir/' + item.kegiatanId);
            },
            /**
             * @return {string}
             */
            showIcon(item) {
                if (item.latestDocument) {
                    return this.iconFolder + item.latestDocument + '.png';
                } else {
                    return this.iconFolder + 'file.png';
                }
            }
        }
    }
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
    $dwheight: 65vh;
    $grid: 1 / -1;
    $transition: all 0.3s ease-in-out;
    $columns: repeat(5, minmax(200px, 1fr));
    $rows: 1fr 1fr;
    .dokumen-wrapper {
        width: 100%;
        min-height: $dwheight;
        background: #ffffff;
        position: relative;
        display: grid;
        grid-template-columns: $columns;
        grid-template-rows: $rows;
        grid-gap: 2px;

        .dokumen {
            position: relative;
            overflow: hidden;
            border: 1px solid #d6dde0;

            img {
                max-width: 100%;
                position: absolute;
                opacity: .3;
                filter: grayscale(80%);
            }

            &:hover img {
                transition-duration: .3s;
                filter: grayscale(70%) brightness(70%);
                opacity: .5;
            }

            p {
                position: absolute;
                text-align: center;
                width: 100%;
                padding: 0 0.5em;
                bottom: 25%;
                margin-bottom: 0;
                font-weight: 800;
                z-index: 3;
            }

            &:hover {
                .grid__overlay {
                    transform: translateY(0%);
                }
            }

            .grid__overlay {
                z-index: 9999;
                height: 100%;
                grid-column: $grid;
                grid-row: $grid;
                position: relative;
                display: grid;
                justify-items: center;
                align-items: start;
                transform: translateY(101%);
                transition: $transition;

                .button_detail {
                    top: 80%;

                    &:hover {
                        transition: $transition;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 900px) {
        .dokumen-wrapper {
            grid-template-columns: repeat(1, minmax(200px, 1fr));
            grid-gap: 5px;
        }
    }
</style>
