<template>
    <div class="body-container">
        <bs-card shadow>
            <bs-card-header class="text-nowrap">
                DOKUMEN PENDUKUNG KEGIATAN
            </bs-card-header>
            <bs-card-body class="pb-3 border-bottom">
                <div class="form-row h6">
                    <div class="col-md-3 col-xl-2">
                        Tahun Anggaran
                    </div>
                    <div class="d-none d-md-flex" style="width: 8px">
                        :
                    </div>
                    <div class="col font-weight-light text-muted">
                        {{ tahunBatch }}
                    </div>
                </div>
                <div class="form-row h6">
                    <div class="col-md-3 col-xl-2">
                        Sumber Dana
                    </div>
                    <div class="d-none d-md-flex" style="width: 8px">
                        :
                    </div>
                    <div class="col font-weight-light text-muted">
                        {{ namaProgram }}
                    </div>
                </div>
                <div class="form-row h6">
                    <div class="col-md-3 col-xl-2">
                        Nama Kegiatan
                    </div>
                    <div class="d-none d-md-flex" style="width: 8px">
                        :
                    </div>
                    <div class="col font-weight-light text-muted">
                        {{ namaKegiatan }}
                    </div>
                </div>
            </bs-card-body>
            <bs-card-body v-if="dataSource">
                <div class="dokumen-wrapper">
                    <template v-for="(item, row) in dataSource">
                        <div class="dokumen" :key="'doc-' + row">
                            <img :src="showIcon(item)"
                                 :title="item.title"
                                 :alt="item.title"
                                 class="img-fluid"/>
                            <p>{{ item.title }}</p>
                            <div class="grid__overlay">
                                <bs-button color="info"
                                           @click="showDetail(item)"
                                           icon="eye"
                                           size="sm"
                                           class="button_detail">
                                    Lihat Detail
                                </bs-button>
                            </div>
                        </div>
                    </template>
                </div>
            </bs-card-body>
        </bs-card>
        <bs-mask-loader :opacity="0"
                        :show="loader && kegiatan.loading"
                        :spinner-diameter="50"/>
    </div>
</template>
<script>
    import appLocale from "../../../mixins/appLocale";
    import formatUtils from "../../../mixins/formatUtils";
    import httpErrorResponse from "../../../mixins/httpErrorResponse";
    import {DOSIR, STATE_WARNING} from "../../../store/modules/mutation-types";
    import Helper from "vue-bs4/src/utils/Helper";
    import {KegiatanModel} from "../../../models/Kegiatan/Pengelolaan/KegiatanModel";
    import defaultRouteGuard from "../../../mixins/security/defaultRouteGuard";

    export default {
        name: "DosirSubKegiatan",
        mixins: [appLocale, formatUtils, httpErrorResponse, defaultRouteGuard],
        data: () => ({
            dataSource: null,
            tahunBatch: null,
            namaProgram: null,
            namaKegiatan: null,
            kegiatan: new KegiatanModel(),
            iconFolder: 'images/icon-document/',
            loader: false,
        }),
        beforeDestroy() {
            this.kegiatan.destroy();
            this.kegiatan = null;
        },
        created() {
            this.load();
            this.fetchKegiatan();
        },
        methods: {
            showDetail(item) {
                this.$router.push('/dokumentasi/dosir/' + this.$route.params.id + '/' + item.sid);
            },
            /**
             * Load primary data from remote source.
             *
             * @return {Promise<void>} Promise interface
             */
            async load() {
                let $wsUrl = '/kegiatan/dokumentasi/subkegiatan/exist/' + this.$route.params.id + '/' + DOSIR + '/1';

                this.loader = true;
                try {
                    this.$http.get($wsUrl).then($response => {
                        let res = $response.data;
                        if (!Helper.isEmpty(res.data)) {
                            this.dataSource = res.data;
                        } else {
                            this.$notification.warning('Dokumentasi kegiatan tidak ditemukan atau belum ada yang diunggah', STATE_WARNING);
                            this.dataSource = null;
                        }
                        this.loader = false;
                    });
                } catch (e) {
                    this.showErrorMessage(e);
                    this.loader = false;
                }
            },
            /**
             * Fetch data Kegiatan from remote server.
             */
            fetchKegiatan() {
                this.kegiatan.fetch(this.$route.params.id).then(() => {
                    this.namaKegiatan = this.kegiatan.namaKegiatan;
                    this.namaProgram = this.kegiatan.danaBatch.namaProgram;
                    this.tahunBatch = this.kegiatan.danaBatch.tahun;
                    this.loader = true;
                }).catch((error) => {
                    this.showErrorMessage(error);
                    this.loader = false;
                });
            },
            /**
             * @return {string}
             */
            showIcon(item) {
                if (item.latestDocument) {
                    return this.iconFolder + item.latestDocument + '.png';
                } else {
                    return this.iconFolder + 'file.png';
                }
            }
        }
    }
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
    $dwheight: 65vh;
    $grid: 1 / -1;
    $transition: all 0.3s ease-in-out;
    $columns: repeat(5, minmax(200px, 1fr));
    $rows: 1fr 1fr;
    .dokumen-wrapper {
        width: 100%;
        min-height: $dwheight;
        background: #ffffff;
        position: relative;
        display: grid;
        grid-template-columns: $columns;
        grid-template-rows: $rows;
        grid-gap: 2px;

        .dokumen {
            position: relative;
            overflow: hidden;
            border: 1px solid #d6dde0;

            img {
                max-width: 100%;
                position: absolute;
                opacity: .3;
                filter: grayscale(80%);
            }

            &:hover img {
                transition-duration: .3s;
                filter: grayscale(70%) brightness(70%);
                opacity: .5;
            }

            p {
                position: absolute;
                text-align: center;
                width: 100%;
                padding: 0 0.5em;
                bottom: 25%;
                margin-bottom: 0;
                font-weight: 800;
                z-index: 3;
            }

            &:hover {
                .grid__overlay {
                    transform: translateY(0%);
                }
            }

            .grid__overlay {
                z-index: 9999;
                height: 100%;
                grid-column: $grid;
                grid-row: $grid;
                position: relative;
                display: grid;
                justify-items: center;
                align-items: start;
                transform: translateY(101%);
                transition: $transition;

                .button_detail {
                    top: 80%;

                    &:hover {
                        transition: $transition;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 900px) {
        .dokumen-wrapper {
            grid-template-columns: repeat(1, minmax(200px, 1fr));
            grid-gap: 5px;
        }
    }
</style>
