<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div class="body-container">
        <bs-card shadow>
            <bs-card-header class="text-nowrap">
                DOKUMEN PENDUKUNG SUB KEGIATAN
            </bs-card-header>
            <bs-card-body class="pb-3 border-bottom">
                <div class="form-row h6">
                    <div class="col-md-3 col-xl-2">
                        Tahun Anggaran
                    </div>
                    <div class="d-none d-md-flex" style="width: 8px">
                        :
                    </div>
                    <div class="col font-weight-light text-muted">
                        {{ tahunBatch }}
                    </div>
                </div>
                <div class="form-row h6">
                    <div class="col-md-3 col-xl-2">
                        Sumber Dana
                    </div>
                    <div class="d-none d-md-flex" style="width: 8px">
                        :
                    </div>
                    <div class="col font-weight-light text-muted">
                        {{ namaProgram }}
                    </div>
                </div>
                <div class="form-row h6">
                    <div class="col-md-3 col-xl-2">
                        Nama Kegiatan
                    </div>
                    <div class="d-none d-md-flex" style="width: 8px">
                        :
                    </div>
                    <div class="col font-weight-light text-muted">
                        {{ namaKegiatan }}
                    </div>
                </div>
                <div class="form-row h6">
                    <div class="col-md-3 col-xl-2">
                        Nama Sub Kegiatan
                    </div>
                    <div class="d-none d-md-flex" style="width: 8px">
                        :
                    </div>
                    <div class="col font-weight-light text-muted">
                        {{ namaSubKegiatan }}
                    </div>
                </div>
            </bs-card-body>
            <bs-card-body v-if="dataSource">
                <div class="dokumen-wrapper">
                    <template v-for="(item, row) in dataSource">
                        <div :key="'doc-' + row" class="dokumen" v-if="showActive(item)">
                            <img :alt="item.docTitle"
                                 :src="showImage(item)"
                                 :title="item.docTitle"
                                 class="img-fluid"/>
                            <p>{{ item.docTitle }}</p>
                            <div class="grid__overlay">
                                <bs-button :icon="iconFile(item)"
                                           @click="viewFile(item)"
                                           class="button_detail"
                                           color="info"
                                           size="sm">
                                    {{ viewText(item.extension) }}
                                </bs-button>
                            </div>
                        </div>
                    </template>
                </div>
            </bs-card-body>
        </bs-card>
        <bs-mask-loader :opacity="0"
                        :show="loader || kegiatan.loading || subkegiatan.loading"
                        :spinner-diameter="50"/>
        <bs-modal :esc-close="true"
                  :fullscreen="this.fullscreen"
                  :maxWidth="'100%'"
                  :open.sync="showPdfView"
                  :overlay-close="true"
                  :padding="5"
                  :scrollable="false"
                  :title="this.itemDoc.docTitle"
                  :width="865">
            <pdf :page="page"
                 :src="this.itemDoc.url"
                 @link-clicked="page = $event"
                 @num-pages="numPages = $event"
                 ref="pdfFile"
                 style="display: block; max-width: 100%; height:450px; border: 1px solid #ccc; overflow-y: scroll; overflow-x: hidden;"
                 v-if="show"></pdf>
            <template v-slot:footer="">
                <div class="mr-4">
                    Halaman: <input :max="numPages" :min="1"
                                    class="form-control input-group-sm" style="display: inline;width: 5em"
                                    type="number" v-model.number="page"/> /
                    {{numPages}}
                </div>
                <bs-button :href="itemDoc.url"
                           color="info"
                           icon="file-download"
                           icon-position="left"
                           outlined
                           target="_blank"
                           v-tooltip="{content:'Unduh File', placement:'top'}"/>
                <bs-button color="secondary"
                           icon="arrows-alt"
                           icon-position="left"
                           outlined
                           v-if="fullscreen === false"
                           v-on:click="fullscreen = true"
                           v-tooltip="{content:'Perbesar Layar', placement:'top'}"/>
                <bs-button color="secondary"
                           icon="compress-arrows-alt"
                           icon-position="left"
                           outlined
                           v-if="fullscreen === true"
                           v-on:click="fullscreen = false"
                           v-tooltip="{content:'Perkecil Layar', placement:'top'}"/>
                <bs-button class="float-right" color="secondary" outlined v-on:click="showPdfView = false">Tutup
                </bs-button>
            </template>
        </bs-modal>
    </div>
</template>
<script>
    import appLocale from "../../../mixins/appLocale";
    import formatUtils from "../../../mixins/formatUtils";
    import httpErrorResponse from "../../../mixins/httpErrorResponse";
    import {DOSIR, STATE_WARNING, VERIFIED} from "../../../store/modules/mutation-types";
    import defaultRouteGuard from "../../../mixins/security/defaultRouteGuard";
    import {KegiatanModel} from "../../../models/Kegiatan/Pengelolaan/KegiatanModel";
    import {SubKegiatanModel} from "../../../models/Kegiatan/Pengelolaan/SubKegiatanModel";
    import Helper from "vue-bs4/src/utils/Helper";
    import pdf from 'vue-pdf';

    export default {
        name: "DosirSubKegiatanAll",
        components: {
            pdf: pdf
        },
        mixins: [appLocale, formatUtils, httpErrorResponse, defaultRouteGuard],
        data() {
            return {
                dataSource: null,
                tahunBatch: null,
                namaProgram: null,
                namaKegiatan: null,
                namaSubKegiatan: null,
                kegiatan: new KegiatanModel(),
                subkegiatan: new SubKegiatanModel(),
                iconFolder: 'images/icon-document/',
                loader: false,
                itemDoc: {},
                showPdfView: false,
                show: false,
                loadedRatio: 0,
                page: 1,
                numPages: 0,
                fullscreen: false
            }
        },
        beforeDestroy() {
            this.kegiatan.destroy();
            this.kegiatan = null;

            this.subkegiatan.destroy();
            this.subkegiatan = null;

            this.itemDoc = null;
        },
        created() {
            this.load();
            this.fetchKegiatan();
            this.fetchSubKegiatan();
        },
        methods: {
            fullscreenView() {
                this.fullscreen = true;
            },
            smallscreenView() {
                this.fullscreen = false;
            },
            /**
             * Menampilkan hanya dokumentasi yang sudah terverifikasi
             */
            showActive(item) {
                return item.status === VERIFIED;
            },
            /**
             * Load primary data from remote source.
             *
             * @return {Promise<void>} Promise interface
             */
            async load() {
                let $wsUrl = '/kegiatan/dokumentasi/view/' + this.$route.params.id + '/' + this.$route.params.sid + '/' + DOSIR + '/1';

                this.loader = true;
                try {
                    this.$http.get($wsUrl).then($response => {
                        let res = $response.data;
                        if (!Helper.isEmpty(res.data)) {
                            this.dataSource = res.data;
                        } else {
                            this.$notification.warning('Dokumentasi kegiatan tidak ditemukan atau belum ada yang diunggah', STATE_WARNING);
                            this.dataSource = null;
                        }
                        this.loader = false;
                    });
                } catch (e) {
                    this.showErrorMessage(e);
                    this.loader = false;
                }
            },
            /**
             * Fetch data Kegiatan from remote server.
             * @return {void}
             */
            fetchKegiatan() {
                this.kegiatan.fetch(this.$route.params.id).then(() => {
                    this.namaProgram = this.kegiatan.danaBatch.namaProgram;
                    this.tahunBatch = this.kegiatan.danaBatch.tahun;
                    this.namaKegiatan = this.kegiatan.namaKegiatan;
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            },
            viewText(value) {
                if (value === 'pdf') {
                    return 'Lihat Dokumen';
                } else {
                    return 'Unduh Dokumen';
                }
            },
            /**
             * Fetch data sub kegiatan from remote server.
             * @return {void}
             */
            fetchSubKegiatan() {
                this.subkegiatan.fetch(this.$route.params.sid).then(() => {
                    this.namaSubKegiatan = this.subkegiatan.title;
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            },
            /**
             * Menampilkan modal dialog view file.
             *
             * @param {DokumentasiModel} item Data model
             * @return {void}
             */
            viewFile(item) {
                let file = ["pdf"];
                this.itemDoc = item;

                if (file.includes(item.extension)) {
                    this.show = true;
                    this.showPdfView = true;
                } else {
                    window.open(item.url, '_blank');
                }
            },
            /**
             * Menampilkan gambar file berdasarkan jenis dokumen
             *
             * @return {string}
             */
            showImage(item) {
                let msppt = ["ppt", "pptm", "pptx"];
                if (msppt.includes(item.extension)) {
                    return this.iconFolder + 'ppt.png';
                } else {
                    return this.iconFolder + item.extension + '.png';
                }
            },
            /**
             * Menampilkan button icon berdasarkan jenis dokumen
             *
             * @return {string}
             */
            iconFile(item) {
                let iconPdf = ["pdf"];
                let iconExcel = ["xls", "xlsx"];
                let iconDoc = ["doc", "docx"];
                let iconPpt = ["ppt", "pptm", "pptx"];

                if (iconPdf.includes(item.extension)) {
                    return 'file-pdf';
                } else if (iconExcel.includes(item.extension)) {
                    return 'file-excel';
                } else if (iconDoc.includes(item.extension)) {
                    return 'file-word';
                } else if (iconPpt.includes(item.extension)) {
                    return 'file-ppt';
                } else {
                    return 'file-alt';
                }
            },
        }
    }
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
    $dwheight: 65vh;
    $grid: 1 / -1;
    $transition: all 0.3s ease-in-out;
    $columns: repeat(5, minmax(200px, 1fr));
    $rows: 1fr 1fr;
    .dokumen-wrapper {
        width: 100%;
        min-height: $dwheight;
        background: #ffffff;
        position: relative;
        display: grid;
        grid-template-columns: $columns;
        grid-template-rows: $rows;
        grid-gap: 2px;

        .dokumen {
            position: relative;
            overflow: hidden;
            border: 1px solid #d6dde0;

            img {
                max-width: 100%;
                position: absolute;
                opacity: .3;
                filter: grayscale(80%);
            }

            &:hover img {
                transition-duration: .3s;
                filter: grayscale(70%) brightness(70%);
                opacity: .5;
            }

            p {
                position: absolute;
                text-align: center;
                width: 100%;
                padding: 0 0.5em;
                bottom: 25%;
                margin-bottom: 0;
                font-weight: 800;
                z-index: 3;
            }

            &:hover {
                .grid__overlay {
                    transform: translateY(0%);
                }
            }

            .grid__overlay {
                z-index: 9999;
                height: 100%;
                grid-column: $grid;
                grid-row: $grid;
                position: relative;
                display: grid;
                justify-items: center;
                align-items: start;
                transform: translateY(101%);
                transition: $transition;

                .button_detail {
                    top: 80%;

                    &:hover {
                        transition: $transition;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 900px) {
        .dokumen-wrapper {
            grid-template-columns: repeat(1, minmax(200px, 1fr));
            grid-gap: 5px;
        }
    }
</style>
