<template>
    <div class="body-container">
        <bs-card shadow>
            <bs-card-body>
                <form novalidate>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-row" x-ms-format-detection="none">
                            <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                                NOMOR TAGIHAN
                            </label>
                            <label class="col-md-9 font-weight-bold pt-1 text-md-right text-lg-left">
                                {{ tagihan.nomorSurat }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-row" x-ms-format-detection="none">
                            <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                                NAMA {{ isTerminMode ? 'TERMIN' : 'EXPENSE' }}
                            </label>
                            <label class="col-md-9 pt-1 text-md-right text-lg-left">
                                {{ tagihan.tipe_termin }}
                            </label>
                        </div>
                    </div>
                </div>
                <div v-if="isTerminMode" class="row">
                    <div class="col-xl-8">
                        <div class="form-row" x-ms-format-detection="none">
                            <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                                PERSEN PENCAIRAN
                            </label>
                            <label class="col-md-9 font-weight-bold pt-1 text-md-right text-lg-left">
                                {{ percentFormat(tagihan.persen) }}
                            </label>
                        </div>
                    </div>
                </div>
                <div v-if="isTerminMode" class="row">
                    <div class="col-xl-8">
                        <div class="form-row" x-ms-format-detection="none">
                            <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                                KEGIATAN
                            </label>
                            <label class="col-md-9 font-weight-medium pt-1 text-md-right text-lg-left">
                                {{ namaKegiatan }}
                            </label>
                        </div>
                    </div>
                </div>
                <div v-if="isTerminMode" class="row">
                    <div class="col-xl-8">
                        <div class="form-row" x-ms-format-detection="none">
                            <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                                TOTAL BUDGET
                            </label>
                            <label class="col-md-9 font-weight-bold pt-1 text-md-right text-lg-left">
                                Rp. {{ moneyFormat(tagihan.totalBudget) }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-row" x-ms-format-detection="none">
                            <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                                TOTAL PENCAIRAN
                            </label>
                            <label class="col-md-9 h5 text-md-right text-lg-left">
                                Rp. {{ moneyFormat(tagihan.totalPencairan) }}
                            </label>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <label class="col-form-label col-lg-3 col-xl-2 pt-1 font-weight-bold">
                            BUKTI PEMBAYARAN
                        </label>
                        <div class="form-group col-lg-7 col-xl-8">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend" v-if="tagihan.fileName !== null">
                                    <button @click="viewFile(tagihan)"
                                            class="btn btn-outline-info pl-2 pr-2"
                                            type="button"
                                            v-tooltip="{content:'Klik Untuk Lihat File', placement:'top'}">
                                        <font-awesome-icon :icon="iconFile(tagihan)"/>
                                    </button>
                                </div>
                                <div class="custom-file">
                                    <input @change="previewFile"
                                           accept="image/png,image/gif,image/jpeg,image/webp,application/pdf"
                                           class="custom-file-input"
                                           id="fileUpload"
                                           ref="fileUpload"
                                           tabindex="-1"
                                           type="file"/>
                                    <label class="custom-file-label p-0" for="fileUpload">
                                        <input :value="fileName" class="p-1 custom-input-text text-muted"
                                               disabled
                                               placeholder=" Unggah file..." type="text"/>
                                    </label>
                                </div>
                            </div>
                            <ul class="text-secondary pl-3 mb-0">
                                <li>
                                    <small>Maksimal ukuran file 5Mb</small>
                                </li>
                                <li>
                                    <small>Ekstensi file yang dibolehkan: *.jpg, *.jpeg, *.gif, *.png, *.pdf
                                    </small>
                                </li>
                            </ul>
                            <div class="mt-2" style="width: 250px;" v-if="imageData.length > 0">
                                <img :alt="fileName" :src="imageData" class="img-thumbnail">
                            </div>
                        </div>
                    </div>

                </form>

            </bs-card-body>
            <bs-card-footer class="bg-white">
                <bs-button @click="doSave" color="primary">
                    Simpan
                </bs-button>
            </bs-card-footer>
            <bs-mask-loader :opacity="0"
                            :show="loading"
                            :spinner-diameter="50"/>
            <bs-modal :esc-close="true"
                      :maxWidth="'100%'"
                      :open.sync="showImageView"
                      :overlay-close="true"
                      :padding="0"
                      :width="1024">
                <div style="display: block; max-width: 100%; height:499px; overflow-y: scroll; overflow-x: hidden;">
                    <img :alt="tagihan.nomorSurat" :src="uploadUrl" class="img-fluid" style="width: 100%"/>
                </div>
            </bs-modal>
            <bs-modal :esc-close="true"
                      :fullscreen="this.fullscreen"
                      :maxWidth="'100%'"
                      :open.sync="showPdfView"
                      :overlay-close="true"
                      :padding="0"
                      :width="865">
                <pdf :page="page"
                     :src="this.tagihan.filePath+'/'+this.tagihan.fileName"
                     @link-clicked="page = $event"
                     @num-pages="numPages = $event"
                     ref="pdfFile"
                     style="display: block; max-width: 100%; height:450px; border: 1px solid #ccc; overflow-y: scroll; overflow-x: hidden;"
                     v-if="show"></pdf>
                <template v-slot:footer>
                    <div class="mr-4">
                        <label> Halaman: <input :max="numPages" :min="1"
                                                class="form-control input-group-sm" style="display: inline;width: 5em"
                                                type="number" v-model.number="page"/> / {{numPages}}
                        </label>
                    </div>
                    <bs-button color="secondary"
                               icon="arrows-alt"
                               icon-position="left"
                               outlined
                               v-if="fullscreen === false"
                               v-on:click="fullscreen = true"
                               v-tooltip="{content:'Perbesar Layar', placement:'top'}"/>
                    <bs-button color="secondary"
                               icon="compress-arrows-alt"
                               icon-position="left"
                               outlined
                               v-if="fullscreen === true"
                               v-on:click="fullscreen = false"
                               v-tooltip="{content:'Perkecil Layar', placement:'top'}"/>
                    <bs-button class="float-right" color="secondary" outlined v-on:click="showPdfView = false">Tutup
                    </bs-button>
                </template>
            </bs-modal>
        </bs-card>
    </div>

</template>

<script>
import appLocale from "../../../../mixins/appLocale";
import httpErrorResponse from "../../../../mixins/httpErrorResponse";
import defaultRouteGuard from "../../../../mixins/security/defaultRouteGuard";
import formatUtils from "../../../../mixins/formatUtils";
import {
	STATE_SUCCESS,
} from "../../../../store/modules/mutation-types";
import CKEditor from "@ckeditor/ckeditor5-vue";
import pdf from "vue-pdf";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

export default {
	name: "FormPencairanKegiatanUpload",
	mixins: [appLocale, httpErrorResponse, defaultRouteGuard, formatUtils],
	components: {
		pdf: pdf,
		FontAwesomeIcon: FontAwesomeIcon
	},
    data: () => ({
		tagihan: {
			nomorSurat: '',
			isExpense: true,
			mitra: {namaLembaga: ''},
			tipe_termin: null,
			persen: 0,
			kegiatan: null,
			totalBudget: null,
			totalPencairan: 0
		},
		loading: false,
		fileName: '',
		imageData: '',
		showImageView: false,
		showPdfView: false,
		page: 1,
		numPages: 0,
		fullscreen: false,
		show: false,
        fileAttached: null
	}),
	created() {
		if (this.$route.params.id) {
			this.pencairanId = this.$route.params.id;
			this.loadPencairan(this.pencairanId);
		}
	},
    computed: {
		isTerminMode (){
			return ! this.tagihan.isExpense;
        },
		namaKegiatan() {
			if (this.tagihan.kegiatan) {
				return this.tagihan.kegiatan.namaKegiatan;
			}
			return '';
		},
    },
	methods: {
		/**
		 * Fetch data Pencairan from remote server.
		 *
		 * @param {number} id SubKegiatan ID
		 * @return {void}
		 */
		loadPencairan(id) {
			this.loading = true;
			this.$http.get('/kegiatan/pencairan/' + id, [], []).then((resp) => {
				this.loading = false;
				let data = resp.data.data;
				this.tagihan = data;
				this.tahun = data.tahun;
				if (data.fileName) {
					this.fileName = data.fileName;
				}
				this.isLoaded = true;
			}).catch((error) => {
				this.showErrorMessage(error);
				this.$nextTick(() => {
					this.$router.push(this.$route.meta.previous);
				});
			});
		},
		previewFile(event) {
			let input = event.target;
			this.fileAttached = this.$refs.fileUpload.files[0];
			if (this.fileAttached == null) {
				return;
            }
			this.fileName = event.target.files[0].name;

			// Preview selected image
			let mime = ['image/jpeg', 'image/png', 'image/gif'];
			if (input.files && input.files[0] && mime.includes(input.files[0].type)) {
				let reader = new FileReader();
				reader.onload = (e) => {
					this.imageData = e.target.result;
				};
				reader.readAsDataURL(input.files[0]);
			}
		},
		iconFile(item) {
			let pdf = ["pdf"];
			return pdf.includes(item.fileExt) ? 'file-pdf' : 'image';
		},
		uploadUrl() {
			if (this.tagihan.filePath){
				return this.tagihan.filePath+'/'+this.tagihan.fileName;
			}
		},
		/**
		 * Menampilkan modal dialog view file.
		 * @return {void}
		 */
		viewFile(item) {
			let images = ["jpg", "gif", "png", "jpeg"];
			let pdf = ["pdf"];

			this.itemAtt = item;

			if (images.includes(item.fileExt.toLowerCase())) {
				this.showImageView = true;
			}

			if (pdf.includes(item.fileExt.toLowerCase())) {
				this.show = true;
				this.showPdfView = true;
			}
		},
		doSave() {

				let formData = new FormData();
				formData.append('file', this.fileAttached);

				const url = '/kegiatan/pencairan/upload/'+this.pencairanId;

				this.loading = true;

				this.$axios.post(url, formData, {
					headers: {
						'Content-Type': 'multipart/form-data'
					}
				}).then(() => {
					this.$notification.success('Data pencairan disunting', STATE_SUCCESS);
					this.$nextTick(() => {
						this.$router.push(this.$route.meta.previous);
					});
				}).catch((error) => {
					this.showErrorMessage(error);
					this.loading = false;
				});
		},

	}
}
</script>

<style scoped>

</style>