<!--suppress ES6ShorthandObjectProperty -->
<template>
    <section class="container">
        <bs-card shadow>
            <bs-card-body>
                <form class="pt-lg-3 px-lg-2" autocomplete="off" novalidate>
                    <div class="form-group">
                        <bs-text-field :value="tagihan.nomorSurat"
                                       v-if="tagihan"
                                       control-cls="col-lg-4 col-xl-3"
                                       readonly
                                       required>
                            <label class="col-form-label col-lg-3 col-xl-2">
                                Nomor Surat
                            </label>
                        </bs-text-field>
                    </div>
                    <div class="form-group">
                        <bs-text-field :value="getIsExpense" control-cls="col-lg-4 col-xl-3" readonly required>
                            <label class="col-form-label col-lg-3 col-xl-2">
                                Jenis Pencairan Dana
                            </label>
                        </bs-text-field>
                    </div>
                    <div class="form-group">
                        <bs-text-field :value="getMitraName" readonly required>
                            <label class="col-form-label col-lg-3 col-xl-2">
                                Mitra
                            </label>
                        </bs-text-field>
                    </div>
                    <div class="form-group">
                        <bs-text-field v-model="tagihan.tipe_termin" control-cls="col-lg-4 col-xl-3" required>
                            <label class="col-form-label col-lg-3 col-xl-2">
                                Nama {{ tagihan.isExpense ?'Expense':'Termin' }}
                            </label>
                        </bs-text-field>
                    </div>

                    <template v-if="isLoaded && (tagihan.isExpense == false)">
                    <div class="form-group">
                        <bs-number-field v-model="tagihan.persen" control-cls="col-lg-3 col-xl-2"
                                         :locale="getLocale"
                                         @change="updatePersen"
                                         append-icon="pen"
                                         autofocus
                                         required>
                            <span slot="appendSlot" class="md-icon-text">%</span>
                            <label class="col-form-label col-lg-3 col-xl-2">
                                Persen
                            </label>
                        </bs-number-field>
                    </div>
                    <div>
                        <p v-if="!isValidatedPersen" class="text-warning">Persentase pencairan tidak boleh nol</p>
                        <p v-if="!isValidatedPersenOver" class="text-warning">Persentase pencairan tidak boleh melebihi 100</p>
                    </div>
                    </template>

                    <bs-card shadow class="mt-2 pt-2 mb-2">
                        <bs-card-body>
                            <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
                                Kegiatan
                            </label>
                            <bs-button color="amber"
                                       icon="plus-circle"
                                       icon-position="left"
                                       size="xs"
                                       class="mb-2"
                                       @click="showDialogAdd"
                                       raised>
                                Tambah
                            </bs-button>
                            <div class="table-responsive" style="min-height: 150px; position: relative">
                                <table class="table table-sm table-valign-middle table-bordered table-outer-borderless mb-0">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>
                                                Nama
                                            </th>
                                            <th>
                                                Anggaran
                                            </th>
                                            <th>
                                                &nbsp;
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item, idx) in kegiatans" >
                                            <td>
                                                {{ item.title }}
                                            </td>
                                            <td class="text-right">
                                                {{ moneyFormat(item.amount) }}
                                            </td>
                                            <td>
                                                <bs-button @click="confirmDelete(item,idx)"
                                                           color="danger"
                                                           icon="trash-alt"
                                                           icon-position="left"
                                                           outlined
                                                           size="xs"
                                                           v-tooltip="{content:'Hapus Data', placement:'top'}"/>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </bs-card-body>
                    </bs-card>


                    <div>
                        <p v-if="!isValidatedKegiatan" class="text-warning">Kegiatan harus dipilih</p>
                    </div>

                    <div class="form-group">
                        <bs-number-field :value="tagihan.totalBudget" control-cls="col-lg-4 col-xl-3"
                                         :locale="getLocale"
                                         prepend-icon="pen"
                                         required>
                            <span slot="prependSlot" class="md-icon-text">Rp.</span>
                            <label class="col-form-label col-lg-3 col-xl-2">
                                Total Anggaran
                            </label>
                        </bs-number-field>
                    </div>
                    <div class="form-group">
                        <bs-number-field v-model="totalPencairan" control-cls="col-lg-4 col-xl-3"
                                          :locale="getLocale"
                                         prepend-icon="pen"
                                         required>
                            <span slot="prependSlot" class="md-icon-text">Rp.</span>
                            <label class="col-form-label col-lg-3 col-xl-2">
                                Total Pencairan
                            </label>
                        </bs-number-field>
                    </div>
                    <div>
                        <p v-if="!isValidatedTotal" class="text-warning">Total pencairan tidak boleh nol</p>
                    </div>
                </form>
            </bs-card-body>
            <bs-card-footer class="bg-white">
                <bs-button :disabled="!isValidatedAll" color="primary" @click="doSave">
                    Simpan
                </bs-button>
            </bs-card-footer>
        </bs-card>
        <bs-modal :open.sync="isAddModalOpen"
                  :overlay-close="false"
                  max-width="85%"
                  width="70%"
                  title="Dana Kegiatan yang akan dicairkan">

            <div class="form-group" v-if="!isExpense">
            <bs-number-field v-model="tagihan.persen" control-cls="col-lg-3 col-xl-2"
                             :locale="getLocale"
                             @change="updatePersen"
                             append-icon="pen"
                             autofocus
                             required>
                <span slot="appendSlot" class="md-icon-text">%</span>
                <label class="col-form-label col-lg-3 col-xl-2">
                    Persen
                </label>
            </bs-number-field>
            </div>
            <div class="form-group">
                <bs-combobox v-model="batchId"
                             :data-source="dsBatch"
                             required>
                    <label class="col-form-label col-lg-4 col-xl-3">
                        Batch Kegiatan
                    </label>
                </bs-combobox>
            </div>
            <div class="form-group">
                <bs-combobox v-model="kegiatanId"
                             :data-source="dsKegiatan"
                             :parent-value="batchId"
                             @select="updateKegiatan"
                             required>
                    <label class="col-form-label col-lg-4 col-xl-3">
                        Kegiatan
                    </label>
                </bs-combobox>
            </div>
            <template v-if="isExpense">

                <div class="table-responsive" style="min-height: 100px; position: relative">
                    <table class="table table-sm table-valign-middle table-bordered table-outer-borderless mb-0">
                        <thead class="thead-light">
                        <tr>
                            <th>#</th>
                            <th>
                                Tanggal
                            </th>
                            <th>
                                Realisasi
                            </th>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <template v-for="(item, idx) in realisasis" >
                            <tr>
                                <td rowspan="2">
                                    <bs-checkbox v-model="realisasiSelectedIds[idx]"
                                         @change = "updateAmountRealisasi(realisasiSelectedIds)"
                                    />
                                </td>
                                <td>
                                    {{ dateFormat( item.realisasiDate, formatConst.simpleDate ) }}
                                </td>
                                <td>
                                    {{ item.label }}
                                </td>
                                <td class="text-right">
                                    Rp. {{ moneyFormat(item.amount) }}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    Items: {{ item.desc }}
                                </td>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                    <div v-if="realisasis.length === 0"> Belum ada item realisasi </div>
                </div>

            </template>
            <div class="form-group">
                <bs-number-field v-model="amount" control-cls="col-lg-8 col-xl-6"
                                 :locale="getLocale"
                                 prepend-icon="pen"
                                 required>
                    <span slot="prependSlot" class="md-icon-text">Rp.</span>
                    <label class="col-form-label col-lg-4 col-xl-3">
                        Anggaran
                    </label>
                </bs-number-field>
            </div>
            <bs-mask-loader :opacity="0"
                            :show="dsBatch.proxy.loading || dsKegiatan.proxy.loading || dsSubkegiatan.proxy.loading || loading"
                            :spinner-diameter="45"/>

            <template v-slot:footer>
                <bs-button color="secondary"
                           outlined
                           @click="isAddModalOpen = false">
                    Batal
                </bs-button>
                <bs-button color="primary" @click="doAddEntries">
                    Lanjut
                </bs-button>
            </template>
        </bs-modal>
        <bs-modal :open.sync="isDeleteModalOpen"
                  :overlay-close="false"
                  max-width="85%"
                  title="Konfirmasi"
                  width="400">
            Apakah anda yakin akan menghapus item
            <bs-button slot="footer"
                       color="secondary"
                       outlined
                       @click="isDeleteModalOpen = false">
                Batal
            </bs-button>
            <bs-button slot="footer" color="danger" @click="doDeleteItem">
                Hapus
            </bs-button>
        </bs-modal>
        <bs-mask-loader :opacity="0"
                        :show="loading"
                        :spinner-diameter="50"/>

    </section>
</template>

<script>
import appLocale from "../../../../mixins/appLocale";
import httpErrorResponse from "../../../../mixins/httpErrorResponse";
import editorRouteGuard from "../../../../mixins/security/editorRouteGuard";
import formatUtils from "../../../../mixins/formatUtils";
import formatConst from "../../../../mixins/formatConst";
import {
	NEW, PLANNED, REALISASI, REALISASI_VERIFIED, REJECTED, STATE_SUCCESS, SUBMITTED, UPDATED, VERIFIED
} from "../../../../store/modules/mutation-types";
import { BsStore } from "vue-bs4";

export default {
    name: 'FormPencairanKegiatan',
	mixins: [ appLocale, httpErrorResponse, formatUtils, editorRouteGuard ],
	data: () => ({
		dsSubkegiatan: {
			schema: {
				displayField: 'title',
				valueField: 'sid',
				cascadeField: 'kegiatan'
            },
			proxy: new BsStore({
				idProperty: 'sid',
				dataProperty: 'data',
				totalProperty: 'total',
				restUrl: {
					browse: '/kegiatan/pengelolaan/subkegiatan'
				}
			})
		},
		dsKegiatan: {
			schema: {
				displayField: 'namaKegiatan',
				valueField: 'kegiatanId',
				cascadeField: 'danaBatch'
            },
			proxy: new BsStore({
				idProperty: 'kegiatanId',
				dataProperty: 'data',
				totalProperty: 'total',
				restUrl: {
					browse: '/kegiatan/pengelolaan'
				}
			})
		},
		dsBatch: {
			schema: {
				displayField: 'namaProgram',
				valueField: 'id',
			},
			proxy: new BsStore({
				idProperty: 'id',
				dataProperty: 'data',
				totalProperty: 'total',
				filters: [{property: 'status', value: [NEW, UPDATED, REJECTED, PLANNED], operator: 'notin'}],
				restUrl: {
					browse: '/pendanaan/batch'
				}
			})
		},
        isLoaded: false,
        pencairanId: null,
        batchId: null,
        kegiatanId: null,
        subkegiatanId: null,
        budget: null,
        title: null,
        terminBudget: null,
        paid: null,
        unpaid: null,
        amount: 0,
        amount_limit: 0,
        selectSubkegiatan: false,
        tagihan: {
        	nomorSurat: '',
            isExpense: true,
            mitra: { namaLembaga: '' },
            tipe_termin: null,
            persen: 100,
            totalBudget: null,
            totalPencairan: 0
        },
        loading: false,
        isAddModalOpen: false,
        isDeleteModalOpen: false,
		kegiatans: [],
        deleteItem: null,
        deleteIdx: null,
        totalPencairan: 0,
        realisasis: [],
        realisasiSelectedIds : []
	}),
    computed: {
    	getIsExpense() {
    		if (this.tagihan) {
    			if (this.tagihan.isExpense){
    				return 'Expense'
                }
    			else {
    				return 'Termin'
                }
            }
    		return '';
        },
        isExpense() {
    		if (this.tagihan) {
    			return this.tagihan.isExpense;
            }
    		return false;
        },
        isPelunasan() {
    		if (this.tagihan) {
    			return this.tagihan.isPelunasan;
            }
    		return false;
        },
    	getMitraName() {
    		if (this.tagihan) {
    			if (this.tagihan.mitra){
    				return this.tagihan.mitra.namaLembaga
                }
            }
    		return '';
        },
        isValidatedPersen() {
    		return (this.tagihan.persen > 0);
        },
        isValidatedPersenOver() {
    		return (this.tagihan.persen <= 100);
        },
        isValidatedKegiatan() {
    		return (this.kegiatans.length > 0);
        },
        isValidatedTotal() {
    		return this.totalPencairan > 0;
        },
        isValidatedAll() {
            return this.isValidatedTotal //&& this.isValidatedPersen && this.isValidatedPersenOver
                && this.isValidatedKegiatan;
        }
    },
	mounted() {
		if (this.$route.params.id) {
			this.pencairanId = this.$route.params.id;
			this.loadPencairan(this.pencairanId);
		}
	},
	beforeDestroy() {
    	this.kegiatans = null;
    	this.realisasis = null;
	},
	methods: {
		/**
		 * Fetch data Pencairan from remote server.
		 *
		 * @param {number} id SubKegiatan ID
		 * @return {void}
		 */
		loadPencairan(id) {
			this.loading = true;
			this.$http.get('/kegiatan/pencairan/'+id, [], []).
            then((resp) => {
            	this.loading = false;
            	let data = resp.data.data;
            	this.tagihan = data;
            	this.tahun = data.tahun;
            	this.kegiatans = data.children;
            	if (this.kegiatans == null){
            		this.kegiatans = [];
                }

                this.totalPencairan = 0;
                if (data.totalPencairan !== null){
                    this.totalPencairan = data.totalPencairan;
                }
            	this.isLoaded = true;
            	this.$nextTick(() => {
            	    this.prepareDataSources();
                });
			}).catch((error) => {
				this.$notification.error(error);
				this.$nextTick(() => {
					this.$router.push(this.$route.meta.previous);
				});
			});
		},
        prepareDataSources() {
			// set up constraint untuk combobox pilih kegiatan & sub kegiatan
            if (this.tagihan){
            	let isExpense = this.tagihan.isExpense;
            	if (!isExpense){
                    // pencairan termin
                    this.dsKegiatan.proxy.filters.push({
                        property: 'jenisPembayaran',
                        value: ['EXPENSE'],
                        operator: 'notin'
                    });

            	    if (this.tagihan.isPelunasan){
                        // pencairan termin
                        this.dsKegiatan.proxy.filters.push({
                            property: 'termin1',
                            value: true,
                            operator: 'eq'
                        });
                    }
            	    else {

                        // pencairan termin
                        this.dsKegiatan.proxy.filters.push({
                            property: 'status',
                            value: [VERIFIED, REALISASI, REALISASI_VERIFIED],
                            operator: 'in'
                        });

                    }
                }
            	else {
            		// pencairan expense
					this.dsKegiatan.proxy.filters.push({property: 'status', value: [REALISASI_VERIFIED], operator: 'in'});
                    // pencairan termin
                    this.dsKegiatan.proxy.filters.push({
                        property: 'jenisPembayaran',
                        value: ['TERMIN'],
                        operator: 'notin'
                    });
                }
            }
        },
        updatePersen() {
			this.updateTotalPencairan();
        },

        /* membulatkan angka ke kelipatan 500 di atasnya. */
		round500(x)
        {
            return Math.ceil(x/500)*500;
        },
        updateTotalPencairan() {
		    this.totalPencairan = this.round500(this.tagihan.totalBudget)
        },
        setTermin1(){
		    this.tagihan.tipe_termin = 'TERMIN 1';
		    this.tagihan.persen = 60;
			//this.updateTotalPencairan();
        },
        setTermin2(){
		    this.tagihan.tipe_termin = 'TERMIN 2';
		    this.tagihan.persen = 40;
			//this.updateTotalPencairan();
        },
        showDialogAdd(){
			this.kegiatanId = null;
			this.subkegiatanId = null;
			this.amount = null;
			this.budget = null;
			this.title = null;
			this.realisasis = [];
			this.realisasiSelectedIds = [];
			this.isAddModalOpen = true;
        },
        doAddEntries(){
		    if (this.tagihan.isExpense) {
		        this.doAddRealisasi()
            }
		    else {
		        this.doAddKegiatan()
            }
        },
        doAddKegiatan(){
		    if (this.kegiatanId == null){
		        this.$nextTick(() => {
                    this.$notification.error('Kegiatan belum dipilih.');
                });
		        return
            }
			if (!this.selectSubkegiatan) {
				this.subkegiatanId = null;
				if (this.isKegiatanAlreadyIncluded(this.kegiatanId)){
                    this.$nextTick(() => {
                        this.$notification.error('Kegiatan yang sama tidak dapat dipilih kembali.');
                    });
					return;
                }
				if (this.isAmountOverlimit()){
                    this.$nextTick(() => {
                        this.$notification.error('Nilai tagihan melebihi anggaran/realisasi.');
                    });
					return;
                }
			}
			else {
				if (this.isSubkegiatanAlreadyIncluded(this.subkegiatanId)){
					this.$notification.error('Subkegiatan yang sama tidak dapat dipilih kembali.');
					return;
				}
                if (this.isAmountOverlimit()){
                    this.$notification.error('Nilai tagihan melebihi anggaran/realisasi.');
                    return;
                }
            }
			let itemPencairan = {
				pencairanId: this.pencairanId,
                kegiatanId: this.kegiatanId,
                subkegiatanId: this.subkegiatanId,
                title: this.title,
                amount: this.amount
            };
			this.kegiatans.push(itemPencairan);
			this.updateTotalBudget();
			this.isAddModalOpen = false;
        },
        doAddRealisasi(){
		    if (this.realisasiSelectedIds.length === 0) {
                this.$nextTick(() => {
                    this.$notification.error('Realisasi belum dipilih');
                });
            }
		    else {
                this.realisasiSelectedIds.forEach((item,idx) => {
                    if (item===true){
                        this.doAddRealisasiElements(idx);
                    }
                });

                this.isAddModalOpen = false;
            }
        },
        doAddRealisasiElements(idx) {
            let item = this.realisasis[idx];
            let newtitle =  item.label + ' (' + this.title + ')';
            if (this.isRealisasiBulananAlreadyIncluded(newtitle)) {
                return;
            }
            let itemPencairan = {
                pencairanId: this.pencairanId,
                kegiatanId: this.kegiatanId,
                subkegiatanId: null,
                title: newtitle,
                amount: item.amount,
                ids: item.ids
            };
            this.kegiatans.push(itemPencairan);
            this.updateTotalBudget();
        },
        updateKegiatan(item){
			if (this.tagihan.isExpense){
				//this.amount = item.totalKegiatanRealisasi;
                this.updateListRealisasi(item.kegiatanId);
                this.title = item.namaKegiatan;
            } else {
                if (this.tagihan.persen == 0) {
                    this.autodetectPersen(item);
                }
                this.budget = item.anggaran;
				this.terminBudget = this.budget * this.tagihan.persen / 100;
				this.paid = item.pencairan;
				this.unpaid = item.pencairan_sisa;
				this.amount = Math.min(this.terminBudget, this.unpaid);
				this.amount_limit = this.amount;
                this.title = item.namaKegiatan;
			}
		},
		updateSubkegiatan(item){
			if (this.selectSubkegiatan) {
				this.amount = Math.min(this.terminBudget, item.anggaran * this.tagihan.persen /100);
                this.amount_limit = this.amount;
                this.budget = item.anggaran;
				this.title = item.title;
			}
		},
        autodetectPersen(kegiatan){
            // let sisa = kegiatan.anggaran - kegiatan.pencairan;
		    let firstPercent = kegiatan.termin1Percent;
            if (firstPercent == 0) {
                this.tagihan.persen = 60;
            }
            else {
                let sisa_persen = 100 - firstPercent;
                this.tagihan.persen = Math.max(sisa_persen, 90)

            }
        },
        adjustPersen(kegiatan){
		    let sisa = kegiatan.anggaran - kegiatan.pencairan;
            let sisa_persen = 100 * sisa / kegiatan.anggaran;
            this.tagihan.persen = Math.max(sisa_persen, 40)
        },
        /**
         * Fetch data Pencairan from remote server.
         *
         * @return {void}
         */
        updateListRealisasi(id){
            this.loading = true;
            this.$http.get('/kegiatan/pencairan/realisasi-list/'+id, [], []).
            then((resp) => {
                this.loading = false;
                let data = resp.data.data;
                this.realisasis = data;
            }).catch((error) => {
                this.$notification.error(error);
            });
        },
        updateAmountRealisasi(index){
            this.amount = 0;
            this.realisasiSelectedIds.forEach((item, number, all) => {
                if (item===true){
                    let object = this.realisasis[number];
                    this.amount += object.amount
                }
            });
        },
        isKegiatanAlreadyIncluded(kegiatanId){
			let found = false;
			this.kegiatans.forEach(function(item) {
				if (item.kegiatanId == kegiatanId){
                    found = true;
                }
			});
			return found;
        },
        isSubkegiatanAlreadyIncluded(subkegiatanId){
			let found = false;
			this.kegiatans.forEach(function(item) {
				if (item.subkegiatanId == subkegiatanId){
					found = true;
				}
			});
			return found;
        },
        isRealisasiBulananAlreadyIncluded(newtitle){
			let found = false;
			this.kegiatans.forEach(function(item) {
				if (item.title == newtitle){
					found = true;
				}
			});
			return found;
        },
        isAmountOverlimit(){
		    return this.amount > this.amount_limit;
        },
		confirmDelete(item, idx){
            this.deleteItem = item;
            this.deleteIdx = idx;
            this.isDeleteModalOpen = true;
        },
        doDeleteItem(){
            this.kegiatans.splice(this.deleteIdx, 1);
			this.isDeleteModalOpen = false;
			this.updateTotalBudget();
        },
        updateTotalBudget() {
			let total = 0;
			this.kegiatans.forEach(function(a) {
				total += Number(a.amount);
			});
            this.tagihan.totalBudget = total;
			this.updateTotalPencairan();
        },

		/**
		 * Send request insert/update data Pencairan to the remote server.
		 *
		 * @return {void}
		 */
		doSave() {
			this.loading = true;
			this.$http.post('/kegiatan/pencairan/update/'+this.pencairanId,
				{
					'tipe_termin' : this.tagihan.tipe_termin,
					'persen' : this.tagihan.persen,
					'kegiatans' : this.kegiatans,
					'totalBudget' : this.tagihan.totalBudget,
					'totalPencairan' : this.totalPencairan,
                },
				[])
			.then( () => {
				this.loading = false;
				this.$notification.success('Berhasil menyunting Pencairan', STATE_SUCCESS);
				this.$nextTick(() => {
					this.$router.push('/kegiatan/pencairan/');
				})

			})
			.catch((error) => {
				this.loading = false;
				this.$notification.error(error);
			});
		}
	}

}
</script>

<style scoped>

</style>
