<template>
    <div class="body-container">
        <bs-card shadow>
            <bs-card-body>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-row" x-ms-format-detection="none">
                            <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                                NOMOR TAGIHAN
                            </label>
                            <label class="col-md-9 font-weight-bold pt-1 text-md-right text-lg-left">
                                {{ tagihan.nomorSurat }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-row" x-ms-format-detection="none">
                            <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                                TOTAL PENCAIRAN
                            </label>
                            <label class="col-md-9 text-md-right text-lg-left">
                                Rp. {{ moneyFormat(tagihan.totalPencairan) }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <bs-text-field v-model="nomorVoucherBdvc">
                        <label class="col-form-label col-md-3 col-xl-2">
                            NOMOR VOUCHER
                        </label>
                    </bs-text-field>
                </div>
                <div class="form-group">
                    <bs-date-time-field v-model="transfer_date"
                                        append-icon="calendar"
                                        :locale="getLocale"
                                        class="col"
                                        display-format="DD MMMM YYYY"
                                        format="YYYY-MM-DD"
                                        view-mode="date"
                                        clear-button >
                    <label class="col-form-label col-md-3 col-xl-2">
                        TGL TRANSFER
                    </label>
                    </bs-date-time-field>
                </div>

                <div class="row" v-if="hasVerificatorAccessRights">
                    <div class="col-xl-8">
                        <div class="form-row" x-ms-format-detection="none">
                            <bs-button @click="doSave"
                                       color="success"
                                       v-if="hasVerificatorAccessRights && (tagihan.status === 'PAID')">
                                SUNTING
                            </bs-button>
                        </div>
                    </div>
                </div>

            </bs-card-body>
        </bs-card>
        <bs-mask-loader :opacity="0"
                        :show="loading"
                        :spinner-diameter="50"/>

    </div>
</template>

<script>
import appLocale from "../../../../mixins/appLocale";
import httpErrorResponse from "../../../../mixins/httpErrorResponse";
import formatUtils from "../../../../mixins/formatUtils";
import defaultRouteGuard from "../../../../mixins/security/defaultRouteGuard";
import {STATE_SUCCESS} from "../../../../store/modules/mutation-types";
export default {
    name: "FormVoucher",
    mixins: [ appLocale, httpErrorResponse, formatUtils, defaultRouteGuard ],
    data: () => ({
        tagihan: {
            nomorSurat: '',
            isExpense: false,
            mitra: { namaLembaga: '' },
            tipe_termin: null,
            persen: 0,
            nomorVoucherBdvc: '',
            transfer_date: null
        },
        pencairanId: null,
        nomorVoucherBdvc: '',
        transfer_date: null
    }),
    created() {
        if (this.$route.params.id) {
            this.pencairanId = this.$route.params.id;
            this.loadPencairan(this.pencairanId);
        }
    },
    methods: {
        /**
         * Fetch data Pencairan from remote server.
         *
         * @param {number} id SubKegiatan ID
         * @return {void}
         */
        loadPencairan(id) {
            this.loading = true;
            this.$http.get('/kegiatan/pencairan/' + id, [], []).then((resp) => {
                this.loading = false;
                let data = resp.data.data;
                this.tagihan = data;
                this.nomorVoucherBdvc = this.tagihan.nomorVoucherBdvc;
                this.transfer_date = null;
                if (this.tagihan.transfer_date) {
                    this.transfer_date = this.tagihan.transfer_date.substr(0, 10);
                }
            }).catch((error) => {
                this.loading = false;
                this.showErrorMessage(error);
                // this.$nextTick(() => {
                //     this.$router.push(this.$route.meta.previous);
                // });
            });
        },

        doSave() {
            const url = '/kegiatan/pencairan/update-tgl-transfer-no-bdvc/'+this.pencairanId;

            this.$http.post(url, {
                    nomorVoucher: this.nomorVoucherBdvc,
                    tglTransfer: this.transfer_date
                },
                []
            ).then(() => {
                this.$notification.success('Data pencairan disunting', STATE_SUCCESS);
                this.$nextTick(() => {
                    this.$router.push('/kegiatan/pencairan/view/'+this.pencairanId);
                });

            }).catch((error) => {
                this.loading = false;
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/kegiatan/pencairan/view/'+this.pencairanId);
                });
            });

        }

    },

}
</script>

<style scoped>

</style>