<template>
  <section class="container">
    <bs-card shadow>
      <bs-card-body>
        <form class="pt-lg-3 px-lg-2" novalidate>
          <div class="form-group">
            <bs-combobox v-model="batch.programId"
                         :data-source="dsProgram"
                         :external-validator="programIdValidator"
                         required
                         @change="onSelectProgram">
              <label class="col-form-label col-md-3 col-xl-2">
                Program CSR
              </label>
            </bs-combobox>
          </div>
          <div class="form-group">
            <bs-text-field :value="bidangCsr" readonly required>
              <label class="col-form-label col-md-3 col-xl-2">
                Bidang CSR
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-combobox v-model="batch.mitraId"
                         :data-source="dsMitra"
                         :external-validator="mitraIdValidator"
                         required
                         @data-bind="onBindMitra">
              <label class="col-form-label col-md-3 col-xl-2">
                Mitra Kerjasama
              </label>
              <template slot="itemOption" slot-scope="{ item }">
                <bs-list-tile-action style="width: 45px">
                  <span class="text-grey-500">{{ item.kodeLembaga }}</span>
                </bs-list-tile-action>
                <bs-list-tile-content>{{ item.namaLembaga }}</bs-list-tile-content>
              </template>
            </bs-combobox>
          </div>
          <div class="form-group">
            <bs-text-field v-model="batch.namaBatch"
                           :external-validator="namaBatchValidator"
                           placeholder="contoh: Batch-1"
                           autofocus
                           required>
              <label class="col-form-label col-md-3 col-xl-2">
                Nama Batch
              </label>
            </bs-text-field>
          </div>
          <div class="row">
            <label class="col-form-label col-md-3 col-xl-2 font-weight-bold">
              Periode
            </label>
            <div class="col-md-9 col-xl-10">
              <div class="form-group form-row">
                <div class="col-5">
                  <bs-date-time-field v-model="batch.tahunAwal"
                                      :external-validator="tahunAwalValidator"
                                      append-icon="calendar"
                                      format="YYYY"
                                      view-mode="year"
                                      required />
                </div>
                <div class="col-form-label col-2 col-md-1 text-center">
                  s.d
                </div>
                <div class="col-5">
                  <bs-date-time-field v-model="batch.tahunAkhir"
                                      :external-validator="tahunAkhirValidator"
                                      append-icon="calendar"
                                      format="YYYY"
                                      view-mode="year"
                                      required />
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <bs-number-field v-model.number="batch.managementFee"
                             :external-validator="managementFeeValidator"
                             :locale="getLocale"
                             append-icon="calendar"
                             control-cls="col-11 col-md-2"
                             required>
              <label class="col-form-label col-md-3 col-xl-2">
                Management Fee
              </label>
              <span slot="appendSlot" class="md-icon-text">%</span>
            </bs-number-field>
          </div>
        </form>
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <bs-button color="primary" @click="doSave">
          Simpan
        </bs-button>
      </bs-card-footer>
    </bs-card>
    <bs-mask-loader :opacity="0"
                    :show="batch.updating"
                    :spinner-diameter="50" />
  </section>
</template>

<script>
import { BsStore, Helper } from "vue-bs4";
import { validationMixin } from "vuelidate";
import { mapGetters, mapMutations } from 'vuex';
import { BatchModel } from "../../../models/MasterData/Batch/BatchModel";
import {
    GET_ACTIVE_ITEM,
    MSG_SAVE_SUCCESS,
    MSG_UPDATE_SUCCESS,
    SAVE,
    SET_ACTIVE_ITEM,
    STATE_SUCCESS,
    UPDATE
} from "../../../store/modules/mutation-types";
import { masterBatchValidationHandler, masterBatchValidator } from "../../../models/MasterData/Batch/BatchValidator";
import appLocale from "../../../mixins/appLocale";
import httpErrorResponse from "../../../mixins/httpErrorResponse";
import editorRouteGuard from "../../../mixins/security/editorRouteGuard";

export default {
    name: "FormBatch",
    mixins: [
        validationMixin,
        appLocale,
        editorRouteGuard,
        httpErrorResponse,
        masterBatchValidationHandler('batch')
    ],
    data: () => ({
        batch: new BatchModel(),
        dsMitra: {
            schema: {
                displayField: 'namaLembaga',
                valueField: 'mitraId'
            },
            proxy: new BsStore({
                idProperty: 'mitraId',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    browse: '/master-data/mitra'
                }
            })
        },
        dsProgram: {
            schema: {
                displayField: 'name',
                valueField: 'msid'
            },
            proxy: new BsStore({
                idProperty: 'msid',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    browse: '/master-data/program-csr'
                }
            })
        },
        /**
         * Jika bernilai TRUE dipergunakan untuk memperbarui existing data,
         * sebaliknya jika bernilai FALSE dipergunakan untuk menambah data baru.

         * @type boolean
         */
        isEditMode: false
    }),
    computed: {
        ...mapGetters('MasterData/ProgramCsr', [
            GET_ACTIVE_ITEM
        ]),
        bidangCsr() {
            return this[GET_ACTIVE_ITEM].bidang;
        }
    },
    validations: {
        batch: masterBatchValidator
    },
    mounted() {
        // if (!this.hasEditorAccessRights) {
        //     this.$router.push('/access-denied');
        //     return;
        // }

        if (this.$route.params.id) {
            this.isEditMode    = true;
            this.batch.batchId = this.$route.params.id;

            this.batch.fetch().then(() => {
                this.batch.mitraId     = this.batch.mitra.mitraId;
                this.batch.programId   = this.batch.programCsr.msid;
                this.batch.programName = this.batch.programCsr.name;
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/master-data/batch');
                });
            });
        } else {
            this.batch.programId   = this[GET_ACTIVE_ITEM].id;
            this.batch.programName = this[GET_ACTIVE_ITEM].title;
        }
    },
    beforeDestroy() {
        this.dsMitra.proxy.destroy();
        this.dsMitra.proxy = null;
        this.dsMitra       = null;
        this.batch.destroy();
        this.batch = null;
    },
    methods: {
        ...mapMutations('MasterData/ProgramCsr', [
            SET_ACTIVE_ITEM
        ]),
        /**
         * Send request insert/update data Master Batch.
         *
         * @return {void}
         */
        doSave() {
            this.$v.$touch();

            if (!this.$v.$error) {
                const text   = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                const action = this.isEditMode ? UPDATE : SAVE;

                this.batch.programCsr = this.batch.programId;
                this.batch.mitra      = this.batch.mitraId;

                this.batch[action]().then(() => {
                    this.$notification.success('Data Batch ' + text, STATE_SUCCESS);
                    this.$nextTick(() => {
                        this.$router.push('/master-data/batch');
                    });
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            }
        },
        /**
         * Event handler, ketika data Mitra sudah diload maka otomatis mencari
         * Mitra yang sesuai dengan Program CSR yang dipilih.
         *
         * @param {Object[]} datas Data model
         * @return {void}
         */
        onBindMitra(datas) {
            const item = datas.find(it => it.programCsr != null && it.programCsr.msid === this[GET_ACTIVE_ITEM].id);

            if (!Helper.isEmptyObject(item)) {
                this.batch.mitraId = item.mitraId;
            }
        },
        /**
         * OnChange event handler, otomatis mencari Mitra yang sesuai dengan Program CSR yang dipilih.
         *
         * @param {Object} item Data model
         * @return {void}
         */
        onSelectProgram(item) {
            if (item === null) {
                this[SET_ACTIVE_ITEM](null);
                this.batch.mitraId = null;
            } else {
                const obj  = {id: item.msid, title: item.name, bidang: item.jenis.title};
                const found = this.dsMitra.proxy.dataItems.find(it => it.programCsr != null && it.programCsr.msid === item.msid);

                if (!Helper.isEmptyObject(found)) {
                    this.batch.mitraId = found.mitraId;
                }

                this[SET_ACTIVE_ITEM](obj);
            }
        }
    }
}
</script>

<style scoped>

</style>
