<template>
  <div class="body-container">
    <div v-if="hasEditorAccessRights" class="pb-3">
      <bs-button color="amber"
                 icon="plus-circle"
                 icon-position="left"
                 href="#/master-data/batch/create"
                 raised>
        Tambah Baru
      </bs-button>
    </div>
    <bs-card shadow>
      <bs-card-body class="pb-2 border-bottom">
        <div class="row">
          <div class="col-xl-7">
            <div class="form-group">
              <bs-combobox v-model="programId" :data-source="dsProgram" required>
                <label class="col-form-label col-lg-3">
                  PROGRAM CSR
                </label>
              </bs-combobox>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-7">
            <div class="form-group">
              <bs-text-field :value="bidangCsr" readonly required>
                <label class="col-form-label col-lg-3">
                  BIDANG CSR
                </label>
              </bs-text-field>
            </div>
          </div>
        </div>
      </bs-card-body>
      <bs-grid :data-source="dataSource"
               :filterable="{minlength: 3, operator: 'contains', immediate: false, placeholder: false}"
               ref="datagrid"
               row-hover
               sortable>
        <bs-grid-column :filterable="{enabled: false, button: true}"
                        row-numbering
                        text-align="right"
                        width="50" />
        <bs-grid-column field="namaBatch" label="Nama Batch" width="170" />
        <bs-grid-column :filterable="{minlength: 4, operator: 'eq'}"
                        field="tahunAwal"
                        label="Periode"
                        width="120"
                        text-align="center" />
        <bs-grid-column :filterable="{minlength: 1, operator: 'eq'}"
                        :sortable="false"
                        field="managementFee"
                        label="Mgt. Fee"
                        width="100"
                        text-align="center" />
        <bs-grid-column field="mitra.namaLembaga" label="Mitra Kerjasama" min-width="250" />
        <bs-grid-column v-if="hasDeleteAccessRights || hasEditorAccessRights"
                        label="Tindakan"
                        text-align="center"
                        width="90"
                        :sortable="false" />

        <template v-slot:datarow="{ columns, item, index }">
          <bs-grid-cell-numbering :column="columns[0]" :index="index" />
          <bs-grid-cell :column="columns[1]" :item="item" />
          <bs-grid-cell :column="columns[2]" :item="item">
            {{ item.tahunAwal }} - {{ item.tahunAkhir }}
          </bs-grid-cell>
          <bs-grid-cell :column="columns[3]" :item="item">
            {{ percentFormat(item.managementFee) }}
          </bs-grid-cell>
          <bs-grid-cell :column="columns[4]" :item="item" />
          <bs-grid-cell v-if="hasDeleteAccessRights || hasEditorAccessRights"
                        :column="columns[5]"
                        :item="item">
            <bs-tooltip v-if="hasEditorAccessRights"
                        content="Sunting Data"
                        placement="top">
              <bs-button :href="doEdit(item.batchId)"
                         color="primary"
                         icon="pen"
                         icon-position="left"
                         size="xs"
                         outlined />
            </bs-tooltip>
            <bs-tooltip v-if="hasDeleteAccessRights"
                        content="Hapus Data"
                        placement="top">
              <bs-button color="danger"
                         icon="trash-alt"
                         icon-position="left"
                         size="xs"
                         outlined
                         @click="confirmDelete(item)" />
            </bs-tooltip>
          </bs-grid-cell>
        </template>
      </bs-grid>
    </bs-card>

    <bs-modal :esc-close="false"
              :open.sync="showModal"
              :overlay-close="false"
              max-width="85%"
              title="Konfirmasi"
              width="400">
      Apakah anda yakin akan menghapus <b>{{ batch.namaBatch }}</b> untuk program
      <b v-if="batch.programCsr !== null">{{ batch.programCsr.name }}</b>?
      <template v-slot:footer="">
        <bs-button color="secondary"
                   outlined
                   @click="showModal = false">
          Batal
        </bs-button>
        <bs-button color="danger" @click="doDelete">
          Hapus
        </bs-button>
      </template>
    </bs-modal>
    <bs-mask-loader :opacity="0"
                    :show="batch.deleting"
                    :spinner-diameter="50" />
  </div>
</template>

<script>
import { BsStore, Helper } from "vue-bs4";
import { mapGetters, mapMutations } from 'vuex';
import { BatchModel } from "../../../models/MasterData/Batch/BatchModel";
import { GET_ACTIVE_ITEM, PAGE_SIZE, SET_ACTIVE_ITEM, STATE_SUCCESS } from "../../../store/modules/mutation-types";
import defaultRouteGuard from "../../../mixins/security/defaultRouteGuard";
import httpErrorResponse from "../../../mixins/httpErrorResponse";
import appLocale from "../../../mixins/appLocale";
import formatUtils from "../../../mixins/formatUtils";

export default {
    name: "GridBatch",
    mixins: [appLocale, formatUtils, httpErrorResponse, defaultRouteGuard],
    data: () => ({
        dataSource: new BsStore({
            idProperty: 'batchId',
            dataProperty: 'data',
            totalProperty: 'total',
            pageSize: PAGE_SIZE,
            restUrl: {
                browse: '/master-data/batch'
            }
        }),
        dsProgram: {
            schema: {
                displayField: 'name',
                valueField: 'msid'
            },
            proxy: new BsStore({
                idProperty: 'msid',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    browse: '/master-data/program-csr'
                }
            })
        },
        batch: new BatchModel(),
        showModal: false
    }),
    computed: {
        ...mapGetters('MasterData/ProgramCsr', [
            GET_ACTIVE_ITEM
        ]),
        bidangCsr() {
            return this[GET_ACTIVE_ITEM].bidang;
        },
        programId: {
            get() {
                return this[GET_ACTIVE_ITEM].id;
            },
            set(value) {
                let obj     = null;
                const item = this.dsProgram.proxy.dataItems.find(el => el.msid === value);

                if (!Helper.isEmpty(item)) {
                    obj = {id: item.msid, title: item.name, bidang: item.jenis.title};
                }

                this[SET_ACTIVE_ITEM](obj);
                this.dataSource.defaultFilters = {property: 'programCsr.msid', value: value};
                this.$refs.datagrid.reload();
            }
        }
    },
    created() {
        this.dataSource.defaultFilters = {property: 'programCsr.msid', value: this.programId};
    },
    beforeDestroy() {
        this.dataSource.destroy();
        this.dataSource = null;
        this.batch.destroy();
        this.batch = null;
    },
    methods: {
        ...mapMutations('MasterData/ProgramCsr', [
            SET_ACTIVE_ITEM
        ]),
        /**
         * Menampilkan modal dialog konfirmasi delete record Batch.
         *
         * @param {BatchModel} item Data model
         * @return {void}
         */
        confirmDelete(item) {
            this.batch.assignValues(item);
            this.showModal = true;
        },
        /**
         * Process request hapus record Batch.
         *
         * @return {void}
         */
        doDelete() {
            this.showModal = false;
            this.batch.delete().then((callback) => {
                this.$notification.success(callback.data.message, STATE_SUCCESS);
                this.$refs.datagrid.reload();
            }).catch((error) => {
                this.showErrorMessage(error);
            });
        },
        /**
         * Get route Url untuk menampilkan halaman form Edit Batch.
         *
         * @param {int} id Batch ID
         * @return {string} Route url
         */
        doEdit(id) {
            return '#/master-data/batch/edit/' + id;
        }
    }
}
</script>

<style scoped>

</style>
