<template>
  <section class="body-container">
    <div class="pb-3" v-if="canAddKpi">
      <bs-button color="amber"
                 icon="plus-circle"
                 icon-position="left"
                 @click="addKPI"
                 raised>
        Entri KPI
      </bs-button>
    </div>
    <bs-card shadow>
      <bs-card-body>
        <bs-card-content type="title" tag="h4" class="text-uppercase">
          {{ biodata.namaLengkap }}
        </bs-card-content>

        <div class="row">
          <div class="col-xl-6">
            <h6>Data Umum</h6>
            <div class="form-row">
              <div class="col-4 col-md-3">
                NIK
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ biodata.nik }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                NIM
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ beasiswa.nim }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Fakultas
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ beasiswa.fakultas ? beasiswa.fakultas.name : '' }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Program Studi
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ beasiswa.jurusan ? beasiswa.jurusan.name : '' }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Tahun Masuk
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ beasiswa.tahunMasuk }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Jalur Masuk
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ beasiswa.jalurMasuk }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Jenis Kelamin
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ jenisKelamin(biodata.jenisKelamin) }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Tempat Lahir
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ biodata.tempatLahir }}
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-4 col-md-3">
                Tanggal Lahir
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ dateFormat(biodata.tanggalLahir, 'DD MMMM YYYY') }}
              </div>
            </div>

            <h6>Data Lainnya</h6>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Nama Bank
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ beasiswa.namaBank }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Nomor Rekening
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ beasiswa.nomorRekening }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Nomor CIF
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ beasiswa.nomorCif }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Nomor KIS/BPJS
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ beasiswa.kartuSehat }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Golongan Darah
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ beasiswa.golonganDarah }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Sekolah Asal
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ beasiswa.sekolahAsal }}
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-4 col-md-3">
                Alamat Sekolah
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ beasiswa.alamatSekolah }}
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <display-alamat class="mb-3"
                            title="Alamat Tinggal"
                            :alamat="biodata.alamat"
                            :kelurahan="biodata.kelurahan"
                            :kecamatan="biodata.kecamatan"
                            :kodepos="biodata.kodePos"
                            :rtrw="biodata.rtRw" />
            <individu-contact class="mb-3"
                              :phone="biodata.phone"
                              :email="biodata.email"
                              :facebook="biodata.facebook"
                              :instagram="biodata.instagram" />

            <h6>Data Orang Tua</h6>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Nama Ayah
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ orangTua.namaAyah }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Nama Ibu
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ orangTua.namaIbu }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Pekerjaan Ayah
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ orangTua.pekerjaanAyah }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Pekerjaan Ibu
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ orangTua.pekerjaanIbu }}
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-4 col-md-3">
                Penghasilan Ayah & Ibu
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                Rp. {{ orangTua.penghasilan ? moneyFormat(orangTua.penghasilan) : '' }}
              </div>
            </div>

            <display-alamat title="Alamat Tinggal Orang Tua"
                            :alamat="orangTua.alamat"
                            :kelurahan="orangTua.kelurahan"
                            :kecamatan="orangTua.kecamatan"
                            :kodepos="orangTua.kodePos"
                            :rtrw="orangTua.rtRw" />
          </div>
          <div class="col-lg-12 mt-4">
            <reject-view class="mb-3"
                         v-if="isRejected"
                         :approval="logs"
                         :status="workflowConfigurer.majorPlaceMark(beasiswa)"
                         :color="workflowConfigurer.badgeColor(beasiswa)"/>
          </div>

        </div>
      </bs-card-body>
      <bs-card-body>
        <div class="row" v-if="hasKpi">
          <div class="col-xl-12">
            <h6>Penilaian KPI {{ namaProgram }}</h6>
            <div class="table-responsive">
              <table class="table table-sm table-valign-middle table-bordered">
                <thead class="thead-light">
                <tr>
                  <th class="text-center text-nowrap">
                    SEMESTER
                  </th>
                  <th class="text-center text-nowrap">
                    NILAI TOTAL
                  </th>
                  <th class="text-center text-nowrap">
                    LEVEL
                  </th>
                </tr>
                </thead>
                <tbody>
                <template>
                  <tr v-for="item in beasiswa.kpi" :key="item.idk">
                    <td class="text-nowrap">
                      {{ item.semester }}
                    </td>
                    <td class="text-nowrap">
                      {{ item.abflParams.nilaiTotal }}
                    </td>
                    <td class="text-nowrap">
                      {{ item.abflParams.level }}
                    </td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <audit-trail :last-updated="beasiswa.lastUpdated"
                     :posted-by="beasiswa.postedBy"
                     :posted-date="beasiswa.postedDate"
                     :updated-by="beasiswa.updatedBy" />
      </bs-card-footer>
      <bs-mask-loader :show="loader || beasiswa.loading" :opacity="0" :spinner-diameter="50" />
    </bs-card>
  </section>
</template>

<script>
  import {GET_ACTIVE_PRGNAME, GET_ACTIVE_PROGRAM} from "../../../../../store/modules/Kegiatan/mutation-types";
import { BeasiswaModel } from "../../../../../models/Beneficiary/Beasiswa/BeasiswaModel";
import { IndividuModel } from "../../../../../models/Beneficiary/IndividuModel";
import { OrangTuaModel } from "../../../../../models/Beneficiary/Beasiswa/OrangTuaModel";
import appLocale from "../../../../../mixins/appLocale";
import defaultRouteGuard from "../../../../../mixins/security/defaultRouteGuard";
import formatUtils from "../../../../../mixins/formatUtils";
import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";
import AuditTrail from "../../../../../components/AuditTrail";
import DisplayAlamat from "../../../../../components/DisplayAlamat";
import IndividuContact from "../../../../../components/IndividuContact";
  import {APPROVED, REJECTED} from "../../../../../store/modules/mutation-types";
  import BeneficiaryWorkflowConfigurer from "../../../../../models/Beneficiary/BeneficiaryWorkflowConfigurer";
  import RejectView from "../../RejectView";

export default {
    name: 'ViewBeasiswa',
    components: {AuditTrail, DisplayAlamat, IndividuContact, RejectView},
    mixins: [
        appLocale, defaultRouteGuard, formatUtils, httpErrorResponse, mapStoreKegiatanBeneficiary
    ],
    data: () => ({
        beasiswa: new BeasiswaModel(),
        biodata: new IndividuModel(),
        orangTua: new OrangTuaModel(),
        loader: false,
        logs: null,
        workflowConfigurer: new BeneficiaryWorkflowConfigurer('beasiswa')
    }),
    created() {
        const idprogram = this.$route.params.idprogram;

      if (this[GET_ACTIVE_PROGRAM] === null) {
          this.fetchDpt(idprogram);
      }
      if (this.$route.params.id) {
          this.beasiswa.beasiswaId = this.$route.params.id;

          this.beasiswa.fetch().then((rsp) => {
              this.biodata.assignValues(this.beasiswa.biodata);
              this.orangTua.assignValues(this.beasiswa.orangTua);
              this.beasiswa.lastUpdated = new Date(rsp.data.data.lastUpdated);
              this.beasiswa.postedDate  = new Date(rsp.data.data.postedDate);
              this.beasiswa.postedBy    = rsp.data.data.postedBy.fullName;
              this.beasiswa.updatedBy   = rsp.data.data.updatedBy.fullName;
              this.loadDataReject(this.beasiswa.beasiswaId);
          }).catch((error) => {
              this.showErrorMessage(error);
              this.$nextTick(() => {
                  this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/beasiswa');
              });
          });
      }
    },
    beforeDestroy() {
        this.beasiswa.destroy();
        this.beasiswa = null;

        this.biodata.destroy();
        this.biodata = null;

        this.orangTua.destroy();
        this.orangTua = null;
    },
    computed: {
        hasKpi() {
          return this.beasiswa.kpi && this.beasiswa.kpi.length > 0;
        },
        namaProgram() {
          return this[GET_ACTIVE_PRGNAME];
        },
        canAddKpi () {
          return (this.hasEditorAccessRights) && (this.beasiswa.status === APPROVED);
        },
        /**
         * @return {boolean}
         */
        isRejected() {
          return this.beasiswa.status === REJECTED;
        }
    },
    methods: {
      addKPI() {
        this.$router.push('/kegiatan/penerima-manfaat/' + this.$route.params.idprogram + '/beasiswa/view/' + this.$route.params.id + '/kpi/create');
      },
      /**
       * Fetch data kpi.
       *
       * @param {int|string} id  beasiswa ID
       * @return {void}
       */
      fetchBeasiswa(id) {
        this.beasiswa.fetch(id).catch((error) => {
          this.showErrorMessage(error);
          this.$nextTick(() => {
            this.$router.push(this.$route.meta.previous);
          });
        });
      },
      /**
       * Fetch data from remote server.
       *
       * @param {number} $id
       * @return {void}
       */
      loadDataReject($id) {
        this.loader = true;
        this.$http.get('/kegiatan/penerima-manfaat/beasiswa/approval/' + $id).then($response => {
          this.loader = false;
          let $resp = $response.data;
          this.logs = $resp.data;
        });
      },
    }
}
</script>

<style scoped>

</style>
