<template>
    <div class="body-container">
        <bs-card shadow>
            <bs-card-header class="text-nowrap">
                GALERI SUB KEGIATAN
            </bs-card-header>
            <bs-card-body class="pb-3 border-bottom">
                <div class="form-row h6">
                    <div class="col-md-3 col-xl-2">
                        Tahun Anggaran
                    </div>
                    <div class="d-none d-md-flex" style="width: 8px">
                        :
                    </div>
                    <div class="col font-weight-light text-muted">
                        {{ tahunBatch }}
                    </div>
                </div>
                <div class="form-row h6">
                    <div class="col-md-3 col-xl-2">
                        Sumber Dana
                    </div>
                    <div class="d-none d-md-flex" style="width: 8px">
                        :
                    </div>
                    <div class="col font-weight-light text-muted">
                        {{ namaProgram }}
                    </div>
                </div>
                <div class="form-row h6">
                    <div class="col-md-3 col-xl-2">
                        Nama Kegiatan
                    </div>
                    <div class="d-none d-md-flex" style="width: 8px">
                        :
                    </div>
                    <div class="col font-weight-light text-muted">
                        {{ namaKegiatan }}
                    </div>
                </div>
                <div class="form-row h6">
                    <div class="col-md-3 col-xl-2">
                        Nama Sub Kegiatan
                    </div>
                    <div class="d-none d-md-flex" style="width: 8px">
                        :
                    </div>
                    <div class="col font-weight-light text-muted">
                        {{ namaSubKegiatan }}
                    </div>
                </div>
            </bs-card-body>
            <bs-card-body v-if="images">
                <div class="row mb-3">
                    <div class="col-lg-12" id="btnFilter">
                        <bs-button class="mr-2" color="secondary" outlined v-on:click="filterSelection('foto')"> Foto
                        </bs-button>
                        <bs-button color="secondary" outlined v-on:click="filterSelection('video')"> Video</bs-button>
                    </div>
                </div>
                <div class="dokumen-wrapper" ref="dokumengrid" v-viewer="options">
                    <template v-for="{source, thumbnail, isVideo, keys, item} in images">
                        <div :key="'doc-' + keys" class="dokumen foto show" v-if="!isVideo && showActive(item)">
                            <img :alt="item.docTitle"
                                 :data-source="source"
                                 :key="source"
                                 :src="thumbnail"
                                 :title="item.docTitle"
                                 class="img-fluid"/>
                            <p>{{ item.docTitle }}</p>
                        </div>
                        <div :key="'doc-' + keys" class="dokumen video" v-if="isVideo && showActive(item)">
                            <img :alt="item.docTitle"
                                 :src="thumbnail"
                                 :title="item.docTitle"
                                 class="img-fluid"/>
                            <p>{{ item.docTitle }}</p>
                            <div class="grid__overlay">
                                <bs-button @click="showVideo(item)"
                                           class="button_detail"
                                           color="info"
                                           icon="video"
                                           size="sm">
                                    Lihat Video
                                </bs-button>
                            </div>
                        </div>
                    </template>
                </div>
            </bs-card-body>
        </bs-card>
        <bs-mask-loader :opacity="0"
                        :show="loader || kegiatan.loading || subkegiatan.loading"
                        :spinner-diameter="50"/>
        <bs-modal :esc-close="true"
                  :line="0"
                  :maxWidth="'100%'"
                  :open.sync="showVideoView"
                  :overlay-close="true"
                  :padding="0"
                  :title="this.itemVideo.docTitle"
                  :width="801">
            <Media :autoplay="true"
                   :controls="true"
                   :isMuted="(false)"
                   :kind="'video'"
                   :loop="false"
                   :src="[this.itemVideo.url]"
                   :style="{width: '801px', height: '450px'}"/>
        </bs-modal>
    </div>
</template>
<script>
    import Media from "@dongido/vue-viaudio";
    import appLocale from "../../../mixins/appLocale";
    import formatUtils from "../../../mixins/formatUtils";
    import httpErrorResponse from "../../../mixins/httpErrorResponse";
    import {GALLERY, STATE_WARNING, VERIFIED} from "../../../store/modules/mutation-types";
    import defaultRouteGuard from "../../../mixins/security/defaultRouteGuard";
    import {KegiatanModel} from "../../../models/Kegiatan/Pengelolaan/KegiatanModel";
    import {SubKegiatanModel} from "../../../models/Kegiatan/Pengelolaan/SubKegiatanModel";
    import Helper from "vue-bs4/src/utils/Helper";
    import 'viewerjs/dist/viewer.css';
    import Viewer from 'v-viewer';
    import Vue from 'vue';

    Vue.use(Viewer, {
        debug: false,
        defaultOptions: {
            zIndex: 9999
        }
    });

    export default {
        name: "AlbumSubKegiatanAll",
        components: {
            Media
        },
        mixins: [appLocale, formatUtils, httpErrorResponse, defaultRouteGuard],
        data() {
            return {
                tahunBatch: null,
                namaProgram: null,
                namaKegiatan: null,
                namaSubKegiatan: null,
                kegiatan: new KegiatanModel(),
                subkegiatan: new SubKegiatanModel(),
                defaultImage: 'images/no-image.png',
                iconFolder: 'images/icon-document/',
                options: {
                    "navbar": false,
                    "movable": false,
                    "rotatable": false,
                    "scalable": false,
                    "url": "data-source"
                },
                images: [].splice(0, 5),
                itemVideo: {},
                showVideoView: false,
                loader: false
            }
        },
        beforeDestroy() {
            this.kegiatan.destroy();
            this.kegiatan = null;

            this.subkegiatan.destroy();
            this.subkegiatan = null;
        },
        created() {
            this.load();
            this.fetchKegiatan();
            this.fetchSubKegiatan();
        },
        methods: {
            /**
             * Load primary data from remote source.
             *
             * @return {Promise<void>} Promise interface
             */
            async load() {
                let $wsUrl = '/kegiatan/dokumentasi/view/' + this.$route.params.id + '/' + this.$route.params.sid + '/' + GALLERY + '/1';

                this.loader = true;
                try {
                    this.$http.get($wsUrl).then($response => {
                        let res = $response.data;
                        if (!Helper.isEmpty(res.data)) {
                            this.images = [];
                            this.generateView(res.data);
                        } else {
                            this.$notification.warning('Dokumentasi kegiatan tidak ditemukan atau belum ada yang diunggah', STATE_WARNING);
                            this.images = [];
                        }
                        this.loader = false;
                    });
                } catch (e) {
                    this.showErrorMessage(e);
                    this.loader = false;
                }
            },
            /**
             * Generate parameter untuk plugin image viewer
             */
            generateView(item) {
                item.map((row, key) => {
                    if (!Helper.isEmpty(row.thumbnail) && !Helper.isEmpty(row.url)) {
                        let video = ["mp4", "avi"];
                        let sourceImage = row.thumbnail ? row.thumbnail : this.defaultImage;
                        let $images = {
                            thumbnail: video.includes(row.extension) ? this.iconFolder + row.extension + '.png' : sourceImage,
                            source: video.includes(row.extension) ? null : row.url,
                            isVideo: video.includes(row.extension),
                            keys: key,
                            item: row
                        };

                        this.images.push($images);
                    }
                })
            },
            /**
             * Fetch data Kegiatan from remote server.
             * @return {void}
             */
            fetchKegiatan() {
                this.kegiatan.fetch(this.$route.params.id).then(() => {
                    this.namaProgram = this.kegiatan.danaBatch.namaProgram;
                    this.tahunBatch = this.kegiatan.danaBatch.tahun;
                    this.namaKegiatan = this.kegiatan.namaKegiatan;
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            },
            /**
             * Fetch data sub kegiatan from remote server.
             * @return {void}
             */
            fetchSubKegiatan() {
                this.subkegiatan.fetch(this.$route.params.sid).then(() => {
                    this.namaSubKegiatan = this.subkegiatan.title;
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            },
            /**
             * Menampilkan modal dialog view file.
             *
             * @param {DokumentasiModel} item Data model
             * @return {void}
             */
            showVideo(item) {
                let video = ["mp4", "avi"];
                if (video.includes(item.extension))
                    this.itemVideo = item;
                this.showVideoView = true;
            },
            /**
             * Menampilkan hanya dokumentasi yang sudah terverifikasi
             */
            showActive(item) {
                return item.status === VERIFIED;
            },
            /**
             * Filter selection untuk menampilkan dokumentasi berdasarkna kategori
             */
            filterSelection(value) {
                let x, i;
                x = document.getElementsByClassName("dokumen");
                for (i = 0; i < x.length; i++) {
                    this.w3RemoveClass(x[i], "show");
                    if (x[i].className.indexOf(value) > -1) this.w3AddClass(x[i], "show");
                }
            },
            w3AddClass(element, name) {
                let i, arr1, arr2;
                arr1 = element.className.split(" ");
                arr2 = name.split(" ");
                for (i = 0; i < arr2.length; i++) {
                    if (arr1.indexOf(arr2[i]) === -1) {
                        element.className += " " + arr2[i];
                    }
                }
            },
            w3RemoveClass(element, name) {
                let i, arr1, arr2;
                arr1 = element.className.split(" ");
                arr2 = name.split(" ");
                for (i = 0; i < arr2.length; i++) {
                    while (arr1.indexOf(arr2[i]) > -1) {
                        arr1.splice(arr1.indexOf(arr2[i]), 1);
                    }
                }
                element.className = arr1.join(" ");
            }
        }
    }
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
    $dwheight: 65vh;
    $grid: 1 / -1;
    $transition: all 0.3s ease-in-out;
    $columns: repeat(5, minmax(200px, 1fr));
    $rows: 1fr 1fr;
    .dokumen-wrapper {
        width: 100%;
        min-height: $dwheight;
        background: #ffffff;
        position: relative;
        display: grid;
        grid-template-columns: $columns;
        grid-template-rows: $rows;
        grid-gap: 2px;

        .dokumen {
            position: relative;
            overflow: hidden;
            display: none;

            &.show {
                display: block;
            }

            img {
                max-width: 100%;
                position: absolute;
                opacity: .3;
                filter: grayscale(80%);
            }

            &:hover img {
                transition-duration: .3s;
                filter: grayscale(70%) brightness(70%);
                opacity: .5;
            }

            p {
                position: absolute;
                text-align: center;
                width: 100%;
                padding: 0 0.5em;
                bottom: 25%;
                margin-bottom: 0;
                font-weight: 800;
                z-index: 3;
            }

            &:hover {
                .grid__overlay {
                    transform: translateY(0%);
                }
            }

            .grid__overlay {
                z-index: 9999;
                height: 100%;
                grid-column: $grid;
                grid-row: $grid;
                position: relative;
                display: grid;
                justify-items: center;
                align-items: start;
                transform: translateY(101%);
                transition: $transition;

                .button_detail {
                    top: 80%;

                    &:hover {
                        transition: $transition;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 900px) {
        .dokumen-wrapper {
            grid-template-columns: repeat(1, minmax(200px, 1fr));
            grid-gap: 5px;
        }
    }
</style>

