<template>
    <section class="container">
        <bs-card shadow>
            <bs-card-body>
                <div class="form-group">
                    <div>
                        <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">Subyek</label>
                        <span class="text-black-50 col-form-label">{{ namaType }}</span>
                    </div>
                    <div>
                        <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">Nama</label>
                        <span class="text-black-50 col-form-label">{{ namaSubyek }}</span>
                    </div>
                </div>
                <form class="pt-lg-3 px-lg-2">
                    <bs-card>
                        <div class="form-group">
                            <div class="col col-xl-6 col-md-12">
                                <label class="col-form-label col-md-12">
                                    <div class="font-weight-bold">File Lembar Monitoring</div>
                                    <input type="file" id="file" ref="file" class="form-control-file"
                                           required v-on:change="handleFileUpload()"/>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col col-xl-6 col-md-12">
                                <bs-text-field v-model="newRiwayat.evalScore" required
                                               :external-validator="evalScoreValidator">
                                    <label class="col-form-label col-xl-4">Evaluation Score</label>
                                </bs-text-field>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col col-xl-6 col-md-12">
                                <div class="form-group">
                                    <bs-date-time-field v-model="newRiwayat.tanggalInput"
                                                        :external-validator="tanggalValidator"
                                                        format="DD-MM-YYYY"
                                                        append-icon="calendar" required>
                                        <label class="col-form-label col-xl-4">Tanggal Input</label>
                                    </bs-date-time-field>
                                </div>
                            </div>
                        </div>
                        <bs-card-footer class="bg-white">
                            <bs-button color="primary" @click="submitFile()">Simpan Lembar Monitoring</bs-button>
                        </bs-card-footer>
                    </bs-card>
                </form>
                <bs-card>
                    <bs-card-header tag="h5" class="d-flex align-items-center pr-2">
                        <div class="flex-grow-1">Riwayat Monitoring</div>
                    </bs-card-header>
                    <bs-grid :data-source="dataSource" ref="datagrid" row-hover sortable>
                        <bs-grid-column class="row-numbering" text-align="right" width="50" :sortable="false"/>
                        <bs-grid-column field="tanggalInput" label="Tanggal" width="120"/>
                        <bs-grid-column field="namaFile" label="File Lembar Monitoring"/>
                        <bs-grid-column field="evalScore" label="Score" width="80" text-align="right"/>
                        <bs-grid-column label="Tindakan" width="170" text-align="left" :sortable="false"/>

                        <template slot="datarow" slot-scope="{ columns, item, index }">
                            <bs-grid-cell-numbering :column="columns[0]" :index="index"/>
                            <bs-grid-cell :column="columns[1]">{{ dateFormat(item.tanggalInput, "DD-MM-YYYY") }}
                            </bs-grid-cell>
                            <bs-grid-cell :column="columns[2]" :item="item" :index="index">
                                <a target="_blank" :href="getUploadPath(item.namaFile)"> {{ item.namaFile }} </a>
                            </bs-grid-cell>
                            <bs-grid-cell :column="columns[3]" :item="item" :index="index"/>
                            <bs-grid-cell :column="columns[4]">
                                <bs-tooltip content="Hapus Data" placement="top">
                                    <bs-button size="sm" color="danger" icon="trash-alt" icon-position="left" outlined
                                               @click="confirmDelete(item)"/>
                                </bs-tooltip>
                            </bs-grid-cell>
                        </template>
                    </bs-grid>
                </bs-card>
            </bs-card-body>
        </bs-card>
        <bs-modal title="Konfirmasi" width="400" max-width="85%" :open.sync="showModal"
                  :overlay-close="false">
            Apakah anda yakin akan menghapus Lembar Monitoring <b>{{ riwayat.namaFile }}</b>?
            <bs-button slot="footer" color="secondary" outlined @click="showModal = false">Batal</bs-button>
            <bs-button slot="footer" color="danger" @click="doDelete">Hapus</bs-button>
        </bs-modal>

    </section>
</template>

<script>
    import {BsStore} from "vue-bs4";
    import {validationMixin} from "vuelidate";
    import moment from "moment";
    import {STATE_SUCCESS} from "../../../../store/modules/mutation-types";
    import {MonitoringModel} from '../../../../models/Kegiatan/LembarMonitoring/MonitoringModel';
    import {
        monitoringValidationHandler,
        monitoringValidator
    } from "../../../../models/Kegiatan/LembarMonitoring/MonitoringValidators";
    import httpErrorResponse from "../../../../mixins/httpErrorResponse";
    import appLocale from "../../../../mixins/appLocale";
    import formatUtils from "../../../../mixins/formatUtils";

    export default {
        name: 'FormMonitoring',
        mixins: [validationMixin, monitoringValidationHandler('newRiwayat'), httpErrorResponse, appLocale, formatUtils],
        data: () => ({
            dataSource: null,
            requiredErrorMsg: 'Field ini wajib diisi',
            dataNotFound: false,
            showModal: false,
            type: '',
            beneficiaryId: null,
            namaType: '[kosong]',
            namaSubyek: '',
            tanggalInput: null,
            evalScore: null,
            newRiwayat: new MonitoringModel(),
            riwayat: new MonitoringModel(),
        }),
        validations: {
            newRiwayat: monitoringValidator
        },
        created() {
            if (this.$route.params.kind) {
                this.type = this.$route.params.kind;
            }
            switch (this.type.toUpperCase()) {
                case 'PAUD':
                    this.namaType = "Lembaga PAUD";
                    this.$route.meta.previous = '/kegiatan/penerima-manfaat/' + this.$route.params.idprogram + '/paud/institusi';
                    break;
                case 'GURUPAUD':
                    this.namaType = "Guru PAUD";
                    this.$route.meta.previous = '/kegiatan/penerima-manfaat/' + this.$route.params.idprogram + '/paud/guru';
                    break;
                case 'SISWAPAUD':
                    this.namaType = "Siswa PAUD";
                    this.$route.meta.previous = '/kegiatan/penerima-manfaat/' + this.$route.params.idprogram + '/paud/siswa';
                    break;
                case 'SMKPOLTEK':
                    this.namaType = "SMK/Politeknik";
                    this.$route.meta.previous = '/kegiatan/penerima-manfaat/' + this.$route.params.idprogram + '/pendidikan/smk-poltek';
                    break;
                case 'BEASISWA':
                    this.namaType = "Penerima Beasiswa";
                    this.$route.meta.previous = '/kegiatan/penerima-manfaat/' + this.$route.params.idprogram + '/beasiswa';
                    break;
                default:
                    this.dataNotFound = true;
            }
            if (this.$route.params.id) {
                this.beneficiaryId = this.$route.params.id;
            }
            // find matching id in selected type
            this.$http.get('/kegiatan/lembar-monitoring/who/' + this.type.toUpperCase() + '/' + this.beneficiaryId).then(response => {
                if (response.data.data[0]) {
                    this.namaSubyek = response.data.data[0].nama;
                    //this.beneficiaryId = response.data.data[0].id;
                }
            });

            this.dataSource = new BsStore({
                idProperty: 'riwayatId',
                dataProperty: 'data',
                totalProperty: 'total',
                pageSize: 20,
                restUrl: {
                    browse: '/kegiatan/lembar-monitoring/find/' + this.type.toUpperCase() + '/' + this.beneficiaryId,
                }
            });


            this.newRiwayat.tanggalInput = moment().format("YYYY-MM-DD");
        },
        beforeDestroy() {
            this.newRiwayat.destroy();
            this.newRiwayat = null;
            this.riwayat.destroy();
            this.riwayat = null;
        },
        methods: {
            formatDate(str) {
                return str.substr(0, 10);
            },
            /*
              Submits the file to the server
            */
            submitFile() {
                if (!(this.file)) {
                    this.$notification.error([], 'Pilih file untuk upload!');
                    return;
                }
                if (!this.newRiwayat.evalScore) {
                    this.$notification.error([], 'Isilah nilai evaluasi (0-100)');
                    return;
                }
                var formData = new FormData();
                formData.append('file', this.file);
                formData.append('tanggalInput', this.newRiwayat.tanggalInput);

                this.$http.post('/kegiatan/lembar-monitoring/upload/' + this.type + '/' + this.beneficiaryId,
                    formData)
                    .then((response) => {

                        var savedFileName = response.data.data['file'];
                        //console.log(response.data.data);console.log(savedFileName);
                        this.submitLMData(savedFileName);

                    })
                    .catch((error) => {
                        this.showErrorMessage(error);
                    });
            },

            /*
              Handles a change on the file upload
            */
            handleFileUpload() {
                this.file = this.$refs.file.files[0];
            },

            /*
              Submits the data of uploaded file
            */
            submitLMData(filename) {
                this.newRiwayat.type = this.type.toUpperCase();
                this.newRiwayat.beneficiaryId = this.beneficiaryId;
                this.newRiwayat.namaFile = filename;

                this.newRiwayat.save().then(() => {
                    this.$notification.success('Data telah berhasil disimpan.', STATE_SUCCESS);
                    this.$nextTick(() => {
                        this.$refs.datagrid.reload();
                        this.newRiwayat = new MonitoringModel();
                        this.newRiwayat.tanggalInput = moment().format("YYYY-MM-DD");
                        this.$refs.file.value = '';
                    });
                }).catch((error) => {
                    this.$notification.error([], 'Gagal menyimpan penilaian');
                });


            },
            /**
             * Menampilkan modal dialog konfirmasi delete record PendanaanProgram.
             *
             * @param {Object} item
             */
            confirmDelete(item) {
                this.riwayat.assignValues(item);
                this.showModal = true;
            },

            /**
             * Process delete Riwayat.
             */
            doDelete() {
                this.showModal = false;
                this.riwayat.delete().then((callback) => {
                    this.$notification.success(callback.data.message, STATE_SUCCESS);
                    this.$refs.datagrid.reload();
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            },

            getUploadPath(namaFile) {
                var url = window.location.pathname;
                var path = url.substring(0, url.lastIndexOf('/'));
                return path + '/uploads/' + namaFile;
            }

        }
    };


</script>