<template>
    <div class="body-container" style="padding: 0;">

        <bs-card shadow :flat="true">
            <bs-card-body>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="form-group">
                            <bs-date-time-field 
                                v-model="tahun" 
                                format="YYYY" 
                                view-mode="year" 
                                append-icon="calendar">
                                <label class="col-form-label col-lg-3">TAHUN</label>
                            </bs-date-time-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12">
                        <div class="form-group">
                            <bs-combobox 
                                v-model="programId" 
                                :parent-value="tahun" 
                                :data-source="dsProgram" >
                              <label class="col-form-label col-lg-3">NAMA PROGRAM</label>
                            </bs-combobox>
                        </div>
                    </div>
                </div>
            </bs-card-body>
        </bs-card>

        <div class="row">
            <div class="col-xl-12">
                <gmap-map 
                    :center="mapCenter" 
                    :zoom="mapZoom" 
                    style="width: 100%; height: 89vh;">
                    <gmap-info-window 
                        :options="infoOptions" 
                        :position="infoWindowPos" 
                        :opened="infoWinOpen" 
                        @closeclick="infoWinOpen=false"></gmap-info-window>

                    <gmap-marker 
                        v-for="(m, idx) in markers"
                        :key="idx" 
                        :position="m.pos" 
                        :animation="2" 
                        :clickable="true" 
                        @click="toggleInfoWindow(m, idx)"></gmap-marker>
                </gmap-map>
            </div>
        </div>
      
        <bs-mask-loader :opacity="0" :show="loading" :spinner-diameter="50" />
    </div>
</template>

<script>
import { NEW, PLANNED, REJECTED, UPDATED } from "../../../store/modules/mutation-types";
import { BsStore, Helper } from "vue-bs4";
import httpErrorResponse from "../../../mixins/httpErrorResponse";
import vue2GoogleMaps from "../../../plugins/vue2GoogleMaps";
import { gmapApi } from 'vue2-google-maps'
import formatUtils from "../../../mixins/formatUtils";

export default {
    name: "PSPenerimaManfaat",
    mixins: [httpErrorResponse, formatUtils],
    
    data: () => ({
        loading: false,
        mapCenter: { lat: -2.9305409, lng: 121.9747328 },
        mapZoom: 4.8,
        markers: [],
        currentMidx: null,
        infoWindowPos: null,
        infoWinOpen: false,
        infoOptions: {
        	content: '',
            //optional: offset infowindow so it visually sits nicely on top of our marker
            pixelOffset: {
                width: 0,
                height: -35
            }
        },
        tahun: null,
        dsProgram: {
            schema: {
                displayField: 'namaProgram',
                valueField: 'id',
                cascadeField: 'tahun'
            },
            proxy: new BsStore({
                idProperty: 'id',
                dataProperty: 'data',
                totalProperty: 'total',
                filters: [{property: 'status', value: [NEW, UPDATED, REJECTED, PLANNED], operator: 'notin'}],
                restUrl: {
                    browse: '/pendanaan/batch'
                }
            })
        }
    }),
    mounted() {
        gmap: gmapApi
    },

    // computed property
    computed: {
        programId: {
            get() {
                return null;
            },
            set(value) {
                this.getDptLocation(value);
            }
        }
    },
    methods: {
        // get DPT location from server
        getDptLocation(programId) {
            //const $wsUrl = 'kegiatan/penerima-manfaat/pelatihan/institusi/dpt?filters[]=%7B"property":"programs.id","value":"'+programId+'","operator":"eq"%7D&sorts[]=%7B"property":"postedDate","direction":"desc"%7D&logic=AND';
            const $wsUrl = 'kegiatan/penerima-manfaat/pelatihan/institusi/mapmarker/' + (programId ? programId : 0);

            this.loading = true;
            this.$http.get($wsUrl).then($response => {
                const $data = $response.data.data;
                if ($data.length > 0) {
                    this.markers = [];
                    this.generateMarker($data);
                } else {
                    this.markers = [];
                }
                this.infoWinOpen = false;
                this.loading = false;
                
            }).catch($err => {
                this.loading = false;
            });

            console.log('programID: ' + programId, $wsUrl);
        },

        // generate marker from input data
        generateMarker($data) {
            $data.map(($obj, $idx) => {

                if (!Helper.isEmpty($obj.latitude) && 
                    !Helper.isEmpty($obj.longitude)) {
                    let $content = null;

                    if ($obj.jenis_beneficiary === 'Individu') {
                        $content = `
                        <table class="table table-condensed">
                            <thead><tr><th colspan='2' style='border-bottom: 0'>Individu</th></tr></thead>
                            <tbody>
                                <tr>
                                    <td>Nama</td>
                                    <td>: ${$obj.nama_person}</td>
                                </tr>
                                <tr>
                                    <td>No. HP</td>
                                    <td>: ${$obj.phone}</td>
                                </tr>
                                <tr>
                                    <td>Jabatan</td>
                                    <td>: ${$obj.jabatan}</td>
                                </tr>
                            </tbody>
                        </table>`;
                    } else if ($obj.jenis_beneficiary === 'Institusi') {
                        $obj.kategori = this.fmtKategoriInstitusi($obj.jenis_institusi);
                        $content = `
                        <table class="table table-condensed">
                            <thead><tr><th colspan='2' style='border-bottom: 0'>Institusi</th></tr></thead>
                            <tbody>
                                <tr>
                                    <td>Nama Institusi</td>
                                    <td>: ${$obj.nama_institusi}</td>
                                </tr>
                                <tr>
                                    <td>Alamat</td>
                                    <td>: ${$obj.alamat}</td>
                                </tr>
                                <tr>
                                    <td>Jenis Institusi</td>
                                    <td>: ${$obj.kategori}</td>
                                </tr>
                                <tr>
                                    <td>No Telpon</td>
                                    <td>: ${$obj.phone}</td>
                                </tr>
                                <tr>
                                    <td>Nama Pimpinan</td>
                                    <td>: ${$obj.nama_pimpinan}</td>
                                </tr>
                            </tbody>
                        </table>`;
                    };

                    let $position = {
                        pos: {
                            lat: parseFloat($obj.latitude),
                            lng: parseFloat($obj.longitude)
                        },
                        infoText: $content
                    };
                    this.markers.push($position);
                }
            })
        },

        toggleInfoWindow: function(marker, idx) {
            this.infoWindowPos = marker.pos;
            this.infoOptions.content = marker.infoText;
            //check if its the same marker that was selected if yes toggle
            if (this.currentMidx == idx) {
              this.infoWinOpen = !this.infoWinOpen;
            }
            //if different marker set infowindow to open and reset current marker index
            else {
              this.infoWinOpen = true;
              this.currentMidx = idx;
            }
          }
        
    },

    created() {
    }
}
</script>

<style scoped>

</style>
