<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div class="body-container">
        <div class="pb-3">
            <bs-button color="amber"
                       href="#/master-data/konfigurasi-kpi/data-source/create"
                       icon="plus-circle"
                       icon-position="left"
                       raised>
                Tambah Baru
            </bs-button>
        </div>
        <bs-card shadow v-if="dataSource">
            <bs-grid :data-source="dataSource"
                     pageable
                     ref="datagrid"
                     row-hover
                     show-footer
                     sortable>
                <bs-grid-column :sortable="false" label="#" row-numbering width="50"/>
                <bs-grid-column field="sourceName" label="Nama Source" />
                <bs-grid-column field="sourceType" label="Tipe" />
                <bs-grid-column field="sourceQuery" label="Query" />
                <bs-grid-column field="sourceDesc" label="Keterangan" />
                <bs-grid-column :sortable="false" label="Tindakan" text-align="center" />
                <template v-slot:datarow="{ columns, item, index }">
                    <bs-grid-cell-numbering :column="columns[0]" :index="index" />
                    <bs-grid-cell :column="columns[1]" :item="item" />
                    <bs-grid-cell :column="columns[2]" :item="item" />
                    <bs-grid-cell :column="columns[3]" :item="item" />
                    <bs-grid-cell :column="columns[4]" :item="item" />
                    <bs-grid-cell :column="columns[5]" :item="item">
                        <bs-button @click="showData(item)"
                                   color="info"
                                   icon="eye"
                                   icon-position="left"
                                   outlined
                                   size="xs"
                                   v-tooltip="{content:'Lihat Data', placement:'top'}"/>
                        <bs-button :href="doEdit(item.sourceId)"
                                   v-tooltip="{content:'Sunting Data', placement:'top'}"
                                   size="xs"
                                   color="primary"
                                   icon="pen"
                                   icon-position="left"
                                   outlined />
                        <bs-button @click="confirmDelete(item)"
                                   v-tooltip="{content:'Hapus Data', placement:'top'}"
                                   size="xs"
                                   color="danger"
                                   icon="trash-alt"
                                   icon-position="left"
                                   outlined />
                    </bs-grid-cell>
                </template>
            </bs-grid>
        </bs-card>

        <modal-dialog-data-source :item-data="itemData"
                                  :show-modal-delete.sync="showModalDelete"
                                  :show-modal-preview.sync="showModalPreview"
                                  @delete="doDelete" />

        <bs-mask-loader :show="loader || updating || kpiDataSource.updating"
                        :opacity="0"
                        :spinner-diameter="50" />
    </div>
</template>

<script>
    import appLocale from "../../../../../mixins/appLocale";
    import defaultRouteGuard from "../../../../../mixins/security/defaultRouteGuard";
    import formatUtils from "../../../../../mixins/formatUtils";
    import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
    import {PAGE_SIZE, STATE_SUCCESS} from "../../../../../store/modules/mutation-types";
    import BsStore from "vue-bs4/src/model/BsStore";
    import {KpiDataSourceModel} from "../../../../../models/MasterData/KonfigurasiKpi/KpiDataSourceModel";
    import ModalDialogDataSource from "../ModalDialogDataSource";

    export default {
        name: "GridDataSource",
        mixins: [appLocale, defaultRouteGuard, formatUtils, httpErrorResponse],
        components: {ModalDialogDataSource},
        data: () => ({
            kpiDataSource: new KpiDataSourceModel(),
            dataSource: new BsStore({
                idProperty: 'sourceId',
                dataProperty: 'data',
                totalProperty: 'total',
                pageSize: PAGE_SIZE,
                restUrl: {
                    browse: '/master-data/konfigurasi-kpi/data-source'
                }
            }),
            showModalDelete: false,
            showModalPreview: false,
            itemData: {},
            itemColumns: {},
            itemFields: {},
            updating: false,
            loader: false
        }),
        beforeDestroy() {
            this.dataSource.destroy();
            this.dataSource = null;
            this.kpiDataSource.destroy();
            this.kpiDataSource = null;
        },
        methods: {
            /**
             * @param {Object} item data model
             * @return {void}
             */
            showData(item) {
                this.itemData = item;
                this.showModalPreview = true;
            },
            /**
             * @param {Object} item Data model
             * @return {void}
             */
            confirmDelete(item) {
                this.itemData = item;
                this.showModalDelete = true;
            },
            /**
             * Process request hapus record.
             *
             * @return {void}
             */
            doDelete() {
                const url = '/master-data/konfigurasi-kpi/data-source/delete/' + this.itemData.sourceId;

                const config = {
                    'url': url,
                    'method': 'delete'
                };

                this.showModalDelete = false;
                this.updating = true;

                this.$axios(config).then((resp) => {
                    this.updating = false;
                    this.$notification.success(resp.data.message, STATE_SUCCESS);
                    this.$refs.datagrid.reload();
                }).catch((error) => {
                    this.showErrorMessage(error);
                    this.updating = false;
                });

            },
            /**
             * @param {int} id
             * @return {string} Route url
             */
            doEdit(id) {
                return '#/master-data/konfigurasi-kpi/data-source/edit/' + id;
            }
        }
    }
</script>

<style scoped>

</style>
