<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div class="body-container">
        <div class="pb-3">
            <bs-button color="amber"
                       href="#/master-data/konfigurasi-kpi/layout/create"
                       icon="plus-circle"
                       icon-position="left"
                       raised>
                Tambah Baru
            </bs-button>
        </div>

        <bs-card shadow>
            <bs-grid :data-source="dataSource"
                     :filterable="{minlength: 3, operator: 'contains', immediate: false, placeholder: false}"
                     ref="datagrid"
                     pageable
                     row-hover
                     sortable>
                <bs-grid-column :filterable="{enabled: false, button: true}"
                                row-numbering
                                text-align="right"
                                width="50" />
                <bs-grid-column field="layoutName" label="Nama Layout" />
                <bs-grid-column label="Tindakan"
                                text-align="center"
                                width="100"
                                :sortable="false" />

                <template v-slot:datarow="{ columns, item, index }">
                    <bs-grid-cell-numbering :column="columns[0]" :index="index" />
                    <bs-grid-cell :column="columns[1]" :item="item" :index="index" />
                    <bs-grid-cell :column="columns[2]"
                                  :index="index"
                                  :item="item">
                        <bs-button :href="doEdit(item.layoutId)"
                                   v-tooltip="{content:'Sunting Data', placement:'top'}"
                                   size="xs"
                                   color="primary"
                                   icon="pen"
                                   icon-position="left"
                                   outlined />
                        <bs-button @click="confirmDelete(item)"
                                   v-tooltip="{content:'Hapus Data', placement:'top'}"
                                   size="xs"
                                   color="danger"
                                   icon="trash-alt"
                                   icon-position="left"
                                   outlined />
                    </bs-grid-cell>
                </template>
            </bs-grid>
        </bs-card>
        <bs-modal :esc-close="false"
                  :open.sync="showModal"
                  :overlay-close="false"
                  max-width="85%"
                  title="Konfirmasi"
                  width="400">
            Apakah anda yakin akan menghapus data chart <b>{{ kpiLayout.layoutName }}</b>?
            <bs-button slot="footer"
                       color="secondary"
                       outlined
                       @click="showModal = false">
                Batal
            </bs-button>
            <bs-button slot="footer" color="danger" @click="doDelete">
                Hapus
            </bs-button>
        </bs-modal>
        <bs-mask-loader :show="updating || kpiLayout.updating"
                        :opacity="0"
                        :spinner-diameter="50" />
    </div>
</template>

<script>
    import BsStore from "vue-bs4/src/model/BsStore";
    import {PAGE_SIZE, STATE_SUCCESS} from "../../../../../store/modules/mutation-types";
    import appLocale from "../../../../../mixins/appLocale";
    import defaultRouteGuard from "../../../../../mixins/security/defaultRouteGuard";
    import formatUtils from "../../../../../mixins/formatUtils";
    import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
    import {LayoutModel} from "../../../../../models/MasterData/KonfigurasiKpi/LayoutModel";

    export default {
        name: "GridLayout",
        mixins: [appLocale, defaultRouteGuard, formatUtils, httpErrorResponse],
        data: () => ({
            kpiLayout: new LayoutModel(),
            dataSource: new BsStore({
                idProperty: 'layoutId',
                dataProperty: 'data',
                totalProperty: 'total',
                pageSize: PAGE_SIZE,
                restUrl: {
                    browse: '/master-data/konfigurasi-kpi/layout'
                }
            }),
            showModal: false,
            updating: false,
        }),
        beforeDestroy() {
            this.dataSource.destroy();
            this.dataSource = null;
            this.kpiLayout.destroy();
            this.kpiLayout = null;
        },
        methods: {
            /**
             * @param {Object} item Data model
             * @return {void}
             */
            confirmDelete(item) {
                this.kpiLayout.assignValues(item);
                this.showModal = true;
            },
            /**
             * Process request hapus record.
             *
             * @return {void}
             */
            doDelete() {
                this.showModal = false;
                this.updating = true;
                this.kpiLayout.delete().then((callback) => {
                    let $result = callback.data;
                    this.updating = false;
                    this.$notification.success($result.message, STATE_SUCCESS);
                    this.$refs.datagrid.reload();
                }).catch((error) => {
                    this.updating = false;
                    this.showErrorMessage(error);
                });
            },
            /**
             * @param {int} id
             * @return {string} Route url
             */
            doEdit(id) {
                return '#/master-data/konfigurasi-kpi/layout/edit/' + id;
            }
        }
    }
</script>

<style scoped>

</style>
