<template>
  <th class="md-grid-cell-selection" role="columnheader">
    <div class="md-grid-cell-inner">
      <bs-checkbox :model="allSelected" :color="color" @change="_onChange" />
    </div>
  </th>
</template>

<script>
import BsCheckbox from "../BsCheckbox/BsCheckbox";

export default {
    name: "BsGridColumnSelection",
    components: {BsCheckbox},
    inject: ['BsGrid'],
    props: {
        color: {
            type: String,
            default: undefined
        },
        dataItems: {
            type: Array,
            default: undefined
        }
    },
    computed: {
        selectedItems() {
            return this.BsGrid.selectedItems;
        },
        allSelected() {
            if (this.selectedItems.length === 0) {
                return false;
            }

            return this.dataItems.every(item => this.selectedItems.includes(item));
        }
    },
    methods: {
        /**
         * Handle onChange event.
         *
         * @param {*} value The received value
         * @return {void}
         * @private
         */
        _onChange(value) {
            if (value) {
                this.BsGrid.selectedItems = this.selectedItems.concat(this.dataItems.filter(item => !this.selectedItems.includes(item)));
            } else {
                this.BsGrid.selectedItems = this.selectedItems.filter(item => !this.dataItems.includes(item));
            }
        }
    }
}
</script>

<style scoped>

</style>
