<template>
  <div class="table-responsive-lg w-100">
    <div class="row justify-content-center">
      <div v-for="(dt, index) in dataOptions" :key="index" :class="getdivclass">
        <div :id="kpiPrefix + index"
             class="w-100"
             style="height:180px"
             :hidden="((onlyShow !== '') && (onlyShow !== index))"
             @click="doKpiPopup(index)"
        ></div>
      </div>
    </div>
  </div>
</template>

<script>
import Highcharts from 'highcharts';
import appLocale from "../../../../mixins/appLocale";
import formatUtils from "../../../../mixins/formatUtils";

export default {
    name: "KpiChartKualitas",
    mixins: [appLocale, formatUtils],
    props: {
        kpiPrefix: {
            type: String,
            required: true
        },
        dataOptions: {
            type: [Array, Object],
            required: true
        },
        colorData: {
            type: Array,
            required: true
        },
        appendSign: {
            type: String,
            default: ''
        },
        onlyShow: {
            type: String,
            default: '',
        }
    },
    data: () => ({
        defaultOption: {
            credits: {
                enabled: false
            },
            title: {
                text: null,
            },
            chart: {
                type: "gauge",
                plotBorderWidth: 0,
                plotShadow: false,
                backgroundColor: 'transparent',
                margin: [0, 0, 0, 0],
                spacingTop: 0,
                spacingRight: 0,
                spacingBottom: 0,
                spacingLeft: 0,
                style: {
                    fontFamily: 'Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif'
                }
            },
            pane: {
                startAngle: -90,
                endAngle: 90,
                background: null,
                size: '97%',
            },
            plotOptions: {
                solidGauge: {
                    dataLabels: {
                        enabled: false
                    },
                    dial: {
                        baseLength: '0%',
                        baseWidth: 5,
                        radius: 0,
                        rearLength: '0%',
                        topWidth: 1
                    }
                }
            }
        }
    }),
    computed: {
        getdivclass() {
            if (this.$props.onlyShow !== ''){
                return 'col-md-12 col-xl-10';
            }
            return 'col-sm-6 col-md-4 col-xl-3';
        }
    },
    mounted() {
        for (let batchId in this.$props.dataOptions) {
            if (this.$props.dataOptions.hasOwnProperty(batchId)){
                Highcharts.chart(this.$props.kpiPrefix + batchId,
                    this.withOption(batchId, this.$props.dataOptions[batchId]))
          }
        }
    },
    methods: {
        /**
         * Membangun object option dari gauge
         *
         * @param {String} batchId Id batch
         * @param {Object} data Data option untuk Chart
         * @return {Object} option
         */
        withOption(batchId, data) {
            let colorIndex = 0;
            let value = data.capaianKpiKualitas[0].value;

            if (data.tahun >= data.batch.tahunAwal && data.tahun <= data.batch.tahunAkhir) {
                colorIndex = data.tahun - data.batch.tahunAwal
            }

            const additionalOption = {
                yAxis: {
                    labels: {
                        distance: -32,
                        x: -3
                    },
                    tickPositions: this.colorData[colorIndex],
                    tickWidth: 0,
                    minorTickLength: 0,
                    min: 0,
                    max: this.colorData[colorIndex][3],
                    plotBands: [{
                        from: this.colorData[colorIndex][0],
                        to: this.colorData[colorIndex][1],
                        color: '#FF0000', // red
                        thickness: '25%'
                    }, {
                        from: this.colorData[colorIndex][1],
                        to: this.colorData[colorIndex][2],
                        color: '#FFC106', // yellow
                        thickness: '25%'
                    }, {
                        from: this.colorData[colorIndex][2],
                        to: this.colorData[colorIndex][3],
                        color: '#007E00', // green
                        thickness: '25%'
                    }]
                },
                series: [{
                    name: 'Capaian',
                    data: [value || 0],
                    dataLabels: {
                        y: 15,
                        borderWidth: 0,
                        format: '<div class="h4 font-weight-bold text-center"> ' +
                            ((value) ? this.decimalFormat(value.toFixed(1)) : 0) +
                            this.$props.appendSign +
                            ' </div>'
                    }
                }],
                title: {
                    text: data.batch.namaBatch,
                    style: {
                        fontSize: '12pt',
                        color: '#000000'
                    },
                    verticalAlign: 'top',
                    y: 145
                },

            };

            return Object.assign({}, this.defaultOption, additionalOption);
        },

        doKpiPopup(batchId){
            if (this.$props.onlyShow === '') {
                const data = this.$props.dataOptions[batchId];
                this.$emit('kpiPopup', batchId, data.tahun);
            }
        }
    },

}
</script>

<style scoped>

</style>
