<template>
  <div class="mb-2" v-if="mode === 'full'">
    <h5 class="card-title">
      {{ kpiTitle }}
    </h5>
    <div v-for="(dt, idx) in kpiKuantitas" :key="idx" class="row">
      <div class="col-7 text-nowrap">
        {{ dt.label }}
      </div>
      <div class="h6 col-4 text-right font-weight-bolder">
        {{ dt.value || 0 }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
    name: "KpiDisplayKuantitas",
    props: {
        kpiTitle: {
            type: String,
            default: 'Item'
        },
        kpiKuantitas: {
            type: [Array, Object],
            required: true
        },
        mode: {
            type: String,
            default : 'normal'
        }
    }
}
</script>

<style scoped>

</style>
