<template>
  <div>
    <bs-tooltip v-if="textIsVeryLong"
                :content="displaytext"
                placement="top">
      <div class="twolines">
        {{ displaytext }}
      </div>
    </bs-tooltip>
    <div v-else class="twolines">
      {{ displaytext }}
    </div>
  </div>
</template>

<script>
export default {
    name: "KpiExecutiveSummary",
    props: {
        narasi : {
            type : String,
            default: ''
        }
    },
    computed: {
        textIsVeryLong(){
            if (this.narasi){
                return (this.narasi.length > 80);
            }
            return false;
        },
        displaytext() {
            if (this.narasi) {
                return this.narasi;
            }
            return ''
        }
    }
}
</script>

<style scoped>
.twolines {
  height: 2.3em;
  line-height: 1.1;
  overflow: auto;
}
</style>