<template>
  <div>
    <bs-tabs v-model="activeTab" variant="material" color="nav-page">
      <bs-tab path="/master-data/wilayah/provinsi" label="Provinsi" />
      <bs-tab path="/master-data/wilayah/kabupaten" label="Kabupaten" />
      <bs-tab path="/master-data/wilayah/kecamatan" label="Kecamatan" />
      <bs-tab path="/master-data/wilayah/kelurahan" label="Kelurahan" />
    </bs-tabs>
    <router-view />
  </div>
</template>

<script>
import defaultRouteGuard from "../../../mixins/security/defaultRouteGuard";

export default {
    name: "DataWilayah",
    mixins: [defaultRouteGuard],
    data: () => ({
        activeTab: null
    })
}
</script>

<style scoped>

</style>
