<template>
  <section class="body-container">
    <bs-card shadow>
      <bs-card-body>
        <bs-card-content class="text-uppercase" tag="h4" type="title">
          {{ fmtNamaInstitusi(institusi.namaInstitusi) }}
        </bs-card-content>
        <h6 class="text-uppercase">
          {{ fmtLokasiInstitusi(institusi) }}
        </h6>
        <div class="row mb-4">
          <div class="col-xl-6">
            <div class="form-row">
              <div class="ml-1" style="width: 120px">
                NOMOR INDUK
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ institusi.kodeInstitusi }}
              </div>
            </div>
            <div class="form-row text-uppercase">
              <div class="ml-1" style="width: 120px">
                STATUS {{ getActiveCategory() }}
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ jenisInstitusi(institusi.swasta) }}
              </div>
            </div>
          </div>
        </div>
        <bs-tabs v-model="tabIndex"
                 ref="tabpane"
                 align="justified"
                 color="bg-blue-grey darken-2"
                 variant="modern"
                 flex>
          <bs-tab label="DATA UMUM" />
          <bs-tab label="UNIT PRODUKSI" />
          <bs-tab label="MITRA KERJA/DUDI" />
        </bs-tabs>
        <bs-tab-content v-model="tabIndex" class="mt-4 mx-md-2">
          <bs-tab-pane>
            <form-data-jurusan :progli="progli"
                               :validating="tab1Validating"
                               @update:valid="validateDataProgli" />
          </bs-tab-pane>
          <bs-tab-pane>
            <form-unit-produksi :unit-produksi="unitProduksi"
                                :validating="tab2Validating"
                                @update:valid="validateUnitProduksi" />
          </bs-tab-pane>
          <bs-tab-pane>
            <form-mitra-dudi :dudis="dudis"
                             :validating="tab3Validating"
                             @update:valid="validateMitraDudi" />
          </bs-tab-pane>
        </bs-tab-content>
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <bs-button color="primary" @click="doValidate">
          Simpan
        </bs-button>
      </bs-card-footer>
    </bs-card>
    <bs-mask-loader :opacity="0"
                    :show="progli.loading || progli.updating"
                    :spinner-diameter="50" />
  </section>
</template>

<script>
import { Helper } from "vue-bs4";
import { SmkPoltekModel } from "../../../../../models/Beneficiary/Pendidikan/SmkPoltekModel";
import { ProgramKeahlianModel } from "../../../../../models/Beneficiary/Pendidikan/ProgramKeahlianModel";
import { UnitProduksiModel } from "../../../../../models/Beneficiary/Pendidikan/UnitProduksiModel";
import { MitraDudiModel } from "../../../../../models/Beneficiary/Pendidikan/MitraDudiModel";
import {
    GET_ACTIVE_INSTITUSI,
    GET_ACTIVE_PROGRAM,
    SET_ACTIVE_INSTITUSI
} from "../../../../../store/modules/Kegiatan/mutation-types";
import {
    MSG_SAVE_SUCCESS,
    MSG_UPDATE_SUCCESS,
    SAVE,
    STATE_SUCCESS,
    UPDATE
} from "../../../../../store/modules/mutation-types";
import FormDataJurusan from "./FormDataJurusan";
import FormUnitProduksi from "./FormUnitProduksi";
import FormMitraDudi from "./FormMitraDudi";
import appLocale from "../../../../../mixins/appLocale";
import formatUtils from "../../../../../mixins/formatUtils";
import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
import mapStoreMutations from "../../../../../mixins/mapStoreMutations";
import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";
import smkPoltekEditorRouteGuard from "../../../../../mixins/security/smkPoltekEditorRouteGuard";
import smkPoltek from "../../../../../mixins/kegiatan/smkPoltek";

export default {
    name: "FormProgramKeahlian",
    components: {FormDataJurusan, FormUnitProduksi, FormMitraDudi},
    mixins: [
        appLocale, formatUtils, httpErrorResponse, mapStoreKegiatanBeneficiary, mapStoreMutations,
        smkPoltek, smkPoltekEditorRouteGuard
    ],
    data: () => ({
        institusi: new SmkPoltekModel(),
        progli: new ProgramKeahlianModel(),
        unitProduksi: new UnitProduksiModel(),
        dudis: [],
        tabIndex: 0,
        isEditMode: false,
        tab1Validating: false,
        tab2Validating: false,
        tab3Validating: false,
        tab1isValid: false,
        tab2isValid: false,
        tab3isValid: false
    }),
    created() {
        if (!this.hasEditorAccessRights) {
            this.$router.push('/access-denied');
            return;
        }

        const institusiId = this.$route.params.idInstitusi;
        this.progli.jenis = this.getActiveCategory() === 'poltek' ? 2 : 1;

        this.institusi.assignValues(this[GET_ACTIVE_INSTITUSI]);
        if (this[GET_ACTIVE_INSTITUSI] === null || this.$route.params.idJurusan) {
            this.fetchInstitusi(institusiId);
        }
        if (this.$route.params.idJurusan) {
            this.$route.meta.title = this.getActiveCategory() === 'poltek' ? 'Sunting Program Studi' : 'Sunting Program Keahlian';
            this.setPageTitle(this.$route.meta.title);
        } else {
            this.$route.meta.title = this.getActiveCategory() === 'poltek' ? 'Program Studi Baru' : 'Program Keahlian Baru';
            this.setPageTitle(this.$route.meta.title);
        }
    },
    beforeDestroy() {
        this.progli.destroy();
        this.progli = null;
        this.unitProduksi.destroy();
        this.unitProduksi = null;
        this.institusi.destroy();
        this.institusi = null;
        this.dudis     = null;
    },
    methods: {
        /**
         * Start validasi setiap UI Tabs.
         *
         * @return {void}
         */
        doValidate() {
            // trigger validasi data umum Program Keahlian/Studi
            this.tab1Validating = true;

            this.$nextTick(() => {
                if (!this.tab1isValid) {
                    this.tabIndex = 0;
                    this.$refs.tabpane.setActiveTab(0);
                } else {
                    // trigger validasi unit produksi
                    this.tab2Validating = true;

                    this.$nextTick(() => {
                        if (!this.tab2isValid) {
                            this.tabIndex = 1;
                        } else {
                            // trigger validasi mitra DUDI
                            this.tab3Validating = true;

                            this.$nextTick(() => {
                                if (!this.tab3isValid) {
                                    this.tabIndex = 2;
                                } else {
                                    this.processSave();
                                }
                            });
                        }
                    })
                }
            });
        },
        /**
         * Fetch data Institusi SMK/Poltek.
         *
         * @param {int|String} institusiId Institusi ID
         * @return {void}
         */
        fetchInstitusi(institusiId) {
            this.institusi.fetch(institusiId).then(() => {
                this[SET_ACTIVE_INSTITUSI](this.institusi.toJSON());

                if (this.$route.params.idJurusan) {
                    this.isEditMode = true;

                    this.progli.fetch(this.$route.params.idJurusan).then(() => {
                        if (this.progli.unitProduksi !== null) {
                            this.unitProduksi.assignValues(this.progli.unitProduksi);
                        }
                        if (this.progli.mitraDudis !== null) {
                            this.dudis = [];
                            for (let i = 0, len = this.progli.mitraDudis.length; i < len; i++) {
                                let dudi = new MitraDudiModel();
                                dudi.assignValues(this.progli.mitraDudis[i]);
                                this.dudis.push(dudi);
                            }
                        }
                        if (this.progli.pesertaDidik == null) {
                            this.progli.pesertaDidik = [{}];
                        }
                    })
                }
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] +
                        '/pendidikan/institusi/' + this.getActiveCategory() + '/' + institusiId + '/jurusan');
                });
            });
        },
        /**
         * Calculate jumlah peserta didik pada tahun terakhir.
         *
         * @param {Object[]} arrayPesertaDidik Collection of peserta didik
         * @return {Number} Jumlah peserta didik
         */
        hitungPesertaDidik(arrayPesertaDidik) {
            if (Helper.isArray(arrayPesertaDidik)) {
                let latest = arrayPesertaDidik.reduce(
                    (current, row) => {
                        if (current) {
                            if (row.tahun < current.tahun) {
                                return current;
                            }
                        }

                        return row;
                    }, 0);

                return latest.jumlah;
            }

            return 0;
        },
        /**
         * Proses simpan data Jurusan jika semua data telah valid.
         *
         * @return {void}
         */
        processSave() {
            const text               = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
            const action             = this.isEditMode ? UPDATE : SAVE;
            this.progli.institusi    = this.institusi.institusiId;
            this.progli.unitProduksi = this.unitProduksi.toJSON();
            this.progli.jumlahSiswa  = this.hitungPesertaDidik(this.progli.pesertaDidik);

            if (this.dudis.length > 0) {
                let mitraDudis = [];
                for (const dudi of this.dudis) {
                    mitraDudis.push(dudi.toJSON());
                }
                this.progli.mitraDudis = mitraDudis;
            } else {
                this.progli.mitraDudis = [];
            }

            this.progli[action]().then(() => {
                this.$notification.success('Data ' + this.progli.namaJurusan + text, STATE_SUCCESS);
                this.$nextTick(() => {
                    this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] +
                        '/pendidikan/institusi/' + this.getActiveCategory() + '/' +
                        this.institusi.institusiId + '/jurusan');
                });
            }).catch((error) => {
                this.showErrorMessage(error);
            });
        },
        /**
         * Handle validation dari UI Tab: Data Umum.
         *
         * @param {any} event Validation event
         * @return {void}
         */
        validateDataProgli(event) {
            this.tab1isValid    = event;
            this.tab1Validating = false;
        },
        /**
         * Handle validation dari UI Tab: Unit Produksi.
         *
         * @param {any} event Validation event
         * @return {void}
         */
        validateUnitProduksi(event) {
            this.tab2isValid    = event;
            this.tab2Validating = false;
        },
        /**
         * Handle validation dari UI Tab: Mitra DUDI.
         *
         * @param {any} event Validation event
         * @return {void}
         */
        validateMitraDudi(event) {
            this.tab3isValid    = event;
            this.tab3Validating = false;
        }
    }
}
</script>

<style scoped>

</style>
