<template>
  <form novalidate>
    <div class="row">
      <!-- left column -->
      <div class="col-xl-6">
        <div class="form-group">
          <bs-text-field v-model="progli.namaJurusan"
                         :external-validator="namaJurusanValidator"
                         required>
            <label class="col-form-label col-md-4">
              {{ getLabel('tipeJurusan') }}
            </label>
          </bs-text-field>
        </div>
        <div class="form-group">
          <bs-button-toggle-field v-model="progli.nilaiAkreditasi"
                                  :items="nilaiAkreditasi"
                                  color="default"
                                  size="sm"
                                  toggle-color="teal"
                                  outlined
                                  required>
            <label class="col-form-label col-md-4">
              Nilai Akreditasi
            </label>
          </bs-button-toggle-field>
        </div>
        <div class="form-group">
          <bs-text-field v-model="progli.kepalaJurusan"
                         :external-validator="kepalaJurusanValidator"
                         required>
            <label class="col-form-label col-md-4">
              {{ getLabel('kepalaJurusan') }}
            </label>
          </bs-text-field>
        </div>
        <div class="form-group">
          <bs-text-field v-model="progli.contactPhone">
            <label class="col-form-label col-md-4">
              Nomor Kontak (HP)
            </label>
          </bs-text-field>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label class="col-form-label font-weight-bold">
              Jumlah Tenaga Pendidik
            </label>
          </div>
          <div v-if="progli.jenis === 2" class="col-md-8">
            <div class="row">
              <div class="col-12">
                <bs-number-field v-model="progli.dosenMkdu"
                                 :locale="getLocale"
                                 append-icon="user"
                                 class="form-group"
                                 placeholder=""
                                 prepend-icon="pen">
                  <span slot="prependSlot"
                        class="md-icon-text d-inline-block"
                        style="width: 94px">
                    Dosen MKDU:
                  </span>
                  <span slot="appendSlot"
                        class="md-icon-text">
                    orang
                  </span>
                </bs-number-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <bs-number-field v-model="progli.dosenProdi"
                                 :external-validator="jumlahDosenValidator"
                                 :locale="getLocale"
                                 append-icon="user"
                                 class="form-group"
                                 placeholder=""
                                 prepend-icon="pen">
                  <span slot="prependSlot"
                        class="md-icon-text d-inline-block"
                        style="width: 94px">
                    Dosen Prodi:
                  </span>
                  <span slot="appendSlot"
                        class="md-icon-text">
                    orang
                  </span>
                </bs-number-field>
              </div>
            </div>
          </div>
          <div v-else class="col-md-8">
            <div class="row">
              <div class="col-12">
                <bs-number-field v-model="progli.guruProduktif"
                                 :locale="getLocale"
                                 :use-grouping="false"
                                 append-icon="user"
                                 class="form-group"
                                 placeholder=""
                                 prepend-icon="pen">
                  <span slot="prependSlot"
                        class="md-icon-text d-inline-block"
                        style="width: 94px">
                    Guru Produktif:
                  </span>
                  <span slot="appendSlot"
                        class="md-icon-text">
                    orang
                  </span>
                </bs-number-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <bs-number-field v-model="progli.guruAdaptif"
                                 :locale="getLocale"
                                 :use-grouping="false"
                                 append-icon="user"
                                 class="form-group"
                                 placeholder=""
                                 prepend-icon="pen">
                  <span slot="prependSlot"
                        class="md-icon-text d-inline-block"
                        style="width: 94px">
                    Guru Adaptif:
                  </span>
                  <span slot="appendSlot"
                        class="md-icon-text">
                    orang
                  </span>
                </bs-number-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <bs-number-field v-model="progli.guruNormatif"
                                 :external-validator="jumlahGuruValidator"
                                 :locale="getLocale"
                                 :use-grouping="false"
                                 append-icon="user"
                                 class="form-group"
                                 placeholder=""
                                 prepend-icon="pen">
                  <span slot="prependSlot"
                        class="md-icon-text d-inline-block"
                        style="width: 94px">
                    Guru Normatif:
                  </span>
                  <span slot="appendSlot"
                        class="md-icon-text">
                    orang
                  </span>
                </bs-number-field>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- right column -->
      <div class="col-xl-6">
        <div v-if="progli.jenis === 1" class="row">
          <div class="col-lg-4">
            <label class="col-form-label font-weight-bold">
              Rombel Per Jenjang
            </label>
          </div>
          <div class="col-lg-8">
            <div class="row">
              <div class="col-12">
                <bs-number-field v-model="progli.rombelX"
                                 :locale="getLocale"
                                 :use-grouping="false"
                                 append-icon="user"
                                 class="form-group"
                                 placeholder=""
                                 prepend-icon="pen">
                  <span slot="prependSlot"
                        class="md-icon-text d-inline-block"
                        style="width: 60px">
                    Kelas X:
                  </span>
                  <span slot="appendSlot"
                        class="md-icon-text">
                    rombel
                  </span>
                </bs-number-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <bs-number-field v-model="progli.rombelXi"
                                 :locale="getLocale"
                                 :use-grouping="false"
                                 append-icon="user"
                                 class="form-group"
                                 placeholder=""
                                 prepend-icon="pen">
                  <span slot="prependSlot"
                        class="md-icon-text d-inline-block"
                        style="width: 60px">
                    Kelas XI:
                  </span>
                  <span slot="appendSlot"
                        class="md-icon-text">rombel
                  </span>
                </bs-number-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <bs-number-field v-model="progli.rombelXii"
                                 :external-validator="rombelValidator"
                                 :locale="getLocale"
                                 :use-grouping="false"
                                 append-icon="user"
                                 class="form-group"
                                 placeholder=""
                                 prepend-icon="pen">
                  <span slot="prependSlot"
                        class="md-icon-text d-inline-block"
                        style="width: 60px">
                    Kelas XII:
                  </span>
                  <span slot="appendSlot"
                        class="md-icon-text">
                    rombel
                  </span>
                </bs-number-field>
              </div>
            </div>
          </div>
        </div>
        <bs-list class="pt-0">
          <bs-list-item tag="div" class="px-0">
            <bs-list-tile-content>
              <bs-list-tile-subtitle class="font-weight-bold">
                Jumlah Peserta Didik Per Tahun
              </bs-list-tile-subtitle>
            </bs-list-tile-content>
            <bs-list-tile-action>
              <bs-button v-tooltip="{content:'Tambah Baru', placement:'top'}"
                         color="secondary"
                         mode="icon"
                         flat
                         @click="historyAdd">
                <bs-icon icon="add" size="28" />
              </bs-button>
            </bs-list-tile-action>
          </bs-list-item>
          <template v-for="(siswa, index) in progli.pesertaDidik">
            <bs-list-item :key="'tahun-' + index"
                          tag="div"
                          class="px-0"
                          style="padding-top: .3rem; padding-bottom: .3rem">
              <bs-list-tile-content>
                <div class="row">
                  <div class="col-6">
                    <bs-number-field v-model="siswa.tahun"
                                     :locale="getLocale"
                                     :use-grouping="false"
                                     prepend-icon="calendar">
                      <span slot="prependSlot" class="md-icon-text">Tahun :</span>
                    </bs-number-field>
                  </div>
                  <div class="col-6">
                    <bs-number-field v-model="siswa.jumlah"
                                     :locale="getLocale"
                                     :use-grouping="false"
                                     append-icon="user">
                      <span slot="appendSlot" class="md-icon-text">{{ getLabel('tipeSiswa') }}</span>
                    </bs-number-field>
                  </div>
                </div>
              </bs-list-tile-content>
              <bs-list-tile-action>
                <bs-button v-tooltip="{content:'Hapus Baris', placement:'top'}"
                           color="secondary"
                           mode="icon"
                           flat
                           @click="historyDelete(index)">
                  <bs-icon icon="clear" size="26" />
                </bs-button>
              </bs-list-tile-action>
            </bs-list-item>
          </template>
        </bs-list>
      </div>
    </div>
  </form>
</template>

<script>
import { validationMixin } from "vuelidate";
import {
    programKeahlianValidationHandler,
    programKeahlianValidator
} from "../../../../../models/Beneficiary/Pendidikan/ProgramKeahlianValidators";
import { ProgramKeahlianModel } from "../../../../../models/Beneficiary/Pendidikan/ProgramKeahlianModel";
import appLocale from "../../../../../mixins/appLocale";

export default {
    name: "FormDataJurusan",
    mixins: [validationMixin, appLocale, programKeahlianValidationHandler('progli')],
    props: {
        progli: {
            type: ProgramKeahlianModel,
            default: undefined
        },
        validating: {
            type: Boolean,
            default: false
        }
    },
    data: () => ({
        nilaiAkreditasi: [
            {label: 'A', value: 'A'},
            {label: 'B', value: 'B'},
            {label: 'C', value: 'C'},
            {label: 'Belum', value: null}
        ],
    }),
    validations: {
        progli: programKeahlianValidator
    },
    watch: {
        validating(value) {
            if (value === true) {
                this.doValidate();
            }
        }
    },
    methods: {
        /**
         * Process fields validation.
         *
         * @return {void}
         */
        doValidate() {
            this.$v.$touch();
            this.$emit('update:valid', !this.$v.$error);
        },
        /**
         * Get field Label.
         *
         * @param {string} name Tipe label
         * @return {string} Nama label
         */
        getLabel(name) {
            const listLabel = {
                kepalaJurusan: this.progli.jenis === 2 ? 'Nama Dekan' : 'Kepala Jurusan',
                tipeJurusan: this.progli.jenis === 2 ? 'Nama Program Studi' : 'Nama Program Keahlian',
                tipeSiswa: this.progli.jenis === 2 ? 'mahasiswa' : 'siswa'
            };

            return listLabel[name];
        },
        /**
         * Add record jumlah siswa pada tahun tertentu.
         *
         * @return {void}
         */
        historyAdd() {
            this.progli.pesertaDidik.push({'tahun': undefined, 'jumlah': undefined});
        },
        /**
         * Remove record jumlah siswa pada tahun tertentu.
         *
         * @param {int} index Absolute index position
         * @return {void}
         */
        historyDelete(index) {
            this.progli.pesertaDidik.splice(index, 1);
        }
    }
}
</script>

<style scoped>

</style>
