<template>
  <form novalidate>
    <div class="row">
      <div class="col-xl-8">
        <div class="form-group">
          <bs-text-field v-model="unitProduksi.namaUnit"
                         :external-validator="namaUnitValidator"
                         required>
            <label class="col-form-label col-md-3 col-lg-4 col-xl-3">
              Nama Unit Produksi
            </label>
          </bs-text-field>
        </div>
        <div class="form-group">
          <bs-button-toggle-field v-model="unitProduksi.jenis"
                                  :external-validator="jenisValidator"
                                  :items="jenisProduksi"
                                  color="default"
                                  size="sm"
                                  toggle-color="teal"
                                  outlined
                                  required>
            <label class="col-form-label col-md-3 col-lg-4 col-xl-3">
              Jenis Produksi
            </label>
          </bs-button-toggle-field>
        </div>
        <div class="form-group">
          <bs-number-field v-model="unitProduksi.omset"
                           :locale="getLocale"
                           class="form-group"
                           prepend-icon="coins">
            <label class="col-form-label col-md-3 col-lg-4 col-xl-3">
              Omset Per Tahun
            </label>
            <span class="md-icon-text" slot="prependSlot">Rp.</span>
          </bs-number-field>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import { validationMixin } from "vuelidate";
import {
    unitProduksiValidationHandler,
    unitProduksiValidator
} from "../../../../../models/Beneficiary/Pendidikan/UnitProduksiValidators";
import { UnitProduksiModel } from "../../../../../models/Beneficiary/Pendidikan/UnitProduksiModel";
import appLocale from "../../../../../mixins/appLocale";

export default {
    name: "FormUnitProduksi",
    mixins: [validationMixin, appLocale, unitProduksiValidationHandler('unitProduksi')],
    props: {
        unitProduksi: {
            type: UnitProduksiModel,
            default: undefined
        },
        validating: {
            type: Boolean,
        }
    },
    data: () => ({
        jenisProduksi: [
            {label: 'BARANG', value: 'BARANG'},
            {label: 'JASA', value: 'JASA'},
            {label: 'LAINNYA', value: 'LAINNYA'}
        ]
    }),
    validations: {
        unitProduksi: unitProduksiValidator
    },
    watch: {
        validating(value) {
            if (value === true) {
                this.doValidate();
            }
        }
    },
    methods: {
        /**
         * Process fields validation.
         *
         * @return {void}
         */
        doValidate() {
            this.$v.$touch();
            this.$emit('update:valid', !this.$v.$error);
        }
    }
}
</script>

<style scoped>

</style>
