<template>
  <section class="body-container">
    <bs-card shadow>
      <bs-card-body>
        <form class="row pt-lg-3 px-lg-2" novalidate>
          <!-- left side -->
          <div class="col-xl-6">
            <div class="form-group">
              <bs-text-field v-model="dtpendidikan.kodeInstitusi"
                             :external-validator="nomorIndukValidator"
                             autofocus
                             required>
                <label class="col-form-label col-lg-4">
                  Nomor Induk
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="dtpendidikan.namaInstitusi"
                             :external-validator="namaSmkPoltekValidator"
                             required>
                <label class="col-form-label col-lg-4">
                  {{ generateLabel('namaInstitusi') }}
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-button-toggle-field v-model="dtpendidikan.swasta"
                                      :external-validator="swastaValidator"
                                      :items="statusInstitusi"
                                      color="default"
                                      toggle-color="teal"
                                      size="sm"
                                      outlined
                                      required>
                <label class="col-form-label col-lg-4">
                  Status
                </label>
              </bs-button-toggle-field>
            </div>
            <div class="form-group">
              <bs-text-area v-model="dtpendidikan.alamat"
                            :external-validator="alamatValidator"
                            rows="2"
                            required>
                <label class="col-form-label col-lg-4">
                  {{ generateLabel('alamat') }}
                </label>
              </bs-text-area>
            </div>
            <div class="form-group">
              <bs-combobox v-model="dtpendidikan.provinsiId"
                           :data-source="dsCboProvinsi"
                           :external-validator="provinsiIdValidator"
                           required>
                <label class="col-form-label col-lg-4">
                  Provinsi
                </label>
              </bs-combobox>
            </div>
            <div class="form-group">
              <bs-combobox v-model="dtpendidikan.kabupatenId"
                           :data-source="dsCboKabupaten"
                           :parent-value="dtpendidikan.provinsiId"
                           :external-validator="kabupatenIdValidator"
                           required
                           @data-bind="onBindKabupaten">
                <label class="col-form-label col-lg-4">
                  Kabupaten
                </label>
              </bs-combobox>
            </div>
            <div class="form-group">
              <bs-combobox v-model="dtpendidikan.kecamatanId"
                           :data-source="dsCboKecamatan"
                           :parent-value="dtpendidikan.kabupatenId"
                           :external-validator="kecamatanIdValidator"
                           required
                           @data-bind="onBindKecamatan">
                <label class="col-form-label col-lg-4">
                  Kecamatan
                </label>
              </bs-combobox>
            </div>
            <div class="form-group">
              <bs-combobox v-model="dtpendidikan.kelurahanId"
                           :data-source="dsCboKelurahan"
                           :parent-value="dtpendidikan.kecamatanId"
                           :external-validator="kelurahanIdValidator"
                           required
                           @data-bind="onBindKelurahan">
                <label class="col-form-label col-lg-4">
                  Kelurahan
                </label>
              </bs-combobox>
            </div>
            <div class="row">
              <div class="col-lg-8 offset-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <bs-text-field v-model="dtpendidikan.rtRw"
                                   :external-validator="rtRwValidator"
                                   class="form-group"
                                   placeholder="001/003"
                                   prepend-icon="pen">
                      <span slot="prependSlot" class="md-icon-text">RT/RW:</span>
                    </bs-text-field>
                  </div>
                  <div class="col-lg-6">
                    <bs-text-field class="form-group"
                                   prepend-icon="pen"
                                   v-model="dtpendidikan.kodePos">
                      <span slot="prependSlot" class="md-icon-text">Kode Pos:</span>
                    </bs-text-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-lg-4">
                Koordinat (GPS)
              </label>
              <div class="col-lg-8">
                <div class="row">
                  <div class="col-lg-6">
                    <bs-number-field v-model.number="dtpendidikan.latitude"
                                     :locale="getLocale"
                                     class="form-group"
                                     prepend-icon="pen">
                      <span slot="prependSlot" class="md-icon-text">Latitude:</span>
                    </bs-number-field>
                  </div>
                  <div class="col-lg-6">
                    <bs-number-field v-model.number="dtpendidikan.longitude"
                                     :locale="getLocale"
                                     class="form-group"
                                     prepend-icon="pen">
                      <span slot="prependSlot" class="md-icon-text">Longitude:</span>
                    </bs-number-field>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- right side -->
          <div class="col-xl-6">
            <div class="form-group">
              <bs-text-field v-model="dtpendidikan.nomorAkte"
                             :external-validator="nomorAkteValidator"
                             required>
                <label class="col-form-label col-lg-4">
                  No. Akte Pendirian
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-date-time-field v-model="dtpendidikan.tahunBerdiri"
                                  :external-validator="tahunBerdiriValidator"
                                  format="YYYY"
                                  view-mode="year"
                                  append-icon="calendar"
                                  required>
                <label class="col-form-label col-lg-4">
                  Berdiri Tahun
                </label>
              </bs-date-time-field>
            </div>
            <div class="form-group">
              <bs-button-toggle-field v-model="akreditasi"
                                      :items="nilaiAkreditasi"
                                      color="default"
                                      toggle-color="teal"
                                      size="sm"
                                      outlined
                                      required>
                <label class="col-form-label col-lg-4">
                  Akreditasi
                </label>
              </bs-button-toggle-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="dtpendidikan.officePhone">
                <label class="col-form-label col-lg-4">
                  Telpon Kantor
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="dtpendidikan.email"
                             :external-validator="emailValidator">
                <label class="col-form-label col-lg-4">
                  Alamat Email
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="dtpendidikan.website">
                <label class="col-form-label col-lg-4">
                  Website
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="dtpendidikan.namaPimpinan">
                <label class="col-form-label col-lg-4">
                  {{ generateLabel('namaPimpinan') }}
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="dtpendidikan.contactPhone">
                <label class="col-form-label col-lg-4">
                  Nomor Kontak (HP)
                </label>
              </bs-text-field>
            </div>
          </div>
        </form>
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <bs-button color="primary" @click="doSave">
          Simpan
        </bs-button>
      </bs-card-footer>
    </bs-card>
    <bs-mask-loader :opacity="0"
                    :show="dtpendidikan.loading || dtpendidikan.updating"
                    :spinner-diameter="50" />
  </section>
</template>

<script>
import { Helper } from "vue-bs4";
import { validationMixin } from "vuelidate";
import { SmkPoltekModel } from "../../../../../models/Beneficiary/Pendidikan/SmkPoltekModel";
import {
    smkPoltekValidationHandler,
    smkPoltekValidator
} from "../../../../../models/Beneficiary/Pendidikan/SmkPoltekValidators";
import {
    MSG_SAVE_SUCCESS,
    MSG_UPDATE_SUCCESS,
    SAVE,
    STATE_SUCCESS,
    UPDATE
} from "../../../../../store/modules/mutation-types";
import { GET_ACTIVE_PROGRAM } from "../../../../../store/modules/Kegiatan/mutation-types";
import appLocale from "../../../../../mixins/appLocale";
import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
import cascadeComboBoxWilayah from "../../../../../mixins/cascadeComboBoxWilayah";
import mapStoreMutations from "../../../../../mixins/mapStoreMutations";
import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";
import alamatValidationHandler from "../../../../../models/Beneficiary/alamatValidationHandler";
import institusiValidationHandler from "../../../../../models/Beneficiary/institusiValidationHandler";
import smkPoltekEditorRouteGuard from "../../../../../mixins/security/smkPoltekEditorRouteGuard";
import smkPoltek from "../../../../../mixins/kegiatan/smkPoltek";

export default {
    name: "FormSmkPoltek",
    mixins: [
        validationMixin, appLocale, httpErrorResponse, cascadeComboBoxWilayah, smkPoltek,
        mapStoreMutations, mapStoreKegiatanBeneficiary, smkPoltekEditorRouteGuard,
        alamatValidationHandler('dtpendidikan'), institusiValidationHandler('dtpendidikan'),
        smkPoltekValidationHandler('dtpendidikan')
    ],
    data: () => ({
        dtpendidikan: new SmkPoltekModel(),
        statusInstitusi: [
            {label: 'Negeri', value: false},
            {label: 'Swasta', value: true}
        ],
        nilaiAkreditasi: [
            {label: 'A', value: 'A'},
            {label: 'B', value: 'B'},
            {label: 'C', value: 'C'},
            {label: 'Belum', value: null}
        ],
        /**
         * Jika bernilai FALSE dipergunakan untuk menambah data baru,
         * dan jika bernilai TRUE dipergunakan untuk memperbarui existing data.
         *
         * @type boolean
         */
        isEditMode: false
    }),
    computed: {
        akreditasi: {
            get() {
                return this.dtpendidikan.nilaiAkreditasi;
            },
            set(value) {
                this.dtpendidikan.nilaiAkreditasi = value;
                this.dtpendidikan.akreditasi      = !Helper.isEmpty(value);
            }
        }
    },
    validations: {
        dtpendidikan: smkPoltekValidator
    },
    created() {
        if (!this.hasEditorAccessRights) {
            this.$router.push('/access-denied');
            return;
        }

        const idprogram = this.$route.params.idprogram;

        if (this[GET_ACTIVE_PROGRAM] === null) {
            this.fetchDpt(idprogram);
        }
        if (this.$route.params.id) {
            this.isEditMode               = true;
            this.dtpendidikan.institusiId = this.$route.params.id;

            this.dtpendidikan.fetch().then(() => {
                this.dtpendidikan.provinsiId = this.dtpendidikan.kecamatan.kabupaten.provinsi.provinsiId;
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM]
                        + '/pendidikan/institusi/' + this.getActiveCategory());
                });
            });
        }
        if (!this.isEditMode){
          this.dtpendidikan.status = 'NEW';
          this.dtpendidikan.statusVerifikasi = 0;
        }

        this.$route.meta.title    = this.generateLabel('title');
        this.$route.meta.previous = !this.isEditMode
            ? '../' + this.getActiveCategory()
            : '../../' + this.getActiveCategory();
        this.setPageTitle(this.$route.meta.title);
    },
    beforeDestroy() {
        this.dtpendidikan.destroy();
        this.dtpendidikan = null;
    },
    methods: {
        /**
         * Send request INSERT/UPDATE to the remote server.
         *
         * @return {void}
         */
        doSave() {
            this.$v.$touch();

            if (!this.$v.$error) {
                const text     = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                const action   = this.isEditMode ? UPDATE : SAVE;
                const kategori = this.getActiveCategory();

                this.dtpendidikan.kecamatan = this.dtpendidikan.kecamatanId;
                this.dtpendidikan.kelurahan = this.dtpendidikan.kelurahanId;

                if (!this.isEditMode) {
                    this.dtpendidikan.kategori = kategori === 'poltek' ? 3 : 2;
                }
                if (this.dtpendidikan.akreditasi === false) {
                    this.dtpendidikan.nilaiAkreditasi = null;
                }
                if (Helper.isArray(this.dtpendidikan.programs) && this.dtpendidikan.programs.length > 0) {
                    let programs = [];

                    this.dtpendidikan.programs.forEach(el => {
                        if (!Helper.isEmpty(el.id)) {
                            programs.push(el.id);
                        }
                    });
                    if (!programs.includes(this[GET_ACTIVE_PROGRAM])) {
                        programs.push(this[GET_ACTIVE_PROGRAM]);
                    }
                    this.dtpendidikan.programs = programs;
                } else {
                    this.dtpendidikan.programs = [this[GET_ACTIVE_PROGRAM]];
                }

                this.dtpendidikan[action]().then(() => {
                    this.$notification.success('Data ' + this.dtpendidikan.namaInstitusi + text, STATE_SUCCESS);
                    this.$nextTick(() => {
                        this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM]
                            + '/pendidikan/institusi/' + this.getActiveCategory());
                    });
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            }
        },
        /**
         * Event handler when data kabupaten already loaded.
         *
         * @param {Object[]} items Data model kabupaten
         * @return {void}
         */
        onBindKabupaten(items) {
            if (items && items.length > 0 && this.dtpendidikan.kecamatan !== null) {
                this.dtpendidikan.kabupatenId = this.dtpendidikan.kecamatan.kabupaten.kabupatenId;
            }
        },
        /**
         * Event handler when data kecamatan already loaded.
         *
         * @param {Object[]} items Data model kecamatan
         * @return {void}
         */
        onBindKecamatan(items) {
            if (items && items.length > 0 && this.dtpendidikan.kecamatan !== null) {
                this.dtpendidikan.kecamatanId = this.dtpendidikan.kecamatan.kecamatanId;
            }
        },
        /**
         * Event handler when data kelurahan already loaded.
         *
         * @param {Object[]} items Data model kelurahan
         * @return {void}
         */
        onBindKelurahan(items) {
            if (items && items.length > 0 && this.dtpendidikan.kelurahan !== null) {
                this.dtpendidikan.kelurahanId = this.dtpendidikan.kelurahan.kelurahanId;
            }
        }
    }
}
</script>

<style scoped>

</style>
