<template>
  <section class="body-container">
    <bs-card shadow>
      <bs-card-body>
        <form class="row pt-lg-3 px-lg-2" novalidate>
          <!-- left side -->
          <div class="col-xl-6">
            <div class="form-group">
              <bs-combobox :data-source="comboInstitusi"
                           :external-validator="institusiIdValidator"
                           @change="onInstitusiChange"
                           required
                           v-model="individu.institusiId">
                <label class="col-form-label col-lg-4">
                  Institusi
                </label>
                <template slot="itemOption" slot-scope="{ item }">
                  <bs-list-tile-content>
                    <bs-list-tile-title>{{ item.namaInstitusi }}</bs-list-tile-title>
                    <bs-list-tile-subtitle class="text-muted">
                      {{ item.kecamatan.kabupaten.namaKabupaten + ', ' + item.kecamatan.kabupaten.provinsi.namaProvinsi }}
                    </bs-list-tile-subtitle>
                  </bs-list-tile-content>
                </template>
              </bs-combobox>
            </div>
            <div class="form-group">
              <bs-text-field :external-validator="namaLengkapValidator"
                             required
                             v-model="individu.namaLengkap">
                <label class="col-form-label col-lg-4">
                  Nama Lengkap
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field :external-validator="nikValidator"
                             required
                             v-model="individu.nik">
                <label class="col-form-label col-lg-4">
                  NIK
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-button-toggle-field :external-validator="statusJabatanValidator"
                                      :items="statusJabatan"
                                      color="default"
                                      outlined
                                      required
                                      size="sm"
                                      toggle-color="teal"
                                      v-model="individu.statusJabatan">
                <label class="col-form-label col-lg-4">
                  Status
                </label>
              </bs-button-toggle-field>
            </div>
            <div class="form-group">
              <bs-button-toggle-field :external-validator="kategoriGuruValidator"
                                      :items="kategoriGuru"
                                      color="default"
                                      outlined
                                      required
                                      size="sm"
                                      toggle-color="teal"
                                      readonly
                                      v-model="individu.kategori">
                <label class="col-form-label col-lg-4">
                  Kategori
                </label>
              </bs-button-toggle-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="individu.jabatan">
                <label class="col-form-label col-lg-4">
                  Jabatan
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="individu.pendidikan">
                <label class="col-form-label col-lg-4">
                  Pendidikan Terakhir
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="individu.phone">
                <label class="col-form-label col-lg-4">
                  No. HP/Telp
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field :external-validator="emailValidator" v-model="individu.email">
                <label class="col-form-label col-lg-4">
                  Alamat Email
                </label>
              </bs-text-field>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <label class="col-form-label">
                  Media Sosial
                </label>
              </div>
              <div class="col-lg-8">
                <div class="form-group">
                  <bs-text-field prepend-icon="pen" v-model="individu.facebook">
                    <span class="md-icon-text" slot="prependSlot">Facebook: </span>
                  </bs-text-field>
                </div>
                <div class="form-group">
                  <bs-text-field prepend-icon="pen" v-model="individu.instagram">
                    <span class="md-icon-text" slot="prependSlot">Instagram: </span>
                  </bs-text-field>
                </div>
              </div>
            </div>
          </div>
          <!-- right side -->
          <div class="col-xl-6">
            <div class="form-group">
              <bs-text-field :external-validator="tempatLahirValidator"
                             required
                             v-model="individu.tempatLahir">
                <label class="col-form-label col-lg-4">
                  Tempat Lahir
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-date-time-field :external-validator="tanggalLahirValidator"
                                  :locale="getLocale"
                                  append-icon="calendar"
                                  display-format="DD MMMM YYYY"
                                  format="YYYY-MM-DD"
                                  required
                                  v-model="individu.tanggalLahir">
                <label class="col-form-label col-lg-4">
                  Tanggal Lahir
                </label>
              </bs-date-time-field>
            </div>
            <div class="form-group">
              <bs-button-toggle-field :external-validator="jenisKelaminValidator"
                                      :items="jenisKelamin"
                                      color="default"
                                      outlined
                                      required
                                      size="sm"
                                      toggle-color="teal"
                                      v-model="individu.jenisKelamin">
                <label class="col-form-label col-lg-4">
                  Jenis kelamin
                </label>
              </bs-button-toggle-field>
            </div>
            <div class="form-group">
              <bs-text-area :external-validator="alamatValidator"
                            required
                            rows="2"
                            v-model="individu.alamat">
                <label class="col-form-label col-lg-4">
                  Alamat Tinggal
                </label>
              </bs-text-area>
            </div>
            <div class="form-group">
              <bs-combobox :data-source="dsCboProvinsi"
                           :external-validator="provinsiIdValidator"
                           v-model="individu.provinsiId"
                           required>
                <label class="col-form-label col-lg-4">
                  Provinsi
                </label>
              </bs-combobox>
            </div>
            <div class="form-group">
              <bs-combobox :data-source="dsCboKabupaten"
                           :external-validator="kabupatenIdValidator"
                           :parent-value="individu.provinsiId"
                           @data-bind="onBindKabupaten"
                           required
                           v-model="individu.kabupatenId">
                <label class="col-form-label col-lg-4">
                  Kabupaten
                </label>
              </bs-combobox>
            </div>
            <div class="form-group">
              <bs-combobox :data-source="dsCboKecamatan"
                           :external-validator="kecamatanIdValidator"
                           :parent-value="individu.kabupatenId"
                           @data-bind="onBindKecamatan"
                           required
                           v-model="individu.kecamatanId">
                <label class="col-form-label col-lg-4">
                  Kecamatan
                </label>
              </bs-combobox>
            </div>
            <div class="form-group">
              <bs-combobox :data-source="dsCboKelurahan"
                           :external-validator="kelurahanIdValidator"
                           :parent-value="individu.kecamatanId"
                           @data-bind="onBindKelurahan"
                           required
                           v-model="individu.kelurahanId">
                <label class="col-form-label col-lg-4">
                  Kelurahan
                </label>
              </bs-combobox>
            </div>
            <div class="row">
              <div class="col-lg-8 offset-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <bs-text-field v-model="individu.rtRw"
                                   :external-validator="rtRwValidator"
                                   class="form-group"
                                   placeholder="001/003"
                                   prepend-icon="pen">
                      <span class="md-icon-text" slot="prependSlot">RT/RW:</span>
                    </bs-text-field>
                  </div>
                  <div class="col-lg-6">
                    <bs-text-field class="form-group" prepend-icon="pen" v-model="individu.kodePos">
                      <span class="md-icon-text" slot="prependSlot">Kode Pos:</span>
                    </bs-text-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <bs-button color="primary" @click="doSave">
          Simpan
        </bs-button>
      </bs-card-footer>
    </bs-card>
    <bs-mask-loader :opacity="0"
                    :show="individu.loading || individu.updating"
                    :spinner-diameter="50" />
  </section>
</template>

<script>
import { validationMixin } from "vuelidate";
import { BsStore, Helper } from "vue-bs4";
import {
    pendidikanValidationHandler,
    personilValidator
} from "../../../../../models/Beneficiary/Pendidikan/PendidikanPersonValidators";
import {
    MSG_SAVE_SUCCESS,
    MSG_UPDATE_SUCCESS,
    SAVE,
    STATE_SUCCESS,
    UPDATE
} from "../../../../../store/modules/mutation-types";
import { GET_ACTIVE_PROGRAM } from "../../../../../store/modules/Kegiatan/mutation-types";
import { GuruModel } from "../../../../../models/Beneficiary/Pendidikan/GuruModel";
import alamatValidationHandler from "../../../../../models/Beneficiary/alamatValidationHandler";
import personValidationHandler from "../../../../../models/Beneficiary/personValidationHandler";
import appLocale from "../../../../../mixins/appLocale";
import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
import cascadeComboBoxWilayah from "../../../../../mixins/cascadeComboBoxWilayah";
import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";
import editorRouteGuard from "../../../../../mixins/security/editorRouteGuard";

export default {
    name: "FormGuru",
    mixins: [
        validationMixin, appLocale, httpErrorResponse, editorRouteGuard, mapStoreKegiatanBeneficiary,
        cascadeComboBoxWilayah, alamatValidationHandler('individu'),
        personValidationHandler('individu'), pendidikanValidationHandler('individu')
    ],
    data: () => ({
        individu: new GuruModel(),
        kategoriGuru: [
            {label: 'Guru', value: 5},
            {label: 'Dosen', value: 6}
        ],
        statusJabatan: [],
        jenisKelamin: [
            {label: 'Laki-laki', value: 'L'},
            {label: 'Perempuan', value: 'P'}
        ],
        /**
         * Combo Institusi
         **/
        comboInstitusi: {
            schema: {
                displayField: 'namaInstitusi',
                valueField: 'institusiId'
            },
            proxy: new BsStore({
                idProperty: 'institusiId',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    browse: '/kegiatan/penerima-manfaat/pendidikan/smk-poltek/dpt'
                }
            })
        },
        /**
         * Jika bernilai FALSE dipergunakan untuk menambah data baru,
         * dan jika bernilai TRUE dipergunakan untuk memperbarui existing data.
         *
         * @type boolean
         */
        isEditMode: false
    }),
    validations: {
        individu: personilValidator
    },
    created() {
        if (!this.hasEditorAccessRights) {
            this.$router.push('/access-denied');
            return;
        }

        const idprogram = this.$route.params.idprogram;

        if (this[GET_ACTIVE_PROGRAM] === null) {
            this.fetchDpt(idprogram);
        }
        if (this.$route.params.id) {
            this.isEditMode          = true;
            this.individu.individuId = this.$route.params.id;

            this.individu.fetch().then(() => {
                this.individu.institusiId = this.individu.institusi.institusiId;
                this.individu.provinsiId  = this.individu.kecamatan.kabupaten.provinsi.provinsiId;
                this.updateChoices(this.individu.institusi.kategori);
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] +
                        '/pendidikan/guru');
                });
            });
        }
        if (!this.isEditMode){
          this.individu.status = 'NEW';
          this.individu.statusVerifikasi = 0;
        }

        // Menambahkan filter pada dataSource ComboBox Institusi
        this.comboInstitusi.proxy.setFilters([{
            property: 'programs.id',
            value: this[GET_ACTIVE_PROGRAM] === null ? idprogram : this[GET_ACTIVE_PROGRAM],
            operator: 'eq'
        }]);
    },
    beforeDestroy() {
        this.individu.destroy();
        this.individu = null;

        this.comboInstitusi.proxy.destroy();
        this.comboInstitusi.proxy = null;
        this.comboInstitusi       = null;
    },
    methods: {
        /**
         * Send HTTP request untuk menambah/mengupdate data Guru/Ustadz.
         *
         * @return {void}
         */
        doSave() {
            this.$v.$touch();

            if (!this.$v.$error) {
                const text   = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                const action = this.isEditMode ? UPDATE : SAVE;

                this.individu.institusi = this.individu.institusiId;
                this.individu.kecamatan = this.individu.kecamatanId;
                this.individu.kelurahan = this.individu.kelurahanId;

                if (Helper.isArray(this.individu.programs) && this.individu.programs.length > 0) {
                    let programs = [];

                    this.individu.programs.forEach(el => {
                        if (!Helper.isEmpty(el.id)) {
                            programs.push(el.id);
                        }
                    });
                    if (!programs.includes(this[GET_ACTIVE_PROGRAM])) {
                        programs.push(this[GET_ACTIVE_PROGRAM]);
                    }
                    this.individu.programs = programs;
                } else {
                    this.individu.programs = [this[GET_ACTIVE_PROGRAM]];
                }

                this.individu[action]().then(() => {
                    this.$notification.success('Data ' + this.individu.namaLengkap + text, STATE_SUCCESS);
                    this.$nextTick(() => {
                        this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/pendidikan/guru');
                    });
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            }
        },
        /**
         * Event handler when data kabupaten already loaded.
         *
         * @param {Object[]} items Data model individu
         *
         * @return {void}
         */
        onBindKabupaten(items) {
            if (items && items.length > 0 && this.individu.kecamatan !== null) {
                this.individu.kabupatenId = this.individu.kecamatan.kabupaten.kabupatenId;
            }
        },
        /**
         * Event handler when data kecamatan already loaded.
         *
         * @param {Object[]} items Data model individu
         *
         * @return {void}
         */
        onBindKecamatan(items) {
            if (items && items.length > 0 && this.individu.kecamatan !== null) {
                this.individu.kecamatanId = this.individu.kecamatan.kecamatanId;
            }
        },
        /**
         * Event handler when data kelurahan already loaded.
         *
         * @param {Object[]} items Data model individu
         *
         * @return {void}
         */
        onBindKelurahan(items) {
            if (items && items.length > 0 && this.individu.kelurahan !== null) {
                this.individu.kelurahanId = this.individu.kelurahan.kelurahanId;
            }
        },
        /**
         * Event handler when selected item of combobox Institusi is changed.
         *
         * @param {InstitusiModel} item Data model individu
         *
         * @return {void}
         */
        onInstitusiChange(item) {
            if (item) {
                this.updateChoices(item.kategori);
                switch (item.kategori) {
                    case 2: // SMK
                        this.individu.kategori = 5; // Guru
                        break;
                    case 3: // Poltek
                        this.individu.kategori = 6; // Dosen
                        break;
                    default:
                        this.individu.kategori = undefined;
                }
            }
        },
        /**
         * Update status Jabatan menurut lembaga Pendidikan Vokasi.
         *
         * @param {number} kategori institusi kategori
         *
         * @return {void}
         */
        updateChoices(kategori) {
            switch (kategori) {
                case 2: // SMK
                    this.statusJabatan = [
                        {label: 'PNS', value: 'PNS'},
                        {label: 'GTY', value: 'GTY'},
                        {label: 'GTT', value: 'GTT'}
                    ];
                    break;
                case 3: // Poltek
                    this.statusJabatan = [
                        {label: 'PNS', value: 'PNS'},
                        {label: 'DTY', value: 'DTY'},
                        {label: 'DTT', value: 'DTT'}
                    ];
                    break;
                default:
                    this.statusJabatan = [];
            }
        }
    }
}
</script>

<style scoped>

</style>
