<template>
  <form novalidate>
    <div class="row">
      <div class="col-xl-12">
        <div class="form-group bg-white text-right">
          <bs-button color="default"
                     icon="plus-circle"
                     icon-position="left"
                     outlined
                     @click="addDudi">
            Tambah Baru
          </bs-button>
        </div>
        <bs-card v-for="(dudi, row) in $v.dudis.$each.$iter"
                 :key="'dudi-' + row"
                 class="mb-3">
          <bs-list>
            <bs-list-item tag="div" class="pr-2">
              <bs-list-tile-content>
                <div class="form-group">
                  <bs-text-field v-model="dudi.$model.namaUsaha"
                                 :external-validator="namaUsahaValidator(dudi)"
                                 required>
                    <label class="col-form-label col-lg-4 col-xl-3">
                      Nama Usaha / Industri
                    </label>
                  </bs-text-field>
                </div>
                <div class="form-group">
                  <bs-text-field v-model="dudi.$model.jenisUsaha"
                                 :external-validator="jenisUsahaValidator(dudi)"
                                 required>
                    <label class="col-form-label col-lg-4 col-xl-3">
                      Jenis Usaha
                    </label>
                  </bs-text-field>
                </div>
                <div class="form-group">
                  <bs-text-field v-model="dudi.$model.namaPimpinan"
                                 :external-validator="namaPimpinanValidator(dudi)"
                                 required>
                    <label class="col-form-label col-lg-4 col-xl-3">
                      Nama Pemilik / Pimpinan
                    </label>
                  </bs-text-field>
                </div>
                <div class="form-group">
                  <bs-text-field v-model="dudi.$model.contactPhone"
                                 :external-validator="contactPhoneValidator(dudi)"
                                 required>
                    <label class="col-form-label col-lg-4 col-xl-3">
                      Nomor Kontak (HP)
                    </label>
                  </bs-text-field>
                </div>
                <div class="form-group">
                  <bs-text-area v-model="dudi.$model.alamat"
                                :external-validator="alamatValidator(dudi)"
                                rows="2"
                                required>
                    <label class="col-form-label col-lg-4 col-xl-3">
                      Alamat Lengkap
                    </label>
                  </bs-text-area>
                </div>
              </bs-list-tile-content>
              <bs-list-tile-action>
                <bs-button v-tooltip="{content:'Hapus Baris', placement:'top'}"
                           color="secondary"
                           mode="icon"
                           flat
                           @click="removeDudi(row)">
                  <bs-icon icon="clear" size="26" />
                </bs-button>
              </bs-list-tile-action>
            </bs-list-item>
          </bs-list>
        </bs-card>
      </div>
    </div>
  </form>
</template>

<script>
import { validationMixin } from "vuelidate";
import { MitraDudiModel } from "../../../../../models/Beneficiary/Pendidikan/MitraDudiModel";
import {
    mitraDudiValidationHandler,
    mitraDudiValidator
} from "../../../../../models/Beneficiary/Pendidikan/MitraDudiValidators";

export default {
    name: "FormMitraDudi",
    mixins: [validationMixin, mitraDudiValidationHandler],
    props: {
        dudis: {
            type: Array,
            default: undefined
        },
        validating: {
            type: Boolean,
            default: false
        }
    },
    validations: {
        dudis: {
            $each: mitraDudiValidator
        }
    },
    watch: {
        validating(value) {
            if (value === true) {
                this.doValidate();
            }
        }
    },
    methods: {
        /**
         * Add Mitra DUDI to the collection.
         *
         * @return {void}
         */
        addDudi() {
            this.dudis.push(new MitraDudiModel());
        },
        /**
         * Process fields validation.
         *
         * @return {void}
         */
        doValidate() {
            this.$v.$touch();
            this.$emit('update:valid', !this.$v.$error);
        },
        /**
         * Remove Mitra DUDI from collection.
         *
         * @param {int} index Absolute index position
         * @return {void}
         */
        removeDudi(index) {
            this.dudis.splice(index, 1);
        }
    }
}
</script>

<style scoped>

</style>
