<template>
    <section class="body-container">
        <bs-card shadow>
            <bs-card-body>
                <form class="pt-lg-3 px-lg-2" novalidate>
                    <div class="form-row">
                        <div class="col-lg-3 col-xl-2 font-weight-bold">
                            NAMA
                        </div>
                        <div style="width: 8px">
                            :
                        </div>
                        <div class="col">
                            {{ individu.namaLengkap }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-3 col-xl-2 font-weight-bold">
                            NIK
                        </div>
                        <div style="width: 8px">
                            :
                        </div>
                        <div class="col">
                            {{ individu.nik }}
                        </div>
                    </div>
                    <bs-divider class="grey-500 my-3"/>
                    <h6 class="mb-3">Indikator KPI Kualitatif</h6>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-4 font-weight-bold">
                            Triwulan
                        </label>
                        <div class="col-lg-4">
                            <bs-combobox v-model="indikator.semester"
                                         :external-validator="semesterValidator"
                                         :items="dsTriwulan"
                                         required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <table class="table table-valign-middle table-bordered mb-1">
                            <thead class="thead-light">
                            <tr>
                                <th class="border-right-0" style="width: 20px;">
                                    #
                                </th>
                                <th class="text-center">
                                    Indikator
                                </th>
                                <th class="text-center" style="width: 100px">
                                    Target
                                </th>
                                <th class="text-center" style="width: 100px">
                                    Capaian
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Skor 7 x 7 Tefa Matrix</td>
                                <td>
                                    <number-field-wrapper v-model.number="indikator.vokasiPendidikanParams.tefa.target"/>
                                </td>
                                <td>
                                    <number-field-wrapper v-model.number="indikator.vokasiPendidikanParams.tefa.capaian"/>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Jumlah unit produksi yang dikembangkan</td>
                                <td>
                                    <number-field-wrapper v-model.number="indikator.vokasiPendidikanParams.unit.target"/>
                                </td>
                                <td>
                                    <number-field-wrapper v-model.number="indikator.vokasiPendidikanParams.unit.capaian"/>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Profitabilitas</td>
                                <td>
                                    <number-field-wrapper v-model.number="indikator.vokasiPendidikanParams.profit.target"/>
                                </td>
                                <td>
                                    <bs-combobox v-model="indikator.vokasiPendidikanParams.profit.capaian"
                                                 :items="dsProfit"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </bs-card-body>
            <bs-card-footer class="bg-white">
                <bs-button color="primary" @click="doSave">
                    Simpan
                </bs-button>
                <bs-button color="secondary" outlined @click="doCancel">
                    Batal
                </bs-button>
            </bs-card-footer>
            <bs-mask-loader :opacity="0"
                            :show="loaded || individu.loading || indikator.updating"
                            :spinner-diameter="50" />
        </bs-card>
    </section>
</template>

<script>
    import NumberFieldWrapper from "../../../../../components/NumberFieldWrapper";
    import appLocale from "../../../../../mixins/appLocale";
    import editorRouteGuard from "../../../../../mixins/security/editorRouteGuard";
    import formatUtils from "../../../../../mixins/formatUtils";
    import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
    import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";
    import {validationMixin} from "vuelidate";
    import {KpiIndikatorValidator, KpiValidationHandler} from "../../../../../models/Kegiatan/KpiIndikatorValidator";
    import DanaBatchModel from "../../../../../models/Pendanaan/DanaBatchModel";
    import {IndikatorKpiModel} from "../../../../../models/Kegiatan/IndikatorKpiModel";
    import {
        MSG_SAVE_SUCCESS,
        MSG_UPDATE_SUCCESS,
        SAVE,
        STATE_SUCCESS,
        UPDATE
    } from "../../../../../store/modules/mutation-types";
    import {GuruModel} from "../../../../../models/Beneficiary/Pendidikan/GuruModel";

    export default {
        name: "KpiFormGuru",
        components: {NumberFieldWrapper},
        mixins: [
            appLocale, editorRouteGuard, formatUtils, httpErrorResponse,
            mapStoreKegiatanBeneficiary, validationMixin, KpiValidationHandler('indikator')
        ],
        data: () => ({
            individu: new GuruModel(),
            program: new DanaBatchModel(),
            indikator: new IndikatorKpiModel(),
            dsTriwulan: ['I','II','III','IV'],
            dsProfit: [0,25,50,75,100],
            loaded: false,
            isEditMode: false,
        }),
        created() {
            const idprogram = this.$route.params.idprogram;

            if (this.$route.params.id) {
                this.isEditMode = true;
                this.fetchData(this.$route.params.id);
            }

            if (this.$route.params.idprogram) {
                this.fetchProgram(this.$route.params.idprogram);
            }

            if (this.$route.params.uid) {
                this.individu.fetch(this.$route.params.uid).then((rsp) => {
                }).catch((error) => {
                    this.showErrorMessage(error);
                    this.$nextTick(() => {
                        this.$router.push('/kegiatan/penerima-manfaat/' + idprogram + '/pendidikan/guru/view/' + this.$route.params.uid);
                    });
                });
            }
        },
        beforeDestroy() {
            this.individu.destroy();
            this.individu = null;

            this.indikator.destroy();
            this.indikator = null;

            this.program.destroy();
            this.program = null;
        },
        validations: {
            indikator: KpiIndikatorValidator
        },
        methods: {
            /**
             * Send request insert/update data to server.
             *
             * @return {void}
             */
            doSave() {
                this.$v.$touch();
                if (!this.$v.$error) {
                    const text = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                    const action = this.isEditMode ? UPDATE : SAVE;

                    this.loaded = true;

                    this.indikator.individu = this.individu.individuId;
                    this.indikator.periodeBatch = this.program.batchId;
                    this.indikator.tahun = this.program.tahun;

                    this.indikator[action]().then(() => {
                        this.loaded = false;
                        this.$notification.success('Data KPI Guru ' + this.individu.namaLengkap + text, STATE_SUCCESS);
                        this.$nextTick(() => {
                            this.$router.push('/kegiatan/penerima-manfaat/' + idprogram + '/pendidikan/guru/view/' + this.$route.params.uid);
                        });
                    }).catch((error) => {
                        this.loaded = false;
                        this.showErrorMessage(error);
                    });
                }
            },
            /**
             * Batalkan pengisian atau penyuntingan data dan kembali ke halaman DataGrid.
             *
             * @return {void}
             */
            doCancel() {
                this.$router.push(this.$route.meta.previous);
            },
            /**
             * Fetch data from remote server.
             *
             * @param {Number|String} id bid
             * @return {void}
             */
            fetchData(id) {
                this.indikator.fetch(id).catch((error) => {
                    this.showErrorMessage(error);
                    this.$nextTick(() => {
                        this.$router.push(this.$route.meta.previous);
                    });
                });
            },
            /**
             * Fetch data program Dana Batch tahunan.
             *
             * @param {int|string} id    Program ID
             * @return {void}
             */
            fetchProgram(id) {
                this.program.fetch(id).catch((error) => {
                    this.showErrorMessage(error);
                    this.$nextTick(() => {
                        this.$router.push(this.$route.meta.previous);
                    });
                });
            }
        }
    }
</script>

<style scoped>

</style>
