<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div>
        <bs-modal :open.sync="openModalScore"
                  max-width="100%"
                  title="Analisa Dampak Media"
                  width="600">
            <div class="form-group">
                <bs-text-area placeholder="Analisa dampak media..."
                              rows="3"
                              v-model="analisa.result"
                              required>
                    <label class="col-form-label col-md-3">
                        Analisa
                    </label>
                </bs-text-area>
            </div>
            <div class="form-group">
                <bs-combobox v-model="analisa.score"
                             :items="itemScore"
                             required>
                    <label class="col-form-label col-md-3">
                        Score
                    </label>
                </bs-combobox>
            </div>
            <template v-slot:footer="">
                <bs-button @click="openModalScore = false"
                           color="secondary"
                           outlined>
                    Batal
                </bs-button>
                <bs-button @click="modalAction('analisa')"
                           color="primary"
                           outlined>
                    Simpan
                </bs-button>
            </template>
        </bs-modal>
    </div>
</template>

<script>
    import appLocale from "../../mixins/appLocale";
    import formatUtils from "../../mixins/formatUtils";

    export default {
        name: "AnalisaDialog",
        mixins: [appLocale, formatUtils],
        props: {
            analisa: {
                type: Object,
                default: undefined,
                required: false
            },
            itemScore: {
                type: Array,
                default: undefined,
                required: false
            },
            showModalScore: {
                type: Boolean,
                default: false,
                required: false
            }
        },
        computed: {
            openModalScore: {
                get() {
                    return this.showModalScore;
                },
                set(value) {
                    this.$emit('update:showModalScore', value);
                }
            }
        },
        methods: {
            /**
             * Fire event on modal dialog button's clicked.
             *
             * @param {String} name The action name
             * @return {void}
             */
            modalAction(name) {
                this.$emit(name);
            }
        }
    }
</script>

<style scoped>

</style>
