<template>
    <bs-card shadow class="mt-2">
        <bs-card-body>
            <div class="form-row">
                <label class="col-form-label col-lg-2 col-xl-2 font-weight-bold">
                    Status
                </label>
                <div class="col-lg-10 col-xl-10 pt-2">
                    <bs-badge :color="color"
                              type="label">
                        {{ status }}
                    </bs-badge>
                </div>
            </div>
            <div v-if="approval.keterangan !== null"  class="form-row">
                <label class="col-form-label col-lg-2 col-xl-2 font-weight-bold">
                    Alasan
                </label>
                <div class="col-lg-10 col-xl-10 pt-2">
                    {{ approval.keterangan }}
                </div>
            </div>
        </bs-card-body>
        <bs-card-footer class="bg-white">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-grey-500">
                        Oleh: {{ approval.postedBy.fullName }} ({{ dateFormat(approval.postedDate, formatConst.dateTimeCustom) }})
                    </div>
                </div>
            </div>
        </bs-card-footer>
    </bs-card>
</template>

<script>
    import appLocale from "../../mixins/appLocale";
    import formatUtils from "../../mixins/formatUtils";

    export default {
        name: "HumasReject",
        mixins: [appLocale, formatUtils],
        props: {
            approval: {
                type: Object,
                default: undefined
            },
            status: {
                type: String,
                default: undefined
            },
            color: {
                type: String,
                default: undefined
            }
        },
    }
</script>

<style scoped>

</style>
