<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div>
        <bs-modal :esc-close="false"
                  :maxWidth="'100%'"
                  :open.sync="openModalDelete"
                  :overlay-close="false"
                  :width="450"
                  title="Konfirmasi">
            <div style="overflow-wrap: break-word;">
                Apakah anda yakin akan menghapus data publikasi <strong>{{ itemData.title }}</strong> ini?
            </div>
            <template v-slot:footer="">
                <bs-button color="secondary" outlined v-on:click="openModalDelete = false">Batal</bs-button>
                <bs-button @click="modalAction('delete')" color="danger">Hapus</bs-button>
            </template>
        </bs-modal>
        <bs-modal :open.sync="openModalProcess"
                  max-width="100%"
                  title="Konfirmasi"
                  width="500">
            Apakah anda yakin data publikasi <strong>{{ itemData.title }}</strong> {{ approval.action === 'approval' ?
            'akan diterbitkan' : 'sudah benar' }}?
            <div class="form-group"
                 v-if="approval.action === 'verify'">
                <bs-text-area placeholder="Wajib mencantumkan komentar jika reject"
                              rows="3"
                              v-model="approval.reason">
                    <label class="col-form-label col-md-3">
                        Komentar
                    </label>
                </bs-text-area>
            </div>
            <template v-slot:footer="">
                <bs-button :disabled="approval.reason == null || approval.reason === ''"
                           @click="modalAction('reject')"
                           color="danger"
                           v-if="approval.action === 'verify'">
                    Reject
                </bs-button>
                <bs-button @click="openModalProcess = false"
                           color="secondary"
                           outlined
                           v-else>
                    Batal
                </bs-button>
                <bs-button @click="modalAction('verify')"
                           color="primary"
                           v-if="approval.action === 'verify'">
                    Verify
                </bs-button>
                <bs-button @click="modalAction('approval')"
                           color="primary"
                           v-if="approval.action === 'approval'">
                    Publish
                </bs-button>
            </template>
        </bs-modal>
    </div>
</template>

<script>
    import appLocale from "../../mixins/appLocale";
    import formatUtils from "../../mixins/formatUtils";
    import {STEP_APPROVAL, STEP_VERIFY} from "../../store/modules/mutation-types";

    export default {
        name: "ModalDialogHumas",
        mixins: [appLocale, formatUtils],
        props: {
            approval: {
                type: Object,
                default: undefined,
                required: true
            },
            itemData: {
                type: Object,
                default: undefined,
                required: true
            },
            showModalDelete: {
                type: Boolean,
                default: false,
                required: true
            },
            showModalProcess: {
                type: Boolean,
                default: false,
                required: true
            }
        },
        computed: {
            openModalDelete: {
                get() {
                    return this.showModalDelete;
                },
                set(value) {
                    this.$emit('update:showModalDelete', value);
                }
            },
            openModalProcess: {
                get() {
                    return this.showModalProcess;
                },
                set(value) {
                    this.$emit('update:showModalProcess', value);
                }
            },
            /**
             * Change submit button text based on dialog action.
             *
             * @return {string} Button text
             */
            submitBtnText() {
                if (this.approval.action.includes(STEP_VERIFY)) {
                    return 'Verify'
                } else if (this.approval.action.includes(STEP_APPROVAL)) {
                    return 'Publish';
                }
            }
        },
        methods: {
            /**
             * Fire event on modal dialog button's clicked.
             *
             * @param {String} name The action name
             * @return {void}
             */
            modalAction(name) {
                this.$emit(name);
            }
        }
    }
</script>

<style scoped>

</style>
