<template>
    <section class="body-container" v-if="humas">
        <bs-card shadow>
            <bs-card-body>
                <h4 v-html="humas.title"></h4>
                <div class="mt-3 mb-2 text-center" style="max-height: 500px; display: flex" v-if="viewImage(humas)">
                    <img :alt="humas.title" :src="humas.fileUrl" class="img-fluid"/>
                </div>
                <blockquote v-html="humas.intro" v-if="humas.intro !== ''"></blockquote>
                <div v-html="humas.content" v-if="humas.content !== ''"></div>
                <div class="mt-2" v-if="humas.fileExt === 'pdf'">
                    <pdf :page="page"
                         :src="humas.fileUrl"
                         @link-clicked="page = $event"
                         @num-pages="numPages = $event"
                         ref="pdfFile"
                         style="display: block; max-width: 100%; height:450px; border: 1px solid #ccc; overflow-y: scroll; overflow-x: hidden;"/>
                    <div class="mt-2">
                        <label> Halaman: <input :max="numPages" :min="1"
                                                class="form-control input-group-sm" style="display: inline;width: 5em"
                                                type="number" v-model.number="page"/> / <strong>{{numPages}}</strong>
                        </label>
                    </div>
                </div>
            </bs-card-body>
            <bs-mask-loader :opacity="0"
                            :show="loader || humas.loading"
                            :spinner-diameter="50"/>
        </bs-card>

        <humas-reject v-if="isRejected"
                      class="mt-2"
                      :approval="logs"
                      :status="workflowConfigurer.majorPlaceMark(humas)"
                      :color="workflowConfigurer.badgeColor(humas)"/>

        <bs-card shadow class="mt-2" v-if="humas.hasAnalyzed">
            <bs-card-header>ANALISA DAMPAK MEDIA</bs-card-header>
            <bs-card-body>
                <div class="form-row">
                    <label class="col-form-label col-lg-2 col-xl-2 font-weight-bold">
                        Analisa
                    </label>
                    <div class="col-lg-10 col-xl-10 pt-2">
                        {{humas.analisa}}
                    </div>
                </div>
                <div class="form-row">
                    <label class="col-form-label col-lg-2 col-xl-2 font-weight-bold">
                        Score
                    </label>
                    <div class="col-lg-10 col-xl-10 pt-2">
                        {{humas.score}}
                    </div>
                </div>
            </bs-card-body>
            <bs-card-footer class="bg-white">
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-grey-500">
                            Analisa Oleh: {{ humas.analyzeBy.fullName }} ({{ dateFormat(humas.tanggalAnalyze, formatConst.dateTimeCustom) }})
                        </div>
                    </div>
                </div>
            </bs-card-footer>
        </bs-card>
    </section>
</template>

<script>
    import {HumasModel} from "../../models/Humas/HumasModel";
    import appLocale from "../../mixins/appLocale";
    import formatUtils from "../../mixins/formatUtils";
    import httpErrorResponse from "../../mixins/httpErrorResponse";
    import pdf from 'vue-pdf';
    import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome';
    import {REJECTED} from "../../store/modules/mutation-types";
    import HumasReject from "./HumasReject";
    import HumasWorkflowConfigurer from "../../models/Humas/HumasWorkflowConfigurer";

    export default {
        name: "ViewMedia",
        mixins: [
            appLocale, formatUtils, httpErrorResponse
        ],
        components: {
            pdf: pdf,
            FontAwesomeIcon: FontAwesomeIcon,
            HumasReject: HumasReject
        },
        data() {
            return {
                humas: new HumasModel(),
                workflowConfigurer: new HumasWorkflowConfigurer('humas'),
                updating: false,
                loadedRatio: 0,
                page: 1,
                numPages: 0,
                loader: false,
                logs: null,
            }
        },
        created() {
            if (this.$route.params.id) {
                this.fetchData(this.$route.params.id);
                this.loadDataReject(this.$route.params.id);
            }
        },
        beforeDestroy() {
            this.humas.destroy();
            this.humas = null;

        },
        computed: {
            isRejected() {
                return this.humas.status === REJECTED;
            }
        },
        methods: {
            modifyUrl(url) {
                let endpoint = url;
                endpoint = endpoint.replace('oembed', 'iframe');
                endpoint = endpoint.replace('url', 'src');
                endpoint = endpoint.replace('watch?v=', 'embed/');
                endpoint = endpoint.replace('oembed', 'iframe');
                return endpoint;
            },
            viewImage(item) {
                let images = ["jpg", "gif", "png", "jpeg"];
                return images.includes(item.fileExt);
            },
            /**
             * Fetch data from remote server.
             *
             * @param {Number|String} id bid
             * @return {void}
             */
            fetchData(id) {
                this.humas.bid = id;
                this.humas.fetch().catch((error) => {
                    this.showErrorMessage(error);
                    this.$nextTick(() => {
                        this.$router.push(this.$route.meta.previous);
                    });
                });
            },
            /**
             * Fetch data from remote server.
             *
             * @param {number} id
             * @return {void}
             */
            loadDataReject(id) {
                this.loader = true;
                this.$http.get('/humas/approval/' + id).then($response => {
                    this.loader = false;
                    let $resp = $response.data;
                    this.logs = $resp.data;
                });
            }
        },
    }
</script>

<style scoped>
    blockquote {
        display: block;
        border-width: 0 0 0 3px;
        color: #6c757d;
        border-style: solid;
        border-color: #878a8145;
        padding: 0.5em 0 0.5em 1em;
        margin: 1em 0;
        position: relative;
    }
</style>
