{% extends 'layout/admin.html.twig' %}

{% block header %}
  <app-navbar logout-url="{{ path('auth_logout') }}" :mini-sidebar="miniSidebar" :open-sidebar="openSidebar"
              @toggle-sidebar="toggleSidebar"></app-navbar>
{% endblock %}

{% block sidebar %}
  <bs-sidebar ref="sidebar" width="250" :mini="miniSidebar" :open="openSidebar" dark @open="toggleOpenSidebar">
    <a href="{{ path('default_index') }}" class="app-brand">
      <img src="{{ asset('images/logo-adaro.png') }}" class="logo-icon" alt="">
      <img src="{{ asset('images/logo-adaro-mini.png') }}" class="logo-mini" alt="">
    </a>
    <bs-sidebar-nav>
      {% for item in menus %}
        <bs-sidebar-nav-item label="{{ item.menuLabel }}" path="{{ item.routeUrl }}"
                         icon="{{ item.icon }}" {{ item.leaf is empty ? 'parent' : '' }}>
          {% if item.leaf is empty %}
            <bs-sidebar-nav child>
              {% for child in item.children %}
                <bs-sidebar-nav-item label="{{ child.menuLabel }}" path="{{ child.routeUrl }}"
                         icon="{{ child.icon }}" {{ child.leaf is empty ? 'parent' : '' }}>
                  {% if child.leaf is empty %}
                    <bs-sidebar-nav child class="ml-4">
                        {% for grandchild in child.children %}
                          <bs-sidebar-nav-item label="{{ grandchild.menuLabel }}" path="{{ grandchild.routeUrl }}"></bs-sidebar-nav-item>
                        {% endfor %}
                    </bs-sidebar-nav>
                  {% endif %}
                </bs-sidebar-nav-item>
              {% endfor %}
            </bs-sidebar-nav>
          {% endif %}
        </bs-sidebar-nav-item>
      {% endfor %}
    </bs-sidebar-nav>
    <div class="md-sidebar-footer">
      <a href="{{ path('auth_logout') }}" class="signout">
        <font-awesome-icon icon="power-off" size="sm"></font-awesome-icon>
        <span class="pl-2">Sign Out</span>
      </a>
      <a class="mini-toggle ml-auto" @click="toggleMini">
        <font-awesome-icon icon="chevron-left" size="sm"></font-awesome-icon>
      </a>
    </div>
  </bs-sidebar>
{% endblock %}

{% block stylesheets %}
  {{- parent() -}}
  {{ encore_entry_link_tags('admin-page') }}
  {{ encore_entry_link_tags('theme/greenish') }}
{% endblock %}

{% block javascripts %}
  {{ parent() -}}
  {{ encore_entry_script_tags('admin-page') }}
{% endblock %}
