<template>
  <section class="container">
    <bs-card shadow>
      <bs-card-body>
        <form class="pt-lg-3 px-lg-2" novalidate>
          <div class="form-group">
            <bs-combobox :data-source="dsProvinsi"
                         :external-validator="provinsiIdValidator"
                         @select="onSelectProvinsi"
                         required
                         v-model="kelurahan.provinsiId">
              <label class="col-form-label col-md-2">
                Provinsi
              </label>
              <template slot="itemOption" slot-scope="{ item }">
                <bs-list-tile-action>
                  <span class="text-muted">{{ item.kodeProvinsi }}</span>
                </bs-list-tile-action>
                <bs-list-tile-content>
                  <bs-list-tile-subtitle>{{ item.namaProvinsi }}</bs-list-tile-subtitle>
                </bs-list-tile-content>
              </template>
            </bs-combobox>
          </div>
          <div class="form-group">
            <bs-combobox :data-source="dsKabupaten"
                         :external-validator="kabupatenIdValidator"
                         :parent-value="kelurahan.provinsiId"
                         @select="onSelectKabupaten"
                         required
                         v-model="kelurahan.kabupatenId">
              <label class="col-form-label col-md-2">
                Kabupaten
              </label>
              <template slot="itemOption" slot-scope="{ item }">
                <bs-list-tile-action>
                  <span class="text-muted">{{ item.kodeKabupaten }}</span>
                </bs-list-tile-action>
                <bs-list-tile-content>
                  <bs-list-tile-subtitle>{{ item.namaKabupaten }}</bs-list-tile-subtitle>
                </bs-list-tile-content>
              </template>
            </bs-combobox>
          </div>
          <div class="form-group">
            <bs-combobox :data-source="dsKecamatan"
                         :external-validator="kecamatanIdValidator"
                         :parent-value="kelurahan.kabupatenId"
                         @select="onSelectKecamatan"
                         required
                         v-model="kelurahan.kecamatanId">
              <label class="col-form-label col-md-2">
                Kecamatan
              </label>
              <template slot="itemOption" slot-scope="{ item }">
                <bs-list-tile-action>
                  <span class="text-muted">{{ item.kodeKecamatan }}</span>
                </bs-list-tile-action>
                <bs-list-tile-content>
                  <bs-list-tile-subtitle>{{ item.namaKecamatan }}</bs-list-tile-subtitle>
                </bs-list-tile-content>
              </template>
            </bs-combobox>
          </div>
          <div class="form-group">
            <bs-text-field :autofocus="isEditMode"
                           :external-validator="kodeKelurahanValidator"
                           required
                           v-model="kelurahan.kodeKelurahan">
              <label class="col-form-label col-md-2">
                Kode Kelurahan
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field :external-validator="namaKelurahanValidator"
                           required
                           v-model="kelurahan.namaKelurahan">
              <label class="col-form-label col-md-2">
                Nama Kelurahan
              </label>
            </bs-text-field>
          </div>
        </form>
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <bs-button color="primary" @click="doSave">
          Simpan
        </bs-button>
      </bs-card-footer>
    </bs-card>
    <bs-mask-loader :opacity="0"
                    :show="kelurahan.updating"
                    :spinner-diameter="50" />
  </section>
</template>

<script>
import { BsStore, Helper } from "vue-bs4";
import { validationMixin } from "vuelidate";
import {
    MSG_SAVE_SUCCESS,
    MSG_UPDATE_SUCCESS,
    SAVE,
    STATE_SUCCESS,
    UPDATE
} from "../../../../store/modules/mutation-types";
import { KelurahanModel } from "../../../../models/MasterData/Wilayah/KelurahanModel";
import editorRouteGuard from "../../../../mixins/security/editorRouteGuard";
import httpErrorResponse from "../../../../mixins/httpErrorResponse";
import {
    kelurahanValidationHandler,
    kelurahanValidator
} from "../../../../models/MasterData/Wilayah/KelurahanValidator";

export default {
    name: "FormKelurahan",
    mixins: [validationMixin, kelurahanValidationHandler('kelurahan'), editorRouteGuard, httpErrorResponse],
    data: () => ({
        dsProvinsi: {
            schema: {
                displayField: 'namaProvinsi',
                valueField: 'provinsiId'
            },
            proxy: new BsStore({
                idProperty: 'provinsiId',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    browse: '/master-data/wilayah/provinsi'
                }
            })
        },
        dsKabupaten: {
            schema: {
                displayField: 'namaKabupaten',
                valueField: 'kabupatenId',
                cascadeField: 'provinsi.provinsiId'
            },
            proxy: new BsStore({
                idProperty: 'kabupatenId',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    browse: '/master-data/wilayah/kabupaten'
                }
            })
        },
        dsKecamatan: {
            schema: {
                displayField: 'namaKecamatan',
                valueField: 'kecamatanId',
                cascadeField: 'kabupaten.kabupatenId'
            },
            proxy: new BsStore({
                idProperty: 'kecamataniId',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    browse: '/master-data/wilayah/kecamatan'
                }
            })
        },
        /**
         * @type KelurahanModel
         */
        kelurahan: new KelurahanModel(),
        /**
         * Jika bernilai TRUE dipergunakan untuk memperbarui existing data,
         * sebaliknya jika bernilai FALSE dipergunakan untuk menambah data baru.

         * @type boolean
         */
        isEditMode: false
    }),
    created() {
        if (!this.hasEditorAccessRights) {
            this.$router.push('/access-denied');
            return;
        }
        if (this.$route.params.id) {
            this.isEditMode = true;

            this.kelurahan.fetch(this.$route.params.id).then(() => {
                this.kelurahan.provinsiId = this.kelurahan.kecamatan.kabupaten.provinsi.provinsiId;
                Helper.defer(() => {
                    this.kelurahan.kabupatenId = this.kelurahan.kecamatan.kabupaten.kabupatenId;
                    Helper.defer(() => {
                        this.kelurahan.kecamatanId = this.kelurahan.kecamatan.kecamatanId;
                    }, 300);
                }, 300);
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/master-data/wilayah/kelurahan');
                });
            });
        }
    },
    beforeDestroy() {
        this.dsProvinsi.proxy.destroy();
        this.dsProvinsi.proxy = null;
        this.dsProvinsi       = null;
        this.dsKabupaten.proxy.destroy();
        this.dsKabupaten.proxy = null;
        this.dsKabupaten       = null;
        this.dsKecamatan.proxy.destroy();
        this.dsKecamatan.proxy = null;
        this.dsKecamatan       = null;
        this.kelurahan.destroy();
        this.kelurahan = null;
    },
    validations: {
        kelurahan: kelurahanValidator
    },
    methods: {
        /**
         * Send request insert/update data Kelurahan.
         *
         * @return {void}
         */
        doSave() {
            this.$v.$touch();

            if (!this.$v.$error) {
                const text   = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                const action = this.isEditMode ? UPDATE : SAVE;

                this.kelurahan.kecamatan = this.kelurahan.kecamatanId;
                this.kelurahan[action]().then(() => {
                    this.$notification.success('Data ' + text, STATE_SUCCESS);
                    this.$nextTick(() => {
                        this.$router.push('/master-data/wilayah/kelurahan');
                    });
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            }
        },
        /**
         * Event handler for combobox kecamatan when its item is selected.
         *
         * @param {Object} item Data model of the selected item
         * @return {void}
         */
        onSelectKecamatan(item) {
            this.kelurahan.kodeKelurahan = item.kodeKecamatan + '.0000';
        },
        /**
         * Event handler for combobox kabupaten when its item is selected.
         *
         * @param {Object} item Data model of the selected item
         * @return {void}
         */
        onSelectKabupaten(item) {
            this.kelurahan.kodeKelurahan = item.kodeKabupaten + '.00.0000';
        },
        /**
         * Event handler for combobox provinsi when its item is selected.
         *
         * @param {Object} item Data model of the selected item
         * @return {void}
         */
        onSelectProvinsi(item) {
            this.kelurahan.kodeKelurahan = item.kodeProvinsi + '.00.00.0000';
        }
    }
}
</script>

<style scoped>

</style>
