<template>
  <section class="container">
    <bs-card shadow>
      <bs-card-body>
        <form class="pt-lg-3 px-lg-2" novalidate>
          <div class="form-group">
            <bs-combobox :data-source="dsProvinsi"
                         :external-validator="provinsiIdValidator"
                         @select="onSelectProvinsi"
                         required
                         v-model="kecamatan.provinsiId">
              <label class="col-form-label col-md-2">
                Provinsi
              </label>
              <template slot="itemOption" slot-scope="{ item }">
                <bs-list-tile-action>
                  <span class="text-muted">{{ item.kodeProvinsi }}</span>
                </bs-list-tile-action>
                <bs-list-tile-content>
                  <bs-list-tile-subtitle>{{ item.namaProvinsi }}</bs-list-tile-subtitle>
                </bs-list-tile-content>
              </template>
            </bs-combobox>
          </div>
          <div class="form-group">
            <bs-combobox :data-source="dsKabupaten"
                         :external-validator="kabupatenIdValidator"
                         :parent-value="kecamatan.provinsiId"
                         @data-bind="onBindKabupaten"
                         @select="onSelectKabupaten"
                         required
                         v-model="kecamatan.kabupatenId">
              <label class="col-form-label col-md-2">
                Kabupaten
              </label>
              <template slot="itemOption" slot-scope="{ item }">
                <bs-list-tile-action>
                  <span class="text-muted">{{ item.kodeKabupaten }}</span>
                </bs-list-tile-action>
                <bs-list-tile-content>
                  <bs-list-tile-subtitle>{{ item.namaKabupaten }}</bs-list-tile-subtitle>
                </bs-list-tile-content>
              </template>
            </bs-combobox>
          </div>
          <div class="form-group">
            <bs-text-field :autofocus="isEditMode"
                           :external-validator="kodeKecamatanValidator"
                           required
                           v-model="kecamatan.kodeKecamatan">
              <label class="col-form-label col-md-2">
                Kode Kecamatan
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field :external-validator="namaKecamatanValidator"
                           required
                           v-model="kecamatan.namaKecamatan">
              <label class="col-form-label col-md-2">
                Nama Kecamatan
              </label>
            </bs-text-field>
          </div>
        </form>
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <bs-button color="primary" @click="doSave">
          Simpan
        </bs-button>
      </bs-card-footer>
    </bs-card>
    <bs-mask-loader :opacity="0"
                    :show="kecamatan.updating"
                    :spinner-diameter="50" />
  </section>
</template>

<script>
import { BsStore } from "vue-bs4";
import { validationMixin } from "vuelidate";
import {
    MSG_SAVE_SUCCESS,
    MSG_UPDATE_SUCCESS,
    SAVE,
    STATE_SUCCESS,
    UPDATE
} from "../../../../store/modules/mutation-types";
import { KecamatanModel } from "../../../../models/MasterData/Wilayah/KecamatanModel";
import editorRouteGuard from "../../../../mixins/security/editorRouteGuard";
import httpErrorResponse from "../../../../mixins/httpErrorResponse";
import {
    kecamatanValidationHandler,
    kecamatanValidator
} from "../../../../models/MasterData/Wilayah/KecamatanValidator";

export default {
    name: "FormKecamatan",
    mixins: [validationMixin, kecamatanValidationHandler('kecamatan'), editorRouteGuard, httpErrorResponse],
    data: () => ({
        dsProvinsi: {
            schema: {
                displayField: 'namaProvinsi',
                valueField: 'provinsiId'
            },
            proxy: new BsStore({
                idProperty: 'provinsiId',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    browse: '/master-data/wilayah/provinsi'
                }
            })
        },
        dsKabupaten: {
            schema: {
                displayField: 'namaKabupaten',
                valueField: 'kabupatenId',
                cascadeField: 'provinsi.provinsiId'
            },
            proxy: new BsStore({
                idProperty: 'kabupateniId',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    browse: '/master-data/wilayah/kabupaten'
                }
            })
        },
        /**
         * @type KecamatanModel
         */
        kecamatan: new KecamatanModel(),
        /**
         * Jika bernilai TRUE dipergunakan untuk memperbarui existing data,
         * sebaliknya jika bernilai FALSE dipergunakan untuk menambah data baru.

         * @type boolean
         */
        isEditMode: false
    }),
    created() {
        if (!this.hasEditorAccessRights) {
            this.$router.push('/access-denied');
            return;
        }
        if (this.$route.params.id) {
            this.isEditMode = true;

            this.kecamatan.fetch(this.$route.params.id).then(() => {
                this.kecamatan.provinsiId = this.kecamatan.kabupaten.provinsi.provinsiId;
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/master-data/wilayah/kecamatan');
                });
            });
        }
    },
    beforeDestroy() {
        this.dsProvinsi.proxy.destroy();
        this.dsProvinsi.proxy = null;
        this.dsProvinsi       = null;
        this.dsKabupaten.proxy.destroy();
        this.dsKabupaten.proxy = null;
        this.dsKabupaten       = null;
        this.kecamatan.destroy();
        this.kecamatan = null;
    },
    validations: {
        kecamatan: kecamatanValidator
    },
    methods: {
        /**
         * Send request insert/update data Kecamatan.
         *
         * @return {void}
         */
        doSave() {
            this.$v.$touch();

            if (!this.$v.$error) {
                const text   = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                const action = this.isEditMode ? UPDATE : SAVE;

                this.kecamatan.kabupaten = this.kecamatan.kabupatenId;
                this.kecamatan[action]().then(() => {
                    this.$notification.success('Data ' + text, STATE_SUCCESS);
                    this.$nextTick(() => {
                        this.$router.push('/master-data/wilayah/kecamatan');
                    });
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            }
        },
        /**
         * Event handler for combobox kabupaten when data has been fetched.
         *
         * @param {Object[]} items Data model of the selected item
         * @return {void}
         */
        onBindKabupaten(items) {
            if (items && items.length > 0 && this.kecamatan.kabupaten != null) {
                this.kecamatan.kabupatenId = this.kecamatan.kabupaten.kabupatenId;
            }
        },
        /**
         * Event handler for combobox kabupaten when its item is selected.
         *
         * @param {Object} item Data model of the selected item
         * @return {void}
         */
        onSelectKabupaten(item) {
            this.kecamatan.kodeKecamatan = item.kodeKabupaten + '.00';
        },
        /**
         * Event handler for combobox provinsi when its item is selected.
         *
         * @param {Object} item Data model of the selected item
         * @return {void}
         */
        onSelectProvinsi(item) {
            this.kecamatan.kodeKecamatan = item.kodeProvinsi + '.00.00';
        }
    }
}
</script>

<style scoped>

</style>
