<template>
  <section class="container">
    <bs-card shadow>
      <bs-card-body>
        <form class="pt-lg-3 px-lg-2" novalidate>
          <div class="form-group">
            <bs-combobox :data-source="dsProvinsi"
                         :external-validator="provinsiIdValidator"
                         @select="onSelectProvinsi"
                         required
                         v-model="kabupaten.provinsiId">
              <label class="col-form-label col-md-2">
                Provinsi
              </label>
              <template slot="itemOption" slot-scope="{ item }">
                <bs-list-tile-action>
                  <span class="text-muted">{{ item.kodeProvinsi }}</span>
                </bs-list-tile-action>
                <bs-list-tile-content>
                  <bs-list-tile-subtitle>{{ item.namaProvinsi }}</bs-list-tile-subtitle>
                </bs-list-tile-content>
              </template>
            </bs-combobox>
          </div>

          <div class="form-group">
            <bs-text-field :external-validator="kodeKabupatenValidator"
                           required
                           v-model="kabupaten.kodeKabupaten">
              <label class="col-form-label col-md-2">
                Kode Kabupaten
              </label>
            </bs-text-field>
          </div>

          <div class="form-group">
            <bs-text-field :external-validator="namaKabupatenValidator"
                           required
                           v-model="kabupaten.namaKabupaten">
              <label class="col-form-label col-md-2">
                Nama Kabupaten
              </label>
            </bs-text-field>
          </div>
        </form>
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <bs-button color="primary" @click="doSave">
          Simpan
        </bs-button>
      </bs-card-footer>
    </bs-card>
    <bs-mask-loader :opacity="0"
                    :show="kabupaten.updating"
                    :spinner-diameter="50" />
  </section>
</template>

<script>
import { BsStore } from "vue-bs4";
import { validationMixin } from "vuelidate";
import {
    MSG_SAVE_SUCCESS,
    MSG_UPDATE_SUCCESS,
    SAVE,
    STATE_SUCCESS,
    UPDATE
} from "../../../../store/modules/mutation-types";
import { KabupatenModel } from "../../../../models/MasterData/Wilayah/KabupatenModel";
import {
    kabupatenValidationHandler,
    kabupatenValidator
} from "../../../../models/MasterData/Wilayah/KabupatenValidator";
import editorRouteGuard from "../../../../mixins/security/editorRouteGuard";
import httpErrorResponse from "../../../../mixins/httpErrorResponse";

export default {
    name: "FormKabupaten",
    mixins: [
        validationMixin,
        httpErrorResponse,
        editorRouteGuard,
        kabupatenValidationHandler('kabupaten')
    ],
    data: () => ({
        dsProvinsi: {
            schema: {
                displayField: 'namaProvinsi',
                valueField: 'provinsiId'
            },
            proxy: new BsStore({
                idProperty: 'provinsiId',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    browse: '/master-data/wilayah/provinsi'
                }
            })
        },
        /**
         * @type KabupatenModel
         */
        kabupaten: new KabupatenModel(),
        /**
         * Jika bernilai TRUE dipergunakan untuk memperbarui existing data,
         * sebaliknya jika bernilai FALSE dipergunakan untuk menambah data baru.

         * @type boolean
         */
        isEditMode: false
    }),
    created() {
        if (!this.hasEditorAccessRights) {
            this.$router.push('/access-denied');
            return;
        }
        if (this.$route.params.id) {
            this.isEditMode = true;

            this.kabupaten.fetch(this.$route.params.id).then(() => {
                this.kabupaten.provinsiId = this.kabupaten.provinsi.provinsiId;
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/master-data/wilayah/kabupaten');
                });
            });
        }
    },
    beforeDestroy() {
        this.dsProvinsi.proxy.destroy();
        this.dsProvinsi.proxy = null;
        this.dsProvinsi       = null;
        this.kabupaten.destroy();
        this.kabupaten = null;
    },
    validations: {
        kabupaten: kabupatenValidator
    },
    methods: {
        /**
         * Send request insert/update data Kabupaten.
         *
         * @return {void}
         */
        doSave() {
            this.$v.$touch();

            if (!this.$v.$error) {
                const text   = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                const action = this.isEditMode ? UPDATE : SAVE;

                this.kabupaten.provinsi = this.kabupaten.provinsiId;
                this.kabupaten[action]().then(() => {
                    this.$notification.success('Data ' + text, STATE_SUCCESS);
                    this.$nextTick(() => {
                        this.$router.push('/master-data/wilayah/kabupaten');
                    });
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            }
        },
        /**
         * Event handler for combobox provinsi when its item is selected.
         *
         * @param {Object} item Data model of the selected item
         * @return {void}
         */
        onSelectProvinsi(item) {
            this.kabupaten.kodeKabupaten = item.kodeProvinsi + '.00';
        }
    }
}
</script>

<style scoped>

</style>
