<template>
  <section class="container">
    <bs-card shadow>
      <bs-card-body>
        <form class="pt-lg-3 px-lg-2" novalidate>
          <div class="form-group">
            <bs-text-field :external-validator="kodeProvinsiValidator"
                           autofocus
                           required
                           v-model="provinsi.kodeProvinsi">
              <label class="col-form-label col-md-2">
                Kode Provinsi
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field :external-validator="namaProvinsiValidator"
                           required
                           v-model="provinsi.namaProvinsi">
              <label class="col-form-label col-md-2">
                Nama Provinsi
              </label>
            </bs-text-field>
          </div>
        </form>
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <bs-button color="primary" @click="doSave">
          Simpan
        </bs-button>
      </bs-card-footer>
    </bs-card>
    <bs-mask-loader :opacity="0"
                    :show="provinsi.updating"
                    :spinner-diameter="50" />
  </section>
</template>

<script>
import { validationMixin } from "vuelidate";
import {
    MSG_SAVE_SUCCESS,
    MSG_UPDATE_SUCCESS,
    SAVE,
    STATE_SUCCESS,
    UPDATE
} from "../../../../store/modules/mutation-types";
import { ProvinsiModel } from "../../../../models/MasterData/Wilayah/ProvinsiModel";
import { provinsiValidationHandler, provinsiValidator } from "../../../../models/MasterData/Wilayah/ProvinsiValidator";
import editorRouteGuard from "../../../../mixins/security/editorRouteGuard";
import httpErrorResponse from "../../../../mixins/httpErrorResponse";

export default {
    name: "FormProvinsi",
    mixins: [validationMixin, provinsiValidationHandler('provinsi'), editorRouteGuard, httpErrorResponse],
    data: () => ({
        /**
         * @type {ProvinsiModel}
         */
        provinsi: new ProvinsiModel(),
        /**
         * Jika bernilai TRUE dipergunakan untuk memperbarui existing data,
         * sebaliknya jika bernilai FALSE dipergunakan untuk menambah data baru.
         *
         * @type {boolean}
         */
        isEditMode: false
    }),
    created() {
        if (!this.hasEditorAccessRights) {
            this.$router.push('/access-denied');
        }
    },
    mounted() {
        if (this.$route.params.id) {
            this.isEditMode = true;

            this.provinsi.fetch(this.$route.params.id).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/master-data/wilayah/provinsi');
                });
            });
        }
    },
    beforeDestroy() {
        this.provinsi.destroy();
        this.provinsi = null;
    },
    validations: {
        provinsi: provinsiValidator
    },
    methods: {
        /**
         * Send request insert/update data Provinsi.
         *
         * @return {void}
         */
        doSave() {
            this.$v.$touch();

            if (!this.$v.$error) {
                const text   = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                const action = this.isEditMode ? UPDATE : SAVE;

                this.provinsi[action]().then(() => {
                    this.$notification.success('Data ' + text, STATE_SUCCESS);
                    this.$nextTick(() => {
                        this.$router.push('/master-data/wilayah/provinsi');
                    });
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            }
        }
    }
}
</script>

<style scoped>

</style>
