<template>
    <div>
        <bs-tabs v-model="activeTab" variant="material" color="nav-page">
            <bs-tab path="./rencana" label="RENCANA KEGIATAN" />
            <bs-tab path="./realisasi" label="REALISASI KEGIATAN" />
            <bs-tab path="./pembobotan-bidang" label="PEMBOBOTAN BIDANG" />
            <bs-tab path="./pembobotan-program" label="PEMBOBOTAN PROGRAM" />
        </bs-tabs>
        <router-view />
    </div>

</template>

<script>
export default {
    name: "KendaliProyek",
    data: () => ({
        activeTab: null
    })
}
</script>

<style scoped>

</style>