<template>
    <div>
    <bs-card shadow>
        <bs-card-header>Pembobotan Program CSR</bs-card-header>
        <bs-card-body class="pb-0">
            <div class="form-group">
                <bs-combobox v-model="bidangId"
                             :data-source="dsJenis"
                             @change="fetchPembobotan">
                    <label class="col-form-label col-md-3 col-xl-2">
                        Bidang CSR
                    </label>
                </bs-combobox>
            </div>

            <div class="table-responsive" style="min-height: 250px; position: relative">
                <table class="table table-sm table-valign-middle table-bordered table-outer-borderless mb-0">
                    <thead class="thead-light">
                    <tr>
                        <th class="text-center text-nowrap" width="40px">
                            #
                        </th>
                        <th class="text-center text-nowrap">
                            Program CSR
                        </th>
                        <th class="text-center text-nowrap" width="120px">
                            Bobot (%)
                        </th>
                        <th class="text-center text-nowrap" width="120px">
                            Tindakan
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, row) in dataPembobotanProgram">
                        <td>
                            {{ row + 1 }}
                        </td>
                        <td>
                                {{ item.program.name }}
                        </td>
                        <td class="text-center text-nowrap">
                            <bs-number-field v-if="editing && (editedRow === row)"
                                             v-model="item.pembobotan.bobot" />
                            <span v-else>
                            {{ item.pembobotan ? item.pembobotan.bobot : '-' }}
                            </span>
                        </td>
                        <td class="text-center text-nowrap">
                            <template v-if="hasEditorAccessRights">
                                <bs-tooltip v-if="!editing || (editedRow !== row)"
                                            content="Sunting Data"
                                            placement="top"
                                >
                                    <bs-button @click="doEditing(row)"
                                               color="primary"
                                               icon="pen"
                                               icon-position="left"
                                               outlined
                                               size="xs" />
                                </bs-tooltip>
                                <div v-else>
                                    <bs-button
                                            @click="confirmSave(item)"
                                            color="primary"
                                            size="xs" >
                                        Simpan
                                    </bs-button>
                                </div>
                            </template>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <bs-mask-loader :opacity="0"
                    :show="loading"
                    :spinner-diameter="50" />
            </div>
        </bs-card-body>
    </bs-card>
    <bs-modal :open.sync="isModalOpen"
              :overlay-close="false"
              max-width="85%"
              title="Konfirmasi"
              width="400">
        Apakah anda yakin akan mengubah bobot: <b>{{ program ? program.title : '' }}</b>?
        <bs-button slot="footer"
                   color="secondary"
                   outlined
                   @click="isModalOpen = false">
            Batal
        </bs-button>
        <bs-button slot="footer" color="success" @click="doSave(program, newBobot)">
            Simpan
        </bs-button>
    </bs-modal>
    </div>
</template>

<script>

    import {MSG_SAVE_SUCCESS, STATE_SUCCESS} from "../../../store/modules/mutation-types";
    import httpErrorResponse from "../../../mixins/httpErrorResponse";
    import defaultRouteGuard from "../../../mixins/security/defaultRouteGuard";
    import {BsStore} from "vue-bs4";

    export default {
        name: "PembobotanProgram",
        mixins: [httpErrorResponse, defaultRouteGuard],
        data: () => ({
            dsJenis: {
                schema: {
                    displayField: 'title',
                    valueField: 'id'
                },
                proxy: new BsStore({
                    idProperty: 'id',
                    dataProperty: 'data',
                    totalProperty: 'total',
                    restUrl: {
                        browse: '/master-data/bidang-csr'
                    }
                })
            },
            bidangId: null,
            dataPembobotanProgram: [],
            loading: false,
            editing: false,
            editedRow: null,
            program: null,
            newBobot: null,
            isModalOpen: false
        }),
        mounted () {
            //
        },
        methods: {
            fetchPembobotan() {
                this.loading = true;
                this.$http.get('/kegiatan/pembobotan-program/'+this.bidangId,null, null).then((resp) => {
                    this.dataPembobotanProgram = resp.data.data;
                    var prog;
                    for (prog of this.dataPembobotanProgram) {
                        if (prog.pembobotan == null) {
                            prog.pembobotan = {
                                bobot: null
                            }
                        }
                    }
                    this.loading = false;
                    this.editing = false;
                    this.editedRow = null;
                }).catch((error) => {
                    this.loading = false;
                    this.showErrorMessage(error);

                });
            },
            doEditing(row) {
                this.editing = true;
                this.editedRow = row;
            },
            confirmSave(item){
                this.program = item.program;
                this.newBobot = item.pembobotan.bobot;
                this.isModalOpen = true;
            },
            doSave(program, bobot) {
                this.isModalOpen = false;
                this.$http.post(
                    '/kegiatan/pembobotan-program/save/'+program.msid,
                    { 'bobot': bobot }
                ).then(resp => {
                    this.$notification.success('Data Pembobotan Program' + MSG_SAVE_SUCCESS, STATE_SUCCESS);
                    this.editing = false;
                    this.fetchPembobotan();
                }).catch(ex => {
                    this.showErrorMessage(ex);
                    this.editing = false;
                    this.editedRow = null;
                    this.fetchPembobotan();
                })
            },
            cancelSave() {
                this.isModalOpen = false;
                this.editing = false;
                this.editedRow = null;
                this.fetchPembobotan();
            }
        },
        beforeDestroy() {
            this.dataPembobotanProgram = null;
            this.program = null;
        }

    }
</script>

<style scoped>

</style>