<template>
  <div>
    <bs-card shadow>
      <bs-card-header>Realisasi Penyelesaian Kegiatan</bs-card-header>
      <bs-card-body class="pb-0">
        <div class="row">
          <div class="col-xl-7">
            <div class="form-group">
              <bs-combobox required :data-source="dsJenis" v-model="bidangId">
                <label class="col-form-label col-lg-3">Bidang CSR</label>
              </bs-combobox>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-7">
            <div class="form-group">
              <bs-combobox required :data-source="dsProgram" v-model="programId" :parent-value="bidangId"
                           @change="loadKegiatanList">
                <label class="col-form-label col-lg-3">Program CSR</label>
              </bs-combobox>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-7">
            <div class="form-group">
              <bs-date-time-field
                      required
                      v-model="tahun"
                      format="YYYY"
                      view-mode="year"
                      append-icon="calendar"
                      @change="loadKegiatanList">
                <label class="col-form-label col-lg-3">
                  Tahun
                </label>
              </bs-date-time-field>
            </div>
          </div>
        </div>

        <div class="table-responsive-xl mb-2">
          <table class="table table-valign-middle table-bordered mb-1">
            <thead class="thead-light">
            <tr>
              <th class="text-center text-nowrap" width="30px">#</th>
              <th class="flex-grow-1 border-left-0" style="width: 350px;">Kegiatan</th>
              <th class="flex-grow-1 border-left-0" style="width: 90px;">Bobot</th>
              <th class="flex-grow-1 border-left-0" style="width: 70px;">Jan</th>
              <th class="flex-grow-1 border-left-0" style="width: 70px;">Feb</th>
              <th class="flex-grow-1 border-left-0" style="width: 70px;">Mar</th>
              <th class="flex-grow-1 border-left-0" style="width: 70px;">Apr</th>
              <th class="flex-grow-1 border-left-0" style="width: 70px;">Mei</th>
              <th class="flex-grow-1 border-left-0" style="width: 70px;">Jun</th>
              <th class="flex-grow-1 border-left-0" style="width: 70px;">Jul</th>
              <th class="flex-grow-1 border-left-0" style="width: 70px;">Agt</th>
              <th class="flex-grow-1 border-left-0" style="width: 70px;">Sep</th>
              <th class="flex-grow-1 border-left-0" style="width: 70px;">Okt</th>
              <th class="flex-grow-1 border-left-0" style="width: 70px;">Nov</th>
              <th class="flex-grow-1 border-left-0" style="width: 70px;">Des</th>
              <th class="text-center text-nowrap" width="120px"> Tindakan </th>
            </tr>
            </thead>

            <tbody>
            <template v-for="(kegiatan1, idx) in dataRealisasi">
              <tr :key="idx">
                <td>{{ idx + 1 }}</td>
                <td>{{kegiatan1.namaKegiatan}}</td>
                <template v-if="kegiatan1.kendaliKegiatan">
                  <td class="text-right text-muted">
                      {{ kegiatan1.kendaliKegiatan.bobot != null
                      ? kegiatan1.kendaliKegiatan.bobot + '%' : '-' }}
                  </td>
                  <td v-for="(idx2) in 12">
                    <span class="text-muted">
                    {{ kegiatan1.kendaliKegiatan['rencana'+(idx2)] != null
                    ? 'Rc:'+kegiatan1.kendaliKegiatan['rencana'+(idx2)] + '% ': ' ' }}
                    </span>
                    <bs-number-field v-if="editing && (editedRow === idx)"
                                     v-model="kegiatan1.kendaliKegiatan['realisasi'+(idx2)]"
                                     @blur="validateRow(kegiatan1.kendaliKegiatan, idx, idx2)"
                                     control-cls="text-right" />
                    <span v-else>
                      <strong>{{ kegiatan1.kendaliKegiatan['realisasi'+(idx2)] != null
                        ? 'Rl:'+kegiatan1.kendaliKegiatan['realisasi'+(idx2)] + '%': ' ' }}</strong>
                    </span>
                  </td>
                  <td class="text-center text-nowrap">
                    <template v-if="hasEditorAccessRights">
                      <bs-tooltip v-if="!editing || (editedRow !== idx)"
                                  content="Sunting Data"
                                  placement="top"
                      >
                        <bs-button @click="doEditing(idx)"
                                   color="primary"
                                   icon="pen"
                                   icon-position="left"
                                   outlined
                                   size="xs" />
                      </bs-tooltip>
                      <div v-else>
                        <bs-button
                                @click="confirmSave(kegiatan1)"
                                color="primary"
                                size="xs" >
                          Simpan
                        </bs-button>
                      </div>
                    </template>
                  </td>
                </template>
                <td v-else colspan="14" class="text-center">
                  Belum ada Rencana Kegiatan
                </td>
              </tr>
              <!-- second row -->
              <tr v-if="editing && (editedRow === idx)">
                <td colspan="16" class="text-center">
                  <span v-if="validationMsg ">
                    {{ validationMsg }}
                  </span>
                </td>
              </tr>
            </template>
            </tbody>
          </table>
          <bs-mask-loader :opacity="0" :show="loading" :spinner-diameter="50" />
        </div>
      </bs-card-body>
    </bs-card>
    <bs-modal :open.sync="isModalOpen"
              :overlay-close="false"
              max-width="85%"
              title="Konfirmasi"
              width="400">
      Apakah anda yakin akan menyunting realisasi: <b>{{ kegiatan ? kegiatan.namaKegiatan : '' }}</b>?
      <bs-button slot="footer"
                 color="secondary"
                 outlined
                 @click="isModalOpen = false">
        Batal
      </bs-button>
      <bs-button slot="footer" color="success" @click="doSave(kegiatan)">
        Simpan
      </bs-button>
    </bs-modal>
  </div>
</template>


<script>
  import Vue from 'vue';
  import { BsStore, BsArrayStore, Helper } from "vue-bs4";
  import {MSG_SAVE_SUCCESS, STATE_SUCCESS} from "../../../store/modules/mutation-types";
  import httpErrorResponse from "../../../mixins/httpErrorResponse";
  import defaultRouteGuard from "../../../mixins/security/defaultRouteGuard";

export default {
  name: "Realisasi",
  mixins: [httpErrorResponse, defaultRouteGuard],
  data: () => ({
    dsJenis: {
      schema: {
        displayField: 'title',
        valueField: 'id'
      },
      proxy: new BsStore({
        idProperty: 'id',
        dataProperty: 'data',
        totalProperty: 'total',
        restUrl: {
          browse: '/master-data/bidang-csr'
        }
      })
    },
    dsProgram: {
      schema: {
        displayField: "name",
        valueField: "msid",
        cascadeField: "jenis.id",
      },
      proxy: new BsStore({
        idProperty: "msid",
        dataProperty: "data",
        totalProperty: "total",
        restUrl: {
          browse: "/master-data/program-csr"
        }
      })
    },
    bidangId: null,
    programId: null,
    tahun: null,

    dataRealisasi: [],
    validationMsg: '',
    loading: false,
    editing: false,
    editedRow: null,
    kegiatan: null,
    isModalOpen: false
  }),
  methods: {
    loadKegiatanList() {
      if ((this.programId != null) && (this.tahun != null)) {
        this.loading = true;
        this.$http
                .get('/kegiatan/kendalikegiatan/by-program/'+this.programId+'/'+this.tahun)
                .then((resp) => {
                  this.dataRealisasi = resp.data.data;
                  this.loading = false;
                  this.editing = false;
                  this.editedRow = null;
                }).catch((error) => {
          this.loading = false;
          this.showErrorMessage(error);

        });

      }
      else {
        this.dataRealisasi = [];
      }
    },
    doEditing(row) {
      this.editing = true;
      this.validationMsg = '';
      this.editedRow = row;
    },
    validateRow(kendaliKegiatan) {
      this.validationMsg = '';
      let highest = 0;
      let i;
      for (i=1; i<=12; i++){
        let value = kendaliKegiatan['realisasi'+i];
        if (value!=null) {
          if ((value < 0) || (value > 100)) {
            this.validationMsg = 'Nilai realisasi harus antara 0 - 100 (bulan '+i+')';
            return;
          }
          if (value < highest) {
            this.validationMsg = 'Nilai realisasi seharusnya lebih besar dari bulan sebelumnya (bulan '+i+')';
            return;
          }

          if (value >= highest) {
            highest = value;
          }
        }
      }
      if (highest < 100) {
        this.validationMsg = 'Nilai realisasi tidak mencapai 100';
        return;
      }
      if (highest > 100) {
        this.validationMsg = 'Nilai realisasi melebihi 100';
        return;
      }
    },
    confirmSave(item){
      this.kegiatan = item;
      this.isModalOpen = true;
    },
    doSave(kegiatan) {
      this.isModalOpen = false;
      this.$http.post(
              '/kegiatan/kendalikegiatan/save-realisasi/'+kegiatan.kegiatanId,
              { 'kendaliKegiatan' : kegiatan.kendaliKegiatan }
      ).then(resp => {
        this.$notification.success('Data Realisasi Kegiatan' + MSG_SAVE_SUCCESS, STATE_SUCCESS);
        this.editing = false;
        this.validationMsg = '';
        this.loadKegiatanList();
      }).catch(ex => {
        this.showErrorMessage(ex);
        this.editing = false;
        this.editedRow = null;
        this.loadKegiatanList();
      })
    },
    cancelSave() {
      this.isModalOpen = false;
      this.editing = false;
      this.editedRow = null;
      this.validationMsg = '';
      this.loadKegiatanList();
    }
  },

  beforeDestroy() {
    this.dataRealisasi = null;
    this.kegiatan = null;
    this.validationMsg = null;
  }};
</script>

<style scoped></style>
