<template>
    <div>
        <bs-card shadow>
            <bs-card-header>Rencana Penyelesaian Kegiatan</bs-card-header>
            <bs-card-body class="pb-0">
                <div class="row">
                    <div class="col-xl-7">
                        <div class="form-group">
                            <bs-combobox required :data-source="dsJenis" v-model="bidangId">
                                <label class="col-form-label col-lg-3">Bidang CSR</label>
                            </bs-combobox>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-7">
                        <div class="form-group">
                            <bs-combobox required :data-source="dsProgram" v-model="programId" :parent-value="bidangId"
                                         @change="loadKegiatanList">
                                <label class="col-form-label col-lg-3">Program CSR</label>
                            </bs-combobox>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-7">
                        <div class="form-group">
                            <bs-date-time-field
                                    required
                                    v-model="tahun"
                                    format="YYYY"
                                    view-mode="year"
                                    append-icon="calendar"
                                    @change="loadKegiatanList">
                                <label class="col-form-label col-lg-3">
                                    Tahun
                                </label>
                            </bs-date-time-field>
                        </div>
                    </div>
                </div>

                <div class="table-responsive-xl mb-2">
                    <table class="table table-valign-middle table-bordered mb-1">
                        <thead class="thead-light">
                        <tr>
                            <th class="text-center text-nowrap" width="30px">#</th>
                            <th class="flex-grow-1 border-left-0" style="width: 350px;">Kegiatan</th>
                            <th class="flex-grow-1 border-left-0" style="width: 90px;">Bobot</th>
                            <th class="flex-grow-1 border-left-0" style="width: 70px;">Jan</th>
                            <th class="flex-grow-1 border-left-0" style="width: 70px;">Feb</th>
                            <th class="flex-grow-1 border-left-0" style="width: 70px;">Mar</th>
                            <th class="flex-grow-1 border-left-0" style="width: 70px;">Apr</th>
                            <th class="flex-grow-1 border-left-0" style="width: 70px;">Mei</th>
                            <th class="flex-grow-1 border-left-0" style="width: 70px;">Jun</th>
                            <th class="flex-grow-1 border-left-0" style="width: 70px;">Jul</th>
                            <th class="flex-grow-1 border-left-0" style="width: 70px;">Agt</th>
                            <th class="flex-grow-1 border-left-0" style="width: 70px;">Sep</th>
                            <th class="flex-grow-1 border-left-0" style="width: 70px;">Okt</th>
                            <th class="flex-grow-1 border-left-0" style="width: 70px;">Nov</th>
                            <th class="flex-grow-1 border-left-0" style="width: 70px;">Des</th>
                            <th class="flex-grow-1 border-left-0" style="width: 120px;">Jumlah</th>
                            <th class="text-center text-nowrap" width="120px"> Tindakan </th>
                        </tr>
                        </thead>


                        <tbody>
                        <template v-for="(rencana, idx) in dataRencana">
                            <tr :key="idx">
                                <td>{{ idx + 1 }}</td>
                                <td>{{rencana.namaKegiatan}}</td>
                                <td class="text-right">
                                    <bs-number-field v-if="editing && (editedRow === idx)"
                                                     v-model="rencana.kendaliKegiatan.bobot"
                                                     control-cls="text-right" />
                                    <span v-else>
                                        {{ rencana.kendaliKegiatan.bobot != null
                                        ? rencana.kendaliKegiatan.bobot + '%' : '-' }}
                                    </span>
                                </td>
                                <td v-for="(idx2) in 12" class="text-right">
                                    <bs-number-field v-if="editing && (editedRow === idx)"
                                                     v-model="rencana.kendaliKegiatan['rencana'+(idx2)]"
                                                     @blur="validateRow(rencana.kendaliKegiatan, idx, idx2)"
                                                     control-cls="text-right" />
                                    <span v-else>
                                        {{ rencana.kendaliKegiatan['rencana'+(idx2)] != null
                                        ? rencana.kendaliKegiatan['rencana'+(idx2)] + '%': ' ' }}
                                    </span>
                                </td>
                                <td class="text-right">
                                    {{ countJumlah(rencana.kendaliKegiatan) }}
                                </td>
                                <td class="text-center text-nowrap">
                                    <template v-if="hasEditorAccessRights">
                                        <bs-tooltip v-if="!editing || (editedRow !== idx)"
                                                    content="Sunting Data"
                                                    placement="top"
                                        >
                                            <bs-button @click="doEditing(idx)"
                                                       color="primary"
                                                       icon="pen"
                                                       icon-position="left"
                                                       outlined
                                                       size="xs" />
                                        </bs-tooltip>
                                        <div v-else>
                                            <bs-button
                                                    @click="confirmSave(rencana)"
                                                    color="primary"
                                                    size="xs" >
                                                Simpan
                                            </bs-button>
                                        </div>
                                    </template>
                                </td>
                            </tr>
                            <!-- second row -->
                            <tr v-if="editing && (editedRow === idx)">
                                <td colspan="16" class="text-center">
                                    <span v-if="validationMsg ">
                                    {{ validationMsg }}
                                    </span>
                                </td>
                            </tr>
                        </template>
                        <template v-if="dataRencana.length > 0">
                            <tr>
                                <td> &nbsp; </td>
                                <td> JUMLAH BOBOT </td>
                                <td class="text-right">
                                    <span class="text-danger">
                                    {{ jumlahBobot }}
                                    </span>
                                </td>
                                <td colspan="14"></td>
                            </tr>
                            <tr v-if="bobotValidation">
                                <td colspan="16" class="text-center font-weight-bold">
                                    {{ bobotValidation }}
                                </td>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                    <bs-mask-loader :opacity="0" :show="loading" :spinner-diameter="50" />
                </div>
            </bs-card-body>
        </bs-card>
        <bs-modal :open.sync="isModalOpen"
                  :overlay-close="false"
                  max-width="85%"
                  title="Konfirmasi"
                  width="400">
            Apakah anda yakin akan mengubah rencana: <b>{{ kegiatan ? kegiatan.namaKegiatan : '' }}</b>?
            <bs-button slot="footer"
                       color="secondary"
                       outlined
                       @click="isModalOpen = false">
                Batal
            </bs-button>
            <bs-button slot="footer" color="success" @click="doSave(kegiatan)">
                Simpan
            </bs-button>
        </bs-modal>
    </div>
</template>


<script>
    import Vue from 'vue';
    import { BsStore, BsArrayStore, Helper } from "vue-bs4";
    import {MSG_SAVE_SUCCESS, STATE_SUCCESS} from "../../../store/modules/mutation-types";
    import httpErrorResponse from "../../../mixins/httpErrorResponse";
    import defaultRouteGuard from "../../../mixins/security/defaultRouteGuard";
    // import { mapGetters, mapMutations } from "vuex";

    export default {
        name: "Rencana",
        mixins: [httpErrorResponse, defaultRouteGuard],
        data: () => ({
            dsJenis: {
                schema: {
                    displayField: 'title',
                    valueField: 'id'
                },
                proxy: new BsStore({
                    idProperty: 'id',
                    dataProperty: 'data',
                    totalProperty: 'total',
                    restUrl: {
                        browse: '/master-data/bidang-csr'
                    }
                })
            },
            dsProgram: {
                schema: {
                    displayField: "name",
                    valueField: "msid",
                    cascadeField: "jenis.id",
                },
                proxy: new BsStore({
                    idProperty: "msid",
                    dataProperty: "data",
                    totalProperty: "total",
                    restUrl: {
                        browse: "/master-data/program-csr"
                    }
                })
            },
            bidangId: null,
            programId: null,
            tahun: null,

            dataRencana: [],
            validationMsg: '',
            loading: false,
            editing: false,
            editedRow: null,
            kegiatan: null,
            isModalOpen: false
        }),
        computed: {
            jumlahBobot(){
                let total = 0;
                if (this.dataRencana){
                    let kegiatan;
                    for (kegiatan of this.dataRencana){
                        if (kegiatan.kendaliKegiatan){
                            total += kegiatan.kendaliKegiatan.bobot
                        }
                    }
                }
                return total;
            },
            bobotValidation(){
                if (this.jumlahBobot != 100) {
                    return 'Jumlah bobot tidak sama dengan 100%'
                }
                return null
            }
        },
        mounted() {
        },
        // methods
        methods: {
            loadKegiatanList() {
                if ((this.programId != null) && (this.tahun != null)) {
                    this.loading = true;
                    this.$http
                        .get('/kegiatan/kendalikegiatan/by-program/' + this.programId + '/' + this.tahun, {}, {})
                        .then((resp) => {
                            this.dataRencana = resp.data.data;
                            var kegiatan;
                            for (kegiatan of this.dataRencana) {
                                if (kegiatan.kendaliKegiatan == null) {
                                    kegiatan.kendaliKegiatan = {
                                        bobot: null,
                                        rencana1: null,
                                        rencana2: null,
                                        rencana3: null,
                                        rencana4: null,
                                        rencana5: null,
                                        rencana6: null,
                                        rencana7: null,
                                        rencana8: null,
                                        rencana9: null,
                                        rencana10: null,
                                        rencana11: null,
                                        rencana12: null
                                    }
                                }
                            }
                            this.loading = false;
                            this.editing = false;
                            this.editedRow = null;
                        }).catch((error) => {
                        this.loading = false;
                        this.showErrorMessage(error);

                    });

                }
                else {
                    this.dataRencana = [];
                }
            },
            doEditing(row) {
                this.editing = true;
                this.validationMsg = '';
                this.editedRow = row;
            },
            validateRencana(kendaliKegiatan) {
                this.validationMsg = '';
                let i;
                for (i=1; i<=12; i++){
                    let value = kendaliKegiatan['rencana'+i];
                    if (value != null) {
                        if ((value < 0) || (value > 100)) {
                            this.validationMsg = 'Nilai rencana harus antara 0 - 100 (bulan '+i+')';
                            return false;
                        }
                    }
                }
                return true;
            },
            countJumlah(item){
                if (!item) {
                    return 0;
                }
                let total = 0;
                let i;
                for (i=1; i<=12; i++){
                    let value = item['rencana'+i];
                    total += value;
                }
                return total;
            },
            validateJumlah(item){
                let jumlah = this.countJumlah(item);
                if (jumlah != 100) {
                    console.log(jumlah, item);
                    this.validationMsg = 'Jumlah nilai rencana tidak sama dengan 100';
                    return false;
                }
                return true;
            },
            validateRow(item){
                return this.validateRencana(item) && this.validateJumlah(item);
            },
            confirmSave(rencana){
                let item = rencana.kendaliKegiatan;
                if (!this.validateRow(item)){
                    this.$notification.error(this.validationMsg);
                    return;
                }
                this.kegiatan = rencana;
                this.isModalOpen = true;
            },
            doSave(kegiatan) {
                this.isModalOpen = false;
                this.$http.post(
                    '/kegiatan/kendalikegiatan/save-rencana/'+kegiatan.kegiatanId,
                    { 'kendaliKegiatan' : kegiatan.kendaliKegiatan }
                ).then(resp => {
                    this.$notification.success('Data Rencana Kegiatan' + MSG_SAVE_SUCCESS, STATE_SUCCESS);
                    this.editing = false;
                    this.validationMsg = '';
                    this.loadKegiatanList();
                }).catch(ex => {
                    this.showErrorMessage(ex);
                    this.editing = false;
                    this.editedRow = null;
                    this.loadKegiatanList();
                })
            },
            cancelSave() {
                this.isModalOpen = false;
                this.editing = false;
                this.editedRow = null;
                this.validationMsg = '';
                this.loadKegiatanList();
            }
        },
        beforeDestroy() {
            this.dataRencana = null;
            this.kegiatan = null;
            this.validationMsg = null;
        }
    };
</script>

<style scoped></style>
