{% extends 'layout/base.html.twig' %}

{% block head_title %}Ganti Alamat Email - Adaro CSRMS{% endblock %}

{% block body %}
  <div class="container-fluid wrapper">
    <img src="{{ asset('images/login-artbox.png') }}" alt="" class="art">
    <div class="logo">
      <img src="{{ asset('images/login-logo.png') }}" alt="">
    </div>
    <div class="form-panel">
      <h4 class="page-title">{{ "ChangeEmail.ConfirmPageTitle"|trans }}</h4>
      <div class="alert alert-success">
        <p>{{ "ChangeEmail.ConfirmThanksParagraph"|trans }}</p>
        <p class="mb-1">{{ "ChangeEmail.CheckFolderSpam"|trans }}</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('default-page') }}
{% endblock %}