{% extends 'layout/base.html.twig' %}

{% block head_title %}Ganti Kata Sandi - Adaro CSRMS{% endblock %}

{% block body %}
  <div class="container-fluid wrapper">
    <img src="{{ asset('images/login-artbox.png') }}" alt="" class="art">
    <div class="logo">
      <img src="{{ asset('images/login-logo.png') }}" alt="">
    </div>
    <div class="form-panel">
      <h4 class="page-title">{{ "ChangeEmail.ConfirmPageTitle"|trans }}</h4>
      {% for message in app.flashes('notice') %}
        <div class="alert alert-danger">
          {{ message|trans }}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('default-page') }}
{% endblock %}