{% extends 'layout/base.html.twig' %}

{% block head_title %}Konfirmasi Alamat Email - Adaro CSRMS{% endblock %}

{% block body %}
  <div class="container-fluid wrapper">
    <img src="{{ asset('images/login-artbox.png') }}" alt="" class="art">
    <div class="logo">
      <img src="{{ asset('images/login-logo.png') }}" alt="">
    </div>
    <div class="form-panel">
      <h4 class="page-title">{{ "ChangeEmail.VerifiedPageTitle"|trans }}</h4>
      <div class="alert alert-success">
        <p class="mb-1">{{ "ChangeEmail.VerifiedThanksParagraph"|trans }}</p>
      </div>
      <div class="action-group">
        <a href="{{ path('auth_login_form') }}" class="btn btn-block btn-secondary">
          {{ "Button.Back"|trans }}
        </a>
      </div>
    </div>
  </div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('default-page') }}
{% endblock %}