@import "component/variables";

.wrapper {
    img.art {
        top: 0;
        right: 0;
        position: absolute;
        opacity: 0.4;
    }

    .logo {
        background-color: var(--white);
        text-align: center;
        margin-top: 70px;
    }

    .form-panel {
        width: 300px;
        margin: 40px auto;

        .page-title {
            color: $text-color-darkest;
            font-weight: 400;
            margin-bottom: 30px;
            text-align: center;
        }

        .form-group {
          .input-group {
            > .custom-append {
              cursor: pointer;
              padding: .375rem .75rem;
              position: absolute;
              right: 0;
              z-index: 3;
            }
          }
            > label {
                font-size: 1rem;
                font-weight: 400;
            }

            input {
                &::placeholder {
                    color: $gray-500;
                    font-size: $placeholder-text-size;
                }

                &::-moz-placeholder {
                    color: $gray-500;
                    font-size: $placeholder-text-size;
                }

                &::-webkit-input-placeholder {
                    color: $gray-500;
                    font-size: $placeholder-text-size;
                }

                &:-ms-input-placeholder {
                    color: $gray-500;
                    font-size: $placeholder-text-size;
                }
            }
        }

        .action-group {
            padding-top: 1rem;

            .btn-main {
                background-color: $bg-primary-color;
                color: $btn-text-color;

                &:hover {
                    background-color: lighten($bg-primary-color, 3%);
                }
            }
        }
    }

}