@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "component/variables";

#cover {
    background-image: url('../images/login-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 100vh;

    @include media-breakpoint-down(md) {
        display: none
    }
}

.top-header {
    background-color: var(--white);
    padding: 20px 50px;
    width: 800px;
    border-bottom-right-radius: 100px;
    box-shadow: 0 12px 22px rgba(0, 0, 0, 0.5);

    > img {
        margin-top: -35px;
    }

    > .tagline {
        font-weight: 500;
        font-size: 40px;
        margin-left: 30px;
        border-left: 1px solid #ddd;
        padding-left: 30px;
        color: $text-primary-color;
        text-transform: uppercase;
        text-shadow: 1px 1px 5px rgba($text-primary-color, .7);
    }
}

.login-wrapper {
    font-size: 1rem;
    padding: 0;
    position: relative;

    > .art {
        right: 0;
        position: absolute;
        opacity: 0.4;
    }

    > .login-panel {
        padding-top: 100px;
        position: absolute;

        > .login-panel-heading {
            padding: 25px 25px 0;

            > h2 {
                color: $text-color-darkest;
                font-weight: 400;
            }

            > p {
                font-weight: bold;
                font-size: 1.15rem;
            }
        }

        > .login-panel-body {
            padding: 25px;

            .form-group {
                .input-group {
                    > .form-control {
                        &.custom-input {
                            padding-right: 2.25rem;
                        }
                    }

                    > .custom-append {
                        cursor: pointer;
                        padding: .375rem .75rem;
                        position: absolute;
                        right: 0;
                        z-index: 3;
                    }
                }

                > label {
                    font-weight: 400;
                }

                input {
                    &::placeholder {
                        color: $gray-500;
                        font-size: $placeholder-text-size;
                    }

                    &::-moz-placeholder {
                        color: $gray-500;
                        font-size: $placeholder-text-size;
                    }

                    &::-webkit-input-placeholder {
                        color: $gray-500;
                        font-size: $placeholder-text-size;
                    }

                    &:-ms-input-placeholder {
                        color: $gray-500;
                        font-size: $placeholder-text-size;
                    }
                }
            }
        }

        .action-group {
            margin-top: 50px;
        }

        .btn-main {
            background-color: $bg-primary-color;
            color: $btn-text-color;
        }

        .forgot-password {
            font-size: $placeholder-text-size;

            > a {
                color: $text-primary-color;
            }
        }
    }

    @include media-breakpoint-down(md) {
        flex: none;
        padding-right: 30px;
        padding-left: 30px;
        max-width: 100% !important;

        > .login-panel {
            > .login-panel-heading {
                text-align: center;
            }
        }
    }
}
