<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Request Penggantian Alamat Email</title>
  <link rel="stylesheet" href="../default.css" />
  <link rel="stylesheet" href="../media.css" />
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td>
        <table class="container" border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td class="content">
                <p>
                  <strong>Yth. Bpk/Ibu/Sdr/Sdri {{ user.fullName }}</strong>
                </p>
                <br>
                <p>
                  Anda menerima email ini untuk mengkonfirmasi perubahan alamat email yang terdaftar di aplikasi Adaro
                  CSRMS. Apakah Anda mengkonfirmasi perubahan alamat email dari <strong>{{ user.email }}</strong>
                  ke <strong>{{ user.newEmail }}</strong>. Sebelum mengklik tombol KONFIRMASI pastikan bahwa
                  Anda memang menginginkan perubahan ini, dan bahwa alamat email baru tersebut adalah milik Anda sendiri.
                </p>
                <p>&nbsp;</p>
                <p class="text-center">
                  <a href="{{ url('app_user_changeemail_confirm', {'tokenKey': token.id, 'tokenValue': token.value}) }}"
                     class="link-button">
                    Ya, Saya Konfirmasi
                  </a>
                </p>
                <p>&nbsp;</p>
                <p>
                  Link di atas berlaku selama {{ duration }} menit sejak email ini dikirimkan.
                </p>
                <p>
                  Jika Anda memutuskan untuk mengganti alamat email di aplikasi, maka Anda perlu memeriksa kotak email
                  pada alamat email yang baru untuk melakukan konfirmasi kedua.
                </p>
                <p>&nbsp;</p>
                <p>
                  Tertanda,<br>
                  Admin CSRMS
                </p>
              </td>
            </tr>
            <tr>
              <td class="content-footer">
                <table class="footer" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td>Email ini dikirim otomatis oleh sistem dan mohon untuk tidak membalas email ini.</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
</body>
</html>