<template>
  <div class="body-container">
    <div class="pb-3">
      <bs-button color="amber"
                 v-if="hasEditorAccessRights"
                 href="#/master-data/mitra/create"
                 icon="plus-circle"
                 icon-position="left"
                 raised>
        Tambah Baru
      </bs-button>
    </div>

    <bs-card shadow>
      <bs-grid :data-source="dataSource"
               :filterable="{minlength: 3, operator: 'contains', immediate: false, placeholder: false}"
               ref="datagrid"
               pageable
               row-hover
               sortable>
        <bs-grid-column :filterable="{enabled: false, button: true}"
                        row-numbering
                        text-align="right"
                        width="50" />
        <bs-grid-column field="namaLembaga" label="Nama Mitra" min-width="250" />
        <bs-grid-column field="kodeLembaga" label="Kode" width="70" />
        <bs-grid-column field="alamat"
                        label="Alamat"
                        min-width="300"
                        :sortable="false" />
        <bs-grid-column field="kecamatan.kabupaten.namaKabupaten" label="Kabupaten" width="150" />
        <bs-grid-column field="kecamatan.kabupaten.provinsi.namaProvinsi" label="Provinsi" width="150" />
        <bs-grid-column field="jenisLembaga" label="Kategori" width="150" />
        <bs-grid-column field="officePhone" label="Telepon Kantor" width="150" />
        <bs-grid-column field="picProgram" label="PIC Program" width="200" />
        <bs-grid-column label="Tindakan"
                        :width="calculateWidthKolomTindakan"
                        text-align="center"
                        :sortable="false" />

        <template v-slot:datarow="{ columns, item, index }">
          <bs-grid-cell-numbering :column="columns[0]" :index="index" />
          <bs-grid-cell :column="columns[1]" :item="item" :index="index" />
          <bs-grid-cell :column="columns[2]" :item="item" :index="index" />
          <bs-grid-cell :column="columns[3]" :item="item" :index="index">
            {{ alamatBeneficiary(item) }}
          </bs-grid-cell>
          <bs-grid-cell :column="columns[4]" :item="item" :index="index" />
          <bs-grid-cell :column="columns[5]" :item="item" :index="index" />
          <bs-grid-cell :column="columns[6]" :item="item" :index="index" />
          <bs-grid-cell :column="columns[7]" :item="item" :index="index" />
          <bs-grid-cell :column="columns[8]" :item="item" :index="index" />
          <bs-grid-cell :column="columns[9]"
                        :index="index"
                        :item="item">
            <bs-button v-tooltip="{content:'Lihat Detail', placement:'top'}"
                       :href="doView(item.mitraId)"
                       size="xs"
                       color="default"
                       icon="eye"
                       icon-position="left"
                       outlined />
            <bs-button v-if="hasEditorAccessRights"
                       v-tooltip="{content:'Sunting Data', placement:'top'}"
                       :href="doEdit(item.mitraId)"
                       size="xs"
                       color="primary"
                       icon="pen"
                       icon-position="left"
                       outlined />
            <bs-button v-if="hasDeleteAccessRights"
                       v-tooltip="{content:'Hapus Data', placement:'top'}"
                       size="xs"
                       color="danger"
                       icon="trash-alt"
                       icon-position="left"
                       outlined
                       @click="confirmDelete(item)" />
          </bs-grid-cell>
        </template>
      </bs-grid>
    </bs-card>

    <bs-modal :open.sync="isModalOpen"
              :overlay-close="false"
              max-width="85%"
              title="Konfirmasi"
              width="400">
      Apakah anda yakin akan menghapus mitra: <b>{{ mitra.namaLembaga }}</b> dari database?
      <bs-button slot="footer"
                 color="secondary"
                 outlined
                 @click="isModalOpen = false">
        Batal
      </bs-button>
      <bs-button slot="footer" color="danger" @click="doDelete">
        Hapus
      </bs-button>
    </bs-modal>
    <bs-mask-loader :show="mitra.deleting"
                    :opacity="0"
                    :spinner-diameter="50" />
  </div>
</template>

<script>
import { BsStore } from "vue-bs4";
import { MitraModel } from "../../../../models/MasterData/Mitra/MitraModel";
import { PAGE_SIZE, STATE_SUCCESS } from "../../../../store/modules/mutation-types";
import defaultRouteGuard from "../../../../mixins/security/defaultRouteGuard";
import httpErrorResponse from "../../../../mixins/httpErrorResponse";
import appLocale from "../../../../mixins/appLocale";
import formatUtils from "../../../../mixins/formatUtils";

export default {
    name: 'GridMitra',
    mixins: [appLocale, defaultRouteGuard, formatUtils, httpErrorResponse],
    data: () => ({
        mitra: new MitraModel(),
        dataSource: new BsStore({
            idProperty: 'mitraId',
            dataProperty: 'data',
            totalProperty: 'total',
            pageSize: PAGE_SIZE,
            restUrl: {
                browse: '/master-data/mitra'
            }
        }),
        isModalOpen: false,
    }),
    computed: {
        calculateWidthKolomTindakan() {
            return this.hasEditorAccessRights && this.hasDeleteAccessRights ? 120 : 80;
        }
    },
    beforeDestroy() {
        this.mitra.destroy();
        this.mitra = null;
        this.dataSource.destroy();
        this.dataSource = null;
    },
    methods: {
        /**
         * Menampilkan konfirmasi dialog untuk menghapus record Mitra.
         *
         * @param {MitraModel} item Data mitra yang akan dihapus
         * @return {void}
         */
        confirmDelete(item) {
            this.mitra.assignValues(item);
            this.isModalOpen = true;
        },
        /**
         * Proses delete Mitra.
         *
         * @return {void}
         */
        doDelete() {
            this.isModalOpen = false;

            this.mitra.delete().then((resp) => {
                this.$notification.success(resp.data.message, STATE_SUCCESS);
                this.$refs.datagrid.reload();
            }).catch((error) => {
                this.showErrorMessage(error);
            });
        },
        /**
         * Proses sunting data Mitra.
         *
         * @param {int} id Mitra ID
         * @return {string} Route url
         */
        doEdit(id) {
            return "#/master-data/mitra/edit/" + id;
        },
        /**
         * Proses detail data Mitra.
         *
         * @param {int} id Mitra ID
         * @return {string} Route url
         */
        doView(id) {
            return "#/master-data/mitra/view/" + id;
        }
    }
}
</script>

<style scoped>

</style>
