/*!
 * Greenish Theme
 * Copyright 2018, Ahmad Fajar
 */
@import "~compass-sass-mixins/lib/compass/css3";

$body-bg: #e8e8e8;
$app-brand-color: #efefef;
$page-title-color: $app-brand-color;
$prefix: 'md';
$page-title-fontsize: 1.7rem;

$sidebar-bgcolor: #212121;
$sidebar-alt-bgcolor: #2b2b2b;
$sidebar-border-color: #2A3542;
$sidebar-textcolor: #aeb2b7;
$sidebar-hover-textcolor: var(--white);
$sidebar-hover-bgcolor: #4a4a4a;
$sidebar-active-bgcolor: rgba(#6f6e6e, .7);
$sidebar-active-textcolor: var(--white);
$sidebar-active-border-color: #1c6959;
$sidebar-divider-color: rgba(200, 200, 200, 0.16);
$sidebar-font-size: 14px;

$navbar-bgcolor: #064E40;
$navbar-textcolor: #a8c6e1;
$navbar-active-color: darken($navbar-bgcolor, 6%);

$font-weight-normal: 300;
$font-weight-bold: 400;
$font-weight-bolder: 500;
$font-weight-boldest: 700;

.skin-greenish {
    background-color: $body-bg;
    color: #444;

    .body-wrapper {
        background-color: $body-bg;
    }

    .#{$prefix}-toolbar {
        background-color: $navbar-bgcolor;

        .#{$prefix}-toolbar-title {
            color: $app-brand-color;
            font-size: $page-title-fontsize;
            font-weight: $font-weight-bold;
        }

        .nav-item > a:not(.btn-icon) {
            color: $navbar-textcolor;
        }
    }

    .#{$prefix}-sidebar {
        > .#{$prefix}-sidebar-inner {
            background-color: $sidebar-bgcolor;

            .app-brand {
                color: $app-brand-color;
            }

            > .#{$prefix}-sidebar-nav {
                .nav-item {
                    font-size: $sidebar-font-size;

                    > a {
                        color: $sidebar-textcolor;

                        &:hover {
                            background-color: $sidebar-hover-bgcolor;
                            color: $sidebar-hover-textcolor;
                        }
                    }

                    &:hover {
                        background-color: $sidebar-hover-bgcolor;
                    }

                    &.expanded {
                        background-color: $sidebar-alt-bgcolor;
                    }

                    &.active {
                        > a {
                            color: $sidebar-active-textcolor;
                        }

                        &:not(.parent) {
                            background-color: $sidebar-active-bgcolor;
                        }

                        &:not(.expanded) {
                            background-color: $sidebar-active-bgcolor;

                            &:before {
                                background-color: $sidebar-active-border-color;
                            }
                        }
                    }

                    &.divider {
                        border-bottom: 1px solid $sidebar-divider-color;
                    }
                }
            }

            > .#{$prefix}-sidebar-footer {
                a {
                    color: $sidebar-textcolor;

                    &:hover {
                        color: $sidebar-hover-textcolor;
                    }
                }
            }
        }

        &.collapse-mini {
            > .#{$prefix}-sidebar-inner {
                > .#{$prefix}-sidebar-nav {
                    > .nav {
                        > .nav-item {
                            &.active {
                                &:before {
                                    background-color: $sidebar-active-border-color !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .nav {
        &.nav-page {
            background-color: $navbar-bgcolor;

            .nav-link {
                color: lighten($navbar-textcolor, 10%);

                &:hover, &.active {
                    color: var(--white);
                }

                &.active {
                    border-bottom-color: var(--yellow);
                }

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    // Change default font to: Open Sans, dan components using Roboto
}