<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div class="body-container">
        <bs-card class="mt-3" shadow>
            <bs-card-header>RIWAYAT DANA GLOBAL</bs-card-header>
            <bs-grid :data-source="dsGlobal"
                     ref="datagrid"
                     pageable
                     row-hover
                     sortable>
                <bs-grid-column row-numbering
                                text-align="right"
                                width="40" />
                <bs-grid-column field="postedBy.fullName"
                                label="Oleh"
                                width="120" />
                <bs-grid-column field="postedDate"
                                label="Tanggal"
                                width="100" />
                <bs-grid-column field="kode"
                                width="100"
                                label="Referensi" />
                <bs-grid-column :sortable="false"
                                field="title"
                                label="Keterangan" />
                <bs-grid-column :sortable="false"
                                field="anggaran"
                                label="Jumlah (Rp)"
                                text-align="right"
                                width="140" />
                <bs-grid-column :sortable="false"
                                field="tahunAwal"
                                width="100"
                                label="Periode" />
                <bs-grid-column label="Status"
                                width="100"
                                column-cls="text-md-center"
                                :sortable="false" />
                <bs-grid-column :sortable="false"
                                width="70"
                                column-cls="text-md-center" />
                <template v-slot:datarow="{ columns, item, index }">
                    <bs-grid-cell-numbering :column="columns[0]"
                                            :index="index" />
                    <bs-grid-cell :column="columns[1]"
                                  :item="item"
                                  x-ms-format-detection="none" />
                    <bs-grid-cell :column="columns[2]"
                                  :item="item">
                        {{ dateFormat(item.postedDate, formatConst.fullDate) }}
                    </bs-grid-cell>
                    <bs-grid-cell :column="columns[3]"
                                  :item="item"
                                  x-ms-format-detection="none"/>
                    <bs-grid-cell :column="columns[4]"
                                  :item="item"/>
                    <bs-grid-cell :column="columns[5]"
                                  :item="item"
                                  x-ms-format-detection="none">
                        {{ moneyFormat(item.anggaran) }}
                    </bs-grid-cell>
                    <bs-grid-cell :column="columns[6]"
                                  :item="item">
                        {{ periodeFormat(item) }}
                    </bs-grid-cell>
                    <bs-grid-cell :column="columns[7]"
                                  :item="item">
                        <bs-badge type="label"
                                  :color="danaWorkflow.badgeColor(item)">
                            {{ danaWorkflow.majorPlaceMark(item) }}
                        </bs-badge>
                    </bs-grid-cell>
                    <bs-grid-cell :column="columns[8]"
                                  :item="item">
                        <bs-button v-if="showHistoryVerification(item)"
                                   v-tooltip="{content:'Riwayat Verifikasi', placement:'top'}"
                                   color="info"
                                   icon="history"
                                   key="global_verify"
                                   icon-position="left"
                                   size="xs"
                                   outlined
                                   :href="urlRiwayatVerifikasi(item.id)"/>
                    </bs-grid-cell>
                </template>
            </bs-grid>
        </bs-card>
    </div>
</template>

<script>
    import { BsStore } from "vue-bs4";
    import {NEW, PAGE_SIZE, REJECTED, UPDATED, VERIFIED} from "../../../store/modules/mutation-types";
    import appLocale from "../../../mixins/appLocale";
    import formatUtils from "../../../mixins/formatUtils";
    import httpErrorResponse from "../../../mixins/httpErrorResponse";
    import defaultRouteGuard from "../../../mixins/security/defaultRouteGuard";
    import DanaGlobalModel from "../../../models/Pendanaan/DanaGlobalModel";
    import DanaGlobalWorkflowConfigurer from "../../../models/Pendanaan/DanaGlobalWorkflowConfigurer";

    export default {
        name: "GridHistoryDanaGlobal",
        mixins: [appLocale, formatUtils, httpErrorResponse, defaultRouteGuard],
        data: () => ({
            dsGlobal: new BsStore({
                idProperty: 'id',
                dataProperty: 'data',
                totalProperty: 'total',
                pageSize: PAGE_SIZE,
                restUrl: {
                    browse: '/pendanaan/global'
                }
            }),
            dataModel: new DanaGlobalModel(),
            danaWorkflow: new DanaGlobalWorkflowConfigurer('dana_global')
        }),
        beforeDestroy() {
            this.danaWorkflow.destroy();
            this.danaWorkflow = null;

            this.dataModel.destroy();
            this.dataModel = null;

            this.dsGlobal.destroy();
            this.dsGlobal = null;
        },
        computed: {
            /**
             * Calculate column Tindakan cell alignment.
             *
             * @return {string|null} Cell alignment
             */
            cellAlignment() {
                return null;
            },
            /**
             * Calculate column Tindakan cell width.
             *
             * @return {number} Cell width
             */
            cellWidth() {
                return 35 * 4;
            }
        },
        methods: {
            periodeFormat(item) {
                return item.tahunAwal + ' - ' + item.tahunAkhir;
            },
            /**
             * Get route URL untuk menampilkan riwayat verifikasi Dana Global.
             *
             * @param {int|string} id ID Dana Bidang
             * @return {string} Route URL
             */
            urlRiwayatVerifikasi(id) {
                return '#/pendanaan/global/adjust/history/verification/' + id;
            },
            /**
             * Hanya dana global yang memiliki anggaran dan status ON GOING
             *
             * @param item
             * @returns {boolean}
             */
            showHistoryVerification(item) {
                return (item.anggaran > 0) && (item.status !== NEW);
            }
        }
    }
</script>

<style scoped>

</style>
