<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div class="body-container">
    <div v-if="hasEditorAccessRights" class="pb-3">
      <bs-button color="amber"
                 href="#/pendanaan/bidang/create"
                 icon="plus-circle"
                 icon-position="left"
                 raised>
        Tambah Baru
      </bs-button>
    </div>
    <bs-card shadow>
      <bs-grid :data-source="dsBidang"
               :filterable="{minlength: 3, operator: 'contains', immediate: false, placeholder: false}"
               ref="datagrid"
               pageable
               row-hover
               sortable>
        <bs-grid-column :filterable="{enabled: false, button: true}"
                        row-numbering
                        text-align="right"
                        width="50" />
        <bs-grid-column field="kode"
                        label="Kode"
                        width="110" />
        <bs-grid-column field="title"
                        label="Nama Dana Bidang"
                        min-width="420" />
        <bs-grid-column field="bidangCsr.title"
                        label="Bidang CSR"
                        min-width="200" />
        <bs-grid-column field="anggaran"
                        label="Anggaran (Rp)"
                        width="130"
                        column-cls="text-md-right"
                        :filterable="{'operator': 'eq'}" />
        <bs-grid-column field="alokasi"
                        label="Alokasi Dana (Rp)"
                        width="155"
                        column-cls="text-md-right"
                        :filterable="{'operator': 'eq'}" />
        <bs-grid-column field="danaTersedia"
                        label="Tersedia (Rp)"
                        width="130"
                        column-cls="text-md-right"
                        :filterable="false"
                        :sortable="false" />
        <bs-grid-column label="Status"
                        width="100"
                        column-cls="text-md-center"
                        :filterable="false"
                        :sortable="false" />
        <bs-grid-column label="Approval"
                        width="120"
                        column-cls="text-md-center"
                        :filterable="false"
                        :sortable="false" />
        <bs-grid-column :sortable="false"
                        :text-align="cellAlignment"
                        :width="cellWidth"
                        label="Tindakan" />
        <template v-slot:datarow="{ columns, item, index }">
          <bs-grid-cell-numbering :column="columns[0]"
                                  :index="index" />
          <bs-grid-cell :column="columns[1]"
                        :item="item"
                        x-ms-format-detection="none" />
          <bs-grid-cell :column="columns[2]"
                        :item="item">
            {{ item.title }}
            <bs-badge v-if="item.status === 'REVISI_REJECTED' || (item.tags && item.tags.request === true)"
                      type="pill"
                      color="info">
              REVISI
            </bs-badge>
          </bs-grid-cell>
          <bs-grid-cell :column="columns[3]"
                        :item="item">
            {{ upperCase(item.bidangCsr.title) }}
          </bs-grid-cell>
          <bs-grid-cell :column="columns[4]"
                        :item="item"
                        x-ms-format-detection="none">
            {{ moneyFormat(item.anggaran) }}
          </bs-grid-cell>
          <bs-grid-cell :column="columns[5]"
                        :item="item"
                        x-ms-format-detection="none">
            {{ moneyFormat(alokasiDana(item)) }}
          </bs-grid-cell>
          <bs-grid-cell :column="columns[6]"
                        :item="item"
                        x-ms-format-detection="none">
            {{ moneyFormat(sisaDana(item)) }}
          </bs-grid-cell>
          <bs-grid-cell :column="columns[7]"
                        :item="item">
            <bs-badge type="label" :color="danaWorkflow.badgeColor(item)">
              {{ danaWorkflow.majorPlaceMark(item) }}
            </bs-badge>
          </bs-grid-cell>
          <bs-grid-cell :column="columns[8]"
                        :item="item">
            <bs-badge v-if="danaWorkflow.approvalPlaceMark(item) !== ''"
                      :color="danaWorkflow.approvalPlaceMark(item) === 'REJECTED' ? 'danger' : 'success-color-dark'"
                      type="label">
              {{ danaWorkflow.approvalPlaceMark(item) }}
            </bs-badge>
          </bs-grid-cell>
          <bs-grid-cell :column="columns[9]"
                        :item="item">
            <bs-button v-if="showHistoryVerification(item)"
                       v-tooltip="{content:'Riwayat Verifikasi Dana Bidang', placement:'top'}"
                       color="blue-grey"
                       icon="check-double"
                       key="bidang_verify"
                       icon-position="left"
                       size="xs"
                       outlined
                       :href="urlRiwayatVerifikasi(item.id)"/>
            <bs-button :href="urlRiwayat(item.id)"
                       color="info"
                       icon="history"
                       key="bidang_history"
                       outlined
                       size="xs"
                       v-tooltip="{content:'Riwayat Dana Bidang', placement:'top'}" />
            <bs-button v-if="hasEditorAccessRights && workflow.can(item, 'update')"
                       v-tooltip="{content:'Sunting Dana Bidang', placement:'top'}"
                       :href="urlEdit(item.id)"
                       key="bidang_edit"
                       color="primary"
                       icon="pen"
                       size="xs"
                       outlined />
            <bs-button v-if="hasVerificatorAccessRights && hasVerificatorRole && hasRole('ROLE_FINANCE') && workflow.can(item, 'verify')"
                       v-tooltip="{content:'Verifikasi Dana Bidang', placement:'top'}"
                       key="bidang_verify"
                       color="green"
                       icon="check"
                       size="xs"
                       outlined
                       @click="confirmApproval(item, 'verify')" />
            <bs-button v-if="hasApprovalAccessRights && hasApprovalRole && workflow.canXor(item, ['approval_1', 'approval_2', 'approval_3'])"
                       v-tooltip="{content:'Approve Dana Bidang', placement:'top'}"
                       key="bidang_approval"
                       color="green"
                       icon="check-double"
                       size="xs"
                       outlined
                       @click="confirmApproval(item, 'nextstep')" />
            <bs-button v-if="hasEditorAccessRights && hasRole('ROLE_SUPERVISOR') && workflow.can(item, 'aktivasi')"
                       v-tooltip="{content:'Aktivasi Dana Bidang', placement:'top'}"
                       key="bidang_aktivasi"
                       color="primary"
                       icon="play"
                       size="xs"
                       outlined
                       @click="confirmApproval(item, 'aktivasi')" />
            <bs-button v-if="hasEditorAccessRights && workflow.can(item, 'request')"
                       v-tooltip="{content:'Request revisi Dana Bidang', placement:'top'}"
                       :href="urlRequest(item.id)"
                       key="bidang_request"
                       color="primary"
                       icon="paper-plane"
                       size="xs"
                       outlined />
            <bs-button v-if="hasVerificatorAccessRights && hasVerificatorRole && hasRole('ROLE_FINANCE') && workflow.can(item, 'verify_request')"
                       v-tooltip="{content:'Verifikasi revisi Dana Bidang', placement:'top'}"
                       key="bidang_verify_request"
                       color="green"
                       icon="check"
                       size="xs"
                       outlined
                       @click="confirmApproval(item, 'verify_request')" />
            <bs-button v-if="hasEditorAccessRights && hasRole('ROLE_SUPERVISOR') && workflow.can(item, 'closing')"
                       v-tooltip="{content:'Tutup Dana Bidang', placement:'top'}"
                       key="bidang_closing"
                       color="unique"
                       icon="lock"
                       size="xs"
                       outlined
                       @click="confirmApproval(item, 'closing')" />
            <bs-button v-if="hasDeleteAccessRights && workflow.can(item, 'update')"
                       v-tooltip="{content:'Hapus Dana Bidang', placement:'top', width: 200}"
                       key="bidang_delete"
                       color="danger"
                       icon="trash-alt"
                       size="xs"
                       outlined
                       @click="confirmDelete(item)" />
          </bs-grid-cell>
        </template>
      </bs-grid>
    </bs-card>
    <grid-pendanaan-extension :approval="approval"
                              :data-model="dataModel"
                              :show-modal-approval.sync="showModalApproval"
                              :show-modal-delete.sync="showModalDelete"
                              @approved="doApproval"
                              @delete="doDelete"
                              @reject="doReject" />
  </div>
</template>

<script>
import { BsStore } from "vue-bs4";
import { NEW, PAGE_SIZE} from "../../../store/modules/mutation-types";
import appLocale from "../../../mixins/appLocale";
import formatUtils from "../../../mixins/formatUtils";
import httpErrorResponse from "../../../mixins/httpErrorResponse";
import defaultRouteGuard from "../../../mixins/security/defaultRouteGuard";
import ClosableWorkflowConfigurer from "../../../models/Pendanaan/ClosableWorkflowConfigurer";
import DanaBidangModel from "../../../models/Pendanaan/DanaBidangModel";
import closableAnggaran from "../../../mixins/pendanaan/closableAnggaran";
import GridPendanaanExtension from "../../../components/GridPendanaanExtension";

export default {
    name: "GridDanaBidang",
    components: {GridPendanaanExtension},
    mixins: [appLocale, formatUtils, httpErrorResponse, closableAnggaran, defaultRouteGuard],
    data: () => ({
        dsBidang: new BsStore({
            idProperty: 'id',
            dataProperty: 'data',
            totalProperty: 'total',
            pageSize: PAGE_SIZE,
            restUrl: {
                browse: '/pendanaan/bidang'
            }
        }),
        dataModel: new DanaBidangModel(),
        danaWorkflow: new ClosableWorkflowConfigurer('dana_bidang')
    }),
    beforeDestroy() {
        this.danaWorkflow.destroy();
        this.danaWorkflow = null;

        this.dataModel.destroy();
        this.dataModel = null;

        this.dsBidang.destroy();
        this.dsBidang = null;
    },
    computed: {
      /**
       * Calculate column Tindakan cell alignment.
       *
       * @return {string|null} Cell alignment
       */
      cellAlignment() {
        return null;
      },
      /**
       * Calculate column Tindakan cell width.
       *
       * @return {number} Cell width
       */
      cellWidth() {
        return 35 * 4;
      }
    },
    methods: {
        /**
         * Get route URL untuk menampilkan form sunting Dana Bidang.
         *
         * @param {int|string} id ID Dana Bidang
         * @return {string} Route URL
         */
        urlEdit(id) {
            return '#/pendanaan/bidang/edit/' + id;
        },
        /**
         * Get route URL untuk menampilkan form request perubahan Dana Bidang.
         *
         * @param {int|string} id ID Dana Bidang
         * @return {string} Route URL
         */
        urlRequest(id) {
            return '#/pendanaan/bidang/revisi/' + id;
        },
        /**
         * Get route URL untuk menampilkan riwayat transaksi Dana Bidang.
         *
         * @param {int|string} id ID Dana Bidang
         * @return {string} Route URL
         */
        urlRiwayat(id) {
            return '#/pendanaan/bidang/history/' + id;
        },
        /**
         * Get route URL untuk menampilkan riwayat verifikasi Dana Bidang.
         *
         * @param {int|string} id ID Dana Bidang
         * @return {string} Route URL
         */
        urlRiwayatVerifikasi(id) {
          return '#/pendanaan/bidang/history/verification/' + id;
        },
        /**
         * Hanya dana bidang yang memiliki anggaran dan status ON GOING
         *
         * @param item
         * @returns {boolean}
         */
        showHistoryVerification(item) {
          return (item.anggaran > 0) && (item.status !== NEW);
        }
    }
}
</script>

<style scoped>

</style>
