<template>
  <div class="body-container">
    <bs-card shadow>
      <bs-card-body>
        <div class="form-row h6">
          <div class="col-md-3 col-xl-2 font-weight-light text-muted">
            Kode Referensi
          </div>
          <div class="d-none d-md-flex" style="width: 8px">
            :
          </div>
          <div class="col">
            {{ danaBidang.kode }}
            <bs-badge v-if="loaded"
                      :color="danaWorkflow.badgeColor(danaBidang)"
                      type="label"
                      class="float-right">
              {{ danaWorkflow.majorPlaceMark(danaBidang) }}
            </bs-badge>
          </div>
        </div>
        <div class="form-row h6">
          <div class="col-md-3 col-xl-2 font-weight-light text-muted">
            Nama Dana Bidang
          </div>
          <div class="d-none d-md-flex" style="width: 8px">
            :
          </div>
          <div class="col">
            {{ danaBidang.title }}
          </div>
        </div>
        <div class="form-row h6">
          <div class="col-md-3 col-xl-2 font-weight-light text-muted">
            Tahun Anggaran
          </div>
          <div class="d-none d-md-flex" style="width: 8px">
            :
          </div>
          <div class="col">
            {{ danaBidang.tahunAwal }} - {{ danaBidang.tahunAkhir }}
          </div>
        </div>
        <div v-if="loaded" class="form-row h6">
          <div class="col-md-3 col-xl-2 font-weight-light text-muted">
            Nilai Anggaran
          </div>
          <div class="d-none d-md-flex" style="width: 8px">
            :
          </div>
          <div :class="{'text-danger': danaBidang.anggaran < 0}" class="col">
            Rp. {{ moneyFormat(danaBidang.anggaran) }}
          </div>
        </div>
        <div v-if="loaded" class="form-row h6">
          <div class="col-md-3 col-xl-2 font-weight-light text-muted">
            Dana Tersedia
          </div>
          <div class="d-none d-md-flex" style="width: 8px">
            :
          </div>
          <div :class="{'text-danger': danaBidang.danaTersedia < 0}" class="col">
            Rp. {{ moneyFormat(danaBidang.danaTersedia) }}
          </div>
        </div>
      </bs-card-body>
      <bs-mask-loader :opacity="0"
                      :show="!loaded"
                      :spinner-diameter="50" />
    </bs-card>
    <bs-card class="mt-3" shadow>
      <bs-card-header>RIWAYAT TRANSAKSI</bs-card-header>
      <bs-grid :data-source="dataSource" pageable>
        <bs-grid-column row-numbering
                        text-align="right"
                        width="50" />
        <bs-grid-column field="postedBy.fullName"
                        label="Dibuat Oleh"
                        width="150" />
        <bs-grid-column field="postedDate"
                        label="Tanggal"
                        width="150" />
        <bs-grid-column field="refcode"
                        label="Referensi"
                        width="100" />
        <bs-grid-column :min-width="250"
                        :sortable="false"
                        field="title"
                        label="Keterangan" />
        <bs-grid-column :sortable="false"
                        field="jumlah"
                        label="Jumlah (Rp)"
                        text-align="right"
                        width="150" />
        <bs-grid-column :sortable="false"
                        field="saldo"
                        label="Saldo (Rp)"
                        text-align="right"
                        width="150" />

        <template v-slot:datarow="{ columns, item, index }">
          <bs-grid-cell-numbering :column="columns[0]"
                                  :index="index" />
          <bs-grid-cell :column="columns[1]"
                        :item="item"
                        x-ms-format-detection="none" />
          <bs-grid-cell :column="columns[2]"
                        :item="item">
            {{ dateFormat(item.postedDate, formatConst.dateTimeCustom) }}
          </bs-grid-cell>
          <bs-grid-cell :column="columns[3]"
                        :item="item"
                        x-ms-format-detection="none" />
          <bs-grid-cell :column="columns[4]"
                        :item="item" />
          <bs-grid-cell :class="{'text-danger': item.jumlah < 0}"
                        :column="columns[5]"
                        :item="item"
                        x-ms-format-detection="none">
            {{ moneyFormat(item.jumlah) }}
          </bs-grid-cell>
          <bs-grid-cell :class="saldoCellCls(item)"
                        :column="columns[6]"
                        :item="item"
                        x-ms-format-detection="none">
            {{ moneyFormat(item.saldo) }}
          </bs-grid-cell>
        </template>
      </bs-grid>
    </bs-card>
  </div>
</template>

<script>
import { BsStore } from "vue-bs4";
import appLocale from "../../../mixins/appLocale";
import formatUtils from "../../../mixins/formatUtils";
import httpErrorResponse from "../../../mixins/httpErrorResponse";
import defaultRouteGuard from "../../../mixins/security/defaultRouteGuard";
import DanaBidangModel from "../../../models/Pendanaan/DanaBidangModel";
import ClosableWorkflowConfigurer from "../../../models/Pendanaan/ClosableWorkflowConfigurer";
import RiwayatDanaBidang from "../../../models/Pendanaan/RiwayatDanaBidang";

export default {
    name: "GridHistoryDanaBidang",
    mixins: [appLocale, formatUtils, httpErrorResponse, defaultRouteGuard],
    data: () => ({
        dataSource: null,
        danaBidang: new DanaBidangModel(),
        riwayat: new RiwayatDanaBidang(),
        danaWorkflow: new ClosableWorkflowConfigurer('dana_bidang'),
        loaded: false
    }),
    computed: {
        /**
         * @return {int} id transaksi terakhir di riwayat
         */
        lastId() {
            if ((this.riwayat !== null) && this.loaded) {
                return this.riwayat.tid;
            }
            return 0;
        }
    },
    created() {
        this.load();
    },
    beforeDestroy() {
        this.dataSource.destroy();
        this.dataSource = null;
        this.danaBidang.destroy();
        this.danaBidang = null;
        this.riwayat.destroy();
        this.riwayat = null;
    },
    methods: {
        /**
         * Compute Saldo cell classes.
         *
         * @param {Object} item Data model
         * @return {Object} Css classes
         */
        saldoCellCls(item) {
            return {
                'text-danger': item.saldo < 0,
                'font-weight-bold': item.tid === this.lastId
            }
        },
        /**
         * Load primary data from remote source.
         *
         * @return {Promise<void>} Promise interface
         */
        async load() {
            try {
                const id        = this.$route.params['id'];
                this.dataSource = new BsStore({
                    idProperty: 'tid',
                    dataProperty: 'data',
                    totalProperty: 'total',
                    pageSize: 10,
                    restUrl: {
                        browse: '/pendanaan/bidang/riwayat/' + id
                    }
                });

                await this.danaBidang.fetch(id);
                this.loaded = true;
                this.riwayat.fetch(id);
            } catch (e) {
                this.showErrorMessage(e);
            }
        }
    }
}
</script>

<style scoped>

</style>
