<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div class="body-container">
        <bs-card shadow>
            <bs-card-body>
                <div class="row">
                    <div class="col-xl-7 pb-3 pb-xl-0">
                        <div class="pl-md-3 pt-md-2" x-ms-format-detection="none">
                            <p class="h2 text-muted text-uppercase">
                                Dana Tersedia
                            </p>
                            <p class="h2" :class="saldoCls">
                                {{ saldoText }}
                            </p>
                            <p v-if="riwayat.tahunAwal !== null" class="text-muted h4 font-weight-normal">
                                Tahun {{ riwayat.tahunAwal }} - {{ riwayat.tahunAkhir }}
                            </p>
                        </div>
                    </div>
                    <transition name="fade">
                        <div v-if="showVerifyPanel" class="col-xl-5">
                            <bs-card>
                                <bs-card-body>
                                    <dl class="row">
                                        <dt class="col-md-3 col-xl-4">
                                            # Transaksi
                                        </dt>
                                        <dd class="col-md-9 col-xl-8" x-ms-format-detection="none">
                                            {{ danaGlobal.kode }}
                                        </dd>
                                        <dt class="col-md-3 col-xl-4">
                                            Jumlah
                                        </dt>
                                        <dd class="col-md-9 col-xl-8" x-ms-format-detection="none">
                                            Rp. {{ moneyFormat(danaGlobal.newValue) }}
                                        </dd>
                                        <dt class="col-md-3 col-xl-4">
                                            Dana Tahun
                                        </dt>
                                        <dd class="col-md-9 col-xl-8">
                                            {{ danaGlobal.tahunAwal }} - {{ danaGlobal.tahunAkhir }}
                                        </dd>
                                        <dt class="col-md-3 col-xl-4">
                                            Keterangan
                                        </dt>
                                        <dd class="col-md-9 col-xl-8">
                                            {{ danaGlobal.title }}
                                        </dd>
                                        <dt class="col-md-3 col-xl-4">
                                            Status
                                        </dt>
                                        <dd class="col-md-9 col-xl-8">
                                            <bs-badge :color="badgeVerificationStatus.color" type="label">
                                                {{ badgeVerificationStatus.text }}
                                            </bs-badge>
                                        </dd>
                                        <dt v-if="rejectReason" class="col-md-3 col-xl-4">
                                            Alasan
                                        </dt>
                                        <dd v-if="rejectReason" class="col-md-9 col-xl-8 text-muted">
                                            {{ rejectReason.keterangan }}
                                        </dd>
                                    </dl>
                                    <bs-button v-if="showVerifyButton"
                                               class="float-right"
                                               color="unique"
                                               outlined
                                               @click="showModal = true">
                                        Verify
                                    </bs-button>
                                </bs-card-body>
                                <bs-card-footer class="bg-white px-3 text-muted">
                                    <div class="row">
                                        <span class="col-md">Oleh: {{ postedBy }}</span>
                                        <span class="col-md text-md-right">
                      Tanggal:
                      <span class="text-nowrap">{{ postedDate }}</span>
                    </span>
                                    </div>
                                </bs-card-footer>
                            </bs-card>
                        </div>
                    </transition>
                </div>
                <div v-if="showHistoryPanel" class="row">
                    <div class="col-xl-12">
                        <bs-button class="fa-pull-right"
                                   v-tooltip="{content:'Riwayat Penambahan Dana Global', placement:'top'}"
                                   color="green"
                                   icon="history"
                                   icon-position="left"
                                   size="sm"
                                   href="#/pendanaan/global/adjust/history"
                                   outlined>
                            Riwayat Dana Global
                        </bs-button>
                    </div>
                </div>
                <bs-alert v-if="danaGlobal.title === null"
                          icon="info-circle"
                          color="info"
                          class="mt-3">
                    Silakan setup <b>Dana Global</b> terlebih dahulu.
                </bs-alert>
            </bs-card-body>
            <bs-card-footer v-if="showEditButton" class="bg-white">
                <bs-button color="primary" href="#/pendanaan/global/adjust">
                    {{ danaGlobal.title === null ? 'Setup' : 'Sunting' }}
                </bs-button>
            </bs-card-footer>
        </bs-card>
        <bs-card shadow class="mt-3">
            <bs-card-header>RIWAYAT TRANSAKSI</bs-card-header>
            <bs-grid :data-source="dataSource"
                     ref="datagrid"
                     pageable
                     row-hover
                     sortable>
                <bs-grid-column row-numbering
                                text-align="right"
                                width="50" />
                <bs-grid-column field="postedDate"
                                label="Tanggal"
                                width="150" />
                <bs-grid-column field="refcode"
                                label="Referensi"
                                width="100" />
                <bs-grid-column field="title"
                                label="Keterangan"
                                :min-width="250"
                                :sortable="false" />
                <bs-grid-column field="jumlah"
                                label="Jumlah (Rp)"
                                width="150"
                                text-align="right"
                                :sortable="false" />
                <bs-grid-column field="saldo"
                                label="Saldo (Rp)"
                                width="150"
                                text-align="right"
                                :sortable="false" />
                <template v-slot:datarow="{ columns, item, index }">
                    <bs-grid-cell-numbering :column="columns[0]"
                                            :index="index" />
                    <bs-grid-cell :column="columns[1]"
                                  :item="item">
                        {{ dateFormat(item.postedDate, formatConst.dateTimeCustom) }}
                    </bs-grid-cell>
                    <bs-grid-cell :column="columns[2]"
                                  :item="item"
                                  x-ms-format-detection="none" />
                    <bs-grid-cell :column="columns[3]"
                                  :item="item" />
                    <bs-grid-cell :column="columns[4]"
                                  :class="{'text-danger': item.jumlah < 0}"
                                  :item="item"
                                  x-ms-format-detection="none">
                        {{ moneyFormat(item.jumlah) }}
                    </bs-grid-cell>
                    <bs-grid-cell :column="columns[5]"
                                  :class="saldoCellCls(item)"
                                  :item="item"
                                  x-ms-format-detection="none">
                        {{ moneyFormat(item.saldo) }}
                    </bs-grid-cell>
                </template>
            </bs-grid>
        </bs-card>
        <bs-modal :open.sync="showModal"
                  max-width="90%"
                  title="Konfirmasi Verifikasi"
                  width="450">
            <p>
                Apakah anda yakin data transaksi Dana Global nomor
                <strong class="text-nowrap">{{ danaGlobal.kode }}</strong> sudah benar?
            </p>
            <div class="form-group">
                <bs-text-area placeholder="Wajib mencantumkan komentar jika reject"
                              rows="3"
                              v-model="reason">
                    <label class="col-form-label col-md-3">
                        Komentar
                    </label>
                </bs-text-area>
            </div>
            <template v-slot:footer="">
                <bs-button :disabled="reason == null || reason === ''"
                           color="secondary"
                           outlined
                           @click="doReject">
                    Reject
                </bs-button>
                <bs-button color="primary"
                           @click="doVerify">
                    Verify
                </bs-button>
            </template>
        </bs-modal>
        <bs-mask-loader :opacity="0"
                        :show="danaGlobal.updating"
                        :spinner-diameter="50" />
    </div>
</template>

<script>
    import {BsStore} from "vue-bs4";
    import {
        NEW,
        REJECTED,
        STATE_SUCCESS,
        STEP_REJECT,
        STEP_UPDATE,
        STEP_VERIFY,
        UPDATED,
        VERIFIED
    } from "../../../store/modules/mutation-types";
    import appLocale from "../../../mixins/appLocale";
    import formatUtils from "../../../mixins/formatUtils";
    import httpErrorResponse from "../../../mixins/httpErrorResponse";
    import defaultRouteGuard from "../../../mixins/security/defaultRouteGuard";
    import DanaGlobalModel from "../../../models/Pendanaan/DanaGlobalModel";
    import RiwayatDanaGlobal from "../../../models/Pendanaan/RiwayatDanaGlobal";
    import DanaGlobalWorkflowConfigurer from "../../../models/Pendanaan/DanaGlobalWorkflowConfigurer";

    export default {
        name: "GridDanaGlobal",
        mixins: [appLocale, formatUtils, httpErrorResponse, defaultRouteGuard],
        data: () => ({
            dataSource: new BsStore({
                idProperty: 'tid',
                dataProperty: 'data',
                totalProperty: 'total',
                pageSize: 10,
                restUrl: {
                    browse: '/pendanaan/global/riwayat'
                }
            }),
            dsApproval: new BsStore({
                idProperty: 'logId',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    fetch: '/pendanaan/global/riwayat/approval/{id}'
                }
            }),
            riwayat: new RiwayatDanaGlobal(),
            danaGlobal: new DanaGlobalModel(),
            danaWorkflow: new DanaGlobalWorkflowConfigurer('dana_global'),
            reason: '',
            loaded: false,
            showModal: false
        }),
        computed: {
            /**
             * @return {Object} Badge properties yang menggambarkan status verifikasi.
             */
            badgeVerificationStatus() {
                if ([NEW, UPDATED].includes(this.danaGlobal.status)) {
                    return {color: 'info-color', text: 'Belum Diverifikasi'};
                } else if (this.danaGlobal.status === REJECTED) {
                    return {color: 'danger', text: REJECTED};
                } else {
                    return {color: 'success-color-dark', text: VERIFIED};
                }
            },
            /**
             * @return {String} Nama lengkap yang membuat Dana Global
             */
            postedBy() {
                return (this.danaGlobal.postedBy != null ? this.danaGlobal.postedBy.fullName : '');
            },
            /**
             * @return {String} Tanggal pembuatan Dana Global
             */
            postedDate() {
                if (this.danaGlobal.postedDate != null) {
                    return this.dateFormat(this.danaGlobal.postedDate, this.formatConst.dateTimeCustom);
                }

                return '';
            },
            /**
             * @return {Object|null} Data model approval Dana Global
             */
            rejectReason() {
                return this.dsApproval.dataItems.find(el => el.toStatus === REJECTED);
            },
            /**
             * @return {Object} Css class names
             */
            saldoCls() {
                return {
                    'text-info': this.riwayat.saldo === null,
                    'text-danger': this.riwayat.saldo < 1 && this.riwayat.saldo !== null
                }
            },
            /**
             * @return {String} Nilai saldo akhir yang telah diformat dalam rupiah
             */
            saldoText() {
                if (this.riwayat.saldo === null) {
                    return 'Belum Ada';
                } else {
                    return 'Rp. ' + this.moneyFormat(this.riwayat.saldo);
                }
            },
            /**
             * @return {boolean} TRUE if edit Button can be displayed
             */
            showEditButton() {
                return this.loaded && this.hasEditorAccessRights && this.hasRole('ROLE_FINANCE') &&
                    (this.danaGlobal.status == null || this.workflow.can(this.danaGlobal, STEP_UPDATE));
            },
            showVerifyButton() {
                return this.loaded && this.danaGlobal.title !== null && this.hasVerificatorAccessRights &&
                    this.hasVerificatorRole && this.workflow.can(this.danaGlobal, 'verify');
            },
            showVerifyPanel() {
                return this.loaded && [NEW, UPDATED, REJECTED].includes(this.danaGlobal.status);
            },
            showHistoryPanel() {
                return this.loaded && [UPDATED, VERIFIED].includes(this.danaGlobal.status);
            },
            /**
             * @return {Workflow} A workflow object instance
             */
            workflow() {
                return this.danaWorkflow.workflow;
            },
            /**
             * Calculate column Tindakan cell alignment.
             *
             * @return {string|null} Cell alignment
             */
            cellAlignment() {
                return null;
            },
            /**
             * Calculate column Tindakan cell width.
             *
             * @return {number} Cell width
             */
            cellWidth() {
                return 35 * 4;
            },
        },
        created() {
            this.load();
        },
        beforeDestroy() {
            this.dataSource.destroy();
            this.dataSource = null;
            this.danaGlobal.destroy();
            this.danaGlobal = null;
            this.riwayat.destroy();
            this.riwayat = null;
        },
        methods: {
            /**
             * Send reject request to the remote server.
             *
             * @return {void}
             */
            doReject() {
                const data = {
                    action: STEP_REJECT,
                    message: this.reason
                };

                this.showModal = false;

                this.danaGlobal.request('stepflow', 'patch', null, data).then(response => {
                    this.$notification.success(response.data.message, STATE_SUCCESS);
                    this.load();
                }).catch(error => {
                    this.showErrorMessage(error);
                });
            },
            /**
             * Send verification request to the remote server.
             *
             * @return {void}
             */
            doVerify() {
                const data = {
                    action: STEP_VERIFY,
                    message: this.reason
                };

                this.showModal = false;

                this.danaGlobal.request('stepflow', 'patch', null, data).then(response => {
                    this.danaGlobal.status = VERIFIED;
                    this.$notification.success(response.data.message, STATE_SUCCESS);
                    this.load();
                    this.$refs.datagrid.reload();
                }).catch(error => {
                    this.showErrorMessage(error);
                });
            },
            /**
             * Compute Saldo cell classes.
             *
             * @param {Object} item Data model
             * @return {Object} Css classes
             */
            saldoCellCls(item) {
                return {
                    'text-danger': item.saldo < 0,
                    'font-weight-bold': item.tid === this.riwayat.tid
                }
            },
            /**
             * Load primary data from remote source.
             *
             * @return {Promise<void>} Promise interface
             */
            async load() {
                try {
                    await this.danaGlobal.request('info');
                    await this.riwayat.fetch();
                    this.loaded = true;

                    if (this.danaGlobal.status === REJECTED) {
                        await this.dsApproval.fetch(this.danaGlobal.id);
                    }
                } catch (e) {
                    this.showErrorMessage(e);
                }
            },
        }
    }
</script>

<style scoped>

</style>
