<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div class="body-container">
        <bs-card shadow>
            <bs-card-body>
                <div class="form-row h6">
                    <div class="col-md-3 col-xl-2 font-weight-light text-muted">
                        Kode Referensi
                    </div>
                    <div class="d-none d-md-flex" style="width: 8px">
                        :
                    </div>
                    <div class="col">
                        {{ danaBidang.kode }}
                        <bs-badge v-if="loaded"
                                  :color="danaWorkflow.badgeColor(danaBidang)"
                                  type="label"
                                  class="float-right">
                            {{ danaWorkflow.majorPlaceMark(danaBidang) }}
                        </bs-badge>
                    </div>
                </div>
                <div class="form-row h6">
                    <div class="col-md-3 col-xl-2 font-weight-light text-muted">
                        Nama Dana Bidang
                    </div>
                    <div class="d-none d-md-flex" style="width: 8px">
                        :
                    </div>
                    <div class="col">
                        {{ danaBidang.title }}
                    </div>
                </div>
                <div class="form-row h6">
                    <div class="col-md-3 col-xl-2 font-weight-light text-muted">
                        Tahun Anggaran
                    </div>
                    <div class="d-none d-md-flex" style="width: 8px">
                        :
                    </div>
                    <div class="col">
                        {{ danaBidang.tahunAwal }} - {{ danaBidang.tahunAkhir }}
                    </div>
                </div>
                <div v-if="loaded" class="form-row h6">
                    <div class="col-md-3 col-xl-2 font-weight-light text-muted">
                        Nilai Anggaran
                    </div>
                    <div class="d-none d-md-flex" style="width: 8px">
                        :
                    </div>
                    <div :class="{'text-danger': danaBidang.anggaran < 0}" class="col">
                        Rp. {{ moneyFormat(danaBidang.anggaran) }}
                    </div>
                </div>
                <div v-if="loaded" class="form-row h6">
                    <div class="col-md-3 col-xl-2 font-weight-light text-muted">
                        Dana Tersedia
                    </div>
                    <div class="d-none d-md-flex" style="width: 8px">
                        :
                    </div>
                    <div :class="{'text-danger': danaBidang.danaTersedia < 0}" class="col">
                        Rp. {{ moneyFormat(danaBidang.danaTersedia) }}
                    </div>
                </div>
            </bs-card-body>
            <bs-mask-loader :opacity="0"
                            :show="!loaded"
                            :spinner-diameter="50" />
        </bs-card>
        <bs-card class="mt-3" shadow>
            <bs-card-header>RIWAYAT VERIFIKASI</bs-card-header>
            <bs-grid :data-source="dataSource" pageable>
                <bs-grid-column row-numbering
                                text-align="right"
                                width="50" />
                <bs-grid-column field="postedBy.fullName"
                                label="Verifikasi Oleh"
                                width="150" />
                <bs-grid-column field="postedDate"
                                label="Tanggal"
                                width="150" />
                <bs-grid-column field="logAction"
                                label="Tindakan"
                                width="150" />
                <bs-grid-column :sortable="false"
                                field="keterangan"
                                label="Keterangan" />
                <bs-grid-column :sortable="false"
                                field="jumlah"
                                label="Jumlah (Rp)"
                                text-align="right"
                                width="150" />
                <bs-grid-column :sortable="false"
                                field="status"
                                label="Status" />
                <template v-slot:datarow="{ columns, item, index }">
                    <bs-grid-cell-numbering :column="columns[0]"
                                            :index="index" />
                    <bs-grid-cell :column="columns[1]"
                                  :item="item"
                                  x-ms-format-detection="none" />
                    <bs-grid-cell :column="columns[2]"
                                  :item="item">
                        {{ dateFormat(item.postedDate, formatConst.dateTimeCustom) }}
                    </bs-grid-cell>
                    <bs-grid-cell :column="columns[3]"
                                  :item="item"
                                  x-ms-format-detection="none">
                        {{ titleCase(item.logAction) }}
                    </bs-grid-cell>
                    <bs-grid-cell :column="columns[4]"
                                  :item="item"/>
                    <bs-grid-cell :column="columns[5]"
                                  :item="item"
                                  x-ms-format-detection="none">
                        {{ moneyFormat(item.jumlah) }}
                    </bs-grid-cell>
                    <bs-grid-cell :column="columns[6]"
                                  :item="item">
                        {{ titleCase(item.toStatus) }}
                    </bs-grid-cell>
                </template>
            </bs-grid>
        </bs-card>
    </div>
</template>

<script>
    import appLocale from "../../../mixins/appLocale";
    import formatUtils from "../../../mixins/formatUtils";
    import httpErrorResponse from "../../../mixins/httpErrorResponse";
    import defaultRouteGuard from "../../../mixins/security/defaultRouteGuard";
    import DanaBidangModel from "../../../models/Pendanaan/DanaBidangModel";
    import ClosableWorkflowConfigurer from "../../../models/Pendanaan/ClosableWorkflowConfigurer";
    import BsStore from "vue-bs4/src/model/BsStore";

    export default {
        name: "GridVerifyDanaBidang",
        mixins: [appLocale, formatUtils, httpErrorResponse, defaultRouteGuard],
        data: () => ({
            dataSource: null,
            danaBidang: new DanaBidangModel(),
            danaWorkflow: new ClosableWorkflowConfigurer('dana_bidang'),
            loaded: false
        }),
        computed: {},
        created() {
            this.load();
        },
        beforeDestroy() {
            this.dataSource.destroy();
            this.dataSource = null;
            this.danaBidang.destroy();
            this.danaBidang = null;
        },
        methods: {
            /**
             * Load primary data from remote source.
             *
             * @return {Promise<void>} Promise interface
             */
            async load() {
                try {
                    const id        = this.$route.params['id'];
                    this.dataSource = new BsStore({
                        idProperty: 'log',
                        dataProperty: 'data',
                        totalProperty: 'total',
                        pageSize: 10,
                        restUrl: {
                            browse: '/pendanaan/bidang/riwayat/verification/' + id
                        }
                    });

                    await this.danaBidang.fetch(id);
                    this.loaded = true;
                } catch (e) {
                    this.showErrorMessage(e);
                }
            },
            /**
             * Make the given string Title Case.
             *
             * @param {string} str The string to format
             * @return {string} The formatted string
             */
            titleCase(str) {
                return str.toLowerCase().split('_').map(word => {
                    return (word.charAt(0).toUpperCase() + word.slice(1));
                }).join(' ');
            },
        }
    }
</script>

<style scoped>

</style>
