<template>
  <div class="body-container">
    <div class="row">
      <div :class="displayClass(1)">
        <dashboard-kpi-paud :data="overviewData[1]"
                            :mode="displayMode(1)"
                            v-if="!loading && overviewData[1]"
                            @maximize="doMaximize"
                            @restore="doRestore"
                            @open-kpi-popup="doOpenPopup" />
      </div>
      <div :class="displayClass(2)">
        <dashboard-kpi-pendidikan-vokasi :data="overviewData[2]"
                                         :mode="displayMode(2)"
                                         v-if="!loading && overviewData[2]"
                                         @maximize="doMaximize"
                                         @restore="doRestore"
                                         @open-kpi-popup="doOpenPopup" />
      </div>
      <div :class="displayClass(3)">
        <dashboard-kpi-pelatihan-vokasi :data="overviewData[3]"
                                        :mode="displayMode(3)"
                                        v-if="!loading && overviewData[3]"
                                        @maximize="doMaximize"
                                        @restore="doRestore"
                                        @open-kpi-popup="doOpenPopup"  />
      </div>
      <div :class="displayClass(4)">
        <dashboard-kpi-beasiswa :data="overviewData[4]"
                                :mode="displayMode(4)"
                                v-if="!loading && overviewData[4]"
                                @maximize="doMaximize"
                                @restore="doRestore"
                                @open-kpi-popup="doOpenPopup" />
      </div>
      <div :class="displayClass(5)">
        <dashboard-kpi-tbe :data="overviewData[5]"
                           :mode="displayMode(5)"
                           v-if="!loading && overviewData[5]"
                           @maximize="doMaximize"
                           @restore="doRestore"
                           @open-kpi-popup="doOpenPopup" />
      </div>
    </div>
    <bs-mask-loader :opacity="0" :show="loading" :spinner-diameter="50" />
    <bs-modal :esc-close="true"
              :open.sync="showModal"
              :overlay-close="true"
              :scrollable="true"
              max-width="97%"
              title="Rincian Capaian Kpi"
              width="auto">
      <div style="height: max-content">
        <div class="form-group">
          <bs-text-field :value="programName" readonly>
            <label class="col-form-label col-lg-3 font-weight-bold">
              PROGRAM CSR
            </label>
          </bs-text-field>
        </div>
        <div class="form-group">
          <bs-text-field :value="batchName" readonly>
            <label class="col-form-label col-lg-3 font-weight-bold">
              PERIODE BATCH
            </label>
          </bs-text-field>
        </div>
        <div class="form-group">
          <bs-button-toggle-field color="default"
                                  toggle-color="teal"
                                  :items="batchTahunPeriode"
                                  v-model="tahun"
                                  @change="displayPopup(batchId, tahun)" >
            <label class="col-form-label col-lg-3 font-weight-bold">
              TAHUN
            </label>
          </bs-button-toggle-field>
        </div>
        <div>
          <transition name="fade" mode="out-in">
            <component :is="kpiComponent"
                       v-bind="kpiBind"/>
          </transition>
        </div>
      </div>
      <bs-mask-loader :opacity="0"
                      :show="showProgress"
                      :spinner-diameter="50" />

      <bs-button slot="footer" color="primary" @click="showModal = false">
        Tutup
      </bs-button>
    </bs-modal>
  </div>
</template>

<script>
import { Helper } from "vue-bs4";
import { BatchModel } from "../../models/MasterData/Batch/BatchModel";
import DashboardKpiPaud from './Kpi/DashboardKpiPaud.vue';
import DashboardKpiPelatihanVokasi from './Kpi/DashboardKpiPelatihanVokasi.vue';
import DashboardKpiPendidikanVokasi from './Kpi/DashboardKpiPendidikanVokasi.vue';
import DashboardKpiBeasiswa from './Kpi/DashboardKpiBeasiswa.vue';
import DashboardKpiTbe from './Kpi/DashboardKpiTbe.vue';
import CapaianKpiPaud from "../Kegiatan/Kpi/Forms/CapaianKpiPaud";
import CapaianKpiPendidikanVokasi from "../Kegiatan/Kpi/Forms/CapaianKpiPendidikanVokasi"
import CapaianKpiPelatihanVokasi from "../Kegiatan/Kpi/Forms/CapaianKpiPelatihanVokasi"
import CapaianKpiBeasiswa from "../Kegiatan/Kpi/Forms/CapaianKpiBeasiswa";
import CapaianKpiTbe from "../Kegiatan/Kpi/Forms/CapaianKpiTbe";
import CapaianKpiDefault from "../Kegiatan/Kpi/Forms/CapaianKpiDefault";
import httpErrorResponse from "../../mixins/httpErrorResponse";
import defaultRouteGuard from "../../mixins/security/defaultRouteGuard";
import mapAccessControls from "../../mixins/security/mapAccessControls";

export default {
    name: "DashboardOverview",
    components: {
        DashboardKpiPaud,
        DashboardKpiPelatihanVokasi,
        DashboardKpiPendidikanVokasi,
        DashboardKpiTbe,
        DashboardKpiBeasiswa,
        CapaianKpiPaud,
        CapaianKpiPendidikanVokasi,
        CapaianKpiPelatihanVokasi,
        CapaianKpiBeasiswa,
        CapaianKpiTbe,
        CapaianKpiDefault,
    },
    mixins: [httpErrorResponse, defaultRouteGuard, mapAccessControls],
    data: () => ({
        loading: true,
        overviewData: null,
        selectedProgramId: null,
        batchId: null,
        tahun : null,
        showModal: false,
        kpiTargets: [],
        kpiParams: [],
        kpiComponent: CapaianKpiDefault,
        showProgress: false,
        batch: null,
    }),
    created() {
        this.$http.get('/dashboard/program-overview').then((resp) => {
            this.overviewData = resp.data.data;
            this.loading      = false;
        }).catch((error) => {
            this.showErrorMessage(error);
        });
    },
    beforeRouteEnter(to, from, next) {
        next(async vm => {
            await vm.checkAcl();
            vm.showLoader = false;

            if (vm.verifyRouteEnter(to, 'READ')) {
                next();
            } else {
                next('/welcome');
            }
        });
    },
    beforeRouteUpdate(to, from, next) {
        if (this.hasAccess) {
            next();
        } else {
            next('/welcome');
        }
    },
    computed: {
        /**
         * Compute attribute untuk komponen Capaian KPI.
         *
         * @return {Object} The attribute to bind
         */
        kpiBind() {
            return {
                batch: this.batch,
                params: this.kpiParams,
                targets: this.kpiTargets,
                tahun: this.tahun,
                mode: 'view',
                canEdit: false,
                canVerify: false
            };
        },
        /**
         * @return {string} Nama Program CSR
         */
        programName() {
            if (this.batch && this.batch.programCsr) {
                return this.batch.programCsr.name
            }

            return '';
        },
        /**
         * @return {string} Nama periode batch pembinaan
         */
        batchName() {
            if (this.batch) {
                return this.batch.namaBatch
            }

            return '';
        },
        /**
         * @return {array} Tahun awal-akhir periode batch pembinaan
         */
        batchTahunPeriode() {
            if (this.batch) {
                let thns = [];
                for (let thn = this.batch.tahunAwal; thn <= this.batch.tahunAkhir; thn++){
                    thns.push({label:thn, value:thn});
                }
                return thns;
            }
            return [];
        },
        /**
         * @return {boolean} is parameters array loaded
         */
        hasParams() {
            return !Helper.isEmpty(this.kpiParams);
        }
    },
    methods: {
        displayMode(msid) {
            if (!this.selectedProgramId){
                return 'normal';
            }
            else if (this.selectedProgramId === msid) {
                return 'full'
            }
            else {
                return 'none'
            }
        },
        displayClass(msid) {
            if (!this.selectedProgramId){
                return 'col-sm-6 col-md-4 mb-3';
            }
            else if (this.selectedProgramId === msid) {
                return 'col-12'
            }
            else {
                return 'hidden'
            }
        },
        doMaximize(msid) {
            this.selectedProgramId = msid;
        },
        doRestore() {
            this.selectedProgramId = null;
        },
        doOpenPopup(batchId, tahun) {
            if (this.hasDetailViewAccessRights)
            {
                this.kpiParams = [];
                this.kpiTargets = [];
                this.showModal = true;
                this.displayPopup(batchId, tahun);
            }
        },
        displayPopup(batchId, tahun) {
            this.batchId = batchId;
            this.tahun = tahun;
            this.showProgress = true;
            this.kpiParams  = [];
            this.kpiTargets = [];
            this.$http.get('/kegiatan/kpi/fetch-capaian/' + batchId + '/' + tahun).then((resp) => {
                const data = resp.data.data;

                if (!Helper.isEmpty(data.batch)) {
                    this.batch = new BatchModel();
                    this.batch.assignValues(data.batch);
                    this.kpiParams  = data.params;
                    this.kpiTargets = data.targets;
                }
                this.showProgress = false;

                const msid = resp.data.data.batch.programCsr.msid;
                switch (msid) {
                    case 1 :
                        this.kpiComponent = CapaianKpiPaud;
                        break;
                    case 2 :
                        this.kpiComponent = CapaianKpiPendidikanVokasi;
                        break;
                    case 3 :
                        this.kpiComponent = CapaianKpiPelatihanVokasi;
                        break;
                    case 4 :
                        this.kpiComponent = CapaianKpiBeasiswa;
                        break;
                    case 5 :
                        this.kpiComponent = CapaianKpiTbe;
                        break;
                    default:
                        this.kpiComponent = CapaianKpiDefault;
                }
            }).catch((error) => {
                this.showProgress = false;
                this.showErrorMessage(error);
                this.batch      = null;
                this.tahun      = null;
                this.kpiParams  = [];
                this.kpiTargets = [];
            });
        },

    }
}
</script>

<style scoped>

</style>
