<template>
  <nav v-resize="_resize"
       :is="tag"
       :class="{'md-toolbar-shadow': !hasPageNav}"
       class="md-toolbar">
    <div class="md-toolbar-content">
      <bs-button v-if="showActionMenu"
                 mode="icon"
                 transparent
                 @click="_togglerClick">
        <bs-icon :icon="hasPrev ? 'arrow_back' : 'menu_bars'" height="28" width="32" />
      </bs-button>
      <div v-if="rawTitle" class="md-toolbar-title" v-html="pageTitle"></div>
      <div v-else class="md-toolbar-title">
        {{ pageTitle }}
      </div>
      <div class="flex-grow-1"></div>
      <div class="md-toolbar-items">
        <bs-button icon="bell"
                   icon-size="lg"
                   mode="icon"
                   transparent />
        <bs-menu class="ml-auto" placement="bottom-right">
          <bs-button icon="user"
                     icon-size="lg"
                     mode="icon"
                     transparent />
          <bs-list slot="content">
            <bs-list-item tag="div">
              <bs-list-tile-avatar :img-src="defaultAvatar" />
              <bs-list-tile-content>
                <bs-list-tile-title>{{ getUserFullname }}</bs-list-tile-title>
                <bs-list-tile-subtitle>{{ getUserEmail }}</bs-list-tile-subtitle>
              </bs-list-tile-content>
            </bs-list-item>
            <bs-list-item path="/user/profile">
              Profil Saya
            </bs-list-item>
            <bs-divider />
            <bs-list-item :url="logoutUrl">
              <font-awesome-icon icon="power-off" size="lg" />
              <span class="pl-2">Sign Out</span>
            </bs-list-item>
          </bs-list>
        </bs-menu>
      </div>
    </div>
  </nav>
</template>

<script>
import { BASE_URL, FETCH } from "../store/modules/mutation-types";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import screenSize from "../mixins/screenSize";
import mapStoreMutations from "../mixins/mapStoreMutations";
import mapStoreUserProfile from "../mixins/mapStoreUserProfile";

export default {
    name: 'AppNavbar',
    components: {FontAwesomeIcon},
    mixins: [screenSize, mapStoreMutations, mapStoreUserProfile],
    props: {
        tag: {
            type: String,
            default: 'nav'
        },
        miniSidebar: Boolean,
        openSidebar: Boolean,
        logoutUrl: {
            type: String,
            default: undefined
        }
    },
    data: () => ({
        isMobile: false,
        actionMenu: false,
        defaultAvatar: BASE_URL + 'images/avatar.png'
    }),
    created() {
        this[FETCH]();
    },
    computed: {
        /**
         * Check if current page has sub pagenav or not.
         *
         * @return {boolean} TRUE if current page has PageNav otherwise FALSE
         */
        hasPageNav() {
            return this.$route.meta && this.$route.meta.hasPageNav;
        },
        /**
         * Check if current page has previous Route URL or not.
         *
         * @return {boolean} TRUE if current page has previous Route URL
         */
        hasPrev() {
            return this.$route.meta && this.$route.meta.previous;
        },
        /**
         * Get current page title.
         *
         * @return {string} Current page title
         */
        pageTitle() {
            if (this.$route.meta && this.$route.meta.title) {
                this.setPageTitle(this.$route.meta.title);
            }

            return this.getPageTitle;
        },
        /**
         * Check whether to render Page Title in HTML format or not.
         *
         * @return {boolean} TRUE if render Page Title in HTML format otherwise FALSE
         */
        rawTitle() {
            return this.$route.meta && this.$route.meta.rawTitle;
        },
        /**
         * Display hamburger/action menu or not.
         *
         * @return {boolean} TRUE if action menu is displayed otherwise FALSE
         */
        showActionMenu: {
            get() {
                return this.actionMenu;
            },
            set(value) {
                this.actionMenu = value;
            }
        }
    },
    beforeUpdate() {
        this.actionMenu = this.$route.meta.previous || this.mobile.matches;
    },
    methods: {
        /**
         * Event handler when document body is resized.
         *
         * @return {void}
         * @private
         */
        _resize() {
            this.actionMenu = this.$route.meta.previous || this.mobile.matches;

            if (this.mobile.matches) {
                this.$emit('toggle-sidebar', 'close');
                this.isMobile = true;
            } else {
                this.isMobile = false;
            }
        },
        /**
         * Event handler when button action menubar is clicked.
         *
         * @return {void}
         * @private
         */
        _togglerClick() {
            if (this.$route.meta && this.$route.meta.previous) {
                this.$router.push(this.$route.meta.previous);
            } else if (this.isMobile) {
                this.$emit('toggle-sidebar', this.openSidebar ? 'close' : 'open');
            } else {
                // rare condition
                this.$emit('toggle-sidebar', this.miniSidebar ? 'mini' : 'expand');
            }
        }
    }
}
</script>

<style scoped>

</style>
