<template>
  <div class="row">
    <div class="col-md-6">
      <div class="text-grey-500">
        Dibuat Oleh: {{ postedBy }} ({{ dateFormat(postedDate, formatConst.dateTimeCustom) }})
      </div>
    </div>
    <div class="col-md-6 text-md-right">
      <div class="text-grey-500" v-if="updatedBy !== '' && updatedBy !== null">
        Diperbarui Oleh: {{ updatedBy }} <span v-if="lastUpdated">({{ dateFormat(lastUpdated, formatConst.dateTimeCustom) }})</span>
      </div>
    </div>
  </div>
</template>

<script>
import appLocale from "../mixins/appLocale";
import formatUtils from "../mixins/formatUtils";

export default {
    name: "AuditTrail",
    mixins: [appLocale, formatUtils],
    props: {
        postedBy: {
            type: String,
            default: undefined
        },
        updatedBy: {
            type: String,
            default: undefined
        },
        /**
         * @type {Date|*}
         */
        postedDate: Date,
        /**
         * @type {Date|*}
         */
        lastUpdated: Date
    }
}

</script>

<style scoped>

</style>
