<template>
  <div>
    <h6>{{ title }}</h6>
    <div v-html="fmtAlamat"></div>
  </div>
</template>

<script>
import { Helper } from "vue-bs4";

export default {
    name: "DisplayAlamat",
    props: {
        title: {
            type: String,
            default: undefined
        },
        alamat: {
            type: String,
            default: undefined
        },
        rtrw: {
            type: String,
            default: undefined
        },
        kodepos: {
            type: String,
            default: undefined
        },
        kecamatan: {
            type: Object,
            default: undefined
        },
        kelurahan: {
            type: Object,
            default: undefined
        }
    },
    computed: {
        fmtAlamat() {
            let alamat = this.alamat;

            if (!Helper.isEmpty(alamat) && !Helper.isEmpty(this.rtrw)) {
                alamat += ', RT/RW: ' + this.rtrw;
            }
            if (!Helper.isEmpty(alamat) && this.kelurahan) {
                alamat += ', Kel. ' + this.kelurahan.namaKelurahan;
            } else if (this.kelurahan) {
                alamat = 'Kel. ' + this.kelurahan.namaKelurahan;
            }
            if (!Helper.isEmpty(alamat) && this.kecamatan) {
                alamat += ',<br/>Kec. ' + this.kecamatan.namaKecamatan + ', Kab. ' +
                    this.kecamatan.kabupaten.namaKabupaten + ', <br/>' +
                    this.kecamatan.kabupaten.provinsi.namaProvinsi;
            } else if (this.kecamatan) {
                alamat = 'Kec. ' + this.kecamatan.namaKecamatan + ', Kab. ' +
                    this.kecamatan.kabupaten.namaKabupaten + ', <br/>' +
                    this.kecamatan.kabupaten.provinsi.namaProvinsi;
            }
            if (!Helper.isEmpty(alamat) && !Helper.isEmpty(this.kodepos) && this.kecamatan) {
                alamat += ' - ' + this.kodepos;
            }

            return alamat;
        }
    }
}

</script>

<style scoped>

</style>
