<template>
  <div>
    <bs-modal :open.sync="openModalDelete"
              :overlay-close="false"
              max-width="90%"
              title="Konfirmasi"
              width="450">
      Apakah anda yakin akan menghapus data <b>{{ dataModel.title }}</b>?
      <template v-slot:footer="">
        <bs-button color="secondary"
                   outlined
                   @click="openModalDelete = false">
          Batal
        </bs-button>
        <bs-button color="danger"
                   @click="deleteAction">
          Hapus
        </bs-button>
      </template>
    </bs-modal>
    <bs-modal :open.sync="openModalApproval"
              :overlay-close="approval.action !== 'aktivasi' && approval.action !== 'closing'"
              :title="approval.dlgTitle"
              max-width="90%"
              width="450">
      <p v-html="approval.dlgMessage"></p>
      <div v-if="approval.action !== 'aktivasi' && approval.action !== 'closing'"
           class="form-group">
        <bs-text-area placeholder="Wajib mencantumkan komentar jika reject"
                      rows="3"
                      v-model="approval.reason">
          <label class="col-form-label col-md-3">
            Komentar
          </label>
        </bs-text-area>
      </div>
      <template v-slot:footer="">
        <bs-button v-if="approval.action !== 'aktivasi' && approval.action !== 'closing'"
                   :disabled="approval.reason == null || approval.reason === ''"
                   color="danger"
                   @click="rejectAction">
          Reject
        </bs-button>
        <bs-button v-else
                   color="secondary"
                   outlined
                   @click="openModalApproval = false">
          Batal
        </bs-button>
        <bs-button :color="approval.action === 'closing' ? 'danger' : 'primary'"
                   @click="approveAction">
          {{ submitBtnText }}
        </bs-button>
      </template>
    </bs-modal>

    <bs-mask-loader :opacity="0"
                    :show="dataModel.deleting || dataModel.updating"
                    :spinner-diameter="50" />
  </div>
</template>

<script>
import { BsModel } from "vue-bs4";
import { STEP_AKTIVASI, STEP_CLOSING, STEP_VERIFY } from "../store/modules/mutation-types";

export default {
    name: "GridPendanaanExtension",
    props: {
        approval: {
            type: Object,
            default: undefined
        },
        dataModel: {
            type: BsModel,
            default: undefined
        },
        showModalApproval: {
            type: Boolean,
            default: false
        },
        showModalDelete: {
            type: Boolean,
            default: false
        },
    },
    computed: {
        openModalApproval: {
            get() {
                return this.showModalApproval;
            },
            set(value) {
                this.$emit('update:showModalApproval', value);
            }
        },
        openModalDelete: {
            get() {
                return this.showModalDelete;
            },
            set(value) {
                this.$emit('update:showModalDelete', value);
            }
        },
        submitBtnText() {
            if (this.approval.action.includes(STEP_VERIFY)) {
                return 'Verify'
            } else if (this.approval.action.includes('approval')) {
                return 'Approve';
            } else if (this.approval.action.includes(STEP_AKTIVASI)) {
                return 'Aktifkan';
            } else if (this.approval.action.includes(STEP_CLOSING)) {
                return 'Tutup';
            } else {
                return 'Submit';
            }
        }
    },
    methods: {
        approveAction() {
            this.$emit('approved');
        },
        deleteAction() {
            this.$emit('delete');
        },
        rejectAction() {
            this.$emit('reject');
        }
    }
}
</script>

<style scoped>

</style>
