<template>
  <div>
    <h6>Kontak</h6>
    <div class="form-row">
      <div class="col-4 col-md-3">
        Telpon/HP
      </div>
      <div style="width: 8px">
        :
      </div>
      <div class="col">
        {{ phone }}
      </div>
    </div>
    <div class="form-row">
      <div class="col-4 col-md-3">
        Alamat Email
      </div>
      <div style="width: 8px">
        :
      </div>
      <div class="col">
        <a :href="_mailto(email)">
          {{ email }}
        </a>
      </div>
    </div>
    <div class="form-row">
      <div class="col-4 col-md-3">
        Facebook
      </div>
      <div style="width: 8px">
        :
      </div>
      <div class="col">
        {{ facebook }}
      </div>
    </div>
    <div class="form-row">
      <div class="col-4 col-md-3">
        Instagram
      </div>
      <div style="width: 8px">
        :
      </div>
      <div class="col">
        {{ instagram }}
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "IndividuContact",
        props: {
            phone: {
                type: String,
                default: undefined
            },
            email: {
                type: String,
                default: undefined
            },
            facebook: {
                type: String,
                default: undefined
            },
            instagram: {
                type: String,
                default: undefined
            }
        },
        methods: {
            /**
             * Create mail URL from email address.
             *
             * @param {string} email The email address
             * @return {string} Mail URL
             */
            _mailto(email) {
                return "mailto:" + email;
            }
        }
    }
</script>

<style scoped>

</style>
