<template>
  <div v-if="latitude && longitude" class="mt-3">
    <h6>Koordinat GPS</h6>
    <div class="row mb-3">
      <div class="col-xl-6">
        <div class="row">
          <div class="col-md">
            Latitude : {{ decimalFormat(latitude) }}
          </div>
          <div class="col-md">
            Longitude : {{ decimalFormat(longitude) }}
          </div>
        </div>
      </div>
    </div>
    <div style="max-height: 320px; overflow: hidden">
      <img alt="Peta Lokasi" id="viewmap" src="images/sample/map.png" style="width: 100%" />
    </div>
  </div>
</template>

<script>
import appLocale from "../mixins/appLocale";
import formatUtils from "../mixins/formatUtils";

export default {
    name: "MapLocation",
    mixins: [appLocale, formatUtils],
    props: {
        latitude: {
            type: Number,
            default: undefined
        },
        longitude: {
            type: Number,
            default: undefined
        }
    }
}
</script>

<style scoped>

</style>