<template>
  <span v-if="disabled || readonly"
        class="text-right"
        :class="{ 'text-muted':(disabled && !readonly) }">
    {{ formattedValue }}
  </span>
  <div v-else-if="isNull">
    <bs-tooltip content="Klik untuk mengisi">
      <div class="text-right text-secondary mx-2"
           @click="setNotNull">
        <strong> &mdash; &nbsp;</strong>
      </div>
    </bs-tooltip>
  </div>
  <span v-else>
    <bs-number-field v-model="number"
                     :locale="getLocale"
                     append-icon="pen"
                     control-cls="text-right"
                     autofocus
                     flat
                     @input="handleInput">
      <span class="md-icon-text" slot="appendSlot">
        {{ percentageSign }}
      </span>
    </bs-number-field>
  </span>
</template>

<script>
import appLocale from "../mixins/appLocale";
import formatUtils from "../mixins/formatUtils";

export default {
    name: "NumberFieldWrapper",
    mixins: [appLocale, formatUtils],
    props: {
        value: {
            type: Number,
            default: null
        },
        disabled: {
            type: Boolean,
            default: false
        },
        readonly: {
            type: Boolean,
            default: false
        },
        percent: {
            type: Boolean,
            default: false
        }
    },
    data: () => ({
        number: null,
    }),
    computed: {
        formattedValue() {
            if (this.number === null) {
                return '';
            }
            if (this.percent) {
                return this.percentFormat(this.number);
            }

            return this.decimalFormat(this.number);
        },
        percentageSign() {
            if (this.percent) {
                return '%';
            } else {
                return '';
            }
        },
        isNull() {
            return (this.number === null) || isNaN(this.number) || (String(this.number).trim() === '');
        }
    },
    mounted() {
        this.number = this.value;
    },
    methods: {
        setNotNull() {
            this.number = 0;
            this.handleInput(this.number);
        },
        handleInput() {
            this.$emit('input', this.number)
        }
    },
    watch: {
        value(newvalue) {
            if (isNaN(newvalue) || (String(newvalue).trim() === '')) {
                this.number = null;
            }

            this.number = newvalue;
        }
    }
}
</script>

<style scoped>

</style>
