<template>
  <section class="body-container">
    <bs-card shadow>
      <bs-card-body>
        <form class="row pt-lg-3 px-lg-2" novalidate>
          <!-- left side -->
          <div class="col-xl-6">
            <div class="form-group">
              <bs-text-field :external-validator="kodeInstitusiValidator"
                             autofocus
                             required
                             v-model="pesantren.kodeInstitusi">
                <label class="col-form-label col-lg-4">
                  Kode Lembaga
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field :external-validator="namaInstitusiValidator"
                             required
                             v-model="pesantren.namaInstitusi">
                <label class="col-form-label col-lg-4">
                  Nama Lembaga
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-button-toggle-field :external-validator="kategoriPesantrenValidator"
                                      :items="kategoriPesantren"
                                      color="default"
                                      outlined
                                      required
                                      size="sm"
                                      toggle-color="teal"
                                      v-model="pesantren.kategori">
                <label class="col-form-label col-lg-4">
                  Kategori
                </label>
              </bs-button-toggle-field>
            </div>
            <div class="form-group">
              <bs-button-toggle-field :external-validator="statusSwastaValidator"
                                      :items="statusInstansi"
                                      color="default"
                                      outlined
                                      required
                                      size="sm"
                                      toggle-color="teal"
                                      v-model="pesantren.swasta">
                <label class="col-form-label col-lg-4">
                  Status
                </label>
              </bs-button-toggle-field>
            </div>
            <div class="form-group">
              <bs-text-area :external-validator="alamatValidator"
                            required
                            rows="2"
                            v-model="pesantren.alamat">
                <label class="col-form-label col-lg-4">
                  Alamat Lembaga
                </label>
              </bs-text-area>
            </div>
            <div class="form-group">
              <bs-combobox :data-source="dsCboProvinsi"
                           :external-validator="provinsiIdValidator"
                           required
                           v-model="pesantren.provinsiId">
                <label class="col-form-label col-lg-4">
                  Provinsi
                </label>
              </bs-combobox>
            </div>
            <div class="form-group">
              <bs-combobox :data-source="dsCboKabupaten"
                           :external-validator="kabupatenIdValidator"
                           :parent-value="pesantren.provinsiId"
                           @data-bind="onBindKabupaten"
                           required
                           v-model="pesantren.kabupatenId">
                <label class="col-form-label col-lg-4">
                  Kabupaten
                </label>
              </bs-combobox>
            </div>
            <div class="form-group">
              <bs-combobox :data-source="dsCboKecamatan"
                           :external-validator="kecamatanIdValidator"
                           :parent-value="pesantren.kabupatenId"
                           @data-bind="onBindKecamatan"
                           required
                           v-model="pesantren.kecamatanId">
                <label class="col-form-label col-lg-4">
                  Kecamatan
                </label>
              </bs-combobox>
            </div>
            <div class="form-group">
              <bs-combobox :data-source="dsCboKelurahan"
                           :external-validator="kelurahanIdValidator"
                           :parent-value="pesantren.kecamatanId"
                           @data-bind="onBindKelurahan"
                           required
                           v-model="pesantren.kelurahanId">
                <label class="col-form-label col-lg-4">
                  Kelurahan
                </label>
              </bs-combobox>
            </div>
            <div class="row">
              <div class="col-lg-8 offset-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <bs-text-field :external-validator="rtRwValidator"
                                   class="form-group"
                                   placeholder="001/003"
                                   prepend-icon="pen"
                                   v-model="pesantren.rtRw">
                      <span class="md-icon-text" slot="prependSlot">RT/RW:</span>
                    </bs-text-field>
                  </div>
                  <div class="col-lg-6">
                    <bs-text-field class="form-group"
                                   prepend-icon="pen"
                                   v-model="pesantren.kodePos">
                      <span class="md-icon-text" slot="prependSlot">Kode Pos:</span>
                    </bs-text-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-lg-4">
                Koordinat (GPS)
              </label>
              <div class="col-lg-8">
                <div class="row">
                  <div class="col-lg-6">
                    <bs-number-field :locale="getLocale"
                                     class="form-group"
                                     prepend-icon="pen"
                                     v-model.number="pesantren.latitude">
                      <span class="md-icon-text" slot="prependSlot">Latitude:</span>
                    </bs-number-field>
                  </div>
                  <div class="col-lg-6">
                    <bs-number-field :locale="getLocale"
                                     class="form-group"
                                     prepend-icon="pen"
                                     v-model.number="pesantren.longitude">
                      <span class="md-icon-text" slot="prependSlot">Longitude:</span>
                    </bs-number-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- right side -->
          <div class="col-xl-6">
            <div class="form-group">
              <bs-text-field :external-validator="nomorAkteValidator"
                             required
                             v-model="pesantren.nomorAkte">
                <label class="col-form-label col-lg-4">
                  No. Akte Pendirian
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-date-time-field :external-validator="tahunBerdiriValidator"
                                  append-icon="calendar"
                                  format="YYYY"
                                  required
                                  v-model="pesantren.tahunBerdiri"
                                  view-mode="year">
                <label class="col-form-label col-lg-4">
                  Berdiri Tahun
                </label>
              </bs-date-time-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="pesantren.officePhone">
                <label class="col-form-label col-lg-4">
                  Telpon Kantor
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field :external-validator="emailValidator" v-model="pesantren.email">
                <label class="col-form-label col-lg-4">
                  Alamat Email
                </label>
              </bs-text-field>
            </div>
            <div class="form-group mb-4">
              <bs-text-field v-model="pesantren.website">
                <label class="col-form-label col-lg-4">
                  Website
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="pesantren.namaPimpinan">
                <label class="col-form-label col-lg-4">
                  Nama Pimpinan Lembaga
                </label>
              </bs-text-field>
            </div>
            <div class="form-group">
              <bs-text-field v-model="pesantren.contactPhone">
                <label class="col-form-label col-lg-4">
                  Nomor Telpon/HP
                </label>
              </bs-text-field>
            </div>
          </div>
        </form>
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <bs-button color="primary" @click="doSave">
          Simpan
        </bs-button>
      </bs-card-footer>
    </bs-card>
    <bs-mask-loader :opacity="0"
                    :show="pesantren.loading || pesantren.updating"
                    :spinner-diameter="50" />
  </section>
</template>

<script>
import { Helper } from "vue-bs4";
import { validationMixin } from "vuelidate";
import { PesantrenModel } from "../../../../../models/Beneficiary/Pelatihan/PesantrenModel";
import {
    MSG_SAVE_SUCCESS,
    MSG_UPDATE_SUCCESS,
    SAVE,
    STATE_SUCCESS,
    UPDATE
} from "../../../../../store/modules/mutation-types";
import { GET_ACTIVE_PROGRAM } from "../../../../../store/modules/Kegiatan/mutation-types";
import {
    pesantrenValidationHandler,
    pesantrenValidator
} from "../../../../../models/Beneficiary/Pelatihan/PesantrenValidators";
import appLocale from "../../../../../mixins/appLocale";
import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
import cascadeComboBoxWilayah from "../../../../../mixins/cascadeComboBoxWilayah";
import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";
import alamatValidationHandler from "../../../../../models/Beneficiary/alamatValidationHandler";
import institusiValidationHandler from "../../../../../models/Beneficiary/institusiValidationHandler";
import editorRouteGuard from "../../../../../mixins/security/editorRouteGuard";

export default {
    name: "FormPesantren",
    mixins: [
        validationMixin, appLocale, httpErrorResponse, editorRouteGuard, mapStoreKegiatanBeneficiary,
        cascadeComboBoxWilayah, alamatValidationHandler('pesantren'),
        institusiValidationHandler('pesantren'), pesantrenValidationHandler('pesantren')
    ],
    data: () => ({
        pesantren: new PesantrenModel(),
        statusInstansi: [
            {label: 'Negeri', value: false},
            {label: 'Swasta', value: true}
        ],
        kategoriPesantren: [
            {label: 'Pesantren', value: 4},
            {label: 'Lembaga Keagamaan', value: 5}
        ],
        /**
         * Jika bernilai FALSE dipergunakan untuk menambah data baru,
         * dan jika bernilai TRUE dipergunakan untuk memperbarui existing data.
         *
         * @type boolean
         */
        isEditMode: false
    }),
    validations: {
        pesantren: pesantrenValidator
    },
    created() {
        if (!this.hasEditorAccessRights) {
            this.$router.push('/access-denied');
            return;
        }

        const idprogram = this.$route.params.idprogram;

        if (this[GET_ACTIVE_PROGRAM] === null) {
            this.fetchDpt(idprogram);
        }
        if (this.$route.params.id) {
            this.isEditMode            = true;
            this.pesantren.institusiId = this.$route.params.id;

            this.pesantren.fetch().then(() => {
                this.pesantren.provinsiId = this.pesantren.kecamatan.kabupaten.provinsi.provinsiId;
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] +
                        '/pelatihan/institusi');
                });
            });
        }
        if (!this.isEditMode){
          this.pesantren.status = 'NEW';
          this.pesantren.statusVerifikasi = 0;
        }
    },
    beforeDestroy() {
        this.pesantren.destroy();
        this.pesantren = null;
    },
    methods: {
        /**
         * Send HTTP request untuk menambah/mengupdate data Pesantren.
         *
         * @return {void}
         */
        doSave() {
            this.$v.$touch();

            if (!this.$v.$error) {
                const text   = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                const action = this.isEditMode ? UPDATE : SAVE;

                this.pesantren.kecamatan       = this.pesantren.kecamatanId;
                this.pesantren.kelurahan       = this.pesantren.kelurahanId;
                this.pesantren.akreditasi      = false;
                this.pesantren.nilaiAkreditasi = null;

                if (Helper.isArray(this.pesantren.programs) && this.pesantren.programs.length > 0) {
                    let programs = [];

                    this.pesantren.programs.forEach(el => {
                        if (!Helper.isEmpty(el.id)) {
                            programs.push(el.id);
                        }
                    });
                    if (!programs.includes(this[GET_ACTIVE_PROGRAM])) {
                        programs.push(this[GET_ACTIVE_PROGRAM]);
                    }
                    this.pesantren.programs = programs;
                } else {
                    this.pesantren.programs = [this[GET_ACTIVE_PROGRAM]];
                }

                this.pesantren[action]().then(() => {
                    this.$notification.success('Data ' + this.pesantren.namaInstitusi + text, STATE_SUCCESS);
                    this.$nextTick(() => {
                        this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/pelatihan/institusi');
                    });
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            }
        },
        /**
         * Event handler when data kabupaten already loaded.
         *
         * @param {Object[]} items Data Model Institusi
         *
         * @return {void}
         */
        onBindKabupaten(items) {
            if (items && items.length > 0 && this.pesantren.kecamatan !== null) {
                this.pesantren.kabupatenId = this.pesantren.kecamatan.kabupaten.kabupatenId;
            }
        },
        /**
         * Event handler when data kecamatan already loaded.
         *
         * @param {Object[]} items Data Model Institusi
         *
         * @return {void}
         */
        onBindKecamatan(items) {
            if (items && items.length > 0 && this.pesantren.kecamatan !== null) {
                this.pesantren.kecamatanId = this.pesantren.kecamatan.kecamatanId;
            }
        },
        /**
         * Event handler when data kelurahan already loaded.
         *
         * @param {Object[]} items Data Model Institusi
         *
         * @return {void}
         */
        onBindKelurahan(items) {
            if (items && items.length > 0 && this.pesantren.kelurahan !== null) {
                this.pesantren.kelurahanId = this.pesantren.kelurahan.kelurahanId;
            }
        }
    }
}
</script>

<style scoped>

</style>
