<template>
    <section class="body-container">
        <bs-card shadow>
            <bs-card-body>
                <form class="pt-lg-3 px-lg-2" novalidate>
                    <div class="form-row">
                        <div class="col-lg-3 col-xl-2 font-weight-bold">
                            NAMA
                        </div>
                        <div style="width: 8px">
                            :
                        </div>
                        <div class="col">
                            {{ individu.namaLengkap }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-3 col-xl-2 font-weight-bold">
                            NIK
                        </div>
                        <div style="width: 8px">
                            :
                        </div>
                        <div class="col">
                            {{ individu.nik }}
                        </div>
                    </div>
                    <bs-divider class="grey-500 my-3"/>
                    <h6 class="mb-3">Indikator KPI Kualitatif</h6>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-4 font-weight-bold">
                            Triwulan
                        </label>
                        <div class="col-lg-4">
                            <bs-combobox v-model="indikator.semester"
                                         :external-validator="semesterValidator"
                                         :items="dsTriwulan"
                                         required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <strong class="mt-4 mb-3">Probabilitas Usaha</strong>
                        <table class="table table-valign-middle table-bordered mb-1">
                            <thead class="thead-light">
                            <tr>
                                <th class="border-right-0" style="width: 20px;">
                                    #
                                </th>
                                <th class="text-center">
                                    Kriteria
                                </th>
                                <th class="text-center" style="width: 100px">
                                    Nilai
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Hasil Usaha Rugi</td>
                                <td>
                                    <bs-radio v-model="indikator.vokasiPelatihanParams.probabilitas"
                                              :value="0"
                                              color="primary">
                                        0
                                    </bs-radio>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Hasil Usaha BEP</td>
                                <td><bs-radio v-model="indikator.vokasiPelatihanParams.probabilitas"
                                              :value="25"
                                              color="primary">
                                    25
                                </bs-radio></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Profit < 25%</td>
                                <td><bs-radio v-model="indikator.vokasiPelatihanParams.probabilitas"
                                              :value="50"
                                              color="primary">
                                    50
                                </bs-radio></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Profit 25-50%</td>
                                <td><bs-radio v-model="indikator.vokasiPelatihanParams.probabilitas"
                                              :value="75"
                                              color="primary">
                                    75
                                </bs-radio></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Profit >50%</td>
                                <td><bs-radio v-model="indikator.vokasiPelatihanParams.probabilitas"
                                              :value="100"
                                              color="primary">
                                    100
                                </bs-radio></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <strong class="mt-4 mb-3">Kewirausahaan masuk dalam Kurikulum Pesantren</strong>
                        <table class="table table-valign-middle table-bordered mb-1">
                            <thead class="thead-light">
                            <tr>
                                <th class="border-right-0" style="width: 20px;">
                                    #
                                </th>
                                <th class="text-center">
                                    Kriteria
                                </th>
                                <th class="text-center" style="width: 100px">
                                    Nilai
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Ada modul & KBM Kewirausahaan</td>
                                <td><bs-checkbox v-model="indikator.vokasiPelatihanParams.wirausaha.modul"
                                                 @change="onSelectModul"
                                                 color="primary">25</bs-checkbox></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Ada demplot/unit usaha/lahan praktik kewirausahaan</td>
                                <td><bs-checkbox v-model="indikator.vokasiPelatihanParams.wirausaha.demplot"
                                                 @change="onSelectDemplot"
                                                 color="primary">50</bs-checkbox></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Kewirausahaan masuk dalam kalender pendidikan pesantren</td>
                                <td><bs-checkbox v-model="indikator.vokasiPelatihanParams.wirausaha.kalender"
                                                 @change="onSelectKalender"
                                                 color="primary">75</bs-checkbox></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Santri belajar dan praktik kewirausahaan di demplot/lahan praktik/unit usaha pesantren</td>
                                <td><bs-checkbox v-model="indikator.vokasiPelatihanParams.wirausaha.praktik"
                                                 @change="onSelectPraktik"
                                                 color="primary">100</bs-checkbox></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <strong class="mt-4 mb-3">BPUP Terbentuk dan Berjalan</strong>
                        <table class="table table-valign-middle table-bordered mb-1">
                            <thead class="thead-light">
                            <tr>
                                <th class="border-right-0" style="width: 20px;">
                                    #
                                </th>
                                <th class="text-center">
                                    Kriteria
                                </th>
                                <th class="text-center" style="width: 100px">
                                    Nilai
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>BPUP sudah terbentuk</td>
                                <td><bs-checkbox v-model="indikator.vokasiPelatihanParams.bpup.bentuk"
                                                 @change="onSelectBpup"
                                                 color="primary">25</bs-checkbox></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Ada SK pembentukan BPUP dari Pimpinan Ponpes/Yayasan</td>
                                <td><bs-checkbox v-model="indikator.vokasiPelatihanParams.bpup.skp"
                                                 @change="onSelectSkp"
                                                 color="primary">50</bs-checkbox></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>BPUP memiliki Program Kerja Tahunan</td>
                                <td><bs-checkbox v-model="indikator.vokasiPelatihanParams.bpup.program"
                                                 @change="onSelectBpupProgram"
                                                 color="primary">75</bs-checkbox></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Berbadan hukum (Akte Notaris), dan memiliki NPWP</td>
                                <td><bs-checkbox v-model="indikator.vokasiPelatihanParams.bpup.akte"
                                                 @change="onSelectAkte"
                                                 color="primary">100</bs-checkbox></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </bs-card-body>
            <bs-card-footer class="bg-white">
                <bs-button color="primary" @click="doSave">
                    Simpan
                </bs-button>
                <bs-button color="secondary" outlined @click="doCancel">
                    Batal
                </bs-button>
            </bs-card-footer>
            <bs-mask-loader :opacity="0"
                            :show="loaded || individu.loading || indikator.updating"
                            :spinner-diameter="50" />
        </bs-card>
    </section>
</template>

<script>
    import NumberFieldWrapper from "../../../../../components/NumberFieldWrapper";
    import appLocale from "../../../../../mixins/appLocale";
    import editorRouteGuard from "../../../../../mixins/security/editorRouteGuard";
    import formatUtils from "../../../../../mixins/formatUtils";
    import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
    import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";
    import {validationMixin} from "vuelidate";
    import {KpiIndikatorValidator, KpiValidationHandler} from "../../../../../models/Kegiatan/KpiIndikatorValidator";
    import DanaBatchModel from "../../../../../models/Pendanaan/DanaBatchModel";
    import {IndikatorKpiModel} from "../../../../../models/Kegiatan/IndikatorKpiModel";
    import {
        MSG_SAVE_SUCCESS,
        MSG_UPDATE_SUCCESS,
        SAVE,
        STATE_SUCCESS,
        UPDATE
    } from "../../../../../store/modules/mutation-types";
    import {SantriModel} from "../../../../../models/Beneficiary/Pelatihan/SantriModel";

    export default {
        name: "KpiFormSantri",
        components: {NumberFieldWrapper},
        mixins: [
            appLocale, editorRouteGuard, formatUtils, httpErrorResponse,
            mapStoreKegiatanBeneficiary, validationMixin, KpiValidationHandler('indikator')
        ],
        data: () => ({
            individu: new SantriModel(),
            program: new DanaBatchModel(),
            indikator: new IndikatorKpiModel(),
            dsTriwulan: ['I','II','III','IV'],
            loaded: false,
            isEditMode: false,
        }),
        created() {
            const idprogram = this.$route.params.idprogram;

            if (this.$route.params.id) {
                this.isEditMode = true;
                this.fetchData(this.$route.params.id);
            }

            if (this.$route.params.idprogram) {
                this.fetchProgram(this.$route.params.idprogram);
            }

            if (this.$route.params.uid) {
                this.individu.fetch(this.$route.params.uid).then((rsp) => {
                }).catch((error) => {
                    this.showErrorMessage(error);
                    this.$nextTick(() => {
                        this.$router.push('/kegiatan/penerima-manfaat/' + idprogram + '/pelatihan/siswa/view/' + this.$route.params.uid);
                    });
                });
            }
        },
        beforeDestroy() {
            this.individu.destroy();
            this.individu = null;

            this.indikator.destroy();
            this.indikator = null;

            this.program.destroy();
            this.program = null;
        },
        validations: {
            indikator: KpiIndikatorValidator
        },
        methods: {
            onSelectModul() {
                this.indikator.vokasiPelatihanParams.wirausaha.demplot = false;
                this.indikator.vokasiPelatihanParams.wirausaha.kalender = false;
                this.indikator.vokasiPelatihanParams.wirausaha.praktik = false;
            },
            onSelectDemplot() {
                this.indikator.vokasiPelatihanParams.wirausaha.modul = true;
                this.indikator.vokasiPelatihanParams.wirausaha.kalender = false;
                this.indikator.vokasiPelatihanParams.wirausaha.praktik = false;
            },
            onSelectKalender() {
                this.indikator.vokasiPelatihanParams.wirausaha.modul = true;
                this.indikator.vokasiPelatihanParams.wirausaha.demplot = true;
                this.indikator.vokasiPelatihanParams.wirausaha.praktik = false;
            },
            onSelectPraktik() {
                this.indikator.vokasiPelatihanParams.wirausaha.modul = true;
                this.indikator.vokasiPelatihanParams.wirausaha.demplot = true;
                this.indikator.vokasiPelatihanParams.wirausaha.kalender = true;
            },
            onSelectBpup() {
                this.indikator.vokasiPelatihanParams.bpup.skp = false;
                this.indikator.vokasiPelatihanParams.bpup.program = false;
                this.indikator.vokasiPelatihanParams.bpup.akte = false;
            },
            onSelectSkp() {
                this.indikator.vokasiPelatihanParams.bpup.bentuk = true;
                this.indikator.vokasiPelatihanParams.bpup.program = false;
                this.indikator.vokasiPelatihanParams.bpup.akte = false;
            },
            onSelectBpupProgram() {
                this.indikator.vokasiPelatihanParams.bpup.bentuk = true;
                this.indikator.vokasiPelatihanParams.bpup.skp = true;
                this.indikator.vokasiPelatihanParams.bpup.akte = false;
            },
            onSelectAkte() {
                this.indikator.vokasiPelatihanParams.bpup.bentuk = true;
                this.indikator.vokasiPelatihanParams.bpup.skp = true;
                this.indikator.vokasiPelatihanParams.bpup.program = true;
            },
            restrictChars(evt) {
                evt = (evt) ? evt : window.event;
                let charCode = (evt.which) ? evt.which : evt.keyCode;
                if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                    evt.preventDefault();
                } else {
                    return true;
                }
            },
            /**
             * Send request insert/update data to server.
             *
             * @return {void}
             */
            doSave() {
                this.$v.$touch();
                if (!this.$v.$error) {
                    const text = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                    const action = this.isEditMode ? UPDATE : SAVE;

                    this.loaded = true;

                    this.indikator.individu = this.individu.individuId;
                    this.indikator.periodeBatch = this.program.batchId;
                    this.indikator.tahun = this.program.tahun;

                    this.indikator[action]().then(() => {
                        this.loaded = false;
                        this.$notification.success('Data KPI Santri/Siswa ' + this.individu.namaLengkap + text, STATE_SUCCESS);
                        this.$nextTick(() => {
                            this.$router.push('/kegiatan/penerima-manfaat/' + this.$route.params.idprogram + '/pelatihan/siswa/view/' + this.$route.params.uid);
                        });
                    }).catch((error) => {
                        this.loaded = false;
                        this.showErrorMessage(error);
                    });
                }
            },
            /**
             * Batalkan pengisian atau penyuntingan data dan kembali ke halaman DataGrid.
             *
             * @return {void}
             */
            doCancel() {
                this.$router.push(this.$route.meta.previous);
            },
            /**
             * Fetch data from remote server.
             *
             * @param {Number|String} id bid
             * @return {void}
             */
            fetchData(id) {
                this.indikator.fetch(id).catch((error) => {
                    this.showErrorMessage(error);
                    this.$nextTick(() => {
                        this.$router.push(this.$route.meta.previous);
                    });
                });
            },
            /**
             * Fetch data program Dana Batch tahunan.
             *
             * @param {int|string} id    Program ID
             * @return {void}
             */
            fetchProgram(id) {
                this.program.fetch(id).catch((error) => {
                    this.showErrorMessage(error);
                    this.$nextTick(() => {
                        this.$router.push(this.$route.meta.previous);
                    });
                });
            }
        }
    }
</script>

<style scoped>

</style>
