<template>
  <div class="body-container bg-white">
    <div class="error-access-denied">
      <div class="messages">
        <div class="header-title">
          Access Denied
        </div>
        <div class="h4">
          Anda tidak memiliki hak akses untuk membuka laman ini.
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    name: "AccessDenied"
}
</script>

<style lang="scss">
  @import "~bootstrap/scss/functions";
  @import "~bootstrap/scss/variables";
  @import "~bootstrap/scss/mixins/breakpoints";
  @import "~vue-bs4/scss/colors";
  @import "~vue-bs4/scss/variables";

  .error-access-denied {
    margin: auto;

    > .messages {
      min-height: 140px;
      margin-bottom: $padding-lg;

      > .header-title {
        color: darken(#ec0928, 8%);
        font-size: 3em;
        font-weight: bold;
        line-height: 1.1;
        padding-top: $padding-base;
        margin-bottom: $padding-base;
      }
    }

    @include media-breakpoint-up(md) {
      background: url("../../images/security-error.png") no-repeat 0 5px;

      > .messages {
        margin-left: 8.5rem;
      }
    }

    @include media-breakpoint-up(lg) {
      width: 80%;
    }
  }
</style>
