<template>
  <div class="body-container bg-white">
    <div class="row error-notfound">
      <div class="col-xl-9">
        <div class="d-flex align-items-center">
          <div class="messages-notfound">
            <div class="kitty-404"></div>
            <p class="h4 text-center">
              Laman yang Anda maksud tidak ditemukan.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 d-none d-xl-block">
        <div class="stuff-404"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    name: "NotFound"
}
</script>

<style lang="scss">
  @import "~bootstrap/scss/functions";
  @import "~bootstrap/scss/variables";
  @import "~bootstrap/scss/mixins/breakpoints";

  .error-notfound {
    .d-flex {
      height: 100%;
    }

    .messages-notfound {
      margin: 2rem auto 1rem;
      max-width: 100%;
      width: 600px;

      > .kitty-404 {
        background-image: url('../../images/kitty-404.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: center;
        display: block;
        height: 180px;
      }

      @include media-breakpoint-up(md) {
        > .kitty-404 {
          height: 220px;
          margin-bottom: 2rem;
        }
      }
      @include media-breakpoint-up(lg) {
        margin: 0 auto;

        > .kitty-404 {
          margin-bottom: 3rem;
        }
      }
    }

    .stuff-404 {
      background: url('../../images/stuff-404.png') no-repeat top left;
      display: block;
      height: 325px;
      width: 227px;
    }
  }
</style>
