<template>
  <section class="container">
    <bs-mask-loader :opacity="0"
                    :show="showLoader"
                    :spinner-diameter="50" />
  </section>
</template>

<script>
import mapAccessControls from "../mixins/security/mapAccessControls";

export default {
    name: "StartPage",
    mixins: [mapAccessControls],
    data: () => ({
        showLoader: true
    }),
    beforeRouteEnter(to, from, next) {
        next(async vm => {
            await vm.checkAcl();
            const dasboardRoute = vm.$router.resolve({name: 'dashboard'});
            vm.showLoader       = false;

            if (vm.verifyRouteEnter(dasboardRoute.resolved, 'READ')) {
                next('/dashboard');
            } else {
                next('/welcome');
            }
        });
    },
    beforeRouteUpdate(to, from, next) {
        const dasboardRoute = this.$router.resolve({name: 'dashboard'});

        if (this.verifyRouteEnter(dasboardRoute.resolved, 'READ')) {
            next('/dashboard');
        } else {
            next('/welcome');
        }
    }
}
</script>

<style scoped>

</style>
