<template>
  <section class="container px-4 pt-xl-5">
    <div class="display-4 font-weight-normal">
      Halo, {{ getUserFullname }}
    </div>
    <div>&nbsp;</div>
    <div class="h3 pt-2">
      Selamat datang di CSR Management System!
    </div>
    <bs-mask-loader :opacity="0"
                    :show="showLoader"
                    :spinner-diameter="50" />
  </section>
</template>

<script>
import mapAccessControls from "../mixins/security/mapAccessControls";
import mapStoreUserProfile from "../mixins/mapStoreUserProfile";

export default {
    name: "Welcome",
    mixins: [mapAccessControls, mapStoreUserProfile],
    data: () => ({
        showLoader: true
    }),
    beforeRouteEnter(to, from, next) {
        next(async vm => {
            await vm.checkAcl();
            const dasboardRoute = vm.$router.resolve({name: 'dashboard'});
            vm.showLoader       = false;

            if (vm.verifyRouteEnter(dasboardRoute.resolved, 'READ')) {
                next('/dashboard');
            } else {
                next();
            }
        });
    },
    beforeRouteUpdate(to, from, next) {
        const dasboardRoute = this.$router.resolve({name: 'dashboard'});

        if (this.verifyRouteEnter(dasboardRoute.resolved, 'READ')) {
            next('/dashboard');
        } else {
            next();
        }
    }
}
</script>

<style scoped>

</style>
