@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~bootstrap/scss/mixins/caret";
@import "~compass-sass-mixins/lib/compass/css3";
@import "~compass-sass-mixins/lib/compass/typography";
@import "~bootstrap/scss/mixins/clearfix";
@import "variables";

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    height: 100%;
    padding: 0;
    position: relative;
}

.page-wrapper {
    min-height: 100%;
    height: 100%;
    overflow: hidden;

    .page-content {
        max-width: 100%;
        margin-left: auto;
        height: 100vh;
        overflow: hidden;
        position: relative;
        flex-basis: 0;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        -ms-flex-positive: 1;
    }

    .body-wrapper {
        height: calc(100vh - 64px);
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;

        > div {
            min-height: 100%;
            position: relative;
        }

        .container {
            padding-top: .7rem;
            padding-bottom: .7rem;
        }

        .body-container {
            padding: .7rem 1rem;
            position: relative;
        }

        @include media-breakpoint-up(lg) {
            .container {
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
            }
            .body-container {
                padding: 1.5rem 1.8rem;
            }
        }

    }
}

#main-header {
    position: relative;
    @include display-flex();

    > .#{$prefix}-toolbar {
        position: relative;
        width: 100%;

        .#{$prefix}-toolbar-content {
            padding: 12px 12px 12px 8px;
            @include flexbox((display:flex, align-items: center, flex-direction: row));

            > .#{$prefix}-toolbar-title {
                line-height: $padding-base * 2;
                margin: 0 $padding-base;
                @include ellipsis();
            }

            > .#{$prefix}-toolbar-items {
                max-width: 100%;
                padding: 0;
                @include display-flex();
            }

            @include media-breakpoint-down(md) {
                padding-left: 6px;
            }
        }


        &.#{$prefix}-toolbar-shadow {
            @include box-shadow(0px 1px 5px rgba($black, .2), 0px 2px 2px rgba($black, .14), 0px 3px 1px -2px rgba($black, .12));
            z-index: 10;
        }
    }
}


.#{$prefix}-sidebar {
    > .#{$prefix}-sidebar-inner {
        .app-brand {
            @include box-shadow(0 -1px 0 #404854 inset);
            @include flexbox((display:flex, flex-shrink: 0, align-items: center, flex-direction: row));
            font-size: 1.5rem;
            font-weight: $font-weight-bold;
            line-height: 1;
            height: 63px;
            overflow: hidden;
            position: relative;
            white-space: nowrap;
            padding: .8rem;

            .logo-icon {
                @include transition(1s);
                margin-left: 12px;
                height: 52.5px;
                width: 200px;
            }

            .logo-mini {
                @include transition(opacity .7s ease);
                height: auto;
                margin-left: 0;
                opacity: 0;
                width: 30px;
                position: absolute;
            }
        }

        > .#{$prefix}-sidebar-nav {
            @include box-shadow(0 -1px 0 #404854 inset);

            .nav-item {
                &.active:not(.parent) {
                    &:before {
                        background-color: transparent;
                        content: " ";
                        display: block;
                        left: 0;
                        top: 0;
                        position: absolute;
                        height: 100%;
                        width: 5px;
                    }
                }
            }
        }

        > .#{$prefix}-sidebar-footer {
            position: relative;
            overflow: hidden;
            @include flexbox((display:flex, flex:0 0 auto, flex-direction: row));
            @include transform(translate(0, 0));
            @include clearfix();

            > .signout {
                @include transition(1s);
            }

            a {
                cursor: pointer;
                font-size: 14px;
                line-height: 1;
                padding: .7rem;
                vertical-align: middle;
                white-space: nowrap;
            }

            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }

    &.collapse-mini {
        > .#{$prefix}-sidebar-inner {
            .app-brand {
                > .logo-text {
                    opacity: 0;
                    @include transition(opacity 1s ease);
                }

                .logo-icon {
                    margin-left: $sidebar-alt-width * -1;
                    @include transition(.8s);
                }

                .logo-mini {
                    opacity: 1;
                    @include transition(opacity 1.4s ease);
                }
            }

            > .#{$prefix}-sidebar-nav {
                > .nav {
                    > .nav-item {
                        > a {
                            .display-name {
                                opacity: 0;
                                @include transition(opacity 1s ease);
                            }
                        }

                        &.active {
                            &:before {
                                content: " ";
                                display: block;
                                left: 0;
                                top: 0;
                                position: absolute;
                                height: 100%;
                                width: 5px;
                            }
                        }
                    }
                }
            }

            > .#{$prefix}-sidebar-footer {
                > .signout {
                    margin-left: $sidebar-alt-width * -1;
                    @include transition(1s);
                }

                > .mini-toggle {
                    @include transition(all 0.3s ease 0s);
                    @include transform(rotateZ(180deg));
                }
            }
        }
    }
}

/* Overrides VueBs4 component styles */
.#{$prefix}-field {
    .#{$prefix}-field-inner {
        &.text-right,
        &.text-md-right,
        &.text-lg-right,
        &.text-xl-right {
            > input[role=textbox] {
                text-align: right;
            }
        }
    }
}
