.layout-column, .layout-row {
    @include display-flex;
    @include box-sizing(border-box);
}

.layout-column {
    @include flex-direction(column);
}

.layout-row {
    @include flex-direction(row);
}

.flex {
    @include flex(1);
}

.flex-100 {
    max-width: 100%;
    max-height: 100%;
    @include flex(1 1 100%);
}

/* Table component */
.table {
    th, td {
        font-size: $table-font-size;
    }

    thead {
        th {
            font-weight: $font-weight-bolder;
        }
    }

    &.table-fixed {
        table-layout: fixed;
    }

    &.table-sm {
        td, th {
            padding: .3rem .5rem;
        }
    }

    &.table-valign-middle {
        th, td {
            vertical-align: middle;
        }
    }

    .thead-light {
        th {
            background-color: $table-header-bgcolor;
        }
    }

    &.table-outer-borderless {
        tr {
            > th,
            > td {
                &:first-child {
                    border-left: 0 none;
                }

                &:last-child {
                    border-right: 0 none;
                }
            }
        }
    }
}

.card {
    > .table {
        > thead > tr > th {
            border-top: 0 none;
        }
    }
}
