@import "~vue-bs4/scss/colors";
@import "~vue-bs4/scss/variables";

// Fonts
$roboto-font-path:                  "./fonts/";

// Sidebar variables
$sidebar-bg:                        #f6f6f6;
$sidebar-border-color:              #e6e6e6;
$sidebar-width:                     240px;
$sidebar-alt-width:                 250px;

$active-border-color:               #4285f4 !default;
$bg-primary-color:                  #376449;
$text-primary-color:                #376449;
$text-color-darkest:                #111;
$btn-text-color:                    var(--white);

$placeholder-text-size:             .88rem;

