<template>
  <section class="container">
    <bs-card shadow>
      <bs-card-body>
        <bs-card-content type="title" tag="h4" class="text-uppercase">
          {{ dataReference.name }}
        </bs-card-content>

        <div class="row">
          <div class="col-xl-12">
            <div class="form-row">
              <div class="col-4 col-sm-3 col-lg-2">
                Kode Referensi
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                <strong>{{ dataReference.code }}</strong>
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-sm-3 col-lg-2">
                Group
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                <strong>{{ dataReference.parent != null ? dataReference.parent.name : '' }}</strong>
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-sm-3 col-lg-2">
                Keterangan
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ dataReference.description }}
              </div>
            </div>
          </div>

          <div class="col-xl-12">
            <bs-card-content type="title" class="mt-4 mb-1">
              Parameter Referensi
            </bs-card-content>
            <table class="table table-bordered mt-3">
              <thead class="thead-light">
                <tr>
                  <th>Property</th>
                  <th>Value</th>
                  <th>Type</th>
                </tr>
              </thead>

              <tbody v-if="dataReference.params === null">
                <tr>
                  <td colspan="3">
                    <div class="row justify-content-center">
                      <div class="col-lg-9 col-xl-7">
                        <bs-alert class="mb-0 text-center" color="info">
                          Belum ada parameter
                        </bs-alert>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>

              <tbody v-else>
                <tr v-for="(item, idx) in dataReference.params" :key="item + '-' + idx">
                  <td>{{ item.property }}</td>
                  <td>{{ item.value }}</td>
                  <td>{{ item.type }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </bs-card-body>
      <bs-mask-loader :show="dataReference.loading" :opacity="0" :spinner-diameter="50" />
    </bs-card>
  </section>
</template>

<script>
import { DataReferenceModel } from "../../../../models/MasterData/DataReference/DataReferenceModel";
import httpErrorResponse from "../../../../mixins/httpErrorResponse";
import defaultRouteGuard from "../../../../mixins/security/defaultRouteGuard";

export default {
    name: 'ViewDataReference',
    mixins: [defaultRouteGuard, httpErrorResponse],
    data: () => ({
        dataReference: new DataReferenceModel()
    }),
    created() {
        if (this.$route.params.id) {
            this.dataReference.id = this.$route.params.id;

            this.dataReference.fetch().catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/master-data/data-reference');
                });
            });
        }
    },
    beforeDestroy() {
        this.dataReference.destroy();
        this.dataReference = null;
    }
}
</script>

<style scoped>

</style>
