<template>
  <div class="container">
    <bs-card shadow>
      <bs-card-body class="border-bottom">
        <div class="row">
          <div class="col-xl-7">
            <div class="form-group">
              <bs-combobox v-model="groupId"
                           :data-source="dsGroup"
                           required
                           @change="reloadTreeItems">
                <label class="col-form-label col-md-3">
                  Grup Pengguna
                </label>
              </bs-combobox>
            </div>
          </div>
        </div>
      </bs-card-body>
      <bs-treegrid :borderless="false"
                   :data-source="dsTreeItems"
                   ref="treegrid"
                   row-hover>
        <bs-treegrid-column field="menuLabel"
                            label="Menu Items"
                            min-width="350" />
        <bs-treegrid-column field="accessRules"
                            label="Hak Akses"
                            width="345"
                            header-align="center" />
        <template v-slot:datarow="{ columns, item, node, level, index }">
          <bs-treegrid-cell :column="columns[0]"
                            :item="item"
                            :node="node"
                            index="0" />
          <bs-grid-cell :column="columns[1]"
                        :item="item"
                        index="1">
            <bs-combobox v-model="item.accessRules"
                         :disabled="groupId === null"
                         :items="dsRules"
                         multiple
                         flat />
          </bs-grid-cell>
        </template>
      </bs-treegrid>
      <bs-card-footer class="bg-white">
        <bs-button :disabled="groupId === null"
                   color="primary"
                   @click="doSave">
          Simpan
        </bs-button>
        <bs-button v-if="groupId !== null"
                   color="blue-grey"
                   outlined
                   @click="doCancel">
          Batal
        </bs-button>
      </bs-card-footer>
    </bs-card>
    <bs-mask-loader :opacity="0"
                    :show="showLoader"
                    :spinner-diameter="50" />
  </div>
</template>

<script>
import { BsStore, BsTreeStore } from "vue-bs4";
import { STATE_SUCCESS } from "../../store/modules/mutation-types";
import httpErrorResponse from "../../mixins/httpErrorResponse";
import adminRouteGuard from "../../mixins/security/adminRouteGuard";

export default {
    name: "ManageAccessRights",
    mixins: [adminRouteGuard, httpErrorResponse],
    data: () => ({
        dsGroup: {
            schema: {
                displayField: 'groupName',
                valueField: 'groupId'
            },
            proxy: new BsStore({
                idProperty: 'groupId',
                dataProperty: 'data',
                totalProperty: 'total',
                filters: [{property: 'enabled', value: true}],
                restUrl: {
                    browse: '/security/group'
                }
            })
        },
        dsRules: ['READ', 'EDIT', 'DELETE', 'VERIFICATOR', 'APPROVAL', 'DETAILVIEW'],
        dsTreeItems: new BsTreeStore({
            idProperty: 'id',
            dataProperty: 'data',
            restUrl: {
                browse: '/security/access-rights',
                fetch: '/security/access-rights/{id}'
            }
        }),
        dataItems: [],
        groupId: null,
        showLoader: false
    }),
    beforeDestroy() {
        this.dsGroup.proxy.destroy();
        this.dsGroup.proxy = null;
        this.dsGroup       = null;

        this.dsTreeItems.destroy();
        this.dsTreeItems = null;
        this.dataItems   = null;
    },
    methods: {
        /**
         * Membatalkan perubahan hak akses.
         *
         * @return {void}
         */
        doCancel() {
            this.groupId = null;
            this.reloadTreeItems();
        },
        /**
         * Proses simpan perubahan data hak akses.
         *
         * @return {void}
         */
        doSave() {
            this.showLoader = true;
            this.dataItems  = [];
            this.flattenData(this.dsTreeItems.dataItems);
            const data = {
                groupId: this.groupId,
                items: this.dataItems
            };
            this.$http.post('/security/access-rights/update', data).then((response) => {
                this.showLoader = false;
                this.$notification.success(response.data.message, STATE_SUCCESS);
                // this.reloadTreeItems();
            }).catch((error) => {
                this.showLoader = false;
                this.showErrorMessage(error);
            });
        },
        /**
         * Convert TreeList items into flat array of object.
         *
         * @param {Object[]} sources Treelist items
         * @return {void}
         */
        flattenData(sources) {
            for (const source of sources) {
                const obj = {
                    menuId: source.id,
                    accessRules: source.accessRules
                };
                this.dataItems.push(obj);
                if (source.leaf === false) {
                    this.flattenData(source.children);
                }
            }
        },
        /**
         * Refresh TreeGrid.
         *
         * @return {void}
         */
        reloadTreeItems() {
            this.dsTreeItems.setFilters({property: 'groupId', value: this.groupId, operator: 'eq'});
            this.$refs.treegrid.reload();
        }
    }
}
</script>

<style scoped>

</style>
