<template>
  <div>
    <bs-tabs v-model="activeTab" variant="material" color="nav-page">
      <bs-tab path="/security/members/user" label="Pengguna" />
      <bs-tab v-if="hasAdminRole" path="/security/members/group" label="Grup Pengguna" />
    </bs-tabs>
    <router-view />
  </div>
</template>

<script>
import defaultRouteGuard from "../../mixins/security/defaultRouteGuard";

export default {
    name: "Members",
    mixins: [defaultRouteGuard],
    data: () => ({
        activeTab: null
    })
}
</script>

<style scoped>

</style>
