<template>
  <section class="body-container">
    <bs-card shadow>
      <bs-card-body>
        <bs-card-content type="title" tag="h4" class="text-uppercase">
          {{ mitra.namaLembaga }}
        </bs-card-content>

        <div class="row">
          <div class="col-xl-6">
            <div class="form-row">
              <div class="col-4 col-md-3">
                Kode Mitra
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ mitra.kodeLembaga }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Kategori
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ mitra.jenisLembaga }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Nomor Akte
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ mitra.aktePendirian }}
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-4 col-md-3">
                Program CSR
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ mitra.programCsr != null ? mitra.programCsr.name : '-' }}
              </div>
            </div>

            <display-alamat class="mb-3"
                            :alamat="mitra.alamat"
                            :kelurahan="mitra.kelurahan"
                            :kecamatan="mitra.kecamatan"
                            :kodepos="mitra.kodePos"
                            :rtrw="mitra.rtRw"
                            title="Alamat Mitra" />

            <h6>Kontak</h6>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Telpon Kantor
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ mitra.officePhone }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Alamat Email
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                <a v-if="mitra.email != null" :href="mailto(mitra.email)">
                  {{ mitra.email }}
                </a>
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Website
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                <a v-if="mitra.website != null" :href="fixUrl(mitra.website)" target="_blank">
                  {{ mitra.website }}
                </a>
              </div>
            </div>
          </div>

          <div class="col-xl-6">
            <h6>Pimpinan Mitra</h6>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Nama
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ mitra.namaPimpinan }}
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-4 col-md-3">
                Telpon/HP
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ mitra.pimpinanPhone }}
              </div>
            </div>

            <h6>Penanggung Jawab Program</h6>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Nama
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ mitra.picProgram }}
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-4 col-md-3">
                Telpon/HP
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ mitra.picPhone }}
              </div>
            </div>
          </div>
        </div>

        <map-location :latitude="mitra.latitude"
                      :longitude="mitra.longitude" />
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <audit-trail :last-updated="mitra.lastUpdated"
                     :posted-by="mitra.postedBy"
                     :posted-date="mitra.postedDate"
                     :updated-by="mitra.updatedBy" />
      </bs-card-footer>
      <bs-mask-loader :opacity="0"
                      :show="mitra.loading"
                      :spinner-diameter="50" />
    </bs-card>
  </section>
</template>

<script>
import { Helper } from "vue-bs4";
import { MitraModel } from "../../../../models/MasterData/Mitra/MitraModel";
import appLocale from "../../../../mixins/appLocale";
import defaultRouteGuard from "../../../../mixins/security/defaultRouteGuard";
import formatUtils from "../../../../mixins/formatUtils";
import httpErrorResponse from "../../../../mixins/httpErrorResponse";
import DisplayAlamat from "../../../../components/DisplayAlamat";
import AuditTrail from "../../../../components/AuditTrail";
import MapLocation from "../../../../components/MapLocation";

export default {
    name: 'ViewMitraProfile',
    components: {AuditTrail, DisplayAlamat, MapLocation},
    mixins: [
        appLocale, formatUtils, defaultRouteGuard, httpErrorResponse
    ],
    data: () => ({
        mitra: new MitraModel()
    }),
    created() {
        if (this.$route.params.id) {
            this.mitra.fetch(this.$route.params.id).then((resp) => {
                this.mitra.postedBy    = resp.data.data.postedBy.fullName;
                this.mitra.updatedBy   = Helper.isEmpty(resp.data.data.updatedBy) ? '' : resp.data.data.updatedBy.fullName;
                this.mitra.postedDate  = new Date(resp.data.data.postedDate);
                this.mitra.lastUpdated = new Date(resp.data.data.lastUpdated);
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/master-data/mitra');
                });
            });
        }
    },
    beforeDestroy() {
        this.mitra.destroy();
        this.mitra = null;
    }
}
</script>

<style scoped>

</style>
