<template>
  <div>
    <bs-tabs color="nav-page" v-model="activeTab" variant="material">
      <bs-tab label="Profil Umum" path="./profil" />
      <!--<bs-tab label="Foto" path="./foto"/>-->
      <!--<bs-tab label="Video" path="./video"/>-->
    </bs-tabs>
    <router-view />
  </div>
</template>

<script>
import mapStoreMutations from "../../../../../mixins/mapStoreMutations";
import smkPoltek from "../../../../../mixins/kegiatan/smkPoltek";

export default {
    name: "ViewSmkPoltekTabs",
    mixins: [mapStoreMutations, smkPoltek],
    data: () => ({
        activeTab: null
    }),
    created() {
        this.$route.meta.title = this.generateLabel('title');
        this.setPageTitle(this.$route.meta.title);
    },
    methods: {
        /**
         * Generate untuk menampilkan label dengan kondisi dari kategori institusi dari URL
         *
         * @param {string} label nama label yang akan ditampilan
         * @return {string} Nama label yang ditampilkan
         **/
        generateLabel(label) {
            const kategori  = this.getActiveCategory();
            const listLabel = {
                title: kategori === 'poltek' ? 'Detail Poltek' : 'Detail SMK',
            };

            return listLabel[label];
        }
    }
}
</script>

<style scoped>

</style>
