<template>
  <div class="row">
    <div v-if="!mitraDudis || mitraDudis.length === 0"
         class="d-flex justify-content-center col">
      <bs-alert color="danger"
                icon="exclamation-triangle"
                class="col-md-6 col-lg-4 col-xl-3">
        <h6 class="mb-0">
          Belum ada data.
        </h6>
      </bs-alert>
    </div>
    <div v-for="dudi in mitraDudis"
         :key="dudi.dudiId"
         class="col-xl-6">
      <bs-card class="mb-3">
        <bs-card-body>
          <div class="form-row">
            <div class="col-6 col-md-4">
              Nama Usaha/Industri
            </div>
            <div style="width: 8px">
              :
            </div>
            <div class="col">
              {{ dudi.namaUsaha }}
            </div>
          </div>
          <div class="form-row">
            <div class="col-6 col-md-4">
              Jenis Usaha
            </div>
            <div style="width: 8px">
              :
            </div>
            <div class="col">
              {{ dudi.jenisUsaha }}
            </div>
          </div>
          <div class="form-row">
            <div class="col-6 col-md-4">
              Nama Pemilik
            </div>
            <div style="width: 8px">
              :
            </div>
            <div class="col">
              {{ dudi.namaPimpinan }}
            </div>
          </div>
          <div class="form-row mb-3">
            <div class="col-6 col-md-4">
              Nomor Kontak (HP)
            </div>
            <div style="width: 8px">
              :
            </div>
            <div class="col">
              {{ dudi.contactPhone }}
            </div>
          </div>
          <h6>Alamat</h6>
          <div>{{ dudi.alamat }}</div>
        </bs-card-body>
      </bs-card>
    </div>
  </div>
</template>

<script>
export default {
    name: "ViewMitraDudi",
    props: {
        /**
         * @type {MitraDudiModel[]|*}
         */
        mitraDudis: {
            type: Array,
            default: undefined
        }
    }
}
</script>

<style scoped>

</style>
