<template>
  <section class="body-container">
    <bs-card shadow>
      <bs-card-body>
        <bs-card-content class="text-uppercase" tag="h4" type="title">
          {{ fmtNamaInstitusi(institusi.namaInstitusi) }}
        </bs-card-content>
        <h6 class="text-uppercase">
          {{ fmtLokasiInstitusi(institusi) }}
        </h6>
        <div class="row mb-4">
          <div class="col-xl-6">
            <div class="form-row">
              <div class="ml-1" style="width: 120px">
                NOMOR INDUK
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ institusi.kodeInstitusi }}
              </div>
            </div>
            <div class="form-row text-uppercase">
              <div class="ml-1" style="width: 120px">
                STATUS {{ getActiveCategory() }}
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ jenisInstitusi(institusi.swasta) }}
              </div>
            </div>
          </div>
        </div>
        <bs-tabs v-model="tabIndex"
                 ref="tabpane"
                 align="justified"
                 color="bg-blue-grey darken-2"
                 variant="modern"
                 flex>
          <bs-tab label="DATA UMUM" />
          <bs-tab label="MITRA KERJA/DUDI" />
        </bs-tabs>
        <bs-tab-content v-model="tabIndex" class="mt-4 mx-md-2">
          <bs-tab-pane>
            <view-data-jurusan :progli="progli" />
          </bs-tab-pane>
          <bs-tab-pane>
            <view-mitra-dudi :mitra-dudis="progli.mitraDudis" />
          </bs-tab-pane>
        </bs-tab-content>
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <audit-trail :last-updated="progli.lastUpdated"
                     :posted-by="progli.postedBy"
                     :posted-date="progli.postedDate"
                     :updated-by="progli.updatedBy" />
      </bs-card-footer>
      <bs-mask-loader :opacity="0"
                      :show="progli.loading"
                      :spinner-diameter="50" />
    </bs-card>
  </section>
</template>

<script>
import { SmkPoltekModel } from "../../../../../models/Beneficiary/Pendidikan/SmkPoltekModel";
import { ProgramKeahlianModel } from "../../../../../models/Beneficiary/Pendidikan/ProgramKeahlianModel";
import {
    GET_ACTIVE_INSTITUSI,
    GET_ACTIVE_PROGRAM,
    SET_ACTIVE_INSTITUSI
} from "../../../../../store/modules/Kegiatan/mutation-types";
import ViewDataJurusan from "./ViewDataJurusan";
import ViewMitraDudi from "./ViewMitraDudi";
import AuditTrail from "../../../../../components/AuditTrail"
import appLocale from "../../../../../mixins/appLocale";
import formatUtils from "../../../../../mixins/formatUtils";
import smkPoltek from "../../../../../mixins/kegiatan/smkPoltek";
import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
import mapStoreMutations from "../../../../../mixins/mapStoreMutations";
import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";
import smkPoltekRouteGuard from "../../../../../mixins/security/smkPoltekRouteGuard";

export default {
    name: "ViewProgramKeahlian",
    components: {ViewDataJurusan, ViewMitraDudi, AuditTrail},
    mixins: [
        appLocale, formatUtils, smkPoltek, mapStoreKegiatanBeneficiary, mapStoreMutations,
        smkPoltekRouteGuard, httpErrorResponse
    ],
    data: () => ({
        institusi: new SmkPoltekModel(),
        progli: new ProgramKeahlianModel(),
        tabIndex: 0
    }),
    created() {
        const institusiId          = this.$route.params.idInstitusi;
        this.institusi.institusiId = institusiId;

        if (this[GET_ACTIVE_INSTITUSI] === null) {
            this.fetchInstitusi(institusiId);
        } else {
            this.institusi.assignValues(this[GET_ACTIVE_INSTITUSI]);
            this.updatePageTitle();
        }
        if (this.$route.params.idJurusan) {
            this.fetchJurusan(this.$route.params.idJurusan);
        }
    },
    beforeDestroy() {
        this.progli.destroy();
        this.progli = null;
        this.institusi.destroy();
        this.institusi = null;
    },
    methods: {
        /**
         * Fetch data Institusi.
         *
         * @param {int|string} institusiId ID SMK ataupun Poltek
         * @return {void}
         */
        fetchInstitusi(institusiId) {
            this.institusi.fetch(institusiId).then(() => {
                this[SET_ACTIVE_INSTITUSI](this.institusi.toJSON());
                this.updatePageTitle();
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push(this.previousUrl());
                });
            });
        },
        /**
         * Fetch data Jurusan.
         *
         * @param {Number|String} jurusanId ID Program Keahlian/Studi
         * @return {void}
         */
        fetchJurusan(jurusanId) {
            this.progli.fetch(jurusanId).then((response) => {
                this.progli.postedBy    = response.data.data.postedBy.fullName;
                this.progli.updatedBy   = response.data.data.updatedBy.fullName;
                this.progli.postedDate  = new Date(response.data.data.postedDate);
                this.progli.lastUpdated = new Date(response.data.data.lastUpdated);
            }).catch(error => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push(this.previousUrl());
                });
            });
        },
        /**
         * Get route URL untuk laman datagrid Jurusan.
         *
         * @return {string} Route URL
         */
        previousUrl() {
            return '/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/pendidikan/institusi/' +
                this.getActiveCategory() + '/' + this.institusi.institusiId + '/jurusan';
        },
        /**
         * Update page title.
         *
         * @return {void}
         */
        updatePageTitle() {
            const tipe = this.generateLabel('tipeJurusan');

            this.$route.meta.title = `Profil ${tipe} Binaan`;
            this.setPageTitle(this.$route.meta.title);
        }
    }
}
</script>

<style scoped>

</style>
