<template>
  <section class="body-container">
    <!--<div class="pb-3" v-if="canAddKpi">-->
      <!--<bs-button color="amber"-->
                 <!--icon="plus-circle"-->
                 <!--icon-position="left"-->
                 <!--@click="addKPI"-->
                 <!--raised>-->
        <!--Entri KPI-->
      <!--</bs-button>-->
    <!--</div>-->
    <bs-card shadow>
      <bs-card-body>
        <bs-card-content class="text-uppercase" tag="h4" type="title">
          {{ individu.namaLengkap }}
        </bs-card-content>
        <div class="row">
          <div class="col-xl-6">
            <h6>Data Umum</h6>
            <div class="form-row">
              <div class="col-4 col-md-3">
                NIK
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ individu.nik }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Jenis Kelamin
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ jenisKelamin(individu.jenisKelamin) }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Tempat Lahir
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ individu.tempatLahir }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Tanggal Lahir
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ dateFormat(individu.tanggalLahir, 'DD MMMM YYYY') }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Bersekolah di
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                <a :href="viewInstitusi(individu.institusi)">
                  {{ labelInstitusi(individu.institusi) }}
                </a>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <display-alamat :alamat="individu.alamat"
                            :kecamatan="individu.kecamatan"
                            :kelurahan="individu.kelurahan"
                            :kodepos="individu.kodePos"
                            :rtrw="individu.rtRw"
                            class="mb-3"
                            title="Alamat Tinggal" />
            <individu-contact :email="individu.email"
                              :facebook="individu.facebook"
                              :instagram="individu.instagram"
                              :phone="individu.phone" />
          </div>
          <div class="col-lg-12 mt-4">
            <reject-view v-if="isRejected"
                         class="mb-3"
                         :approval="logs"
                         :status="workflowConfigurer.majorPlaceMark(individu)"
                         :color="workflowConfigurer.badgeColor(individu)"/>
          </div>
        </div>
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <audit-trail :last-updated="individu.lastUpdated"
                     :posted-by="individu.postedBy"
                     :posted-date="individu.postedDate"
                     :updated-by="individu.updatedBy" />
      </bs-card-footer>
      <bs-mask-loader :opacity="0"
                      :show="loader || individu.loading"
                      :spinner-diameter="50" />
    </bs-card>
  </section>
</template>

<script>
import { GET_ACTIVE_PROGRAM } from "../../../../../store/modules/Kegiatan/mutation-types";
import { SiswaModel } from "../../../../../models/Beneficiary/Pendidikan/SiswaModel";
import appLocale from "../../../../../mixins/appLocale";
import defaultRouteGuard from "../../../../../mixins/security/defaultRouteGuard";
import formatUtils from "../../../../../mixins/formatUtils";
import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
import mapStoreMutations from "../../../../../mixins/mapStoreMutations";
import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";
import AuditTrail from "../../../../../components/AuditTrail";
import DisplayAlamat from "../../../../../components/DisplayAlamat";
import IndividuContact from "../../../../../components/IndividuContact";
import {APPROVED, REJECTED} from "../../../../../store/modules/mutation-types";
import RejectView from "../../RejectView";
import BeneficiaryWorkflowConfigurer from "../../../../../models/Beneficiary/BeneficiaryWorkflowConfigurer";

export default {
    name: "ViewSiswa",
    components: {IndividuContact, DisplayAlamat, AuditTrail, RejectView},
    mixins: [
        appLocale, defaultRouteGuard, formatUtils, httpErrorResponse, mapStoreMutations, mapStoreKegiatanBeneficiary
    ],
    data: () => ({
        individu: new SiswaModel(),
        loader: false,
        logs: null,
        workflowConfigurer: new BeneficiaryWorkflowConfigurer('individu')
    }),
    created() {
        const idprogram = this.$route.params.idprogram;

        if (this[GET_ACTIVE_PROGRAM] === null) {
            this.fetchDpt(idprogram);
        }
        if (this.$route.params.id) {
            this.individu.fetch(this.$route.params.id).then((rsp) => {
                this.individu.institusiId = this.individu.institusi.institusiId;
                this.individu.provinsiId  = this.individu.kecamatan.kabupaten.provinsi.provinsiId;
                this.individu.postedBy    = rsp.data.data.postedBy.fullName;
                this.individu.updatedBy   = rsp.data.data.updatedBy.fullName;
                this.individu.postedDate  = new Date(rsp.data.data.postedDate);
                this.individu.lastUpdated = new Date(rsp.data.data.lastUpdated);
                this.loadDataReject(this.individu.individuId);
                this.$route.meta.title = 'Detail ' + this.fmtKategoriIndividu(this.individu.kategori);
                this.setPageTitle(this.$route.meta.title);
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] +
                        '/pendidikan/siswa');
                });
            });
        }
    },
    beforeDestroy() {
        this.individu.destroy();
        this.individu = null;
    },
    computed: {
      canAddKpi () {
        return (this.hasEditorAccessRights) && (this.individu.status === APPROVED);
      },
      /**
       * @return {boolean}
       */
      isRejected() {
        return this.individu.status === REJECTED;
      }
    },
    methods: {
        addKPI() {
          this.$router.push('/kegiatan/penerima-manfaat/' + this.$route.params.idprogram + '/pendidikan/siswa/view/' + this.$route.params.id + '/kpi/create');
        },
        /**
         * Fetch data from remote server.
         *
         * @param {number} $id
         * @return {void}
         */
        loadDataReject($id) {
          this.loader = true;
          this.$http.get('/kegiatan/penerima-manfaat/pendidikan/siswa/approval/' + $id).then($response => {
            this.loader = false;
            let $resp = $response.data;
            this.logs = $resp.data;
          });
        },
        /**
         * @param {InstitusiModel} institusi - object of institusi
         *
         * @return {string} Nama institusi
         */
        labelInstitusi(institusi) {
            return institusi ? institusi.namaInstitusi : '';
        },
        /**
         * @param {InstitusiModel} InstitusiModel - object of institusi
         *
         * @return {string} Route URL detail Institusi
         */
        viewInstitusi(InstitusiModel) {
            const institusi = InstitusiModel ? InstitusiModel : {};
            const kategori  = institusi.kategori === 2 ? 'smk' : 'poltek';
            const id        = institusi.institusiId;

            return '#/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/pendidikan/institusi/'
                + kategori + '/view/' + id;
        }
    }
}
</script>

<style scoped>

</style>
