<template>
  <div class="row">
    <!-- left column -->
    <div class="col-xl-6">
      <div class="form-row h6">
        <div class="col-5 col-md-3">
          {{ getLabel('tipeJurusan') }}
        </div>
        <div style="width: 8px">
          :
        </div>
        <div class="col">
          {{ progli.namaJurusan }}
        </div>
      </div>
      <div class="form-row">
        <div class="col-5 col-md-3">
          Akreditasi
        </div>
        <div style="width: 8px">
          :
        </div>
        <div class="col">
          {{ isEmpty(progli.nilaiAkreditasi) ? 'Belum' : progli.nilaiAkreditasi }}
        </div>
      </div>
      <div class="form-row">
        <div class="col-5 col-md-3">
          {{ getLabel('kepalaJurusan') }}
        </div>
        <div style="width: 8px">
          :
        </div>
        <div class="col">
          {{ progli.kepalaJurusan }}
        </div>
      </div>
      <div class="form-row mb-3">
        <div class="col-5 col-md-3">
          Nomor Kontak (HP)
        </div>
        <div style="width: 8px">
          :
        </div>
        <div class="col">
          {{ progli.contactPhone }}
        </div>
      </div>
      <h6>Jumlah Tenaga Pendidik</h6>
      <template v-if="progli.jenis === 1">
        <div class="form-row">
          <div class="col-5 col-md-3">
            Guru Produktif
          </div>
          <div style="width: 8px">
            :
          </div>
          <div class="col">
            {{ !isEmpty(progli.guruProduktif) ? progli.guruProduktif + ' orang' : '' }}
          </div>
        </div>
        <div class="form-row">
          <div class="col-5 col-md-3">
            Guru Adaptif
          </div>
          <div style="width: 8px">
            :
          </div>
          <div class="col">
            {{ !isEmpty(progli.guruAdaptif) ? progli.guruAdaptif + ' orang' : '' }}
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="col-5 col-md-3">
            Guru Normatif
          </div>
          <div style="width: 8px">
            :
          </div>
          <div class="col">
            {{ !isEmpty(progli.guruNormatif) ? progli.guruNormatif + ' orang' : '' }}
          </div>
        </div>

        <h6>Rombel per Jenjang</h6>
        <div class="form-row">
          <div class="col-5 col-md-3">
            Kelas X
          </div>
          <div style="width: 8px">
            :
          </div>
          <div class="col">
            {{ !isEmpty(progli.rombelX) ? progli.rombelX + ' rombel' : '' }}
          </div>
        </div>
        <div class="form-row">
          <div class="col-5 col-md-3">
            Kelas XI
          </div>
          <div style="width: 8px">
            :
          </div>
          <div class="col">
            {{ !isEmpty(progli.rombelXi) ? progli.rombelXi + ' rombel' : '' }}
          </div>
        </div>
        <div class="form-row mb-3 mb-xl-0">
          <div class="col-5 col-md-3">
            Kelas XII
          </div>
          <div style="width: 8px">
            :
          </div>
          <div class="col">
            {{ !isEmpty(progli.rombelXii) ? progli.rombelXii + ' rombel' : '' }}
          </div>
        </div>
      </template>
      <template v-if="progli.jenis === 2">
        <div class="form-row">
          <div class="col-5 col-md-3">
            Dosen MKDU
          </div>
          <div style="width: 8px">
            :
          </div>
          <div class="col">
            {{ !isEmpty(progli.dosenMkdu) ? progli.dosenMkdu + ' orang' : '' }}
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="col-5 col-md-3">
            Dosen Prodi
          </div>
          <div style="width: 8px">
            :
          </div>
          <div class="col">
            {{ !isEmpty(progli.dosenProdi) ? progli.dosenProdi + ' orang' : '' }}
          </div>
        </div>
      </template>
    </div>

    <!-- right column -->
    <div class="col-xl-6">
      <h6>Jumlah Peserta Didik per Tahun</h6>
      <div v-for="hist in progli.pesertaDidik" :key="hist.tahun" class="form-row">
        <div class="col-5 col-md-3">
          Tahun {{ hist.tahun }}
        </div>
        <div style="width: 8px">
          :
        </div>
        <div class="col">
          {{ hist.jumlah }} {{ getLabel('tipeSiswa') }}
        </div>
      </div>

      <template v-if="progli.unitProduksi">
        <h6 class="mt-3">
          Unit Produksi
        </h6>
        <div class="form-row">
          <div class="col-5 col-md-3">
            Nama Unit Produksi
          </div>
          <div style="width: 8px">
            :
          </div>
          <div class="col">
            {{ progli.unitProduksi.namaUnit }}
          </div>
        </div>
        <div class="form-row">
          <div class="col-5 col-md-3">
            Jenis Produksi
          </div>
          <div style="width: 8px">
            :
          </div>
          <div class="col">
            {{ progli.unitProduksi.jenis }}
          </div>
        </div>
        <div class="form-row mb-2">
          <div class="col-5 col-md-3">
            Omset per Tahun
          </div>
          <div style="width: 8px">
            :
          </div>
          <div class="col">
            {{ getOmset }}
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import { Helper } from "vue-bs4";
import { ProgramKeahlianModel } from "../../../../../models/Beneficiary/Pendidikan/ProgramKeahlianModel";
import appLocale from "../../../../../mixins/appLocale";
import formatUtils from "../../../../../mixins/formatUtils";

export default {
    name: "ViewDataJurusan",
    mixins: [appLocale, formatUtils],
    props: {
        progli: {
            type: ProgramKeahlianModel,
            default: undefined
        }
    },
    computed: {
        getOmset() {
            if (this.progli.unitProduksi && !this.isEmpty(this.progli.unitProduksi.omset)) {
                return 'Rp. ' + this.moneyFormat(this.progli.unitProduksi.omset);
            }

            return '-';
        }
    },
    methods: {
        /**
         * Get field label.
         *
         * @param {string} label Tipe label
         * @return {string} Nama Label
         **/
        getLabel(label) {
            const listLabel = {
                kepalaJurusan: this.progli.jenis === 2 ? 'Nama Dekan' : 'Kepala Jurusan',
                tipeJurusan: this.progli.jenis === 2 ? 'Program Studi' : 'Program Keahlian',
                tipeSiswa: this.progli.jenis === 2 ? 'mahasiswa' : 'siswa',
            };

            return listLabel[label];
        },
        isEmpty(value) {
            return Helper.isEmpty(value) || value === 0;
        }
    }
}
</script>

<style scoped>

</style>
