<template>

</template>

<script>
import { SmkPoltekModel } from "../../../../../models/Beneficiary/Pendidikan/SmkPoltekModel";
import { GET_ACTIVE_PROGRAM } from "../../../../../store/modules/Kegiatan/mutation-types";
import mapStoreMutations from "../../../../../mixins/mapStoreMutations";
import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
import appLocale from "../../../../../mixins/appLocale";
import formatUtils from "../../../../../mixins/formatUtils";
import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";

export default {
    name: "ViewSmkPoltekVideo",
    mixins: [
        appLocale, formatUtils, httpErrorResponse, mapStoreMutations, mapStoreKegiatanBeneficiary
    ],
    data: () => ({
        smkpoltek: new SmkPoltekModel(),
    }),
    created() {
        const idprogram = this.$route.params.idprogram;

        if (this[GET_ACTIVE_PROGRAM] === null) this.fetchDpt(idprogram);
        if (this.$route.params.id) {
            this.smkpoltek.institusiId = this.$route.params.id;

            this.smkpoltek.fetch().then(() => {
                this.$route.meta.title = 'Detail ' + this.fmtKategoriInstitusi(this.smkpoltek.kategori);
                this.setPageTitle(this.$route.meta.title);
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] +
                        '/pendidikan/smk-poltek');
                });
            });
        }
    },
    beforeDestroy() {
        this.smkpoltek.destroy();
        this.smkpoltek = null;
    }
}
</script>

<style scoped>

</style>
