<template>
  <section class="body-container">
    <div class="pb-3" v-if="canAddKpi">
      <bs-button color="amber"
                 icon="plus-circle"
                 icon-position="left"
                 @click="addKPI"
                 raised>
        Entri KPI
      </bs-button>
    </div>
    <bs-card shadow>
      <bs-card-body>
        <bs-card-content class="text-uppercase" tag="h4" type="title">
          {{ smkpoltek.namaInstitusi }}
        </bs-card-content>
        <div class="row">
          <div class="col-xl-6">
            <h6>
              {{ fmtKategoriInstitusi(smkpoltek.kategori) }},
              {{ jenisInstitusi(smkpoltek.swasta) }}
            </h6>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Berdiri Tahun
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ smkpoltek.tahunBerdiri }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Nomor Akte
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ smkpoltek.nomorAkte }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Nomor Induk
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ smkpoltek.kodeInstitusi }}
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-4 col-md-3">
                Akreditasi
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ akreditasInstansi(smkpoltek.akreditasi, smkpoltek.nilaiAkreditasi) }}
              </div>
            </div>
            <display-alamat :alamat="smkpoltek.alamat"
                            :kelurahan="smkpoltek.kelurahan"
                            :kecamatan="smkpoltek.kecamatan"
                            :kodepos="smkpoltek.kodePos"
                            :rtrw="smkpoltek.rtRw"
                            class="mb-3 mb-xl-0"
                            title="Alamat Lembaga" />
          </div>
          <div class="col-xl-6">
            <h6>Pimpinan Lembaga</h6>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Nama
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ smkpoltek.namaPimpinan }}
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-4 col-md-3">
                Telepon/HP
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ smkpoltek.contactPhone }}
              </div>
            </div>
            <h6>Kontak</h6>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Telepon Kantor
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ smkpoltek.officePhone }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Alamat Email
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                <a :href="mailto(smkpoltek.email)">
                  {{ smkpoltek.email }}
                </a>
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Website
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                <a v-if="smkpoltek.website !== null" :href="fixUrl(smkpoltek.website)" target="_blank">
                  {{ smkpoltek.website }}
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-12 mt-4">
            <reject-view v-if="isRejected"
                         class="mb-3"
                         :approval="logs"
                         :status="workflowConfigurer.majorPlaceMark(smkpoltek)"
                         :color="workflowConfigurer.badgeColor(smkpoltek)"/>
          </div>
        </div>
        <map-location :latitude="smkpoltek.latitude"
                      :longitude="smkpoltek.longitude" />
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <audit-trail :last-updated="smkpoltek.lastUpdated"
                     :posted-by="smkpoltek.postedBy"
                     :posted-date="smkpoltek.postedDate"
                     :updated-by="smkpoltek.updatedBy" />
      </bs-card-footer>
      <bs-mask-loader :opacity="0"
                      :show="loader || smkpoltek.loading"
                      :spinner-diameter="50" />
    </bs-card>
  </section>
</template>

<script>
import { SmkPoltekModel } from "../../../../../models/Beneficiary/Pendidikan/SmkPoltekModel";
import { GET_ACTIVE_PROGRAM } from "../../../../../store/modules/Kegiatan/mutation-types";
import appLocale from "../../../../../mixins/appLocale";
import formatUtils from "../../../../../mixins/formatUtils";
import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";
import AuditTrail from "../../../../../components/AuditTrail";
import MapLocation from "../../../../../components/MapLocation";
import DisplayAlamat from "../../../../../components/DisplayAlamat";
import defaultRouteGuard from "../../../../../mixins/security/defaultRouteGuard";
import {APPROVED, REJECTED} from "../../../../../store/modules/mutation-types";
import RejectView from "../../RejectView";
import BeneficiaryWorkflowConfigurer from "../../../../../models/Beneficiary/BeneficiaryWorkflowConfigurer";

export default {
    name: "ViewSmkPoltek",
    components: {AuditTrail, DisplayAlamat, MapLocation, RejectView},
    mixins: [
        appLocale, formatUtils, httpErrorResponse, mapStoreKegiatanBeneficiary, defaultRouteGuard
    ],
    data: () => ({
        smkpoltek: new SmkPoltekModel(),
        loader: false,
        logs: null,
        workflowConfigurer: new BeneficiaryWorkflowConfigurer('smkpoltek')
    }),
    created() {
        const idprogram = this.$route.params.idprogram;

        if (this[GET_ACTIVE_PROGRAM] === null) {
            this.fetchDpt(idprogram);
        }
        if (this.$route.params.id) {
            this.smkpoltek.fetch(this.$route.params.id).then((response) => {
                this.smkpoltek.provinsiId  = this.smkpoltek.kecamatan.kabupaten.provinsi.provinsiId;
                this.smkpoltek.postedBy    = response.data.data.postedBy.fullName;
                this.smkpoltek.updatedBy   = response.data.data.updatedBy.fullName;
                this.smkpoltek.postedDate  = new Date(response.data.data.postedDate);
                this.smkpoltek.lastUpdated = new Date(response.data.data.lastUpdated);
                this.loadDataReject(this.smkpoltek.institusiId);
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] +
                        '/pendidikan/institusi/' + this.$route.params.kategori);
                });
            });
        }
    },
    beforeDestroy() {
        this.smkpoltek.destroy();
        this.smkpoltek = null;
    },
    computed: {
      canAddKpi () {
        return (this.hasEditorAccessRights) && (this.smkpoltek.status === APPROVED);
      },
      /**
       * @return {boolean}
       */
      isRejected() {
        return this.smkpoltek.status === REJECTED;
      }
    },
    methods: {
      addKPI() {
        this.$router.push('/kegiatan/penerima-manfaat/' + this.$route.params.idprogram + '/pendidikan/institusi/' + this.$route.params.kategori + '/view/' + this.$route.params.id + '/profil/kpi/create');
      },
      /**
       * Fetch data from remote server.
       *
       * @param {number} $id
       * @return {void}
       */
      loadDataReject($id) {
        this.loader = true;
        this.$http.get('/kegiatan/penerima-manfaat/pendidikan/smk-poltek/approval/' + $id).then($response => {
          this.loader = false;
          let $resp = $response.data;
          this.logs = $resp.data;
        });
      }
    }
}
</script>

<style scoped>

</style>
