<template>
  <section class="body-container">
    <div class="pb-3" v-if="canAddKpi">
      <bs-button color="amber"
                 icon="plus-circle"
                 icon-position="left"
                 @click="addKPI"
                 raised>
        Entri KPI
      </bs-button>
    </div>
    <bs-card shadow>
      <bs-card-body>
        <bs-card-content type="title" tag="h4" class="text-uppercase">
          {{ individu.namaLengkap }}
        </bs-card-content>

        <div class="row">
          <div class="col-lg-6">
            <h6>Data Umum</h6>
            <div class="form-row">
              <div class="col-4 col-md-3">
                NIK
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ individu.nik }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Jenis Kelamin
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ jenisKelamin(individu.jenisKelamin) }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Tempat Lahir
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ individu.tempatLahir }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Tanggal Lahir
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ dateFormat(individu.tanggalLahir, 'DD MMMM YYYY') }}
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-4 col-md-3">
                Bersekolah di
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                <a :href="viewInstitusi(individu.institusiId)">
                  {{ labelInstitusi(individu.institusi) }}
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <display-alamat class="mb-3"
                            title="Alamat Tinggal"
                            :alamat="individu.alamat"
                            :kelurahan="individu.kelurahan"
                            :kecamatan="individu.kecamatan"
                            :kodepos="individu.kodePos"
                            :rtrw="individu.rtRw" />
            <individu-contact class="mb-2"
                              :phone="individu.phone"
                              :email="individu.email"
                              :facebook="individu.facebook"
                              :instagram="individu.instagram" />
          </div>

          <div class="col-lg-12 mt-4">
            <reject-view v-if="isRejected"
                         class="mb-3"
                         :approval="logs"
                         :status="workflowConfigurer.majorPlaceMark(individu)"
                         :color="workflowConfigurer.badgeColor(individu)"/>
          </div>
        </div>
      </bs-card-body>
      <bs-card-body>
        <div class="row" v-if="hasKpi">
          <div class="col-xl-12">
            <h6>Penilaian KPI {{ namaProgram }}</h6>
            <div class="table-responsive">
              <table class="table table-sm table-valign-middle table-bordered">
                <thead class="thead-light">
                <tr>
                  <th class="text-center text-nowrap">
                    SEMESTER
                  </th>
                  <th class="text-center text-nowrap">
                    NILAI TOTAL
                  </th>
                  <th class="text-center text-nowrap">
                    LEVEL
                  </th>
                </tr>
                </thead>
                <tbody>
                <template>
                  <tr v-for="item in individu.kpi" :key="item.idk">
                    <td class="text-nowrap">
                      {{ item.semester }}
                    </td>
                    <td class="text-nowrap">
                      {{ item.paudParams.totalMax }}
                    </td>
                    <td class="text-nowrap">
                      {{ item.paudParams.level }}
                    </td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <audit-trail :last-updated="individu.lastUpdated"
                     :posted-by="individu.postedBy"
                     :posted-date="individu.postedDate"
                     :updated-by="individu.updatedBy" />
      </bs-card-footer>
      <bs-mask-loader :show="loader || individu.loading"
                      :opacity="0"
                      :spinner-diameter="50" />
    </bs-card>
  </section>
</template>

<script>
  import {GET_ACTIVE_PRGNAME, GET_ACTIVE_PROGRAM} from "../../../../../store/modules/Kegiatan/mutation-types";
import { PaudSiswaModel } from "../../../../../models/Beneficiary/Paud/PaudSiswaModel";
import appLocale from "../../../../../mixins/appLocale";
import defaultRouteGuard from "../../../../../mixins/security/defaultRouteGuard";
import formatUtils from "../../../../../mixins/formatUtils";
import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";
import AuditTrail from "../../../../../components/AuditTrail";
import DisplayAlamat from "../../../../../components/DisplayAlamat";
import IndividuContact from "../../../../../components/IndividuContact";
import {APPROVED, REJECTED} from "../../../../../store/modules/mutation-types";
import RejectView from "../../RejectView";
import BeneficiaryWorkflowConfigurer from "../../../../../models/Beneficiary/BeneficiaryWorkflowConfigurer";
import {LogAprvBeneficiaryModel} from "../../../../../models/Beneficiary/LogAprvBeneficiaryModel";

export default {
    name: 'ViewDetailPaudSiswa',
    components: {AuditTrail, DisplayAlamat, IndividuContact, RejectView},
    mixins: [
        appLocale, defaultRouteGuard, formatUtils, httpErrorResponse, mapStoreKegiatanBeneficiary
    ],
    data: () => ({
        individu: new PaudSiswaModel(),
        loader: false,
        logs: null,
        workflowConfigurer: new BeneficiaryWorkflowConfigurer('individu')
    }),
    created() {
        const idprogram = this.$route.params.idprogram;

        if (this[GET_ACTIVE_PROGRAM] === null) {
            this.fetchDpt(idprogram);
        }
        if (this.$route.params.id) {
            this.individu.individuId = this.$route.params.id;

            this.individu.fetch().then((rsp) => {
                this.individu.institusiId = this.individu.institusi.institusiId;
                this.individu.lastUpdated = new Date(rsp.data.data.lastUpdated);
                this.individu.postedDate  = new Date(rsp.data.data.postedDate);
                this.individu.postedBy    = rsp.data.data.postedBy.fullName;
                this.individu.updatedBy   = rsp.data.data.updatedBy.fullName;
                this.loadDataReject(this.individu.individuId);
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/paud/siswa');
                });
            });
        }
    },
    beforeDestroy() {
        this.individu.destroy();
        this.individu = null;
    },
    computed: {
      hasKpi() {
        return this.individu.kpi && this.individu.kpi.length > 0;
      },
      namaProgram() {
        return this[GET_ACTIVE_PRGNAME];
      },
      canAddKpi () {
        return (this.hasEditorAccessRights) && (this.individu.status === APPROVED);
      },
      /**
       * @return {boolean}
       */
      isRejected() {
        return this.individu.status === REJECTED;
      }
    },
    methods: {
        addKPI() {
          this.$router.push('/kegiatan/penerima-manfaat/' + this.$route.params.idprogram + '/paud/siswa/view/' + this.$route.params.id + '/kpi/create');
        },
        /**
         * Fetch data from remote server.
         *
         * @param {number} $id
         * @return {void}
         */
        loadDataReject($id) {
          this.loader = true;
          this.$http.get('/kegiatan/penerima-manfaat/paud/siswa/approval/' + $id).then($response => {
            this.loader = false;
            let $resp = $response.data;
            this.logs = $resp.data;
          });
        },
        /**
         * @param {InstitusiModel} institusi Data Model Institusi
         *
         * @return {string} Nama institusi
         */
        labelInstitusi(institusi) {
            return institusi ? (institusi.namaInstitusi.toLowerCase().startsWith('paud')
                ? institusi.namaInstitusi : `PAUD ${institusi.namaInstitusi}`)
                : '';
        },
        /**
         * @param {integer} id institusi id
         *
         * @return {string} Route URL detail Institusi
         */
        viewInstitusi(id) {
            return '#/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] +
                '/paud/institusi/view/' + id + '/profil';
        }
    }
}
</script>

<style scoped>

</style>
