<template>
  <section class="body-container">
    <div class="pb-3" v-if="canAddKpi">
      <bs-button color="amber"
                 icon="plus-circle"
                 icon-position="left"
                 @click="addKPI"
                 raised>
        Entri KPI
      </bs-button>
    </div>
    <bs-card shadow>
      <bs-card-body>
        <bs-card-content type="title" tag="h4" class="text-uppercase">
          {{ institusiPaud.namaInstitusi }}
        </bs-card-content>

        <div class="row">
          <div class="col-xl-6">
            <h6>
              {{ fmtKategoriInstitusi(institusiPaud.kategori) + " " + institusiPaud.jenisPaud }},
              {{ jenisInstitusi(institusiPaud.swasta) }}
            </h6>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Berdiri Tahun
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ institusiPaud.tahunBerdiri }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Nomor Akte
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ institusiPaud.nomorAkte }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                NPSN
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ institusiPaud.kodeInstitusi }}
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-4 col-md-3">
                Akreditasi
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ akreditasInstansi(institusiPaud.akreditasi, institusiPaud.nilaiAkreditasi) }}
              </div>
            </div>
            <display-alamat :alamat="institusiPaud.alamat"
                            :kelurahan="institusiPaud.kelurahan"
                            :kecamatan="institusiPaud.kecamatan"
                            :kodepos="institusiPaud.kodePos"
                            :rtrw="institusiPaud.rtRw"
                            title="Alamat Lembaga" />
          </div>

          <div class="col-xl-6">
            <h6>Pimpinan Lembaga</h6>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Nama
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ institusiPaud.namaPimpinan }}
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-4 col-md-3">
                Telpon/HP
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ institusiPaud.contactPhone }}
              </div>
            </div>

            <h6>Kontak</h6>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Telpon Kantor
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ institusiPaud.officePhone }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Alamat Email
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                <a v-if="institusiPaud.email != null"
                   :href="mailto(institusiPaud.email)">
                  {{ institusiPaud.email }}
                </a>
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Website
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                <a v-if="institusiPaud.website != null"
                   :href="fixUrl(institusiPaud.website)"
                   target="_blank">
                  {{ institusiPaud.website }}
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-12 mt-4">
            <reject-view v-if="isRejected"
                         class="mb-3"
                         :approval="logs"
                         :status="workflowConfigurer.majorPlaceMark(institusiPaud)"
                         :color="workflowConfigurer.badgeColor(institusiPaud)"/>
          </div>
        </div>

        <map-location :latitude="institusiPaud.latitude"
                      :longitude="institusiPaud.longitude" />
      </bs-card-body>
      <bs-card-body>
        <div class="row" v-if="hasKpi">
          <div class="col-xl-12">
            <h6>Penilaian KPI {{ namaProgram }}</h6>
            <div class="table-responsive">
              <table class="table table-sm table-valign-middle table-bordered">
                <thead class="thead-light">
                <tr>
                  <th class="text-center text-nowrap">
                    SEMESTER
                  </th>
                  <th class="text-center text-nowrap">
                    NILAI TOTAL
                  </th>
                  <th class="text-center text-nowrap">
                    LEVEL
                  </th>
                </tr>
                </thead>
                <tbody>
                <template>
                  <tr v-for="item in institusiPaud.kpi" :key="item.idk">
                    <td class="text-nowrap">
                      {{ item.semester }}
                    </td>
                    <td class="text-nowrap">
                      {{ item.paudParams.totalMax }}
                    </td>
                    <td class="text-nowrap">
                      {{ item.paudParams.level }}
                    </td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <audit-trail :last-updated="institusiPaud.lastUpdated"
                     :posted-by="institusiPaud.postedBy"
                     :posted-date="institusiPaud.postedDate"
                     :updated-by="institusiPaud.updatedBy" />
      </bs-card-footer>
      <bs-mask-loader :show="loader || institusiPaud.loading"
                      :opacity="0"
                      :spinner-diameter="50" />
    </bs-card>
  </section>
</template>

<script>
  import {GET_ACTIVE_PRGNAME, GET_ACTIVE_PROGRAM} from "../../../../../store/modules/Kegiatan/mutation-types";
import { PaudModel } from "../../../../../models/Beneficiary/Paud/PaudModel";
import appLocale from "../../../../../mixins/appLocale";
import formatUtils from "../../../../../mixins/formatUtils";
import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
import defaultRouteGuard from "../../../../../mixins/security/defaultRouteGuard";
import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";
import DisplayAlamat from "../../../../../components/DisplayAlamat";
import MapLocation from "../../../../../components/MapLocation";
import AuditTrail from "../../../../../components/AuditTrail";
import {APPROVED, REJECTED} from "../../../../../store/modules/mutation-types";
import {LogAprvBeneficiaryModel} from "../../../../../models/Beneficiary/LogAprvBeneficiaryModel";
import BeneficiaryWorkflowConfigurer from "../../../../../models/Beneficiary/BeneficiaryWorkflowConfigurer";
import RejectView from "../../RejectView";

export default {
    name: 'ViewPaudProfil',
    components: {AuditTrail, DisplayAlamat, MapLocation, RejectView},
    mixins: [
        appLocale, formatUtils, mapStoreKegiatanBeneficiary, defaultRouteGuard, httpErrorResponse
    ],
    data: () => ({
        institusiPaud: new PaudModel(),
        loader: false,
        logs: null,
        workflowConfigurer: new BeneficiaryWorkflowConfigurer('institusi')
    }),
    created() {
        const idprogram = this.$route.params.idprogram;

        if (this[GET_ACTIVE_PROGRAM] === null) {
            this.fetchDpt(idprogram);
        }
        if (this.$route.params.id) {
            this.institusiPaud.fetch(this.$route.params.id).then((rsp) => {
                this.institusiPaud.lastUpdated = new Date(rsp.data.data.lastUpdated);
                this.institusiPaud.postedDate  = new Date(rsp.data.data.postedDate);
                this.institusiPaud.postedBy    = rsp.data.data.postedBy.fullName;
                this.institusiPaud.updatedBy   = rsp.data.data.updatedBy.fullName;
                this.loadDataReject(this.institusiPaud.institusiId);
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/paud/institusi');
                });
            });
        }
    },
    beforeDestroy() {
        this.institusiPaud.destroy();
        this.institusiPaud = null;
    },
    computed: {
      hasKpi() {
        return this.institusiPaud.kpi && this.institusiPaud.kpi.length > 0;
      },
      namaProgram() {
        return this[GET_ACTIVE_PRGNAME];
      },
      canAddKpi () {
        return (this.hasEditorAccessRights) && (this.institusiPaud.status === APPROVED);
      },
      /**
       * @return {boolean}
       */
      isRejected() {
        return this.institusiPaud.status === REJECTED;
      }
    },
    methods: {
      addKPI() {
        this.$router.push('/kegiatan/penerima-manfaat/' + this.$route.params.idprogram + '/paud/institusi/view/' + this.$route.params.id + '/profil/kpi/create');
      },
      /**
       * Fetch data from remote server.
       *
       * @param {number} $id
       * @return {void}
       */
      loadDataReject($id) {
        this.loader = true;
        this.$http.get('/kegiatan/penerima-manfaat/paud/approval/' + $id).then($response => {
          this.loader = false;
          let $resp = $response.data;
          this.logs = $resp.data;
        });
      },
    }
}
</script>

<style scoped>

</style>
