<template>
    <div class="body-container">
        <div class="pb-3"
             v-if="hasEditorAccessRights">
            <bs-menu class="ml-auto">
                <bs-button color="amber"
                           icon="plus-circle"
                           icon-position="left"
                           raised>
                    Pencairan Baru
                </bs-button>
                <bs-list slot="content">
                    <bs-list-item @click="doPencairanTermin">
                        Pencairan Termin Awal
                    </bs-list-item>
                    <bs-list-item @click="doPencairanPelunasan">
                        Pencairan Termin Pelunasan
                    </bs-list-item>
                    <bs-list-item @click="doPencairanExpense">
                        Pencairan Expense / Reimburse
                    </bs-list-item>
                </bs-list>
            </bs-menu>
        </div>

        <bs-card shadow>
            <bs-card-body class="pb-3 border-bottom">
                <div class="row">
                    <div class="col-xl-7">
                        <div class="form-group"></div>
                    </div>
                </div>
            </bs-card-body>

            <bs-grid :data-source="dataSource"
                     :flip-on-small-screen="false"
                     ref="datagrid"
                     pageable
                     row-hover
                     show-footer
                     sortable>
                <bs-grid-column :filterable="{enabled: false, button: true}"
                                :sortable="false"
                                class="row-numbering"
                                text-align="right"
                                width="50" />
                <bs-grid-column field="nomorSurat"
                                label="Nomor Tagihan"
                                width="180" />
                <bs-grid-column field="tgl_created"
                                label="Tgl pembuatan"
                                min-width="180" />
                <bs-grid-column field="mitra.namaLembaga"
                                label="Nama Mitra"
                                min-width="240" />
                <bs-grid-column field="tipe_termin"
                                label="Termin"
                                min-width="50" />
                <bs-grid-column field="is_expense"
                                label="Expense"
                                min-width="80" />
                <bs-grid-column :filterable="{enabled: false}"
                                field="status"
                                label="Status"
                                text-align="center"
                                width="100" />
                <bs-grid-column field="totalPencairan"
                                label="Total Pencairan"
                                min-width="120" />
                <bs-grid-column :sortable="false"
                                text-align="text-center"
                                width="220"
                                label="Tindakan" />
                <template v-slot:datarow="{ columns, item, index }">
                    <bs-grid-cell-numbering :column="columns[0]" :index="index" />
                    <bs-grid-cell :column="columns[1]" :item="item" />
                    <bs-grid-cell>
                        {{ dateFormat(item.created_date, 'DD-MM-Y') }}
                    </bs-grid-cell>
                    <bs-grid-cell :column="columns[3]" :item="item" />
                    <bs-grid-cell :column="columns[4]" :item="item" />
                    <bs-grid-cell>
                        <bs-badge v-if="item.isExpense" color="warning" type="label">Expense</bs-badge>
                    </bs-grid-cell>
                    <bs-grid-cell :column="columns[6]" :item="item">
                        <bs-badge :color="workflowConfigurer.badgeColor(item)"
                                  type="label">
                            {{ workflowConfigurer.majorPlaceMark(item) }}
                        </bs-badge>
                    </bs-grid-cell>
                    <bs-grid-cell>
                        <div class="text-right">{{ moneyFormat(item.totalPencairan) }}</div>
                    </bs-grid-cell>
                    <bs-grid-cell>
                        <bs-button :href="hrefEdit(item.id)"
                                   color="primary"
                                   icon="pen"
                                   icon-position="left"
                                   outlined
                                   size="xs"
                                   v-if="hasEditorAccessRights && ((item.status === 'NEW') || (item.status === 'REVISED'))"
                                   v-tooltip="{content:'Sunting Data', placement:'top'}"/>
                        <bs-button :href="hrefView(item.id)"
                                   color="default"
                                   icon="eye"
                                   icon-position="left"
                                   outlined
                                   size="xs"
                                   v-if="hasAccess"
                                   v-tooltip="{content:'Lihat Detail', placement:'top'}"/>
                        <bs-button @click="confirmPrint(item)"
                                   color="success"
                                   icon="print"
                                   icon-position="left"
                                   outlined
                                   size="xs"
                                   v-if="hasEditorAccessRights && ((item.status === 'NEW') || (item.status === 'REVISED'))"
                                   v-tooltip="{content:'Cetak Tagihan', placement:'top'}"/>
                        <bs-button @click="confirmSend(item)"
                                   color="green"
                                   icon="paper-plane"
                                   icon-position="left"
                                   outlined
                                   size="xs"
                                   v-if="hasEditorAccessRights && ((item.status === 'PRINTED') || (item.status === 'REVISED'))"
                                   v-tooltip="{content:'Kirim Tagihan', placement:'top'}"/>
                        <bs-button @click="confirmDelete(item)"
                                   color="danger"
                                   icon="trash-alt"
                                   icon-position="left"
                                   outlined
                                   size="xs"
                                   v-if="hasDeleteAccessRights && (item.status === 'NEW')"
                                   v-tooltip="{content:'Hapus Data', placement:'top'}"/>
                        <bs-button @click="confirmReceive(item)"
                                   color="green"
                                   icon="envelope-open"
                                   icon-position="left"
                                   outlined
                                   size="xs"
                                   v-if="hasVerificatorAccessRights && (item.status === 'SENT')"
                                   v-tooltip="{content:'Terima Tagihan', placement:'top'}"/>
                        <bs-button @click="confirmReject(item)"
                                   color="red"
                                   icon="times"
                                   icon-position="left"
                                   outlined
                                   size="xs"
                                   v-if="hasVerificatorAccessRights && (item.status === 'RECEIVED')"
                                   v-tooltip="{content:'Reject', placement:'top'}"/>
                        <bs-button @click="confirmApprove(item)"
                                   color="success"
                                   icon="check"
                                   icon-position="left"
                                   outlined
                                   size="xs"
                                   v-if="hasVerificatorAccessRights && (item.status === 'RECEIVED')"
                                   v-tooltip="{content:'Verifikasi' , placement:'top'}"/>
                        <bs-button :href="hrefUpload(item.id)"
                                   color="primary"
                                   icon="upload"
                                   icon-position="left"
                                   outlined
                                   size="xs"
                                   v-if="hasVerificatorAccessRights && ((item.status === 'VERIFIED')||(item.status === 'PAID'))"
                                   v-tooltip="{content:'Upload Bukti Pembayaran', placement:'top'}"/>
                        <bs-button @click="confirmPay(item)"
                                   color="green"
                                   icon="thumbs-up"
                                   icon-position="left"
                                   outlined
                                   size="xs"
                                   v-if="hasVerificatorAccessRights && (item.status === 'VERIFIED')"
                                   v-tooltip="{content:'Bayar Tagihan', placement:'top'}"/>
                        <bs-button @click="confirmRevisi(item)"
                                   color="warning"
                                   icon="arrow-alt-circle-left"
                                   icon-position="left"
                                   outlined
                                   size="xs"
                                   v-if="hasEditorAccessRights && (item.status === 'REJECTED')"
                                   v-tooltip="{content:'Revisi', placement:'top'}"/>
                    </bs-grid-cell>
                </template>
            </bs-grid>

        </bs-card>

        <bs-modal :open.sync="isCreateModalOpen"
                  :overlay-close="false"
                  max-width="85%"
                  title="Konfirmasi"
                  width="400">
            Apakah anda yakin akan membuat Pencairan: <b>{{ (isExpense? 'Expense / Reimburse' : 'Termin / Kegiatan' )
            }}</b> ?

            <bs-button slot="footer" color="primary" @click="commitCreatePencairan">
                Lanjutkan
            </bs-button>
            <bs-button slot="footer"
                       color="secondary"
                       outlined
                       @click="isCreateModalOpen = false">
                Batal
            </bs-button>
        </bs-modal>
        <bs-modal :open.sync="isDeleteModalOpen"
                  :overlay-close="false"
                  max-width="85%"
                  title="Konfirmasi"
                  width="400">
            Apakah anda yakin akan menghapus Pencairan: <b>{{ pencairan.nomorSurat }}</b> dari database?
            <bs-button slot="footer"
                       color="secondary"
                       outlined
                       @click="isDeleteModalOpen = false">
                Batal
            </bs-button>
            <bs-button slot="footer" color="danger" @click="doDelete">
                Hapus
            </bs-button>
        </bs-modal>
        <bs-modal :open.sync="isPrintModalOpen"
                  :overlay-close="false"
                  max-width="85%"
                  title="Konfirmasi"
                  width="400">
            <p>Apakah anda yakin akan mencetak Pencairan: <b>{{ pencairan.nomorSurat }}</b> ?</p>
            <p>Pencairan tidak dapat diubah lagi setelah dicetak.</p>

            <bs-button slot="footer" color="primary" @click="doPrint">
                Lanjutkan
            </bs-button>
            <bs-button slot="footer"
                       color="secondary"
                       outlined
                       @click="isPrintModalOpen = false">
                Batal
            </bs-button>
        </bs-modal>
        <bs-modal :open.sync="isSendModalOpen"
                  :overlay-close="false"
                  max-width="85%"
                  title="Konfirmasi"
                  width="400">
            Apakah anda yakin akan mengirimkan Tagihan: <b>{{ pencairan.nomorSurat }}</b> ?

            <bs-button slot="footer" color="primary" @click="doSend">
                Lanjutkan
            </bs-button>
            <bs-button slot="footer"
                       color="secondary"
                       outlined
                       @click="isSendModalOpen = false">
                Batal
            </bs-button>
        </bs-modal>
        <bs-modal :open.sync="isReceiveModalOpen"
                  :overlay-close="false"
                  max-width="85%"
                  title="Konfirmasi"
                  width="400">
            Apakah anda sudah menerima dan mereview Tagihan: <b>{{ pencairan.nomorSurat }}</b> ?

            <bs-button slot="footer" color="primary" @click="doReceive">
                Lanjutkan
            </bs-button>
            <bs-button slot="footer"
                       color="secondary"
                       outlined
                       @click="isReceiveModalOpen = false">
                Batal
            </bs-button>
        </bs-modal>
        <bs-modal :open.sync="isRejectModalOpen"
                  :overlay-close="false"
                  max-width="85%"
                  title="Konfirmasi"
                  width="400">
            <p>Apakah anda yakin akan menolak Tagihan: <b>{{ pencairan.nomorSurat }}</b> ?</p>
            <p>Berikan alasan untuk penolakan</p>

            <bs-text-field v-model="rejectReason"></bs-text-field>

            <bs-button slot="footer" color="primary" @click="doReject" :disabled="rejectReason==''">
                Lanjutkan
            </bs-button>
            <bs-button slot="footer"
                       color="secondary"
                       outlined
                       @click="isRejectModalOpen = false">
                Batal
            </bs-button>
        </bs-modal>
        <bs-modal :open.sync="isApproveModalOpen"
                  :overlay-close="false"
                  max-width="85%"
                  title="Konfirmasi"
                  width="400">
            Apakah anda yakin akan memverifikasi Tagihan: <b>{{ pencairan.nomorSurat }}</b> ?

            <bs-button slot="footer" color="primary" @click="doApprove">
                Lanjutkan
            </bs-button>
            <bs-button slot="footer"
                       color="secondary"
                       outlined
                       @click="isApproveModalOpen = false">
                Batal
            </bs-button>
        </bs-modal>
        <bs-modal :open.sync="isRevisiModalOpen"
                  :overlay-close="false"
                  max-width="85%"
                  title="Konfirmasi"
                  width="400">
            Apakah anda yakin akan merevisi Tagihan: <b>{{ pencairan.nomorSurat }}</b> ?

            <bs-button slot="footer" color="primary" @click="doRevisi">
                Lanjutkan
            </bs-button>
            <bs-button slot="footer"
                       color="secondary"
                       outlined
                       @click="isRevisiModalOpen = false">
                Batal
            </bs-button>
        </bs-modal>
        <bs-modal :open.sync="isPayModalOpen"
                  :overlay-close="false"
                  max-width="85%"
                  title="Konfirmasi"
                  width="400">
            Apakah anda yakin akan membayar Tagihan: <b>{{ pencairan.nomorSurat }}</b> ?

            <bs-button slot="footer" color="primary" @click="doPay">
                Lanjutkan
            </bs-button>
            <bs-button slot="footer"
                       color="secondary"
                       outlined
                       @click="isPayModalOpen = false">
                Batal
            </bs-button>
        </bs-modal>
        <bs-mask-loader :opacity="0"
                        :show="loading"
                        :spinner-diameter="50"/>
    </div>
</template>

<script>
import { BsStore } from "vue-bs4";
import { MSG_SAVE_SUCCESS, PAGE_SIZE, STATE_SUCCESS, STEP_APPROVAL } from "../../../../store/modules/mutation-types";
import appLocale from "../../../../mixins/appLocale";
import defaultRouteGuard from "../../../../mixins/security/defaultRouteGuard";
import formatUtils from "../../../../mixins/formatUtils";
import httpErrorResponse from "../../../../mixins/httpErrorResponse";
import PencairanWorkflowConfigurer from "../../../../models/Kegiatan/Pengelolaan/PencairanWorkflowConfigurer";

export default {
	name: 'GridPencairanKegiatan',
	mixins: [appLocale, defaultRouteGuard, formatUtils, httpErrorResponse],
	data: () => ({
		dataSource: new BsStore({
			idProperty: 'id',
			dataProperty: 'data',
			totalProperty: 'total',
			pageSize: PAGE_SIZE,
			restUrl: {
				browse: '/kegiatan/pencairan'
			}
		}),
		pencairan: {},
		isCreateModalOpen: false,
		isDeleteModalOpen: false,
		isPrintModalOpen: false,
		isSendModalOpen: false,
		isReceiveModalOpen: false,
		isApproveModalOpen: false,
		isRejectModalOpen: false,
		isRevisiModalOpen: false,
		isPayModalOpen: false,
		isExpense: false,
        isPelunasan: false,
        rejectReason: '',
		pid: null,
        loading: false,
        workflowConfigurer: new PencairanWorkflowConfigurer(),
	}),
	beforeDestroy() {
		this.dataSource.destroy();
		this.dataSource = null;
	},
	methods: {
		hrefEdit(pid) {
			return '#/kegiatan/pencairan/edit/' + pid;
		},
		hrefView(pid) {
			return '#/kegiatan/pencairan/view/' + pid;
		},
		hrefUpload(pid) {
			return '#/kegiatan/pencairan/upload/' + pid;
		},

		commitCreatePencairan() {
			this.isCreateModalOpen = false;
			this.loading = true;
			this.$http.post('/kegiatan/pencairan/create',
				{
				    'isExpense': this.isExpense,
                    'isPelunasan': this.isPelunasan},
				[])
			.then((resp) => {
				this.loading = false;
				let newp = resp.data.data;
				this.pid = newp.id;
				this.$notification.success('Pencairan berhasil dibuat', STATE_SUCCESS);
				this.$refs.datagrid.reload();
				this.$nextTick(() => {
					this.$router.push('/kegiatan/pencairan/edit/' + this.pid);
				})

			})
			.catch((error) => {
				this.loading = false;
				this.showErrorMessage(error);
			});

		},
		doPencairanTermin() {
			this.isExpense = false;
			this.isPelunasan = false;
			this.isCreateModalOpen = true;
		},
		doPencairanPelunasan() {
			this.isExpense = false;
			this.isPelunasan = true;
			this.isCreateModalOpen = true;
		},
		doPencairanExpense() {
			this.isExpense = true;
            this.isPelunasan = false;
			this.isCreateModalOpen = true;
		},
		confirmDelete(item) {
			this.pencairan = item;
			this.isDeleteModalOpen = true;
		},
		doDelete() {
			this.isDeleteModalOpen = false;
			this.loading = true;
			this.$http.delete('/kegiatan/pencairan/delete/' + this.pencairan.id,
				{},
				[])
			.then(() => {
				this.loading = false;
				this.$notification.success('Pencairan berhasil dihapus', STATE_SUCCESS);
				this.$refs.datagrid.reload();

			})
			.catch((error) => {
				this.loading = false;
				this.showErrorMessage(error);
			});

		},
		confirmPrint(item) {
			this.pencairan = item;
			this.isPrintModalOpen = true;
		},
		doPrint() {
			this.isPrintModalOpen = false;
			this.loading = true;
			const config = {
				'url': '/kegiatan/pencairan/stepflow/' + this.pencairan.id,
				'method': 'patch',
				'data': {
					action: 'printing',
					message: null
				}
			};
			this.$axios(config)
			.then(() => {
				this.loading = false;
				this.$notification.success('Pencairan berhasil dicetak', STATE_SUCCESS);
				this.$refs.datagrid.reload();
				this.$nextTick(() => {
					this.$router.push('/kegiatan/pencairan/view/' + this.pencairan.id);
				})

			})
			.catch((error) => {
				this.loading = false;
				this.showErrorMessage(error);
			});

		},
		confirmSend(item) {
			this.pencairan = item;
			this.isSendModalOpen = true;
		},
		doSend() {
			this.isSendModalOpen = false;
			this.loading = true;
			const config = {
				'url': '/kegiatan/pencairan/stepflow/' + this.pencairan.id,
				'method': 'patch',
				'data': {
					action: 'sending',
					message: null
				}
			};
			this.$axios(config)
			.then((resp) => {
				this.loading = false;
				let newp = resp.data.data;
				this.pid = newp.id;
				this.$notification.success('Pencairan berhasil dikirim', STATE_SUCCESS);
				this.$refs.datagrid.reload();

			})
			.catch((error) => {
				this.loading = false;
				this.showErrorMessage(error);
			});

		},
		confirmReceive(item) {
			this.pencairan = item;
			this.isReceiveModalOpen = true;
		},
		doReceive() {
			this.isReceiveModalOpen = false;
			this.loading = true;
			const config = {
				'url': '/kegiatan/pencairan/stepflow/' + this.pencairan.id,
				'method': 'patch',
				'data': {
					action: 'receiving',
					message: null
				}
			};
			this.$axios(config)
			.then((resp) => {
				this.loading = false;
				let newp = resp.data.data;
				this.pid = newp.id;
				this.$notification.success('Pencairan berhasil diterima', STATE_SUCCESS);
				this.$refs.datagrid.reload();

			})
			.catch((error) => {
				this.loading = false;
				this.showErrorMessage(error);
			});

		},
        confirmReject(item) {
			this.pencairan = item;
			this.isRejectModalOpen = true;
		},
		doReject() {
			this.isRejectModalOpen = false;
			this.loading = true;
			const config = {
				'url': '/kegiatan/pencairan/stepflow/' + this.pencairan.id,
				'method': 'patch',
				'data': {
					action: 'reject',
					message: this.rejectReason
				}
			};
			this.$axios(config)
			.then((resp) => {
				this.loading = false;
				let newp = resp.data.data;
				this.pid = newp.id;
				this.$notification.success('Pencairan berhasil direject', STATE_SUCCESS);
				this.$refs.datagrid.reload();

			})
			.catch((error) => {
				this.loading = false;
				this.showErrorMessage(error);
			});

		},
        confirmRevisi(item) {
			this.pencairan = item;
			this.isRevisiModalOpen = true;
		},
		doRevisi() {
			this.isRevisiModalOpen = false;
			this.loading = true;
			const config = {
				'url': '/kegiatan/pencairan/stepflow/' + this.pencairan.id,
				'method': 'patch',
				'data': {
					action: 'revising',
					message: null
				}
			};
			this.$axios(config)
			.then((resp) => {
				this.loading = false;
				let newp = resp.data.data;
				this.pid = newp.id;
				this.$notification.success('Pencairan berhasil direvisi', STATE_SUCCESS);
				this.$refs.datagrid.reload();

			})
			.catch((error) => {
				this.loading = false;
				this.showErrorMessage(error);
			});

		},
        confirmApprove(item) {
			this.pencairan = item;
			this.isApproveModalOpen = true;
		},
		doApprove() {
			this.isApproveModalOpen = false;
			this.loading = true;
			const config = {
				'url': '/kegiatan/pencairan/stepflow/' + this.pencairan.id,
				'method': 'patch',
				'data': {
					action: 'verify',
					message: null
				}
			};
			this.$axios(config)
			.then((resp) => {
				this.loading = false;
				let newp = resp.data.data;
				this.pid = newp.id;
				this.$notification.success('Pencairan berhasil diapprove', STATE_SUCCESS);
				this.$refs.datagrid.reload();

			})
			.catch((error) => {
				this.loading = false;
				this.showErrorMessage(error);
			});

		},
        confirmPay(item) {
			this.pencairan = item;
			this.isPayModalOpen = true;
		},
		doPay() {
			this.isPayModalOpen = false;
			this.loading = true;
			const config = {
				'url': '/kegiatan/pencairan/stepflow/' + this.pencairan.id,
				'method': 'patch',
				'data': {
					action: 'paying',
					message: null
				}
			};
			this.$axios(config)
			.then((resp) => {
				this.loading = false;
				let newp = resp.data.data;
				this.pid = newp.id;
				this.$notification.success('Pencairan berhasil dibayar', STATE_SUCCESS);
				this.$refs.datagrid.reload();

			})
			.catch((error) => {
				this.loading = false;
				this.showErrorMessage(error);
			});
		},

	}
}
</script>

<style scoped>

</style>
