<template>
    <section class="body-container">
        <bs-card shadow>
            <bs-card-body>
                <form class="pt-lg-3 px-lg-2" novalidate>
                    <div class="form-group">
                        <bs-combobox v-model="batchId"
                                     :data-source="dsBatch"
                                     required>
                            <label class="col-form-label col-lg-4 col-xl-3">
                                Batch Kegiatan
                            </label>
                        </bs-combobox>
                    </div>
                    <div class="form-group">
                        <bs-combobox v-model="finalisasi.kegiatan"
                                     :external-validator="kegiatanValidator"
                                     :data-source="dsKegiatan"
                                     :parent-value="batchId"
                                     required>
                            <label class="col-form-label col-lg-4 col-xl-3">
                                Kegiatan
                            </label>
                        </bs-combobox>
                    </div>
                    <div>
                        <h6>Judul laporan</h6>
                        <bs-text-area v-model="finalisasi.judul" :external-validator="judulValidator">

                        </bs-text-area>
                    </div>
                    <div>
                        <h6>Latar Belakang</h6>
                        <bs-text-area v-model="finalisasi.latarbelakang" >

                        </bs-text-area>
                    </div>
                    <div>
                        <h6>Tujuan Program</h6>
                        <bs-text-area v-model="finalisasi.tujuanprogram" >

                        </bs-text-area>
                    </div>
                    <div>
                        <h6>Outcome dan Dampak Program</h6>
                        <bs-text-area v-model="finalisasi.outcome" >

                        </bs-text-area>
                    </div>
                    <div>
                        <h6>Ruang Lingkup</h6>
                        <bs-text-area v-model="finalisasi.ruanglingkup" >

                        </bs-text-area>
                    </div>
                    <div>
                        <h6>Pemangku Kepentingan Utama</h6>
                        <bs-text-area v-model="finalisasi.pemangkukepentingan" >

                        </bs-text-area>
                    </div>


                </form>
            </bs-card-body>
            <bs-card-footer class="bg-white">
                <bs-button @click="doSave" color="primary">
                    Simpan
                </bs-button>
            </bs-card-footer>
            <bs-mask-loader :opacity="0"
                            :show="finalisasi.loading || finalisasi.updating"
                            :spinner-diameter="50"/>
        </bs-card>
    </section>
</template>

<script>

import {validationMixin} from "vuelidate";
import {finalisasiValidationHandler, FinalisasiValidator} from "../../../../models/Kegiatan/Pengelolaan/FinalisasiValidator";
import appLocale from "../../../../mixins/appLocale";
import formatUtils from "../../../../mixins/formatUtils";
import httpErrorResponse from "../../../../mixins/httpErrorResponse";
import editorRouteGuard from "../../../../mixins/security/editorRouteGuard";
import {FinalisasiModel} from "../../../../models/Kegiatan/Pengelolaan/FinalisasiModel";
import {BsStore} from "vue-bs4";
import {
    MSG_SAVE_SUCCESS,
    MSG_UPDATE_SUCCESS,
    NEW,
    PLANNED, REALISASI_VERIFIED,
    REJECTED, SAVE, STATE_SUCCESS, UPDATE,
    UPDATED
} from "../../../../store/modules/mutation-types";
import {HumasValidator} from "../../../../models/Humas/HumasValidator";

export default {
    name: "FormFinalisasi",
    mixins: [
        appLocale, formatUtils, httpErrorResponse, editorRouteGuard,
        validationMixin, finalisasiValidationHandler('finalisasi')
    ],
    data: () => ({
        finalisasi: new FinalisasiModel(),
        batchId: null,
        dsKegiatan: {
            schema: {
                displayField: 'namaKegiatan',
                valueField: 'kegiatanId',
                cascadeField: 'danaBatch'
            },
            proxy: new BsStore({
                idProperty: 'kegiatanId',
                dataProperty: 'data',
                totalProperty: 'total',
                filters: [{property: 'status', value: [REALISASI_VERIFIED], operator: 'in'}],
                restUrl: {
                    browse: '/kegiatan/pengelolaan'
                }
            })
        },
        dsBatch: {
            schema: {
                displayField: 'namaProgram',
                valueField: 'id',
            },
            proxy: new BsStore({
                idProperty: 'id',
                dataProperty: 'data',
                totalProperty: 'total',
                filters: [{property: 'status', value: [NEW, UPDATED, REJECTED, PLANNED], operator: 'notin'}],
                restUrl: {
                    browse: '/pendanaan/batch'
                }
            })
        },
        finalisasiId: null,
        isEditMode: false

    }),
    mounted() {
        if (this.$route.params.id) {
            this.finalisasiId = Number(this.$route.params.id);
            this.loadFinalisasi(this.finalisasiId);
            this.isEditMode = true;
        }
    },
    methods: {
        doSave(){
            this.$v.$touch();

            if (!this.$v.$error) {
                const text   = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                const action = this.isEditMode ? UPDATE : SAVE;


                this.finalisasi[action]().then(() => {
                    this.$notification.success('Data Finalisasi ' + text, STATE_SUCCESS);
                    this.$nextTick(() => {
                        this.$router.push(this.$route.meta.previous);
                    });
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            }

        },
        loadFinalisasi(id){
            this.finalisasi.id = id;
            this.finalisasi.fetch().then(() => {
                this.$nextTick(() => {
                    this.adjustFinalisasi();
                });
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push(this.$route.meta.previous);
                });
            });
        },
        adjustFinalisasi(){
            if (this.finalisasi.kegiatan) {
                this.finalisasi.kegiatan = this.finalisasi.kegiatan.kegiatanId;
            }
            if (this.finalisasi.mitra) {
                this.finalisasi.mitra = this.finalisasi.mitra.mitraId;
            }
        }
    },
    validations: {
        finalisasi: FinalisasiValidator
    },

}
</script>

<style scoped>

</style>