<template>
  <form novalidate>
    <bs-card-body>
      <div class="row">
        <!-- left side -->
        <div class="col-xl-6">
          <div class="form-group">
            <bs-text-field v-model="biodata.namaLengkap"
                           :external-validator="namaLengkapValidator"
                           required>
              <label class="col-form-label col-lg-4">
                Nama Lengkap
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-button-toggle-field v-model="biodata.statusJabatan"
                                    :external-validator="statusJabatanValidator"
                                    :items="statusJabatan"
                                    color="default"
                                    outlined
                                    required
                                    size="sm"
                                    toggle-color="teal">
              <label class="col-form-label col-lg-4">
                Status
              </label>
            </bs-button-toggle-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="techBase.nip"
                           :external-validator="nipValidator"
                           required>
              <label class="col-form-label col-lg-4">
                NIP
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="biodata.nik"
                           :external-validator="nikValidator"
                           required>
              <label class="col-form-label col-lg-4">
                NIK
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="biodata.jabatan">
              <label class="col-form-label col-lg-4">
                Jabatan
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="biodata.pendidikan">
              <label class="col-form-label col-lg-4">
                Pendidikan Terakhir
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="biodata.phone">
              <label class="col-form-label col-lg-4">
                No. HP/Telp
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="biodata.email"
                           :external-validator="emailValidator">
              <label class="col-form-label col-lg-4">
                Alamat Email
              </label>
            </bs-text-field>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <label class="col-form-label">
                Media Sosial
              </label>
            </div>
            <div class="col-lg-8">
              <div class="form-group">
                <bs-text-field v-model="biodata.facebook"
                               prepend-icon="pen">
                  <span slot="prependSlot" class="md-icon-text">Facebook:</span>
                </bs-text-field>
              </div>
              <div class="form-group">
                <bs-text-field v-model="biodata.instagram"
                               prepend-icon="pen">
                  <span slot="prependSlot" class="md-icon-text">Instagram:</span>
                </bs-text-field>
              </div>
            </div>
          </div>
        </div>

        <!-- right side -->
        <div class="col-xl-6">
          <div class="form-group">
            <bs-text-field v-model="biodata.tempatLahir"
                           :external-validator="tempatLahirValidator"
                           required>
              <label class="col-form-label col-lg-4">
                Tempat Lahir
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-date-time-field v-model="biodata.tanggalLahir"
                                :external-validator="tanggalLahirValidator"
                                :locale="getLocale"
                                append-icon="calendar"
                                display-format="DD MMMM YYYY"
                                format="YYYY-MM-DD"
                                required>
              <label class="col-form-label col-lg-4">
                Tanggal Lahir
              </label>
            </bs-date-time-field>
          </div>
          <div class="form-group">
            <bs-button-toggle-field v-model="biodata.jenisKelamin"
                                    :external-validator="jenisKelaminValidator"
                                    :items="jenisKelamin"
                                    color="default"
                                    outlined
                                    required
                                    size="sm"
                                    toggle-color="teal">
              <label class="col-form-label col-lg-4">
                Jenis kelamin
              </label>
            </bs-button-toggle-field>
          </div>
          <div class="form-group">
            <bs-text-area v-model="biodata.alamat"
                          :external-validator="alamatValidator"
                          required
                          rows="2">
              <label class="col-form-label col-lg-4">
                Alamat Tinggal
              </label>
            </bs-text-area>
          </div>
          <div class="form-group">
            <bs-combobox v-model="biodata.provinsiId"
                         required
                         :data-source="dsCboProvinsi"
                         :external-validator="provinsiIdValidator">
              <label class="col-form-label col-lg-4">
                Provinsi
              </label>
            </bs-combobox>
          </div>
          <div class="form-group">
            <bs-combobox v-model="biodata.kabupatenId"
                         :data-source="dsCboKabupaten"
                         :parent-value="biodata.provinsiId"
                         :external-validator="kabupatenIdValidator"
                         required
                         @data-bind="onBindKabupaten">
              <label class="col-form-label col-lg-4">
                Kabupaten
              </label>
            </bs-combobox>
          </div>
          <div class="form-group">
            <bs-combobox v-model="biodata.kecamatanId"
                         :data-source="dsCboKecamatan"
                         :parent-value="biodata.kabupatenId"
                         :external-validator="kecamatanIdValidator"
                         required
                         @data-bind="onBindKecamatan">
              <label class="col-form-label col-lg-4">
                Kecamatan
              </label>
            </bs-combobox>
          </div>
          <div class="form-group">
            <bs-combobox v-model="biodata.kelurahanId"
                         :data-source="dsCboKelurahan"
                         :parent-value="biodata.kecamatanId"
                         :external-validator="kelurahanIdValidator"
                         required
                         @data-bind="onBindKelurahan">
              <label class="col-form-label col-lg-4">
                Kelurahan
              </label>
            </bs-combobox>
          </div>
          <div class="row">
            <div class="col-lg-8 offset-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <bs-text-field v-model="biodata.rtRw"
                                 :external-validator="rtRwValidator"
                                 class="form-group"
                                 placeholder="001/003"
                                 prepend-icon="pen">
                    <span slot="prependSlot" class="md-icon-text">RT/RW:</span>
                  </bs-text-field>
                </div>
                <div class="col-lg-6">
                  <bs-text-field prepend-icon="pen" class="form-group" v-model="biodata.kodePos">
                    <span slot="prependSlot" class="md-icon-text">Kode Pos:</span>
                  </bs-text-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </bs-card-body>
    <bs-card-footer class="bg-white">
      <bs-button color="primary" @click="doValidate">
        Lanjut
      </bs-button>
      <bs-button color="secondary" outlined @click="doCancel">
        Batal
      </bs-button>
    </bs-card-footer>
  </form>
</template>

<script>
import { validationMixin } from "vuelidate";
import { TechBaseModel } from "../../../../../models/Beneficiary/Techbase/TechBaseModel";
import { IndividuModel } from "../../../../../models/Beneficiary/IndividuModel";
import {
    techBaseBiodataValidationHandler,
    techBaseBiodataValidator,
    techBaseStep1ValidationHandler,
    techBaseStep1Validator
} from "../../../../../models/Beneficiary/Techbase/TechBaseStep1Validator";
import alamatValidationHandler from "../../../../../models/Beneficiary/alamatValidationHandler";
import personValidationHandler from "../../../../../models/Beneficiary/personValidationHandler";
import appLocale from "../../../../../mixins/appLocale";
import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
import cascadeComboBoxWilayah from "../../../../../mixins/cascadeComboBoxWilayah";

export default {
    name: 'FormTechBaseStep1',
    mixins: [
        validationMixin, appLocale, httpErrorResponse, cascadeComboBoxWilayah,
        alamatValidationHandler('biodata'),
        personValidationHandler('biodata'),
        techBaseStep1ValidationHandler('techBase'),
        techBaseBiodataValidationHandler('biodata')
    ],
    props: {
        /**
         * @type {IndividuModel|*}
         * Data model penerima manfaat Individu
         */
        biodata: {
            type: IndividuModel,
            default: {}
        },
        /**
         * @type {TechBaseModel|*}
         * Data model peserta TechBase
         */
        techBase: {
            type: TechBaseModel,
            default: {}
        },
        valid: {
            type: Boolean,
            default: false
        },
        validate: {
            type: Boolean,
            default: false
        }
    },
    data: () => ({
        statusJabatan: [
            {label: 'PNS', value: 'PNS'},
            {label: 'GTY', value: 'GTY'},
            {label: 'GTT', value: 'GTT'}
        ],
        jenisKelamin: [
            {label: 'Laki-laki', value: 'L'},
            {label: 'Perempuan', value: 'P'}
        ]
    }),
    watch: {
        validate(value) {
            if (value === true) {
                this.doValidate();
            }
        }
    },
    validations: {
        techBase: techBaseStep1Validator,
        biodata: techBaseBiodataValidator
    },
    beforeDestroy() {
        this.jenisKelamin  = null;
        this.statusJabatan = null;
    },
    methods: {
        /**
         * Batalkan pengisian atau penyuntingan data dan kembali ke halaman DataGrid.
         *
         * @return {void}
         */
        doCancel() {
            this.$router.push(this.$route.meta.previous);
        },
        /**
         * Process fields validation.
         *
         * @return {void}
         */
        doValidate() {
            this.$v.$touch();
            this.$emit('update:valid', !this.$v.$error);
        },
        /**
         * Event handler when data kabupaten already loaded.
         *
         * @param {Object[]} items List Data Kabupaten
         *
         * @return {void}
         */
        onBindKabupaten(items) {
            if (items && items.length > 0 && this.biodata.kecamatan !== null) {
                this.biodata.kabupatenId = this.biodata.kecamatan.kabupaten.kabupatenId;
            }
        },
        /**
         * Event handler when data kecamatan already loaded.
         *
         * @param {Object[]} items List Data Kecamatan
         *
         * @return {void}
         */
        onBindKecamatan(items) {
            if (items && items.length > 0 && this.biodata.kecamatan !== null) {
                this.biodata.kecamatanId = this.biodata.kecamatan.kecamatanId;
            }
        },
        /**
         * Event handler when data kelurahan already loaded.
         *
         * @param {Object[]} items List Data Kelurahan
         *
         * @return {void}
         */
        onBindKelurahan(items) {
            if (items && items.length > 0 && this.biodata.kelurahan !== null) {
                this.biodata.kelurahanId = this.biodata.kelurahan.kelurahanId;
            }
        }
    }
}
</script>

<style scoped>

</style>
