<template>
    <section class="body-container">
        <bs-card shadow>
            <bs-card-body>
                <form class="pt-lg-3 px-lg-2" novalidate>
                    <div class="form-row">
                        <div class="col-lg-3 col-xl-2 font-weight-bold">
                            NAMA
                        </div>
                        <div style="width: 8px">
                            :
                        </div>
                        <div class="col">
                            {{ biodata.namaLengkap }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-3 col-xl-2 font-weight-bold">
                            NIK
                        </div>
                        <div style="width: 8px">
                            :
                        </div>
                        <div class="col">
                            {{ biodata.nik }}
                        </div>
                    </div>
                    <bs-divider class="grey-500 my-3"/>
                    <h6 class="mb-3">Indikator Keberhasilan Implementasi Integrasi TBE</h6>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-4 font-weight-bold">
                            Semester
                        </label>
                        <div class="col-lg-4">
                            <bs-combobox v-model="indikator.semester"
                                         :external-validator="semesterValidator"
                                         :items="dsSemester"
                                         required/>
                        </div>
                    </div>
                    <div class="form-row">
                        <table class="table table-valign-middle table-bordered mb-1">
                            <thead class="thead-light">
                                <tr>
                                    <th class="border-right-0" rowspan="2" style="width: 20px;">
                                        #
                                    </th>
                                    <th class="text-center" rowspan="2">
                                        Target
                                    </th>
                                    <th class="text-center" rowspan="2" style="width: 130px">
                                        Jumlah Aspek Evaluasi *
                                    </th>
                                    <th class="text-center" colspan="2">
                                        Skor per Aspek Evaluasi
                                    </th>
                                </tr>
                                <tr>
                                    <th class="text-center" style="width: 100px" >
                                        Maksimum
                                    </th>
                                    <th class="text-center" style="width: 100px" >
                                        Minimum
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Substitution</td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.tbeParams.subsJumlah"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.tbeParams.subsAspekMax"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.tbeParams.subsAspekMin"
                                                              required/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Augmentation</td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.tbeParams.augmentJumlah"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.tbeParams.augmentAspekMax"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.tbeParams.augmentAspekMin"
                                                              required/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Modification</td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.tbeParams.modifJumlah"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.tbeParams.modifAspekMax"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.tbeParams.modifAspekMin"
                                                              required/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Redefinition</td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.tbeParams.redefJumlah"
                                                              required/>
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.tbeParams.redefAspekMax"
                                                              required />
                                    </td>
                                    <td class="text-right">
                                        <number-field-wrapper v-model.number="indikator.tbeParams.redefAspekMin"
                                                              required/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <small>(*) Aspek Evaluasi adalah komponen-komponen yang terdapat dalam tool monitoring untuk menghasilkan skor evaluasi ketercapaian target</small>
                    </div>
                </form>
            </bs-card-body>
            <bs-card-footer class="bg-white">
                <bs-button color="primary" @click="doSave">
                    Simpan
                </bs-button>
                <bs-button color="secondary" outlined @click="doCancel">
                    Batal
                </bs-button>
            </bs-card-footer>
            <bs-mask-loader :opacity="0"
                            :show="loaded || techBase.loading"
                            :spinner-diameter="50"/>
        </bs-card>
    </section>
</template>

<script>
    import appLocale from "../../../../../mixins/appLocale";
    import formatUtils from "../../../../../mixins/formatUtils";
    import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
    import editorRouteGuard from "../../../../../mixins/security/editorRouteGuard";
    import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";
    import {validationMixin} from "vuelidate";
    import {IndividuModel} from "../../../../../models/Beneficiary/IndividuModel";
    import {TechBaseModel} from "../../../../../models/Beneficiary/Techbase/TechBaseModel";
    import NumberFieldWrapper from "../../../../../components/NumberFieldWrapper";
    import {IndikatorKpiModel} from "../../../../../models/Kegiatan/IndikatorKpiModel";
    import {KpiValidationHandler, KpiIndikatorValidator} from "../../../../../models/Kegiatan/KpiIndikatorValidator";
    import {mask} from 'vue-the-mask';
    import {
        MSG_SAVE_SUCCESS,
        MSG_UPDATE_SUCCESS,
        SAVE,
        STATE_SUCCESS,
        UPDATE
    } from "../../../../../store/modules/mutation-types";
    import DanaBatchModel from "../../../../../models/Pendanaan/DanaBatchModel";

    export default {
        name: "FormKpi",
        directives: {mask},
        components: {NumberFieldWrapper},
        mixins: [
            appLocale, editorRouteGuard, formatUtils, httpErrorResponse,
            mapStoreKegiatanBeneficiary, validationMixin, KpiValidationHandler('indikator')
        ],
        data() {
            return {
                program: new DanaBatchModel(),
                biodata: new IndividuModel(),
                indikator: new IndikatorKpiModel(),
                techBase: new TechBaseModel(),
                dsSemester: ['I','II'],
                loaded: false,
                isEditMode: false
            }
        },
        validations: {
            indikator: KpiIndikatorValidator
        },
        created() {
            const idprogram = this.$route.params.idprogram;

            if (this.$route.params.id) {
                this.isEditMode = true;
                this.fetchData(this.$route.params.id);
            }

            if (this.$route.params.idprogram) {
                this.fetchProgram(this.$route.params.idprogram);
            }

            if (this.$route.params.uid) {
                this.techBase.fetch(this.$route.params.uid).then(() => {
                    this.biodata.assignValues(this.techBase.biodata);
                }).catch((error) => {
                    this.showErrorMessage(error);
                    this.$nextTick(() => {
                        this.$router.push('/kegiatan/penerima-manfaat/' + idprogram + '/tech-base/view/' + this.$route.params.uid + '/tech-base');
                    });
                });
            }
        },
        beforeDestroy() {
            this.biodata.destroy();
            this.biodata = null;

            this.indikator.destroy();
            this.indikator = null;

            this.program.destroy();
            this.program = null;

            this.techBase.destroy();
            this.techBase = null;
        },
        methods: {
            restrictChars(evt) {
                evt = (evt) ? evt : window.event;
                let charCode = (evt.which) ? evt.which : evt.keyCode;
                if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                    evt.preventDefault();
                } else {
                    return true;
                }
            },
            /**
             * Send request insert/update data to server.
             *
             * @return {void}
             */
            doSave() {
                this.$v.$touch();
                if (!this.$v.$error) {
                    const text = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                    const action = this.isEditMode ? UPDATE : SAVE;

                    this.loaded = true;

                    this.indikator.tbe = this.techBase.tbeId;
                    this.indikator.periodeBatch = this.program.batchId;
                    this.indikator.tahun = this.program.tahun;

                    this.indikator[action]().then(() => {
                        this.loaded = false;
                        this.$notification.success('Data KPI ' + this.biodata.namaLengkap + text, STATE_SUCCESS);
                        this.$nextTick(() => {
                            this.$router.push('/kegiatan/penerima-manfaat/' + this.$route.params.idprogram + '/tech-base/view/' + this.$route.params.uid);
                        });
                    }).catch((error) => {
                        this.loaded = false;
                        this.showErrorMessage(error);
                    });
                }
            },
            /**
             * Batalkan pengisian atau penyuntingan data dan kembali ke halaman DataGrid.
             *
             * @return {void}
             */
            doCancel() {
                this.$router.push(this.$route.meta.previous);
            },
            /**
             * Fetch data from remote server.
             *
             * @param {Number|String} id bid
             * @return {void}
             */
            fetchData(id) {
                this.indikator.fetch(id).catch((error) => {
                    this.showErrorMessage(error);
                    this.$nextTick(() => {
                        this.$router.push(this.$route.meta.previous);
                    });
                });
            },
            /**
             * Fetch data program Dana Batch tahunan.
             *
             * @param {int|string} id    Program ID
             * @return {void}
             */
            fetchProgram(id) {
                this.program.fetch(id).catch((error) => {
                    this.showErrorMessage(error);
                    this.$nextTick(() => {
                        this.$router.push(this.$route.meta.previous);
                    });
                });
            }
        }
    }
</script>

<style scoped>

</style>
