<template>
  <form novalidate>
    <bs-card-body>
      <div class="row">
        <!-- left side -->
        <div class="col-xl-6">
          <div class="form-group">
            <bs-text-field v-model="techBase.namaInstitusi"
                           :external-validator="namaInstitusiValidator"
                           required>
              <label class="col-form-label col-lg-4">
                Nama Institusi
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-area v-model="techBase.alamatInstitusi"
                          :external-validator="alamatInstitusiValidator"
                          rows="2"
                          required>
              <label class="col-form-label col-lg-4">
                Alamat Institusi
              </label>
            </bs-text-area>
          </div>
          <div class="form-group">
            <bs-button-toggle-field v-model="techBase.jenisInstitusi"
                                    :external-validator="jenisInstitusiValidator"
                                    :items="jenisInstitusi"
                                    color="default"
                                    toggle-color="teal"
                                    size="sm"
                                    outlined
                                    required>
              <label class="col-form-label col-lg-4">
                Jenis Institusi
              </label>
            </bs-button-toggle-field>
          </div>
        </div>

        <!-- right side -->
        <div class="col-xl-6">
          <div class="form-group">
            <bs-button-toggle-field v-model="techBase.sertifikasi"
                                    :items="itemSertifikasi"
                                    :external-validator="sertifikasiValidator"
                                    color="default"
                                    toggle-color="teal"
                                    size="sm"
                                    outlined
                                    required>
              <label class="col-form-label col-lg-4">
                Sertifikasi
              </label>
            </bs-button-toggle-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="techBase.lamaMengajar">
              <label class="col-form-label col-lg-4">
                Lama Mengajar
              </label>
            </bs-text-field>
          </div>
          <div class="row">
            <label class="col-form-label col-lg-4">
              Mapel yang diajarkan
            </label>
            <div class="col-lg-8">
              <div class="form-group" v-for="(item, idx) in techBase.mapel" :key="'mapel-' + idx">
                <bs-text-field v-model="item.text"
                               append-icon="plus-circle">
                  <font-awesome-icon v-if="idx === 0"
                                     v-tooltip="{content:'Tambah baris baru', placement:'top'}"
                                     :key="'addRow-' + idx"
                                     icon="plus-circle"
                                     slot="appendSlot"
                                     style="cursor: pointer"
                                     @click="doAddRow" />
                  <font-awesome-icon v-else
                                     v-tooltip="{content:'Hapus baris', placement:'top'}"
                                     :key="'removeRow-' + idx"
                                     slot="appendSlot"
                                     icon="minus-circle"
                                     style="cursor: pointer"
                                     @click="techBase.mapel.splice(idx, 1)" />
                </bs-text-field>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- prestasi -->
      <bs-card-content type="title" class="mt-4 mb-1">
        Sertifikat Kompetensi/Prestasi
      </bs-card-content>
      <bs-divider />
      <table class="table table-bordered mt-3">
        <thead class="thead-light">
          <tr>
            <th>Nama Kegiatan</th>
            <th>Tingkat</th>
            <th>Tahun</th>
            <th class="align-middle text-center" style="width: 25px">
              <font-awesome-icon v-tooltip="{content:'Tambah baris baru', placement:'top'}"
                                 icon="plus"
                                 size="lg"
                                 style="cursor: pointer"
                                 @click="doAddRowPrestasi" />
            </th>
          </tr>
        </thead>

        <tbody v-for="(item, idx) in techBase.prestasi" :key="'prestasi-' + idx">
          <tr>
            <td>
              <bs-text-field v-model="item.nama" placeholder="Ketik nama kegiatan" flat />
            </td>
            <td>
              <bs-text-field v-model="item.tingkat" placeholder="Ketik tingkat kegiatan" flat />
            </td>
            <td>
              <bs-text-field v-model="item.tahun" placeholder="Ketik tahun kegiatan" flat />
            </td>
            <td class="align-middle text-center">
              <font-awesome-icon v-tooltip="{content:'Hapus baris', placement:'top'}"
                                 :key="'removePrestasi-' + idx"
                                 icon="times"
                                 size="lg"
                                 class="text-danger"
                                 style="cursor: pointer"
                                 @click="techBase.prestasi.splice(idx, 1)" />
            </td>
          </tr>
        </tbody>
      </table>

      <!-- pelatihan -->
      <bs-card-content type="title" class="mt-4 mb-1">
        Pelatihan Terkait Pembelajaran Teknologi yang Pernah Diikuti
      </bs-card-content>
      <bs-divider />
      <table class="table table-bordered mt-3">
        <thead class="thead-light">
          <tr>
            <th>Nama Kegiatan</th>
            <th>Tahun</th>
            <th class="align-middle text-center" style="width: 25px">
              <font-awesome-icon v-tooltip="{content:'Tambah baris baru', placement:'top'}"
                                 icon="plus"
                                 size="lg"
                                 style="cursor: pointer"
                                 @click="doAddRowPelatihan" />
            </th>
          </tr>
        </thead>

        <tbody v-for="(item, idx) in techBase.pelatihan" :key="'prestasi-' + idx">
          <tr>
            <td>
              <bs-text-field v-model="item.nama" placeholder="Ketik nama kegiatan" flat />
            </td>
            <td>
              <bs-text-field v-model="item.tahun" placeholder="Ketik tahun kegiatan" flat />
            </td>
            <td class="align-middle text-center">
              <font-awesome-icon v-tooltip="{content:'Hapus baris', placement:'top'}"
                                 :key="'removePelatihan-' + idx"
                                 icon="times"
                                 size="lg"
                                 class="text-danger"
                                 style="cursor: pointer"
                                 @click="techBase.pelatihan.splice(idx, 1)" />
            </td>
          </tr>
        </tbody>
      </table>
    </bs-card-body>
    <bs-card-footer class="bg-white">
      <bs-button color="primary" @click="doSave">
        Simpan
      </bs-button>
      <bs-button color="secondary" outlined @click="doCancel">
        Batal
      </bs-button>
    </bs-card-footer>
  </form>
</template>

<script>
import { validationMixin } from "vuelidate";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { TechBaseModel } from "../../../../../models/Beneficiary/Techbase/TechBaseModel";
import {
    techBaseStep2ValidationHandler,
    techBaseStep2Validator
} from "../../../../../models/Beneficiary/Techbase/TechBaseStep2Validator";
import httpErrorResponse from "../../../../../mixins/httpErrorResponse";

export default {
    name: 'FormTechBaseStep2',
    components: {FontAwesomeIcon},
    mixins: [
        validationMixin, httpErrorResponse, techBaseStep2Validator,
        techBaseStep2ValidationHandler('techBase')
    ],
    props: {
        /**
         * @property TechBaseModel Data model peserta TechBase
         */
        techBase: {
            type: TechBaseModel,
            default: undefined
        },
        valid: {
            type: Boolean,
            default: false
        },
        validate: {
            type: Boolean,
            default: false
        }
    },
    data: () => ({
        itemSertifikasi: [
            {label: 'Ya', value: true},
            {label: 'Tidak', value: false}
        ],
        jenisInstitusi: [
            {label: 'SD', value: 1},
            {label: 'SMP', value: 2}
        ],
    }),
    watch: {
        validate(value) {
            if (value === true) {
                this.doValidate();
            }
        }
    },
    validations: {
        techBase: techBaseStep2Validator
    },
    beforeDestroy() {
        this.itemSertifikasi = null;
    },
    methods: {
        /**
         * Tambah baris baru untuk field Mata Pelajaran.
         *
         * @return {void}
         */
        doAddRow() {
            this.techBase.mapel.push({text: ''});
        },
        /**
         * Tambah baris baru untuk data Pelatihan.
         *
         * @return {void}
         */
        doAddRowPelatihan() {
            this.techBase.pelatihan.push({nama: '', tahun: ''});
        },
        /**
         * Tambah baris baru untuk data Prestasi.
         *
         * @return {void}
         */
        doAddRowPrestasi() {
            this.techBase.prestasi.push({nama: '', tingkat: '', tahun: ''});
        },
        /**
         * Batalkan pengisian atau penyuntingan data dan kembali ke halaman DataGrid.
         *
         * @return {void}
         */
        doCancel() {
            this.$router.push(this.$route.meta.previous);
        },
        /**
         * Fire event ``save`` if there are no validation errors.
         *
         * @return {void}
         */
        doSave() {
            this.doValidate();
            if (!this.$v.$error) {
                this.$emit('save');
            }
        },
        /**
         * Process fields validation.
         *
         * @return {void}
         */
        doValidate() {
            this.$v.$touch();
            this.$emit('update:valid', !this.$v.$error);
        },
    }
}
</script>

<style scoped>

</style>
