<template>
    <section class="body-container">
        <bs-card shadow>
            <bs-card-header>
                <bs-tabs v-model="activeTab"
                         ref="tabpane"
                         variant="pills"
                         align="justified"
                         flex>
                    <bs-tab label="Data Umum" active-class="bg-teal text-white"/>
                    <bs-tab label="Data Lainnya" active-class="bg-teal text-white"/>
                </bs-tabs>
            </bs-card-header>
            <bs-tab-content v-model="activeTab">
                <bs-tab-pane>
                    <form-tech-base-step1 :tech-base="techBase"
                                          :biodata="biodata"
                                          :validate="step1Validate"
                                          :valid="step1Valid"
                                          @update:valid="setStep1Validation"/>
                </bs-tab-pane>
                <bs-tab-pane>
                    <form-tech-base-step2 :tech-base="techBase"
                                          :validate="step2Validate"
                                          :valid="step2Valid"
                                          @update:valid="setStep2Validation"
                                          @save="doSaveTechBase"/>
                </bs-tab-pane>
            </bs-tab-content>
        </bs-card>
        <bs-mask-loader :opacity="0"
                        :show="techBase.loading || techBase.updating"
                        :spinner-diameter="50"/>
    </section>
</template>

<script>
    import {Helper} from "vue-bs4";
    import {IndividuModel} from "../../../../../models/Beneficiary/IndividuModel";
    import {GET_ACTIVE_PROGRAM} from "../../../../../store/modules/Kegiatan/mutation-types";
    import {
        APPROVED,
        MSG_SAVE_SUCCESS,
        MSG_UPDATE_SUCCESS,
        SAVE,
        STATE_SUCCESS,
        STATE_WARNING,
        STEP_APPROVAL,
        UPDATE
    } from "../../../../../store/modules/mutation-types";
    import {TechBaseModel} from "../../../../../models/Beneficiary/Techbase/TechBaseModel";
    import FormTechBaseStep1 from "./FormTechBaseStep1";
    import FormTechBaseStep2 from "./FormTechBaseStep2";
    import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
    import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";
    import editorRouteGuard from "../../../../../mixins/security/editorRouteGuard";
    import BeneficiaryWorkflowConfigurer from "../../../../../models/Beneficiary/BeneficiaryWorkflowConfigurer";

    export default {
        name: "MainFormTechBase",
        components: {FormTechBaseStep2, FormTechBaseStep1},
        mixins: [httpErrorResponse, editorRouteGuard, mapStoreKegiatanBeneficiary],
        data: () => ({
            techBase: new TechBaseModel(),
            biodata: new IndividuModel(),
            workflowConfigurer: new BeneficiaryWorkflowConfigurer('techBase'),
            restrictEdit: false,
            isEditMode: false,
            step1Valid: true,
            step2Valid: true,
            step1Validate: false,
            step2Validate: false,
            tabIndex: 0
        }),
        computed: {
            activeTab: {
                get() {
                    return this.tabIndex;
                },
                set(value) {
                    if (value !== this.tabIndex && this.tabIndex === 0) {
                        this.step1Validate = true;
                        this.$nextTick(() => {
                            if (this.step1Valid) {
                                this.tabIndex = value;
                                this.$refs.tabpane.setActiveTab(1);
                            } else {
                                this.$refs.tabpane.setActiveTab(0);
                            }
                        });
                    } else if (value !== this.tabIndex && this.tabIndex === 1) {
                        this.step2Validate = true;
                        this.$nextTick(() => {
                            if (this.step2Valid) {
                                this.tabIndex = value;
                                this.$refs.tabpane.setActiveTab(0);
                            } else {
                                this.$refs.tabpane.setActiveTab(1);
                            }
                        });
                    }
                }
            },
            /**
             * Get a workflow.
             *
             * @return {Workflow} A workflow object instance
             */
            workflow() {
                return this.workflowConfigurer.workflow;
            }
        },
        created() {
            if (!this.hasEditorAccessRights) {
                this.$router.push('/access-denied');
                return;
            }
            const id = this.$route.params.id;
            const idprogram = this.$route.params.idprogram;

            // Check data model state and initialize its data if needed
            if (this[GET_ACTIVE_PROGRAM] === null) {
                this.fetchDpt(idprogram);
            }
            if (id) {
                this.isEditMode = true;
                this.techBase.tbeId = id;

                this.techBase.fetch().then(() => {
                    this.biodata.assignValues(this.techBase.biodata);
                    this.biodata.provinsiId = this.biodata.kecamatan.kabupaten.provinsi.provinsiId;
                    if (Helper.isEmpty(this.techBase.mapel)) {
                        this.techBase.mapel = [{text: ''}];
                    }
                    if (Helper.isEmpty(this.techBase.prestasi)) {
                        this.techBase.prestasi = [{
                            nama: '',
                            tingkat: '',
                            tahun: null
                        }];
                    }
                    if (Helper.isEmpty(this.techBase.pelatihan)) {
                        this.techBase.pelatihan = [{nama: '', tahun: null}];
                    }
                }).catch((error) => {
                    this.showErrorMessage(error);
                    this.$nextTick(() => {
                        this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/tech-base');
                    });
                })
            }
            if (!this.isEditMode){
                this.biodata.status = 'NEW';
                this.biodata.statusVerifikasi = 0;
            }

        },
        updated() {
            this.checkStatus(this.techBase)
        },
        beforeDestroy() {
            this.techBase.destroy();
            this.techBase = null;
            this.biodata.destroy();
            this.biodata = null;
            this.workflowConfigurer.destroy();
            this.workflowConfigurer = null;
        },
        methods: {
            /**
             * Prevent verified or approved data from updating.
             *
             * @param {TechBaseModel} item Data model
             * @return {void}
             */
            checkStatus(item) {
                if (item.status === APPROVED || this.workflow.can(item, STEP_APPROVAL)) {
                    this.$notification.warning('Data penerima manfaat <b>' + item.biodata.namaLengkap + '</b> sudah tidak dapat diubah', STATE_WARNING);
                    this.$nextTick(() => {
                        this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/tech-base');
                    });
                }
            },
            /**
             * Send request INSERT/UPDATE to the remote server.
             *
             * @return {void}
             */
            doSaveTechBase() {
                if (this.step1Valid === true && this.step2Valid === true) {
                    const text = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                    const action = this.isEditMode ? UPDATE : SAVE;

                    if (Helper.isArray(this.biodata.programs) && this.biodata.programs.length > 0) {
                        let programs = [];

                        this.biodata.programs.forEach(el => {
                            if (!Helper.isEmpty(el.id)) {
                                programs.push(el.id);
                            }
                        });
                        if (!programs.includes(this[GET_ACTIVE_PROGRAM])) {
                            programs.push(this[GET_ACTIVE_PROGRAM]);
                        }
                        this.biodata.programs = programs;
                    } else {
                        this.biodata.programs = [this[GET_ACTIVE_PROGRAM]];
                    }

                    this.biodata.kategori = 5;
                    this.biodata.kecamatan = this.biodata.kecamatanId;
                    this.biodata.kelurahan = this.biodata.kelurahanId;
                    this.techBase.biodata = this.biodata.toJSON();
                    delete this.techBase.biodata[this.biodata.getIdProperty()];

                    this.techBase[action]().then(() => {
                        this.$notification.success('Data ' + this.biodata.namaLengkap + text, STATE_SUCCESS);
                        this.$nextTick(() => {
                            this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/tech-base');
                        });
                    }).catch((error) => {
                        this.showErrorMessage(error);
                    });
                }
            },
            /**
             * Handle update validation status from Step-1.
             *
             * @param {boolean} value status validation from step-1
             *
             * @return {void}
             */
            setStep1Validation(value) {
                this.step1Valid = value;
                if (value === true) {
                    this.$refs.tabpane.setActiveTab(1);
                }
            },
            /**
             * Handle update validation status from Step-2.
             *
             * @param {boolean} value status validation from step-2
             *
             * @return {void}
             */
            setStep2Validation(value) {
                this.step2Valid = value;
            }
        }
    }
</script>

<style scoped>

</style>
