<template>
    <section class="body-container">
        <bs-card shadow>
            <bs-card-body>
                <template v-if="setting">
                    <div class="row">
                        <label class="col-form-label col-lg-4">
                            Section
                        </label>
                        <div class="col col-lg-8">
                            {{ setting.section }}
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-lg-4">
                            Atribut
                        </label>
                        <div class="col col-lg-8">
                            {{ setting.attribute }}
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-lg-4" required>
                            Nama Setting
                        </label>
                        <div class="col col-lg-8 font-weight-bold">
                            {{ setting.label }}
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-lg-4" required>
                            Nilai Setting
                        </label>
                        <bs-text-field class="col col-lg-8"
                                       v-model="setting.attributeValue"
                                       autofocus
                                       required>
                        </bs-text-field>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-lg-4">
                            Keterangan
                        </label>
                        <div class="col col-lg-8">
                            {{ setting.description }}
                        </div>
                    </div>
                </template>
            </bs-card-body>
            <bs-card-footer class="bg-white">
                <bs-button v-if="setting" color="primary" @click="doSave">
                    Simpan
                </bs-button>
            </bs-card-footer>
        </bs-card>
        <bs-mask-loader :show="loading"
                        :opacity="0"
                        :spinner-diameter="50"/>
    </section>
</template>

<script>
    import appLocale from "../../../mixins/appLocale";
    import formatUtils from "../../../mixins/formatUtils";
    import adminRouteGuard from "../../../mixins/security/adminRouteGuard";
    import httpErrorResponse from "../../../mixins/httpErrorResponse";
    import {STATE_SUCCESS} from "../../../store/modules/mutation-types";

    export default {
        name: "FormAppSetting",
        mixins: [appLocale, formatUtils, adminRouteGuard, httpErrorResponse],
        data: () => ({
            setting: null,
            loading: false,
        }),
        created() {
            let section = this.$route.params.section;
            let attr = this.$route.params.attr;
            if ((section !== null) && (attr !== null)) {
                this.loading = true;
                this.$http.get('/security/appsetting/get/' + section + '/' + attr, [], []).then((response) => {
                    this.setting = response.data.data;
                    this.loading = false;
                }).catch((error) => {
                    this.showErrorMessage(error);
                    this.loading = false;
                    this.$nextTick(() => {
                        this.$router.push('/security/appconfig');
                    });
                });
            }
        },
        beforeDestroy() {
            setting = null;
        },
        methods: {
            doSave() {
                this.loading = true;
                this.$http.post('/security/appsetting/update',
                    {
                        section: this.setting.section,
                        attr: this.setting.attribute,
                        value: this.setting.attributeValue
                    }, []).then(() => {
                    this.$notification.success('Data Setting disimpan', STATE_SUCCESS);
                    this.loading = false;
                    this.$nextTick(() => {
                        this.$router.push('/security/appconfig');
                    });
                }).catch((error) => {
                    this.loading = false;
                    this.showErrorMessage(error);
                });
            }
        }
    }
</script>

<style scoped>

</style>