<template>
  <section class="container">
    <bs-card shadow>
      <bs-card-body>
        <form class="pt-lg-3 px-lg-2" novalidate>
          <div class="form-group">
            <bs-text-field v-model="userGroup.groupName"
                           autofocus
                           required
                           :external-validator="groupNameValidation">
              <label class="col-form-label col-md-2 font-weight-bold">
                Nama Grup
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-area rows="2"
                          v-model="userGroup.description"
                          :external-validator="descriptionValidation">
              <label class="col-form-label col-md-2">
                Deskripsi
              </label>
            </bs-text-area>
          </div>
          <div class="form-group">
            <bs-combobox v-model="userGroup.roles"
                         :data-source="dsRoles"
                         :disabled="isEdit && userGroup.protected"
                         multiple>
              <label class="col-form-label col-md-2">
                Role
              </label>
            </bs-combobox>
          </div>
          <div class="form-group">
            <bs-switch v-model="userGroup.enabled"
                       :disabled="isEdit && userGroup.protected"
                       label-position="left"
                       label-class="col-md-2">
              Aktif
            </bs-switch>
          </div>
        </form>
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <bs-button color="primary" @click="doSave">
          Simpan
        </bs-button>
      </bs-card-footer>
    </bs-card>
    <bs-mask-loader :opacity="0"
                    :show="userGroup.updating"
                    :spinner-diameter="50" />
  </section>
</template>

<script>
import { BsStore } from "vue-bs4";
import { validationMixin } from "vuelidate";
import { UserGroupModel } from "../../../models/Security/UserGroupModel";
import { handleUserGroupValidator, userGroupValidator } from "../../../models/Security/UserGroupValidator";
import {
    MSG_SAVE_SUCCESS,
    MSG_UPDATE_SUCCESS,
    SAVE,
    STATE_SUCCESS,
    UPDATE
} from "../../../store/modules/mutation-types";
import adminRouteGuard from "../../../mixins/security/adminRouteGuard";
import httpErrorResponse from "../../../mixins/httpErrorResponse";

export default {
    name: "FormUserGroup",
    mixins: [validationMixin, handleUserGroupValidator('userGroup'), adminRouteGuard, httpErrorResponse],
    data: () => ({
        /**
         * @type {UserGroupModel}
         * Data model UserGroup.
         */
        userGroup: new UserGroupModel(),
        dsRoles: {
            schema: {
                displayField: 'roleTitle',
                valueField: 'role'
            },
            proxy: new BsStore({
                idProperty: 'id',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    browse: '/security/roles'
                }
            })
        },
        isEdit: false
    }),
    validations: {
        userGroup: userGroupValidator
    },
    mounted() {
        if (this.$route.params.id) {
            this.isEdit            = true;
            this.userGroup.groupId = this.$route.params.id;

            this.userGroup.fetch().catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/security/members/group');
                });
            });
        }
    },
    beforeDestroy() {
        this.dsRoles.proxy.destroy();
        this.dsRoles.proxy = null;
        this.dsRoles       = null;
        this.userGroup.destroy();
        this.userGroup = null;
    },
    methods: {
        /**
         * Send HTTP request untuk menambah/memperbarui data Group Pengguna.
         *
         * @return {void}
         */
        doSave() {
            this.$v.$touch();

            if (!this.$v.$error) {
                const text   = this.isEdit ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                const action = this.isEdit ? UPDATE : SAVE;

                this.userGroup[action]().then(() => {
                    this.$notification.success('Data grup pengguna' + text, STATE_SUCCESS);
                    this.$nextTick(() => {
                        this.$router.push('/security/members/group');
                    });
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            }
        }
    }
};
</script>

<style scoped>

</style>
