<template>
  <section class="container">
    <bs-card shadow>
      <bs-card-body>
        <form class="pt-lg-3 px-lg-2" autocomplete="off" novalidate>
          <div class="form-group">
            <bs-text-field v-model="user.username"
                           :external-validator="usernameValidator"
                           autofocus
                           required>
              <label class="col-form-label col-md-2">
                Akun Pengguna
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="user.fullName"
                           :external-validator="fullNameValidator"
                           required>
              <label class="col-form-label col-md-2">
                Nama Lengkap
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="user.userPassword"
                           :external-validator="userPasswordValidator"
                           :placeholder="showPasswordPlaceholder"
                           type="password">
              <label class="col-form-label col-md-2"
                     :class="{'font-weight-bold': !isEdit}">
                Kata Sandi
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="user.email"
                           :external-validator="emailValidator"
                           placeholder="example@domain.com"
                           type="email"
                           required>
              <label class="col-form-label col-md-2">
                Alamat Email
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-combobox v-model="user.groupId"
                         :data-source="dsGroup"
                         :external-validator="groupValidator"
                         required
                         @change="onChangeGroup">
              <label class="col-form-label col-md-2">
                Grup Pengguna
              </label>
            </bs-combobox>
          </div>
          <div v-if="user.roles && user.roles.includes('ROLE_MITRA')"
               class="form-group">
            <bs-combobox v-model="user.mitraId"
                         :data-source="dsMitra"
                         :external-validator="mitraIdValidator"
                         required>
              <label class="col-form-label col-md-2">
                Nama Mitra
              </label>
            </bs-combobox>
          </div>
          <div class="form-group">
            <bs-switch v-model="user.enabled"
                       label-position="left"
                       label-class="col-md-2">
              Aktif
            </bs-switch>
          </div>
        </form>
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <bs-button color="primary" @click="doSave">
          Simpan
        </bs-button>
      </bs-card-footer>
    </bs-card>
    <bs-mask-loader :opacity="0"
                    :show="user.loading || user.updating"
                    :spinner-diameter="50" />
  </section>
</template>

<script>
import { BsStore, Helper } from "vue-bs4";
import { validationMixin } from "vuelidate";
import { UserAccountModel } from "../../../models/Security/UserAccountModel";
import { userAccountValidator, userAccountValidators } from "../../../models/Security/UserAccountValidators";
import { SAVE, STATE_SUCCESS, UPDATE } from "../../../store/modules/mutation-types";
import httpErrorResponse from "../../../mixins/httpErrorResponse";
import adminRouteGuard from "../../../mixins/security/adminRouteGuard";

export default {
    name: "FormUserAccount",
    mixins: [validationMixin, userAccountValidators('user'), adminRouteGuard, httpErrorResponse],
    data: () => ({
        user: new UserAccountModel(),
        dsGroup: {
            schema: {
                displayField: 'groupName',
                valueField: 'groupId'
            },
            proxy: new BsStore({
                idProperty: 'groupId',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    browse: '/security/group'
                }
            })
        },
        dsMitra: {
            schema: {
                displayField: 'namaLembaga',
                valueField: 'mitraId'
            },
            proxy: new BsStore({
                idProperty: 'mitraId',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    browse: '/master-data/mitra'
                }
            })
        },
        /**
         * Jika bernilai FALSE dipergunakan untuk menambah data baru,
         * dan jika bernilai TRUE dipergunakan untuk memperbarui existing data.
         *
         * @type {boolean}
         */
        isEdit: false
    }),
    computed: {
        /**
         * Check the form state.
         *
         * @return {boolean} TRUE if form state is in edit mode, otherwise FALSE
         */
        isFormUserEdit() {
            return this.isEdit;
        },
        /**
         * Conditional placeholder field password ketika data session isEdit: true (Form Edit mode).
         *
         * @return {string|null} Placeholder message for password field
         */
        showPasswordPlaceholder() {
            if (this.isEdit === true) {
                return 'Biarkan field password kosong jika tidak ingin mengubah password';
            }

            return null;
        }
    },
    validations: {
        user: userAccountValidator
    },
    mounted() {
        if (this.$route.params.id) {
            this.isEdit = true;

            this.user.fetch(this.$route.params.id).then(() => {
                this.user.groupId = this.user.group.groupId;
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$router.push('/security/members/user');
            })
        }
    },
    beforeDestroy() {
        this.dsGroup.proxy.destroy();
        this.dsGroup.proxy = null;
        this.dsGroup       = null;
        this.user.destroy();
        this.user = null;
    },
    methods: {
        /**
         * Send HTTP request untuk menambah/memperbarui data UserAccount.
         *
         * @return {void}
         */
        doSave() {
            this.$v.$touch();

            if (!this.$v.$error) {
                const text   = this.isEdit ? 'diperbarui.' : 'disimpan.';
                const action = this.isEdit ? UPDATE : SAVE;

                this.user.group        = this.user.groupId;
                this.user.mitraCompany = this.user.mitraId;

                this.user[action]().then(() => {
                    this.$notification.success('Data telah berhasil ' + text, STATE_SUCCESS);
                    this.$nextTick(() => {
                        this.$router.push('/security/members/user');
                    });
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            }
        },
        onChangeGroup(item) {
            if (Helper.isObject(item)) {
                this.user.roles = item.roles;
            } else {
                this.user.roles = [];
            }
        }
    }
}
</script>

<style scoped>

</style>
