<template>
  <form novalidate>
    <bs-card-body>
      <div class="row">
        <!-- left side -->
        <div class="col-xl-6">
          <div class="form-group">
            <bs-text-field v-model="beasiswa.namaBank"
                           required
                           :external-validator="namaBankValidator">
              <label class="col-form-label col-lg-4">
                Nama Bank
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="beasiswa.nomorRekening"
                           required
                           :external-validator="nomorRekeningValidator">
              <label class="col-form-label col-lg-4">
                Nomor Rekening
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="beasiswa.nomorCif">
              <label class="col-form-label col-lg-4">
                Nomor CIF
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="beasiswa.kartuSehat">
              <label class="col-form-label col-lg-4">
                Nomor KIS/BPJS
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="beasiswa.golonganDarah">
              <label class="col-form-label col-lg-4">
                Golongan Darah
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="beasiswa.sekolahAsal">
              <label class="col-form-label col-lg-4">
                Sekolah Asal
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-area v-model="beasiswa.alamatSekolah" rows="2">
              <label class="col-form-label col-lg-4">
                Alamat Sekolah
              </label>
            </bs-text-area>
          </div>
          <div class="row">
            <label class="col-form-label col-lg-4">
              Prestasi
            </label>
            <div class="col-lg-8">
              <div v-for="(item, idx) in beasiswa.prestasi"
                   :key="'prestasi-' + idx"
                   class="form-group">
                <bs-text-field v-model="item.text"
                               append-icon="plus-circle">
                  <font-awesome-icon slot="appendSlot"
                                     v-if="idx === 0"
                                     style="cursor: pointer"
                                     icon="plus-circle"
                                     @click="doAddRow" />
                  <font-awesome-icon slot="appendSlot"
                                     v-else
                                     icon="minus-circle"
                                     style="cursor: pointer"
                                     @click="beasiswa.prestasi.splice(idx, 1)" />
                </bs-text-field>
              </div>
            </div>
          </div>
        </div>
        <!-- right side -->
        <div class="col-xl-6">
          <div class="form-group">
            <bs-text-field v-model="orangTua.namaAyah"
                           :external-validator="namaAyahValidator"
                           required>
              <label class="col-form-label col-lg-4">
                Nama Ayah
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="orangTua.namaIbu"
                           :external-validator="namaIbuValidator"
                           required>
              <label class="col-form-label col-lg-4">
                Nama Ibu
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-area v-model="orangTua.alamat"
                          :external-validator="alamatValidator"
                          rows="2"
                          required>
              <label class="col-form-label col-lg-4">
                Alamat Tinggal
              </label>
            </bs-text-area>
          </div>
          <div class="form-group">
            <bs-combobox v-model="orangTua.provinsiId"
                         :data-source="dsCboProvinsi"
                         :external-validator="provinsiIdValidator"
                         required>
              <label class="col-form-label col-lg-4">
                Provinsi
              </label>
            </bs-combobox>
          </div>
          <div class="form-group">
            <bs-combobox v-model="orangTua.kabupatenId"
                         :data-source="dsCboKabupaten"
                         :parent-value="orangTua.provinsiId"
                         :external-validator="kabupatenIdValidator"
                         required
                         @data-bind="onBindKabupaten">
              <label class="col-form-label col-lg-4">
                Kabupaten
              </label>
            </bs-combobox>
          </div>
          <div class="form-group">
            <bs-combobox v-model="orangTua.kecamatanId"
                         :external-validator="kecamatanIdValidator"
                         :data-source="dsCboKecamatan"
                         :parent-value="orangTua.kabupatenId"
                         required
                         @data-bind="onBindKecamatan">
              <label class="col-form-label col-lg-4">
                Kecamatan
              </label>
            </bs-combobox>
          </div>
          <div class="form-group">
            <bs-combobox v-model="orangTua.kelurahanId"
                         :external-validator="kelurahanIdValidator"
                         :data-source="dsCboKelurahan"
                         :parent-value="orangTua.kecamatanId"
                         required
                         @data-bind="onBindKelurahan">
              <label class="col-form-label col-lg-4">
                Kelurahan
              </label>
            </bs-combobox>
          </div>
          <div class="row">
            <div class="col-lg-8 offset-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <bs-text-field v-model="orangTua.rtRw"
                                 :external-validator="rtRwValidator"
                                 class="form-group"
                                 prepend-icon="pen"
                                 placeholder="001/003">
                    <span slot="prependSlot" class="md-icon-text">RT/RW:</span>
                  </bs-text-field>
                </div>
                <div class="col-lg-6">
                  <bs-text-field v-model="orangTua.kodePos" prepend-icon="pen" class="form-group">
                    <span slot="prependSlot" class="md-icon-text">Kode Pos:</span>
                  </bs-text-field>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <bs-text-field v-model="orangTua.pekerjaanAyah">
              <label class="col-form-label col-lg-4">
                Pekerjaan Ayah
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="orangTua.pekerjaanIbu">
              <label class="col-form-label col-lg-4">
                Pekerjaan Ibu
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-number-field v-model="orangTua.penghasilan" :locale="getLocale" prepend-icon="pen">
              <label class="col-form-label col-lg-4">
                Penghasilan Ayah & Ibu
              </label>
              <span slot="prependSlot" class="md-icon-text">Rp.</span>
            </bs-number-field>
          </div>
        </div>
      </div>
    </bs-card-body>
    <bs-card-footer class="bg-white">
      <bs-button color="primary" @click="doSave">
        Simpan
      </bs-button>
      <bs-button color="secondary" outlined @click="doCancel">
        Batal
      </bs-button>
    </bs-card-footer>
  </form>
</template>

<script>
import { validationMixin } from "vuelidate";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { BeasiswaModel } from "../../../../../models/Beneficiary/Beasiswa/BeasiswaModel";
import { OrangTuaModel } from "../../../../../models/Beneficiary/Beasiswa/OrangTuaModel";
import {
    beasiswaStep2ValidationHandler,
    beasiswaStep2Validator,
    orangTuaValidationHandler,
    orangTuaValidator
} from "../../../../../models/Beneficiary/Beasiswa/BeasiswaStep2Validator";
import alamatValidationHandler from "../../../../../models/Beneficiary/alamatValidationHandler";
import appLocale from "../../../../../mixins/appLocale";
import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
import cascadeComboBoxWilayah from "../../../../../mixins/cascadeComboBoxWilayah";

export default {
    name: "FormBeasiswaStep2",
    components: {FontAwesomeIcon},
    mixins: [
        validationMixin, appLocale, httpErrorResponse, cascadeComboBoxWilayah,
        alamatValidationHandler('orangTua'),
        orangTuaValidationHandler('orangTua'),
        beasiswaStep2ValidationHandler('beasiswa')
    ],
    props: {
        /**
         * @property BeasiswaModel Data model peserta Beasiswa
         */
        beasiswa: {
            type: BeasiswaModel,
            default: {}
        },
        /**
         * @property OrangTuaModel Data model untuk orang tua peserta Beasiswa
         */
        orangTua: {
            type: OrangTuaModel,
            default: {}
        },
        validate: {
            type: Boolean,
            default: false
        },
        valid: {
            type: Boolean,
            default: false
        }
    },
    watch: {
        validate(value) {
            if (value === true) {
                this.doValidate();
            }
        }
    },
    validations: {
        beasiswa: beasiswaStep2Validator,
        orangTua: orangTuaValidator
    },
    methods: {
        doAddRow() {
            this.beasiswa.prestasi.push({text: ''});
        },
        /**
         * Batalkan pengisian atau penyuntingan data dan kembali ke halaman DataGrid.
         *
         * @return {void}
         */
        doCancel() {
            this.$router.push(this.$route.meta.previous);
        },
        /**
         * Fire event ``save`` if there are no validation errors.
         *
         * @return {void}
         */
        doSave() {
            this.doValidate();
            if (!this.$v.$error) {
                this.$emit('save');
            }
        },
        /**
         * Process fields validation.
         *
         * @return {void}
         */
        doValidate() {
            this.$v.$touch();
            this.$emit('update:valid', !this.$v.$error);
        },
        /**
         * Event handler when data kabupaten already loaded.
         *
         * @param {Object[]} items List Data Kabupaten
         *
         * @return {void}
         */
        onBindKabupaten(items) {
            if (items && items.length > 0 && this.orangTua.kecamatan !== null) {
                this.orangTua.kabupatenId = this.orangTua.kecamatan.kabupaten.kabupatenId;
            }
        },
        /**
         * Event handler when data kecamatan already loaded.
         *
         * @param {Object[]} items List Data Kecamatan
         *
         * @return {void}
         */
        onBindKecamatan(items) {
            if (items && items.length > 0 && this.orangTua.kecamatan !== null) {
                this.orangTua.kecamatanId = this.orangTua.kecamatan.kecamatanId;
            }
        },
        /**
         * Event handler when data kelurahan already loaded.
         *
         * @param {Object[]} items List Data kelurahan
         *
         * @return {void}
         */
        onBindKelurahan(items) {
            if (items && items.length > 0 && this.orangTua.kelurahan !== null) {
                this.orangTua.kelurahanId = this.orangTua.kelurahan.kelurahanId;
            }
        }
    }
}
</script>

<style scoped>

</style>
