<template>
    <section class="body-container">
        <bs-card shadow>
            <bs-card-body>
                <form class="pt-lg-3 px-lg-2" novalidate>
                    <div class="form-row">
                        <div class="col-lg-3 col-xl-2 font-weight-bold">
                            NAMA
                        </div>
                        <div style="width: 8px">
                            :
                        </div>
                        <div class="col">
                            {{ beasiswa.biodata.namaLengkap }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-3 col-xl-2 font-weight-bold">
                            NIK
                        </div>
                        <div style="width: 8px">
                            :
                        </div>
                        <div class="col">
                            {{ beasiswa.biodata.nik }}
                        </div>
                    </div>
                    <bs-divider class="grey-500 my-3"/>
                    <h6 class="mb-3">Indikator Keberhasilan Beasiswa</h6>
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="form-group row">
                                <label class="col-form-label col-lg-4 font-weight-bold">
                                    Semester
                                </label>
                                <div class="col-lg-8">
                                    <bs-combobox v-model="indikator.semester"
                                                 :external-validator="SemesterValidator"
                                                 :items="dsSemester"
                                                 required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-lg-4 font-weight-bold">
                                    IPK
                                </label>
                                <div class="col-lg-6">
                                    <bs-text-field v-model="indikator.abflParams.ipk"
                                                   :external-validator="IpkValidator"
                                                   v-mask="'#.##'"
                                                   required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-lg-4 font-weight-bold">
                                    Magang
                                </label>
                                <div class="col-lg-6">
                                    <bs-number-field v-model.number="indikator.abflParams.magang"
                                                     :external-validator="MagangValidator"
                                                     :locale="getLocale"
                                                     @keypress="restrictChars(e)"
                                                     :maxlength="3"
                                                     class="form-group"
                                                     required />
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8">
                            <div class="form-group row">
                                <label class="col-form-label col-lg-4 font-weight-bold">
                                    Volunteerism
                                </label>
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <bs-number-field v-model.number="indikator.abflParams.internalCsr"
                                                             :external-validator="IntVolunteerValidator"
                                                             prepend-icon="pen"
                                                             :locale="getLocale"
                                                             @keypress="restrictChars(e)"
                                                             :maxlength="3"
                                                             class="form-group"
                                                             required>
                                                <span slot="prependSlot" class="md-icon-text">Internal:</span>
                                            </bs-number-field>
                                        </div>
                                        <div class="col-lg-6">
                                            <bs-number-field v-model.number="indikator.abflParams.externalCsr"
                                                             :external-validator="ExtVolunteerValidator"
                                                             prepend-icon="pen"
                                                             :locale="getLocale"
                                                             @keypress="restrictChars(e)"
                                                             :maxlength="3"
                                                             class="form-group"
                                                             required>
                                                <span slot="prependSlot" class="md-icon-text">Eksternal:</span>
                                            </bs-number-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-lg-4 font-weight-bold">
                                    Keaktifan Organisasi
                                </label>
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <bs-number-field v-model.number="indikator.abflParams.internalKampus"
                                                             :external-validator="IntOrganisasiValidator"
                                                             prepend-icon="pen"
                                                             :locale="getLocale"
                                                             @keypress="restrictChars(e)"
                                                             :maxlength="3"
                                                             class="form-group"
                                                             required>
                                                <span slot="prependSlot" class="md-icon-text">Internal:</span>
                                            </bs-number-field>
                                        </div>
                                        <div class="col-lg-6">
                                            <bs-number-field v-model.number="indikator.abflParams.externalKampus"
                                                             :external-validator="ExtOrganisasiValidator"
                                                             prepend-icon="pen"
                                                             :locale="getLocale"
                                                             @keypress="restrictChars(e)"
                                                             :maxlength="3"
                                                             class="form-group"
                                                             required>
                                                <span slot="prependSlot" class="md-icon-text">Eksternal:</span>
                                            </bs-number-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-lg-4 font-weight-bold">
                                    Prestasi Non Akademik
                                </label>
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <bs-number-field v-model.number="indikator.abflParams.internalKom"
                                                             :external-validator="IntPrestasiValidator"
                                                             prepend-icon="pen"
                                                             :locale="getLocale"
                                                             @keypress="restrictChars(e)"
                                                             :maxlength="3"
                                                             class="form-group"
                                                             required>
                                                <span slot="prependSlot" class="md-icon-text">Internal:</span>
                                            </bs-number-field>
                                        </div>
                                        <div class="col-lg-6">
                                            <bs-number-field v-model.number="indikator.abflParams.externalKom"
                                                             :external-validator="ExtPrestasiValidator"
                                                             prepend-icon="pen"
                                                             :locale="getLocale"
                                                             @keypress="restrictChars(e)"
                                                             :maxlength="3"
                                                             class="form-group"
                                                             required>
                                                <span slot="prependSlot" class="md-icon-text">Eksternal:</span>
                                            </bs-number-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </bs-card-body>
            <bs-card-footer class="bg-white">
                <bs-button color="primary" @click="doSave">
                    Simpan
                </bs-button>
                <bs-button color="secondary" outlined @click="doCancel">
                    Batal
                </bs-button>
            </bs-card-footer>
            <bs-mask-loader :opacity="0"
                            :show="loaded || indikator.loading || indikator.updating || program.loading || beasiswa.loading"
                            :spinner-diameter="50"/>
        </bs-card>
    </section>
</template>

<script>
    import appLocale from "../../../../../mixins/appLocale";
    import formatUtils from "../../../../../mixins/formatUtils";
    import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
    import editorRouteGuard from "../../../../../mixins/security/editorRouteGuard";
    import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";
    import {validationMixin} from "vuelidate";
    import {mask} from 'vue-the-mask';
    import {
        MSG_SAVE_SUCCESS,
        MSG_UPDATE_SUCCESS, SAVE,
        STATE_SUCCESS,
        UPDATE
    } from "../../../../../store/modules/mutation-types";
    import {BeasiswaModel} from "../../../../../models/Beneficiary/Beasiswa/BeasiswaModel";
    import {IndikatorKpiModel} from "../../../../../models/Kegiatan/IndikatorKpiModel";
    import {AbflKpiValidationHandler, AbflKpiValidator} from "../../../../../models/Kegiatan/AbflKpiValidator";
    import DanaBatchModel from "../../../../../models/Pendanaan/DanaBatchModel";

    export default {
        name: "FormKpi",
        directives: {mask},
        mixins: [
            appLocale, editorRouteGuard, formatUtils, httpErrorResponse,
            mapStoreKegiatanBeneficiary, validationMixin, AbflKpiValidationHandler('indikator')
        ],
        data() {
            return {
                program: new DanaBatchModel(),
                indikator: new IndikatorKpiModel(),
                beasiswa: new BeasiswaModel(),
                dsSemester: ['I','II'],
                loaded: false,
                isEditMode: false
            }
        },
        validations: {
            indikator: AbflKpiValidator
        },
        created() {
            if (this.$route.params.id) {
                this.isEditMode = true;
                this.fetchData(this.$route.params.id);
            }

            if (this.$route.params.idprogram) {
                this.fetchProgram(this.$route.params.idprogram);
            }

            if (this.$route.params.uid) {
                this.fetchBeasiswa(this.$route.params.uid);
            }
        },
        beforeDestroy() {
            this.indikator.destroy();
            this.indikator = null;

            this.program.destroy();
            this.program = null;

            this.beasiswa.destroy();
            this.beasiswa = null;
        },
        methods: {
            restrictChars(evt) {
                evt = (evt) ? evt : window.event;
                let charCode = (evt.which) ? evt.which : evt.keyCode;
                if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                    evt.preventDefault();
                } else {
                    return true;
                }
            },
            /**
             * Send request insert/update data to server.
             *
             * @return {void}
             */
            doSave() {
                this.$v.$touch();

                if (!this.$v.$error) {
                    const text = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                    const action = this.isEditMode ? UPDATE : SAVE;

                    this.indikator.abfl = this.beasiswa.beasiswaId;
                    this.indikator.periodeBatch = this.program.batchId;
                    this.indikator.tahun = this.program.tahun;

                    this.indikator[action]().then(() => {
                        this.$notification.success('Data KPI ' + this.beasiswa.biodata.namaLengkap + text, STATE_SUCCESS);
                        this.$nextTick(() => {
                            this.$router.push('/kegiatan/penerima-manfaat/' + this.$route.params.idprogram + '/beasiswa/view/' + this.$route.params.uid);
                        });
                    }).catch((error) => {
                        this.showErrorMessage(error);
                    });
                }
            },
            /**
             * Batalkan pengisian atau penyuntingan data dan kembali ke halaman DataGrid.
             *
             * @return {void}
             */
            doCancel() {
                this.$router.push(this.$route.meta.previous);
            },
            /**
             * Fetch data program Dana Batch tahunan.
             *
             * @param {int|string} id    Program ID
             * @return {void}
             */
            fetchProgram(id) {
                this.program.fetch(id).catch((error) => {
                    this.showErrorMessage(error);
                    this.$nextTick(() => {
                        this.$router.push(this.$route.meta.previous);
                    });
                });
            },
            /**
             * Fetch data beasiswa.
             *
             * @param {int|string} id  beasiswa ID
             * @return {void}
             */
            fetchBeasiswa(id) {
                this.beasiswa.fetch(id).catch((error) => {
                    this.showErrorMessage(error);
                    this.$nextTick(() => {
                        this.$router.push(this.$route.meta.previous);
                    });
                });
            },
            /**
             * Fetch data from remote server.
             *
             * @param {Number|String} id bid
             * @return {void}
             */
            fetchData(id) {
                this.indikator.fetch(id).catch((error) => {
                    this.showErrorMessage(error);
                    this.$nextTick(() => {
                        this.$router.push(this.$route.meta.previous);
                    });
                });
            }
        }
    }
</script>

<style scoped>

</style>
