<template>
  <form novalidate>
    <bs-card-body>
      <div class="row">
        <!-- left side -->
        <div class="col-xl-6">
          <div class="form-group">
            <bs-combobox :data-source="comboFakultas"
                         required
                         :external-validator="fakultasIdValidator"
                         v-model="beasiswa.fakultasId">
              <label class="col-form-label col-lg-4">
                Fakultas
              </label>
            </bs-combobox>
          </div>
          <div class="form-group">
            <bs-combobox :data-source="comboProgramStudi"
                         required
                         :external-validator="jurusanIdValidator"
                         v-model="beasiswa.jurusanId">
              <label class="col-form-label col-lg-4">
                Program Studi
              </label>
            </bs-combobox>
          </div>
          <div class="form-group">
            <bs-text-field v-model="biodata.namaLengkap"
                           required
                           :external-validator="namaLengkapValidator">
              <label class="col-form-label col-lg-4">
                Nama Lengkap
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="beasiswa.nim" :external-validator="nimValidator" required>
              <label class="col-form-label col-lg-4">
                NIM
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="biodata.nik" :external-validator="nikValidator" required>
              <label class="col-form-label col-lg-4">
                NIK
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-date-time-field v-model="beasiswa.tahunMasuk"
                                format="YYYY"
                                view-mode="year"
                                append-icon="calendar">
              <label class="col-form-label col-lg-4">
                Tahun Masuk
              </label>
            </bs-date-time-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="beasiswa.jalurMasuk">
              <label class="col-form-label col-lg-4">
                Jalur Masuk
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="biodata.phone">
              <label class="col-form-label col-lg-4">
                Nomor HP/Telp.
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="biodata.email" :external-validator="emailValidator">
              <label class="col-form-label col-lg-4">
                Alamat Email
              </label>
            </bs-text-field>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <label class="col-form-label">
                Media Sosial
              </label>
            </div>
            <div class="col-lg-8">
              <div class="form-group">
                <bs-text-field v-model="biodata.facebook" prepend-icon="pen">
                  <span slot="prependSlot" class="md-icon-text">Facebook: </span>
                </bs-text-field>
              </div>
              <div class="form-group">
                <bs-text-field v-model="biodata.instagram" prepend-icon="pen">
                  <span slot="prependSlot" class="md-icon-text">Instagram: </span>
                </bs-text-field>
              </div>
            </div>
          </div>
        </div>
        <!-- right side -->
        <div class="col-xl-6">
          <div class="form-group">
            <bs-text-field v-model="biodata.tempatLahir"
                           :external-validator="tempatLahirValidator"
                           required>
              <label class="col-form-label col-lg-4">
                Tempat Lahir
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-date-time-field v-model="biodata.tanggalLahir"
                                append-icon="calendar"
                                required
                                format="YYYY-MM-DD"
                                display-format="DD MMMM YYYY"
                                :locale="getLocale"
                                :external-validator="tanggalLahirValidator">
              <label class="col-form-label col-lg-4">
                Tanggal Lahir
              </label>
            </bs-date-time-field>
          </div>
          <div class="form-group">
            <bs-button-toggle-field color="default"
                                    toggle-color="teal"
                                    size="sm"
                                    outlined
                                    required
                                    v-model="biodata.jenisKelamin"
                                    :items="jenisKelamin"
                                    :external-validator="jenisKelaminValidator">
              <label class="col-form-label col-lg-4">
                Jenis kelamin
              </label>
            </bs-button-toggle-field>
          </div>
          <div class="form-group">
            <bs-text-area rows="2"
                          v-model="biodata.alamat"
                          required
                          :external-validator="alamatValidator">
              <label class="col-form-label col-lg-4">
                Alamat Tinggal
              </label>
            </bs-text-area>
          </div>
          <div class="form-group">
            <bs-combobox :data-source="dsCboProvinsi"
                         v-model="biodata.provinsiId"
                         required
                         :external-validator="provinsiIdValidator">
              <label class="col-form-label col-lg-4">
                Provinsi
              </label>
            </bs-combobox>
          </div>
          <div class="form-group">
            <bs-combobox :data-source="dsCboKabupaten"
                         v-model="biodata.kabupatenId"
                         required
                         :parent-value="biodata.provinsiId"
                         :external-validator="kabupatenIdValidator"
                         @data-bind="onBindKabupaten">
              <label class="col-form-label col-lg-4">
                Kabupaten
              </label>
            </bs-combobox>
          </div>
          <div class="form-group">
            <bs-combobox :data-source="dsCboKecamatan"
                         v-model="biodata.kecamatanId"
                         required
                         :parent-value="biodata.kabupatenId"
                         :external-validator="kecamatanIdValidator"
                         @data-bind="onBindKecamatan">
              <label class="col-form-label col-lg-4">
                Kecamatan
              </label>
            </bs-combobox>
          </div>
          <div class="form-group">
            <bs-combobox :data-source="dsCboKelurahan"
                         v-model="biodata.kelurahanId"
                         required
                         :parent-value="biodata.kecamatanId"
                         :external-validator="kelurahanIdValidator"
                         @data-bind="onBindKelurahan">
              <label class="col-form-label col-lg-4">
                Kelurahan
              </label>
            </bs-combobox>
          </div>
          <div class="row">
            <div class="col-lg-8 offset-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <bs-text-field v-model="biodata.rtRw"
                                 :external-validator="rtRwValidator"
                                 class="form-group"
                                 prepend-icon="pen"
                                 placeholder="001/003">
                    <span slot="prependSlot" class="md-icon-text">RT/RW:</span>
                  </bs-text-field>
                </div>
                <div class="col-lg-6">
                  <bs-text-field v-model="biodata.kodePos"
                                 prepend-icon="pen"
                                 class="form-group">
                    <span slot="prependSlot" class="md-icon-text">Kode Pos:</span>
                  </bs-text-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </bs-card-body>
    <bs-card-footer class="bg-white">
      <bs-button color="primary" @click="doValidate">
        Lanjut
      </bs-button>
      <bs-button color="secondary" outlined @click="doCancel">
        Batal
      </bs-button>
    </bs-card-footer>
  </form>
</template>

<script>
import { BsStore } from "vue-bs4";
import { validationMixin } from "vuelidate";
import { BeasiswaModel } from "../../../../../models/Beneficiary/Beasiswa/BeasiswaModel";
import { IndividuModel } from "../../../../../models/Beneficiary/IndividuModel";
import {
    beasiswaBiodataValidator,
    beasiswaStep1ValidationHandler,
    beasiswaStep1Validator
} from "../../../../../models/Beneficiary/Beasiswa/BeasiswaStep1Validator";
import alamatValidationHandler from "../../../../../models/Beneficiary/alamatValidationHandler";
import personValidationHandler from "../../../../../models/Beneficiary/personValidationHandler";
import appLocale from "../../../../../mixins/appLocale";
import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
import cascadeComboBoxWilayah from "../../../../../mixins/cascadeComboBoxWilayah";

export default {
    name: "FormBeasiswaStep1",
    mixins: [
        validationMixin, appLocale, httpErrorResponse, cascadeComboBoxWilayah,
        alamatValidationHandler('biodata'),
        personValidationHandler('biodata'),
        beasiswaStep1ValidationHandler('beasiswa')
    ],
    props: {
        /**
         * @property BeasiswaModel Data model peserta Beasiswa
         */
        beasiswa: {
            type: BeasiswaModel,
            default: {}
        },
        /**
         * @property IndividuModel Data model penerima manfaat Individu
         */
        biodata: {
            type: IndividuModel,
            default: {}
        },
        validate: {
            type: Boolean,
            default: false
        },
        valid: {
            type: Boolean,
            default: false
        }
    },
    data: () => ({
        jenisKelamin: [
            {label: 'Laki-laki', value: 'L'},
            {label: 'Perempuan', value: 'P'}
        ],
        /**
         * DataSource Fakultas untuk comboBox
         **/
        comboFakultas: {
            schema: {
                displayField: 'name',
                valueField: 'id'
            },
            proxy: new BsStore({
                idProperty: 'id',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    browse: '/service/list/reference/fakultas'
                }
            })
        },
        /**
         * DataSource Program Studi untuk comboBox
         **/
        comboProgramStudi: {
            schema: {
                displayField: 'name',
                valueField: 'id'
            },
            proxy: new BsStore({
                idProperty: 'id',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    browse: '/service/list/reference/jurusan'
                }
            })
        }
    }),
    watch: {
        validate(value) {
            if (value === true) {
                this.doValidate();
            }
        }
    },
    validations: {
        beasiswa: beasiswaStep1Validator,
        biodata: beasiswaBiodataValidator
    },
    beforeDestroy() {
        this.jenisKelamin = null;

        this.comboFakultas.proxy.destroy();
        this.comboFakultas.proxy = null;
        this.comboFakultas       = null;

        this.comboProgramStudi.proxy.destroy();
        this.comboProgramStudi.proxy = null;
        this.comboProgramStudi       = null;
    },
    methods: {
        /**
         * Batalkan pengisian atau penyuntingan data dan kembali ke halaman DataGrid.
         *
         * @return {void}
         */
        doCancel() {
            this.$router.push(this.$route.meta.previous);
        },
        /**
         * Process fields validation.
         *
         * @return {void}
         */
        doValidate() {
            this.$v.$touch();
            this.$emit('update:valid', !this.$v.$error);
        },
        /**
         * Event handler when data kabupaten already loaded.
         *
         * @param {Object[]} items List Data Kabupaten
         *
         * @return {void}
         */
        onBindKabupaten(items) {
            if (items && items.length > 0 && this.biodata.kecamatan !== null) {
                this.biodata.kabupatenId = this.biodata.kecamatan.kabupaten.kabupatenId;
            }
        },
        /**
         * Event handler when data kecamatan already loaded.
         *
         * @param {Object[]} items List Data Kecamatan
         *
         * @return {void}
         */
        onBindKecamatan(items) {
            if (items && items.length > 0 && this.biodata.kecamatan !== null) {
                this.biodata.kecamatanId = this.biodata.kecamatan.kecamatanId;
            }
        },
        /**
         * Event handler when data kelurahan already loaded.
         *
         * @param {Object[]} items List Data Kelurahan
         *
         * @return {void}
         */
        onBindKelurahan(items) {
            if (items && items.length > 0 && this.biodata.kelurahan !== null) {
                this.biodata.kelurahanId = this.biodata.kelurahan.kelurahanId;
            }
        }
    }
}
</script>

<style scoped>

</style>
