<template>
  <section class="body-container">
    <bs-card shadow>
      <bs-card-header>
        <bs-tabs v-model="activeTab"
                 ref="tabpane"
                 variant="pills"
                 align="justified"
                 flex>
          <bs-tab label="Data Umum" active-class="bg-teal text-white" />
          <bs-tab label="Data Lainnya" active-class="bg-teal text-white" />
        </bs-tabs>
      </bs-card-header>
      <bs-tab-content v-model="activeTab">
        <bs-tab-pane>
          <form-beasiswa-step1 :beasiswa="beasiswa"
                               :biodata="biodata"
                               :validate="step1Validate"
                               :valid="step1Valid"
                               @update:valid="setStep1Validation" />
        </bs-tab-pane>
        <bs-tab-pane>
          <form-beasiswa-step2 :beasiswa="beasiswa"
                               :orang-tua="orangTua"
                               :validate="step2Validate"
                               :valid="step2Valid"
                               @update:valid="setStep2Validation"
                               @save="doSaveBeasiswa" />
        </bs-tab-pane>
      </bs-tab-content>
    </bs-card>
    <bs-mask-loader :opacity="0"
                    :show="beasiswa.loading || beasiswa.updating"
                    :spinner-diameter="50" />
  </section>
</template>

<script>
import FormBeasiswaStep1 from "./FormBeasiswaStep1";
import FormBeasiswaStep2 from "./FormBeasiswaStep2";
import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";
import { IndividuModel } from "../../../../../models/Beneficiary/IndividuModel";
import { BeasiswaModel } from "../../../../../models/Beneficiary/Beasiswa/BeasiswaModel";
import { OrangTuaModel } from "../../../../../models/Beneficiary/Beasiswa/OrangTuaModel";
import {
    MSG_SAVE_SUCCESS,
    MSG_UPDATE_SUCCESS,
    SAVE,
    STATE_SUCCESS,
    UPDATE
} from "../../../../../store/modules/mutation-types";
import { GET_ACTIVE_PROGRAM } from "../../../../../store/modules/Kegiatan/mutation-types";
import { Helper } from "vue-bs4";
import editorRouteGuard from "../../../../../mixins/security/editorRouteGuard";

export default {
    name: "MainFormBeasiswa",
    components: {FormBeasiswaStep1, FormBeasiswaStep2},
    mixins: [mapStoreKegiatanBeneficiary, editorRouteGuard, httpErrorResponse],
    data: () => ({
        beasiswa: new BeasiswaModel(),
        biodata: new IndividuModel(),
        orangTua: new OrangTuaModel(),
        isEditMode: false,
        step1Valid: true,
        step2Valid: true,
        step1Validate: false,
        step2Validate: false,
        tabIndex: 0
    }),
    computed: {
        activeTab: {
            get() {
                return this.tabIndex;
            },
            set(value) {
                if (value !== this.tabIndex && this.tabIndex === 0) {
                    this.step1Validate = true;
                    this.$nextTick(() => {
                        if (this.step1Valid) {
                            this.tabIndex = value;
                            this.$refs.tabpane.setActiveTab(1);
                        } else {
                            this.$refs.tabpane.setActiveTab(0);
                        }
                    });
                } else if (value !== this.tabIndex && this.tabIndex === 1) {
                    this.step2Validate = true;
                    this.$nextTick(() => {
                        if (this.step2Valid) {
                            this.tabIndex = value;
                            this.$refs.tabpane.setActiveTab(0);
                        } else {
                            this.$refs.tabpane.setActiveTab(1);
                        }
                    });
                }
            }
        }
    },
    created() {
        if (!this.hasEditorAccessRights) {
            this.$router.push('/access-denied');
            return;
        }
        const id        = this.$route.params.id;
        const idprogram = this.$route.params.idprogram;

        // Check data model state and initialize its data if needed
        if (this[GET_ACTIVE_PROGRAM] === null) {
            this.fetchDpt(idprogram);
        }
        if (id) {
            this.isEditMode          = true;
            this.beasiswa.beasiswaId = id;

            this.beasiswa.fetch().then(() => {
                this.biodata.assignValues(this.beasiswa.biodata);
                this.orangTua.assignValues(this.beasiswa.orangTua);
                this.beasiswa.fakultasId = this.beasiswa.fakultas.id;
                this.beasiswa.jurusanId  = this.beasiswa.jurusan.id;
                this.biodata.provinsiId  = this.biodata.kecamatan.kabupaten.provinsi.provinsiId;
                this.orangTua.provinsiId = this.orangTua.kecamatan.kabupaten.provinsi.provinsiId;
                if (Helper.isEmpty(this.beasiswa.prestasi)) {
                    this.beasiswa.prestasi = [{text: ''}];
                }
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/beasiswa');
                });
            })
        }
        if (!this.isEditMode){
          this.biodata.status = 'NEW';
          this.biodata.statusVerifikasi = 0;
        }

    },
    beforeDestroy() {
        this.beasiswa.destroy();
        this.beasiswa = null;
        this.biodata.destroy();
        this.biodata = null;
        this.orangTua.destroy();
        this.orangTua = null;
    },
    methods: {
        /**
         * Send request INSERT/UPDATE to the remote server.
         *
         * @return {void}
         */
        doSaveBeasiswa() {
            if (this.step1Valid === true && this.step2Valid === true) {
                const text   = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                const action = this.isEditMode ? UPDATE : SAVE;

                if (Helper.isArray(this.biodata.programs) && this.biodata.programs.length > 0) {
                    let programs = [];

                    this.biodata.programs.forEach(el => {
                        if (!Helper.isEmpty(el.id)) {
                            programs.push(el.id);
                        }
                    });
                    if (!programs.includes(this[GET_ACTIVE_PROGRAM])) {
                        programs.push(this[GET_ACTIVE_PROGRAM]);
                    }
                    this.biodata.programs = programs;
                } else {
                    this.biodata.programs = [this[GET_ACTIVE_PROGRAM]];
                }

                this.biodata.kategori   = 3;
                this.biodata.kecamatan  = this.biodata.kecamatanId;
                this.biodata.kelurahan  = this.biodata.kelurahanId;
                this.orangTua.kecamatan = this.orangTua.kecamatanId;
                this.orangTua.kelurahan = this.orangTua.kelurahanId;
                this.beasiswa.fakultas  = this.beasiswa.fakultasId;
                this.beasiswa.jurusan   = this.beasiswa.jurusanId;
                this.beasiswa.orangTua  = this.orangTua.toJSON();
                this.beasiswa.biodata   = this.biodata.toJSON();
                delete this.beasiswa.biodata[this.biodata.getIdProperty()];

                this.beasiswa[action]().then(() => {
                    this.$notification.success('Data ' + this.biodata.namaLengkap + text, STATE_SUCCESS);
                    this.$nextTick(() => {
                        this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/beasiswa');
                    });
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            }
        },
        /**
         * Handle update validation status from Step-1.
         *
         * @param {boolean} value status validation from step-1
         *
         * @return {void}
         */
        setStep1Validation(value) {
            this.step1Valid = value;
            if (value === true) {
                this.$refs.tabpane.setActiveTab(1);
            }
        },
        /**
         * Handle update validation status from Step-2.
         *
         * @param {boolean} value status validation from step-2
         *
         * @return {void}
         */
        setStep2Validation(value) {
            this.step2Valid = value;
        }
    }
}
</script>

<style scoped>

</style>
