{% extends 'emails/layout.html.twig' %}

{% block head_title %}{{ page_title }}{% endblock %}

{% block body %}
  <table class="container" border="0" cellpadding="0" cellspacing="0" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; font-size: 12pt; width: 768px; mso-table-lspace: 0; mso-table-rspace: 0; border-spacing: 0; border-collapse: collapse; table-layout: fixed; margin: 0 auto; padding: 0;" width="768">
    <tbody style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
      <tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
        <td class="content" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding: 24px 18px 6px 20px; mso-table-lspace: 0; mso-table-rspace: 0;">
          <p style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; margin: 8px 0;">
            <strong style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">Yth. Bpk/Ibu/Sdr/Sdri {{ user.fullName }}</strong>
          </p>
          <br style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
          <p style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; margin: 8px 0;">
            Anda menerima email ini karena seseorang telah mengirimkan permintaan perubahan kata sandi untuk akun
            <strong style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">{{ user.username }}</strong>. Jika bukan anda yang melakukan, mohon abaikan email ini.
          </p>
          <p style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; margin: 8px 0; text-align: justify;">
            Sekiranya anda memang kesulitan untuk masuk ke aplikasi Adaro CSRMS karena lupa kata sandi,
            silakan klik tombol dibawah ini untuk membuat kata sandi baru.
          </p>
          <p style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; margin: 8px 0;">&nbsp;</p>
          <p class="text-center" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; margin: 8px 0; text-align: center;">
            <a href="{{ url('app_user_forgotpassword_changepassword', {'tokenKey': token.id, 'tokenValue': token.value}) }}" class="link-button" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background-color: #376449; color: #fff; text-decoration: none; padding: .5rem 1rem; border-radius: .3rem;">
              Ganti Kata Sandi
            </a>
          </p>
          <p style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; margin: 8px 0;">&nbsp;</p>
          <p style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; margin: 8px 0;">
            Link di atas berlaku selama {{ duration }} menit sejak email ini dikirimkan.
          </p>
          <p style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; margin: 8px 0;">
            Tertanda,<br style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
            Admin CSRMS
          </p>
        </td>
      </tr>
      <tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
        <td class="content-footer" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding: 8px 0 6px 0; border-top: 3px solid #bbb; mso-table-lspace: 0; mso-table-rspace: 0;">
          <table class="footer" border="0" cellspacing="0" cellpadding="0" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; font-size: 12pt; width: 100%; mso-table-lspace: 0; mso-table-rspace: 0; border-spacing: 0; border-collapse: collapse; table-layout: fixed; margin: 0 auto; padding: 0;" width="100%">
            <tbody style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
              <tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
                <td style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #999; font-size: 10pt; padding: 2px 18px; mso-table-lspace: 0; mso-table-rspace: 0;">Email ini dikirim otomatis oleh sistem dan mohon untuk tidak membalas email ini.</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
{% endblock %}
