<template>
    <div>
        <bs-tabs v-model="activeTab" variant="material" color="nav-page">
            <bs-tab :path="url('foto')" label="Foto/Video"/>
            <bs-tab :path="url('dokumen')" label="Dokumen Pendukung"/>
        </bs-tabs>
        <router-view/>
    </div>
</template>

<script>
    export default {
        name: "DokumentasiView",
        data: () => ({
            activeTab: null
        }),
        methods: {
            url(value) {
                return '/kegiatan/pengelolaan/' + this.$route.params.id + '/dokumentasi/' + this.$route.params.sid + '/' + value;
            }
        }
    }
</script>

<style scoped>

</style>
