<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div class="body-container">
        <bs-card shadow>
            <bs-card-body>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-group">
                            <bs-text-field :value="namaSubKegiatan" readonly>
                                <label class="col-form-label col-lg-3 font-weight-bold">
                                    SUB KEGIATAN
                                </label>
                            </bs-text-field>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-group">
                            <bs-text-field :value="namaAccount" readonly>
                                <label class="col-form-label col-lg-3 font-weight-bold">
                                    ACCOUNT
                                </label>
                            </bs-text-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-row mb-2" x-ms-format-detection="none">
                            <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                                ANGGARAN
                            </label>
                            <label class="col-md-9 h5 text-md-right text-lg-left">
                                Rp. {{ moneyFormat(totalAnggaran) }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-row mb-2" x-ms-format-detection="none">
                            <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                                SISA ANGGARAN
                            </label>
                            <label class="col-md-9 h5 text-md-right text-lg-left">
                                Rp. {{ moneyFormat(sisaAnggaran) }}
                            </label>
                        </div>
                    </div>
                </div>
            </bs-card-body>

        </bs-card>

        <bs-card shadow style="margin-top: 10px;">
            <bs-card-header>DAFTAR RIWAYAT REALISASI</bs-card-header>
            <!-- START GRID DATA RENCANA -->
            <bs-grid :data-source="dataSource"
                        :borderless="false"
                        :flip-on-small-screen="false"
                        ref="historyrealisasi"
                        sortable
                        row-hover
                        pageable>
                <bs-grid-column label="#" width="50" row-numbering />
                <bs-grid-column label="Tindakan" width="100" />
                <bs-grid-column field="postedBy.fullName" label="Dibuat Oleh" min-width="150"/>
                <bs-grid-column field="postedDate" label="Tanggal" width="250"/>
                <bs-grid-column field="realisasi"
                                label="Jumlah Realisasi (Rp)"
                                width="250"
                                text-align="right"
                                :formatter="moneyFormat" />
                <bs-grid-column field="status" label="Status" width="150"/>

                 <template v-slot:datarow="{ columns, item, index }">
                    <bs-grid-cell-numbering :column="columns[0]" :index="index" />
                    <bs-grid-cell :column="columns[1]" :item="item">
                        <bs-button v-tooltip="{content:'Sunting Data', placement:'top'}"
                            v-if="showAction(item)"
                            key="history_realisasi_edit"
                            color="primary"
                            icon="pen"
                            icon-position="left"
                            size="xs"
                            outlined
                            v-on:click="showFormUpdateRealisasi(item)"/>
                        <bs-button v-tooltip="{content:'Hapus Data', placement:'top'}"
                            v-if="showAction(item)"
                            color="danger"
                            icon="trash-alt"
                            icon-position="left"
                            size="xs"
                            outlined
                            v-on:click="showDeleteMessage(item)" />
                    </bs-grid-cell>
                    <bs-grid-cell :column="columns[2]" :item="item" />
                    <bs-grid-cell :column="columns[3]" :item="item">
                        {{ dateFormat(item.realisasiDate, 'dddd, DD MMMM YYYY') }}
                    </bs-grid-cell>
                    <bs-grid-cell :column="columns[4]" :item="item" />
                    <bs-grid-cell :column="columns[5]" :item="item">
                        <bs-badge v-if="item.status === 'REALISASI_CREATED'" variant="warning">BELUM SUBMIT</bs-badge>
                        <bs-badge v-if="item.status === 'REALISASI_SUBMITTED'" variant="info">SUBMITTED</bs-badge>
                        <bs-badge v-if="item.status === 'REALISASI_REJECTED'" variant="danger" v-tooltip="{content:item.keterangan, placement:'top'}">REJECTED</bs-badge>
                        <bs-badge v-if="item.status === 'REALISASI_VERIFIED'" variant="success">VERIFIED</bs-badge>
                    </bs-grid-cell>
                 </template>
            </bs-grid>
        </bs-card>

        <bs-modal
            :esc-close="false"
            :open.sync="openModalUpdate"
            :overlay-close="false"
            max-width="80%"
            title="Ubah Jumlah Realisasi"
            width="450">

            <div class="row">
                <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
                    Realisasi
                </label>
                <div class="col-lg-9 col-xl-10">
                    <div class="row">
                        <div class="col-lg-12">
                            <bs-number-field
                                class="form-group"
                                control-cls="text-right"
                                v-model="realisasiAmount"
                                flat>
                                <span
                                    slot="prependSlot"
                                    class="md-icon-text">
                                    Rp.
                                </span>
                            </bs-number-field>
                        </div>
                    </div>
                </div>
            </div>

            <template v-slot:footer="">
                <bs-button color="secondary" outlined v-on:click="showModalRealisasiUpdate = false">Batal</bs-button>
                <bs-button color="primary" v-on:click="onUpdateRealisasi">Simpan</bs-button>
            </template>
        </bs-modal>

        <bs-modal
            :esc-close="false"
            :open.sync="showModalDelete"
            :overlay-close="false"
            max-width="90%"
            title="Konfirmasi"
            width="450">
            Apakah anda yakin akan menghapus riwayat realisasi ini?
            <template v-slot:footer="">
                <bs-button color="secondary" outlined v-on:click="showModalDelete = false">Batal</bs-button>
                <bs-button color="danger" v-on:click="onDeleteHistory">Hapus</bs-button>
            </template>
        </bs-modal>

    </div>
</template>

<script>
    import { sumBy } from "lodash";
    import { BsStore} from "vue-bs4";
    import appLocale from "../../../../mixins/appLocale";
    import formatUtils from "../../../../mixins/formatUtils";
    import httpErrorResponse from "../../../../mixins/httpErrorResponse";
    import defaultRouteGuard from "../../../../mixins/security/defaultRouteGuard";
    import mapStorePengelolaanKegiatan from "../../../../mixins/kegiatan/mapStorePengelolaanKegiatan";
    import { STATE_SUCCESS, STATE_ERROR } from "../../../../store/modules/mutation-types";
    import Helper from "vue-bs4/src/utils/Helper";

    export default {
        name: "GridRealisasiRab",
        mixins: [appLocale, formatUtils, httpErrorResponse, defaultRouteGuard, mapStorePengelolaanKegiatan],
        data: () => ({
            dataSource: null,
            itemRealisasi: {},
            loaded: false,
            updating: false,
            namaSubKegiatan: null,
            namaAccount: null,
            totalAnggaran: 0,
            totalRealisasi: 0,
            sisaAnggaran: 0,
            showModalRealisasiUpdate: false,
            showModalDelete: false,
            realisasiAmount: 0,
            realisasiObject: {}

        }),
        computed: {
            openModalUpdate: {
                get() {
                    return this.showModalRealisasiUpdate;
                },
                set(value) {
                    this.$emit('update:showModalRealisasiUpdate', value);
                }
            }
        },

        // class method collection
        methods: {
            showAction($item) {
                return ($item.status === 'REALISASI_CREATED' || $item.status === 'REALISASI_REJECTED');
            },
            /**
             * show modal update realisasi
             */
            showFormUpdateRealisasi(item) {
                this.realisasiAmount = item.realisasi;
                this.showModalRealisasiUpdate = true;

                this.realisasiObject.id = item.id;
                this.realisasiObject.realisasi = item.realisasi;
            },

            /**
             * show modal delete realisasi
             */
            showDeleteMessage(item) {
                this.showModalDelete = true;
                this.realisasiObject.id = item.id;
            },

            /**
             * update realisasi amount
             */
            onUpdateRealisasi() {
                let $url = '/kegiatan/pengelolaan/item-realisasi/update-history-realisasi';

                this.realisasiObject.newAmount = this.realisasiAmount;
                this.realisasiObject.idKegiatan = this.idKegiatan;
                this.$http.post($url, this.realisasiObject).then($response => {
                    let $resp = $response.data;
                    if ($resp.success) {
                        this.$notification.success('Riwayat realisasi berhasil diperbarui', STATE_SUCCESS);
                        this.$refs.historyrealisasi.reload();
                    } else {
                        this.$notification.success('Pembaruan riwayat realisasi gagal!', STATE_ERROR);
                    }
                });

                this.showModalRealisasiUpdate = false;
            },

            /**
             * delete history realisasi item
             */
            onDeleteHistory() {
                let $url = '/kegiatan/pengelolaan/item-realisasi/delete-history-realisasi';

                this.$http.post($url, this.realisasiObject).then($response => {
                    let $resp = $response.data;
                    if ($resp.success) {
                        this.$notification.success('Riwayat realisasi telah dihapus', STATE_SUCCESS);
                        this.$refs.historyrealisasi.reload();
                    } else {
                        this.$notification.success('Hapus riwayat realisasi gagal!', STATE_ERROR);
                    }
                });

                this.showModalDelete = false;
            },

            /**
             * load data riwayat realisasi
             */
            loadRiwayatRealisasi() {
                let $idRab = this.$route.params.rabId;
                return new BsStore({
                    restUrl: {
                        browse: '/kegiatan/pengelolaan/item-realisasi/view-realisasi/' + $idRab,
                        idProperty: 'id',
                        dataProperty: 'data',
                        totalProperty: 'total'
                    }
                })
            },

            /**
             * load data kegiatan rab
             */
            loadDataRab() {
                let $idRab = this.$route.params.rabId;
                this.$http.get('/kegiatan/pengelolaan/item-realisasi/get-data-rab/' + $idRab).then($response => {
                    let $resp = $response.data;

                    if (!Helper.isEmpty($resp.data)) {
                        this.namaSubKegiatan = $resp.data.sub_kegiatan_title;
                        this.idKegiatan = $resp.data.kegiatan_id;
                        this.namaAccount = $resp.data.account_name;
                        this.totalAnggaran = $resp.data.anggaran;
                        this.sisaAnggaran = ($resp.data.anggaran - $resp.data.realisasi);
                    } else {
                        this.$notification.error($resp.message, STATE_ERROR);
                    }
                });
            },

            /**
             * edit data history realisasi
             */
            doEdit($historyId) {
                return '#/kegiatan/pengelolaan/edit/' + $historyId;
            }
        },
        created() {
            this.dataSource = this.loadRiwayatRealisasi();
            this.loadDataRab();
        },
        beforeDestroy() {
            this.dataSource.destroy();
            this.dataSource = null;
        }
    }
</script>

<style scoped>

</style>
