<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div class="body-container">
        <bs-card shadow>
            <bs-card-header class="text-nowrap">
                Dokumentasi Kegiatan
            </bs-card-header>
            <bs-card-body>
                <div class="form-row h6">
                    <div class="col-md-3 col-xl-2">
                        Tahun Anggaran
                    </div>
                    <div class="d-none d-md-flex" style="width: 8px">
                        :
                    </div>
                    <div class="col font-weight-light text-muted">
                        {{ tahunBatch }}
                    </div>
                </div>
                <div class="form-row h6">
                    <div class="col-md-3 col-xl-2">
                        Sumber Dana
                    </div>
                    <div class="d-none d-md-flex" style="width: 8px">
                        :
                    </div>
                    <div class="col font-weight-light text-muted">
                        {{ namaProgram }}
                    </div>
                </div>
                <div class="form-row h6">
                    <div class="col-md-3 col-xl-2">
                        Nama Kegiatan
                    </div>
                    <div class="d-none d-md-flex" style="width: 8px">
                        :
                    </div>
                    <div class="col font-weight-light text-muted">
                        {{ namaKegiatan }}
                    </div>
                </div>
            </bs-card-body>
        </bs-card>
        <bs-card shadow style="margin-top: 10px;">
            <bs-grid :data-source="dataSource" pageable>
                <bs-grid-column label="#"
                                width="50"
                                row-numbering/>
                <bs-grid-column field="title"
                                label="Sub Kegiatan"/>
                <bs-grid-column field="tanggalMulai"
                                label="Pelaksanaan" width="180"/>
                <bs-grid-column field="totalDokumentasi"
                                label="Total" width="125"/>
                <bs-grid-column width="70"/>
                <template v-slot:datarow="{ columns, item, index }">
                    <bs-grid-cell-numbering :column="columns[0]" :index="index"/>
                    <bs-grid-cell :column="columns[1]" :item="item"/>
                    <bs-grid-cell :column="columns[2]" :item="item">
                        {{ fmtJadwal(item) }}
                    </bs-grid-cell>
                    <bs-grid-cell :column="columns[3]" :item="item">
                        {{ item.totalDokumentasi }} Dokumentasi
                    </bs-grid-cell>
                    <bs-grid-cell :column="columns[4]" :item="item">
                        <bs-button v-if="item.totalDokumentasi > 0"
                                   v-tooltip="{content:'Lihat Dokumentasi', placement:'top'}"
                                   @click="doView(item)"
                                   key="kegiatan_dokumentasi_view"
                                   color="primary"
                                   icon="folder-open"
                                   icon-position="left"
                                   size="xs"
                                   outlined/>
                    </bs-grid-cell>
                </template>
            </bs-grid>
        </bs-card>
        <bs-mask-loader :opacity="0"
                        :show="!loaded && dataSource.loading && kegiatan.loading"
                        :spinner-diameter="50"/>
    </div>
</template>

<script>
    import BsStore from "vue-bs4/src/model/BsStore";
    import {KegiatanModel} from "../../../../models/Kegiatan/Pengelolaan/KegiatanModel";
    import {DokumentasiModel} from "../../../../models/Kegiatan/Pengelolaan/DokumentasiModel";
    import appLocale from "../../../../mixins/appLocale";
    import formatUtils from "../../../../mixins/formatUtils";
    import httpErrorResponse from "../../../../mixins/httpErrorResponse";
    import mapStorePengelolaanKegiatan from "../../../../mixins/kegiatan/mapStorePengelolaanKegiatan";
    import {STATE_ERROR} from "../../../../store/modules/mutation-types";
    import Helper from "vue-bs4/src/utils/Helper";

    export default {
        name: "GridsDokumenKegiatan",
        mixins: [
            appLocale, formatUtils, httpErrorResponse, mapStorePengelolaanKegiatan
        ],
        data: () => ({
            dataSource: null,
            tahunBatch: null,
            namaProgram: null,
            namaKegiatan: null,
            kegiatan: new KegiatanModel(),
            dokumentasi: new DokumentasiModel(),
            loaded: false,
        }),
        beforeDestroy() {
            this.dataSource.destroy();
            this.dataSource = null;

            this.kegiatan.destroy();
            this.kegiatan = null;

            this.dokumentasi.destroy();
            this.dokumentasi = null;
        },
        created() {
            this.load();
            this.fetchKegiatan();
        },
        computed: {},
        methods: {
            doView(item) {
                this.$router.push('/kegiatan/pengelolaan/' + this.$route.params.id + '/dokumentasi/' + item.sid);
            },
            /**
             * Format teks jadwal pelaksanaan Subkegiatan pada gridCell.
             *
             * @param {SubKegiatanModel} item Data model subkegiatan
             * @return {string} Formatted string
             */
            fmtJadwal(item) {
                let fmt = '';

                if (!Helper.isEmpty(item)) {
                    let y2 = null;
                    const y1 = this.dateFormat(item.tanggalMulai, 'YYYY');

                    if (!Helper.isEmpty(item.tanggalAkhir)) {
                        y2 = this.dateFormat(item.tanggalAkhir, 'YYYY');
                    }
                    if (y1 === y2) {
                        fmt = this.dateFormat(item.tanggalMulai, 'DD MMM');
                        fmt += ' s.d ' + this.dateFormat(item.tanggalAkhir, this.formatConst.simpleDate);
                    } else {
                        fmt = this.dateFormat(item.tanggalMulai, this.formatConst.simpleDate);
                        if (!Helper.isEmpty(item.tanggalAkhir)) {
                            fmt += ' s.d ' + this.dateFormat(item.tanggalAkhir, this.formatConst.simpleDate);
                        }
                    }
                }

                return fmt;
            },
            /**
             * Load primary data from remote source.
             *
             * @return {Promise<void>} Promise interface
             */
            async load() {
                try {
                    this.dataSource = new BsStore({
                        idProperty: 'sid',
                        dataProperty: 'data',
                        totalProperty: 'total',
                        pageSize: 10,
                        restUrl: {
                            browse: '/kegiatan/dokumentasi/subkegiatan/exist/' + this.$route.params.id
                        }
                    });
                    this.loaded = true;
                } catch (e) {
                    this.showErrorMessage(e);
                }
            },
            /**
             * Fetch data Kegiatan from remote server.
             */
            fetchKegiatan() {
                this.$http.get('/kegiatan/pengelolaan/' + this.$route.params.id).then($response => {
                    let resp = $response.data;
                    if (!Helper.isEmpty(resp.data)) {
                        this.namaKegiatan = resp.data.namaKegiatan;
                        this.namaProgram = resp.data.danaBatch.namaProgram;
                        this.tahunBatch = resp.data.danaBatch.tahun;
                        this.loaded = true;
                    } else {
                        this.$notification.error(resp.message, STATE_ERROR);
                    }
                });
            },
        }
    }
</script>

<style scoped>

</style>
