<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div class="body-container">
        <div class="pb-3" v-if="hasEditorAccessRights">
            <bs-button color="amber"
                       @click="addDocuments()"
                       icon="plus-circle"
                       icon-position="left"
                       raised>
                Tambah Dokumen
            </bs-button>
        </div>
        <bs-card shadow>
            <bs-card-header class="text-nowrap">
                Daftar Dokumen Pendukung Kegiatan
            </bs-card-header>
            <bs-card-body>
                <div class="form-row h6">
                    <div class="col-md-3 col-xl-2">
                        Nama Kegiatan
                    </div>
                    <div class="d-none d-md-flex" style="width: 8px">
                        :
                    </div>
                    <div class="col font-weight-light text-muted">
                        {{ namaKegiatan }}
                    </div>
                </div>
                <div class="form-row h6">
                    <div class="col-md-3 col-xl-2">
                        Nama Sub Kegiatan
                    </div>
                    <div class="d-none d-md-flex" style="width: 8px">
                        :
                    </div>
                    <div class="col font-weight-light text-muted">
                        {{ namaSubKegiatan }}
                    </div>
                </div>
            </bs-card-body>
        </bs-card>
        <bs-card shadow style="margin-top: 10px;">
            <bs-grid :data-source="dataSource" ref="galeridokumen" pageable>
                <bs-grid-column label="#"
                                width="50"
                                row-numbering/>
                <bs-grid-column field="postedBy.fullName"
                                label="Diunggah Oleh"
                                width="140"/>
                <bs-grid-column field="postedDate"
                                label="Tanggal"
                                width="100"/>
                <bs-grid-column field="docTitle"
                                label="Nama File"/>
                <bs-grid-column field="extension"
                                width="80"
                                label="Tipe File"/>
                <bs-grid-column field="docSize"
                                label="Ukuran"
                                width="85"
                                text-align="right"/>
                <bs-grid-column field="status"
                                label="Status"
                                width="100"/>
                <bs-grid-column label="Tindakan"
                                width="150"/>

                <template v-slot:datarow="{ columns, item, index }">
                    <bs-grid-cell-numbering :column="columns[0]" :index="index"/>
                    <bs-grid-cell :column="columns[1]" :item="item"/>
                    <bs-grid-cell :column="columns[2]" :item="item" x-ms-format-detection="none">
                        {{ dateFormat(item.postedDate, formatConst.simpleDate) }}
                    </bs-grid-cell>
                    <bs-grid-cell :column="columns[3]" :item="item"/>
                    <bs-grid-cell :column="columns[4]" :item="item"/>
                    <bs-grid-cell :column="columns[5]" :item="item" x-ms-format-detection="none">
                        {{ bytesToSize(item.docSize) }}
                    </bs-grid-cell>
                    <bs-grid-cell :column="columns[6]" :item="item" x-ms-format-detection="none">
                        <bs-badge type="label"
                                  :color="docWorkflow.badgeColor(item)">
                            {{ docWorkflow.majorPlaceMark(item) }}
                        </bs-badge>
                    </bs-grid-cell>
                    <bs-grid-cell :column="columns[7]" :item="item">
                        <bs-button v-if="showVerifyAction(item)"
                                   @click="confirmVerify(item)"
                                   v-tooltip="{content:'Verifikasi Data', placement:'top'}"
                                   color="green"
                                   icon="check"
                                   icon-position="left"
                                   size="xs"
                                   outlined/>
                        <bs-button v-if="canEdit(item)"
                                   @click="doEdit(item.docId)"
                                   v-tooltip="{content:'Sunting Data', placement:'top'}"
                                   color="primary"
                                   icon="pen"
                                   icon-position="left"
                                   size="xs"
                                   outlined/>
                        <bs-button v-tooltip="{content:'Lihat Data', placement:'top'}"
                                   @click="viewFile(item)"
                                   color="info"
                                   :icon="iconFile(item)"
                                   icon-position="left"
                                   size="xs"
                                   outlined/>
                        <bs-button v-if="canDelete(item)"
                                   @click="confirmDelete(item)"
                                   v-tooltip="{content:'Hapus Data', placement:'top'}"
                                   color="danger"
                                   icon="trash-alt"
                                   icon-position="left"
                                   size="xs"
                                   outlined/>
                    </bs-grid-cell>
                </template>
            </bs-grid>
            <bs-mask-loader :opacity="0"
                            :show="!loaded && kegiatan.loading && subkegiatan.loading && dataSource.loading"
                            :spinner-diameter="50"/>
        </bs-card>
        <bs-modal :open.sync="showModalDelete"
                  :esc-close="false"
                  :overlay-close="false"
                  :maxWidth="'100%'"
                  title="Konfirmasi"
                  :width="450">
            <div style="overflow-wrap: break-word;">
                Apakah anda yakin akan menghapus data dokumentasi <strong>{{ this.itemDoc.docTitle }}</strong> ini?
            </div>
            <template v-slot:footer="">
                <bs-button color="secondary" outlined v-on:click="showModalDelete = false">Batal</bs-button>
                <bs-button color="danger" v-on:click="onDeleteDoc">Hapus</bs-button>
            </template>
        </bs-modal>
        <bs-modal :open.sync="showModalVerify"
                  :esc-close="false"
                  :overlay-close="false"
                  :maxWidth="'100%'"
                  title="Verifikasi"
                  :width="450">
            <div style="overflow-wrap: break-word;">
                Apakah file <strong>{{ this.itemDoc.docTitle }}</strong> dokumentasi kegiatan sudah sesuai?
            </div>
            <template v-slot:footer="">
                <bs-button color="danger"
                           @click="doVerify('reject')">
                    Tidak Sesuai
                </bs-button>
                <bs-button color="primary"
                           @click="doVerify('verify')">
                    Ya
                </bs-button>
                <bs-button color="secondary"
                           outlined
                           @click="showModalVerify = false">
                    Batal
                </bs-button>
            </template>
        </bs-modal>
        <bs-modal :open.sync="showPdfView"
                  :esc-close="true"
                  :overlay-close="true"
                  :fullscreen="this.fullscreen"
                  :maxWidth="'100%'"
                  :padding="0"
                  :width="865">
            <pdf v-if="show"
                 ref="pdfFile"
                 style="display: block; max-width: 100%; height:450px; border: 1px solid #ccc; overflow-y: scroll; overflow-x: hidden;"
                 :src="this.itemDoc.url"
                 :page="page"
                 @num-pages="numPages = $event"
                 @link-clicked="page = $event"></pdf>
            <template v-slot:footer="">
                <div class="mr-4">
                    Halaman: <input v-model.number="page" type="number"
                                    :min="1" :max="numPages"
                                    class="form-control input-group-sm" style="display: inline;width: 5em"/> /
                    {{numPages}}
                </div>
                <bs-button color="info"
                           icon="file-download"
                           icon-position="left"
                           v-tooltip="{content:'Unduh File', placement:'top'}"
                           :href="itemDoc.url"
                           target="_blank"
                           outlined/>
                <bs-button v-if="fullscreen === false"
                           color="secondary"
                           icon="arrows-alt"
                           icon-position="left"
                           v-tooltip="{content:'Perbesar Layar', placement:'top'}"
                           outlined
                           v-on:click="fullscreen = true"/>
                <bs-button v-if="fullscreen === true"
                           color="secondary"
                           icon="compress-arrows-alt"
                           icon-position="left"
                           v-tooltip="{content:'Perkecil Layar', placement:'top'}"
                           outlined
                           v-on:click="fullscreen = false"/>
                <bs-button color="secondary" class="float-right" outlined v-on:click="showPdfView = false">Tutup
                </bs-button>
            </template>
        </bs-modal>
    </div>
</template>

<script>
    import pdf from 'vue-pdf';
    import appLocale from "../../../../mixins/appLocale";
    import formatUtils from "../../../../mixins/formatUtils";
    import httpErrorResponse from "../../../../mixins/httpErrorResponse";
    import {DokumentasiModel} from "../../../../models/Kegiatan/Pengelolaan/DokumentasiModel";
    import {DOSIR, STATE_SUCCESS, STEP_REJECT, STEP_VERIFY} from "../../../../store/modules/mutation-types";
    import BsStore from "vue-bs4/src/model/BsStore";
    import defaultRouteGuard from "../../../../mixins/security/defaultRouteGuard";
    import DokumentasiWorkflowConfigurer from "../../../../models/Kegiatan/Pengelolaan/DokumentasiWorkflowConfigurer";
    import {KegiatanModel} from "../../../../models/Kegiatan/Pengelolaan/KegiatanModel";
    import {SubKegiatanModel} from "../../../../models/Kegiatan/Pengelolaan/SubKegiatanModel";

    export default {
        name: "GridDocuments",
        components: {
            pdf: pdf
        },
        mixins: [
            appLocale, formatUtils, httpErrorResponse, defaultRouteGuard
        ],
        data() {
            return {
                dataSource: null,
                namaKegiatan: null,
                namaSubKegiatan: null,
                kegiatan: new KegiatanModel(),
                subkegiatan: new SubKegiatanModel(),
                dokumentasi: new DokumentasiModel(),
                docWorkflow: new DokumentasiWorkflowConfigurer('dokumentasi'),
                updating: false,
                loaded: false,
                itemDoc: {},
                showModalDelete: false,
                showModalVerify: false,
                showPdfView: false,
                show: false,
                loadedRatio: 0,
                page: 1,
                numPages: 0,
                fullscreen: false
            }
        },
        beforeDestroy() {
            this.dataSource.destroy();
            this.dataSource = null;

            this.dokumentasi.destroy();
            this.dokumentasi = null;

            this.kegiatan.destroy();
            this.kegiatan = null;

            this.subkegiatan.destroy();
            this.subkegiatan = null;

            this.docWorkflow.destroy();
            this.docWorkflow = null;

            this.itemDoc = null;
        },
        created() {
            this.load();
            if (this.$route.params.id) {
                this.fetchKegiatan(this.$route.params.id);
            }
            if (this.$route.params.sid) {
                this.fetchSubKegiatan(this.$route.params.sid);
            }
        },
        computed: {
            /**
             * Get a workflow.
             *
             * @return {Workflow} A workflow object instance
             */
            workflow() {
                return this.docWorkflow.workflow;
            },
        },
        methods: {
            fullscreenView() {
                this.fullscreen = true;
            },
            smallscreenView() {
                this.fullscreen = false;
            },
            /**
             * @param {DokumentasiModel} item Data model
             * @return {boolean} TRUE jika item dokumentasi belum diverifikasi
             */
            showVerifyAction(item) {
                return (this.workflow.canXor(item, [STEP_VERIFY]));
            },
            /**
             * @param {DokumentasiModel} item Data model
             * @return {boolean} TRUE jika item dokumentasi dapat disunting
             */
            canEdit(item) {
                return (this.hasEditorAccessRights && this.workflow.canXor(item, [STEP_VERIFY, STEP_REJECT]));
            },
            /**
             * @param {DokumentasiModel} item Data model
             * @return {boolean} TRUE jika item dokumentasi dapat dihapus
             */
            canDelete(item) {
                return (this.hasDeleteAccessRights && this.workflow.canXor(item, [STEP_VERIFY, STEP_REJECT]));
            },
            /**
             * Menampilkan modal dialog view file.
             *
             * @param {DokumentasiModel} item Data model
             * @return {void}
             */
            viewFile(item) {
                let file = ["pdf"];
                this.itemDoc = item;

                if (file.includes(item.extension)) {
                    this.show = true;
                    this.showPdfView = true;
                } else {
                    window.open(item.url, '_blank');
                }
            },
            /**
             * .xls, .xlsx, .doc, .docx, .pdf
             */
            iconFile(item) {
                let iconPdf = ["pdf"];
                let iconExcel = ["xls", "xlsx"];
                let iconDoc = ["doc", "docx"];

                if (iconPdf.includes(item.extension)) {
                    return 'file-pdf';
                } else if (iconExcel.includes(item.extension)) {
                    return 'file-excel';
                } else if (iconDoc.includes(item.extension)) {
                    return 'file-word';
                } else {
                    return 'file-alt';
                }
            },
            addDocuments() {
                const kegId = this.$route.params.id;
                const subId = this.$route.params.sid;
                this.$router.push('/kegiatan/pengelolaan/' + kegId + '/dokumentasi/' + subId + '/update/dosir');
            },
            doEdit(id) {
                const kegId = this.$route.params.id;
                const subId = this.$route.params.sid;
                this.$router.push('/kegiatan/pengelolaan/' + kegId + '/dokumentasi/' + subId + '/update/' + id);
            },
            /**
             * Menampilkan modal dialog verifikasi data record.
             *
             * @param {DokumentasiModel} item Data model
             * @return {void}
             */
            confirmVerify(item) {
                if (this.workflow.canXor(item, [STEP_VERIFY])) {
                    this.itemDoc = item;
                    this.showModalVerify = true;
                }
            },
            /**
             * Menampilkan modal dialog konfirmasi delete record.
             *
             * @param {DokumentasiModel} item Data model
             * @return {void}
             */
            confirmDelete(item) {
                this.showModalDelete = true;
                this.itemDoc = item;
            },
            /**
             * delete dokumentasi item
             */
            onDeleteDoc() {
                const url = '/kegiatan/dokumentasi/delete/' + this.itemDoc.docId;

                const config = {
                    'url': url,
                    'method': 'delete'
                };

                this.showModalDelete = false;
                this.updating = true;

                this.$axios(config).then((resp) => {
                    this.$notification.success(resp.data.message, STATE_SUCCESS);
                    this.$refs.galeridokumen.reload();
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            },
            /**
             * Proses verifikasi item dokumentasi
             */
            doVerify(status) {
                const url = '/kegiatan/dokumentasi/verify/' + this.itemDoc.docId + '/' + status;

                const config = {
                    'url': url,
                    'method': 'patch'
                };

                this.showModalVerify = false;
                this.updating = true;

                this.$axios(config).then((resp) => {
                    this.$notification.success(resp.data.message, STATE_SUCCESS);
                    this.$refs.galeridokumen.reload();
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            },
            /**
             * Load primary data from remote source.
             *
             * @return {Promise<void>} Promise interface
             */
            async load() {
                try {
                    this.dataSource = new BsStore({
                        idProperty: 'docId',
                        dataProperty: 'data',
                        totalProperty: 'total',
                        pageSize: 10,
                        restUrl: {
                            browse: '/kegiatan/dokumentasi/view/' + this.$route.params.id + '/' + this.$route.params.sid + '/' + DOSIR
                        }
                    });
                    this.loaded = true;
                } catch (e) {
                    this.showErrorMessage(e);
                }
            },
            /**
             * Fetch data Kegiatan from remote server.
             *
             * @param {number} id Kegiatan ID
             * @return {void}
             */
            fetchKegiatan(id) {
                this.kegiatan.fetch(id).then(() => {
                    this.namaKegiatan = this.kegiatan.namaKegiatan;
                    this.loaded = true;
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            },
            /**
             * Fetch data sub kegiatan from remote server.
             */
            fetchSubKegiatan(sid) {
                this.subkegiatan.fetch(sid).then(() => {
                    this.namaSubKegiatan = this.subkegiatan.title;
                    this.loaded = true;
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            },
            /**
             * Konversi ukuran file
             */
            bytesToSize(bytes, decimals = 2) {
                if (bytes === 0) return '0 Bytes';

                const k = 1024;
                const dm = decimals < 0 ? 0 : decimals;
                const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];

                const i = Math.floor(Math.log(bytes) / Math.log(k));

                return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
            }
        }
    }
</script>

<style scoped>

</style>
