<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div class="body-container">
    <div class="pb-3" v-if="hasEditorAccessRights">
      <bs-button color="amber"
                 href="#/kegiatan/pengelolaan/create"
                 icon="plus-circle"
                 icon-position="left"
                 raised>
        Kegiatan Baru
      </bs-button>
    </div>
    <bs-card shadow>
      <bs-card-body class="pb-3 border-bottom">
        <div class="row">
          <div class="col-xl-8">
            <div class="form-group">
              <bs-date-time-field v-model="tahun"
                                  append-icon="calendar"
                                  clear-button
                                  display-format="YYYY"
                                  format="YYYY"
                                  required
                                  view-mode="year">
                <label class="col-form-label col-lg-4">
                  TAHUN ANGGARAN
                </label>
              </bs-date-time-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-8">
            <div class="form-group">
              <bs-combobox v-model="programId"
                           :data-source="dsProgram"
                           :parent-value="tahun"
                           required>
                <label class="col-form-label col-lg-4">
                  SUMBER DANA
                </label>
              </bs-combobox>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-8">
            <div class="form-group">
              <bs-text-field v-model="search"
                             append-icon="search"
                             clear-button
                             required
                             @clear="reloadGrid"
                             @keydown="doSearch">
                <label class="col-form-label col-lg-4">
                  NAMA KEGIATAN
                </label>
              </bs-text-field>
            </div>
          </div>
        </div>
      </bs-card-body>
      <bs-grid :data-source="dataSource"
               :flip-on-small-screen="false"
               ref="datagrid"
               pageable
               row-hover
               show-footer
               sortable>
        <bs-grid-column :filterable="{enabled: false, button: true}"
                        :sortable="false"
                        class="row-numbering"
                        text-align="right"
                        width="50" />
        <bs-grid-column field="kode"
                        label="Kode"
                        width="100" />
        <bs-grid-column field="namaKegiatan"
                        label="Nama Kegiatan"
                        min-width="325" />
        <bs-grid-column :field="bindColumnName"
                        :filterable="{enabled: false}"
                        :label="bindColumnLabel"
                        footer-cls="text-right"
                        footer-text="JUMLAH TOTAL :"
                        min-width="300" />
        <bs-grid-column :filterable="{enabled: false}"
                        :formatter="moneyFormat"
                        :aggregate="sumTotalRAB"
                        text-align="right"
                        field="anggaran"
                        label="Nilai RAB (Rp)"
                        width="150" />
        <bs-grid-column :filterable="{enabled: false}"
                        :formatter="moneyFormat"
                        :aggregate="sumTotalRealisasiRab"
                        text-align="right"
                        label="Nilai Realisasi (Rp)"
                        width="170" />
        <bs-grid-column :filterable="{enabled: false}"
                        :formatter="moneyFormat"
                        :aggregate="sumTotalSisa"
                        text-align="right"
                        label="Sisa Anggaran (Rp)"
                        width="170" />
        <bs-grid-column :filterable="{enabled: false}"
                        field="status"
                        label="Status"
                        text-align="center"
                        width="160" />
        <bs-grid-column :sortable="false"
                        :width="cellTindakanWidth"
                        label="Tindakan" />

        <template v-slot:datarow="{ columns, item, index }">
          <bs-grid-cell-numbering :column="columns[0]" :index="index" />
          <bs-grid-cell :column="columns[1]" :item="item" />
          <bs-grid-cell :column="columns[2]" :item="item" />
          <bs-grid-cell :column="columns[3]" :item="item">
            {{ programId === null ? item.danaBatch.namaProgram : fmtJadwalKegiatan(item) }}
          </bs-grid-cell>
          <bs-grid-cell :column="columns[4]"
                        :item="item"
                        class="text-md-right"
                        x-ms-format-detection="none">
            {{ fmtAnggaranKegiatan(item) }}
          </bs-grid-cell>
          <bs-grid-cell :column="columns[5]"
                        :item="item"
                        class="text-md-right"
                        x-ms-format-detection="none">
            {{ fmtRealisasiAnggaran(item) }}
          </bs-grid-cell>
          <bs-grid-cell :column="columns[6]"
                        :item="item"
                        class="text-md-right"
                        x-ms-format-detection="none">
            {{ fmtSisaAnggaran(item) }}
          </bs-grid-cell>
          <bs-grid-cell :column="columns[7]"
                        :item="item">
            <bs-badge type="label"
                      :color="workflowConfigurer.badgeColor(item)">
              {{ workflowConfigurer.majorPlaceMark(item) }}
            </bs-badge>
          </bs-grid-cell>
          <bs-grid-cell :column="columns[8]">
              <bs-button v-if="item.totalKegiatanDokumentasi > 0"
                         v-tooltip="{content:'Dokumentasi Kegiatan', placement:'top'}"
                         key="kegiatan_dokumentasi"
                         color="orange"
                         icon="folder-open"
                         icon-position="left"
                         size="xs"
                         outlined
                         :href="viewDokumentasi(item.kegiatanId)"/>
            <bs-button v-tooltip="{content:'Detail/Sunting RAB', placement:'top'}"
                       key="kegiatan_rab"
                       color="primary"
                       icon="money-bill-alt"
                       icon-position="left"
                       size="xs"
                       outlined
                       @click="doEditRAB(item)" />
            <bs-button v-if="canEdit(item)"
                       v-tooltip="{content:'Sunting Data', placement:'top'}"
                       :href="doEdit(item.kegiatanId)"
                       key="kegiatan_edit"
                       color="primary"
                       icon="pen"
                       icon-position="left"
                       size="xs"
                       outlined />
            <bs-button v-if="canDelete(item)"
                       v-tooltip="{content:'Hapus Data', placement:'top'}"
                       key="kegiatan_delete"
                       color="danger"
                       icon="trash-alt"
                       icon-position="left"
                       size="xs"
                       outlined
                       @click="confirmDelete(item)" />
          </bs-grid-cell>
        </template>
      </bs-grid>
    </bs-card>
    <!-- Modal-->
    <bs-modal :open.sync="showModal"
              :overlay-close="false"
              max-width="85%"
              title="Konfirmasi"
              width="400">
      Apakah anda yakin akan menghapus kegiatan <b>{{ kegiatan.namaKegiatan }}</b>?
      <template v-slot:footer="">
        <bs-button color="secondary"
                   outlined
                   @click="showModal = false">
          Batal
        </bs-button>
        <bs-button color="danger" @click="doDelete">
          Hapus
        </bs-button>
      </template>
    </bs-modal>
    <bs-mask-loader :opacity="0"
                    :show="kegiatan.deleting"
                    :spinner-diameter="50" />
  </div>
</template>

<script>
    import {
    GET_ACTIVE_PROGRAM,
    GET_ACTIVE_YEAR,
    SET_ACTIVE_BATCH,
    SET_ACTIVE_KEGIATAN,
    SET_ACTIVE_KEGIATAN_NAME,
    SET_ACTIVE_KEGIATAN_STATE,
    SET_ACTIVE_PRGNAME,
    SET_ACTIVE_PRGSTATE,
    SET_ACTIVE_PROGRAM,
    SET_ACTIVE_YEAR,
    SET_MGT_VALUE
    } from "../../../../store/modules/Kegiatan/mutation-types";
    import {
    CLOSED,
    NEW,
    PAGE_SIZE,
    PLANNED,
    REALISASI_VERIFIED,
    REJECTED,
    STATE_SUCCESS,
    STEP_UPDATE,
    UPDATED
    } from "../../../../store/modules/mutation-types";
    import {BsStore, Helper} from "vue-bs4";
    import {KegiatanModel} from "../../../../models/Kegiatan/Pengelolaan/KegiatanModel";
    import moment from "moment";
    import appLocale from "../../../../mixins/appLocale";
    import formatUtils from "../../../../mixins/formatUtils";
    import httpErrorResponse from "../../../../mixins/httpErrorResponse";
    import defaultRouteGuard from "../../../../mixins/security/defaultRouteGuard";
    import mapStorePengelolaanKegiatan from "../../../../mixins/kegiatan/mapStorePengelolaanKegiatan";
    import KegiatanWorkflowConfigurer from "../../../../models/Kegiatan/Pengelolaan/KegiatanWorkflowConfigurer";

    export default {
    name: "GridKegiatan",
    mixins: [appLocale, formatUtils, httpErrorResponse, defaultRouteGuard, mapStorePengelolaanKegiatan],
    data: () => ({
        dataSource: new BsStore({
            idProperty: 'kegiatanId',
            dataProperty: 'data',
            totalProperty: 'total',
            pageSize: PAGE_SIZE,
            restUrl: {
                browse: '/kegiatan/pengelolaan'
            }
        }),
        dsProgram: {
            schema: {
                displayField: 'namaProgram',
                valueField: 'id',
                cascadeField: 'tahun'
            },
            proxy: new BsStore({
                idProperty: 'id',
                dataProperty: 'data',
                totalProperty: 'total',
                filters: [{property: 'status', value: [NEW, UPDATED, REJECTED, PLANNED], operator: 'notin'}],
                restUrl: {
                    browse: '/pendanaan/batch'
                }
            })
        },
        kegiatan: new KegiatanModel(),
        workflowConfigurer: new KegiatanWorkflowConfigurer('kegiatan'),
        showModal: false,
        search: ''
    }),
    computed: {
        bindColumnName() {
            if (this[GET_ACTIVE_PROGRAM] != null) {
                return 'jadwalKegiatan'
            }

            return 'danaBatch.namaProgram';
        },
        bindColumnLabel() {
            if (this[GET_ACTIVE_PROGRAM] != null) {
                return 'Jadwal Pelaksanaan'
            }

            return 'Sumber Dana';
        },
        /**
         * Calculate column Tindakan cell width.
         *
         * @return {number} Cell width
         */
        cellTindakanWidth() {
            return 35 * 5;
        },
        /**
         * Get a workflow.
         *
         * @return {Workflow} A workflow object instance
         */
        workflow() {
            return this.workflowConfigurer.workflow;
        },
        programId: {
            get() {
                return this[GET_ACTIVE_PROGRAM];
            },
            set(value) {
                if (Helper.isEmpty(value)) {
                    this[SET_ACTIVE_PRGNAME](value);
                    this[SET_ACTIVE_PRGSTATE](value);
                    this[SET_ACTIVE_BATCH](value);
                    this[SET_MGT_VALUE](5);
                } else {
                    const item = this.dsProgram.proxy.dataItems.find(el => el.id === value);

                    if (item) {
                        this[SET_ACTIVE_PRGNAME](item.namaProgram);
                        this[SET_ACTIVE_PRGSTATE](item.status);

                        if (item.batch != null) {
                            this[SET_ACTIVE_BATCH](item.batch.namaBatch);
                            this[SET_MGT_VALUE](item.batch.managementFee);
                        }
                    } else {
                        this[SET_ACTIVE_PRGNAME](null);
                        this[SET_ACTIVE_PRGSTATE](null);
                        this[SET_ACTIVE_BATCH](null);
                        this[SET_MGT_VALUE](5);
                    }
                }

                this[SET_ACTIVE_PROGRAM](value);
                this.reloadGrid();
            }
        },
        tahun: {
            get() {
                return this[GET_ACTIVE_YEAR];
            },
            set(value) {
                this[SET_ACTIVE_YEAR](value);
                this[SET_ACTIVE_PROGRAM](null);
            }
        }
    },
    created() {
        this.setFilters();
    },
    beforeDestroy() {
        this.dataSource.destroy();
        this.dataSource = null;

        this.dsProgram.proxy.destroy();
        this.dsProgram.proxy = null;
        this.dsProgram       = null;

        this.kegiatan.destroy();
        this.kegiatan = null;

        this.workflowConfigurer.destroy();
        this.workflowConfigurer = null;
    },
    methods: {
        /**
         * Memeriksa apakah Kegiatan boleh dihapus atau tidak.
         *
         * @param {KegiatanModel} item Data model
         * @return {boolean} TRUE jika item kegiatan dapat dihapus
         */
        canDelete(item) {
            return this.hasDeleteAccessRights && this.workflow.can(item, STEP_UPDATE); // && item.children.length === 0;
        },
        /**
         * Memeriksa apakah Kegiatan masih boleh disunting atau tidak.
         *
         * @param {KegiatanModel} item Data model
         * @return {boolean} TRUE jika item kegiatan dapat disunting
         */
        canEdit(item) {
            return this.hasEditorAccessRights && this.workflow.can(item, STEP_UPDATE);
        },
        /**
         * Menampilkan modal dialog konfirmasi delete record Kegiatan.
         *
         * @param {KegiatanModel} item Data model
         * @return {void}
         */
        confirmDelete(item) {
            this.kegiatan.assignValues(item);
            this.showModal = true;
        },
        /**
         * Send request hapus kegiatan.
         *
         * @return {void}
         */
        doDelete() {
            this.showModal = false;

            this.kegiatan.delete().then((response) => {
                this.$notification.success(response.data.message, STATE_SUCCESS);
                this.$refs.datagrid.reload();
            }).catch((error) => {
                this.showErrorMessage(error);
            });
        },

        /**
         * Returns route Url untuk menampilkan form Kegiatan.
         *
         * @param {number} id Kegiatan ID
         * @return {string} Route url
         */
        doEdit(id) {
            return '#/kegiatan/pengelolaan/edit/' + id;
        },
        /**
         * Display dataGrid Pengelolaan RAB Kegiatan.
         *
         * @param {Object} item Data model
         * @return {void}
         */
        doEditRAB(item) {
            this[SET_ACTIVE_KEGIATAN](item.kegiatanId);
            this[SET_ACTIVE_KEGIATAN_NAME](item.namaKegiatan);
            this[SET_ACTIVE_KEGIATAN_STATE](item.status);
            this[SET_ACTIVE_PROGRAM](item.danaBatch.id);
            this[SET_ACTIVE_PRGNAME](item.danaBatch.namaProgram);
            this[SET_ACTIVE_PRGSTATE](item.danaBatch.status);
            this[SET_ACTIVE_YEAR](item.danaBatch.tahun);
            this[SET_ACTIVE_BATCH](item.periodeBatch.namaBatch);
            this[SET_MGT_VALUE](item.periodeBatch.managementFee);

            this.$router.push('/kegiatan/pengelolaan/' + item.kegiatanId + '/rab');
        },
        /**
         * OnKeydown event handler, start search nama kegiatan.
         *
         * @param {KeyboardEvent} e The received event
         * @return {void}
         */
        doSearch(e) {
            if (e.key && e.key.toLowerCase() === 'enter') {
                this.reloadGrid();
            }
        },
        /**
         * Returns route Url untuk menampilkan form View Kegiatan.
         *
         * @param {number} id Kegiatan ID
         * @return {string} Route url
         */
        doView(id) {
            return '#/kegiatan/pengelolaan/view/' + id;
        },
        /**
         * Returns route Url untuk menampilkan Dokumentasi Kegiatan.
         *
         * @param {number} id Kegiatan ID
         * @return {string} Route url
         */
        viewDokumentasi(id) {
            return '#/kegiatan/pengelolaan/' + id + '/dokumentasi';
        },
        /**
         * Format display text untuk anggaran Kegiatan.
         *
         * @param {KegiatanModel} item Data model kegiatan
         * @return {String} Decimal formatted string
         */
        fmtAnggaranKegiatan(item) {
            return this.moneyFormat(item.anggaran);
        },
        /**
         * Format display text untuk realisasi anggaran Kegiatan.
         *
         * @param {KegiatanModel} item Data model kegiatan
         * @return {String} Decimal formatted string
         */
        fmtRealisasiAnggaran(item) {
          return this.moneyFormat(item.totalKegiatanRealisasi);
        },
        /**
         * Format display text untuk sisa anggaran Kegiatan.
         *
         * @param {KegiatanModel} item Data model kegiatan
         * @return {String} Decimal formatted string
         */
        fmtSisaAnggaran(item) {
          let nilaiSisa = 0;

          if (item.totalKegiatanRealisasi > 0) {
            nilaiSisa = item.anggaran - item.totalKegiatanRealisasi;
          } else {
            nilaiSisa = item.anggaran;
          }

          return this.moneyFormat(nilaiSisa);
        },
        /**
         * Format display text jadwal pelaksanaan kegiatan.
         *
         * @param {KegiatanModel} item Data model
         * @return {string} Route url
         */
        fmtJadwalKegiatan(item) {
            const jadwal = item.jadwalKegiatan;
            moment.locale(this.getLocale);

            if (Helper.isArray(jadwal)) {
                let tglAwal  = null;
                let tglAkhir = null;

                jadwal.forEach((el) => {
                    if (el.awal && tglAwal == null) {
                        tglAwal = moment(el.awal);
                    } else if (moment(el.awal).isBefore(tglAwal)) {
                        tglAwal = moment(el.awal);
                    }
                    if (el.akhir && tglAkhir == null) {
                        tglAkhir = moment(el.akhir);
                    } else if (el.akhir && moment(el.akhir).isAfter(tglAkhir)) {
                        tglAkhir = moment(el.akhir);
                    }
                });
                if (tglAwal != null && tglAkhir != null) {
                    return tglAwal.format(this.formatConst.fullDate) + ' - ' + tglAkhir.format(this.formatConst.fullDate);
                } else if (tglAwal != null) {
                    return tglAwal.format(this.formatConst.fullDate);
                } else if (tglAkhir != null) {
                    return tglAkhir.format(this.formatConst.fullDate);
                }
            } else if (Helper.isObject(jadwal)) {
                if (!Helper.isEmpty(jadwal.awal) && !Helper.isEmpty(jadwal.akhir)) {
                    return this.dateFormat(jadwal.awal, this.formatConst.fullDate) + ' - ' +
                        this.dateFormat(jadwal.akhir, this.formatConst.fullDate);
                } else if (!Helper.isEmpty(jadwal.awal)) {
                    return this.dateFormat(jadwal.awal, this.formatConst.fullDate);
                } else if (!Helper.isEmpty(jadwal.akhir)) {
                    return this.dateFormat(jadwal.akhir, this.formatConst.fullDate);
                }
            }

            return '';
        },
        /**
         * Refresh and reload grid's datasource.
         *
         * @return {void}
         */
        reloadGrid() {
            this.setFilters();
            this.$refs.datagrid.reload();
        },
        /**
         * Assign grid's datasource filter criteria.
         *
         * @return {void}
         */
        setFilters() {
            let filters = [];

            if (this.programId !== null) {
                filters.push({property: 'danaBatch.id', value: this.programId});
            } else if (!Helper.isEmpty(this.tahun)) {
                filters.push({property: 'danaBatch.tahun', value: this.tahun});
            }
            if (!Helper.isEmpty(this.search) && this.search.length > 3) {
                filters.push({property: 'namaKegiatan', value: this.search, operator: 'contains'});
            }

            this.dataSource.setFilters(filters);
        },
        /**
         * SUM total anggaran Kegiatan.
         *
         * @return {number} Jumlah total anggaran kegiatan
         */
        sumTotalRAB() {
            let total = 0;
            const items = this.dataSource.dataItems;

            items.forEach(el => {
                if ([REALISASI_VERIFIED, CLOSED].includes(el.status) && el.totalKegiatanRealisasi > 0) {
                    total += el.totalKegiatanRealisasi;
                } else {
                    total += el.anggaran;
                }
            });

            return total;
        },
        /**
         * SUM total realisasi anggaran Kegiatan.
         *
         * @return {number} Jumlah total realisasi anggaran kegiatan
         */
        sumTotalRealisasiRab() {
          let total = 0;
          const items = this.dataSource.dataItems;

          items.forEach(el => {
            if (el.totalKegiatanRealisasi > 0) {
              total += el.totalKegiatanRealisasi;
            }
          });

          return total;
        },
        /**
         * SUM total sisa anggaran Kegiatan.
         *
         * @return {number} Jumlah total sisa anggaran kegiatan
         */
        sumTotalSisa() {
          let total = 0;
          const items = this.dataSource.dataItems;

          items.forEach(el => {
            if (el.totalKegiatanRealisasi > 0) {
              total += el.anggaran - el.totalKegiatanRealisasi;
            } else{
              total += el.anggaran
            }
          });

          return total;
        }
    }
}
</script>

<style scoped>

</style>
