<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div class="body-container">
        <bs-card shadow>
            <bs-card-body>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-group">
                            <bs-text-field :value="namaProgram" readonly>
                                <label class="col-form-label col-lg-3 font-weight-bold">
                                    SUMBER DANA
                                </label>
                            </bs-text-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-group">
                            <bs-text-field :value="namaKegiatan" readonly>
                                <label class="col-form-label col-lg-3 font-weight-bold">
                                    NAMA KEGIATAN
                                </label>
                            </bs-text-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-group">
                            <bs-text-field :value="namaBatch" readonly>
                                <label class="col-form-label col-lg-3 font-weight-bold">
                                    PERIODE BATCH
                                </label>
                            </bs-text-field>
                        </div>
                    </div>
                </div>
            </bs-card-body>
            <bs-card-body>
                <bs-grid :data-source="dataSource"
                         :borderless="false"
                         :flip-on-small-screen="false"
                         sortable
                         row-hover>
                    <bs-grid-column label="#" width="50" row-numbering />
                    <bs-grid-column field="postedDate" label="Tanggal" width="250"/>
                    <bs-grid-column field="realisasi"
                                    label="Jumlah Realisasi (Rp)"
                                    width="250"
                                    text-align="right"
                                    :formatter="moneyFormat" />
                    <template v-slot:datarow="{ columns, item, index }">
                        <bs-grid-cell-numbering :column="columns[0]" :index="index" />
                        <bs-grid-cell :column="columns[1]" :item="item">
                            {{ dateFormat(item.realisasiDate, 'dddd, DD MMMM YYYY') }}
                        </bs-grid-cell>
                        <bs-grid-cell :column="columns[2]" :item="item" />
                    </template>
                </bs-grid>
            </bs-card-body>
            <bs-card-footer class="bg-white">
                <bs-button color="primary"
                           @click="confirmVerify">
                    Verifikasi
                </bs-button>
            </bs-card-footer>
        </bs-card>
        <bs-modal :open.sync="showModalRealisasiVerify"
                  max-width="90%"
                  title="Konfirmasi"
                  width="450">
            Apakah anda yakin realisasi RAB Kegiatan sudah benar?
            <div class="form-group">
                <bs-text-area placeholder="Wajib mencantumkan komentar jika reject"
                              rows="3"
                              v-model="approval.reason">
                    <label class="col-form-label col-md-3">
                        Komentar
                    </label>
                </bs-text-area>
            </div>
            <template v-slot:footer="">
                <bs-button :disabled="approval.reason == null || approval.reason === ''"
                           color="danger"
                           @click="doReject">
                    Reject
                </bs-button>
                <bs-button color="primary"
                           @click="doVerify">
                    {{ submitBtnText }}
                </bs-button>
            </template>
        </bs-modal>
        <bs-mask-loader :opacity="0"
                        :show="loader"
                        :spinner-diameter="50" />
    </div>
</template>

<script>
    import {
        STATE_ERROR,
        STATE_SUCCESS, STEP_CLOSING,
        STEP_VERIFY,
        STEP_VERIFY_REALISASI
    } from "../../../../store/modules/mutation-types";
    import {
        GET_ACTIVE_BATCH,
        GET_ACTIVE_KEGIATAN_NAME,
        GET_ACTIVE_PRGNAME, SET_ACTIVE_BATCH,
        SET_ACTIVE_KEGIATAN, SET_ACTIVE_KEGIATAN_NAME, SET_ACTIVE_PRGNAME, SET_ACTIVE_PROGRAM
    } from "../../../../store/modules/Kegiatan/mutation-types";
    import { BsStore, Helper } from "vue-bs4";
    import appLocale from "../../../../mixins/appLocale";
    import formatUtils from "../../../../mixins/formatUtils";
    import httpErrorResponse from "../../../../mixins/httpErrorResponse";
    import defaultRouteGuard from "../../../../mixins/security/defaultRouteGuard";
    import mapStorePengelolaanKegiatan from "../../../../mixins/kegiatan/mapStorePengelolaanKegiatan";
    import {KegiatanModel} from "../../../../models/Kegiatan/Pengelolaan/KegiatanModel";
    import KegiatanWorkflowConfigurer from "../../../../models/Kegiatan/Pengelolaan/KegiatanWorkflowConfigurer";

    export default {
        name: "GridSubmittedRealisasi",
        mixins: [appLocale, formatUtils, httpErrorResponse, defaultRouteGuard, mapStorePengelolaanKegiatan],
        data: () => ({
            dsApproval: new BsStore({
                idProperty: 'logId',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    fetch: '/kegiatan/pengelolaan/log-approval/{id}'
                }
            }),
            dataSource: null,
            kegiatan: new KegiatanModel(),
            approval: {
                action: '',
                reason: ''
            },
            loader: false,
            showModalRealisasiVerify: false,
            workflowConfigurer: new KegiatanWorkflowConfigurer('kegiatan'),
        }),
        computed: {
            namaKegiatan() {
                const name = this[GET_ACTIVE_KEGIATAN_NAME];

                if (Helper.isEmpty(this.kegiatan.kegiatanId)) {
                    this.fetchKegiatan(this.$route.params.id);
                }

                return name;
            },
            namaProgram() {
                return this[GET_ACTIVE_PRGNAME];
            },
            namaBatch() {
                return this[GET_ACTIVE_BATCH];
            },
            /**
             * @return {Workflow} A workflow object instance
             */
            workflow() {
                return this.workflowConfigurer.workflow;
            },
            submitBtnText() {
                if (this.approval.action.includes(STEP_VERIFY) ||
                    this.approval.action.includes(STEP_VERIFY_REALISASI)) {
                    return 'Verify'
                }
            }
        },
        methods: {
            /**
             * load data riwayat realisasi
             */
            loadDataRealisasi() {
                let $idKegiatan = this.$route.params.id;
                let $periode = this.$route.params.periode;
                return new BsStore({
                    restUrl: {
                        browse: '/kegiatan/pengelolaan/item-realisasi/get-submitted-realisasi-list/' + $idKegiatan + '/' + $periode,
                        idProperty: 'id',
                        dataProperty: 'data',
                        totalProperty: 'total'
                    }
                })
            },
            /**
             * show modal update realisasi
             */
            confirmVerify() {
                if (this.hasVerificatorAccessRights && this.hasVerificatorRole) {
                    this.approval.action = STEP_VERIFY_REALISASI;
                    this.showModalRealisasiVerify = true;
                }
            },
            doReject() {
                const $endpoint = '/kegiatan/pengelolaan/item-realisasi/reject-data-realisasi';
                const $preData = {
                    idKegiatan: this.$route.params.id,
                    periode: this.$route.params.periode,
                    message: this.approval.reason
                };
                this.loader = true;
                this.showModalRealisasiVerify = false;
                this.$http.post($endpoint, $preData).then(() => {
                    this.$notification.success('Data realisasi ditolak', STATE_SUCCESS);
                    this.loader = false;
                    this.$nextTick(() => {
                        this.$router.push('/kegiatan/pengelolaan');
                    });
                }).catch((error) => {
                    this.showErrorMessage(error);
                    this.loader = false;
                });
            },
            doVerify() {
                const $endpoint = '/kegiatan/pengelolaan/item-realisasi/verifikasi-data-realisasi';
                const $preData = {
                    idKegiatan: this.$route.params.id,
                    periode: this.$route.params.periode
                };
                this.loader = true;
                this.showModalRealisasiVerify = false;
                this.$http.post($endpoint, $preData).then(() => {
                    this.$notification.success('Verifikasi data realisasi sukses', STATE_SUCCESS);
                    this.loader = false;
                    this.$nextTick(() => {
                        this.$router.push('/kegiatan/pengelolaan');
                    });
                }).catch((error) => {
                    this.showErrorMessage(error);
                    this.loader = false;
                });
            },
            /**
             * Fetch data Kegiatan from remote server.
             *
             * @param {String|int} id Kegiatan ID
             * @return {Promise<void>} Promise interface
             */
            async fetchKegiatan(id) {
                try {
                    const resp = await this.kegiatan.fetch(id);

                    if (resp) {
                        this[SET_ACTIVE_KEGIATAN](this.kegiatan.kegiatanId);
                        this[SET_ACTIVE_KEGIATAN_NAME](this.kegiatan.namaKegiatan);
                        this[SET_ACTIVE_PROGRAM](this.kegiatan.danaBatch.id);
                        this[SET_ACTIVE_PRGNAME](this.kegiatan.danaBatch.namaProgram);
                        this[SET_ACTIVE_BATCH](this.kegiatan.periodeBatch.namaBatch);
                    }
                } catch (e) {
                    this.showErrorMessage(e);
                    this.$nextTick(() => {
                        this.$router.push('/kegiatan/pengelolaan');
                    });
                }
            },
        },
        created() {
            this.dataSource = this.loadDataRealisasi();
        },
        beforeDestroy() {
            this.dataSource.destroy();
            this.dataSource = null;
            this.kegiatan.destroy();
            this.kegiatan = null;
            this.approval = null;
            this.workflowConfigurer.destroy();
            this.workflowConfigurer = null;
        }
    }
</script>

<style scoped>
    .md-grid .md-grid-content{min-height:auto !important;}
</style>
