<template>
  <div class="body-container">
    <bs-card shadow>
      <bs-card-body>
        <div class="row">
          <div class="col-xl-8">
            <div class="form-group">
              <bs-text-field :value="namaProgram" readonly>
                <label class="col-form-label col-lg-3 font-weight-bold">
                  SUMBER DANA
                </label>
              </bs-text-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-8">
            <div class="form-group">
              <bs-text-field :value="namaKegiatan" readonly>
                <label class="col-form-label col-lg-3 font-weight-bold">
                  NAMA KEGIATAN
                </label>
              </bs-text-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-8">
            <div class="form-group">
              <bs-text-field :value="namaBatch" readonly>
                <label class="col-form-label col-lg-3 font-weight-bold">
                  PERIODE BATCH
                </label>
              </bs-text-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-8">
            <div class="form-row mb-2" x-ms-format-detection="none">
              <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                TOTAL RAB
              </label>
              <label class="col-md-9 h5 text-md-right text-lg-left">
                Rp. {{ totalRabKegiatan }}
              </label>
            </div>
          </div>
        </div>
        <div v-if="showRealisasiLabel" class="row">
          <div class="col-xl-8">
            <div class="form-row mb-2" x-ms-format-detection="none">
              <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                NILAI REALISASI
              </label>
              <label class="col-md-9 h5 text-md-right text-lg-left">
                Rp. {{ moneyFormat(totalRealisasiAnggaran) }}
              </label>
            </div>
          </div>
        </div>
        <div v-if="showRealisasiLabel" class="row">
          <div class="col-xl-8">
            <div class="form-row mb-2" x-ms-format-detection="none">
              <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                SISA ANGGARAN
              </label>
              <label class="col-md-9 h5 text-md-right text-lg-left">
                Rp. {{ moneyFormat(totalSisaAnggaran) }}
              </label>
            </div>
          </div>
        </div>
        <div v-if="showPencairanLabel" class="row">
          <div class="col-xl-8">
            <div class="form-row mb-2" x-ms-format-detection="none">
              <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                PENCAIRAN
              </label>
              <label class="col-md-9 h5 text-md-right text-lg-left">
                Rp. {{ pencairan }}
              </label>
            </div>
          </div>
        </div>
        <div v-if="showPencairanLabel" class="row">
          <div class="col-xl-8">
            <div class="form-row mb-2" x-ms-format-detection="none">
              <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                SISA PENCAIRAN
              </label>
              <label class="col-md-9 h5 text-md-right text-lg-left">
                Rp. {{ pencairan_sisa }}
              </label>
            </div>
          </div>
        </div>
        <div v-if="loaded" class="row mt-3">
            <div class="col-xl-12">
                <bs-menu>
                    <bs-button icon="file-alt"
                               icon-position="left"
                               size="sm"
                               dropdown-toggle
                               outlined>
                        Unduh / Cetak
                    </bs-button>
                    <bs-list slot="content">
                        <bs-list-item>
                            <a class="font-weight-bold text-dark" :href="routeDetailKegiatan" target="_blank">
                                Unduh Detail Kegiatan
                            </a>
                        </bs-list-item>
                        <bs-list-item>
                            <a class="font-weight-bold text-dark" :href="routeCetakDetailKegiatan" target="_blank">
                                Cetak Detail Kegiatan
                            </a>
                        </bs-list-item>
                        <bs-list-item>
                            <a class="font-weight-bold text-dark" :href="routeRekapKegiatan" target="_blank">
                                Unduh Rekap Kegiatan
                            </a>
                        </bs-list-item>
                        <bs-list-item>
                            <a class="font-weight-bold text-dark" :href="routeCetakRekapKegiatan" target="_blank">
                                Cetak Rekap Kegiatan
                            </a>
                        </bs-list-item>
                    </bs-list>
                </bs-menu>
                <bs-menu>
                    <bs-button icon="upload"
                               icon-position="left"
                               size="sm"
                               dropdown-toggle
                               outlined>
                        Dokumentasi
                    </bs-button>
                    <bs-list slot="content">
                        <bs-list-item v-if="showDocumentationAction" :path="routeGaleriKegiatan">
                            Foto/Video Kegiatan
                        </bs-list-item>
                        <bs-list-item :path="routeDokumenKegiatan">
                            Dokumen Pendukung
                        </bs-list-item>
                    </bs-list>
                </bs-menu>
                <bs-menu class="fa-pull-right" v-if="showAction">
                    <bs-button icon="plus-circle"
                               icon-position="left"
                               size="sm"
                               dropdown-toggle
                               outlined>
                        Tambah Baru
                    </bs-button>
                    <bs-list slot="content">
                        <bs-list-item :path="routeSubkegiatan">
                            Subkegiatan
                        </bs-list-item>
                        <bs-list-item :path="routeItemRab">
                            Entri RAB
                        </bs-list-item>
                    </bs-list>
                </bs-menu>
                <bs-menu class="fa-pull-right" v-if="showRealisasiAction">
                    <bs-button icon="plus-circle"
                               icon-position="left"
                               size="sm"
                               dropdown-toggle
                               outlined>
                        Tambah Baru
                    </bs-button>
                    <bs-list slot="content">
                        <bs-list-item :path="routeSubkegiatan">
                            Subkegiatan
                        </bs-list-item>
                        <bs-list-item :path="routeItemRealisasiRab">
                            Akun Biaya
                        </bs-list-item>
                        <bs-list-item :path="routeItemRealisasiBulanan">
                            Realisasi Bulanan
                        </bs-list-item>
                    </bs-list>
                </bs-menu>
            </div>
        </div>
      </bs-card-body>
      <grid-rab-kegiatan ref="gridrab"
                         :data-source="dataSource"
                         :action-column="showActionColumn"
                         :realisasi-action="showRealisasiAction"
                         :can-edit="hasEditorAccessRights && workflow.can(kegiatan, 'update')"
                         :can-delete="hasDeleteAccessRights && workflow.can(kegiatan, 'update')"
                         :can-update-realisasi="hasEditorAccessRights && workflow.can(kegiatan, 'create_realisasi')"
                         :closed="isMgtFeeClosed"
                         :id-kegiatan="kegiatan.kegiatanId"
                         :mgt-fee="getMgtValue"
                         :loader="false"
                         @delete="confirmDelete"
                         @edit="onEdit"
                         @realisasirab="onItemRealisasiAdd"
                         @history="onItemRealisasiHistory"
                         @realisasi="confirmRealisasi"
                         @overbudget="overBudget = true"
                         @lowbudget="overBudget = false"/>

        <bs-card-body v-if="showRealisasiAction">
            <!-- START DRAFT REALISASI -->
            <table class="table table-sm table-valign-middle">
                <thead class="thead-light">
                    <tr>
                        <th class="text-nowrap" style="min-width: 300px; border: none;" colspan="3">
                            <h5>Draft Realisasi</h5>
                        </th>
                    </tr>
                    <tr>
                        <th class="text-nowrap"  style="width: 200px; border: none;">Bulan</th>
                        <th class="text-nowrap text-right" style="width: 200px; border: none;">Jumlah</th>
                        <th class="text-nowrap" style="min-width: 250px; border: none;">Tindakan</th>
                    </tr>
                </thead>
                <tbody>
                    <template>
                        <tr v-for="(item, index) in prepareSubmitDataRealisasi"
                            v-bind:key="item.tangbul"
                            v-bind:class="{hideEl: (prepareTotalDataRealisasi <= 0)}">
                            <td style="font-size: 16px;">
                                <bs-mask-loader :opacity="0"
                                    :show="showSendDataRealisasiLoader === true"
                                    :spinner-diameter="50" />
                                {{ index+1 }}. {{ dateFormat(item.tangbul + '-01', 'MMMM YYYY') }}
                            </td>
                            <td class="text-right" style="font-size: 16px;">Rp. {{ moneyFormat(item.ival) }},-</td>
                            <td>
                                <bs-button
                                    v-tooltip="{content:'Sunting Data', placement:'top'}"
                                    key="item_edit" color="primary" icon="pen"
                                    icon-position="left" size="xs" outlined
                                    @click="gotoEditRealisasi(item.tangbul)"/>
                                <bs-button
                                    v-tooltip="{content:'Hapus Data', placement:'top'}"
                                    key="item_delete" color="danger" icon="trash"
                                    icon-position="left" size="xs" outlined
                                    @click="deleteRealisasi(item.tangbul)"/>
                            </td>
                        </tr>
                        <tr v-bind:class="{hideEl: (prepareTotalDataRealisasi <= 0)}">
                            <td><strong>TOTAL</strong></td>
                            <td class="text-right text-bold" style="font-size: 16px;" :style="{color: overBudget ? myStyle.dangerColor : myStyle.normalColor }">
                                Rp. {{ moneyFormat(totalSumDataRealisasi) }},-
                            </td>
                            <td class="text-bold" style="font-size: 16px;">&nbsp;</td>
                        </tr>
                        <tr v-show="prepareTotalDataRealisasi <= 0" style="display: none;">
                            <td colspan="3">
                                <div class="alert alert-info" role="alert" style="margin: 5px;">
                                    Tidak Ada Daftar Realisasi Yang Dapat Disubmit
                                </div>
                            </td>
                        </tr>
                    </template>

                </tbody>
            </table>
            <!-- END DRAFT REALISASI -->

            <!-- START REJECTED REALISASI -->
            <table
                v-show="totalRejectedDataRealisasi > 0"
                class="table table-sm table-valign-middle">
                <thead class="thead-light">
                    <tr>
                        <th class="text-nowrap" style="min-width: 300px; border: none;" colspan="3">
                            <h5>Rejected Realisasi</h5>
                        </th>
                    </tr>
                    <tr>
                        <th class="text-nowrap"  style="width: 200px; border: none;">Bulan</th>
                        <th class="text-nowrap text-right" style="width: 200px; border: none;">Jumlah</th>
                        <th class="text-nowrap" style="min-width: 250px; border: none;">Tindakan</th>
                    </tr>
                </thead>
                <tbody>
                    <template>
                        <tr v-for="(item, index) in rejectedDataRealisasi"
                            v-bind:key="item.tangbul" >
                            <td style="font-size: 16px;">
                                <bs-mask-loader :opacity="0"
                                    :show="showSendDataRealisasiLoader === true"
                                    :spinner-diameter="50" />
                                {{ index+1 }}. {{ dateFormat(item.tangbul + '-01', 'MMMM YYYY') }}
                            </td>
                            <td class="text-right" style="font-size: 16px;">Rp. {{ moneyFormat(item.ival) }},-</td>
                            <td>
                                <bs-button
                                    v-tooltip="{content:'Sunting Data', placement:'top'}"
                                    key="item_edit" color="primary" icon="pen"
                                    icon-position="left" size="xs" outlined
                                    @click="gotoEditRejectedRealisasi(item.tangbul)"/>
                                <bs-button
                                    v-tooltip="{content:'Hapus Data', placement:'top'}"
                                    key="item_delete" color="danger" icon="trash"
                                    icon-position="left" size="xs" outlined
                                    @click="deleteRejectedRealisasi(item.tangbul)"/>
                            </td>
                        </tr>
                        <tr v-show="totalRejectedDataRealisasi <= 0" style="display: none;">
                            <td colspan="3">
                                <div class="alert alert-info" role="alert" style="margin: 5px;">
                                    Tidak Ada Daftar Realisasi Yang Dapat Disubmit
                                </div>
                            </td>
                        </tr>
                    </template>

                </tbody>
            </table>

        </bs-card-body>

        <bs-card-body v-if="showRealisasiVerification">
            <table class="table table-valign-middle mb-0" border="0">
                <thead class="thead-light">
                    <tr>
                        <th colspan="3" style="border: none; background-color: transparent;">
                            <h5>Pengajuan Realisasi Yang Belum Diverifikasi</h5>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="grey-100" v-bind:class="{hideEl: (totalDataRealisasi <= 0)}"
                        v-for="(item, index) in submittedDataRealisasi"
                        v-bind:key="item.periode">
                        <td width="250" style="font-size: 16px;">{{ index + 1 }}. {{ dateFormat(item.periode + '-01', 'MMMM YYYY') }}</td>
                        <td width="250" style="font-size: 16px;">Rp. {{ moneyFormat(item.ival) }},-</td>
                        <td>
                            <bs-button v-tooltip="{content:'Verifikasi Realisasi', placement:'top'}"
                                        color="info"
                                        icon="check"
                                        icon-position="left"
                                        size="xs"
                                        outlined
                                        @click="onItemRealisasiSubmitted(item)"/>
                        </td>
                    </tr>
                </tbody>
            </table>
            <bs-mask-loader :opacity="0"
                            :show="showSendDataRealisasiLoader === true"
                            :spinner-diameter="50" />
        </bs-card-body>

        <bs-card-footer v-if="showPanelFooter"
                        class="bg-white">
            <bs-button v-if="workflow.can(kegiatan, 'submit')"
                    color="primary"
                    @click="showModalSubmit = true">
            Submit
            </bs-button>
            <bs-button v-if="workflow.canXor(kegiatan, ['verify', 'closing'])"
                    :color="workflow.can(kegiatan, 'closing') ? 'danger' : 'primary'"
                    @click="confirmVerify">
            {{ workflow.can(kegiatan, 'closing') ? 'TUTUP' : 'Verifikasi' }}
            </bs-button>
        </bs-card-footer>
    </bs-card>

    <audit-panel-rab v-if="loaded && workflowConfigurer.majorPlaceMark(kegiatan) !== 'NEW'"
                     :kegiatan="kegiatan"
                     :log-approvals="dsApproval.dataItems" />
    <modal-dialog-rab :approval="approval"
                      :item-rab="itemRab"
                      :show-modal-delete.sync="showModalDelete"
                      :show-modal-submit.sync="showModalSubmit"
                      :show-modal-verify.sync="showModalVerify"
                      :show-modal-realisasi.sync="showModalRealisasi"
                      @delete="doDelete"
                      @submit="doSubmitRab"
                      @reject="doReject"
                      @verify="doVerify"
                      @save-realisasi="doUpdateRealisasi" />
    <bs-mask-loader :opacity="0"
                    :show="updating || dataSource.loading || kegiatan.loading || kegiatan.updating"
                    :spinner-diameter="50" />
  </div>
</template>

<script>
import {
    GET_ACTIVE_BATCH,
    GET_ACTIVE_KEGIATAN,
    GET_ACTIVE_KEGIATAN_NAME,
    GET_ACTIVE_PRGNAME,
    SET_ACTIVE_BATCH,
    SET_ACTIVE_KEGIATAN,
    SET_ACTIVE_KEGIATAN_NAME,
    SET_ACTIVE_KEGIATAN_STATE,
    SET_ACTIVE_PRGNAME,
    SET_ACTIVE_PRGSTATE,
    SET_ACTIVE_PROGRAM,
    SET_ACTIVE_YEAR,
    SET_MGT_VALUE
} from "../../../../store/modules/Kegiatan/mutation-types";
import {
  CLOSED,
  SUBMITTED,
  REALISASI_REJECTED,
  REALISASI_VERIFIED,
  REJECTED,
  STATE_SUCCESS,
  STEP_CLOSING,
  STEP_REJECT,
  STEP_REJECT_REALISASI,
  STEP_SUBMIT,
  STEP_SUBMIT_REALISASI,
  STEP_UPDATE,
  STEP_VERIFY,
  STEP_VERIFY_REALISASI,
  VERIFIED, NEW, UPDATED, PLANNED, STATE_ERROR, REALISASI, REALISASI_SUBMITTED,
} from "../../../../store/modules/mutation-types";
import { sumBy } from "lodash";
import { BsStore, Helper } from "vue-bs4";
import { KegiatanModel } from "../../../../models/Kegiatan/Pengelolaan/KegiatanModel";
import appLocale from "../../../../mixins/appLocale";
import formatUtils from "../../../../mixins/formatUtils";
import httpErrorResponse from "../../../../mixins/httpErrorResponse";
import defaultRouteGuard from "../../../../mixins/security/defaultRouteGuard";
import AuditPanelRab from "../../../../components/Kegiatan/AuditPanelRab";
import GridRabKegiatan from "../../../../components/Kegiatan/GridRabKegiatan";
import mapStorePengelolaanKegiatan from "../../../../mixins/kegiatan/mapStorePengelolaanKegiatan";
import KegiatanWorkflowConfigurer from "../../../../models/Kegiatan/Pengelolaan/KegiatanWorkflowConfigurer";
import ModalDialogRab from "./ModalDialogRab";

export default {
    name: "GridPengelolaanRab",
    components: {AuditPanelRab, GridRabKegiatan, ModalDialogRab},
    mixins: [appLocale, formatUtils, httpErrorResponse, defaultRouteGuard, mapStorePengelolaanKegiatan],
    data: () => ({
        dataSource: new BsStore({
            idProperty: 'sid',
            dataProperty: 'data',
            totalProperty: 'total',
            restUrl: {
                fetch: '/kegiatan/pengelolaan/view-rab/{id}'
            }
        }),
        dsApproval: new BsStore({
            idProperty: 'logId',
            dataProperty: 'data',
            totalProperty: 'total',
            restUrl: {
                fetch: '/kegiatan/pengelolaan/log-approval/{id}'
            }
        }),
        kegiatan: new KegiatanModel(),
        workflowConfigurer: new KegiatanWorkflowConfigurer('kegiatan'),
        itemRab: {},
        approval: {
            action: '',
            reason: ''
        },
        loaded: false,
        updating: false,
        showModalDelete: false,
        showModalSubmit: false,
        showModalVerify: false,
        showModalRealisasi: false,
        prepareSubmitDataRealisasi: [],
        submittedDataRealisasi: [],
        prepareTotalDataRealisasi: 0,
        totalDataRealisasi: 0,
        totalSumDataRealisasi: 0,
        selectedRealisasi: [],
        showSendDataRealisasiLoader: false,
        rejectedDataRealisasi: [],
        totalRejectedDataRealisasi : 0,
        overBudget: false,
        myStyle: {
            dangerColor: 'red',
            normalColor: 'black'
        }
    }),
    computed: {
        enableSubmitRealisasi() {
            if (this.dataSource.dataItems.length > 0) {
                return this.dataSource.dataItems.every(el => el.realisasi != null && !isNaN(el.realisasi)) &&
                    this.totalRealisasiAnggaran > 0;
            }

            return false;
        },
        isMgtFeeClosed() {
            return this.kegiatan.status === CLOSED ||
                this.workflow.canXor(this.kegiatan, [STEP_VERIFY_REALISASI, STEP_CLOSING]);
        },
        namaBatch() {
            return this[GET_ACTIVE_BATCH];
        },
        namaKegiatan() {
            const name = this[GET_ACTIVE_KEGIATAN_NAME];

            if (Helper.isEmpty(this.kegiatan.kegiatanId)) {
                this.fetchKegiatan(this.$route.params.id);
            }

            return name;
        },
        namaProgram() {
            return this[GET_ACTIVE_PRGNAME];
        },
        pencairan(){
            if (Helper.isEmpty(this.kegiatan.pencairan)){
                return null;
            }
            else {
                return this.moneyFormat(this.kegiatan.pencairan);
            }
        },
        pencairan_sisa(){
            if (Helper.isEmpty(this.kegiatan.pencairan_sisa)){
                return null;
            }
            else {
                return this.moneyFormat(this.kegiatan.pencairan_sisa);
            }
        },
        routeItemRab() {
            return '/kegiatan/pengelolaan/' + this[GET_ACTIVE_KEGIATAN] + '/rab/create';
        },
        routeItemRealisasiRab() {
          return '/kegiatan/pengelolaan/' + this[GET_ACTIVE_KEGIATAN] + '/rab/realisasi/create';
        },
        routeItemRealisasiBulanan() {
          return '/kegiatan/pengelolaan/' + this[GET_ACTIVE_KEGIATAN] + '/rab/realisasi/bulanan';
        },
        routeSubkegiatan() {
            return '/kegiatan/pengelolaan/' + this[GET_ACTIVE_KEGIATAN] + '/subkegiatan';
        },
        baseRouteUrl(){
           return window.location.pathname;
        },
        routeDetailKegiatan() {
            return this.baseRouteUrl+'/kegiatan/laporan/full/' + this[GET_ACTIVE_KEGIATAN];
        },
        routeCetakDetailKegiatan() {
            return this.baseRouteUrl+'/kegiatan/laporan/printfull/' + this[GET_ACTIVE_KEGIATAN];
        },
        routeRekapKegiatan() {
            return this.baseRouteUrl+'/kegiatan/laporan/rekap/' + this[GET_ACTIVE_KEGIATAN];
        },
        routeCetakRekapKegiatan() {
            return this.baseRouteUrl+'/kegiatan/laporan/printrekap/' + this[GET_ACTIVE_KEGIATAN];
        },
        routeGaleriKegiatan() {
            return '/kegiatan/pengelolaan/' + this[GET_ACTIVE_KEGIATAN] + '/galeri/create';
        },
        routeDokumenKegiatan() {
            return '/kegiatan/pengelolaan/' + this[GET_ACTIVE_KEGIATAN] + '/dokumen/create';
        },
        showActionColumn() {
            return (this.hasEditorAccessRights || this.hasDeleteAccessRights) &&
                this.workflow.canXor(this.kegiatan, [STEP_UPDATE, STEP_SUBMIT_REALISASI]);
        },
        showAction() {
          return (this.hasEditorAccessRights) && (this.kegiatan.status === NEW ||
                  this.kegiatan.status === UPDATED ||
                  this.kegiatan.status === PLANNED);
        },
        showRealisasiSubmit() {
            return (this.hasEditorAccessRights) && (this.kegiatan.status === REALISASI_SUBMITTED ||
                    this.kegiatan.status === REALISASI_VERIFIED ||
                    this.kegiatan.status === REALISASI_REJECTED);
        },
        showRealisasiVerification() {
            return (this.hasVerificatorAccessRights) &&
                (this.kegiatan.status === REALISASI_SUBMITTED ||
                this.kegiatan.status === REALISASI_VERIFIED ||
                this.kegiatan.status === REALISASI_REJECTED);
        },
        showRealisasiAction() {
            return (this.hasEditorAccessRights) && (this.kegiatan.totalKegiatanRealisasi > 0 ||
                    this.kegiatan.status === VERIFIED ||
                    this.kegiatan.status === REALISASI_SUBMITTED ||
                    this.kegiatan.status === REALISASI_VERIFIED ||
                    this.kegiatan.status === REALISASI_REJECTED);
        },
        showRealisasiLabel() {
            return this.loaded &&
                  (this.kegiatan.status === VERIFIED ||
                          this.kegiatan.status === REALISASI_SUBMITTED ||
                          this.kegiatan.status === REALISASI_VERIFIED ||
                          this.kegiatan.status === REALISASI_REJECTED ||
                          this.kegiatan.status === CLOSED);
        },
        showDocumentationAction() {
            return (this.hasEditorAccessRights) && (this.kegiatan.status === SUBMITTED ||
                this.kegiatan.status === VERIFIED ||
                this.kegiatan.status === REALISASI_SUBMITTED ||
                this.kegiatan.status === REALISASI_VERIFIED ||
                this.kegiatan.status === REALISASI_REJECTED ||
                this.kegiatan.status === CLOSED);
        },
        showPanelFooter() {
            return this.loaded && ((this.hasEditorAccessRights && this.rabHasItems &&
                this.workflow.canXor(this.kegiatan, [STEP_SUBMIT, STEP_SUBMIT_REALISASI])) ||
                (this.hasVerificatorAccessRights && this.hasVerificatorRole &&
                    this.workflow.canXor(this.kegiatan, [STEP_VERIFY, STEP_VERIFY_REALISASI, STEP_CLOSING])));
        },
        showPencairanLabel() {
            return this.pencairan !== null;
        },
        rabHasItems() {
            return (this.dataSource.dataItems.length > 0) && (this.dataSource.dataItems[0].children.length > 0);
        },
        totalRabKegiatan() {
            if (this.loaded) {
                return this.moneyFormat(this.kegiatan.anggaran);
            }

            return 0;
        },
        totalRealisasiAnggaran() {
          if (this.dataSource.dataItems.length > 0) {
            return sumBy(this.dataSource.dataItems, 'verifiedSubRealisasi');
          }

          return 0.0;
        },
        totalSisaAnggaran() {
          let rab = this.kegiatan.anggaran;
          let realisasi = 0;
          if (this.dataSource.dataItems.length > 0) {
            realisasi = sumBy(this.dataSource.dataItems, 'verifiedSubRealisasi');
          }

          return rab - realisasi;
        },
        /**
         * Get a workflow.
         *
         * @return {Workflow} A workflow object instance
         */
        workflow() {
            return this.workflowConfigurer.workflow;
        }
    },
    mounted() {
        if (!Helper.isEmpty(this[GET_ACTIVE_KEGIATAN])) {
            this.$refs.gridrab.load();
        }

      this.prepareSubmitDataRealisasi = this.getPrepareSubmitDataRealisasi();
      this.submittedDataRealisasi = this.getSubmittedDataRealisasi();
      this.rejectedDataRealisasi = this.getRejectedDataRealisasi();
    },
    created() {},
    beforeDestroy() {
        this.dataSource.destroy();
        this.dataSource = null;

        this.kegiatan.destroy();
        this.kegiatan = null;
        this.itemRab  = null;
        this.approval = null;

        this.workflowConfigurer.destroy();
        this.workflowConfigurer = null;
    },
    methods: {
        /**
         * get data realisasi yang sudah di submit(submitted = 't')
         */
        getSubmittedDataRealisasi() {
          const $idKegiatan = this.$route.params.id;
          const $endpoint = '/kegiatan/pengelolaan/item-realisasi/get-submitted-realisasi/' + $idKegiatan;

          this.showSendDataRealisasiLoader = true;
          this.$http.get($endpoint).then($resp => {
            this.submittedDataRealisasi = $resp.data.data;
            this.totalDataRealisasi = this.submittedDataRealisasi.length;
            this.showSendDataRealisasiLoader = false;
          }).catch((error) => {
            this.showErrorMessage(error);
            this.showSendDataRealisasiLoader = false;
          });
        },

        /**
         * get data realisasi yang belum di submit(submitted = 'f')
         */
        getPrepareSubmitDataRealisasi() {
            const $idKegiatan = this.$route.params.id;
            const $endpoint = '/kegiatan/pengelolaan/item-realisasi/get-data-realisasi/' + $idKegiatan;

            this.showSendDataRealisasiLoader = true;
            this.$http.get($endpoint).then($resp => {
                this.prepareSubmitDataRealisasi = $resp.data.data;
                this.totalSumDataRealisasi = sumBy(this.prepareSubmitDataRealisasi, (o) => {
                    return parseFloat(o.ival);
                });
                this.prepareTotalDataRealisasi = this.prepareSubmitDataRealisasi.length;
                this.showSendDataRealisasiLoader = false;
            }).catch((error) => {
                this.showErrorMessage(error);
                this.showSendDataRealisasiLoader = false;
            });
        },

        /**
         * get rejected data realisasi
         */
        getRejectedDataRealisasi() {
            const $idKegiatan = this.$route.params.id;
            const $endpoint = '/kegiatan/pengelolaan/item-realisasi/get-rejected-realisasi/' + $idKegiatan;

            this.showSendDataRealisasiLoader = true;
            this.$http.get($endpoint).then($resp => {
                this.rejectedDataRealisasi = $resp.data.data;
                this.totalRejectedDataRealisasi = $resp.data.data.length;
                this.showSendDataRealisasiLoader = false;
            }).catch((error) => {
                this.showErrorMessage(error);
                this.showSendDataRealisasiLoader = false;
            });
        },

        /**
         * goto form edit realisasi
         */
        gotoEditRealisasi($bultah) {
            const $idKegiatan = this.$route.params.id;
            this.$router.push('/kegiatan/pengelolaan/'+ $idKegiatan +'/rab/realisasi/bulanan/'+ $bultah);
        },
        /**
         * goto form edit rejected realisasi
         */
        gotoEditRejectedRealisasi($bultah) {
            const $idKegiatan = this.$route.params.id;
            this.$router.push('/kegiatan/pengelolaan/'+ $idKegiatan +'/rab/realisasi/bulanan/'+ $bultah + '/rejected');
        },

        /**
         * submit data realisasi
         */
        submitPrepareDataRealisasi() {
            const $idKegiatan = this.$route.params.id;
            const $endpoint = '/kegiatan/pengelolaan/item-realisasi/update-data-realisasi';
            const $preData = {
                idKegiatan: $idKegiatan,
                dataRealisasi: this.selectedRealisasi
            };

            this.showSendDataRealisasiLoader = true;
            this.$http.post($endpoint, $preData).then($resp => {
                this.$notification.success('Submit data realisasi sukses', STATE_SUCCESS);
                this.showSendDataRealisasiLoader = false;
                this.getPrepareSubmitDataRealisasi();
            }).catch($error => {
                this.$notification.error('Submit data realisasi gagal!', STATE_ERROR);
                this.showSendDataRealisasiLoader = false;
            });
        },

        /**
         * Menampilkan modal dialog konfirmasi delete record Sub-Kegiatan ataupun Item Anggaran.
         *
         * @param {Object} item Data model
         * @return {void}
         */
        confirmDelete(item) {
            this.itemRab         = item;
            this.showModalDelete = true;
        },
        confirmRealisasi(item) {
            this.itemRab = item;
            if (this.itemRab.realisasi === 0) {
                this.itemRab.realisasi = null;
            }

            this.showModalRealisasi = true;
        },
        confirmSubmitRealisasi() {
            this.approval.action = STEP_SUBMIT_REALISASI;
            this.showModalSubmit = true;
        },
        confirmVerify() {
            if (this.hasVerificatorAccessRights && this.hasVerificatorRole &&
                this.workflow.can(this.kegiatan, STEP_VERIFY)) {
                this.approval.action = STEP_VERIFY;
                this.showModalVerify = true;
            } else if (this.hasVerificatorAccessRights && this.hasVerificatorRole &&
                this.workflow.can(this.kegiatan, STEP_CLOSING)) {
                this.approval.action = STEP_CLOSING;
                this.showModalVerify = true;
            }
        },
        /**
         * Proses delete record Item Anggaran.
         *
         * @return {void}
         */
        doDelete() {
            const url = this.itemRab.sid
                ? '/kegiatan/pengelolaan/subkegiatan/delete/' + this.itemRab.sid
                : '/kegiatan/pengelolaan/item-rab/delete/' + this.itemRab.id;

            const config = {
                'url': url,
                'method': 'delete'
            };

            this.showModalDelete = false;
            this.updating        = true;

            this.$axios(config).then((resp) => {
                this.$notification.success(resp.data.message, STATE_SUCCESS);
                this.$refs.gridrab.load();
                this.updating = false;
            }).catch((error) => {
                this.showErrorMessage(error);
                this.updating = false;
            });
        },
        doReject() {
            const data = {
                action: this.approval.action === STEP_VERIFY_REALISASI ? STEP_REJECT_REALISASI : STEP_REJECT,
                message: this.approval.reason
            };

            this.showModalVerify = false;

            this.kegiatan.request('stepflow', 'patch', null, data).then(() => {
                this.loaded = false;
                this.$nextTick(() => {
                    this.$router.push('/kegiatan/pengelolaan');
                });
            }).catch(error => {
                this.showErrorMessage(error);
            });
        },
        doSubmitRab() {
            const data = {
                action: this.approval.action !== STEP_SUBMIT_REALISASI ? STEP_SUBMIT : STEP_SUBMIT_REALISASI,
                message: null
            };

            this.showModalSubmit = false;

            this.kegiatan.request('stepflow', 'patch', null, data).then(() => {
                this.loaded = false;
                this.$nextTick(() => {
                    this.$router.push('/kegiatan/pengelolaan');
                });
            }).catch(error => {
                this.showErrorMessage(error);
            });
        },
        doUpdateRealisasi() {
            const url = this.itemRab.sid
                ? '/kegiatan/pengelolaan/subkegiatan/realisasi/' + this.itemRab.sid
                : '/kegiatan/pengelolaan/item-rab/realisasi/' + this.itemRab.id;

            const config = {
                'url': url,
                method: 'patch',
                data: {
                    realisasi: this.itemRab.realisasi
                }
            };

            this.updating           = true;
            this.showModalRealisasi = false;

            this.$axios(config).then((resp) => {
                this.$notification.success(resp.data.message, STATE_SUCCESS);
                this.updating = false;
            }).catch((error) => {
                this.showErrorMessage(error);
                this.itemRab.realisasi = null;
                this.updating          = false;
            });
        },
        doVerify() {
            const data = {
                action: this.approval.action,
                message: this.approval.reason
            };

            this.showModalVerify = false;

            this.kegiatan.request('stepflow', 'patch', null, data).then(() => {
                this.loaded = false;
                this.$nextTick(() => {
                    this.$router.push('/kegiatan/pengelolaan');
                });
            }).catch(error => {
                this.showErrorMessage(error);
            });
        },
        /**
         * Fetch data Kegiatan from remote server.
         *
         * @param {String|int} id Kegiatan ID
         * @return {Promise<void>} Promise interface
         */
        async fetchKegiatan(id) {
            try {
                const resp1 = await this.kegiatan.fetch(id);

                if (resp1) {
                    this[SET_ACTIVE_KEGIATAN](this.kegiatan.kegiatanId);
                    this[SET_ACTIVE_KEGIATAN_NAME](this.kegiatan.namaKegiatan);
                    this[SET_ACTIVE_KEGIATAN_STATE](this.kegiatan.status);
                    this[SET_ACTIVE_YEAR](this.kegiatan.danaBatch.tahun);
                    this[SET_ACTIVE_PROGRAM](this.kegiatan.danaBatch.id);
                    this[SET_ACTIVE_PRGNAME](this.kegiatan.danaBatch.namaProgram);
                    this[SET_ACTIVE_PRGSTATE](this.kegiatan.danaBatch.status);
                    this[SET_ACTIVE_BATCH](this.kegiatan.periodeBatch.namaBatch);
                    this[SET_MGT_VALUE](this.kegiatan.periodeBatch.managementFee);

                    if (this.$refs.gridrab.dataItems.length === 0) {
                        this.$refs.gridrab.load();
                    }

                    await this.dsApproval.fetch(this.kegiatan.kegiatanId);
                    this.loaded = true;
                }
            } catch (e) {
                this.showErrorMessage(e);
                this.$nextTick(() => {
                    this.$router.push('/kegiatan/pengelolaan');
                });
            }
        },

        onEdit(item) {
            if (item.sid) {
                this.$router.push('/kegiatan/pengelolaan/' + this[GET_ACTIVE_KEGIATAN] + '/subkegiatan/' + item.sid);
            } else if (item.id) {
                this.$router.push('/kegiatan/pengelolaan/' + this[GET_ACTIVE_KEGIATAN] + '/rab/' + item.id);
            }
        },
        onItemRealisasiAdd(item) {
          this.$router.push('/kegiatan/pengelolaan/' + this[GET_ACTIVE_KEGIATAN] + '/rab/' + item.id + '/realisasi');
        },
        onItemRealisasiHistory(item) {
          this.$router.push('/kegiatan/pengelolaan/' + this[GET_ACTIVE_KEGIATAN] + '/rab/' + item.id + '/realisasi/history');
        },
        onItemRealisasiSubmitted(item) {
          this.$router.push('/kegiatan/pengelolaan/' + this[GET_ACTIVE_KEGIATAN] + '/rab/' + item.periode + '/realisasi/verify');
        },

        /**
         * hapus data relaisasi
         * @param string $bultah
         */
        deleteRealisasi($bultah) {

            //sweetalert confirmation box
            this.$swal({
                text: 'Apakah anda ingin menghapus Draft Realisasi ini ?',
                icon: 'warning',
                buttons: true,
                dangerMode: true
            }).then(($pressed) => {
                if ($pressed) {
                    const $endpoint = '/kegiatan/pengelolaan/item-realisasi/delete-realisasi';
                    const $idKegiatan = this.$route.params.id;

                    this.showSendDataRealisasiLoader = true;
                    this.$http.post($endpoint, { idKegiatan: $idKegiatan, bultah: $bultah}).then(($response) => {
                        let $resp = $response.data;

                        this.showSendDataRealisasiLoader = false;
                        this.getPrepareSubmitDataRealisasi();
                    });
                }
            });
        },

        /**
         * hapus data rejected relaisasi
         * @param string $bultah
         */
        deleteRejectedRealisasi($bultah) {
            //sweetalert confirmation box
            this.$swal({
                text: 'Apakah anda ingin menghapus Realisasi yg direject ?',
                icon: 'warning',
                buttons: true,
                dangerMode: true
            }).then(($pressed) => {
                if ($pressed) {
                    const $endpoint = '/kegiatan/pengelolaan/item-realisasi/delete-rejected-realisasi';
                    const $idKegiatan = this.$route.params.id;

                    this.showSendDataRealisasiLoader = true;
                    this.$http.post($endpoint, { idKegiatan: $idKegiatan, bultah: $bultah}).then(($response) => {
                        let $resp = $response.data;

                        this.showSendDataRealisasiLoader = false;
                        this.getRejectedDataRealisasi();
                    });
                }
            });
        }
    }
}
</script>

<style scoped>
  .hideEl { display: none; }
  .showEl { display: inline-block; }
</style>


