<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div class="body-container">
        <div class="pb-3" v-if="hasEditorAccessRights">
            <bs-button color="amber"
                       @click="addDocuments()"
                       icon="plus-circle"
                       icon-position="left"
                       raised>
                Tambah Foto/Video
            </bs-button>
        </div>
        <bs-card shadow>
            <bs-card-header class="text-nowrap">
                Daftar Foto/Video Kegiatan
            </bs-card-header>
            <bs-card-body>
                <div class="form-row h6">
                    <div class="col-md-3 col-xl-2">
                        Nama Kegiatan
                    </div>
                    <div class="d-none d-md-flex" style="width: 8px">
                        :
                    </div>
                    <div class="col font-weight-light text-muted">
                        {{ namaKegiatan }}
                    </div>
                </div>
                <div class="form-row h6">
                    <div class="col-md-3 col-xl-2">
                        Nama Sub Kegiatan
                    </div>
                    <div class="d-none d-md-flex" style="width: 8px">
                        :
                    </div>
                    <div class="col font-weight-light text-muted">
                        {{ namaSubKegiatan }}
                    </div>
                </div>
            </bs-card-body>
        </bs-card>
        <bs-card shadow style="margin-top: 10px;">
            <bs-grid :data-source="dataSource" ref="galerifoto" pageable>
                <bs-grid-column label="#"
                                width="50"
                                row-numbering/>
                <bs-grid-column field="postedBy.fullName"
                                label="Diunggah Oleh"
                                width="140"/>
                <bs-grid-column field="postedDate"
                                label="Tanggal"
                                width="100"/>
                <bs-grid-column field="docTitle"
                                label="Nama File"/>
                <bs-grid-column field="extension"
                                width="80"
                                label="Tipe File"/>
                <bs-grid-column field="docSize"
                                label="Ukuran"
                                width="85"
                                text-align="right"/>
                <bs-grid-column field="status"
                                label="Status"
                                width="100"/>
                <bs-grid-column label="Tindakan"
                                width="150"/>

                <template v-slot:datarow="{ columns, item, index }">
                    <bs-grid-cell-numbering :column="columns[0]" :index="index"/>
                    <bs-grid-cell :column="columns[1]" :item="item"/>
                    <bs-grid-cell :column="columns[2]" :item="item" x-ms-format-detection="none">
                        {{ dateFormat(item.postedDate, formatConst.simpleDate) }}
                    </bs-grid-cell>
                    <bs-grid-cell :column="columns[3]" :item="item"/>
                    <bs-grid-cell :column="columns[4]" :item="item"/>
                    <bs-grid-cell :column="columns[5]" :item="item" x-ms-format-detection="none">
                        {{ bytesToSize(item.docSize) }}
                    </bs-grid-cell>
                    <bs-grid-cell :column="columns[6]" :item="item" x-ms-format-detection="none">
                        <bs-badge type="label"
                                  :color="docWorkflow.badgeColor(item)">
                            {{ docWorkflow.majorPlaceMark(item) }}
                        </bs-badge>
                    </bs-grid-cell>
                    <bs-grid-cell :column="columns[7]" :item="item">
                        <bs-button v-if="showVerifyAction(item)"
                                   @click="confirmVerify(item)"
                                   v-tooltip="{content:'Verifikasi Data', placement:'top'}"
                                   color="green"
                                   icon="check"
                                   icon-position="left"
                                   size="xs"
                                   outlined/>
                        <bs-button v-if="canEdit(item)"
                                   @click="doEdit(item.docId)"
                                   v-tooltip="{content:'Sunting Data', placement:'top'}"
                                   color="primary"
                                   icon="pen"
                                   icon-position="left"
                                   size="xs"
                                   outlined/>
                        <bs-button v-tooltip="{content:'Lihat Data', placement:'top'}"
                                   @click="viewFile(item)"
                                   color="info"
                                   :icon="iconFile(item)"
                                   icon-position="left"
                                   size="xs"
                                   outlined/>
                        <bs-button v-if="canDelete(item)"
                                   @click="confirmDelete(item)"
                                   v-tooltip="{content:'Hapus Data', placement:'top'}"
                                   color="danger"
                                   icon="trash-alt"
                                   icon-position="left"
                                   size="xs"
                                   outlined/>
                    </bs-grid-cell>
                </template>
            </bs-grid>
            <bs-mask-loader :opacity="0"
                            :show="!loaded && kegiatan.loading && subkegiatan.loading && dataSource.loading"
                            :spinner-diameter="50"/>
        </bs-card>
        <bs-modal :open.sync="showModalDelete"
                  :esc-close="false"
                  :maxWidth="'100%'"
                  :overlay-close="false"
                  :width="450"
                  title="Konfirmasi">
            <div style="overflow-wrap: break-word;">
                Apakah anda yakin akan menghapus data dokumentasi <strong>{{ this.itemDoc.docTitle }}</strong> ini?
            </div>
            <template v-slot:footer="">
                <bs-button color="secondary" outlined v-on:click="showModalDelete = false">Batal</bs-button>
                <bs-button color="danger" v-on:click="onDeleteDoc">Hapus</bs-button>
            </template>
        </bs-modal>
        <bs-modal :open.sync="showModalVerify"
                  :esc-close="false"
                  :overlay-close="false"
                  :maxWidth="'100%'"
                  title="Verifikasi"
                  :width="450">
            <div style="overflow-wrap: break-word;">
                Apakah file <strong>{{ this.itemDoc.docTitle }}</strong> dokumentasi kegiatan sudah sesuai?
            </div>
            <template v-slot:footer="">
                <bs-button color="danger"
                           @click="doVerify('reject')">
                    Tidak Sesuai
                </bs-button>
                <bs-button color="primary"
                           @click="doVerify('verify')">
                    Ya
                </bs-button>
                <bs-button color="secondary"
                           outlined
                           @click="showModalVerify = false">
                    Batal
                </bs-button>
            </template>
        </bs-modal>
        <bs-modal :open.sync="showImageView"
                  :esc-close="true"
                  :overlay-close="true"
                  :maxWidth="'100%'"
                  :padding="'0px 15px 0px 0px'"
                  :width="1024">
            <div class="row">
                <div class="col-9 pr-0"
                     style="display: block; max-width: 100%; height:499px; overflow-y: scroll; overflow-x: hidden;">
                    <img :alt="this.itemDoc.docTitle" :src="this.itemDoc.url" :title="this.itemDoc.docTitle"
                         class="img-fluid" style="width: 100%"/>
                </div>
                <div class="col-3 pt-3" style="line-height: 1.5;">
                    <div class="row">
                        <div class="col-12 mt-4">
                            <div class="form-row mb-2">
                                <div class="col-md-12 text-muted font-weight-bold">Nama File</div>
                                <div class="col-md-12" style="overflow-wrap: break-word;">{{ this.itemDoc.docTitle }}
                                </div>
                            </div>
                            <div class="form-row mb-2">
                                <div class="col-md-12 text-muted font-weight-bold">Tipe</div>
                                <div class="col-md-12">{{ this.itemDoc.extension }}</div>
                            </div>
                            <div class="form-row mb-2">
                                <div class="col-md-12 text-muted font-weight-bold">Ukuran</div>
                                <div class="col-md-12">{{ bytesToSize(this.itemDoc.docSize) }}</div>
                            </div>
                            <div class="form-row mb-2">
                                <div class="col-md-12 text-muted font-weight-bold">Status</div>
                                <div class="col-md-12">
                                    <bs-badge :color="docWorkflow.badgeColor(this.itemDoc)"
                                              type="label">
                                        {{ docWorkflow.majorPlaceMark(this.itemDoc) }}
                                    </bs-badge>
                                </div>
                            </div>
                            <div class="form-row mb-2" v-if="this.itemDoc.isverified">
                                <div class="col-md-12 text-muted font-weight-bold">Verifikasi Oleh</div>
                                <div class="col-md-12">{{ this.itemDoc.verifiedBy.fullName }}</div>
                            </div>
                            <div class="form-row" v-if="this.itemDoc.isverified">
                                <div class="col-md-12 text-muted font-weight-bold">Tanggal Verifikasi</div>
                                <div class="col-md-12">{{ dateFormat(this.itemDoc.tanggalVerified, formatConst.fullDate)
                                    }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12" style="position: absolute">
                            <bs-button class="float-right"
                                       color="danger"
                                       icon="times"
                                       icon-position="left"
                                       outlined
                                       size="xs"
                                       v-on:click="showImageView = false"
                                       v-tooltip="{content:'Tutup', placement:'top'}"/>
                        </div>
                    </div>
                </div>
            </div>
        </bs-modal>
        <bs-modal :open.sync="showVideoView"
                  :esc-close="true"
                  :overlay-close="true"
                  :maxWidth="'100%'"
                  :line="0"
                  :padding="'0px 15px 0px 0px'"
                  :width="964">
            <div class="row">
                <div class="col-9 pr-0">
                    <Media :autoplay="true"
                           :controls="true"
                           :isMuted="(false)"
                           :kind="'video'"
                           :loop="false"
                           :src="[this.itemDoc.url]"
                           :style="{width: '720px', height: '480px'}"/>
                </div>
                <div class="col-3 pt-3" style="line-height: 1.5;">
                    <div class="row">
                        <div class="col-12 mt-4">
                            <div class="form-row mb-2">
                                <div class="col-md-12 text-muted font-weight-bold">Nama File</div>
                                <div class="col-md-12" style="overflow-wrap: break-word;">{{ this.itemDoc.docTitle }}
                                </div>
                            </div>
                            <div class="form-row mb-2">
                                <div class="col-md-12 text-muted font-weight-bold">Tipe</div>
                                <div class="col-md-12">{{ this.itemDoc.extension }}</div>
                            </div>
                            <div class="form-row mb-2">
                                <div class="col-md-12 text-muted font-weight-bold">Ukuran</div>
                                <div class="col-md-12">{{ bytesToSize(this.itemDoc.docSize) }}</div>
                            </div>
                            <div class="form-row mb-2">
                                <div class="col-md-12 text-muted font-weight-bold">Status</div>
                                <div class="col-md-12">
                                    <bs-badge :color="docWorkflow.badgeColor(this.itemDoc)"
                                              type="label">
                                        {{ docWorkflow.majorPlaceMark(this.itemDoc) }}
                                    </bs-badge>
                                </div>
                            </div>
                            <div class="form-row mb-2" v-if="this.itemDoc.isverified">
                                <div class="col-md-12 text-muted font-weight-bold">Verifikasi Oleh</div>
                                <div class="col-md-12">{{ this.itemDoc.verifiedBy.fullName }}</div>
                            </div>
                            <div class="form-row" v-if="this.itemDoc.isverified">
                                <div class="col-md-12 text-muted font-weight-bold">Tanggal Verifikasi</div>
                                <div class="col-md-12">{{ dateFormat(this.itemDoc.tanggalVerified, formatConst.fullDate)
                                    }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12" style="position: absolute">
                            <bs-button class="float-right"
                                       color="danger"
                                       icon="times"
                                       icon-position="left"
                                       outlined
                                       size="xs"
                                       v-on:click="showVideoView = false"
                                       v-tooltip="{content:'Tutup', placement:'top'}"/>
                        </div>
                    </div>
                </div>
            </div>
        </bs-modal>
    </div>
</template>
<script>
    import Media from "@dongido/vue-viaudio";
    import appLocale from "../../../../mixins/appLocale";
    import formatUtils from "../../../../mixins/formatUtils";
    import httpErrorResponse from "../../../../mixins/httpErrorResponse";
    import {DokumentasiModel} from "../../../../models/Kegiatan/Pengelolaan/DokumentasiModel";
    import {GALLERY, STATE_SUCCESS, STEP_REJECT, STEP_VERIFY} from "../../../../store/modules/mutation-types";
    import BsStore from "vue-bs4/src/model/BsStore";
    import defaultRouteGuard from "../../../../mixins/security/defaultRouteGuard";
    import DokumentasiWorkflowConfigurer from "../../../../models/Kegiatan/Pengelolaan/DokumentasiWorkflowConfigurer";
    import {KegiatanModel} from "../../../../models/Kegiatan/Pengelolaan/KegiatanModel";
    import {SubKegiatanModel} from "../../../../models/Kegiatan/Pengelolaan/SubKegiatanModel";

    export default {
        name: "GridGallery",
        components: {
            Media
        },
        mixins: [
            appLocale, formatUtils, httpErrorResponse, defaultRouteGuard
        ],
        data() {
            return {
                dataSource: null,
                namaKegiatan: null,
                namaSubKegiatan: null,
                kegiatan: new KegiatanModel(),
                subkegiatan: new SubKegiatanModel(),
                dokumentasi: new DokumentasiModel(),
                docWorkflow: new DokumentasiWorkflowConfigurer('dokumentasi'),
                updating: false,
                loaded: false,
                showImageView: false,
                showVideoView: false,
                showModalDelete: false,
                showModalVerify: false,
                itemDoc: {}
            }
        },
        beforeDestroy() {
            this.dataSource.destroy();
            this.dataSource = null;

            this.dokumentasi.destroy();
            this.dokumentasi = null;

            this.kegiatan.destroy();
            this.kegiatan = null;

            this.subkegiatan.destroy();
            this.subkegiatan = null;

            this.docWorkflow.destroy();
            this.docWorkflow = null;

            this.itemDoc = null;
        },
        created() {
            this.load();
            if (this.$route.params.id) {
                this.fetchKegiatan(this.$route.params.id);
            }
            if (this.$route.params.sid) {
                this.fetchSubKegiatan(this.$route.params.sid);
            }
        },
        computed: {
            /**
             * Get a workflow.
             *
             * @return {Workflow} A workflow object instance
             */
            workflow() {
                return this.docWorkflow.workflow;
            },
        },
        methods: {
            /**
             * @param {DokumentasiModel} item Data model
             * @return {boolean} TRUE jika item dokumentasi belum diverifikasi
             */
            showVerifyAction(item) {
                return (this.workflow.canXor(item, [STEP_VERIFY]));
            },
            /**
             * @param {DokumentasiModel} item Data model
             * @return {boolean} TRUE jika item dokumentasi dapat disunting
             */
            canEdit(item) {
                return (this.hasEditorAccessRights && this.workflow.canXor(item, [STEP_VERIFY, STEP_REJECT]));
            },
            /**
             * @param {DokumentasiModel} item Data model
             * @return {boolean} TRUE jika item dokumentasi dapat dihapus
             */
            canDelete(item) {
                return (this.hasDeleteAccessRights && this.workflow.canXor(item, [STEP_VERIFY, STEP_REJECT]));
            },
            /**
             * Menampilkan modal dialog view file.
             *
             * @param {DokumentasiModel} item Data model
             * @return {void}
             */
            viewFile(item) {
                let images = ["jpg", "gif", "png", "jpeg"];
                let video = ["mp4"];

                this.itemDoc = item;

                if (images.includes(item.extension)) {
                    this.showImageView = true;
                } else if (video.includes(item.extension)) {
                    this.showVideoView = true;
                }
            },
            iconFile(item) {
                let video = ["mp4"];
                return video.includes(item.extension) ? 'video' : 'image';
            },
            addDocuments() {
                const kegId = this.$route.params.id;
                const subId = this.$route.params.sid;
                this.$router.push('/kegiatan/pengelolaan/' + kegId + '/dokumentasi/' + subId + '/update/galeri');
            },
            doEdit(id) {
                const kegId = this.$route.params.id;
                const subId = this.$route.params.sid;
                this.$router.push('/kegiatan/pengelolaan/' + kegId + '/dokumentasi/' + subId + '/update/' + id);
            },
            /**
             * Menampilkan modal dialog verifikasi data record.
             *
             * @param {DokumentasiModel} item Data model
             * @return {void}
             */
            confirmVerify(item) {
                if (this.workflow.canXor(item, [STEP_VERIFY])) {
                    this.itemDoc = item;
                    this.showModalVerify = true;
                }
            },
            /**
             * Menampilkan modal dialog konfirmasi delete record.
             *
             * @param {DokumentasiModel} item Data model
             * @return {void}
             */
            confirmDelete(item) {
                this.showModalDelete = true;
                this.itemDoc = item;
            },
            /**
             * Proses delete item dokumentasi
             */
            onDeleteDoc() {
                const url = '/kegiatan/dokumentasi/delete/' + this.itemDoc.docId;

                const config = {
                    'url': url,
                    'method': 'delete'
                };

                this.showModalDelete = false;
                this.updating = true;

                this.$axios(config).then((resp) => {
                    this.$notification.success(resp.data.message, STATE_SUCCESS);
                    this.$refs.galerifoto.reload();
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            },
            /**
             * Proses verifikasi item dokumentasi
             */
            doVerify(status) {
                const url = '/kegiatan/dokumentasi/verify/' + this.itemDoc.docId + '/' + status;

                const config = {
                    'url': url,
                    'method': 'patch'
                };

                this.showModalVerify = false;
                this.updating = true;

                this.$axios(config).then((resp) => {
                    this.$notification.success(resp.data.message, STATE_SUCCESS);
                    this.$refs.galerifoto.reload();
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            },
            /**
             * Load primary data from remote source.
             *
             * @return {Promise<void>} Promise interface
             */
            async load() {
                try {
                    this.dataSource = new BsStore({
                        idProperty: 'docId',
                        dataProperty: 'data',
                        totalProperty: 'total',
                        pageSize: 10,
                        restUrl: {
                            browse: '/kegiatan/dokumentasi/view/' + this.$route.params.id + '/' + this.$route.params.sid + '/' + GALLERY
                        }
                    });
                    this.loaded = true;
                } catch (e) {
                    this.showErrorMessage(e);
                }
            },
            /**
             * Fetch data Kegiatan from remote server.
             *
             * @param {number} id Kegiatan ID
             * @return {void}
             */
            fetchKegiatan(id) {
                this.kegiatan.fetch(id).then(() => {
                    this.namaKegiatan = this.kegiatan.namaKegiatan;
                    this.loaded = true;
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            },
            /**
             * Fetch data sub kegiatan from remote server.
             */
            fetchSubKegiatan(sid) {
                this.subkegiatan.fetch(sid).then(() => {
                    this.namaSubKegiatan = this.subkegiatan.title;
                    this.loaded = true;
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            },
            /**
             * Konversi ukuran file
             */
            bytesToSize(bytes, decimals = 2) {
                if (bytes === 0) return '0 Bytes';

                const k = 1024;
                const dm = decimals < 0 ? 0 : decimals;
                const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];

                const i = Math.floor(Math.log(bytes) / Math.log(k));

                return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
            }
        }
    }
</script>

<style scoped>

</style>
