<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div>
    <bs-modal :esc-close="false"
              :open.sync="openModalDelete"
              :overlay-close="false"
              max-width="90%"
              title="Konfirmasi"
              width="450">
      Apakah anda yakin akan menghapus {{ itemRab.sid ? 'Subkegiatan:' : 'entri RAB:' }}
      <b>{{ itemRab.title }}</b>?
      <template v-slot:footer="">
        <bs-button color="secondary"
                   outlined
                   @click="openModalDelete = false">
          Batal
        </bs-button>
        <bs-button color="danger" @click="modalAction('delete')">
          Hapus
        </bs-button>
      </template>
    </bs-modal>
    <bs-modal :esc-close="false"
              :open.sync="openModalSubmit"
              :overlay-close="false"
              max-width="90%"
              title="Konfirmasi"
              width="450">
      Apakah anda yakin {{ approval.action === 'submit_realisasi' ? 'realisasi' : 'pengelolaan' }}
      RAB Kegiatan sudah benar dan bisa untuk disubmit ?
      <template v-slot:footer="">
        <bs-button color="secondary"
                   outlined
                   @click="openModalSubmit = false">
          Batal
        </bs-button>
        <bs-button color="primary" @click="modalAction('submit')">
          Kirim
        </bs-button>
      </template>
    </bs-modal>
    <bs-modal :open.sync="openModalVerify"
              max-width="90%"
              title="Konfirmasi"
              width="450">
      Apakah anda yakin
      {{ approval.action === 'closing' ? '' : approval.action === 'verify' ? 'pengelolaan' : 'realisasi' }}
      RAB Kegiatan sudah
      {{ approval.action === 'closing' ? 'bisa ditutup' : 'benar' }}?
      <div v-if="approval.action !== 'closing'"
           class="form-group">
        <bs-text-area placeholder="Wajib mencantumkan komentar jika reject"
                      rows="3"
                      v-model="approval.reason">
          <label class="col-form-label col-md-3">
            Komentar
          </label>
        </bs-text-area>
      </div>
      <template v-slot:footer="">
        <bs-button v-if="approval.action !== 'closing'"
                   :disabled="approval.reason == null || approval.reason === ''"
                   color="danger"
                   @click="modalAction('reject')">
          Reject
        </bs-button>
        <bs-button v-else
                   color="secondary"
                   outlined
                   @click="openModalVerify = false">
          Batal
        </bs-button>
        <bs-button :color="approval.action === 'closing' ? 'danger' : 'primary'"
                   @click="modalAction('verify')">
          {{ submitBtnText }}
        </bs-button>
      </template>
    </bs-modal>
    <bs-modal :esc-close="false"
              :open.sync="openModalRealisasi"
              :overlay-close="false"
              max-width="90%"
              width="500">
      <h5 class="font-weight-normal mb-3">
        {{ itemRab.title }}
      </h5>
      <div class="form-group">
        <bs-number-field :value="itemRab.anggaran"
                         :locale="getLocale"
                         prepend-icon="trash"
                         readonly
                         required>
          <template v-slot:prependSlot="">
            <span class="md-icon-text">Rp.</span>
          </template>
          <label class="col-form-label col-md-3 text-left text-md-right">
            Anggaran :
          </label>
        </bs-number-field>
      </div>
      <div class="form-group mb-1">
        <bs-number-field v-model.number="itemRab.realisasi"
                         :locale="getLocale"
                         prepend-icon="trash"
                         autofocus
                         required>
          <template v-slot:prependSlot="">
            <span class="md-icon-text">Rp.</span>
          </template>
          <label class="col-form-label col-md-3 text-left text-md-right">
            Realisasi :
          </label>
        </bs-number-field>
      </div>
      <template v-slot:footer="">
        <bs-button color="secondary"
                   outlined
                   @click="cancelRealisasi">
          Batal
        </bs-button>
        <bs-button :disabled="itemRab.realisasi == null || isNaN(itemRab.realisasi)"
                   color="primary"
                   @click="modalAction('save-realisasi')">
          Simpan
        </bs-button>
      </template>
    </bs-modal>
  </div>
</template>

<script>
import { BsStore, Helper } from "vue-bs4";
import appLocale from "../../../../mixins/appLocale";
import formatUtils from "../../../../mixins/formatUtils";
import {GET_ACTIVE_KEGIATAN} from "../../../../store/modules/Kegiatan/mutation-types";
import { STEP_CLOSING, STEP_VERIFY, STEP_VERIFY_REALISASI } from "../../../../store/modules/mutation-types";

export default {
    name: "ModalDialogRab",
  mixins: [appLocale, formatUtils],
    props: {
        approval: {
            type: Object,
            default: undefined,
            required: true
        },
        itemRab: {
            type: Object,
            default: undefined,
            required: true
        },
        showModalDelete: {
            type: Boolean,
            default: false,
            required: true
        },
        showModalRealisasi: {
            type: Boolean,
            default: false,
            required: true
        },
        showModalSubmit: {
            type: Boolean,
            default: false,
            required: true
        },
        showModalVerify: {
            type: Boolean,
            default: false,
            required: true
        },
      dataSource: {
        type: BsStore,
        default: undefined
      },
    },
    computed: {
        openModalDelete: {
            get() {
                return this.showModalDelete;
            },
            set(value) {
                this.$emit('update:showModalDelete', value);
            }
        },
        openModalRealisasi: {
            get() {
                return this.showModalRealisasi;
            },
            set(value) {
                this.$emit('update:showModalRealisasi', value);
            }
        },
        openModalSubmit: {
            get() {
                return this.showModalSubmit;
            },
            set(value) {
                this.$emit('update:showModalSubmit', value);
            }
        },
        openModalVerify: {
            get() {
                return this.showModalVerify;
            },
            set(value) {
                this.$emit('update:showModalVerify', value);
            }
        },
        /**
         * Change submit button text based on dialog action.
         *
         * @return {string} Button text
         */
        submitBtnText() {
            if (this.approval.action.includes(STEP_VERIFY) ||
                this.approval.action.includes(STEP_VERIFY_REALISASI)) {
                return 'Verify'
            } else if (this.approval.action.includes(STEP_CLOSING)) {
                return 'Tutup';
            } else {
                return 'Submit';
            }
        }
    },
    mounted() {
      if (!Helper.isEmpty(this[GET_ACTIVE_KEGIATAN])) {
        this.$refs.gridhistory.load();
      }
    },
    methods: {
        /**
         * Fire event on modal dialog button's clicked.
         *
         * @param {String} name The action name
         * @return {void}
         */
        modalAction(name) {
            this.$emit(name);
        },
        cancelRealisasi() {
            if (isNaN(this.itemRab.realisasi)) {
                this.itemRab.realisasi = null;
            }

            this.openModalRealisasi = false;
        }
    }
}
</script>

<style scoped>

</style>
