<template>
  <div class="body-container">
    <transition name="fade">
      <bs-card v-if="showGrid" shadow>
        <bs-grid :data-source="dataSource"
                 :pageable="enablePaging"
                 row-hover
                 sortable
                 @filter="onAfterSearch">
          <bs-grid-toolbar slot="toolbar" class="px-3">
            <bs-grid-tool-search field="searchFts"
                                 operator="fts"
                                 placeholder="Pencarian..."
                                 class="rounded-pill" />
          </bs-grid-toolbar>
          <bs-grid-column field="id"
                          label="Tindakan"
                          width="90"
                          :sortable="false" />
          <bs-grid-column field="namaInstitusi"
                          min-width="250"
                          :label="generateLabel('namaInstitusi')" />
          <bs-grid-column field="alamat"
                          label="Alamat"
                          min-width="350"
                          :sortable="false" />
          <bs-grid-column field="kecamatan.kabupaten.namaKabupaten"
                          label="Kabupaten"
                          width="150" />
          <bs-grid-column field="kecamatan.kabupaten.provinsi.namaProvinsi"
                          label="Provinsi"
                          width="150" />
          <bs-grid-column field="swasta"
                          label="Status"
                          width="70" />
          <bs-grid-column field="nilaiAkreditasi"
                          label="Akreditasi"
                          width="100"
                          data-align="center"
                          text-align="center" />
          <bs-grid-column field="tahunBerdiri"
                          label="Berdiri Tahun"
                          width="110"
                          data-align="center"
                          text-align="center" />

          <template v-slot:datarow="{ columns, item, index }">
            <bs-grid-cell :column="columns[0]" :item="item" :index="index">
              <bs-button block
                         color="default"
                         outlined
                         size="sm"
                         @click="doAddToProgram(item)">
                Pilih
              </bs-button>
            </bs-grid-cell>
            <bs-grid-cell :column="columns[1]" :item="item" :index="index" />
            <bs-grid-cell :column="columns[2]" :item="item" :index="index">
              {{ alamatBeneficiary(item) }}
            </bs-grid-cell>
            <bs-grid-cell :column="columns[3]" :item="item" :index="index" />
            <bs-grid-cell :column="columns[4]" :item="item" :index="index" />
            <bs-grid-cell :column="columns[5]" :item="item" :index="index">
              {{ item.swasta === true ? 'Swasta' : 'Negeri' }}
            </bs-grid-cell>
            <bs-grid-cell :column="columns[6]" :item="item" :index="index">
              <span v-if="item.akreditasi"><b>{{ item.nilaiAkreditasi }}</b></span>
            </bs-grid-cell>
            <bs-grid-cell :column="columns[7]" :item="item" :index="index" />
          </template>
        </bs-grid>
        <bs-card-footer class="pt-1 pb-3 bg-white">
          <div class="row">
            <div class="col">
              <bs-switch v-model="isAddDisable">
                Data tidak ditemukan
              </bs-switch>
            </div>
            <div class="col pt-2 text-right">
              <bs-button color="amber"
                         icon="plus-circle"
                         icon-position="left"
                         :href="addSmkPoltek()"
                         :disabled="!isAddDisable">
                Tambah Baru
              </bs-button>
            </div>
          </div>
        </bs-card-footer>
      </bs-card>
    </transition>
    <bs-mask-loader :opacity="0"
                    :show="showGrid === false"
                    :spinner-diameter="50" />
  </div>
</template>

<script>
import { BsStore } from "vue-bs4";
import { PAGE_SIZE, STATE_SUCCESS } from "../../../../../store/modules/mutation-types";
import { GET_ACTIVE_PROGRAM } from "../../../../../store/modules/Kegiatan/mutation-types";
import appLocale from "../../../../../mixins/appLocale";
import formatUtils from "../../../../../mixins/formatUtils";
import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
import mapStoreMutations from "../../../../../mixins/mapStoreMutations";
import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";
import smkPoltekEditorRouteGuard from "../../../../../mixins/security/smkPoltekEditorRouteGuard";
import smkPoltek from "../../../../../mixins/kegiatan/smkPoltek";

export default {
    name: "GridSearchSmkPoltek",
    mixins: [
        appLocale, formatUtils, mapStoreKegiatanBeneficiary, mapStoreMutations, httpErrorResponse,
        smkPoltek, smkPoltekEditorRouteGuard
    ],
    data: (vm) => ({
        dataSource: new BsStore({
            idProperty: 'id',
            dataProperty: 'data',
            totalProperty: 'total',
            pageSize: PAGE_SIZE,
            filters: [
                {property: 'kategori', value: vm.$route.params.kategori === 'poltek' ? 3 : 2, operator: 'eq'}
            ],
            restUrl: {
                browse: 'kegiatan/penerima-manfaat/pendidikan/smk-poltek'
            }
        }),
        isAddDisable: false,
        keywordSearch: ""
    }),
    /**
     * @return {void}
     */
    created() {
        if (!this.hasEditorAccessRights) {
            this.$router.push('/access-denied');
            return;
        }

        const id = this.$route.params.idprogram;

        if (this[GET_ACTIVE_PROGRAM] === null) {
            this.fetchDpt(id);
        }

        this.dataSource.load().then(() => {
            if (this.dataSource.dataItems.length === 0) {
                this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] +
                    '/pendidikan/institusi/' + this.getActiveCategory() + '/create');
            }
        }).catch((error) => {
            this.showErrorMessage(error);
            this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] +
                '/pendidikan/institusi/' + this.getActiveCategory());
        });

        this.$route.meta.title    = this.generateLabel('title');
        this.$route.meta.previous = '../' + this.getActiveCategory();
        this.setPageTitle(this.$route.meta.title);
        this.dataSource.setFilters(null, true);
    },
    beforeDestroy() {
        this.dataSource.destroy();
        this.dataSource = null;
    },
    methods: {
        /**
         * Get route Url untuk menampilkan Form Tambah Data SMK/Poltek.
         *
         * @return {string} Route Url
         */
        addSmkPoltek() {
            return '#/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM]
                + '/pendidikan/institusi/' + this.getActiveCategory() + '/create';
        },
        /**
         * Assign selected SMK/POLTEK to the current/aktif DPT.
         *
         * @param {Object} item current/active DPT
         * @return {void}
         */
        doAddToProgram(item) {
            const data = {
                'beneficiary': item.institusiId,
                'program': this[GET_ACTIVE_PROGRAM]
            };

            this.$http.post('/kegiatan/penerima-manfaat/pendidikan/smk-poltek/addto-program', data).then(() => {
                this.$notification.success(item.namaInstitusi + ' telah berhasil ditambahkan.', STATE_SUCCESS);
                this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM]
                    + '/pendidikan/institusi/' + this.getActiveCategory());
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM]
                    + '/pendidikan/institusi/' + this.getActiveCategory());
            });
        }
    }
}
</script>

<style scoped>

</style>
