{% extends 'layout/base.html.twig' %}

{% block head_title %}LOGIN - Adaro CSRMS{% endblock %}

{% block body %}
  <div id="login-page">
    <div class="container-fluid pl-0">
      <div class="row">
        <div class="col-9" id="cover">
          <div class="top-header">
            <img src="{{ asset('images/login-logo.png') }}" alt="">
            <span class="tagline">Nyalakan Perubahan</span>
          </div>
        </div>
        <div class="col-3 login-wrapper">
          <img src="{{ asset('images/login-artbox.png') }}" alt="" class="art">
          <div class="login-panel">
            <div class="login-panel-heading">
              <h2>CSR Management System</h2>
            </div>
            <div class="login-panel-body">
              <form action="{{ path('auth_login_check') }}" method="post">
                <div class="form-group">
                  <label for="username">Akun Pengguna</label>
                  <input type="text" class="form-control" id="username" name="_username"
                         required="required" aria-required="true" autocomplete="off"
                         aria-autocomplete="none" autofocus
                         placeholder="Ketik username atau alamat email">
                </div>
                <div class="form-group">
                  <label for="inputPassword">Kata Sandi</label>
                  <div class="input-group mb-2">
                    <input type="password" class="form-control rounded-right custom-input" id="inputPassword"
                           name="_password" required="required" aria-required="true"
                           placeholder="Ketik kata sandi atau password">
                    <div class="custom-append" onclick="togglePassword()">
                      <i id="icon-append" class="fa fa-eye-slash"></i>
                    </div>
                  </div>
                  <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
                <div class="action-group">
                  <button type="submit" class="btn btn-lg btn-block btn-main">Login</button>
                </div>
              </form>
              {% if error %}
                <div class="alert alert-danger mt-4">
                  {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
              {% endif %}
              <div class="pt-3 forgot-password">
                <a href="{{ path('app_user_forgotpassword_index') }}">{{ "ForgotPassword.LinkText"|trans }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('login-page') }}
  <link type="text/css" media="screen" rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
  function togglePassword() {
      let elm  = document.getElementById("inputPassword");
      let icon = document.getElementById("icon-append");

      if (elm.type === "password") {
          elm.type       = "text";
          icon.className = "fa fa-eye";
      } else {
          elm.type       = "password";
          icon.className = "fa fa-eye-slash";
      }
  }
  </script>
{% endblock %}