<template>
  <transition name="fade">
    <div v-if="show" class="md-mask-loader">
      <bs-progress class="align-self-center" :diameter="spinnerDiameter" :stroke="stroke" />
      <bs-overlay :show="show" :opacity="opacity" :z-index="100" />
    </div>
  </transition>
</template>

<script>
import BsProgress from "./BsProgress";

export default {
    name: "BsMaskLoader",
    components: {BsProgress},
    props: {
        show: Boolean,
        spinnerDiameter: {
            type: Number,
            default: 35
        },
        stroke: {
            type: Number,
            default: 5
        },
        opacity: {
            type: Number,
            default: 0.4
        }
    }
}
</script>

<style lang="scss">
  @import "../../../scss/colors";
  @import "../../../scss/variables";

  .#{$prefix}-mask-loader {
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
    max-height: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    display: -ms-flexbox;
    position: absolute;
    justify-content: center;
    -ms-flex-pack: center;
  }
</style>
