html, body {
    font-size: 1rem;
    line-height: 1.2;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
}
/* What it does: Stops email clients resizing small text. */
* {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
/* What it does: Stops Outlook from adding extra spacing to tables. */
table, td {
    mso-table-lspace: 0 !important;
    mso-table-rspace: 0 !important;
}
/* Start css rules for email template */
table {
    border-spacing: 0 !important;
    border-collapse: collapse !important;
    table-layout: fixed !important;
    margin: 0 auto !important;
    padding: 0 !important;
}

table table table {
    table-layout: auto;
}

p {
    margin: 8px 0;
}

.container {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 12pt;
    width: 768px;
}

.container td > table {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 12pt;
    width: 100%;
}

table td.content {
    padding: 24px 18px 6px 20px;
}

table td.content-footer {
    padding: 8px 0 6px 0;
    border-top: 3px solid #bbb;
}

table.footer {
    width: 100%;
}

table.footer td {
    color: #999;
    font-size: 10pt;
    padding: 2px 18px;
}

.link-button {
    background-color: #376449;
    color: #fff;
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: .3rem;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
}
