<!DOCTYPE html>
<html lang="id" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-size: 1rem; line-height: 1.2; width: 100%;">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>{% block head_title %}Email Subject!{% endblock %}</title>
  <style type="text/css">
    {% block stylesheets %}
    {{ source('emails/media.css') }}
    {% endblock %}
  </style>
</head>
<body style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-size: 1rem; line-height: 1.2; width: 100%; margin: 0; padding: 0;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0; mso-table-rspace: 0; border-spacing: 0; border-collapse: collapse; table-layout: fixed; margin: 0 auto; padding: 0;">
  <tbody style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
    <tr style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
      <td style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0; mso-table-rspace: 0;">
  {% block body %}{% endblock %}
      </td>
    </tr>
  </tbody>
</table>
</body>
</html>