@media only screen and (max-width: 480px) {
    table.footer td {
        font-size: .75rem !important;
    }

    .container, .container td > table {
        font-size: .875rem !important;
    }

    .container {
        width: 100% !important;
    }
}

@media only screen and (max-width: 800px) {
    table.footer td {
        font-size: .75rem !important;
    }

    .container, .container td > table {
        font-size: .875rem !important;
    }

    .container {
        width: 100% !important;
    }
}
