<template>
  <div class="body-container">
    <transition name="fade">
      <bs-card v-if="showGrid" shadow>
        <bs-grid :data-source="dataSource"
                 :pageable="enablePaging"
                 row-hover
                 sortable
                 @filter="onAfterSearch">
          <bs-grid-toolbar class="px-3" slot="toolbar">
            <bs-grid-tool-search class="rounded-pill"
                                 field="searchFts"
                                 operator="fts"
                                 placeholder="Pencarian..." />
          </bs-grid-toolbar>
          <bs-grid-column :sortable="false"
                          field="institusiId"
                          label="Tindakan"
                          width="90" />
          <bs-grid-column field="namaInstitusi"
                          label="Nama Institusi" />
          <bs-grid-column :sortable="false"
                          field="alamat"
                          label="Alamat"
                          min-width="350" />
          <bs-grid-column field="kecamatan.namaKecamatan"
                          label="Kecamatan"
                          width="150" />
          <bs-grid-column field="kecamatan.kabupaten.namaKabupaten"
                          label="Kabupaten"
                          width="150" />
          <bs-grid-column field="kecamatan.kabupaten.provinsi.namaProvinsi"
                          label="Provinsi"
                          width="150" />
          <bs-grid-column field="tahunBerdiri"
                          label="Berdiri Tahun"
                          text-align="center"
                          width="110" />
          <bs-grid-column field="namaPimpinan"
                          label="Nama Pimpinan"
                          text-align="center"
                          width="150" />

          <template v-slot:datarow="{ columns, item, index }">
            <bs-grid-cell :column="columns[0]" :index="index" :item="item">
              <bs-button block
                         outlined
                         color="default"
                         size="sm"
                         @click="doAddToProgram(item)">
                Pilih
              </bs-button>
            </bs-grid-cell>
            <bs-grid-cell :column="columns[1]" :index="index" :item="item" />
            <bs-grid-cell :column="columns[2]" :index="index" :item="item">
              {{ alamatBeneficiary(item) }}
            </bs-grid-cell>
            <bs-grid-cell :column="columns[3]" :index="index" :item="item" />
            <bs-grid-cell :column="columns[4]" :index="index" :item="item" />
            <bs-grid-cell :column="columns[5]" :index="index" :item="item" />
            <bs-grid-cell :column="columns[6]" :index="index" :item="item" />
            <bs-grid-cell :column="columns[7]" :index="index" :item="item" />
          </template>
        </bs-grid>
        <bs-card-footer class="pt-1 pb-3 bg-white">
          <div class="row">
            <div class="col">
              <bs-switch v-model="isAddDisable">
                Data tidak ditemukan
              </bs-switch>
            </div>
            <div class="col pt-2 text-right">
              <bs-button :disabled="!isAddDisable"
                         :href="urlAddPesantren"
                         color="amber"
                         icon="plus-circle"
                         icon-position="left">
                Tambah Baru
              </bs-button>
            </div>
          </div>
        </bs-card-footer>
      </bs-card>
    </transition>
    <bs-mask-loader :opacity="0"
                    :show="showGrid === false"
                    :spinner-diameter="50" />
  </div>
</template>

<script>
import { BsStore } from "vue-bs4";
import { PAGE_SIZE, STATE_SUCCESS } from "../../../../../store/modules/mutation-types";
import { GET_ACTIVE_PROGRAM } from "../../../../../store/modules/Kegiatan/mutation-types";
import appLocale from "../../../../../mixins/appLocale";
import formatUtils from "../../../../../mixins/formatUtils";
import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";
import editorRouteGuard from "../../../../../mixins/security/editorRouteGuard";

export default {
    name: 'GridSearchPesantren',
    mixins: [appLocale, formatUtils, mapStoreKegiatanBeneficiary, editorRouteGuard, httpErrorResponse],
    data: () => ({
        dataSource: new BsStore({
            idProperty: 'institusiId',
            dataProperty: 'data',
            totalProperty: 'total',
            pageSize: PAGE_SIZE,
            restUrl: {
                browse: '/kegiatan/penerima-manfaat/pelatihan/institusi'
            }
        }),
        isAddDisable: false
    }),
    computed: {
        /**
         * Get route Url untuk menampilkan Form Tambah Data Pesantren/Yayasan.
         *
         * @return {string}
         **/
        urlAddPesantren() {
            return '#/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/pelatihan/institusi/create';
        }
    },
    created() {
        if (!this.hasEditorAccessRights) {
            this.$router.push('/access-denied');
            return;
        }

        const id = this.$route.params.idprogram;

        if (this[GET_ACTIVE_PROGRAM] === null) {
            this.fetchDpt(id);
        }

        this.dataSource.load().then(() => {
            if (this.dataSource.dataItems.length === 0) {
                this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] +
                    '/pelatihan/institusi/create');
            }
        }).catch((error) => {
            this.showErrorMessage(error);
            this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] +
                '/pelatihan/institusi');
        });
    },
    beforeDestroy() {
        this.dataSource.destroy();
        this.dataSource = null;
    },
    methods: {
        /**
         * Assign selected Pesantren/Yayasan to the current/aktif DPT.
         *
         * @param {Object} item Data model
         * @return {void}
         */
        doAddToProgram(item) {
            const data = {
                'beneficiary': item.institusiId,
                'program': this[GET_ACTIVE_PROGRAM]
            };

            this.$http.post('/kegiatan/penerima-manfaat/pelatihan/institusi/addto-program', data).then(() => {
                this.$notification.success(item.namaInstitusi + ' telah berhasil ditambahkan.', STATE_SUCCESS);
                this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/pelatihan/institusi');
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/pelatihan/institusi');
            });
        }
    }
}
</script>

<style scoped>

</style>
