<template>
    <div class="body-container">
        <bs-card shadow>
            <bs-card-body>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-row" x-ms-format-detection="none">
                            <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                                NOMOR TAGIHAN
                            </label>
                            <label class="col-md-9 font-weight-bold pt-1 text-md-right text-lg-left">
                                {{ tagihan.nomorSurat }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-row" x-ms-format-detection="none">
                            <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                                NAMA {{ isTerminMode ? 'TERMIN' : 'EXPENSE' }}
                            </label>
                            <label class="col-md-9 pt-1 text-md-right text-lg-left">
                                {{ tagihan.tipe_termin }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-row" x-ms-format-detection="none">
                            <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                                PERSEN PENCAIRAN
                            </label>
                            <label class="col-md-9 font-weight-bold pt-1 text-md-right text-lg-left">
                                {{ percentFormat(tagihan.persen) }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                            KEGIATAN
                        </label>
                        <div class="form-row" x-ms-format-detection="none">
                            <div class="table-responsive" style="min-height: 150px; position: relative">
                                <table class="table table-sm table-valign-middle table-bordered table-outer-borderless mb-0">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>
                                                Nama
                                            </th>
                                            <th>
                                                Anggaran
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item, idx) in tagihan.children" >
                                            <td>
                                                {{ item.title }}
                                            </td>
                                            <td class="text-right">
                                                {{ moneyFormat(item.amount) }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <bs-button v-if="(hasVerificatorAccessRights || hasApprovalAccessRights)"
                                   color="amber"
                                   size="sm"
                                   class="mb-2"
                                   :href="hrefDetailKeuangan"
                                   raised>
                            Lihat Rincian Data RAB
                        </bs-button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-row" x-ms-format-detection="none">
                            <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                                TOTAL BUDGET
                            </label>
                            <label class="col-md-9 font-weight-bold pt-1 text-md-right text-lg-left">
                                Rp. {{ moneyFormat(tagihan.totalBudget) }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-row" x-ms-format-detection="none">
                            <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                                TOTAL PENCAIRAN
                            </label>
                            <label class="col-md-9 h5 text-md-right text-lg-left">
                                Rp. {{ moneyFormat(tagihan.totalPencairan) }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-row" x-ms-format-detection="none">
                            <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                                STATUS
                            </label>
                            <div class="col-md-9 text-md-right text-lg-left">
                                <bs-badge :color="workflowConfigurer.badgeColor(tagihan)" type="label">
                                    {{ workflowConfigurer.majorPlaceMark(tagihan) }}
                                </bs-badge>
                            </div>
                        </div>
                    </div>
                </div>
            </bs-card-body>
        </bs-card>
        <bs-card shadow class="mt-1" v-if="hasEditorAccessRights">
            <bs-card-body>
                <div class="row">
                    <div class="col-xl-8">
                        <bs-menu>
                            <bs-button icon="file-alt"
                                       icon-position="left"
                                       size="sm"
                                       dropdown-toggle
                                       outlined>
                                Unduh / Cetak
                            </bs-button>
                            <bs-list slot="content">
                                <bs-list-item>
                                    <a class="font-weight-bold text-dark" :href="hrefCetakTagihan" target="_blank">
                                        Unduh Dokumen Cetak Tagihan
                                    </a>
                                </bs-list-item>
                            </bs-list>
                        </bs-menu>

                    </div>
                </div>

            </bs-card-body>
        </bs-card>

        <bs-card class="mt-2" shadow>
            <bs-card-body>
                <div class="row">
                    <div class="col-md border-right">
                        <dl class="form-row mb-0">
                            <dt class="col-xl-5">
                                Dibuat Oleh:
                            </dt>
                            <dd class="col-xl-7">
                                {{ tagihan.created_by ? tagihan.created_by.fullName : '' }}
                            </dd>
                            <dt class="col-xl-5">
                                Tanggal:
                            </dt>
                            <dd class="col-xl-7">
                                {{ tagihan.created_date ? dateFormat(tagihan.created_date, formatConst.dateTimeCustom) : '' }}
                                &nbsp;
                            </dd>
                            <dt class="col-xl-5">
                                Dicetak oleh:
                            </dt>
                            <dd class="col-xl-7">
                                {{ tagihan.printed_by ? tagihan.printed_by.fullName : '' }}
                            </dd>
                            <dt class="col-xl-5">
                                Tanggal:
                            </dt>
                            <dd class="col-xl-7">
                                {{ tagihan.printed_date ? dateFormat(tagihan.printed_date, formatConst.dateTimeCustom) : '' }}
                                &nbsp;
                            </dd>
                            <dt class="col-xl-5">
                                Dikirim oleh:
                            </dt>
                            <dd class="col-xl-7">
                                {{  tagihan.sent_by ? tagihan.sent_by.fullName : ''  }}
                            </dd>
                            <dt class="col-xl-5">
                                Tanggal:
                            </dt>
                            <dd class="col-xl-7">
                                {{ tagihan.sent_date ? dateFormat(tagihan.sent_date, formatConst.dateTimeCustom) : '' }}
                                &nbsp;
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md border-right">
                        <dl class="form-row mb-0">
                            <dt class="col-xl-5">
                                Tagihan Diterima Oleh:
                            </dt>
                            <dd class="col-xl-7">
                                {{ tagihan.received_by ? tagihan.received_by.fullName : '' }}
                            </dd>
                            <dt class="col-xl-5">
                                Tanggal:
                            </dt>
                            <dd class="col-xl-7">
                                {{ tagihan.received_date ? dateFormat(tagihan.received_date, formatConst.dateTimeCustom) : '' }}
                                &nbsp;
                            </dd>
                            <template v-if="tagihan.status=='REJECTED'">
                            <dt class="col-xl-5">
                                Direject oleh:
                            </dt>
                            <dd class="col-xl-7">
                                {{ tagihan.rejected_by ? tagihan.rejected_by.fullName : '' }}
                            </dd>
                            <dt class="col-xl-5">
                                Tanggal:
                            </dt>
                            <dd class="col-xl-7">
                                {{ tagihan.rejected_date ? dateFormat(tagihan.rejected_date, formatConst.dateTimeCustom) : '' }}
                                &nbsp;
                            </dd>
                            <dt class="col-xl-5">
                                Alasan:
                            </dt>
                            <dd class="col-xl-7">
                                {{ tagihan.rejected_reason ? tagihan.rejected_reason : '' }}
                                &nbsp;
                            </dd>
                            </template>
                            <template v-else>
                            <dt class="col-xl-5">
                                Diverifikasi oleh:
                            </dt>
                            <dd class="col-xl-7">
                                {{ tagihan.approved_by ? tagihan.approved_by.fullName : '' }}
                            </dd>
                            <dt class="col-xl-5">
                                Tanggal:
                            </dt>
                            <dd class="col-xl-7">
                                {{ tagihan.approved_date ? dateFormat(tagihan.approved_date, formatConst.dateTimeCustom) : '' }}
                                &nbsp;
                            </dd>
                            </template>
                        </dl>
                    </div>
                    <div class="col-md" v-if="tagihan.approved_by">
                        <dl class="form-row mb-0">
                            <dt class="col-xl-5">
                                Dibayar Oleh:
                            </dt>
                            <dd class="col-xl-7">
                                {{ tagihan.paid_by ? tagihan.paid_by.fullName : '' }}
                            </dd>
                            <dt class="col-xl-5">
                                Tanggal:
                            </dt>
                            <dd class="col-xl-7">
                                {{ tagihan.paid_date ? dateFormat(tagihan.paid_date, formatConst.dateTimeCustom) : '' }}
                                &nbsp;
                            </dd>
                        </dl>
                    </div>
                </div>
            </bs-card-body>
        </bs-card>

        <bs-card class="mt-2" shadow>
            <bs-card-body class="mb-1">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-row" x-ms-format-detection="none">
                            <label class="col-form-label col-md-4 pt-1 font-weight-bold">
                                NOMOR VOUCHER (BDVC)
                            </label>
                            <label class="col-md-8 font-weight-bold pt-1 text-md-right text-lg-left">
                                {{ tagihan.nomorVoucherBdvc }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-row" x-ms-format-detection="none">
                            <label class="col-form-label col-md-4 pt-1 font-weight-bold">
                                Tanggal Transfer
                            </label>
                            <label class="col-md-8 pt-1 text-md-right text-lg-left">
                                {{ tagihan.transfer_date ? dateFormat(tagihan.transfer_date, formatConst.simpleDate) : '' }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" v-if="hasVerificatorAccessRights">
                    <div class="col-xl-8">
                        <div class="form-row" x-ms-format-detection="none">
                            <bs-button :href="hrefSuntingVoucher"
                                       color="success"
                                       size="sm"
                                       v-if="hasVerificatorAccessRights && (tagihan.status === 'PAID')"
                                       v-tooltip="{content:'Sunting Voucher dan Tanggal Transfer' , placement:'top'}">
                                SUNTING
                            </bs-button>
                        </div>
                    </div>
                </div>

            </bs-card-body>
            <bs-card-body v-if="tagihan.fileName">
                <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                    FILE PEMBAYARAN
                </label>
                <div class="mt-3 mb-2 text-center" style="max-height: 500px; display: flex" v-if="viewImage(tagihan)">
                    <img :src="uploadUrl" alt="File bukti bayar" class="img-fluid" />
                </div>
                <div class="mt-2" v-if="tagihan.fileExt.toLowerCase() === 'pdf'">
                    <pdf :page="page"
                         :src="uploadUrl"
                         @link-clicked="page = $event"
                         @num-pages="numPages = $event"
                         ref="pdfFile"
                         style="display: block; max-width: 100%; height:450px; border: 1px solid #ccc; overflow-y: scroll; overflow-x: hidden;"/>
                    <div class="mt-2">
                        <label> Halaman: <input :max="numPages" :min="1"
                                                class="form-control input-group-sm" style="display: inline;width: 5em"
                                                type="number" v-model.number="page"/> / <strong>{{numPages}}</strong>
                        </label>
                    </div>
                </div>
            </bs-card-body>
            <bs-card-footer>
                <bs-button color="primary" href="#/kegiatan/pencairan">
                    Kembali
                </bs-button>
            </bs-card-footer>
        </bs-card>
        <bs-mask-loader :opacity="0"
                        :show="loading"
                        :spinner-diameter="50"/>

    </div>
</template>

<script>
import appLocale from "../../../../mixins/appLocale";
import httpErrorResponse from "../../../../mixins/httpErrorResponse";
import formatUtils from "../../../../mixins/formatUtils";
import defaultRouteGuard from "../../../../mixins/security/defaultRouteGuard";
import PencairanWorkflowConfigurer from "../../../../models/Kegiatan/Pengelolaan/PencairanWorkflowConfigurer";
import pdf from "vue-pdf";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

export default {
	name: "ViewPencairanKegiatan",
    mixins: [ appLocale, httpErrorResponse, formatUtils, defaultRouteGuard ],
	components: {
		pdf: pdf,
		FontAwesomeIcon: FontAwesomeIcon
	},
    data: () => ({
		tagihan: {
			nomorSurat: '',
			isExpense: false,
			mitra: { namaLembaga: '' },
			tipe_termin: null,
			persen: 0,
			kegiatan: null,
			totalBudget: null,
			totalPencairan: 0,
		},
		page: 1,
		numPages: 0,
		loading: false,
        pencairanId: null,
		workflowConfigurer: new PencairanWorkflowConfigurer(),
	}),
    computed: {
		isTerminMode() {
			return !this.tagihan.isExpense;
        },
        namaKegiatan() {
		    if (this.tagihan.kegiatan) {
		    	return this.tagihan.kegiatan.namaKegiatan;
            }
		    return '';
        },
		baseRouteUrl(){
			return window.location.pathname;
		},
		hrefCetakTagihan() {
			return this.baseRouteUrl+'/kegiatan/pencairan/printdoc/' + this.pencairanId;
		},
        hrefSuntingVoucher(){
		    return "#/kegiatan/pencairan/voucher/" + this.pencairanId;
        },
        hrefDetailKeuangan(){
		    return "#/kegiatan/pencairan/rincian/" + this.pencairanId;
        },
        uploadUrl() {
			if (this.tagihan.filePath){
				return this.tagihan.filePath+'/'+this.tagihan.fileName;
            }
        }
	},
	created() {
		if (this.$route.params.id) {
			this.pencairanId = this.$route.params.id;
			this.loadPencairan(this.pencairanId);
		}
	},
	methods: {
		viewImage(item) {
			let images = ["jpg", "gif", "png", "jpeg"];
			return images.includes(item.fileExt.toLowerCase());
		},
		/**
		 * Fetch data Pencairan from remote server.
		 *
		 * @param {number} id SubKegiatan ID
		 * @return {void}
		 */
		loadPencairan(id) {
			this.loading = true;
			this.$http.get('/kegiatan/pencairan/' + id, [], []).then((resp) => {
				this.loading = false;
				let data = resp.data.data;
				this.tagihan = data;
			}).catch((error) => {
				this.loading = false;
				this.showErrorMessage(error);
				this.$nextTick(() => {
					this.$router.push(this.$route.meta.previous);
				});
			});
		}

	}
}
</script>

<style scoped>

</style>