<template>
    <div class="container">
        <bs-card shadow>
            <bs-card-body class="border-bottom">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-row" x-ms-format-detection="none">
                            <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                                NOMOR TAGIHAN
                            </label>
                            <label class="col-md-9 font-weight-bold pt-1 text-md-right text-lg-left">
                                {{ tagihan.nomorSurat }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="form-row" x-ms-format-detection="none">
                            <label class="col-form-label col-md-3 pt-1 font-weight-bold">
                                TOTAL PENCAIRAN
                            </label>
                            <label class="col-md-9 h5 text-md-right text-lg-left">
                                Rp. {{ moneyFormat(tagihan.totalPencairan) }}
                            </label>
                        </div>
                    </div>
                </div>

                <div v-if="dataItems">
                    <div class="form-group text-right">
                        <bs-menu>
                            <bs-button icon="file-alt"
                                       icon-position="left"
                                       size="sm"
                                       dropdown-toggle
                                       outlined>
                                Unduh / Cetak
                            </bs-button>
                            <bs-list slot="content">
                                <bs-list-item>
                                    <a class="font-weight-bold text-dark" :href="routeRincian" target="_blank">
                                        Unduh Rincian Pencairan
                                    </a>
                                </bs-list-item>
                                <bs-list-item>
                                    <a class="font-weight-bold text-dark" :href="routeCetakRincian" target="_blank">
                                        Cetak Rincian Pencairan
                                    </a>
                                </bs-list-item>
                            </bs-list>
                        </bs-menu>
                    </div>

                    <div v-if="!isExpense" class="table-responsive"
                         style="min-height: 250px; position: relative">
                        <table class="table table-sm table-valign-middle table-bordered table-outer-borderless mb-5">
                            <thead class="thead-light">
                            <tr>
                                <th class="text-center">
                                    Nama
                                </th>
                                <th class="text-center">
                                    Anggaran
                                </th>
                                <th class="text-center">
                                    Realisasi
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            <template v-for="(item, row) in dataItems">
                                <tr :class="rowClass(item.level)">
                                    <td>
                                        <div :class="judulClass(item.level)">
                                            {{ item.nama }}
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        {{ moneyFormat(item.anggaran) }}
                                    </td>
                                    <td class="text-right">
                                        {{ moneyFormat(item.paid) }}
                                    </td>
                                </tr>
                            </template>
                            </tbody>
                        </table>
                    </div>
                    <div v-else
                         class="table-responsive"
                         style="min-height: 250px; position: relative">
                        <table class="table table-sm table-valign-middle table-bordered table-outer-borderless mb-5">
                            <thead class="thead-light">
                            <tr>
                                <th class="text-center">
                                    Tgl Realisasi
                                </th>
                                <th class="text-center">
                                    Subkegiatan
                                </th>
                                <th class="text-center">
                                    Item Anggaran
                                </th>
                                <th class="text-center">
                                    Realisasi
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            <template v-for="(item, row) in dataItems">
                                <tr :class="rowClass(item.level)">
                                    <td>
                                        {{ item.tanggal }}
                                    </td>
                                    <template v-if="item.level == 'kegiatan'" >
                                        <td colspan="2">
                                            KEGIATAN: {{ item.namaKegiatan }}
                                        </td>
                                    </template>
                                    <template v-else>
                                    <td>
                                        {{ item.subkegiatan }}
                                    </td>
                                    <td>
                                        {{ item.itemrab }}
                                    </td>
                                    </template>
                                    <td class="text-right">
                                        {{ moneyFormat(item.amount) }}
                                    </td>
                                </tr>
                            </template>
                            </tbody>
                        </table>
                    </div>
                </div>
                <bs-mask-loader :opacity="0" :show="loading" :spinner-diameter="50"/>
            </bs-card-body>
        </bs-card>
    </div>
</template>

<script>
import { BsStore, Helper } from "vue-bs4";
import appLocale from "../../../../mixins/appLocale";
import formatUtils from "../../../../mixins/formatUtils";
import httpErrorResponse from "../../../../mixins/httpErrorResponse";
import defaultRouteGuard from "../../../../mixins/security/defaultRouteGuard";
export default {
    name: "ViewPencairanRincianBiaya",
    mixins: [appLocale, formatUtils, httpErrorResponse, defaultRouteGuard],
    data: () => ({
        tagihan: {
            nomorSurat: '',
            isExpense: null,
        },
        dataItems: null,
        idPencairan: null,
        loading: null
    }),
    computed: {
        isExpense() {
            if (this.tagihan) {
                return this.tagihan.isExpense;
            }
            return false;
        },
        routeRincian() {
            return 'app/kegiatan/pencairan/rincianreport/full/' + this.pencairanId;
        },
        routeCetakRincian() {
            return 'app/kegiatan/pencairan/rincianreport/printfull/' + this.pencairanId;
        }
    },
    mounted() {
        if (this.$route.params.id) {
            this.pencairanId = this.$route.params.id;
            this.loadPencairan(this.pencairanId);
        }
    },
    methods: {
        /**
         * Fetch data Pencairan from remote server.
         *
         * @param {number} id SubKegiatan ID
         * @return {void}
         */
        loadPencairan(id) {
            this.loading = true;
            this.$http.get('/kegiatan/pencairan/'+id, [], []).
            then((resp) => {
                this.loading = false;
                let data = resp.data.data;
                this.tagihan = data;
                this.isLoaded = true;
                this.$nextTick(() => {
                    this.loadDataRincian(id);
                });
            }).catch((error) => {
                this.loading = false;
                this.$notification.error(error);
                this.$nextTick(() => {
                    this.$router.push(this.$route.meta.previous);
                });
            });
        },
        loadDataRincian(id){
            if (this.tagihan.isExpense) {
                this.loadDataRincianExpense(id);
            }
            else {
                this.loadDataRincianTermin(id)
            }
        },
        loadDataRincianTermin(id){
            this.loading = true;
            this.$http.get('/kegiatan/pencairan/rincian/'+id, [], []).
            then((resp) => {
                this.loading = false;
                let data = resp.data.data;
                this.dataItems = data;
                this.isLoaded = true;
            }).catch((error) => {
                this.loading = false;
                this.$notification.error(error);
            });
        },
        loadDataRincianExpense(id){
            this.loading = true;
            this.$http.get('/kegiatan/pencairan/rincian-expense/'+id, [], []).
            then((resp) => {
                this.loading = false;
                let data = resp.data.data;
                this.dataItems = data;
                this.isLoaded = true;
            }).catch((error) => {
                this.loading = false;
                this.$notification.error(error);
            });
        },
        rowClass(level) {
            if (level === 'kegiatan'){
                return 'font-weight-bold'
            } else
            if (level === 'subkegiatan'){
                return 'font-weight-medium font-italic'
            } else
            if (level === 'rab'){
                return 'small'
            } else
                return ''
        },
        judulClass(level) {
            if (level === 'kegiatan'){
                return 'ml-0'
            } else
            if (level === 'subkegiatan'){
                return 'ml-2'
            } else
            if (level === 'rab'){
                return 'ml-3'
            } else {
                return '';
            }
        }
    }
}
</script>

<style scoped>

</style>