<template>
  <div :is="tag" :class="classNames">
    <slot></slot>
  </div>
</template>

<script>
import "../../../scss/_shadows.scss";

export default {
    name: "BsCard",
    props: {
        flat: Boolean,
        shadow: Boolean,
        tag: {
            type: String,
            default: 'div'
        }
    },
    computed: {
        classNames() {
            return {
                'card': true,
                'rounded-0': this.flat,
                'md-shadow': this.shadow
            }
        }
    }
}
</script>

<style lang="scss">
  .card {
    font-size: .88rem;

    div.card-header {
      font-size: 1rem;
      font-weight: 500;
    }
  }
</style>
