<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <section class="body-container">
        <bs-card shadow>
            <bs-card-body>
                <form class="pt-lg-3 px-lg-2" novalidate>
                    <div class="form-group">
                        <bs-text-field :external-validator="TitleValidator"
                                       autofocus
                                       required
                                       v-model="humas.title">
                            <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
                                Judul
                            </label>
                        </bs-text-field>
                    </div>
                    <div class="form-group">
                        <bs-text-area :external-validator="IntroValidator"
                                      required
                                      rows="2"
                                      v-model="humas.intro">
                            <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
                                Intro
                            </label>
                        </bs-text-area>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
                            Konten
                        </label>
                        <div class="col-lg-9 col-xl-10">
                            <ckeditor :config="editorConfig"
                                      :editor="editor"
                                      v-model="humas.content"/>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-lg-3 col-xl-2">
                            Status
                        </label>
                        <div class="form-group col-lg-3 col-xl-2 h6">
                            <bs-badge :color="workflowConfigurer.badgeColor(humas)"
                                      class="mt-1"
                                      type="label">
                                {{ workflowConfigurer.majorPlaceMark(humas) }}
                            </bs-badge>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-lg-3 col-xl-2">
                            Lampiran
                        </label>
                        <div class="form-group col-lg-7 col-xl-8">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend" v-if="humas.hasAttachment === true">
                                    <button @click="viewFile(humas)"
                                            class="btn btn-outline-info pl-2 pr-2"
                                            type="button"
                                            v-tooltip="{content:'Klik Untuk Lihat File', placement:'top'}">
                                        <font-awesome-icon :icon="iconFile(humas)"/>
                                    </button>
                                </div>
                                <div class="custom-file">
                                    <input @change="previewFile"
                                           accept="image/png,image/gif,image/jpeg,image/webp,application/pdf"
                                           class="custom-file-input"
                                           id="fileUpload"
                                           ref="fileUpload"
                                           tabindex="-1"
                                           type="file"/>
                                    <label class="custom-file-label p-0" for="fileUpload">
                                        <input :value="fileName" class="p-1 custom-input-text text-muted"
                                               disabled
                                               placeholder=" Unggah file..." type="text"/>
                                    </label>
                                </div>
                            </div>
                            <ul class="text-secondary pl-3 mb-0">
                                <li>
                                    <small>Maksimal ukuran file 5Mb</small>
                                </li>
                                <li>
                                    <small>Ekstensi file yang dibolehkan: *.jpg, *.jpeg, *.gif, *.png, *.pdf
                                    </small>
                                </li>
                            </ul>
                            <div class="mt-2" style="width: 250px;" v-if="imageData.length > 0">
                                <img :alt="fileName" :src="imageData" class="img-thumbnail">
                            </div>
                        </div>
                    </div>

                </form>
            </bs-card-body>
            <bs-card-footer class="bg-white">
                <bs-button @click="doSave" color="primary">
                    Simpan
                </bs-button>
            </bs-card-footer>
            <bs-mask-loader :opacity="0"
                            :show="updating || humas.loading || humas.updating"
                            :spinner-diameter="50"/>
        </bs-card>
        <bs-modal :esc-close="true"
                  :maxWidth="'100%'"
                  :open.sync="showImageView"
                  :overlay-close="true"
                  :padding="0"
                  :width="1024">
            <div style="display: block; max-width: 100%; height:499px; overflow-y: scroll; overflow-x: hidden;">
                <img :alt="itemAtt.title" :src="itemAtt.fileUrl" class="img-fluid" style="width: 100%"/>
            </div>
        </bs-modal>
        <bs-modal :esc-close="true"
                  :fullscreen="this.fullscreen"
                  :maxWidth="'100%'"
                  :open.sync="showPdfView"
                  :overlay-close="true"
                  :padding="0"
                  :width="865">
            <pdf :page="page"
                 :src="itemAtt.fileUrl"
                 @link-clicked="page = $event"
                 @num-pages="numPages = $event"
                 ref="pdfFile"
                 style="display: block; max-width: 100%; height:450px; border: 1px solid #ccc; overflow-y: scroll; overflow-x: hidden;"
                 v-if="show"></pdf>
            <template v-slot:footer="">
                <div class="mr-4">
                    <label> Halaman: <input :max="numPages" :min="1"
                                            class="form-control input-group-sm" style="display: inline;width: 5em"
                                            type="number" v-model.number="page"/> / {{numPages}}
                    </label>
                </div>
                <bs-button color="secondary"
                           icon="arrows-alt"
                           icon-position="left"
                           outlined
                           v-if="fullscreen === false"
                           v-on:click="fullscreen = true"
                           v-tooltip="{content:'Perbesar Layar', placement:'top'}"/>
                <bs-button color="secondary"
                           icon="compress-arrows-alt"
                           icon-position="left"
                           outlined
                           v-if="fullscreen === true"
                           v-on:click="fullscreen = false"
                           v-tooltip="{content:'Perkecil Layar', placement:'top'}"/>
                <bs-button class="float-right" color="secondary" outlined v-on:click="showPdfView = false">Tutup
                </bs-button>
            </template>
        </bs-modal>
    </section>
</template>

<script>
    import {HumasModel} from "../../../models/Humas/HumasModel";
    import HumasWorkflowConfigurer from "../../../models/Humas/HumasWorkflowConfigurer";
    import appLocale from "../../../mixins/appLocale";
    import formatUtils from "../../../mixins/formatUtils";
    import httpErrorResponse from "../../../mixins/httpErrorResponse";
    import editorRouteGuard from "../../../mixins/security/editorRouteGuard";
    import {validationMixin} from "vuelidate";
    import {HumasValidationHandler, HumasValidator} from "../../../models/Humas/HumasValidator";
    import {
        MEDIA,
        MSG_SAVE_SUCCESS,
        MSG_UPDATE_SUCCESS,
        NEW,
        STATE_SUCCESS,
        UPDATED
    } from "../../../store/modules/mutation-types";
    import pdf from 'vue-pdf';
    import CKEditor from '@ckeditor/ckeditor5-vue';
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    // import Essentials from '@ckeditor/ckeditor5-essentials/src/essentials';
    // import Paragraph from '@ckeditor/ckeditor5-paragraph/src/paragraph';
    // import Bold from '@ckeditor/ckeditor5-basic-styles/src/bold';
    // import Italic from '@ckeditor/ckeditor5-basic-styles/src/italic';
    // import Alignment from '@ckeditor/ckeditor5-alignment/src/alignment';
    // import RemoveFormat from '@ckeditor/ckeditor5-remove-format/src/removeformat';
    // import PasteFromOffice from '@ckeditor/ckeditor5-paste-from-office/src/pastefromoffice';
    import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome';
    // import MediaEmbed from "@ckeditor/ckeditor5-media-embed/src/mediaembed";

    export default {
        name: "FormMedia",
        mixins: [
            appLocale, formatUtils, httpErrorResponse, editorRouteGuard,
            validationMixin, HumasValidationHandler('humas')
        ],
        components: {
            ckeditor: CKEditor.component,
            pdf: pdf,
            FontAwesomeIcon: FontAwesomeIcon
        },
        data() {
            return {
                humas: new HumasModel(),
                workflowConfigurer: new HumasWorkflowConfigurer('humas'),
                editor: ClassicEditor,
                editorConfig: {
                    language: 'id',
                    removePlugins: ['Image', 'EasyImage'],
                    mediaEmbed: {
                        removeProviders: [ 'dailymotion', 'spotify', 'vimeo', 'instagram', 'twitter', 'googleMaps', 'flickr', 'facebook' ]
                    }
                },
                isEditMode: false,
                showImageView: false,
                showPdfView: false,
                fileAttached: null,
                updating: false,
                show: false,
                showAtt: false,
                loadedRatio: 0,
                page: 1,
                numPages: 0,
                fullscreen: false,
                itemAtt: {},
                fileName: '',
                imageData: ''
            }
        },
        validations: {
            humas: HumasValidator
        },
        created() {
            if (this.$route.params.id) {
                this.isEditMode = true;
                this.fetchData(this.$route.params.id);
            }
        },
        beforeDestroy() {
            this.humas.destroy();
            this.humas = null;
            this.workflowConfigurer.destroy();
            this.workflowConfigurer = null;
            this.itemAtt = null;
        },
        methods: {
            fullscreenView() {
                this.fullscreen = true;
            },
            smallscreenView() {
                this.fullscreen = false;
            },
            previewFile(event) {
                let input = event.target;
                this.fileAttached = this.$refs.fileUpload.files[0];
                this.fileName = event.target.files[0].name;

                // Preview selected image
                let mime = ['image/jpeg', 'image/png', 'image/gif'];
                if (input.files && input.files[0] && mime.includes(input.files[0].type)) {
                    let reader = new FileReader();
                    reader.onload = (e) => {
                        this.imageData = e.target.result;
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            },
            iconFile(item) {
                let pdf = ["pdf"];
                return pdf.includes(item.fileExt) ? 'file-pdf' : 'image';
            },
            /**
             * Menampilkan modal dialog view file.
             * @return {void}
             */
            viewFile(item) {
                let images = ["jpg", "gif", "png", "jpeg"];
                let pdf = ["pdf"];

                this.itemAtt = item;

                if (images.includes(item.fileExt)) {
                    this.showImageView = true;
                }

                if (pdf.includes(item.fileExt)) {
                    this.show = true;
                    this.showPdfView = true;
                }
            },
            doSave() {
                this.$v.$touch();

                if (!this.$v.$error) {
                    const text = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                    const status = this.isEditMode ? UPDATED : NEW;

                    let formData = new FormData();
                    formData.append('category', MEDIA);
                    formData.append('title', this.humas.title);
                    formData.append('intro', this.humas.intro);
                    formData.append('content', this.humas.content);
                    formData.append('file', this.fileAttached);
                    formData.append('status', status);

                    const url = this.humas.bid
                        ? '/humas/update/' + this.humas.bid
                        : '/humas/create';

                    this.updating = true;

                    this.$axios.post(url, formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then(() => {
                        this.$notification.success('Data publikasi humas' + text, STATE_SUCCESS);
                        this.$nextTick(() => {
                            this.$router.push(this.$route.meta.previous);
                        });
                    }).catch((error) => {
                        this.showErrorMessage(error);
                        this.updating = false;
                    });
                }
            },
            /**
             * Fetch data from remote server.
             *
             * @param {Number|String} id bid
             * @return {void}
             */
            fetchData(id) {
                this.humas.bid = id;
                this.humas.fetch().catch((error) => {
                    this.showErrorMessage(error);
                    this.$nextTick(() => {
                        this.$router.push(this.$route.meta.previous);
                    });
                });
            },
        },
    }
</script>

<style scoped>
    .btn {
        border: 1px solid #ced4da;
    }

    .custom-input-text {
        text-indent: 5px;
        width: 100%;
        border: none;
        height: 100%;
    }

    .custom-file-label,
    .custom-file-label::after {
        border-radius: 0;
    }
</style>
