<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div class="body-container">
        <div class="pb-3" v-if="hasEditorAccessRights">
            <bs-button @click="addData"
                       color="amber"
                       icon="plus-circle"
                       icon-position="left"
                       raised>
                Tambah Baru
            </bs-button>
        </div>
        <bs-card shadow v-if="dataSource">
            <bs-card-header class="text-nowrap">
                Publikasi Dampak Media
            </bs-card-header>
            <bs-grid :data-source="dataSource"
                     pageable
                     ref="datagrid"
                     row-hover
                     show-footer
                     sortable>
                <bs-grid-column :sortable="false"
                                label="#"
                                row-numbering
                                width="50"/>
                <bs-grid-column field="postedBy.fullName"
                                label="Diunggah Oleh"
                                width="170"/>
                <bs-grid-column field="postedDate"
                                label="Tanggal"
                                width="130"/>
                <bs-grid-column :sortable="false"
                                field="title"
                                label="Judul"/>
                <bs-grid-column field="status"
                                label="Status"
                                width="100"/>
                <!--<bs-grid-column :sortable="false"-->
                                <!--field="analisa"-->
                                <!--label="Analisa"/>-->
                <bs-grid-column width = "100"
                                field="score"
                                label="Score"/>
                <bs-grid-column :sortable="false"
                                label="Tindakan"
                                width="150"/>
                <template v-slot:datarow="{ columns, item, index }">
                    <bs-grid-cell-numbering :column="columns[0]" :index="index"/>
                    <bs-grid-cell :column="columns[1]" :item="item"/>
                    <bs-grid-cell :column="columns[2]" :item="item">
                        {{ dateFormat(item.postedDate, formatConst.fullDate) }}
                    </bs-grid-cell>
                    <bs-grid-cell :column="columns[3]" :item="item"/>
                    <bs-grid-cell :column="columns[4]" :item="item">
                        <bs-badge :color="workflowConfigurer.badgeColor(item)"
                                  type="label">
                            {{ workflowConfigurer.majorPlaceMark(item) }}
                        </bs-badge>
                    </bs-grid-cell>
                    <!--<bs-grid-cell :column="columns[5]" :item="item"/>-->
                    <bs-grid-cell :column="columns[5]" :item="item"/>
                    <bs-grid-cell :column="columns[6]" :item="item">
                        <bs-button @click="confirmProcess(item)"
                                   color="success"
                                   icon="check-double"
                                   icon-position="left"
                                   outlined
                                   size="xs"
                                   v-if="canPublish(item)"
                                   v-tooltip="{content:'Terbitkan Data', placement:'top'}"/>
                        <bs-button @click="analisaProcess(item)"
                                   color="warning"
                                   icon="sticky-note"
                                   icon-position="left"
                                   outlined
                                   size="xs"
                                   v-if="canScored(item)"
                                   v-tooltip="{content:'Analisa Data', placement:'top'}"/>
                        <bs-button @click="confirmProcess(item)"
                                   color="green"
                                   icon="check"
                                   icon-position="left"
                                   outlined
                                   size="xs"
                                   v-if="canVerify(item)"
                                   v-tooltip="{content:'Verifikasi Data', placement:'top'}"/>
                        <bs-button @click="doEdit(item.bid)"
                                   color="primary"
                                   icon="pen"
                                   icon-position="left"
                                   outlined
                                   size="xs"
                                   v-if="canEdit(item)"
                                   v-tooltip="{content:'Sunting Data', placement:'top'}"/>
                        <bs-button @click="showData(item.bid)"
                                   color="info"
                                   icon="eye"
                                   icon-position="left"
                                   outlined
                                   size="xs"
                                   v-tooltip="{content:'Lihat Data', placement:'top'}"/>
                        <bs-button @click="confirmDelete(item)"
                                   color="danger"
                                   icon="trash-alt"
                                   icon-position="left"
                                   outlined
                                   size="xs"
                                   v-if="canDelete(item)"
                                   v-tooltip="{content:'Hapus Data', placement:'top'}"/>
                    </bs-grid-cell>
                </template>
            </bs-grid>
        </bs-card>
        <modal-dialog-humas :approval="approval"
                            :item-data="itemData"
                            :show-modal-delete.sync="showModalDelete"
                            :show-modal-process.sync="showModalProcess"
                            @approval="doPublish"
                            @delete="doDelete"
                            @reject="doProcess('reject')"
                            @verify="doProcess('verify')"/>

        <analisa-dialog :analisa="analisa"
                        :item-data="itemData"
                        :item-score="dsScore"
                        :show-modal-score.sync="showModalScore"
                        @analisa="doScore"/>

        <bs-mask-loader :opacity="0"
                        :show="updating || humas.loading || humas.updating || humas.deleting"
                        :spinner-diameter="50"/>
    </div>
</template>

<script>
    import {
        MEDIA,
        STATE_SUCCESS,
        STEP_APPROVAL,
        STEP_REJECT,
        STEP_UPDATE,
        STEP_VERIFY
    } from "../../../store/modules/mutation-types";
    import {HumasModel} from "../../../models/Humas/HumasModel";
    import BsStore from "vue-bs4/src/model/BsStore";
    import appLocale from "../../../mixins/appLocale";
    import formatUtils from "../../../mixins/formatUtils";
    import httpErrorResponse from "../../../mixins/httpErrorResponse";
    import defaultRouteGuard from "../../../mixins/security/defaultRouteGuard";
    import HumasWorkflowConfigurer from "../../../models/Humas/HumasWorkflowConfigurer";
    import ModalDialogHumas from "../ModalDialogHumas";
    import Helper from "vue-bs4/src/utils/Helper";
    import AnalisaDialog from "../AnalisaDialog";

    export default {
        name: "GridMedia",
        mixins: [appLocale, formatUtils, httpErrorResponse, defaultRouteGuard],
        components: {AnalisaDialog, ModalDialogHumas},
        data: () => ({
            dataSource: new BsStore({
                idProperty: 'bid',
                dataProperty: 'data',
                totalProperty: 'total',
                pageSize: 10,
                restUrl: {
                    browse: '/humas/category/' + MEDIA
                }
            }),
            humas: new HumasModel(),
            workflowConfigurer: new HumasWorkflowConfigurer('humas'),
            showModalDelete: false,
            showModalProcess: false,
            showModalScore: false,
            dsScore: [1,-1],
            itemData: {},
            approval: {
                action: '',
                reason: ''
            },
            analisa: {
                result: '',
                score: ''
            },
            updating: false,
            loaded: false,
        }),
        beforeDestroy() {
            this.dataSource.destroy();
            this.dataSource = null;
            this.humas.destroy();
            this.humas = null;
            this.workflowConfigurer.destroy();
            this.workflowConfigurer = null;
            this.approval = null;
            this.itemData = null;
        },
        computed: {
            /**
             * Get a workflow.
             *
             * @return {Workflow} A workflow object instance
             */
            workflow() {
                return this.workflowConfigurer.workflow;
            }
        },
        methods: {
            /**
             * @param {HumasModel} item Data model
             * @return {boolean} TRUE jika item data dapat disunting
             */
            canEdit(item) {
                return (this.hasEditorAccessRights && this.workflow.canXor(item, [STEP_UPDATE, STEP_VERIFY, STEP_REJECT]));
            },
            /**
             * @param {HumasModel} item Data model
             * @return {boolean} TRUE jika item data dapat dihapus
             */
            canDelete(item) {
                return (this.hasDeleteAccessRights && this.workflow.canXor(item, [STEP_UPDATE, STEP_VERIFY, STEP_REJECT]));
            },
            /**
             * @param {HumasModel} item Data model
             * @return {boolean} TRUE jika item belum diverifikasi
             */
            canVerify(item) {
                return (this.hasVerificatorAccessRights && this.workflow.can(item, STEP_VERIFY));
            },
            /**
             * @param {HumasModel} item Data model
             * @return {boolean} TRUE jika item belum diverifikasi
             */
            canPublish(item) {
                return (this.hasApprovalAccessRights && this.workflow.can(item, STEP_APPROVAL));
            },
            /**
             * @param {HumasModel} item Data model
             * @return {boolean} TRUE
             */
            canScored(item) {
                return (this.hasApprovalAccessRights && this.workflow.can(item, STEP_APPROVAL)) && Helper.isEmpty(item.analisa);
            },
            /**
             * Redirect url ke halaman form tambah data
             */
            addData() {
                this.$router.push('/publikasi/media/create');
            },
            /**
             *  Push redirect url halaman view data
             */
            showData(id) {
                this.$router.push('/publikasi/media/view/' + id);
            },
            /**
             *  Push redirect url halaman edit data
             */
            doEdit(id) {
                this.$router.push('/publikasi/media/edit/' + id);
            },
            /**
             * @param {HumasModel} item Data model
             */
            confirmDelete(item) {
                if (this.hasDeleteAccessRights) {
                    this.itemData = item;
                    this.showModalDelete = true;
                }
            },
            /**
             * @param {HumasModel} item Data model
             */
            confirmProcess(item) {
                this.itemData = item;
                if (this.workflow.can(item, STEP_VERIFY)) {
                    this.approval.action = STEP_VERIFY;
                    this.showModalProcess = true;
                } else if (this.workflow.can(item, STEP_APPROVAL)) {
                    this.approval.action = STEP_APPROVAL;
                    this.showModalProcess = true;
                }
            },
            analisaProcess(item) {
                this.itemData = item;
                if (this.workflow.can(item, STEP_APPROVAL)) {
                    this.showModalScore = true;
                }
            },
            /**
             * delete dokumentasi item
             */
            doDelete() {
                const url = '/humas/delete/' + this.itemData.bid;

                const config = {
                    'url': url,
                    'method': 'delete'
                };

                this.showModalDelete = false;
                this.updating = true;

                this.$axios(config).then((resp) => {
                    this.updating = false;
                    this.$notification.success(resp.data.message, STATE_SUCCESS);
                    this.$refs.datagrid.reload();
                }).catch((error) => {
                    this.showErrorMessage(error);
                    this.updating = false;
                });
            },
            /**
             * Proses verifikasi item dokumentasi atau Publish data publikasi ke web adaro
             */
            doProcess(action) {
                const url = '/humas/stepflow/' + this.itemData.bid;

                const config = {
                    'url': url,
                    'method': 'patch',
                    'data': {
                        action: action,
                        message: this.approval.reason
                    }
                };

                this.showModalProcess = false;
                this.updating = true;
                this.$axios(config).then(() => {
                    this.updating = false;
                    this.$notification.success('Sukses', STATE_SUCCESS);
                    this.$refs.datagrid.reload();
                }).catch((error) => {
                    this.showErrorMessage(error);
                    this.updating = false;
                });
            },
            /**
             * Proses publish item dokumentasi
             */
            doPublish() {
                const url = '/humas/stepflow/' + this.itemData.bid;

                const config = {
                    'url': url,
                    'method': 'patch',
                    'data': {
                        action: STEP_APPROVAL,
                        message: null
                    }
                };

                this.showModalProcess = false;
                this.updating = true;
                this.$axios(config).then(() => {
                    this.updating = false;
                    this.$notification.success('Berhasil mempublikasi', STATE_SUCCESS);
                    this.$refs.datagrid.reload();
                }).catch((error) => {
                    this.showErrorMessage(error);
                    this.updating = false;
                });
            },
            /**
             * Proses analisa item dampak media
             */
            doScore() {
                const url = '/humas/analisa/' + this.itemData.bid;

                const config = {
                    'url': url,
                    'method': 'patch',
                    'data': {
                        action: this.analisa.score,
                        message: this.analisa.result
                    }
                };

                this.showModalScore = false;
                this.updating = true;
                this.$axios(config).then(() => {
                    this.updating = false;
                    this.$notification.success('Berhasil mengisi Analisa', STATE_SUCCESS);
                    this.$refs.datagrid.reload();
                }).catch((error) => {
                    this.showErrorMessage(error);
                    this.updating = false;
                });
            }
        }
    }
</script>

<style scoped>

</style>
