<template>
  <section class="body-container">
    <div class="pb-3" v-if="canAddKpi">
      <bs-button color="amber"
                 icon="plus-circle"
                 icon-position="left"
                 @click="addKPI"
                 raised>
        Entri KPI
      </bs-button>
    </div>
    <bs-card shadow>
      <bs-card-body>
        <bs-card-content type="title" tag="h4" class="text-uppercase">
          {{ pesantren.namaInstitusi }}
        </bs-card-content>
        <div class="row">
          <div class="col-xl-6">
            <h6>
              <span v-if="(pesantren.kategori !== 5)">Lembaga</span>
              {{ fmtKategoriInstitusi(pesantren.kategori) }},
              {{ jenisInstitusi(pesantren.swasta) }}
            </h6>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Berdiri Tahun
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ pesantren.tahunBerdiri }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Nomor Akte
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ pesantren.nomorAkte }}
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-4 col-md-3">
                Kode Lembaga
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ pesantren.kodeInstitusi }}
              </div>
            </div>
            <display-alamat :alamat="pesantren.alamat"
                            :kelurahan="pesantren.kelurahan"
                            :kecamatan="pesantren.kecamatan"
                            :kodepos="pesantren.kodePos"
                            :rtrw="pesantren.rtRw"
                            title="Alamat Lembaga" />
          </div>
          <div class="col-xl-6">
            <h6>Pimpinan Lembaga</h6>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Nama
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ pesantren.namaPimpinan }}
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-4 col-md-3">
                Telepon/HP
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ pesantren.contactPhone }}
              </div>
            </div>
            <h6>Kontak</h6>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Telepon Kantor
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                {{ pesantren.officePhone }}
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Alamat Email
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                <a :href="mailto(pesantren.email)">
                  {{ pesantren.email }}
                </a>
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 col-md-3">
                Website
              </div>
              <div style="width: 8px">
                :
              </div>
              <div class="col">
                <a v-if="pesantren.website != null"
                   :href="fixUrl(pesantren.website)"
                   target="_blank">
                  {{ pesantren.website }}
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-12 mt-4">
            <reject-view v-if="isRejected"
                         class="mb-3"
                         :approval="logs"
                         :status="workflowConfigurer.majorPlaceMark(pesantren)"
                         :color="workflowConfigurer.badgeColor(pesantren)"/>
          </div>
        </div>
        <map-location :latitude="pesantren.latitude"
                      :longitude="pesantren.longitude" />
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <audit-trail :posted-by="pesantren.postedBy"
                     :posted-date="pesantren.postedDate"
                     :updated-by="pesantren.updatedBy"
                     :last-updated="pesantren.lastUpdated" />
      </bs-card-footer>
      <bs-mask-loader :opacity="0"
                      :show="loader || pesantren.loading"
                      :spinner-diameter="50" />
    </bs-card>
  </section>
</template>

<script>
import { GET_ACTIVE_PROGRAM } from "../../../../../store/modules/Kegiatan/mutation-types";
import { PesantrenModel } from "../../../../../models/Beneficiary/Pelatihan/PesantrenModel";
import appLocale from "../../../../../mixins/appLocale";
import defaultRouteGuard from "../../../../../mixins/security/defaultRouteGuard";
import formatUtils from "../../../../../mixins/formatUtils";
import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
import mapStoreMutations from "../../../../../mixins/mapStoreMutations";
import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";
import AuditTrail from "../../../../../components/AuditTrail";
import DisplayAlamat from "../../../../../components/DisplayAlamat";
import MapLocation from "../../../../../components/MapLocation";
import {APPROVED, REJECTED} from "../../../../../store/modules/mutation-types";
import RejectView from "../../RejectView";
import BeneficiaryWorkflowConfigurer from "../../../../../models/Beneficiary/BeneficiaryWorkflowConfigurer";

export default {
    name: "ViewPesantren",
    components: {AuditTrail, DisplayAlamat, MapLocation, RejectView},
    mixins: [
        appLocale, defaultRouteGuard, formatUtils, httpErrorResponse, mapStoreMutations, mapStoreKegiatanBeneficiary
    ],
    data: () => ({
        pesantren: new PesantrenModel(),
        loader: false,
        logs: null,
        workflowConfigurer: new BeneficiaryWorkflowConfigurer('pesantren')
    }),
    created() {
        const idprogram = this.$route.params.idprogram;

        if (this[GET_ACTIVE_PROGRAM] === null) {
            this.fetchDpt(idprogram);
        }
        if (this.$route.params.id) {
            this.pesantren.institusiId = this.$route.params.id;

            this.pesantren.fetch().then((rsp) => {
                this.pesantren.provinsiId  = this.pesantren.kecamatan.kabupaten.provinsi.provinsiId;
                this.pesantren.postedBy    = rsp.data.data.postedBy.fullName;
                this.pesantren.updatedBy   = rsp.data.data.updatedBy.fullName;
                this.pesantren.postedDate  = new Date(rsp.data.data.postedDate);
                this.pesantren.lastUpdated = new Date(rsp.data.data.lastUpdated);
                this.loadDataReject(this.pesantren.institusiId);
                this.$route.meta.title = 'Detail ' + this.fmtKategoriInstitusi(this.pesantren.kategori);
                this.setPageTitle(this.$route.meta.title);
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] +
                        '/pelatihan/institusi');
                });
            });
        }
    },
    beforeDestroy() {
        this.pesantren.destroy();
        this.pesantren = null;
    },
    computed: {
      canAddKpi () {
        return (this.hasEditorAccessRights) && (this.pesantren.status === APPROVED);
      },
      /**
       * @return {boolean}
       */
      isRejected() {
        return this.pesantren.status === REJECTED;
      }
    },
    methods: {
      addKPI() {
        this.$router.push('/kegiatan/penerima-manfaat/' + this.$route.params.idprogram + '/pelatihan/institusi/view/' + this.$route.params.id + '/profil/kpi/create');
      },
      /**
       * Fetch data from remote server.
       *
       * @param {number} $id
       * @return {void}
       */
      loadDataReject($id) {
        this.loader = true;
        this.$http.get('/kegiatan/penerima-manfaat/pelatihan/institusi/approval/' + $id).then($response => {
          this.loader = false;
          let $resp = $response.data;
          this.logs = $resp.data;
        });
      }
    }
}
</script>

<style scoped>

</style>
