<template>
  <div>
    <bs-tabs color="nav-page" v-model="activeTab" variant="material">
      <bs-tab label="Profil Umum" path="./profil" />
      <!--<bs-tab label="Foto" path="./foto"/>-->
      <!--<bs-tab label="Video" path="./video"/>-->
    </bs-tabs>
    <router-view />
  </div>
</template>

<script>
export default {
    name: "ViewPesantrenTabs",
    data: () => ({
        activeTab: null
    })
}
</script>

<style scoped>

</style>
