<template>

</template>

<script>
import { PesantrenModel } from "../../../../../models/Beneficiary/Pelatihan/PesantrenModel";
import { GET_ACTIVE_PROGRAM } from "../../../../../store/modules/Kegiatan/mutation-types";
import mapStoreMutations from "../../../../../mixins/mapStoreMutations";
import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";
import appLocale from "../../../../../mixins/appLocale";
import formatUtils from "../../../../../mixins/formatUtils";

export default {
        name: "ViewPesantrenVideo",
        mixins: [
            appLocale, formatUtils, httpErrorResponse, mapStoreMutations, mapStoreKegiatanBeneficiary
        ],
        data: () => ({
            pesantren: new PesantrenModel(),
        }),
        created() {
            const idprogram = this.$route.params.idprogram;

            if (this[GET_ACTIVE_PROGRAM] === null) this.fetchDpt(idprogram);
            if (this.$route.params.id) {
                this.pesantren.institusiId = this.$route.params.id;

                this.pesantren.fetch().then(() => {
                    this.$route.meta.title = 'Detail ' + this.fmtKategoriInstitusi(this.pesantren.kategori);
                    this.setPageTitle(this.$route.meta.title);
                }).catch((error) => {
                    this.showErrorMessage(error);
                    this.$nextTick(() => {
                        this.$router.push('/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] +
                            '/pelatihan/institusi');
                    });
                });
            }
        },
        beforeDestroy() {
            this.pesantren.destroy();
            this.pesantren = null;
        }
    }
</script>

<style scoped>

</style>