<template>
  <section class="container">
    <bs-card shadow>
      <bs-card-body>
        <form class="pt-lg-3 px-lg-2" novalidate>
          <div class="form-group">
            <bs-text-field v-model="jenisProgram.title"
                           :external-validator="titleValidator"
                           autofocus
                           required>
              <label class="col-form-label col-md-3 col-xl-2">
                Nama Bidang
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="jenisProgram.description">
              <label class="col-form-label col-md-3 col-xl-2">
                Keterangan/Motto
              </label>
            </bs-text-field>
          </div>
        </form>
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <bs-button color="primary" @click="doSave">
          Simpan
        </bs-button>
      </bs-card-footer>
    </bs-card>
    <bs-mask-loader :opacity="0"
                    :show="jenisProgram.updating"
                    :spinner-diameter="50" />
  </section>
</template>

<script>
import { validationMixin } from "vuelidate";
import {
    MSG_SAVE_SUCCESS,
    MSG_UPDATE_SUCCESS,
    SAVE,
    STATE_SUCCESS,
    UPDATE
} from "../../../../store/modules/mutation-types";
import {
    jenisProgramValidationHandler,
    jenisProgramValidator
} from "../../../../models/MasterData/Program/JenisProgramValidator";
import { JenisProgramModel } from "../../../../models/MasterData/Program/JenisProgramModel";
import editorRouteGuard from "../../../../mixins/security/editorRouteGuard";
import httpErrorResponse from "../../../../mixins/httpErrorResponse";

export default {
    name: "FormJenisProgram",
    mixins: [validationMixin, jenisProgramValidationHandler('jenisProgram'), editorRouteGuard, httpErrorResponse],
    data: () => ({
        /**
         * @type JenisProgramModel
         */
        jenisProgram: new JenisProgramModel(),
        /**
         * Jika bernilai TRUE dipergunakan untuk memperbarui existing data,
         * sebaliknya jika bernilai FALSE dipergunakan untuk menambah data baru.

         * @type boolean
         */
        isEditMode: false
    }),
    mounted() {
        if (this.$route.params.id) {
            this.isEditMode = true;

            this.jenisProgram.fetch(this.$route.params.id).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/master-data/program/bidang-csr');
                });
            });
        }
    },
    beforeDestroy() {
        this.jenisProgram.destroy();
        this.jenisProgram = null;
    },
    validations: {
        jenisProgram: jenisProgramValidator
    },
    methods: {
        /**
         * Send request insert/update data Bidang CSR.
         *
         * @return {void}
         */
        doSave() {
            this.$v.$touch();

            if (!this.$v.$error) {
                const text   = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                const action = this.isEditMode ? UPDATE : SAVE;

                this.jenisProgram[action]().then(() => {
                    this.$notification.success('Data ' + text, STATE_SUCCESS);
                    this.$nextTick(() => {
                        this.$router.push('/master-data/program/bidang-csr');
                    });
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            }
        }
    }
}
</script>

<style scoped>

</style>
