<template>
  <section class="container">
    <bs-card shadow>
      <bs-card-body>
        <form class="pt-lg-3 px-lg-2" novalidate>
          <div class="form-group">
            <bs-combobox v-model="program.jenisId"
                         :data-source="dsJenis"
                         :external-validator="jenisIdValidator"
                         required>
              <label class="col-form-label col-md-3 col-xl-2">
                Bidang CSR
              </label>
            </bs-combobox>
          </div>
          <div class="form-group">
            <bs-text-field v-model="program.name"
                           required
                           :external-validator="nameValidator">
              <label class="col-form-label col-md-3 col-xl-2">
                Program CSR
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="program.templateName"
                           :external-validator="templateNameValidator"
                           help-text="Template nama Dana Batch. Keterangan: {0} = Nama Program CSR, {1} = Nama Batch, {2} = Tahun">
              <label class="col-form-label col-md-3 col-xl-2">
                Template Penamaan
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="program.description">
              <label class="col-form-label col-md-3 col-xl-2">
                Keterangan
              </label>
            </bs-text-field>
          </div>
        </form>
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <bs-button color="primary" @click="doSave">
          Simpan
        </bs-button>
      </bs-card-footer>
    </bs-card>
    <bs-mask-loader :opacity="0"
                    :show="program.updating"
                    :spinner-diameter="50" />
  </section>
</template>

<script>
import { BsStore } from "vue-bs4";
import { validationMixin } from "vuelidate";
import {
    MSG_SAVE_SUCCESS,
    MSG_UPDATE_SUCCESS,
    SAVE,
    STATE_SUCCESS,
    UPDATE
} from "../../../../store/modules/mutation-types";
import { ProgramModel } from "../../../../models/MasterData/Program/ProgramModel";
import { programValidationHandler, programValidator } from "../../../../models/MasterData/Program/ProgramValidator";
import editorRouteGuard from "../../../../mixins/security/editorRouteGuard";
import httpErrorResponse from "../../../../mixins/httpErrorResponse";

export default {
    name: "FormProgram",
    mixins: [
        validationMixin,
        httpErrorResponse,
        editorRouteGuard,
        programValidationHandler('program')
    ],
    data: () => ({
        dsJenis: {
            schema: {
                displayField: 'title',
                valueField: 'id'
            },
            proxy: new BsStore({
                idProperty: 'id',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    browse: '/master-data/bidang-csr'
                }
            })
        },
        /**
         * @type {ProgramModel}
         */
        program: new ProgramModel(),
        /**
         * Jika bernilai TRUE dipergunakan untuk memperbarui existing data,
         * sebaliknya jika bernilai FALSE dipergunakan untuk menambah data baru.
         *
         * @type {boolean}
         */
        isEditMode: false
    }),
    mounted() {
        if (this.$route.params.id) {
            this.isEditMode = true;

            this.program.fetch(this.$route.params.id).then(() => {
                this.program.jenisId = this.program.jenis.id;
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/master-data/program/program-csr');
                });
            });
        }
    },
    beforeDestroy() {
        this.dsJenis.proxy.destroy();
        this.dsJenis.proxy = null;
        this.dsJenis       = null;
        this.program.destroy();
        this.program = null;
    },
    validations: {
        program: programValidator
    },
    methods: {
        /**
         * Send request insert/update data Program CSR.
         *
         * @return {void}
         */
        doSave() {
            this.$v.$touch();

            if (!this.$v.$error) {
                const text   = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                const action = this.isEditMode ? UPDATE : SAVE;

                this.program.jenis = this.program.jenisId;
                this.program[action]().then(() => {
                    this.$notification.success('Data ' + text, STATE_SUCCESS);
                    this.$nextTick(() => {
                        this.$router.push('/master-data/program/program-csr');
                    });
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            }
        }
    }
}
</script>

<style scoped>

</style>
