<template>
  <div class="body-container">
    <bs-card shadow>
      <bs-card-body>
        <div class="row">
          <div class="col-xl-8">
            <div class="form-group">
              <bs-date-time-field v-model="tahun"
                                  format="YYYY"
                                  view-mode="year"
                                  append-icon="calendar"
                                  required>
                <label class="col-form-label col-lg-3">
                  TAHUN ANGGARAN
                </label>
              </bs-date-time-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-8">
            <div class="form-group">
              <bs-combobox v-model="programId"
                           :parent-value="tahun"
                           :data-source="dsProgram"
                           required
                           @data-bind="onBindProgram">
                <label class="col-form-label col-lg-3">
                  NAMA PROGRAM
                </label>
              </bs-combobox>
            </div>
          </div>
        </div>
        <transition name="fade">
          <bs-alert v-if="showAlert" icon="exclamation-triangle" class="mb-0 mt-3">
            Silakan pilih <b>Tahun Anggaran</b> dan <b>Nama Program</b> terlebih dahulu.
          </bs-alert>
        </transition>
      </bs-card-body>
        <bs-mask-loader :opacity="0"
                        :show="dsProgram.loading"
                        :spinner-diameter="50"/>
      <router-view :key="$route.fullPath" />
    </bs-card>
  </div>
</template>

<script>
import {
    GET_ACTIVE_PRGCSR,
    GET_ACTIVE_PROGRAM,
    GET_ACTIVE_YEAR,
    SET_ACTIVE_PRGCSR,
    SET_ACTIVE_PRGNAME,
    SET_ACTIVE_PRGSTATE,
    SET_ACTIVE_PROGRAM,
    SET_ACTIVE_YEAR
} from "../../../store/modules/Kegiatan/mutation-types";
import { NEW, PLANNED, REJECTED, UPDATED } from "../../../store/modules/mutation-types";
import { BsStore, Helper } from "vue-bs4";
import defaultRouteGuard from "../../../mixins/security/defaultRouteGuard";
import mapStoreKegiatanBeneficiary from "../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";

export default {
    name: "MainPage",
    mixins: [defaultRouteGuard, mapStoreKegiatanBeneficiary],
    data: () => ({
        dsProgram: {
            schema: {
                displayField: 'namaProgram',
                valueField: 'id',
                cascadeField: 'tahun'
            },
            proxy: new BsStore({
                idProperty: 'id',
                dataProperty: 'data',
                totalProperty: 'total',
                filters: [{property: 'status', value: [NEW, UPDATED, REJECTED, PLANNED], operator: 'notin'}],
                restUrl: {
                    browse: '/pendanaan/batch'
                }
            })
        }
    }),
    computed: {
        tahun: {
            get() {
                return this[GET_ACTIVE_YEAR];
            },
            set(value) {
                this[SET_ACTIVE_YEAR](value);
                this.redirectRoute();
            }
        },
        programId: {
            get() {
                return this[GET_ACTIVE_PROGRAM];
            },
            set(value) {
                this[SET_ACTIVE_PROGRAM](value);

                if (Helper.isEmpty(value)) {
                    this[SET_ACTIVE_PRGNAME](null);
                    this[SET_ACTIVE_PRGCSR](null);
                    this[SET_ACTIVE_PRGSTATE](null);
                } else {
                    const items = this.dsProgram.proxy.dataItems.filter(el => el.id === value);

                    if (items && items.length > 0) {
                        this[SET_ACTIVE_PRGSTATE](items[0].status);
                        this[SET_ACTIVE_PRGNAME](items[0].namaProgram);
                        this[SET_ACTIVE_PRGCSR](items[0].danaProgram.programCsr.msid);
                    } else {
                        this[SET_ACTIVE_PRGCSR](null);
                        this[SET_ACTIVE_PRGNAME](null);
                        this[SET_ACTIVE_PRGSTATE](null);
                    }
                }

                this.redirectRoute();
            }
        },
        programUrl() {
            return '/kegiatan/penerima-manfaat/' + this.programId;
        },
        showAlert() {
            return Helper.isEmpty(this[GET_ACTIVE_PROGRAM]) || Helper.isEmpty(this[GET_ACTIVE_YEAR]) || Helper.isEmpty(this[GET_ACTIVE_PRGCSR]);
        }
    },
    created() {
        if (this[GET_ACTIVE_PRGCSR] !== null && this[GET_ACTIVE_PROGRAM] !== null) {
            this.redirectRoute(true);
        }
    },
    beforeDestroy() {
        this.dsProgram.proxy.destroy();
        this.dsProgram.proxy = null;
        this.dsProgram       = null;
    },
    methods: {
        /**
         * Redirect main-page to the correct sub-page.
         *
         * @param {boolean} onCreate Triggered by onCreate event or not
         * @return {void}
         */
        redirectRoute(onCreate = false) {
            const msid      = this[GET_ACTIVE_PRGCSR];
            const routePath = this.$route.fullPath;

            switch (msid) {
                case 1:
                    if (onCreate === true && routePath.includes('paud/guru')) {
                        this.$router.push(this.programUrl + '/paud/guru');
                    } else if (onCreate === true && routePath.includes('paud/siswa')) {
                        this.$router.push(this.programUrl + '/paud/siswa');
                    } else {
                        this.$router.push(this.programUrl + '/paud');
                    }
                    break;
                case 2:
                    if (onCreate === true && routePath.includes('pendidikan/manajemen')) {
                        this.$router.push(this.programUrl + '/pendidikan/manajemen');
                    } else if (onCreate === true && routePath.includes('pendidikan/guru')) {
                        this.$router.push(this.programUrl + '/pendidikan/guru');
                    } else if (onCreate === true && routePath.includes('pendidikan/siswa')) {
                        this.$router.push(this.programUrl + '/pendidikan/siswa');
                    } else if (onCreate === true && routePath.includes('pendidikan/institusi/poltek')) {
                        this.$router.push(this.programUrl + '/pendidikan/institusi/poltek');
                    } else {
                        this.$router.push(this.programUrl + '/pendidikan/institusi/smk');
                    }
                    break;
                case 3:
                    if (onCreate === true && routePath.includes('pelatihan/manajemen')) {
                        this.$router.push(this.programUrl + '/pelatihan/manajemen');
                    } else if (onCreate === true && routePath.includes('pelatihan/guru')) {
                        this.$router.push(this.programUrl + '/pelatihan/guru');
                    } else if (onCreate === true && routePath.includes('pelatihan/siswa')) {
                        this.$router.push(this.programUrl + '/pelatihan/siswa');
                    } else {
                        this.$router.push(this.programUrl + '/pelatihan');
                    }
                    break;
                case 4:
                    this.$router.push(this.programUrl + '/beasiswa');
                    break;
                case 5:
                    this.$router.push('/kegiatan/penerima-manfaat/' + this.programId + '/tech-base');
                    break;
                default :
                    this.$router.push('/kegiatan/penerima-manfaat');
                    break;
            }
        },
        /**
         * Event handler when data Dana Batch already loaded.
         *
         * @param {Object[]} items Data model Program CSR
         * @return {void}
         */
        onBindProgram(items) {
            if (!Helper.isEmpty(items) && (this[GET_ACTIVE_PROGRAM] === null || this[GET_ACTIVE_PRGCSR] === null)) {
                this.fetchDpt(this.$route.params.idprogram, true);
            }
        }
    }
}
</script>

<style scoped>

</style>
