<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div>
        <bs-modal :open.sync="openModalDelete"
                  :esc-close="false"
                  :maxWidth="'100%'"
                  :overlay-close="false"
                  :width="500"
                  title="Konfirmasi">
            <div style="overflow-wrap: break-word;">
                Apakah anda yakin akan menghapus <b>{{ itemName }}</b> dari database?
            </div>
            <template v-slot:footer="">
                <bs-button color="secondary" outlined v-on:click="openModalDelete = false">Batal</bs-button>
                <bs-button @click="modalAction('delete')" color="danger">Hapus</bs-button>
            </template>
        </bs-modal>
        <bs-modal :open.sync="openModalProcess"
                  :max-width="'100%'"
                  title="Konfirmasi"
                  width="500">
            Apakah anda yakin data <b>{{ itemName }}</b> {{ approval.action === 'approval' ? 'sudah sesuai dan dapat disetujui' : 'sudah diisi dengan benar dan dapat diverifikasi' }}?
            <div class="form-group"
                 v-if="approval.action === 'verify'">
                <bs-text-area placeholder="Wajib mencantumkan komentar jika reject"
                              rows="3"
                              v-model="approval.reason">
                    <label class="col-form-label col-md-3">
                        Komentar
                    </label>
                </bs-text-area>
            </div>
            <template v-slot:footer="">
                <bs-button v-if="approval.action === 'verify'"
                           :disabled="approval.reason == null || approval.reason === ''"
                           @click="modalAction('reject')"
                           color="danger">
                    Reject
                </bs-button>
                <bs-button @click="openModalProcess = false"
                           color="secondary"
                           outlined
                           v-else>
                    Cancel
                </bs-button>
                <bs-button @click="modalAction(approval.action)"
                           color="primary">
                    {{ submitBtnText }}
                </bs-button>
            </template>
        </bs-modal>
    </div>
</template>

<script>
    import appLocale from "../../../mixins/appLocale";
    import formatUtils from "../../../mixins/formatUtils";
    import BsStore from "vue-bs4/src/model/BsStore";
    import {STEP_APPROVAL, STEP_VERIFY} from "../../../store/modules/mutation-types";

    export default {
        name: "ModalDialogBeneficiary",
        mixins: [appLocale, formatUtils],
        props: {
            itemName: {
                type: String,
                default: undefined,
                required: true
            },
            approval: {
                type: Object,
                default: undefined,
                required: true
            },
            itemData: {
                type: Object,
                default: undefined,
                required: true
            },
            showModalDelete: {
                type: Boolean,
                default: false,
                required: true
            },
            showModalProcess: {
                type: Boolean,
                default: false,
                required: true
            },
            dataSource: {
                type: BsStore,
                default: undefined
            },
        },
        computed: {
            openModalDelete: {
                get() {
                    return this.showModalDelete;
                },
                set(value) {
                    this.$emit('update:showModalDelete', value);
                }
            },
            openModalProcess: {
                get() {
                    return this.showModalProcess;
                },
                set(value) {
                    this.$emit('update:showModalProcess', value);
                }
            },
            /**
             * Change submit button text based on dialog action.
             *
             * @return {string} Button text
             */
            submitBtnText() {
                if (this.approval.action.includes(STEP_VERIFY)) {
                    return 'Verify'
                } else if (this.approval.action.includes(STEP_APPROVAL)) {
                    return 'Approve';
                }
            }
        },
        methods: {
            /**
             * Fire event on modal dialog button's clicked.
             *
             * @param {String} name The action name
             * @return {void}
             */
            modalAction(name) {
                this.$emit(name);
            }
        }
    }
</script>

<style scoped>

</style>
