<template>
  <bs-card-body class="pt-1">
    <bs-tabs v-model="activeTab"
             variant="modern"
             color="bg-blue-grey darken-2"
             align="justified"
             flex>
      <bs-tab path="./institusi" label="PAUD" />
      <bs-tab path="./guru" label="GURU" />
      <bs-tab path="./siswa" label="SISWA" />
    </bs-tabs>
    <router-view />
  </bs-card-body>
</template>

<script>
export default {
    name: "Paud",
    data: () => ({
        activeTab: null
    })
}
</script>

<style scoped>

</style>
