<template>
  <bs-card-body class="pt-1">
    <bs-tabs v-model="activeTab"
             variant="modern"
             color="bg-blue-grey darken-2"
             align="justified"
             flex>
      <bs-tab label="PESANTREN & LEMBAGA KEAGAMAAN" path="institusi" />
      <bs-tab label="MANAJEMEN" path="manajemen" />
      <bs-tab label="USTADZ/INSTRUKTUR" path="guru" />
      <bs-tab label="SANTRI/SISWA" path="siswa" />
    </bs-tabs>
    <router-view />
  </bs-card-body>
</template>

<script>
export default {
    name: "PelatihanVokasi",
    data: () => ({
        activeTab: null
    })
}
</script>

<style scoped>

</style>
