<template>
  <bs-card-body class="pt-1">
    <bs-tabs v-model="activeTab"
             variant="modern"
             color="bg-blue-grey darken-2"
             align="justified"
             flex>
      <bs-tab :path="generateTabPathInstitusi() + 'smk'" label="SMK" />
      <bs-tab :path="generateTabPathInstitusi() + 'poltek'" label="POLTEK" />
      <bs-tab :path="generateTabPathGeneral() + 'manajemen'" label="MANAJEMEN" />
      <bs-tab :path="generateTabPathGeneral() + 'guru'" label="GURU/DOSEN" />
      <bs-tab :path="generateTabPathGeneral() + 'siswa'" label="SISWA/MAHASISWA" />
    </bs-tabs>
    <router-view />
  </bs-card-body>
</template>

<script>
export default {
    name: "PendidikanVokasi",
    data: () => ({
        activeTab: null
    }),
    methods: {
        /**
         * Generate Tab Path untuk Institusi
         *
         * @return {string} Tab Path Pattern
         */
        generateTabPathInstitusi() {
            const kategori = this.$route.params.kategori;
            return kategori === "smk" || kategori === "poltek" ? "./" : "./institusi/";
        },
        /**
         * Generate Tab Path untuk selain Institusi
         *
         * @return {string} Tab Path Pattern
         */
        generateTabPathGeneral() {
            const kategori = this.$route.params.kategori;
            return kategori === "smk" || kategori === "poltek" ? "../" : "./";
        }
    }
}
</script>

<style scoped>

</style>
