<template>
    <div>
        <h6>Status Penerima Manfaat</h6>
        <bs-badge :color="color"
                  type="label">
            {{ status }}
        </bs-badge>
        <div v-if="approval.keterangan !== null" class="form-row mt-2">
            <div class="col-12">
                Alasan: {{ approval.keterangan }}
            </div>
        </div>
        <div class="form-row mt-1">
            <div class="col-md-6">
                <div class="text-grey-500">
                    Oleh: {{ approval.postedBy.fullName }} ({{ dateFormat(approval.postedDate, formatConst.dateTimeCustom) }})
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import appLocale from "../../../mixins/appLocale";
    import formatUtils from "../../../mixins/formatUtils";
    import BsStore from "vue-bs4/src/model/BsStore";

    export default {
        name: "RejectView",
        mixins: [appLocale, formatUtils],
        props: {
            approval: {
                type: Object,
                default: undefined
            },
            status: {
                type: String,
                default: undefined
            },
            color: {
                type: String,
                default: undefined
            }
        },
    }
</script>

<style scoped>

</style>
