<template>
  <div>
    <form novalidate>
      <bs-card-body>
        <bs-alert v-if="!params" class="m-2" color="danger">
          Belum ada data
        </bs-alert>
        <div v-if="mode === 'edit'" class="table-responsive-xl mb-2">
          <table class="table table-valign-middle table-bordered mb-1">
            <thead class="thead-light">
              <tr>
                <th class="border-right-0" rowspan="2" style="width: 20px;">
                  #
                </th>
                <th class="border-left-0"
                    colspan="2"
                    rowspan="2"
                    style="min-width: 200px;">
                  Keterangan
                </th>
                <th class="text-center"
                    rowspan="2"
                    style="width: 100px">
                  Target
                </th>
                <th class="text-center" colspan="2">
                  CAPAIAN
                </th>
              </tr>
              <tr>
                <th class="text-center" style="width: 100px">
                  Semester 1
                </th>
                <th class="text-center" style="width: 100px">
                  Semester 2
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="border-right-0">
                  1
                </td>
                <td class="border-left-0" colspan="5">
                  Jumlah guru yang menerima pembelajaran Teknologi
                </td>
              </tr>
              <tr :key="kpiParam.code" v-for="(kpiParam, row) in kpiKuantitas">
                <td class="border-right-0">
                  &nbsp;
                </td>
                <td class="border-left-0 border-right-0" style="width: 20px;">
                  {{ alphabetNumbering(row + 1) }}.
                </td>
                <td class="border-left-0">
                  {{ kpiParam.name }}
                </td>
                <td class="text-right">
                  {{ decimalFormat(targets[kpiParam.code].target) }}
                </td>
                <td class="text-right">
                  <number-field-wrapper :disabled="!showInputNumberKuantitas(1)"
                                        :readonly="mode !== 'edit'"
                                        v-model="targets[kpiParam.code].p1" />
                </td>
                <td class="text-right">
                  <number-field-wrapper :disabled="!showInputNumberKuantitas(2)"
                                        :readonly="mode !== 'edit'"
                                        v-model="targets[kpiParam.code].p2" />
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  &nbsp;
                </td>
                <td class="p-2 text-center">
                  <span :class="{ 'text-danger': !isPeriodeComplete(kpiKuantitas, 1) }" class="font-weight-medium">
                    {{ isVerifiedKuantitas(1) ? '' : isPeriodeComplete(kpiKuantitas, 1) ? 'Terisi' : 'Belum terisi semua' }}
                  </span>
                </td>
                <td class="p-2 text-center">
                  <span :class="{ 'text-danger': !isPeriodeComplete(kpiKuantitas, 2) }" class="font-weight-medium">
                    {{ isVerifiedKuantitas(2) ? '' : isPeriodeComplete(kpiKuantitas, 2) ? 'Terisi' : 'Belum terisi semua' }}
                  </span>
                </td>
              </tr>
              <tr>
                <td class="border-right-0">
                  2
                </td>
                <td class="border-left-0" colspan="5">
                  Jumlah guru mencapai kriteria hasil implementasi Integrasi Teknologi dalam Pembelajaran
                </td>
              </tr>
              <tr :key="kpiParam.code" v-for="(kpiParam, row) in kpiKualitas">
                <td class="border-right-0">
                  &nbsp;
                </td>
                <td class="border-left-0 border-right-0" style="width: 20px;">
                  {{ alphabetNumbering(row + 1) }}.
                </td>
                <td class="border-left-0">
                  {{ kpiParam.name }}
                </td>
                <td class="text-right">
                  {{ decimalFormat(targets[kpiParam.code].target) }}
                </td>
                <td class="text-right">
                  <number-field-wrapper :disabled="!showInputNumberKualitas(1)"
                                        :readonly="mode !== 'edit'"
                                        v-model="targets[kpiParam.code].p1" />
                </td>
                <td class="text-right">
                  <number-field-wrapper :disabled="!showInputNumberKualitas(2)"
                                        :readonly="mode !== 'edit'"
                                        v-model="targets[kpiParam.code].p2" />
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  &nbsp;
                </td>
                <td class="p-2 text-center">
                  <span :class="{ 'text-danger': !isPeriodeComplete(kpiKualitas, 1) }" class="font-weight-medium">
                    {{ isVerifiedKualitas(1) ? '' : isPeriodeComplete(kpiKualitas, 1) ? 'Terisi' : 'Belum terisi semua' }}
                  </span>
                </td>
                <td class="p-2 text-center">
                  <span :class="{ 'text-danger': !isPeriodeComplete(kpiKualitas, 2) }" class="font-weight-medium">
                    {{ isVerifiedKualitas(2) ? '' : isPeriodeComplete(kpiKualitas, 2) ? 'Terisi' : 'Belum terisi semua' }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div v-else>
          <div class="table-responsive-xl mb-3">
            <table class="table table-valign-middle table-bordered mb-1">
              <thead class="thead-light">
                <tr>
                  <th class="border-right-0"
                      rowspan="2"
                      style="width: 20px;">
                    #
                  </th>
                  <th class="border-left-0" rowspan="2" style="min-width: 200px;">
                    Jumlah guru yang menerima pembelajaran Teknologi
                  </th>
                  <th class="text-center"
                      rowspan="2"
                      style="width: 100px">
                    Target
                  </th>
                  <th class="text-center" colspan="2">
                    CAPAIAN
                  </th>
                  <th class="text-center" rowspan="2" style="width: 100px">
                    Persentase Capaian (%)
                  </th>
                </tr>
                <tr>
                  <th class="text-center" style="width: 100px">
                    Semester 1
                  </th>
                  <th class="text-center" style="width: 100px">
                    Semester 2
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr :key="kpiParam.code" v-for="(kpiParam, row) in kpiKuantitas">
                  <td class="border-right-0">
                    {{ row + 1 }}.
                  </td>
                  <td class="border-left-0" style="min-width: 200px;">
                    {{ kpiParam.name }}
                  </td>
                  <td class="text-right">
                    {{ decimalFormat(targets[kpiParam.code].target) }}
                  </td>
                  <td class="text-right">
                    {{ decimalFormat(targets[kpiParam.code].p1) }}
                  </td>
                  <td class="text-right">
                    {{ decimalFormat(targets[kpiParam.code].p2) }}
                  </td>
                  <td class="text-center">
                    {{ hitungPersenKuantitas(targets[kpiParam.code]) }}
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <b> TOTAL </b>
                  </td>
                  <td class="text-right font-weight-bold">
                    {{ getTotalByIndex(kpiKuantitas, 'target') }}
                  </td>
                  <td class="text-right font-weight-bold">
                    {{ getTotalByIndex(kpiKuantitas, 'p1') }}
                  </td>
                  <td class="text-right font-weight-bold">
                    {{ getTotalByIndex(kpiKuantitas, 'p2') }}
                  </td>
                  <td class="text-center font-weight-bold">
                    {{ hitungPersenKuantitasTotal() }}
                  </td>
                </tr>
                <tr v-if="showVerifyRowKuantitas">
                  <td colspan="3">
                    &nbsp;
                  </td>
                  <td class="p-2 text-center">
                    <font-awesome-icon :icon="['far', 'check-circle']"
                                       class="text-teal"
                                       style="font-size:1.6rem"
                                       v-if="isVerifiedKuantitas(1)" />
                    <bs-button @click="openVerifyKuantitasDialog(1)"
                               color="teal"
                               outlined
                               size="sm"
                               v-else-if="showVerifyButtonKuantitas(1)">
                      Verifikasi
                    </bs-button>
                  </td>
                  <td class="p-2 text-center">
                    <font-awesome-icon :icon="['far', 'check-circle']"
                                       class="text-teal"
                                       style="font-size:1.6rem"
                                       v-if="isVerifiedKuantitas(2)" />
                    <bs-button @click="openVerifyKuantitasDialog(2)"
                               color="teal"
                               outlined
                               size="sm"
                               v-else-if="showVerifyButtonKuantitas(2)">
                      Verifikasi
                    </bs-button>
                  </td>
                  <td>
                    &nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-responsive-xl mb-2">
            <table class="table table-valign-middle table-bordered mb-1">
              <thead class="thead-light">
                <tr>
                  <th class="border-right-0"
                      rowspan="2">
                    #
                  </th>
                  <th class="border-left-0" rowspan="2" style="min-width: 200px;">
                    Jumlah guru mencapai kriteria hasil implementasi Integrasi Teknologi dalam Pembelajaran
                  </th>
                  <th class="text-center"
                      rowspan="2"
                      style="width: 100px">
                    Target
                  </th>
                  <th class="text-center" colspan="2">
                    CAPAIAN
                  </th>
                  <th class="text-center" rowspan="2">
                    Bobot
                  </th>
                  <th class="text-center" rowspan="2">
                    Persentase
                  </th>
                  <th class="text-center" rowspan="2">
                    Nilai
                  </th>
                </tr>
                <tr>
                  <th class="text-center" style="width: 100px">
                    Semester 1
                  </th>
                  <th class="text-center" style="width: 100px">
                    Semester 2
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr :key="kpiParam.code" v-for="(kpiParam, row) in kpiKualitas">
                  <td class="border-right-0">
                    {{ row + 1 }}.
                  </td>
                  <td class="border-left-0" style="min-width: 200px; padding-left: 2rem">
                    {{ kpiParam.name }}
                  </td>
                  <td class="text-right">
                    {{ decimalFormat(targets[kpiParam.code].target) }}
                  </td>
                  <td class="text-right">
                    {{ decimalFormat(targets[kpiParam.code].p1) }}
                  </td>
                  <td class="text-right">
                    {{ decimalFormat(targets[kpiParam.code].p2) }}
                  </td>
                  <td class="text-right">
                    {{ paramValue(kpiParam, 'bobot') }}
                  </td>
                  <td class="text-right">
                    {{ hitungPersenKualitas(targets[kpiParam.code]) }}
                  </td>
                  <td class="text-right">
                    {{ hitungNilai(targets[kpiParam.code], paramValue(kpiParam, 'bobot')) }}
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <b> TOTAL </b>
                  </td>
                  <td class="text-right font-weight-bold">
                    {{ decimalFormat(getTotalByIndex(kpiKualitas, 'target')) }}
                  </td>
                  <td class="text-right font-weight-bold">
                    {{ decimalFormat(getTotalByIndex(kpiKualitas, 'p1')) }}
                  </td>
                  <td class="text-right font-weight-bold">
                    {{ decimalFormat(getTotalByIndex(kpiKualitas, 'p2')) }}
                  </td>
                  <td class="text-right font-weight-bold">
                  </td>
                  <td class="text-right font-weight-bold">
                    &nbsp;
                  </td>
                  <td :class="classifyTLA(tlaThreshold, hitungTotal())"
                      class="text-right font-weight-bold">
                    {{ decimalFormat(hitungTotal()) }}
                  </td>
                </tr>
                <tr v-if="showVerifyRowKualitas">
                  <td colspan="3">
                    &nbsp;
                  </td>
                  <td class="p-2 text-center">
                    <font-awesome-icon :icon="['far', 'check-circle']"
                                       class="text-teal"
                                       style="font-size:1.6rem"
                                       v-if="isVerifiedKualitas(1)" />
                    <bs-button @click="openVerifyKualitasDialog(1)"
                               color="teal"
                               outlined
                               size="sm"
                               v-else-if="showVerifyButtonKualitas(1)">
                      Verifikasi
                    </bs-button>
                  </td>
                  <td class="p-2 text-center">
                    <font-awesome-icon :icon="['far', 'check-circle']"
                                       class="text-teal"
                                       style="font-size:1.6rem"
                                       v-if="isVerifiedKualitas(2)" />
                    <bs-button @click="openVerifyKualitasDialog(2)"
                               color="teal"
                               outlined
                               size="sm"
                               v-else-if="showVerifyButtonKualitas(2)">
                      Verifikasi
                    </bs-button>
                  </td>
                  <td colspan="3">
                    &nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </bs-card-body>
      <bs-card-footer class="bg-white" v-if="canEdit && mode === 'edit'">
        <bs-button :disabled="!isSaveEnabled(2)" @click="doSave" color="primary">
          Simpan
        </bs-button>
      </bs-card-footer>
    </form>

    <bs-modal :open.sync="isVerifyDialogOpen"
              :overlay-close="false"
              max-width="85%"
              title="Konfirmasi Verifikasi"
              width="400">
      Apakah Anda yakin data pada periode {{ period }} yang diisi oleh MITRA sudah benar dan dapat diverifikasi?
      <template v-slot:footer="">
        <bs-button @click="closeVerifyDialog"
                   color="secondary"
                   outlined>
          Batal
        </bs-button>
        <bs-button @click="doVerify()" color="primary">
          Verifikasi
        </bs-button>
      </template>
    </bs-modal>
    <bs-modal :open.sync="isVerifyKuantitasDialogOpen"
              :overlay-close="false"
              max-width="85%"
              title="Konfirmasi Verifikasi Data Kuantitas"
              width="400">
      Apakah Anda yakin data kuantitsas pada periode {{ period }} yang diisi oleh MITRA sudah benar dan dapat
      diverifikasi?
      <template v-slot:footer="">
        <bs-button @click="closeVerifyKuantitasDialog"
                   color="secondary"
                   outlined>
          Batal
        </bs-button>
        <bs-button @click="doVerifyKuantitas()" color="primary">
          Verifikasi
        </bs-button>
      </template>
    </bs-modal>
    <bs-modal :open.sync="isVerifyKualitasDialogOpen"
              :overlay-close="false"
              max-width="85%"
              title="Konfirmasi Verifikasi Data Kualitas"
              width="400">
      Apakah Anda yakin data kualitas pada periode {{ period }} yang diisi oleh MITRA sudah benar dan dapat
      diverifikasi?
      <template v-slot:footer="">
        <bs-button @click="closeVerifyKualitasDialog"
                   color="secondary"
                   outlined>
          Batal
        </bs-button>
        <bs-button @click="doVerifyKualitas()" color="primary">
          Verifikasi
        </bs-button>
      </template>
    </bs-modal>
  </div>
</template>

<script>
import { Helper } from "vue-bs4";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { STATE_WARNING } from "../../../../store/modules/mutation-types";
import appLocale from "../../../../mixins/appLocale";
import formatUtils from "../../../../mixins/formatUtils";
import kpiCommon from "../../../../mixins/kpi/common";
import NumberFieldWrapper from '../../../../components/NumberFieldWrapper';

export default {
    name: "CapaianKpiTbe",
    components: {FontAwesomeIcon, NumberFieldWrapper},
    mixins: [appLocale, formatUtils, kpiCommon],
    props: {
        batch: {
            type: Object,
            default: undefined
        },
        params: {
            type: [Array, Object],
            default: undefined
        },
        targets: {
            type: [Array, Object],
            default: undefined
        },
        tahun: {
            type: Number,
            default: undefined
        },
        mode: {
            type: String,
            default: undefined
        },
        canEdit: {
            type: Boolean,
            default: false
        },
        canVerify: {
            type: Boolean,
            default: false
        }
    },
    data: () => ({
        isVerifyDialogOpen: false,
        period: null,
        isVerifyKuantitasDialogOpen: false,
        isVerifyKualitasDialogOpen: false,
    }),
    computed: {
        /**
         * Check baris label verifikasi perlu ditampilkan atau tidak
         *
         * @return {boolean} TRUE jika verified, atau FALSE sebaliknya
         */
        showVerifyRow() {
            let notEmpty1 = true;
            let notEmpty2 = true;

            for (const code in this.targets) {
                if (this.targets.hasOwnProperty(code)) {
                    if (Helper.isEmpty(this.targets[code].p1)) {
                        notEmpty1 = false;
                    }
                    if (Helper.isEmpty(this.targets[code].p2)) {
                        notEmpty2 = false;
                    }
                }
            }

            return (notEmpty1 || notEmpty2) && this.mode !== 'edit';
        },
        /**
         * Check baris label kuantitas verifikasi perlu ditampilkan atau tidak
         *
         * @return {boolean} TRUE jika verified, atau FALSE sebaliknya
         */
        showVerifyRowKuantitas() {
            let notEmpty1 = true;
            let notEmpty2 = true;

            for (const code in this.targets) {
                if (this.targets.hasOwnProperty(code) && this.targets[code].kuantitas) {
                    if (Helper.isEmpty(this.targets[code].p1)) {
                        notEmpty1 = false;
                    }
                    if (Helper.isEmpty(this.targets[code].p2)) {
                        notEmpty2 = false;
                    }
                }
            }

            return (notEmpty1 || notEmpty2) && this.mode !== 'edit';
        },

        /**
         * Check baris label kualitas verifikasi perlu ditampilkan atau tidak
         *
         * @return {boolean} TRUE jika verified, atau FALSE sebaliknya
         */
        showVerifyRowKualitas() {
            let notEmpty1 = true;
            let notEmpty2 = true;

            for (const code in this.targets) {
                if (this.targets.hasOwnProperty(code) && !this.targets[code].kuantitas) {
                    if (Helper.isEmpty(this.targets[code].p1)) {
                        notEmpty1 = false;
                    }
                    if (Helper.isEmpty(this.targets[code].p2)) {
                        notEmpty2 = false;
                    }
                }
            }

            return (notEmpty1 || notEmpty2) && this.mode !== 'edit';
        },
        /**
         * Define TLA class threshold for each period.
         *
         * @return {int[]} RGBA
         */
        tlaThreshold() {
            const threshold = [
                [150, 225],
                [180, 255],
                [210, 285]
            ];
            const noThn     = this.tahun - this.batch.tahunAwal;

            return threshold[noThn];
        }
    },
    methods: {
        /**
         * Menutup modal dialog verifikasi Capaian KPI.
         *
         * @return {void}
         */
        closeVerifyDialog() {
            this.isVerifyDialogOpen = false;
        },
        /**
         * Menutup modal dialog verifikasi kuantitas Capaian KPI.
         *
         * @return {void}
         */
        closeVerifyKuantitasDialog() {
            this.isVerifyKuantitasDialogOpen = false;
        },
        /**
         * Menutup modal dialog verifikasi kualitas Capaian KPI.
         *
         * @return {void}
         */
        closeVerifyKualitasDialog() {
            this.isVerifyKualitasDialogOpen = false;
        },
        /**
         * Fire event <tt>kpiSave</tt>.
         *
         * @return {void}
         */
        doSave() {
            let periodeInvalid = false;

            for (let periode = 1; periode <= 2; periode++) {
                if (!this.isRequiringNoValidation(periode)) {
                    if (!(this.isPeriodeComplete(this.kpiKuantitas, periode) || this.isPeriodeComplete(this.kpiKualitas, periode))) {
                        periodeInvalid = true;
                        this.$notification.warning("Hasil capaian pada Semester ke-" + (periode)
                            + " belum lengkap. Mohon periksa kembali data yang anda masukkan.", STATE_WARNING);
                        break;
                    }
                }
            }

            if (!periodeInvalid) {
                this.$emit('kpiSave');
            }
        },
        /**
         * Proses verifikasi dan fire event <tt>kpiMassVerify</tt>.
         *
         * @return {void}
         */
        doVerify() {
            this.closeVerifyDialog();
            this.$emit('kpiVerify', this.period);
        },
        /**
         * Proses verifikasi data kuantitas dan fire event <tt>kpiMassVerify</tt>.
         *
         * @return {void}
         */
        doVerifyKuantitas() {
            this.closeVerifyKuantitasDialog();
            this.$emit('kpiVerifyKuantitas', this.period);
        },
        /**
         * Proses verifikasi data kualitas dan fire event <tt>kpiMassVerify</tt>.
         *
         * @return {void}
         */
        doVerifyKualitas() {
            this.closeVerifyKualitasDialog();
            this.$emit('kpiVerifyKualitas', this.period);
        },

        /**
         * Menghitung nilai capaian untuk indikator kualitas.
         *
         * @param {Object} capaian Nilai parameter KPI kualitas
         *
         * @return {Number} Nilai capaian KPI Kualitas
         */
        hitungCapaianKualitas(capaian) {
            let semester = this.periodeFull(2);
            let total    = this.getTotalByIndex(this.kpiKualitas, 'p' + semester);

            if (total === null) {
                return null;
            }
            if (total === 0) {
                return null;
            }

            let pvalue = capaian['p' + semester];

            return 100 * pvalue / total;
        },
        /**
         * Menghitung persen nilai capaian untuk indikator kuantitas.
         *
         * @param {Object} capaian NIlai parameter KPI kuantitas
         *
         * @return {Number|String} Nilai KPI kuantitas (dalam persen) atau empty string
         */
        hitungPersenKuantitas(capaian) {
            const semester = this.periodeFull(2);
            const total    = this.getTotalByIndex(this.kpiKuantitas, 'target');
            console.log(semester);
            if (total === null) {
                return '';
            }
            if (total === 0) {
                return '';
            }

            const pvalue = capaian['p' + semester];

            if (isNaN(pvalue)) {
                return 0;
            }
            console.log(pvalue);
            console.log(total);
            const persen = 100 * pvalue / total;
            console.log(persen);
            return this.decimalFormat(persen.toFixed(2));
        },
        /**
         * Menghitung persen nilai total capaian untuk indikator kuantitas.
         *
         * @return {String} Total nilai KPI kuantitas
         */
        hitungPersenKuantitasTotal() {
            const semester = this.periodeFull(2);
            const total    = this.getTotalByIndex(this.kpiKuantitas, 'target');

            if (total === null) {
                return '';
            }
            if (total === 0) {
                return '';
            }

            const pvalue = this.getTotalByIndex(this.kpiKuantitas, 'p' + semester);

            if (isNaN(pvalue)) {
                return '';
            }

            const persen = 100 * pvalue / total;

            return this.decimalFormat(persen.toFixed(2));
        },
        /**
         * Menghitung persen nilai capaian untuk indikator kualitas.
         *
         * @param {Object} capaian Nilai parameter KPI
         *
         * @return {String} Nilai KPI kualitas (dalam persen) atau empty string
         */
        hitungPersenKualitas(capaian) {
            const persen = this.hitungCapaianKualitas(capaian);

            if (persen === null) {
                return '';
            }

            return this.decimalFormat(persen.toFixed(2)) + '%';
        },
        /**
         * Menghitung nilai capaian untuk indikator kualitas.
         *
         * @param {Object} capaian Nilai parameter KPI
         * @param {Number} bobot   Bobot parameter KPI
         *
         * @return {String} Nilai capaian KPI
         */
        hitungNilai(capaian, bobot) {
            const persen = this.hitungCapaianKualitas(capaian);

            if (persen === null) {
                return '';
            }

            return this.decimalFormat((bobot * persen).toFixed(2));
        },
        /**
         * Menghitung total nilai capaian untuk indikator kualitas.
         *
         * @return {String} Nilai total capaian KPI
         */
        hitungTotal() {
            const flag            = this.periodeFull(2);
            const totalParamValue = this.getTotalByIndex(this.kpiKualitas, 'p' + flag);
            let totalNilai        = 0;

            this.kpiKualitas.forEach(kpiParam => {
                let pvalue = this.targets[kpiParam.code]['p' + flag];
                if (pvalue) {
                    const tempPersentase = (pvalue / totalParamValue) * 100;
                    const tempNilai      = tempPersentase * this.paramValue(kpiParam, 'bobot');

                    totalNilai += tempNilai;
                }
            });

            return totalNilai.toFixed(2);
        },
        /**
         * Periksa status verifikasi kuantitas dan tampilkan icon Verified atau tidak.
         *
         * @param {int} semester Periode untuk Semester-1, Semester-2
         *
         *  @return {boolean} TRUE jika terverifikasi dan icon ditampilkan atau FALSE sebaliknya
         */
        isVerifiedKuantitas(semester) {
            let verified = false;

            for (const code in this.targets) {
                if (this.targets[code].kuantitas) {
                    if (this.targets.hasOwnProperty(code)) {
                        if (semester === 2) {
                            verified = this.targets[code].p2Verified === true;
                        } else {
                            verified = this.targets[code].p1Verified === true;
                        }
                    }
                }

            }

            return verified;
        },
        /**
         * Periksa status verifikasi kuantitas dan tampilkan icon Verified atau tidak.
         *
         * @param {int} semester Periode untuk Semester-1, Semester-2
         * @return {boolean} TRUE jika terverifikasi dan icon ditampilkan atau FALSE sebaliknya
         */
        isVerifiedKualitas(semester) {
            let verified = false;

            for (const code in this.targets) {
                if (!this.targets[code].kuantitas) {
                    if (this.targets.hasOwnProperty(code)) {
                        if (semester === 2) {
                            verified = this.targets[code].p2Verified === true;
                        } else {
                            verified = this.targets[code].p1Verified === true;
                        }
                    }
                }

            }

            return verified;
        },
        /**
         * Open modal dialog Konfirmasi.
         *
         * @param {int} semester Periode untuk Semester-1, Semester-2
         * @return {void}
         */
        openVerifyDialog(semester) {
            this.isVerifyDialogOpen = true;
            this.period             = semester;
        },
        /**
         * Open modal dialog Konfirmasi.
         *
         * @param {int} semester Periode Kuantitas untuk Semester-1, Semester-2
         * @return {void}
         */
        openVerifyKuantitasDialog(semester) {
            this.isVerifyKuantitasDialogOpen = true;
            this.period                      = semester;
        },
        /**
         * Open modal dialog Konfirmasi.
         *
         * @param {int} semester Periode Kualitas untuk Semester-1, Semester-2
         * @return {void}
         */
        openVerifyKualitasDialog(semester) {
            this.isVerifyKualitasDialogOpen = true;
            this.period                     = semester;
        },
        /**
         * Mode untuk menampilkan form input kuantitas
         *
         * @param {number} semester Periode untuk Semester-1, Semester-2
         *
         * @return {boolean} TRUE jika active mode = edit dan semester ke-n belum terverifikasi
         **/
        showInputNumberKuantitas(semester) {
            return this.mode === 'edit' && this.isVerifiedKuantitas(semester) !== true;
        },
        /**
         * Mode untuk menampilkan form input kualitas
         *
         * @param {number} semester Periode untuk Semester-1, Semester-2
         *
         * @return {boolean} TRUE jika active mode = edit dan semester ke-n belum terverifikasi
         **/
        showInputNumberKualitas(semester) {
            return this.mode === 'edit' && this.isVerifiedKualitas(semester) !== true;
        },
        /**
         * Tampilkan button action <tt>VERIFIKASI</tt> atau tidak untuk data kuantitas.
         *
         * @param {int} semester Periode untuk Semester-1, Semester-2
         * @return {boolean} TRUE jika button ditampilkan atau FALSE sebaliknya
         */
        showVerifyButtonKuantitas(semester) {
            if (this.mode === 'edit' || !this.canVerify) {
                return false;
            }

            let notEmpty = true;

            for (const code in this.targets) {
                if (this.targets.hasOwnProperty(code)) {
                    if (this.targets[code].kuantitas) {
                        if (semester === 2) {
                            if (Helper.isEmpty(this.targets[code].p2)) {
                                notEmpty = false;
                            }
                        } else {
                            if (Helper.isEmpty(this.targets[code].p1)) {
                                notEmpty = false;
                            }
                        }
                    }
                }
            }

            return notEmpty && this.mode !== 'edit';
        },
        /**
         * Tampilkan button action <tt>VERIFIKASI</tt> atau tidak untuk data kualitas.
         *
         * @param {int} semester Periode untuk Semester-1, Semester-2
         * @return {boolean} TRUE jika button ditampilkan atau FALSE sebaliknya
         */
        showVerifyButtonKualitas(semester) {
            if (this.mode === 'edit' || !this.canVerify) {
                return false;
            }

            let notEmpty = true;

            for (const code in this.targets) {
                if (this.targets.hasOwnProperty(code)) {
                    if (!this.targets[code].kuantitas) {
                        if (semester === 2) {
                            if (Helper.isEmpty(this.targets[code].p2)) {
                                notEmpty = false;
                            }
                        } else {
                            if (Helper.isEmpty(this.targets[code].p1)) {
                                notEmpty = false;
                            }
                        }
                    }
                }
            }

            return notEmpty && this.mode !== 'edit';
        }
    }
}
</script>

<style scoped>

</style>
