<template>
  <div>
    <form novalidate>
      <bs-card-body>
        <bs-alert v-if="!params" class="m-2" color="danger">
          Belum ada data
        </bs-alert>
        <div class="table-responsive-xl mb-2">
          <table class="table table-valign-middle table-bordered mb-1">
            <thead class="thead-light">
              <tr>
                <th rowspan="2" class="border-right-0" style="width: 20px;">
                  #
                </th>
                <th class="border-left-0"
                    colspan="2"
                    rowspan="2"
                    style="min-width: 200px; padding-left: .8rem">
                  Keterangan
                </th>
                <th class="text-center"
                    rowspan="2"
                    style="width: 100px;">
                  Target
                </th>
                <th class="text-center" colspan="2">
                  CAPAIAN
                </th>
              </tr>
              <tr>
                <th class="text-center" style="width: 100px">
                  Semester 1
                </th>
                <th class="text-center" style="width: 100px">
                  Semester 2
                </th>
              </tr>
            </thead>
            <tbody>
              <tr :key="kpiParam.code" v-for="(kpiParam, row) in kpiTargetKuantitas">
                <td class="border-right-0">
                  {{ row + 1 }}.
                </td>
                <td class="border-left-0" colspan="2" style="min-width: 200px;">
                  {{ kpiParam.name }}
                </td>
                <td>
                  <div class="text-right mx-2">
                    {{ decimalFormat(targets[kpiParam.code].target) }}
                  </div>
                </td>
                <td>
                  <div class="text-right mx-2">
                    {{ decimalFormat(totalSiswa.p1) }}
                  </div>
                </td>
                <td>
                  <div class="text-right mx-2">
                    {{ decimalFormat(totalSiswa.p2) }}
                  </div>
                </td>
              </tr>
              <tr :key="kpiParam.code" v-for="(kpiParam, row) in kpiKuantitasChild">
                <td class="border-right-0">
                  &nbsp;
                </td>
                <td class="border-left-0 border-right-0" style="width: 20px; vertical-align: top;">
                  {{ alphabetNumbering(row + 1) }}.
                </td>
                <td class="border-left-0" colspan="2" style="min-width: 200px;">
                  {{ kpiParam.name }}
                </td>
                <td class="text-right">
                  <number-field-wrapper :disabled="!showInputNumber(1)"
                                        :readonly="mode !== 'edit'"
                                        v-model="targets[kpiParam.code].p1" />
                </td>
                <td class="text-right">
                  <number-field-wrapper :disabled="!showInputNumber(2)"
                                        :readonly="mode !== 'edit'"
                                        v-model="targets[kpiParam.code].p2" />
                </td>
              </tr>
              <tr>
                <td class="border-right-0">
                  {{ kpiTargetKuantitas.length + 1 }}.
                </td>
                <td class="border-left-0" colspan="5">
                  Persentase mahasiswa mencapai prestasi akademik
                </td>
              </tr>
              <tr :key="kpiParam.code" v-for="(kpiParam, row) in kpiTargetKualitas">
                <td class="border-right-0">
                  &nbsp;
                </td>
                <td class="border-left-0 border-right-0" style="width: 20px; vertical-align: top;">
                  {{ alphabetNumbering(row + 1) }}.
                </td>
                <td class="border-left-0">
                  {{ kpiParam.name }}
                </td>
                <td class="text-right">
                  {{ percentFormat(targets[kpiParam.code].target) }}
                </td>
                <td :class="getTLAclass(kpiParam.code, targets[kpiParam.code].p1)"
                    class="text-right">
                  <number-field-wrapper :disabled="!showInputNumber(1)"
                                        :readonly="mode !== 'edit'"
                                        percent
                                        v-model="targets[kpiParam.code].p1" />
                </td>
                <td :class="getTLAclass(kpiParam.code, targets[kpiParam.code].p2)"
                    class="text-right">
                  <number-field-wrapper :disabled="!showInputNumber(2)"
                                        :readonly="mode !== 'edit'"
                                        percent
                                        v-model="targets[kpiParam.code].p2" />
                </td>
              </tr>

              <tr v-if="showVerifyRow">
                <td colspan="4">
                  &nbsp;
                </td>
                <td class="p-2 text-center">
                  <font-awesome-icon :icon="['far', 'check-circle']"
                                     class="text-teal"
                                     style="font-size:1.6rem"
                                     v-if="isVerified(1)" />
                  <bs-button @click="openVerifyDialog(1)"
                             color="teal"
                             outlined
                             size="sm"
                             v-else-if="showVerifyButton(1)">
                    Verifikasi
                  </bs-button>
                </td>
                <td class="p-2 text-center">
                  <font-awesome-icon :icon="['far', 'check-circle']"
                                     class="text-teal"
                                     style="font-size:1.6rem"
                                     v-if="isVerified(2)" />
                  <bs-button @click="openVerifyDialog(2)"
                             color="teal"
                             outlined
                             size="sm"
                             v-else-if="showVerifyButton(2)">
                    Verifikasi
                  </bs-button>
                </td>
              </tr>
              <tr v-if="mode==='edit'">
                <td colspan="4">
                  &nbsp;
                </td>
                <td class="p-2 text-center">
                  <span :class="{ 'text-danger': (!this.isKpiBeasiswaPeriodeComplete(1) || !sudah100persen(kpiKualitas, 1)) }"
                        class="font-weight-medium">
                    {{ validationMessage(1, true) }}
                  </span>
                </td>
                <td class="p-2 text-center">
                  <span :class="{ 'text-danger': (!this.isKpiBeasiswaPeriodeComplete(2)|| !sudah100persen(kpiKualitas, 2)) }"
                        class="font-weight-medium">
                    {{ validationMessage(2, true) }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </bs-card-body>
      <bs-card-footer class="bg-white" v-if="canEdit && mode === 'edit'">
        <bs-button :disabled="!isSaveEnabled(2)" @click="doSave" color="primary">
          Simpan
        </bs-button>
      </bs-card-footer>
    </form>

    <bs-modal :open.sync="isVerifyDialogOpen"
              :overlay-close="false"
              max-width="85%"
              title="Konfirmasi Verifikasi"
              width="400">
      Apakah Anda yakin data pada periode {{ period }} yang diisi oleh MITRA sudah benar dan dapat diverifikasi?
      <template v-slot:footer="">
        <bs-button @click="closeVerifyDialog"
                   color="secondary"
                   outlined>
          Batal
        </bs-button>
        <bs-button @click="doVerify()" color="primary">
          Verifikasi
        </bs-button>
      </template>
    </bs-modal>
  </div>
</template>

<script>
import appLocale from "../../../../mixins/appLocale";
import formatUtils from "../../../../mixins/formatUtils";
import kpiCommon from "../../../../mixins/kpi/common";
import NumberFieldWrapper from '../../../../components/NumberFieldWrapper';
import { Helper } from "vue-bs4";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { FALSE, KUANTITAS } from "../../../../mixins/kpi/KpiConst";
import { STATE_WARNING } from "../../../../store/modules/mutation-types";

export default {
    name: "CapaianKpiBeasiswa",
    components: {FontAwesomeIcon, NumberFieldWrapper},
    mixins: [appLocale, formatUtils, kpiCommon],
    props: {
        batch: {
            type: Object,
            default: undefined
        },
        params: {
            type: [Array, Object],
            default: undefined
        },
        targets: {
            type: [Array, Object],
            default: undefined
        },
        tahun: {
            type: Number,
            default: undefined
        },
        mode: {
            type: String,
            default: undefined
        },
        canEdit: {
            type: Boolean,
            default: false
        },
        canVerify: {
            type: Boolean,
            default: false
        }
    },
    data: () => ({
        period: null,
        isVerifyDialogOpen: false,
    }),
    computed: {
        /**
         * Mendapatkan data parameter child dari kpiKuantitas.
         *
         * @return {Object[]} Parameter KPI Kuantitas
         */
        kpiKuantitasChild() {
            return this.params.filter((el) => {
                return this.paramValue(el, 'targeted') === FALSE && this.paramValue(el, 'grouping') === KUANTITAS;
            });
        },
        /**
         * Check baris label verifikasi perlu ditampilkan atau tidak
         *
         * @return {boolean} TRUE jika verified, atau FALSE sebaliknya
         */
        showVerifyRow() {
            let notEmpty1 = true;
            let notEmpty2 = true;

            for (const code in this.targets) {
                if (this.targets.hasOwnProperty(code) && code !== 'KPI-04.001') {
                    if (Helper.isEmpty(this.targets[code].p1)) {
                        notEmpty1 = false;
                    }
                    if (Helper.isEmpty(this.targets[code].p2)) {
                        notEmpty2 = false;
                    }
                }
            }

            return (notEmpty1 || notEmpty2) && this.mode !== 'edit';
        },
        /**
         * Define TLA class threshold for each periode.
         *
         * @return {Number[]} TLA threshold
         */
        tlaThreshold() {
            const thres = [
                [25, 49],
                [20, 69],
                [10, 79],
                [5, 89]
            ];
            const noThn = this.tahun - this.batch.tahunAwal;

            return thres[noThn];
        },
        /**
         * Autocalc untuk menghitung jumlah total siswa dalam setiap periode.
         *
         * @return {Object} Total siswa pada periode-1 dan periode-2
         */
        totalSiswa() {
            let data = {
                p1: null,
                p2: null
            };

            this.kpiKuantitasChild.forEach(kpiParam => {
                if (this.targets[kpiParam.code].p1) {
                    if (data.p1 == null) {
                        data.p1 = 0
                    }
                    data.p1 += this.targets[kpiParam.code].p1;
                }
                if (this.targets[kpiParam.code].p2) {
                    if (data.p2 == null) {
                        data.p2 = 0
                    }
                    data.p2 += this.targets[kpiParam.code].p2;
                }
            });

            return data;
        }
    },
    methods: {
        /**
         * Menutup modal dialog verifikasi Capaian KPI.
         *
         * @return {void}
         */
        closeVerifyDialog() {
            this.isVerifyDialogOpen = false;
        },
        /**
         * Fire event <tt>kpiSave</tt>.
         *
         * @return {void}
         */
        doSave() {
            let periodeInvalid = false;

            for (let periode = 1; periode <= 2; periode++) {
                if (!this.isRequiringNoValidation(periode)) {
                    if (!this.isKpiBeasiswaPeriodeComplete(periode)) {
                        periodeInvalid = true;
                        this.$notification.warning("Hasil capaian pada Semester ke-" + (periode)
                            + " belum lengkap. Mohon periksa kembali data yang anda masukkan.", STATE_WARNING);
                        break;
                    } else if (!this.sudah100persen(this.kpiKualitas, periode)) {
                        periodeInvalid = true;
                        this.$notification.warning("Hasil capaian persentase jumlah mahasiswa pada Semester ke-" + (periode)
                            + " tidak tepat 100%. Mohon periksa kembali data yang anda masukkan.", STATE_WARNING);
                        break;
                    }
                }
            }

            if (!periodeInvalid) {
                this.$emit('kpiSave');
            }
        },
        /**
         * Proses verifikasi dan fire event <tt>kpiMassVerify</tt>.
         *
         * @return {void}
         */
        doVerify() {
            this.closeVerifyDialog();
            this.$emit('kpiVerify', this.period);
        },
        /**
         * Mengkalkulasi warna TLA berdasarkan nilai, kategori, tahun dan target.
         *
         * @param {string} kode   Kode parameter KPI
         * @param {Number} nilai  Nilai capaian KPI
         *
         * @return {Array|null} Css class name
         */
        getTLAclass(kode, nilai) {
            // Hitung TLA untuk Level A only
            if (this.mode !== 'edit' && kode === 'KPI-04.004' && !Helper.isEmpty(nilai)) {
                return this.classifyTLA(this.tlaThreshold, nilai)
            }

            return null;
        },
        /**
         * Kriteria khusus untuk pengecekan periode yang sudah terisi.
         *
         * @param {int} periode Nomor periode yang diperiksa
         *
         * @return {boolean} sudah terisi atau belum
         */
        isKpiBeasiswaPeriodeComplete(periode) {
            return (this.isPeriodeComplete(this.kpiKuantitasChild, periode) &&
                this.isPeriodeComplete(this.kpiKualitas, periode));
        },
        /**
         * Mengetahui apakah data capaian dalam periode dikosongkan untuk tidak di-save.
         *
         * Untuk kasus KPI beasiswa ini ada parameter yang harus di-skip karena merupakan
         * field kalkulasi (jumlah laki laki + perempuan).
         *
         * @param {int} periode Periode yang diperiksa
         *
         * @return {boolean} TRUE jika periode belum memiliki nilai
         */
        isPeriodeEmpty(periode) {
            let isEmpty = true;

            for (const param of this.params) {
                if (param.code !== 'KPI-04.001') {
                    isEmpty = isEmpty && (this.targets[param.code]['p' + periode] === null)
                }
            }

            return isEmpty;
        },
        /**
         * Periksa apakah capaian tidak dikenakan validasi di periode tsb.
         *
         * @param {int} periode Periode untuk triwulan atau semester
         * @return {boolean} TRUE jika periode tidak perlu validasi atau FALSE sebaliknya
         */
        isRequiringNoValidation(periode) {
            return this.isVerified(periode)       // yang sudah diverifikasi tidak menggagalkan save
                || this.isPeriodeEmpty(periode);  // yang masih kosong juga tidak menggagalkan save
        },
        /**
         * Open modal dialog Konfirmasi.
         *
         * @param {int} semester Periode untuk Semester-1, Semester-2
         *
         * @return {void}
         */
        openVerifyDialog(semester) {
            this.isVerifyDialogOpen = true;
            this.period             = semester;
        },
        /**
         * Mode untuk menampilkan form input
         *
         * @param {number} semester Periode untuk Semester-1, Semester-2
         *
         * @return {boolean} TRUE jika active mode = edit dan semester ke-n belum terverifikasi
         **/
        showInputNumber(semester) {
            return this.mode === 'edit' && this.isVerified(semester) !== true;
        },
        /**
         * Tampilkan button action <tt>VERIFIKASI</tt> atau tidak.
         *
         * @param {int} semester Periode untuk Semester-1, Semester-2
         *
         * @return {boolean} TRUE jika button ditampilkan atau FALSE sebaliknya
         */
        showVerifyButton(semester) {
            if (this.mode === 'edit' || !this.canVerify) {
                return false;
            }

            let notEmpty = true;

            for (const code in this.targets) {
                if (this.targets.hasOwnProperty(code)) {
                    if (semester === 2) {
                        if (Helper.isEmpty(this.targets[code].p2)) {
                            notEmpty = false;
                        }
                    } else {
                        if (Helper.isEmpty(this.targets[code].p1)) {
                            notEmpty = false;
                        }
                    }
                }
            }

            return notEmpty && this.mode !== 'edit';
        },
        /**
         * Pesan validasi untuk periode yang menurut kelengkapan data capaian di periode tsb.
         *
         * @param {int} periode               Periode untuk triwulan atau semester
         * @param {boolean} checkJumlahPersen Optional
         *
         * @return {string} pesan validasi
         */
        validationMessage(periode, checkJumlahPersen = false) {
            if (this.isRequiringNoValidation(periode)) {
                // kosong atau sudah terverifikasi
                return '';
            } else if (!this.isKpiBeasiswaPeriodeComplete(periode)) {
                return 'Belum terisi semua';
            } else if (checkJumlahPersen && !this.sudah100persen(this.kpiKualitas, periode)) {
                return 'Total ≠ 100%';
            }
            // else
            return 'Terisi';
        }
    }
}
</script>

<style scoped>

</style>
