<template>
  <div>
    <form novalidate>
      <bs-card-body>
        <bs-alert v-if="!params" class="m-2" color="danger">
          Belum ada data
        </bs-alert>
        <div class="table-responsive-xl mb-2">
          <table class="table table-md table-valign-middle table-bordered mb-1">
            <thead class="thead-light">
              <tr>
                <th class="border-right-0"
                    rowspan="2"
                    style="width: 20px;">
                  #
                </th>
                <th class="border-left-0"
                    colspan="2"
                    rowspan="2"
                    style="min-width: 200px; padding-left: .8rem">
                  Keterangan
                </th>
                <th class="text-center"
                    rowspan="2"
                    style="width: 100px">
                  Target
                </th>
                <th class="text-center" colspan="4">
                  CAPAIAN
                </th>
              </tr>
              <tr>
                <th class="text-center" style="width: 100px">
                  Triwulan 1
                </th>
                <th class="text-center" style="width: 100px">
                  Triwulan 2
                </th>
                <th class="text-center" style="width: 100px">
                  Triwulan 3
                </th>
                <th class="text-center" style="width: 100px">
                  Triwulan 4
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(kpiParam, row) in kpiKuantitas" :key="kpiParam.code">
                <td class="border-right-0">
                  {{ row + 1 }}.
                </td>
                <td class="border-left-0" colspan="2" style="min-width: 200px;">
                  {{ kpiParam.name }}
                </td>
                <td class="text-right">
                  {{ decimalFormat(targets[kpiParam.code].target) }}
                </td>
                <td class="text-right">
                  <number-field-wrapper :disabled="!showInputNumber(1)"
                                        :readonly="mode!=='edit'"
                                        v-model="targets[kpiParam.code].p1" />
                </td>
                <td class="text-right">
                  <number-field-wrapper :disabled="!showInputNumber(2)"
                                        :readonly="mode !== 'edit'"
                                        v-model="targets[kpiParam.code].p2" />
                </td>
                <td class="text-right">
                  <number-field-wrapper :disabled="!showInputNumber(3)"
                                        :readonly="mode !== 'edit'"
                                        v-model="targets[kpiParam.code].p3" />
                </td>
                <td class="text-right">
                  <number-field-wrapper :disabled="!showInputNumber(4)"
                                        :readonly="mode !== 'edit'"
                                        v-model="targets[kpiParam.code].p4" />
                </td>
              </tr>

              <tr>
                <td class="border-right-0">
                  {{ kpiKuantitas.length + 1 }}.
                </td>
                <td class="border-left-0" colspan="7">
                  Persentase jumlah guru mencapai kriteria hasil implementasi PHBK
                </td>
              </tr>
              <tr v-for="(kpiParam, idx) in kpiKualitas" :key="kpiParam.code">
                <td class="border-right-0">
                  &nbsp;
                </td>
                <td class="border-left-0 border-right-0" style="width: 20px; vertical-align: top;">
                  {{ alphabetNumbering(idx + 1) }}.
                </td>
                <td class="border-left-0" style="min-width: 200px;">
                  {{ kpiParam.name }}
                </td>
                <td class="text-right">
                  {{ percentFormat(targets[kpiParam.code].target) }}
                </td>
                <td class="text-right"
                    :class="getTLAclass(kpiParam.code, targets[kpiParam.code].p1, targets[kpiParam.code].target)">
                  <number-field-wrapper :disabled="!showInputNumber(1)"
                                        :readonly="mode !== 'edit'"
                                        percent
                                        v-model="targets[kpiParam.code].p1" />
                </td>
                <td class="text-right"
                    :class="getTLAclass(kpiParam.code, targets[kpiParam.code].p2, targets[kpiParam.code].target)">
                  <number-field-wrapper :disabled="!showInputNumber(2)"
                                        :readonly="mode !== 'edit'"
                                        percent
                                        v-model="targets[kpiParam.code].p2" />
                </td>
                <td class="text-right"
                    :class="getTLAclass(kpiParam.code, targets[kpiParam.code].p3, targets[kpiParam.code].target)">
                  <number-field-wrapper :disabled="!showInputNumber(3)"
                                        :readonly="mode !== 'edit'"
                                        percent
                                        v-model="targets[kpiParam.code].p3" />
                </td>
                <td class="text-right"
                    :class="getTLAclass(kpiParam.code, targets[kpiParam.code].p4, targets[kpiParam.code].target)">
                  <number-field-wrapper :disabled="!showInputNumber(4)"
                                        :readonly="mode !== 'edit'"
                                        percent
                                        v-model="targets[kpiParam.code].p4" />
                </td>
              </tr>
              <tr v-if="showVerifyRow">
                <td colspan="4">
                  &nbsp;
                </td>
                <td class="p-2 text-center">
                  <font-awesome-icon v-if="isVerified(1)"
                                     :icon="['far', 'check-circle']"
                                     class="text-teal"
                                     style="font-size:1.6rem" />
                  <bs-button v-else-if="showVerifyButton(1)"
                             size="sm"
                             color="teal"
                             outlined
                             @click="openVerifyDialog(1)">
                    Verifikasi
                  </bs-button>
                </td>
                <td class="p-2 text-center">
                  <font-awesome-icon v-if="isVerified(2)"
                                     :icon="['far', 'check-circle']"
                                     class="text-teal"
                                     style="font-size:1.6rem" />
                  <bs-button v-else-if="showVerifyButton(2)"
                             size="sm"
                             color="teal"
                             outlined
                             @click="openVerifyDialog(2)">
                    Verifikasi
                  </bs-button>
                </td>
                <td class="p-2 text-center">
                  <font-awesome-icon v-if="isVerified(3)"
                                     :icon="['far', 'check-circle']"
                                     class="text-teal"
                                     style="font-size:1.6rem" />
                  <bs-button v-else-if="showVerifyButton(3)"
                             size="sm"
                             color="teal"
                             outlined
                             @click="openVerifyDialog(3)">
                    Verifikasi
                  </bs-button>
                </td>
                <td class="p-2 text-center">
                  <font-awesome-icon v-if="isVerified(4)"
                                     :icon="['far', 'check-circle']"
                                     class="text-teal"
                                     style="font-size:1.6rem" />
                  <bs-button v-else-if="showVerifyButton(4)"
                             size="sm"
                             color="teal"
                             outlined
                             @click="openVerifyDialog(4)">
                    Verifikasi
                  </bs-button>
                </td>
              </tr>
              <tr v-if="mode==='edit'">
                <td colspan="4">
                  &nbsp;
                </td>
                <td class="p-2 text-center">
                  <span :class="{ 'text-danger': (!isPeriodeComplete(params, 1) || !sudah100persen(kpiKualitas, 1)) }"
                        class="font-weight-medium">
                    {{ validationMessage(1, true) }}
                  </span>
                </td>
                <td class="p-2 text-center">
                  <span :class="{ 'text-danger': (!isPeriodeComplete(params, 2) || !sudah100persen(kpiKualitas, 2)) }"
                        class="font-weight-medium">
                    {{ validationMessage(2, true) }}
                  </span>
                </td>
                <td class="p-2 text-center">
                  <span :class="{ 'text-danger': (!isPeriodeComplete(params, 3) || !sudah100persen(kpiKualitas, 3)) }"
                        class="font-weight-medium">
                    {{ validationMessage(3, true) }}
                  </span>
                </td>
                <td class="p-2 text-center">
                  <span :class="{ 'text-danger': (!isPeriodeComplete(params, 4) || !sudah100persen(kpiKualitas, 4)) }"
                        class="font-weight-medium">
                    {{ validationMessage(4, true) }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </bs-card-body>
      <bs-card-footer class="bg-white" v-if="canEdit && mode === 'edit'">
        <bs-button :disabled="!isSaveEnabled(4)" @click="doSave" color="primary">
          Simpan
        </bs-button>
      </bs-card-footer>
    </form>

    <bs-modal :open.sync="isVerifyDialogOpen"
              :overlay-close="false"
              title="Konfirmasi Verifikasi"
              max-width="85%"
              width="400">
      Apakah Anda yakin data pada periode {{ this.period }} yang diisi oleh MITRA sudah benar dan dapat diverifikasi?
      <template v-slot:footer="">
        <bs-button color="secondary"
                   outlined
                   @click="closeVerifyDialog">
          Batal
        </bs-button>
        <bs-button color="primary" @click="doVerify(period)">
          Verifikasi
        </bs-button>
      </template>
    </bs-modal>
  </div>
</template>

<script>
import appLocale from "../../../../mixins/appLocale";
import formatUtils from "../../../../mixins/formatUtils";
import kpiCommon from "../../../../mixins/kpi/common";
import NumberFieldWrapper from '../../../../components/NumberFieldWrapper';
import { Helper } from "vue-bs4";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { GREEN, RED, YELLOW } from "../../../../mixins/kpi/KpiConst";
import { STATE_WARNING } from "../../../../store/modules/mutation-types";

export default {
    name: "CapaianKpiPaud",
    components: {FontAwesomeIcon, NumberFieldWrapper},
    mixins: [appLocale, formatUtils, kpiCommon],
    props: {
        batch: {
            type: Object,
            default: undefined
        },
        params: {
            type: [Array, Object],
            default: undefined
        },
        targets: {
            type: [Array, Object],
            default: undefined
        },
        tahun: {
            type: Number,
            default: undefined
        },
        mode: {
            type: String,
            default: undefined
        },
        canEdit: {
            type: Boolean,
            default: false
        },
        canVerify: {
            type: Boolean,
            default: false
        }
    },
    data: () => ({
        // fungsi menentukan warna TLA
        fungsiTLA: [
            // fungsi untuk Y = 0
            (A) => {
                if (A >= 25) {
                    return GREEN
                } else if (A >= 10) {
                    return YELLOW
                } else {
                    return RED;
                }
            },
            // fungsi untuk Y = 1
            (A) => {
                if (A >= 50) {
                    return GREEN
                } else if (A >= 25) {
                    return YELLOW
                } else {
                    return RED;
                }
            },
            // fungsi untuk Y = 2
            (A) => {
                if (A >= 75) {
                    return GREEN
                } else if (A >= 50) {
                    return YELLOW
                } else {
                    return RED;
                }
            }
        ],
        period: null,
        isVerifyDialogOpen: false,
    }),
    computed: {
        /**
         * Check apakah row status Verifikasi ditampilkan atau tidak.
         *
         * @return {boolean} TRUE jika ditampilkan, atau FALSE sebaliknya
         */
        showVerifyRow() {
            let notEmpty1 = true;
            let notEmpty2 = true;
            let notEmpty3 = true;
            let notEmpty4 = true;

            for (const code in this.targets) {
                if (this.targets.hasOwnProperty(code)) {
                    if (Helper.isEmpty(this.targets[code].p1)) {
                        notEmpty1 = false;
                    }
                    if (Helper.isEmpty(this.targets[code].p2)) {
                        notEmpty2 = false;
                    }
                    if (Helper.isEmpty(this.targets[code].p3)) {
                        notEmpty3 = false;
                    }
                    if (Helper.isEmpty(this.targets[code].p4)) {
                        notEmpty4 = false;
                    }
                }
            }

            return (notEmpty1 || notEmpty2 || notEmpty3 || notEmpty4) && this.mode !== 'edit';
        }
    },
    methods: {
        /**
         * Menutup modal dialog verifikasi Capaian KPI.
         *
         * @return {void}
         */
        closeVerifyDialog() {
            this.isVerifyDialogOpen = false;
        },
        /**
         * Fire event <tt>kpiSave</tt>.
         *
         * @return {void}
         */
        doSave() {
            let periodeInvalid = false;

            for (let periode = 1; periode <= 4; periode++) {
                if (!this.isRequiringNoValidation(periode)) {
                    if (!this.isPeriodeComplete(this.params, periode)) {
                        periodeInvalid = true;
                        this.$notification.warning("Hasil capaian pada Triwulan ke-" + (periode)
                            + " belum lengkap. Mohon periksa kembali data yang anda masukkan.", STATE_WARNING);
                        break;
                    } else if (!this.sudah100persen(this.kpiKualitas, periode)) {
                        periodeInvalid = true;
                        this.$notification.warning("Hasil capaian persentase jumlah guru pada Triwulan ke-" + (periode)
                            + " tidak tepat 100%. Mohon periksa kembali data yang anda masukkan.", STATE_WARNING);
                        break;
                    }
                }
            }

            if (!periodeInvalid) {
                this.$emit('kpiSave');
            }
        },
        /**
         * Proses verifikasi dan fire event <tt>kpiVerify</tt>.
         *
         * @param {int} triwulan Periode untuk Triwulan-1, Triwulan-2, Triwulan-3, atau Triwulan-4
         * @return {void}
         */
        doVerify(triwulan) {
            this.closeVerifyDialog();
            this.$emit('kpiVerify', triwulan);
        },
        /**
         * Mengkalkulasi warna TLA berdasarkan nilai, kategori, tahun dan target.
         *
         * @param {string} kode Kode parameter KPI
         * @param {Number} nilai Nilai capaian KPI
         * @param {Number} target Nilai target KPI
         * @return {Array|null} Css class name
         */
        getTLAclass(kode, nilai, target) {
            // Hitung TLA untuk Level A only
            if (this.mode !== 'edit' && kode === 'KPI-01.004' && !Helper.isEmpty(nilai) && !Helper.isEmpty(target)) {
                const noTahun = this.tahun - this.batch.tahunAwal;

                if ((noTahun >= 0) && (noTahun < 3)) {
                    const color = this.fungsiTLA[noTahun](nilai);

                    return ['bg-' + color, 'text-white'];
                }
            }

            return null;
        },
        /**
         * Open modal dialog Konfirmasi.
         *
         * @param {int} triwulan Periode untuk Triwulan-1, Triwulan-2, Triwulan-3, atau Triwulan-4
         * @return {void}
         */
        openVerifyDialog(triwulan) {
            this.isVerifyDialogOpen = true;
            this.period             = triwulan;
        },
        /**
         * Mode untuk menampilkan form input
         *
         * @param {number} triwulan Periode untuk Triwulan-1, Triwulan-2, Triwulan-3, atau Triwulan-4
         *
         * @return {boolean} TRUE jika active mode = edit dan triwulan ke-n belum terverifikasi
         **/
        showInputNumber(triwulan) {
            return this.mode === 'edit' && this.isVerified(triwulan) !== true;
        },
        /**
         * Tampilkan button action <tt>VERIFIKASI</tt> atau tidak.
         *
         * @param {int} triwulan Periode untuk Triwulan-1, Triwulan-2, Triwulan-3, atau Triwulan-4
         * @return {boolean} TRUE jika button ditampilkan atau FALSE sebaliknya
         */
        showVerifyButton(triwulan) {
            if (this.mode === 'edit' || !this.canVerify) {
                return false;
            }
            let notEmpty = true;
            for (const code in this.targets) {
                if (this.targets.hasOwnProperty(code)) {
                    switch (triwulan) {
                        case 2 :
                            if (Helper.isEmpty(this.targets[code].p2)) {
                                notEmpty = false;
                            }
                            break;
                        case 3 :
                            if (Helper.isEmpty(this.targets[code].p3)) {
                                notEmpty = false;
                            }
                            break;
                        case 4 :
                            if (Helper.isEmpty(this.targets[code].p4)) {
                                notEmpty = false;
                            }
                            break;
                        default :
                            if (Helper.isEmpty(this.targets[code].p1)) {
                                notEmpty = false;
                            }
                            break;
                    }
                }
            }
            return notEmpty && this.mode !== 'edit';
        }
    }
}
</script>

<style scoped>

</style>
