<template>
    <div>
        <form novalidate>
            <bs-card-body>
                <bs-alert v-if="!params" class="m-2" color="danger">
                    Belum ada data
                </bs-alert>
                <div class="table-responsive-xl mb-2">
                    <table class="table table-valign-middle table-bordered mb-1">
                        <thead class="thead-light">
                        <tr>
                            <th rowspan="2" class="border-right-0" style="width: 20px;">
                                #
                            </th>
                            <th class="border-left-0"
                                colspan="2"
                                rowspan="2"
                                style="min-width: 200px; padding-left: .8rem">
                                Keterangan
                            </th>
                            <th class="text-center"
                                rowspan="2"
                                style="width: 100px;">
                                Target
                            </th>
                            <th class="text-center" colspan="2">
                                CAPAIAN
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center" style="width: 100px">
                                Semester 1
                            </th>
                            <th class="text-center" style="width: 100px">
                                Semester 2
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr :key="kpiParam.code" v-for="(kpiParam, row) in kpiTargetKuantitas">
                            <td class="border-right-0">
                                {{ row + 1 }}.
                            </td>
                            <td class="border-left-0" colspan="2" style="min-width: 200px;">
                                {{ kpiParam.name }}
                            </td>
                            <td>
                                <div class="text-right mx-2">
                                    {{ decimalFormat(targets[kpiParam.code].target) }}
                                </div>
                            </td>
                            <td>
                                <div class="text-right">
                                    {{ percentTarget(totalSiswa.p1) }}
                                </div>
                            </td>
                            <td>
                                <div class="text-right">
                                    {{ percentTarget(totalSiswa.p2) }}
                                </div>
                            </td>
                        </tr>
                        <tr :key="kpiParam.code" v-for="(kpiParam, row) in kpiKuantitasChild">
                            <td class="border-right-0">
                                &nbsp;
                            </td>
                            <td class="border-left-0 border-right-0" style="width: 20px; vertical-align: top;">
                                {{ alphabetNumbering(row + 1) }}.
                            </td>
                            <td class="border-left-0" colspan="2" style="min-width: 200px;">
                                {{ kpiParam.name }}
                            </td>
                            <td class="text-right">
                                {{ percentTarget(targets[kpiParam.code].period.I) }}
                            </td>
                            <td class="text-right">
                                {{ percentTarget(targets[kpiParam.code].period.II) }}
                            </td>
                        </tr>
                        <tr>
                            <td class="border-right-0">
                                {{ kpiTargetKuantitas.length + 1 }}.
                            </td>
                            <td class="border-left-0" colspan="5">
                                Persentase mahasiswa mencapai prestasi akademik
                            </td>
                        </tr>
                        <tr :key="kpiParam.code" v-for="(kpiParam, row) in kpiTargetKualitas">
                            <td class="border-right-0">
                                &nbsp;
                            </td>
                            <td class="border-left-0 border-right-0" style="width: 20px; vertical-align: top;">
                                {{ alphabetNumbering(row + 1) }}.
                            </td>
                            <td class="border-left-0">
                                {{ kpiParam.name }}
                            </td>
                            <td class="text-right">
                                {{ percentFormat(targets[kpiParam.code].target) }}
                            </td>
                            <td class="text-right">
                                {{ percentTarget(targets[kpiParam.code].period.I / totalAch.a1) }}
                            </td>
                            <td class="text-right">
                                {{ percentTarget(targets[kpiParam.code].period.II / totalAch.a2) }}
                            </td>
                        </tr>
                        <!--<tr>-->
                            <!--<td class="text-center" colspan="4">-->
                                <!--<strong>Jumlah Total</strong>-->
                            <!--</td>-->
                            <!--<td class="text-right">-->
                                <!--{{ totalAch.a1}}-->
                            <!--</td>-->
                            <!--<td class="text-right">-->
                                <!--{{ totalAch.a2}}-->
                            <!--</td>-->
                        <!--</tr>-->
                        </tbody>
                    </table>
                </div>
            </bs-card-body>
        </form>
    </div>
</template>

<script>
    import appLocale from "../../../../mixins/appLocale";
    import formatUtils from "../../../../mixins/formatUtils";
    import kpiCommon from "../../../../mixins/kpi/common";
    import { Helper } from "vue-bs4";
    import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
    import { FALSE, KUANTITAS } from "../../../../mixins/kpi/KpiConst";
    import { STATE_WARNING } from "../../../../store/modules/mutation-types";

    export default {
        name: "KpiBeasiswa",
        components: {FontAwesomeIcon},
        mixins: [appLocale, formatUtils, kpiCommon],
        props: {
            batch: {
                type: Object,
                default: undefined
            },
            params: {
                type: [Array, Object],
                default: undefined
            },
            targets: {
                type: [Array, Object],
                default: undefined
            },
            tahun: {
                type: Number,
                default: undefined
            }
        },
        data: () => ({
            period: null
        }),
        computed: {
            /**
             * Mendapatkan data parameter child dari kpiKuantitas.
             *
             * @return {Object[]} Parameter KPI Kuantitas
             */
            kpiKuantitasChild() {
                return this.params.filter((el) => {
                    return this.paramValue(el, 'targeted') === FALSE && this.paramValue(el, 'grouping') === KUANTITAS;
                });
            },
            /**
             * Define TLA class threshold for each periode.
             *
             * @return {Number[]} TLA threshold
             */
            tlaThreshold() {
                const thres = [
                    [25, 49],
                    [20, 69],
                    [10, 79],
                    [5, 89]
                ];
                const noThn = this.tahun - this.batch.tahunAwal;

                return thres[noThn];
            },
            /**
             * Autocalc untuk menghitung jumlah total siswa dalam setiap periode.
             *
             * @return {Object} Total siswa pada periode-1 dan periode-2
             */
            totalSiswa() {
                let data = {
                    p1: null,
                    p2: null
                };

                this.kpiKuantitasChild.forEach(kpiParam => {
                    if (this.targets[kpiParam.code].period.I) {
                        if (data.p1 == null) {
                            data.p1 = 0
                        }
                        data.p1 += this.targets[kpiParam.code].period.I;
                    }
                    if (this.targets[kpiParam.code].period.II) {
                        if (data.p2 == null) {
                            data.p2 = 0
                        }
                        data.p2 += this.targets[kpiParam.code].period.II;
                    }
                });

                return data;
            },
            /**
             * @return {Object} Total achievement pada periode-1 dan periode-2
             */
            totalAch() {
                let data = {
                    a1: null,
                    a2: null
                };

                this.kpiTargetKualitas.forEach(kpiParam => {
                    if (this.targets[kpiParam.code].period.I) {
                        if (data.a1 == null) {
                            data.a1 = 0
                        }
                        data.a1 += this.targets[kpiParam.code].period.I;
                    }
                    if (this.targets[kpiParam.code].period.II) {
                        if (data.a2 == null) {
                            data.a2 = 0
                        }
                        data.a2 += this.targets[kpiParam.code].period.II;
                    }
                });

                return data;
            }
        }
    }
</script>

<style scoped>

</style>
