<template>
  <bs-card-body>
    <div style="height: 150px"></div>
    <bs-mask-loader show :opacity="0" :spinner-diameter="50" />
  </bs-card-body>
</template>

<script>

export default {
    name: "CapaianKpiDefault"
}
</script>

<style scoped>

</style>
