<template>
  <div>
    <form novalidate>
      <bs-card-body>
        <bs-alert v-if="!params" class="m-2" color="danger">
          Belum ada data
        </bs-alert>
        <div v-if="mode === 'edit'" class="table-responsive-xl mb-2">
          <table class="table table-valign-middle table-bordered mb-1">
            <thead class="thead-light">
              <tr>
                <th class="border-right-0" rowspan="2" style="width: 20px;">
                  #
                </th>
                <th class="border-left-0" rowspan="2" style="min-width: 200px;">
                  Keterangan
                </th>
                <th class="text-center"
                    rowspan="2"
                    style="width: 100px">
                  Target
                </th>
                <th class="text-center" colspan="4">
                  CAPAIAN
                </th>
              </tr>
              <tr>
                <th class="text-center" style="width: 100px">
                  Semester 1
                </th>
                <th class="text-center" style="width: 100px">
                  Semester 2
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="5" style="padding-left: .8rem">
                  <b> Capaian SMK </b>
                </td>
              </tr>
              <tr :key="kpiParam.code" v-for="(kpiParam, row) in kpiSMK">
                <td class="border-right-0">
                  {{ row + 1 }}.
                </td>
                <td class="border-left-0">
                  {{ kpiParam.name }}
                </td>
                <td class="text-right">
                  {{ decimalFormat(targets[kpiParam.code].target) }}
                </td>
                <td class="text-right">
                  {{ percentTarget(targets[kpiParam.code].period.I) }}
                </td>
                <td class="text-right">
                  {{ percentTarget(targets[kpiParam.code].period.II) }}
                </td>
              </tr>

              <tr>
                <td colspan="5" style="padding-left: .8rem">
                  <b> Capaian POLTEK </b>
                </td>
              </tr>
              <tr :key="kpiParam.code" v-for="(kpiParam, row) in kpiPoltek">
                <td class="border-right-0">
                  {{ row + 1 }}.
                </td>
                <td class="border-left-0">
                  {{ kpiParam.name }}
                </td>
                <td class="text-right">
                  {{ decimalFormat(targets[kpiParam.code].target) }}
                </td>
                <td class="text-right">
                  {{ percentTarget(targets[kpiParam.code].period.I) }}
                </td>
                <td class="text-right">
                  {{ percentTarget(targets[kpiParam.code].period.II) }}
                </td>
              </tr>
              <tr>
                <td colspan="5" style="padding-left: .8rem">
                  <b> Capaian Indikator Kualitas</b>
                </td>
              </tr>
              <tr :key="kpiParam.code" v-for="(kpiParam, idx) in kpiKualitas">
                <td class="border-right-0">
                  {{ idx + 1 }}.
                </td>
                <td class="border-left-0">
                  {{ kpiParam.name }}
                </td>
                <td class="text-right">
                  {{ decimalFormat(targets[kpiParam.code].target) }}
                </td>
                <td class="text-right">
                  {{ percentTarget(targets[kpiParam.code].period.I) }}
                </td>
                <td class="text-right">
                  {{ percentTarget(targets[kpiParam.code].period.II) }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div v-else>
          <div class="table-responsive-xl mb-3">
            <table class="table table-valign-middle table-bordered mb-1">
              <thead class="thead-light">
                <tr>
                  <th class="border-right-0" rowspan="2" style="width: 20px;">
                    #
                  </th>
                  <th class="border-left-0" rowspan="2" style="min-width: 200px; padding-left: .8rem">
                    Indikator Kuantitas
                  </th>
                  <th class="text-center"
                      rowspan="2"
                      style="width: 100px">
                    Target
                  </th>
                  <th class="text-center" colspan="2">
                    CAPAIAN
                  </th>
                  <th class="text-center"
                      rowspan="2">
                    Nilai
                  </th>
                </tr>
                <tr>
                  <th class="text-center" style="width: 100px">
                    Semester 1
                  </th>
                  <th class="text-center" style="width: 100px">
                    Semester 2
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="6" style="padding-left: .8rem">
                    <b> Capaian SMK </b>
                  </td>
                </tr>
                <tr :key="kpiParam.code" v-for="(kpiParam, row) in kpiSMK">
                  <td class="border-right-0">
                    {{ row + 1 }}.
                  </td>
                  <td class="border-left-0" style="min-width: 200px; padding-left: .8rem">
                    {{ kpiParam.name }}
                  </td>
                  <td class="text-right">
                    {{ decimalFormat(targets[kpiParam.code].target ) }}
                  </td>
                  <td class="text-right">
                    {{ percentTarget(targets[kpiParam.code].period.I) }}
                  </td>
                  <td class="text-right">
                    {{ percentTarget(targets[kpiParam.code].period.II) }}
                  </td>
                  <td class="text-right">
                    {{ generalPersentaseCapaian(kpiParam.code) ?
                      decimalFormat(generalPersentaseCapaian(kpiParam.code)) : '' }}
                  </td>
                </tr>

                <tr>
                  <td colspan="6" style="padding-left: .8rem">
                    <b> Capaian POLTEK </b>
                  </td>
                </tr>
                <tr :key="kpiParam.code" v-for="(kpiParam, row) in kpiPoltek">
                  <td class="border-right-0" style="vertical-align: top;">
                    {{ row + 1 }}.
                  </td>
                  <td class="border-left-0" style="min-width: 200px; padding-left: .8rem">
                    {{ kpiParam.name }}
                  </td>
                  <td class="text-right">
                    {{ decimalFormat(targets[kpiParam.code].target) }}
                  </td>
                  <td class="text-right">
                    {{ percentTarget(targets[kpiParam.code].period.I) }}
                  </td>
                  <td class="text-right">
                    {{ percentTarget(targets[kpiParam.code].period.II) }}
                  </td>
                  <td class="text-right">
                    {{ generalPersentaseCapaian(kpiParam.code) ?
                      decimalFormat(generalPersentaseCapaian(kpiParam.code)) : '' }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-responsive-xl mb-2">
            <table class="table table-valign-middle table-bordered mb-1">
              <thead class="thead-light">
                <tr>
                  <th class="border-right-0" rowspan="2">
                    #
                  </th>
                  <th class="border-left-0" rowspan="2" style="min-width: 200px; padding-left: .8rem">
                    Indikator Kualitas
                  </th>
                  <th class="text-center"
                      rowspan="2"
                      style="width: 100px">
                    Target
                  </th>
                  <th class="text-center" colspan="2">
                    CAPAIAN
                  </th>
                  <th class="text-center"
                      rowspan="2">
                    Nilai
                  </th>
                  <th class="text-center"
                      rowspan="2">
                    Bobot (%)
                  </th>
                  <th class="text-center"
                      rowspan="2">
                    Nilai Akhir
                  </th>
                </tr>
                <tr>
                  <th class="text-center" style="width: 100px">
                    Semester 1
                  </th>
                  <th class="text-center" style="width: 100px">
                    Semester 2
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr :key="kpiParam.code" v-for="(kpiParam, idx) in kpiKualitas">
                  <td class="border-right-0" style="vertical-align: top;">
                    {{ idx + 1 }}.
                  </td>
                  <td class="border-left-0" style="min-width: 200px; padding-left: .8rem">
                    {{ kpiParam.name }}
                  </td>
                  <td class="text-right">
                    {{ decimalFormat(targets[kpiParam.code].target) }}
                  </td>
                  <td class="text-right">
                    {{ percentTarget(targets[kpiParam.code].period.I) }}
                  </td>
                  <td class="text-right">
                    {{ percentTarget(targets[kpiParam.code].period.II) }}
                  </td>
                  <td class="text-right">
                    {{ generalPersentaseCapaian(kpiParam.code, 'kualitas') ?
                      decimalFormat(generalPersentaseCapaian(kpiParam.code, 'kualitas')) : '' }}
                  </td>
                  <td class="text-right">
                    {{ paramValue(kpiParam, 'bobot') }}
                  </td>
                  <td class="text-right">
                    {{ decimalFormat(generalNilaiAkhirKualitas.daftar[kpiParam.code]) }}
                  </td>
                </tr>
                <tr>
                  <td colspan="7">
                    <b> PERSENTASE TOTAL CAPAIAN </b>
                  </td>
                  <td :class="classifyTLA([50, 75], generalNilaiAkhirKualitas.total)"
                      class="text-right font-weight-bold">
                    {{ decimalFormat(generalNilaiAkhirKualitas.total) }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </bs-card-body>
    </form>
  </div>
</template>

<script>
import appLocale from "../../../../mixins/appLocale";
import formatUtils from "../../../../mixins/formatUtils";
import kpiCommon from "../../../../mixins/kpi/common";
import NumberFieldWrapper from '../../../../components/NumberFieldWrapper';
import { Helper } from "vue-bs4";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { STATE_WARNING } from "../../../../store/modules/mutation-types";

export default {
    name: "KpiPendidikanVokasi",
    components: {FontAwesomeIcon},
    mixins: [appLocale, formatUtils, kpiCommon],
    props: {
        batch: {
            type: Object,
            default: undefined
        },
        params: {
            type: [Array, Object],
            default: undefined
        },
        targets: {
            type: [Array, Object],
            default: undefined
        },
        tahun: {
            type: Number,
            default: undefined
        }
    },
    data: () => ({
        period: null
    }),
    computed: {
    },
    methods: {
    }
}
</script>

<style scoped>

</style>
