<template>
    <div>
        <form novalidate>
            <bs-card-body>
                <bs-alert v-if="!params" class="m-2" color="danger">
                    Belum ada data
                </bs-alert>
                <div class="table-responsive-xl mb-2">
                    <table class="table table-md table-valign-middle table-bordered mb-1">
                        <thead class="thead-light">
                        <tr>
                            <th class="border-right-0"
                                rowspan="2"
                                style="width: 20px;">
                                #
                            </th>
                            <th class="border-left-0"
                                colspan="2"
                                rowspan="2"
                                style="min-width: 200px; padding-left: .8rem">
                                Keterangan
                            </th>
                            <th class="text-center"
                                rowspan="2"
                                style="width: 100px">
                                Target
                            </th>
                            <th class="text-center" colspan="4">
                                CAPAIAN
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center" style="width: 100px">
                                Triwulan 1
                            </th>
                            <th class="text-center" style="width: 100px">
                                Triwulan 2
                            </th>
                            <th class="text-center" style="width: 100px">
                                Triwulan 3
                            </th>
                            <th class="text-center" style="width: 100px">
                                Triwulan 4
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(kpiParam, row) in kpiKuantitas" :key="kpiParam.code">
                            <td class="border-right-0">
                                {{ row + 1 }}.
                            </td>
                            <td class="border-left-0" colspan="2" style="min-width: 200px;">
                                {{ kpiParam.name }}
                            </td>
                            <td class="text-right">
                                {{ decimalFormat(targets[kpiParam.code].target) }}
                            </td>
                            <td class="text-right">
                                {{ percentTarget(targets[kpiParam.code].period.I) }}
                            </td>
                            <td class="text-right">
                                {{ percentTarget(targets[kpiParam.code].period.II) }}
                            </td>
                            <td class="text-right">
                                {{ percentTarget(targets[kpiParam.code].period.III) }}
                            </td>
                            <td class="text-right">
                                {{ percentTarget(targets[kpiParam.code].period.IV) }}
                            </td>
                        </tr>

                        <tr>
                            <td class="border-right-0">
                                {{ kpiKuantitas.length + 1 }}.
                            </td>
                            <td class="border-left-0" colspan="7">
                                Persentase jumlah guru mencapai kriteria hasil implementasi PHBK
                            </td>
                        </tr>
                        <tr v-for="(kpiParam, idx) in kpiKualitas" :key="kpiParam.code">
                            <td class="border-right-0">
                                &nbsp;
                            </td>
                            <td class="border-left-0 border-right-0" style="width: 20px; vertical-align: top;">
                                {{ alphabetNumbering(idx + 1) }}.
                            </td>
                            <td class="border-left-0" style="min-width: 200px;">
                                {{ kpiParam.name }}
                            </td>
                            <td class="text-right">
                                {{ percentFormat(targets[kpiParam.code].target) }}
                            </td>
                            <td class="text-right"
                                :class="getTLAclass(kpiParam.code, targets[kpiParam.code].period.I, targets[kpiParam.code].target)">
                                {{ percentTarget(targets[kpiParam.code].period.I) }}
                            </td>
                            <td class="text-right"
                                :class="getTLAclass(kpiParam.code, targets[kpiParam.code].period.II, targets[kpiParam.code].target)">
                                {{ percentTarget(targets[kpiParam.code].period.II) }}
                            </td>
                            <td class="text-right"
                                :class="getTLAclass(kpiParam.code, targets[kpiParam.code].period.III, targets[kpiParam.code].target)">
                                {{ percentTarget(targets[kpiParam.code].period.III) }}
                            </td>
                            <td class="text-right"
                                :class="getTLAclass(kpiParam.code, targets[kpiParam.code].period.IV, targets[kpiParam.code].target)">
                                {{ percentTarget(targets[kpiParam.code].period.IV) }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </bs-card-body>
        </form>

    </div>
</template>

<script>
    import appLocale from "../../../../mixins/appLocale";
    import formatUtils from "../../../../mixins/formatUtils";
    import kpiCommon from "../../../../mixins/kpi/common";
    import {Helper} from "vue-bs4";
    import {FontAwesomeIcon} from "@fortawesome/vue-fontawesome";
    import {GREEN, RED, YELLOW} from "../../../../mixins/kpi/KpiConst";

    export default {
        name: "KpiPaud",
        components: {FontAwesomeIcon},
        mixins: [appLocale, formatUtils, kpiCommon],
        props: {
            batch: {
                type: Object,
                default: undefined
            },
            params: {
                type: [Array, Object],
                default: undefined
            },
            targets: {
                type: [Array, Object],
                default: undefined
            },
            tahun: {
                type: Number,
                default: undefined
            }
        },
        data: () => ({
            // fungsi menentukan warna TLA
            fungsiTLA: [
                // fungsi untuk Y = 0
                (A) => {
                    if (A >= 25) {
                        return GREEN
                    } else if (A >= 10) {
                        return YELLOW
                    } else {
                        return RED;
                    }
                },
                // fungsi untuk Y = 1
                (A) => {
                    if (A >= 50) {
                        return GREEN
                    } else if (A >= 25) {
                        return YELLOW
                    } else {
                        return RED;
                    }
                },
                // fungsi untuk Y = 2
                (A) => {
                    if (A >= 75) {
                        return GREEN
                    } else if (A >= 50) {
                        return YELLOW
                    } else {
                        return RED;
                    }
                }
            ],
            period: null
        }),
        methods: {
            /**
             * Mengkalkulasi warna TLA berdasarkan nilai, kategori, tahun dan target.
             *
             * @param {string} kode Kode parameter KPI
             * @param {Number} nilai Nilai capaian KPI
             * @param {Number} target Nilai target KPI
             * @return {Array|null} Css class name
             */
            getTLAclass(kode, nilai, target) {
                // Hitung TLA untuk Level A only
                if (kode === 'KPI-01.004' && !Helper.isEmpty(nilai) && !Helper.isEmpty(target)) {
                    const noTahun = this.tahun - this.batch.tahunAwal;

                    if ((noTahun >= 0) && (noTahun < 3)) {
                        const color = this.fungsiTLA[noTahun](nilai);

                        return ['bg-' + color, 'text-white'];
                    }
                }

                return null;
            },
        }
    }
</script>

<style scoped>

</style>
