<template>
  <div>
    <form novalidate>
      <bs-card-body>
        <bs-alert v-if="!params" class="m-2" color="danger">
          Belum ada data
        </bs-alert>
        <div class="table-responsive-xl mb-3">
            <table class="table table-valign-middle table-bordered mb-1">
              <thead class="thead-light">
                <tr>
                  <th class="border-right-0" rowspan="2">
                    #
                  </th>
                  <th class="border-left-0" rowspan="2" style="min-width: 200px; padding-left: .8rem">
                    Indikator Kuantitas
                  </th>
                  <th class="text-center"
                      rowspan="2"
                      style="width: 100px">
                    Target
                  </th>
                  <th class="text-center" colspan="4">
                    CAPAIAN
                  </th>
                  <th class="text-center" rowspan="2">
                    Persentase Capaian (%)
                  </th>
                </tr>
                <tr>
                  <th class="text-center" style="width: 100px">
                    Triwulan 1
                  </th>
                  <th class="text-center" style="width: 100px">
                    Triwulan 2
                  </th>
                  <th class="text-center" style="width: 100px">
                    Triwulan 3
                  </th>
                  <th class="text-center" style="width: 100px">
                    Triwulan 4
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr :key="kpiParam.code" v-for="(kpiParam, row) in kpiKuantitas">
                  <td class="border-right-0">
                    {{ row + 1 }}.
                  </td>
                  <td class="border-left-0" style="min-width: 200px; padding-left: .8rem">
                    {{ kpiParam.name }}
                  </td>
                  <td class="text-right">
                    {{ decimalFormat(targets[kpiParam.code].target) }}
                  </td>
                  <td class="text-right">
                    {{ percentTarget(targets[kpiParam.code].period.I) }}
                  </td>
                  <td class="text-right">
                    {{ percentTarget(targets[kpiParam.code].period.II) }}
                  </td>
                  <td class="text-right">
                    {{ percentTarget(targets[kpiParam.code].period.III) }}
                  </td>
                  <td class="text-right">
                    {{ percentTarget(targets[kpiParam.code].period.IV) }}
                  </td>
                  <td class="text-right">
                    <!--{{ decimalFormat(generalPersentaseCapaian(kpiParam.code)) }}-->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        <div class="table-responsive-xl mb-2">
            <table class="table table-valign-middle table-bordered mb-1">
              <thead class="thead-light">
                <tr>
                  <th class="border-right-0" rowspan="2">
                    #
                  </th>
                  <th class="border-left-0" rowspan="2" style="min-width: 200px; padding-left: .8rem">
                    Indikator Kualitas
                  </th>
                  <th class="text-center"
                      rowspan="2"
                      style="width: 100px">
                    Target
                  </th>
                  <th class="text-center" colspan="4">
                    CAPAIAN
                  </th>
                  <th class="text-center" rowspan="2">
                    Nilai
                  </th>
                  <th class="text-center" rowspan="2">
                    Bobot (%)
                  </th>
                  <th class="text-center" rowspan="2">
                    Nilai Akhir
                  </th>
                </tr>
                <tr>
                  <th class="text-center" style="width: 100px">
                    Triwulan 1
                  </th>
                  <th class="text-center" style="width: 100px">
                    Triwulan 2
                  </th>
                  <th class="text-center" style="width: 100px">
                    Triwulan 3
                  </th>
                  <th class="text-center" style="width: 100px">
                    Triwulan 4
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr :key="kpiParam.code" v-for="(kpiParam, row) in kpiKualitas">
                  <td class="border-right-0" style="vertical-align: top;">
                    {{ row + 1 }}.
                  </td>
                  <td class="border-left-0" style="min-width: 200px; padding-left: .8rem">
                    {{ kpiParam.name }}
                  </td>
                  <td class="text-right">
                    {{ decimalFormat(targets[kpiParam.code].target) }}
                  </td>
                  <td class="text-right">
                    {{ percentTarget(targets[kpiParam.code].vokasi.I) }}
                  </td>
                  <td class="text-right">
                    {{ percentTarget(targets[kpiParam.code].vokasi.II) }}
                  </td>
                  <td class="text-right">
                    {{ percentTarget(targets[kpiParam.code].vokasi.III) }}
                  </td>
                  <td class="text-right">
                    {{ percentTarget(targets[kpiParam.code].vokasi.IV) }}
                  </td>
                  <td class="text-right">
                    {{ decimalFormat(generalPersentaseCapaian(kpiParam.code, 'kualitas')) }}
                  </td>
                  <td class="text-right">
                    {{ paramValue(kpiParam, 'bobot') }}
                  </td>
                  <td class="text-right">
                    {{ decimalFormat(generalNilaiAkhirKualitas.daftar[kpiParam.code]) }}
                  </td>
                </tr>
                <!--<tr>-->
                  <!--<td colspan="9">-->
                    <!--<b> PERSENTASE TOTAL CAPAIAN </b>-->
                  <!--</td>-->
                  <!--<td :class="classifyTLA([50, 75], generalNilaiAkhirKualitas.total)"-->
                      <!--class="text-right">-->
                    <!--{{ decimalFormat(generalNilaiAkhirKualitas.total) }}-->
                  <!--</td>-->
                <!--</tr>-->
              </tbody>
            </table>
          </div>
      </bs-card-body>
    </form>
  </div>
</template>

<script>
  import appLocale from "../../../../mixins/appLocale";
  import formatUtils from "../../../../mixins/formatUtils";
  import kpiCommon from "../../../../mixins/kpi/common";
  import {FontAwesomeIcon} from "@fortawesome/vue-fontawesome";

  export default {
    name: "KpiPelatihanVokasi",
    components: {FontAwesomeIcon},
    mixins: [appLocale, formatUtils, kpiCommon],
    props: {
        batch: {
            type: Object,
            default: undefined
        },
        params: {
            type: [Array, Object],
            default: undefined
        },
        targets: {
            type: [Array, Object],
            default: undefined
        },
        tahun: {
            type: Number,
            default: undefined
        }
    },
    data: () => ({
        period: null
    }),
    computed: {
    },
    methods: {
    }
}
</script>

<style scoped>

</style>
