<template>
    <div>
        <form novalidate>
            <bs-card-body>
                <bs-alert v-if="!params" class="m-2" color="danger">
                    Belum ada data
                </bs-alert>
                <div class="table-responsive-xl mb-3">
                    <table class="table table-valign-middle table-bordered mb-1">
                        <thead class="thead-light">
                        <tr>
                            <th class="border-right-0"
                                rowspan="2"
                                style="width: 20px;">
                                #
                            </th>
                            <th class="border-left-0" rowspan="2" style="min-width: 200px;">
                                Jumlah guru yang menerima pembelajaran Teknologi
                            </th>
                            <th class="text-center"
                                rowspan="2"
                                style="width: 100px">
                                Target
                            </th>
                            <th class="text-center" colspan="2">
                                CAPAIAN
                            </th>
                            <th class="text-center" rowspan="2" style="width: 100px">
                                Persentase Capaian (%)
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center" style="width: 100px">
                                Semester 1
                            </th>
                            <th class="text-center" style="width: 100px">
                                Semester 2
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr :key="kpiParam.code" v-for="(kpiParam, row) in kpiKuantitas">
                            <td class="border-right-0">
                                {{ row + 1 }}.
                            </td>
                            <td class="border-left-0" style="min-width: 200px;">
                                {{ kpiParam.name }}
                            </td>
                            <td class="text-right">
                                {{ decimalFormat(targets[kpiParam.code].target) }}
                            </td>
                            <td class="text-right">
                                {{ percentTarget(targets[kpiParam.code].period.I) }}
                            </td>
                            <td class="text-right">
                                {{ percentTarget(targets[kpiParam.code].period.II) }}
                            </td>
                            <td class="text-center">
                                {{ hitungPersenKuantitas(targets[kpiParam.code].period) }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <b> TOTAL </b>
                            </td>
                            <td class="text-right font-weight-bold">
                                {{ getTotalByIndex(kpiKuantitas, 'target') }}
                            </td>
                            <td class="text-right font-weight-bold">
                                {{ totalKuantitas.a1 }}
                            </td>
                            <td class="text-right font-weight-bold">
                                {{ totalKuantitas.a2 }}
                            </td>
                            <td class="text-center font-weight-bold">
                                {{ hitungPersenKuantitasTotal() }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive-xl mb-2">
                    <table class="table table-valign-middle table-bordered mb-1">
                        <thead class="thead-light">
                        <tr>
                            <th class="border-right-0"
                                rowspan="2">
                                #
                            </th>
                            <th class="border-left-0" rowspan="2" style="min-width: 200px;">
                                Jumlah guru mencapai kriteria hasil implementasi Integrasi Teknologi dalam Pembelajaran
                            </th>
                            <th class="text-center"
                                rowspan="2"
                                style="width: 100px">
                                Target
                            </th>
                            <th class="text-center" colspan="2">
                                CAPAIAN
                            </th>
                            <th class="text-center" rowspan="2">
                                Bobot
                            </th>
                            <th class="text-center" rowspan="2">
                                Persentase
                            </th>
                            <th class="text-center" rowspan="2">
                                Nilai
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center" style="width: 100px">
                                Semester 1
                            </th>
                            <th class="text-center" style="width: 100px">
                                Semester 2
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr :key="kpiParam.code" v-for="(kpiParam, row) in kpiKualitas">
                            <td class="border-right-0">
                                {{ row + 1 }}.
                            </td>
                            <td class="border-left-0" style="min-width: 200px; padding-left: 2rem">
                                {{ kpiParam.name }}
                            </td>
                            <td class="text-right">
                                {{ decimalFormat(targets[kpiParam.code].target) }}
                            </td>
                            <td class="text-right">
                                {{ percentTarget(targets[kpiParam.code].period.I) }}
                            </td>
                            <td class="text-right">
                                {{ percentTarget(targets[kpiParam.code].period.II) }}
                            </td>
                            <td class="text-right">
                                {{ paramValue(kpiParam, 'bobot') }}
                            </td>
                            <td class="text-right">
                                {{ hitungPersenKualitas(targets[kpiParam.code]) }}
                            </td>
                            <td class="text-right">
                                {{ hitungNilai(targets[kpiParam.code], paramValue(kpiParam, 'bobot')) }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <b> TOTAL </b>
                            </td>
                            <td class="text-right font-weight-bold">
                                {{ decimalFormat(getTotalByIndex(kpiKualitas, 'target')) }}
                            </td>
                            <td class="text-right font-weight-bold">
                                {{ decimalFormat(totalAch.a1) }}
                            </td>
                            <td class="text-right font-weight-bold">
                                {{ decimalFormat(totalAch.a2) }}
                            </td>
                            <td class="text-right font-weight-bold">
                            </td>
                            <td class="text-right font-weight-bold">
                                &nbsp;
                            </td>
                            <td :class="classifyTLA(tlaThreshold, hitungTotal())"
                                class="text-right font-weight-bold">
                                {{ decimalFormat(hitungTotal()) }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </bs-card-body>
        </form>
    </div>
</template>

<script>
    import {FontAwesomeIcon} from "@fortawesome/vue-fontawesome";
    import appLocale from "../../../../mixins/appLocale";
    import formatUtils from "../../../../mixins/formatUtils";
    import kpiCommon from "../../../../mixins/kpi/common";

    export default {
        name: "KpiTbe",
        components: {FontAwesomeIcon},
        mixins: [appLocale, formatUtils, kpiCommon],
        props: {
            batch: {
                type: Object,
                default: undefined
            },
            params: {
                type: [Array, Object],
                default: undefined
            },
            targets: {
                type: [Array, Object],
                default: undefined
            },
            tahun: {
                type: Number,
                default: undefined
            }
        },
        data: () => ({
            period: null
        }),
        computed: {
            /**
             * @return {Object} Total achievement pada periode-1 dan periode-2
             */
            totalAch() {
                let data = {
                    a1: null,
                    a2: null
                };

                this.kpiTargetKualitas.forEach(kpiParam => {
                    if (this.targets[kpiParam.code].period.I) {
                        if (data.a1 == null) {
                            data.a1 = 0
                        }
                        data.a1 += this.targets[kpiParam.code].period.I;
                    }
                    if (this.targets[kpiParam.code].period.II) {
                        if (data.a2 == null) {
                            data.a2 = 0
                        }
                        data.a2 += this.targets[kpiParam.code].period.II;
                    }
                });

                return data;
            },
            totalKuantitas() {
                let data = {
                    a1: null,
                    a2: null
                };

                this.kpiTargetKualitas.forEach(kpiParam => {
                    if (this.targets[kpiParam.code].period.I) {
                        if (data.a1 == null) {
                            data.a1 = 0
                        }
                        data.a1 += this.targets[kpiParam.code].period.I;
                    }
                    if (this.targets[kpiParam.code].period.II) {
                        if (data.a2 == null) {
                            data.a2 = 0
                        }
                        data.a2 += this.targets[kpiParam.code].period.II;
                    }
                });

                return data;
            },
            /**
             * Define TLA class threshold for each period.
             *
             * @return {int[]} RGBA
             */
            tlaThreshold() {
                const threshold = [
                    [150, 225],
                    [180, 255],
                    [210, 285]
                ];
                const noThn = this.tahun - this.batch.tahunAwal;

                return threshold[noThn];
            }
        },
        methods: {
            /**
             * Menghitung nilai capaian untuk indikator kualitas.
             *
             * @param {Object} capaian Nilai parameter KPI kualitas
             *
             * @return {Number} Nilai capaian KPI Kualitas
             */
            hitungCapaianKualitas(capaian) {
                let semester = this.periodeFull(2);
                let period = this.integerToRoman(semester);

                // let total = this.getTotalByIndex(this.kpiKualitas, period);
                let total = 0;
                this.kpiKualitas.forEach(kpiParam => {
                    total += (this.targets[kpiParam.code].period[period]) ? this.targets[kpiParam.code].period[period] : 0;
                });

                if (total === 0) {
                    return null;
                }

                let pvalue = capaian[period];

                return 100 * pvalue / total;
            },
            /**
             * Menghitung persen nilai capaian untuk indikator kuantitas.
             *
             * @param {Object} capaian NIlai parameter KPI kuantitas
             *
             * @return {Number|String} Nilai KPI kuantitas (dalam persen) atau empty string
             */
            hitungPersenKuantitas(capaian) {
                const semester = this.periodeFull(2);
                let period = this.integerToRoman(semester);
                const total = this.getTotalByIndex(this.kpiKuantitas, 'target');
                if (total === null) {
                    return '';
                }
                if (total === 0) {
                    return '';
                }

                const pvalue = capaian[period];

                if (isNaN(pvalue)) {
                    return 0;
                }
                const persen = 100 * pvalue / total;

                return this.decimalFormat(persen.toFixed(2));
            },
            /**
             * Menghitung persen nilai total capaian untuk indikator kuantitas.
             *
             * @return {String} Total nilai KPI kuantitas
             */
            hitungPersenKuantitasTotal() {
                const semester = this.periodeFull(2);
                let period = this.integerToRoman(semester);
                const total = this.getTotalByIndex(this.kpiKuantitas, 'target');

                if (total === null) {
                    return '';
                }
                if (total === 0) {
                    return '';
                }

                let pvalue = 0;
                this.kpiKuantitas.forEach(kpiParam => {
                    pvalue += (this.targets[kpiParam.code].period[period]) ? this.targets[kpiParam.code].period[period] : 0;
                });
                // let ptotal = (pvalue === 0) ? null : pvalue;

                if (isNaN(pvalue)) {
                    return '';
                }

                const persen = 100 * pvalue / total;

                return this.decimalFormat(persen.toFixed(2));
            },
            /**
             * Menghitung persen nilai capaian untuk indikator kualitas.
             *
             * @param {Object} capaian Nilai parameter KPI
             *
             * @return {Number|String} Nilai KPI kualitas (dalam persen) atau empty string
             */
            hitungPersenKualitas(capaian) {
                const persen = this.hitungCapaianKualitas(capaian.period);

                if (persen === null || isNaN(persen)) {
                    return 0 ;
                }

                return this.decimalFormat(persen.toFixed(2)) + '%';
            },
            /**
             * Menghitung nilai capaian untuk indikator kualitas.
             *
             * @param {Object} capaian Nilai parameter KPI
             * @param {Number} bobot   Bobot parameter KPI
             *
             * @return {Number|String} Nilai capaian KPI
             */
            hitungNilai(capaian, bobot) {
                const persen = this.hitungCapaianKualitas(capaian.period);

                if (persen === null || isNaN(persen)) {
                    return 0;
                }

                return this.decimalFormat((bobot * persen).toFixed(2));
            },
            /**
             * Menghitung total nilai capaian untuk indikator kualitas.
             *
             * @return {String} Nilai total capaian KPI
             */
            hitungTotal() {
                const flag = this.periodeFull(2);
                let period = this.integerToRoman(flag);
                // const totalParamValue = this.getTotalByIndex(this.kpiKualitas, period);
                let totalParamValue = 0;
                this.kpiKualitas.forEach(kpiParam => {
                    totalParamValue += (this.targets[kpiParam.code].period[period]) ? this.targets[kpiParam.code].period[period] : 0;
                });

                let totalNilai = 0;
                this.kpiKualitas.forEach(kpiParam => {
                    let pvalue = this.targets[kpiParam.code].period[period];
                    if (pvalue) {
                        const tempPersentase = (pvalue / totalParamValue) * 100;
                        const tempNilai = tempPersentase * this.paramValue(kpiParam, 'bobot');

                        totalNilai += tempNilai;
                    }
                });

                return totalNilai.toFixed(2);
            }
        }
    }
</script>

<style scoped>

</style>
