<template>
    <li v-if="tagName === 'li'" :is="tagName" :class="classNames" v-on="$listeners">
        <router-link v-if="hasRouter" v-bind="attributes" :class="linkClass" :to="path" :active-class="activeClass"
                     :exact="exact" @click.native="_onClick">
            <bs-tab-label v-bind="{ label:label, icon:icon, iconPosition:tabs.iconPosition, iconSize:tabs.iconSize }"/>
        </router-link>
        <a v-else v-bind="attributes" :href="url" :class="linkClass" @click="_onClick">
            <bs-tab-label v-bind="{ label:label, icon:icon, iconPosition:tabs.iconPosition, iconSize:tabs.iconSize }"/>
        </a>
    </li>
    <router-link v-else-if="hasRouter" v-bind="attributes" :class="classNames" :to="path" :active-class="activeClass"
                 :exact="exact" v-on="$listeners" @click.native="_onClick">
        <bs-tab-label v-bind="{ label: label, icon: icon, iconPosition: tabs.iconPosition, iconSize: tabs.iconSize }"/>
    </router-link>
    <a v-else v-bind="attributes" :href="url" :class="classNames" v-on="$listeners" @click="_onClick">
        <bs-tab-label v-bind="{ label: label, icon: icon, iconPosition: tabs.iconPosition, iconSize: tabs.iconSize }"/>
    </a>
</template>

<script>
    import RouteAble from '../../mixins/RouteAble';
    import BsTabLabel from "./BsTabLabel";

    export default {
        name: 'BsTab',
        components: {BsTabLabel},
        mixins: [RouteAble],
        inject: ['tabs'],
        props: {
            id: String,
            icon: [String, Array],
            target: String,
            label: String,
        },
        data: () => ({
            isActive: false,
            tabIndex: -1
        }),
        computed: {
            /**
             * Get computed binding's attributes.
             *
             * @return {Object}
             */
            attributes() {
                return {
                    'id': this.id,
                    'role': 'tab',
                    'aria-controls': this.target,
                    'aria-selected': this.active
                }
            },
            /**
             * Get computed component's class names.
             *
             * @return {Object}
             */
            classNames() {
                return {
                    'nav-item': true,
                    'nav-link': this.tagName !== 'li',
                    'text-center': this.tagName !== 'li',
                    'flex-fill': this.tabs.align === 'justified',
                    [this.activeClass]: this.active && this.tagName !== 'li' && !this.hasRouter
                }
            },
            /**
             * Get computed link's class names.
             *
             * @return {Object}
             */
            linkClass() {
                return {
                    'nav-link': true,
                    'text-center': true,
                    'flex-fill': this.tabs.align === 'justified',
                    [this.activeClass]: this.active && !this.hasRouter
                }
            },
            /**
             * Get computed html TAG.
             *
             * @return {string}
             */
            tagName() {
                return this.tabs.variant === 'pills' ? 'li' : 'a';
            },
            active: {
                get(){
                    return this.isActive;
                },
                set(value) {
                    this.isActive = value;
                }
            }
        },
        created() {
            const idx     = this.tabs.register(this);
            this.tabIndex = idx - 1;
        },
        mounted() {
            if (this.hasRouter) this._onRouteChange();
        },
        beforeDestroy() {
            this.tabs.unregister(this.tabIndex);
        },
        methods: {
            _onClick(e) {
                if (this.hasLink && this.url.startsWith('#') && e) e.preventDefault();
                this.tabs.setActiveTab(this.tabIndex);
                this.$emit('click', this);
            },
            _onRouteChange() {
                if (this.hasRouter && this.$route.path === this.path) this._onClick();
            }
        }
    }
</script>

<style scoped>

</style>