<template>
  <div class="body-container pb-1">
    <div v-for="(program, idx) in programCsr.dataItems"
         :key="program.msid + '-' + idx">
      <h3 class="font-weight-light">
        {{ program.title }}
      </h3>
      <bs-card class="mb-4" shadow>
        <bs-card-body class="table-responsive-lg pb-1">
          <div class="batch-body">
            <div v-for="batch in program.batches" :key="batch.batchId" class="batch-column">
              <bs-card-content type="title" tag="h4" class="font-weight-normal">
                {{ batch.namaBatch }}
              </bs-card-content>
              <div class="card-group">
                <bs-card v-for="capaianKpiDto in batch.yearlyCapaian"
                         :key="capaianKpiDto.year + '-' + batch.batchId"
                         :class="colorTLA(capaianKpiDto, program.msid, batch)"
                         class="text-center">
                  <bs-card-header tag="h5"
                                  :class="{'bg-white': colorTLA(capaianKpiDto, program.msid, batch) == null}"
                                  class="text-nowrap">
                    {{ displayYear(capaianKpiDto, program.msid) }}
                  </bs-card-header>
                  <bs-card-body class="p-3" style="height: 60px">
                    <bs-card-content tag="div" class="h4 mt-2">
                      {{ generateNumber(capaianKpiDto, program.msid, batch) }}
                    </bs-card-content>
                  </bs-card-body>
                  <bs-card-body class="py-3">
                    <bs-button :href="urlViewBatch(batch.batchId, capaianKpiDto.year)"
                               color="primary"
                               icon="eye"
                               icon-position="left"
                               size="sm"
                               v-if="(hasEditorAccessRights || hasVerificatorAccessRights || hasAccess) && showButton(capaianKpiDto)" />
                    <bs-button :href="urlEditBatch(batch.batchId, capaianKpiDto.year)"
                               color="primary"
                               icon="pen"
                               icon-position="left"
                               size="sm"
                               v-if="(hasEditorAccessRights) && showButtonEdit(capaianKpiDto, program.msid)" />
                  </bs-card-body>
                </bs-card>

              </div>
            </div>
          </div>
        </bs-card-body>
      </bs-card>
    </div>
    <bs-mask-loader :show="programCsr.loading" :opacity="0" :spinner-diameter="50" />
  </div>
</template>

<script>
import { BsStore } from "vue-bs4";
import appLocale from "../../../mixins/appLocale";
import defaultRouteGuard from "../../../mixins/security/defaultRouteGuard";
import formatUtils from "../../../mixins/formatUtils";
import httpErrorResponse from "../../../mixins/httpErrorResponse";

export default {
    name: "DashboardCapaianKpi",
    mixins: [appLocale, formatUtils, httpErrorResponse, defaultRouteGuard],
    data: () => ({
        programCsr: new BsStore({
            idProperty: 'msid',
            dataProperty: 'data',
            totalProperty: 'total',
            restUrl: {
                browse: '/kegiatan/kpi/monitor-programs'
            }
        })
    }),
    created() {
        this.programCsr.load().catch((error) => {
            this.showErrorMessage(error);
        });
    },
    beforeDestroy() {
        this.programCsr.destroy();
        this.programCsr = null;
    },
    methods: {
        /**
         * Return Color of card.
         *
         * @param {int} data Data   capaian KPI
         * @param {int} batasAtas   Batas Atas capaian
         * @param {int} batasBawah  Batas Bawah capaian
         * @return {String[]} Css class names
         */
        colorGenerateByParams(data, batasAtas, batasBawah) {
            if (data >= batasAtas) {
                return [
                    'bg-success', 'text-white'
                ];
            } else if (data < batasAtas && data >= batasBawah) {
                return [
                    'bg-warning'
                ];
            } else {
                return [
                    'bg-danger', 'text-white'
                ];
            }
        },
        /**
         * Return Color of card Paud.
         *
         * @param {Object[]} parameter Data capaian KPI Paud
         * @return {String[]} Css class names
         */
        colorGeneratePaud(parameter) {
            // Filter data to get only quality data
            let data = parameter.filter(el => !el.kuantitas);

            if (data[0].p4 !== null) {
                if (data[0].tahun % data[0].periodeBatch.tahunAwal === 0) {
                    return this.colorGenerateByParams(data[0].p4, 25, 10);
                } else if (data[0].tahun % data[0].periodeBatch.tahunAwal === 1) {
                    return this.colorGenerateByParams(data[0].p4, 50, 25);
                } else {
                    return this.colorGenerateByParams(data[0].p4, 75, 50);
                }
            } else if (data[0].p3 !== null) {
                if (data[0].tahun % data[0].periodeBatch.tahunAwal === 0) {
                    return this.colorGenerateByParams(parameter[0].p3, 25, 10);
                } else if (data[0].tahun % data[0].periodeBatch.tahunAwal === 1) {
                    return this.colorGenerateByParams(data[0].p3, 50, 25);
                } else {
                    return this.colorGenerateByParams(data[0].p3, 75, 50);
                }
            } else if (data[0].p2 !== null) {
                if (data[0].tahun % data[0].periodeBatch.tahunAwal === 0) {
                    return this.colorGenerateByParams(data[0].p2, 25, 10);
                } else if (data[0].tahun % data[0].periodeBatch.tahunAwal === 1) {
                    return this.colorGenerateByParams(data[0].p2, 50, 25);
                } else {
                    return this.colorGenerateByParams(data[0].p2, 75, 50);
                }
            } else if (data[0].p1 !== null) {
                if (data[0].tahun % data[0].periodeBatch.tahunAwal === 0) {
                    return this.colorGenerateByParams(data[0].p1, 25, 10);
                } else if (data[0].tahun % data[0].periodeBatch.tahunAwal === 1) {
                    return this.colorGenerateByParams(data[0].p1, 50, 25);
                } else {
                    return this.colorGenerateByParams(data[0].p1, 75, 50);
                }
            } else {
                return null;
            }
        },
        /**
         * Return Color of card Pendidikan Vokasi.
         *
         * @param {Object[]} parameter Data capaian KPI Pendidikan Vokasi
         * @param {Object}   batch     Data batch KPI Pendidikan Vokasi
         * @return {String[]} Css class names
         */
        colorGeneratePendidikanVokasi(parameter, batch) {
            let total = 0;
            let data  = parameter.filter(el => !el.kuantitas);

            if (data[0].p2 !== null) {
                data.forEach(element => {
                    let bobot    = element.dataRef.params.filter(elm => elm.property === 'bobot');
                    let baseline = element.dataRef.params.filter(elm => elm.property === 'baseline');

                    if (element.dataRef.code === 'KPI-02.014') {
                        let tefa = 3.00 + (0.25 * (element.tahun - batch.tahunAwal + 1));
                        total += (((element.p2 - baseline[0].value) / (tefa - baseline[0].value)) * (bobot[0].value / 100));
                    } else {
                        total += (element.p2 / element.target) * (bobot[0].value / 100);
                    }

                });

            } else if (data[0].p1 !== null) {
                data.forEach(element => {
                    let bobot    = element.dataRef.params.filter(elm => elm.property === 'bobot');
                    let baseline = element.dataRef.params.filter(elm => elm.property === 'baseline');

                    if (element.dataRef.code === 'KPI-02.014') {
                        let tefa = 3.00 + (0.25 * (element.tahun - batch.tahunAwal + 1));
                        total += (((element.p1 - baseline[0].value) / (tefa - baseline[0].value)) * (bobot[0].value / 100));
                    } else {
                        total += (element.p1 / element.target) * (bobot[0].value / 100);
                    }

                });

            }

            total *= 100;
            if (total > 75) {
                return [
                    'bg-success', 'text-white'
                ];
            } else if (total <= 75 && total >= 50) {
                return [
                    'bg-warning'
                ];
            } else if (total > 0 || total < 0) {
                return [
                    'bg-danger', 'text-white'
                ];
            } else {
                return null;
            }
        },
        /**
         * Return Color of card Pelatihan Vokasi.
         *
         * @param {Object[]} parameter Data capaian KPI Pelatihan Vokasi
         * @return {String[]} Css class names
         */
        colorGeneratePelatihanVokasi(parameter) {
            let total = 0;
            let data  = parameter.filter(el => !el.kuantitas);

            if (data[0].p4 !== null) {
                data.forEach(element => {
                    let bobot = element.dataRef.params.filter(elm => elm.property === 'bobot');
                    total += (element.p4 / element.target) * (bobot[0].value / 100);
                });

            } else if (data[0].p3 !== null) {
                data.forEach(element => {
                    let bobot = element.dataRef.params.filter(elm => elm.property === 'bobot');
                    total += (element.p3 / element.target) * (bobot[0].value / 100);
                });

            } else if (data[0].p2 !== null) {
                data.forEach(element => {
                    let bobot = element.dataRef.params.filter(elm => elm.property === 'bobot');
                    total += (element.p2 / element.target) * (bobot[0].value / 100);
                });

            } else if (data[0].p1 !== null) {
                data.forEach(element => {
                    let bobot = element.dataRef.params.filter(elm => elm.property === 'bobot');
                    total += (element.p1 / element.target) * (bobot[0].value / 100);
                });

            }
            total *= 100;

            if (total > 75) {
                return [
                    'bg-success', 'text-white'
                ];
            } else if (total <= 75 && total >= 50) {
                return [
                    'bg-warning'
                ];
            } else if (total > 0) {
                return [
                    'bg-danger', 'text-white'
                ];
            } else {
                return null;
            }
        },
        /**
         * Return Color of card Beasiswa.
         *
         * @param {Object[]} parameter Data capaian KPI Beasiswa
         * @return {String[]} Css class names
         */
        colorGenerateBeasiswa(parameter) {
            let data = parameter.filter(el => !el.kuantitas);

            if (data[0].p4 !== null) {
                if (data[0].tahun % data[0].periodeBatch.tahunAwal === 0) {
                    return this.colorGenerateByParams(data[0].p4, 50, 25);
                } else if (data[0].tahun % data[0].periodeBatch.tahunAwal === 1) {
                    return this.colorGenerateByParams(data[0].p4, 70, 20);
                } else if (data[0].tahun % data[0].periodeBatch.tahunAwal === 2) {
                    return this.colorGenerateByParams(data[0].p4, 80, 10);
                } else {
                    return this.colorGenerateByParams(data[0].p4, 90, 5);
                }
            } else if (data[0].p3 !== null) {
                if (data[0].tahun % data[0].periodeBatch.tahunAwal === 0) {
                    return this.colorGenerateByParams(data[0].p3, 50, 25);
                } else if (data[0].tahun % data[0].periodeBatch.tahunAwal === 1) {
                    return this.colorGenerateByParams(data[0].p3, 70, 20);
                } else if (data[0].tahun % data[0].periodeBatch.tahunAwal === 2) {
                    return this.colorGenerateByParams(data[0].p3, 80, 10);
                } else {
                    return this.colorGenerateByParams(data[0].p3, 90, 5);
                }
            } else if (data[0].p2 !== null) {
                if (data[0].tahun % data[0].periodeBatch.tahunAwal === 0) {
                    return this.colorGenerateByParams(data[0].p2, 50, 25);
                } else if (data[0].tahun % data[0].periodeBatch.tahunAwal === 1) {
                    return this.colorGenerateByParams(data[0].p2, 70, 20);
                } else if (data[0].tahun % data[0].periodeBatch.tahunAwal === 2) {
                    return this.colorGenerateByParams(data[0].p2, 80, 10);
                } else {
                    return this.colorGenerateByParams(data[0].p2, 90, 5);
                }
            } else if (data[0].p1 !== null) {
                if (data[0].tahun % data[0].periodeBatch.tahunAwal === 0) {
                    return this.colorGenerateByParams(data[0].p1, 50, 25);
                } else if (data[0].tahun % data[0].periodeBatch.tahunAwal === 1) {
                    return this.colorGenerateByParams(data[0].p1, 70, 20);
                } else if (data[0].tahun % data[0].periodeBatch.tahunAwal === 2) {
                    return this.colorGenerateByParams(data[0].p1, 80, 10);
                } else {
                    return this.colorGenerateByParams(data[0].p1, 90, 5);
                }
            } else {
                return null;
            }
        },
        /**
         * Return Color of card TBE.
         *
         * @param {Object[]} parameter Data capaian KPI Tbe
         * @return {String[]} Css class names
         */
        colorGenerateTbe(parameter) {
            let total        = 0;
            let totalCapaian = 0;
            let data         = parameter.filter(el => !el.kuantitas);

            if (data[0].p2 !== null) {
                data.forEach(element => {
                    totalCapaian += element.p2;
                });

                data.forEach(element => {
                    let bobot = element.dataRef.params.filter(elm => elm.property === 'bobot');
                    total += (element.p2 / totalCapaian) * bobot[0].value;
                });

                total *= 100;

                if (data[0].tahun % data[0].periodeBatch.tahunAwal === 0) {
                    return this.colorGenerateByParams(total, 225, 150);
                } else if (data[0].tahun % data[0].periodeBatch.tahunAwal === 1) {
                    return this.colorGenerateByParams(total, 255, 180);
                } else {
                    return this.colorGenerateByParams(total, 285, 210);
                }

            } else if (data[0].p1 !== null) {
                data.forEach(element => {
                    totalCapaian += element.p1;
                });

                data.forEach(element => {
                    let bobot = element.dataRef.params.filter(elm => elm.property === 'bobot');
                    total += (element.p1 / totalCapaian) * bobot[0].value;
                });

                total *= 100;

                if (data[0].tahun % data[0].periodeBatch.tahunAwal === 0) {
                    return this.colorGenerateByParams(total, 225, 150);
                } else if (data[0].tahun % data[0].periodeBatch.tahunAwal === 1) {
                    return this.colorGenerateByParams(total, 255, 180);
                } else {
                    return this.colorGenerateByParams(total, 285, 210);
                }
            } else {
                return null;
            }
        },
        /**
         * Generate css class for TLA.
         *
         * @param {Object} capaianKpi Data capaian KPI utk tahun tertentu
         * @param {int}    msid       ID Program CSR
         * @param {Object} batch      Data Batch
         * @return {String[]|null} Css class names
         */
        colorTLA(capaianKpi, msid, batch) {
            if (capaianKpi.parameters.length > 0) {
                switch (msid) {
                    case 1:
                        return this.colorGeneratePaud(capaianKpi.parameters);
                    case 2:
                        return this.colorGeneratePendidikanVokasi(capaianKpi.parameters, batch);
                    case 3:
                        return this.colorGeneratePelatihanVokasi(capaianKpi.parameters);
                    case 4:
                        return this.colorGenerateBeasiswa(capaianKpi.parameters);
                    case 5:
                        return this.colorGenerateTbe(capaianKpi.parameters);
                    default :
                        return null;
                }
            }

            return null;
        },
        /**
         * Generate Number Function.
         *
         * @param {Object} capaianKpi Data capaian KPI utk tahun tertentu
         * @param {Object} msid       ID dari capaian kpi
         * @param {Object} batch      Data Batch
         * @return {String} Random nilai capaian KPI
         */
        generateNumber(capaianKpi, msid, batch) {
            if (capaianKpi.parameters.length > 0) {
                switch (msid) {
                    case 1:
                        return this.calculatePaud(capaianKpi.parameters);
                    case 2:
                        return this.calculatePendidikanVokasi(capaianKpi.parameters, batch);
                    case 3:
                        return this.calculatePelatihanVokasi(capaianKpi.parameters);
                    case 4:
                        return this.calculateBeasiswa(capaianKpi.parameters);
                    case 5:
                        return this.calculateTbe(capaianKpi.parameters);
                    default :
                        return '';
                }
            }

            return '';
        },
        /**
         * Calculate Paud Number Function
         *
         * @param {Object[]} parameter Data capaian KPI Paud
         * @return {String} nilai capaian KPI Paud
         */
        calculatePaud(parameter) {
            const data = parameter.filter(el => !el.kuantitas);

            return this.percentFormat(data[0].p4 || data[0].p3 || data[0].p2 || data[0].p1);
        },
        /**
         * Calculate Beasiswa Number Function
         *
         * @param {Object[]} parameter Data capaian KPI Beasiswa
         * @return {String} nilai capaian KPI Beasiswa
         */
        calculateBeasiswa(parameter) {
            const data = parameter.filter(el => !el.kuantitas);

            return this.percentFormat(data[0].p4 || data[0].p3 || data[0].p2 || data[0].p1);
        },
        /**
         * Calculate Tbe Number Function
         *
         * @param {Object[]} parameter Data capaian KPI Tbe
         * @return {String} nilai capaian KPI Tbe
         */
        calculateTbe(parameter) {
            let total        = 0;
            let totalCapaian = 0;
            const data       = parameter.filter(el => !el.kuantitas);

            if (data[0].p2 !== null) {
                data.forEach(element => {
                    totalCapaian += element.p2;
                });

                data.forEach(element => {
                    const bobot = element.dataRef.params.filter(elm => elm.property === 'bobot');
                    total += (element.p2 / totalCapaian) * bobot[0].value;
                });

                return this.decimalFormat((total * 100).toFixed(2));
            } else if (data[0].p1 !== null) {
                data.forEach(element => {
                    totalCapaian += element.p1;
                });

                data.forEach(element => {
                    const bobot = element.dataRef.params.filter(elm => elm.property === 'bobot');
                    total += (element.p1 / totalCapaian) * bobot[0].value;
                });

                return this.decimalFormat((total * 100).toFixed(2));
            } else {
                return '';
            }
        },
        /**
         * Calculate Pelatihan Vokasi Number Function
         *
         * @param {Object[]} parameter Data capaian KPI Pelatihan Vokasi
         * @return {string} nilai capaian KPI Pelatihan Vokasi
         */
        calculatePelatihanVokasi(parameter) {
            let total  = 0;
            const data = parameter.filter(el => !el.kuantitas);

            if (data[0].p4 !== null) {
                data.forEach(element => {
                    const bobot = element.dataRef.params.filter(elm => elm.property === 'bobot');
                    total += (element.p4 / element.target) * (bobot[0].value / 100);
                });

                return this.percentFormat((total * 100).toFixed(2));
            } else if (data[0].p3 !== null) {
                data.forEach(element => {
                    const bobot = element.dataRef.params.filter(elm => elm.property === 'bobot');
                    total += (element.p3 / element.target) * (bobot[0].value / 100);
                });

                return this.percentFormat((total * 100).toFixed(2));
            } else if (data[0].p2 !== null) {
                data.forEach(element => {
                    const bobot = element.dataRef.params.filter(elm => elm.property === 'bobot');
                    total += (element.p2 / element.target) * (bobot[0].value / 100);
                });

                return this.percentFormat((total * 100).toFixed(2));
            } else if (data[0].p1 !== null) {
                data.forEach(element => {
                    const bobot = element.dataRef.params.filter(elm => elm.property === 'bobot');
                    total += (element.p1 / element.target) * (bobot[0].value / 100);
                });

                return this.percentFormat((total * 100).toFixed(2));
            } else {
                return '';
            }
        },
        /**
         * Calculate Pendidikan Vokasi Number Function
         *
         * @param {Object[]} parameter Data capaian KPI Pendidikan Vokasi
         * @param {Object}   batch     Data batch
         * @return {String} nilai capaian KPI Pendidikan Vokasi
         */
        calculatePendidikanVokasi(parameter, batch) {
            let total  = 0;
            const data = parameter.filter(el => !el.kuantitas);

            if (data[0].p2 !== null) {
                data.forEach(element => {
                    const bobot    = element.dataRef.params.filter(elm => elm.property === 'bobot');
                    const baseline = element.dataRef.params.filter(elm => elm.property === 'baseline');

                    if (element.dataRef.code === 'KPI-02.014') {
                        const tefa = 3.00 + (0.25 * (element.tahun - batch.tahunAwal + 1));
                        total += (((element.p2 - baseline[0].value) / (tefa - baseline[0].value)) * (bobot[0].value / 100));
                    } else {
                        total += (element.p2 / element.target) * (bobot[0].value / 100);
                    }
                });

                return this.percentFormat((total * 100).toFixed(2));
            } else if (data[0].p1 !== null) {
                data.forEach(element => {
                    const bobot    = element.dataRef.params.filter(elm => elm.property === 'bobot');
                    const baseline = element.dataRef.params.filter(elm => elm.property === 'baseline');

                    if (element.dataRef.code === 'KPI-02.014') {
                        let tefa = 3.00 + (0.25 * (element.tahun - batch.tahunAwal + 1));
                        total += (((element.p1 - baseline[0].value) / (tefa - baseline[0].value)) * (bobot[0].value / 100));
                    } else {
                        total += (element.p1 / element.target) * (bobot[0].value / 100);
                    }

                });

                return this.percentFormat((total * 100).toFixed(2));
            } else {
                return '';
            }
        },
        /**
         * Menampilkan tahun programCsr
         *
         * @param {Object} capaianKpi Data capaian KPI
         * @param {int}    msid       ID Program CSR
         * @return {string} tahun yang akan ditampilkan
         */
        displayYear(capaianKpi, msid) {
            switch (msid) {
                case 2:
                case 4:
                case 5:
                    return capaianKpi.year + '-' + (capaianKpi.year + 1);
                default:
                    return capaianKpi.year;
            }
        },
        /**
         * Melakukan pengecekan apakah suatu capaian Kpi memiliki parameter atau tidak.
         *
         * @param {Object} capaianKpi Data capaian KPI
         * @return {boolean} Parameter exists or not
         */
        isExistParams(capaianKpi) {
            return capaianKpi.parameters.length > 0;
        },

        /**
         * Melakukan pengecekan perlu tidaknya menampilkan tombol edit
         * Return true
         *
         * @param {Object} capaianKpi Data capaian KPI
         * @param {Object} msid       ID Program CSR
         * @return {boolean} TRUE display button Edit otherwise FALSE
         */
        showButtonEdit(capaianKpi, msid) {
            if (capaianKpi.parameters.length > 0) {
                let totalPeriod = 2;

                if (msid === 1 || msid === 3) {
                    totalPeriod = 4
                }

                let show = false;
                for (let i = 1; i <= totalPeriod; ++i) {
                    for (let j = 0; j < capaianKpi.parameters.length; ++j) {
                        if (!capaianKpi.parameters[j]['p' + i + 'Verified']) {
                            show = true;
                            break;
                        }
                    }

                }
                // return !capaianKpi.parameters[0].p1Verified || !capaianKpi.parameters[0].p2Verified || !capaianKpi.parameters[0].p3Verified || !capaianKpi.parameters[0].p4Verified;
                return show;
            } else {
                return false;
            }
        },
        /**
         * Melakukan pengecekan apakah perlu menampilkan tombol atau tidak
         *
         * @param {Object} capaianKpi Data capaian KPI
         * @return {boolean} TRUE display button View otherwise FALSE
         */
        showButton(capaianKpi) {
            return capaianKpi.parameters.length > 0;
        },
        /**
         * Generate url untuk melihat detail sebuah capaian
         *
         * @param {int} batchId Id Batch capaian
         * @param {int} tahun   Tahun capaian
         * @return {string} Url detail capaian
         */
        urlViewBatch(batchId, tahun) {
            return '#/kegiatan/capaian-kpi/' + batchId + '/' + tahun;
        },
        /**
         * Generate url untuk melakukan edit sebuah capaian
         *
         * @param {int} batchId ID Batch capaian
         * @param {int} tahun   Tahun capaian
         * @return {string} Url edit capaian
         */
        urlEditBatch(batchId, tahun) {
            return '#/kegiatan/capaian-kpi/' + batchId + '/' + tahun + '/edit';
        }
    }
}
</script>

<style lang="scss" scoped>
  @import "~bootstrap/scss/functions";
  @import "~bootstrap/scss/variables";
  @import "~bootstrap/scss/mixins/breakpoints";
  @import "~compass-sass-mixins/lib/compass/css3";

  .batch-body {
    display: flex;
    flex-direction: row;
    margin-left: -15px;
    margin-right: -15px;

    > .batch-column {
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;

      .card-group {
        flex-flow: row nowrap;

        > .card {
          margin-bottom: 0;
          min-width: 125px;

          + .card {
            margin-left: 0;
            border-left: 0;
          }

          h5 {
            font-size: 1.14rem;
          }

          &:first-child {
            @include border-right-radius(0);
          }

          &:last-child {
            @include border-left-radius(0);
          }

          &:not(:first-child):not(:last-child):not(:only-child) {
            @include border-radius(0);
          }
        }
      }
    }

    @include media-breakpoint-up(lg) {
      display: block;

      > .batch-column {
        display: inline-block;
      }
    }
  }

</style>
