<template>
    <div class="body-container">
        <bs-card shadow>
            <bs-card-body class="pb-0">
                <div class="row">
                    <div class="col-xl-7">
                        <div class="form-group">
                            <bs-text-field :value="programName" readonly>
                                <label class="col-form-label col-lg-3 font-weight-bold">
                                    PROGRAM CSR
                                </label>
                            </bs-text-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-7">
                        <div class="form-group row">
                            <label class="col-form-label col-lg-3 font-weight-bold">
                                PERIODE BATCH
                            </label>
                            <div class="col-lg-9">
                                <div class="row">
                                    <div class="col-md-7">
                                        <bs-text-field :value="batchName" readonly />
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-row">
                                            <label class="col-form-label col-md-5 font-weight-bold">
                                                TAHUN
                                            </label>
                                            <div class="col-md-7">
                                                <bs-text-field :value="tahun" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </bs-card-body>
            <transition name="fade" mode="out-in">
                <component :is="kpiComponent"
                           @kpiSave="doSave"
                           @kpiVerify="doVerify"
                           @kpiMassVerify="doMassVerify"
                           @kpiVerifyKualitas="doVerifyKualitas"
                           @kpiVerifyKuantitas="doVerifyKuantitas"
                           v-bind="kpiBind" />
            </transition>
            <bs-mask-loader :opacity="0"
                            :show="showProgress"
                            :spinner-diameter="50" />
            <bs-card-footer v-if="(batch) && (mode==='view')">
                <narasi-capaian-kpi :narasi="batchNarasi(tahun)"
                                    :can-edit="hasVerificatorAccessRights"
                                    @narasiUpdate="doUpdateNarasi"/>
            </bs-card-footer>
        </bs-card>
    </div>
</template>

<script>
    import { Helper } from "vue-bs4";
    import { BatchModel } from "../../../models/MasterData/Batch/BatchModel";
    import {
        MSG_SAVE_SUCCESS,
        MSG_UPDATE_SUCCESS,
        MSG_VERIFY_SUCCESS,
        STATE_SUCCESS
    } from "../../../store/modules/mutation-types";
    import defaultRouteGuard from "../../../mixins/security/defaultRouteGuard";
    import httpErrorResponse from "../../../mixins/httpErrorResponse";
    import CapaianKpiPaud from "./Forms/CapaianKpiPaud";
    import CapaianKpiPendidikanVokasi from "./Forms/CapaianKpiPendidikanVokasi"
    import CapaianKpiPelatihanVokasi from "./Forms/CapaianKpiPelatihanVokasi"
    import CapaianKpiBeasiswa from "./Forms/CapaianKpiBeasiswa";
    import CapaianKpiTbe from "./Forms/CapaianKpiTbe";
    import CapaianKpiDefault from "./Forms/CapaianKpiDefault";
    import NarasiCapaianKpi from "../../../components/Kegiatan/NarasiCapaianKpi";
    import KpiBeasiswa from "./Forms/KpiBeasiswa";
    import KpiPaud from "./Forms/KpiPaud";
    import KpiPendidikanVokasi from "./Forms/KpiPendidikanVokasi";
    import KpiPelatihanVokasi from "./Forms/KpiPelatihanVokasi";
    import KpiTbe from "./Forms/KpiTbe";
    import KpiDefault from "./Forms/KpiDefault";

    export default {
        name: "FormCapaianKpi",
        components: {
            NarasiCapaianKpi,
            CapaianKpiPaud,
            CapaianKpiPendidikanVokasi,
            CapaianKpiPelatihanVokasi,
            CapaianKpiBeasiswa,
            CapaianKpiTbe,
            CapaianKpiDefault,
            KpiBeasiswa,
            KpiPaud,
            KpiPendidikanVokasi,
            KpiPelatihanVokasi,
            KpiTbe,
            KpiDefault
        },
        mixins: [httpErrorResponse, defaultRouteGuard],
        data: () => ({
            batch: null,
            tahun: null,
            mode: 'view',
            kpiTargets: [],
            kpiParams: [],
            kpiComponent: CapaianKpiDefault,
            showProgress: false,
            batchYears: [],
        }),
        computed: {
            /**
             * Compute attribute untuk komponen Capaian KPI.
             *
             * @return {Object} The attribute to bind
             */
            kpiBind() {
                return {
                    batch: this.batch,
                    params: this.kpiParams,
                    targets: this.kpiTargets,
                    tahun: this.tahun,
                    mode: this.mode,
                    canEdit: this.hasEditorAccessRights,
                    canVerify: this.hasVerificatorAccessRights
                };
            },
            /**
             * @return {string} Nama Program CSR
             */
            programName() {
                if (this.batch && this.batch.programCsr) {
                    return this.batch.programCsr.name
                }

                return '';
            },
            /**
             * @return {string} Nama periode batch pembinaan
             */
            batchName() {
                if (this.batch) {
                    return this.batch.namaBatch
                }

                return '';
            },

        },
        created() {
            if (this.$route.path.endsWith('/edit')) {
                if (this.hasEditorAccessRights) {
                    this.mode = 'edit';
                } else {
                    this.$router.push('/access-denied');
                    return;
                }
            }
            if (!Helper.isEmpty(this.$route.params.idBatch) && !Helper.isEmpty(this.$route.params.tahun)) {
                const batchId = this.$route.params.idBatch;
                const tahun   = this.$route.params.tahun;
                this.tahun    = parseInt(tahun);

                this.showProgress = true;
                this.$http.get('/kegiatan/kpi/fetch-capaian/' + batchId + '/' + tahun).then((resp) => {
                    const data = resp.data.data;
                    // console.log(data);
                    if (!Helper.isEmpty(data.batch)) {
                        this.batch = new BatchModel();
                        this.batch.assignValues(data.batch);
                        if (data.batch.tahuns) {
                            this.batchYears = data.batch.tahuns;
                        }
                        this.kpiParams  = data.params;
                        this.kpiTargets = data.targets;
                    }
                    this.showProgress = false;

                    const msid = resp.data.data.batch.programCsr.msid;
                    switch (msid) {
                        case 1 :
                            this.kpiComponent = KpiPaud;
                            break;
                        case 2 :
                            this.kpiComponent = KpiPendidikanVokasi;
                            break;
                        case 3 :
                            this.kpiComponent = KpiPelatihanVokasi;
                            break;
                        case 4 :
                            this.kpiComponent = KpiBeasiswa;
                            break;
                        case 5 :
                            this.kpiComponent = KpiTbe;
                            break;
                        default:
                            this.kpiComponent = KpiDefault;
                    }
                }).catch((error) => {
                    this.showProgress = false;
                    this.showErrorMessage(error);
                    this.batch      = null;
                    this.tahun      = null;
                    this.kpiParams  = [];
                    this.kpiTargets = [];
                });
            }
        },
        methods: {
            /**
             * Mengembalikan narasi batch sesuai tahun batch
             * @param {int} tahun
             * @return {string} Narasi capaian batch pembinaan
             */
            batchNarasi(tahun) {
                if (this.batchYears) {
                    for (let tahunbatch of this.batchYears) {
                        if (tahunbatch.tahun == tahun) {
                            return tahunbatch.narasiKpi;
                        }
                    }
                }
                return '';
            },

            /**
             * Proses simpan capaian KPI.
             *
             * @return {void}
             */
            doSave() {
                if (this.batch && this.kpiTargets) {
                    this.showProgress = true;
                    this.$http
                        .post('/kegiatan/kpi/save-capaian/' + this.batch.batchId + '/' + this.tahun, {
                            'capaian': this.kpiTargets
                        })
                        .then(() => {
                            this.showProgress = false;
                            this.$notification.success('Data Capaian KPI' + MSG_SAVE_SUCCESS, STATE_SUCCESS);
                            this.$nextTick(() => {
                                this.mode = "view";
                                this.$router.push('/kegiatan/capaian-kpi/' + this.batch.batchId + '/' + this.tahun);
                            });
                        })
                        .catch((error) => {
                            this.showProgress = false;
                            this.showErrorMessage(error);
                        });
                }
            },
            /**
             * Proses verifikasi capaian KPI.
             *
             * @param {int} period Periode pelaksanaan untuk triwulan/caturwulan/semester ke berapa
             * @return {void}
             */
            doVerify(period) {
                if (this.batch && this.kpiTargets) {
                    this.showProgress = true;
                    this.$http
                        .post('/kegiatan/kpi/verify-capaian/' + this.batch.batchId + '/' + this.tahun + '/' + period)
                        .then(() => {
                            this.showProgress = false;
                            this.reload();
                            this.$notification.success('Data Capaian KPI' + MSG_VERIFY_SUCCESS, STATE_SUCCESS);
                        })
                        .catch((error) => {
                            this.showProgress = false;
                            this.showErrorMessage(error);
                        });
                }
            },
            /**
             * Proses verifikasi capaian kuantitas KPI.
             *
             * @param {int} period Periode pelaksanaan untuk triwulan/caturwulan/semester ke berapa
             * @return {void}
             */
            doVerifyKuantitas(period) {
                if (this.batch && this.kpiTargets) {
                    this.showProgress = true;
                    this.$http
                        .post('/kegiatan/kpi/verify-capaian-kuantitas/' + this.batch.batchId + '/' + this.tahun + '/' + period)
                        .then(() => {
                            this.showProgress = false;
                            this.reload();
                            this.$notification.success('Data Kuantitas Capaian KPI' + MSG_VERIFY_SUCCESS, STATE_SUCCESS);
                        })
                        .catch((error) => {
                            this.showProgress = false;
                            this.showErrorMessage(error);
                        });
                }
            },
            /**
             * Proses verifikasi capaian kualitas KPI.
             *
             * @param {int} period Periode pelaksanaan untuk triwulan/caturwulan/semester ke berapa
             * @return {void}
             */
            doVerifyKualitas(period) {
                if (this.batch && this.kpiTargets) {
                    this.showProgress = true;
                    this.$http
                        .post('/kegiatan/kpi/verify-capaian-kualitas/' + this.batch.batchId + '/' + this.tahun + '/' + period)
                        .then(() => {
                            this.showProgress = false;
                            this.reload();
                            this.$notification.success('Data Kualitas Capaian KPI' + MSG_VERIFY_SUCCESS, STATE_SUCCESS);
                        })
                        .catch((error) => {
                            this.showProgress = false;
                            this.showErrorMessage(error);
                        });
                }
            },
            doMassVerify(totalPeriod) {
                if (this.batch && this.kpiTargets) {
                    this.showProgress = true;
                    this.$http
                        .post('/kegiatan/kpi/mass-verify-capaian/' + this.batch.batchId + '/' + this.tahun + '/' + totalPeriod)
                        .then(() => {
                            this.showProgress = false;
                            this.reload();
                            this.$notification.success('Data Capaian KPI' + MSG_VERIFY_SUCCESS, STATE_SUCCESS);
                        })
                        .catch((error) => {
                            this.showProgress = false;
                            this.showErrorMessage(error);
                        });
                }
            },
            reload() {
                this.showProgress = true;
                this.$http
                    .get('/kegiatan/kpi/fetch-capaian/' + this.batch.batchId + '/' + this.tahun)
                    .then((resp) => {
                        const data = resp.data.data;
                        if (!Helper.isEmpty(data.batch)) {
                            this.batch = new BatchModel();
                            this.batch.assignValues(data.batch);
                            if (data.batch.tahuns) {
                                this.batchYears = data.batch.tahuns;
                            }
                            this.kpiParams  = data.params;
                            this.kpiTargets = data.targets;
                        }
                        this.showProgress = false;
                    })
                    .catch((error) => {
                        this.showProgress = false;
                        this.showErrorMessage(error);
                        this.batch      = null;
                        this.tahun      = null;
                        this.kpiParams  = [];
                        this.kpiTargets = [];
                    });
            },
            doUpdateNarasi(teks_narasi) {
                this.showProgress = true;
                this.$http
                    .post('/kegiatan/kpi/update-batch-tahun/' + this.batch.batchId + '/' + this.tahun,
                        { narasi : teks_narasi })
                    .then(() => {
                        this.showProgress = false;
                        this.reload();
                        this.$notification.success('Narasi Capaian KPI' + MSG_UPDATE_SUCCESS, STATE_SUCCESS);
                    })
                    .catch(() => {
                        this.showProgress = false;
                        this.showErrorMessage(error);
                    });
            }
        }
    }
</script>

<style scoped>

</style>
