<template>
  <section class="container">
    <bs-card shadow>
      <bs-card-body>
        <form class="pt-lg-3 px-lg-2" autocomplete="off" novalidate>
          <div class="form-group">
            <bs-text-field :value="getActiveYear"
                           control-cls="col-lg-3 col-xl-2"
                           readonly
                           required>
              <label class="col-form-label col-lg-3 col-xl-2">
                Tahun Anggaran
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field :value="getActiveProgramName" readonly required>
              <label class="col-form-label col-lg-3 col-xl-2">
                Sumber Dana
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field :value="getActiveBatch" readonly required>
              <label class="col-form-label col-lg-3 col-xl-2">
                Periode Batch
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field :value="namaKegiatan" readonly required>
              <label class="col-form-label col-lg-3 col-xl-2">
                Nama Kegiatan
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="subkegiatan.title"
                           :external-validator="titleValidator"
                           autofocus
                           required>
              <label class="col-form-label col-lg-3 col-xl-2">
                Nama Subkegiatan
              </label>
            </bs-text-field>
          </div>
          <div class="form-group md-field row" :class="jadwalCls">
            <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
              Jadwal Pelaksanaan</label>
            <div class="col-lg-9 col-xl-8">
              <div class="row">
                <bs-date-time-field v-model="subkegiatan.tanggalMulai"
                                    :external-validator="tanggalMulaiValidator"
                                    :locale="getLocale"
                                    append-icon="calendar"
                                    class="col"
                                    display-format="DD MMMM YYYY"
                                    format="YYYY-MM-DD"
                                    view-mode="date"
                                    clear-button />
                <div class="col-form-label text-center" style="width: 25px">
                  s.d
                </div>
                <bs-date-time-field v-model="subkegiatan.tanggalAkhir"
                                    :locale="getLocale"
                                    append-icon="calendar"
                                    class="col"
                                    display-format="DD MMMM YYYY"
                                    format="YYYY-MM-DD"
                                    view-mode="date"
                                    clear-button />
              </div>
            </div>
          </div>
          <div class="form-group">
            <bs-combobox v-model="subkegiatan.provinsi"
                         :data-source="dsProvinsi"
                         :external-validator="provinsiIdValidator"
                         multiple
                         required>
              <label class="col-form-label col-lg-3 col-xl-2">
                Lokasi Kegiatan
              </label>
            </bs-combobox>
          </div>
          <div class="form-group">
            <bs-combobox v-model="subkegiatan.kabupaten"
                         :data-source="dsKabupaten"
                         :parent-value="subkegiatan.provinsi"
                         :external-validator="kabupatenIdValidator"
                         multiple
                         required
                         @data-bind="onBindKabupaten">
              <label class="col-form-label col-lg-3 col-xl-2 d-none d-lg-block">
                &nbsp;
              </label>
              <template slot="itemOptionText" slot-scope="{ item }">
                <div class="row mr-0">
                  <div class="col-md-7 pr-2" style="font-size: 1rem">
                    {{ item.namaKabupaten }}
                  </div>
                  <div class="col-md-5 pr-2 text-md-right text-grey-500">
                    {{ item.provinsi.namaProvinsi }}
                  </div>
                </div>
              </template>
            </bs-combobox>
          </div>
        </form>
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <bs-button color="primary" @click="doSave">
          Simpan
        </bs-button>
      </bs-card-footer>
      <bs-mask-loader :opacity="0"
                      :show="subkegiatan.loading || subkegiatan.updating"
                      :spinner-diameter="50" />
    </bs-card>
  </section>
</template>

<script>
import {
    GET_ACTIVE_KEGIATAN,
    GET_ACTIVE_KEGIATAN_NAME,
    SET_ACTIVE_BATCH,
    SET_ACTIVE_KEGIATAN,
    SET_ACTIVE_KEGIATAN_NAME,
    SET_ACTIVE_KEGIATAN_STATE,
    SET_ACTIVE_PRGNAME,
    SET_ACTIVE_PRGSTATE,
    SET_ACTIVE_PROGRAM,
    SET_ACTIVE_YEAR,
    SET_MGT_VALUE
} from "../../../../store/modules/Kegiatan/mutation-types";
import {
    subkegiatanValidationHandler,
    subkegiatanValidator
} from "../../../../models/Kegiatan/Pengelolaan/SubKegiatanValidator";
import {
    MSG_SAVE_SUCCESS,
    MSG_UPDATE_SUCCESS,
    SAVE,
    STATE_SUCCESS,
    UPDATE
} from "../../../../store/modules/mutation-types";
import { validationMixin } from "vuelidate";
import { BsStore, Helper } from "vue-bs4";
import { SubKegiatanModel } from "../../../../models/Kegiatan/Pengelolaan/SubKegiatanModel";
import { KegiatanModel } from "../../../../models/Kegiatan/Pengelolaan/KegiatanModel";
import mapStorePengelolaanKegiatan from "../../../../mixins/kegiatan/mapStorePengelolaanKegiatan";
import httpErrorResponse from "../../../../mixins/httpErrorResponse";
import appLocale from "../../../../mixins/appLocale";
import editorRouteGuard from "../../../../mixins/security/editorRouteGuard";

export default {
    name: "FormSubKegiatan",
    mixins: [
        validationMixin, appLocale, httpErrorResponse, editorRouteGuard,
        mapStorePengelolaanKegiatan, subkegiatanValidationHandler('subkegiatan')
    ],
    data: () => ({
        dsKabupaten: {
            schema: {
                displayField: 'namaKabupaten',
                valueField: 'kabupatenId',
                cascadeField: 'provinsi.provinsiId'
            },
            proxy: new BsStore({
                idProperty: 'kabupateniId',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    browse: '/master-data/wilayah/kabupaten'
                }
            })
        },
        dsProvinsi: {
            schema: {
                displayField: 'namaProvinsi',
                valueField: 'provinsiId'
            },
            proxy: new BsStore({
                idProperty: 'provinsiId',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    browse: '/master-data/wilayah/provinsi'
                }
            })
        },
        kegiatan: new KegiatanModel(),
        subkegiatan: new SubKegiatanModel(),
        isEditMode: false
    }),
    computed: {
        jadwalCls() {
            return {
                'has-error': this.tanggalMulaiValidator.hasError,
                'has-success': this.tanggalMulaiValidator.hasError === false && this.$v.$dirty === true
            }
        },
        namaKegiatan() {
            const id   = this[GET_ACTIVE_KEGIATAN];
            const name = this[GET_ACTIVE_KEGIATAN_NAME];

            if (Helper.isEmpty(name) || Helper.isEmpty(id)) {
                this.fetchKegiatan(this.$route.params.id);
            }

            return name;
        }
    },
    validations: {
        subkegiatan: subkegiatanValidator
    },
    created() {
        if (this.$route.params.sid) {
            this.isEditMode = true;
            this.fetchSubkegiatan(this.$route.params.sid);
        }
    },
    beforeDestroy() {
        this.kegiatan.destroy();
        this.kegiatan = null;
        this.subkegiatan.destroy();
        this.subkegiatan = null;
    },
    methods: {
        /**
         * Send request insert/update data Sub-Kegiatan to the remote server.
         *
         * @return {void}
         */
        doSave() {
            this.$v.$touch();

            if (!this.$v.$error) {
                const text   = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                const action = this.isEditMode ? UPDATE : SAVE;

                this.subkegiatan.kegiatan   = this[GET_ACTIVE_KEGIATAN];
                this.subkegiatan.provincies = this.subkegiatan.provinsi;
                this.subkegiatan.kabupatens = this.subkegiatan.kabupaten;

                this.subkegiatan[action]().then(() => {
                    this.$notification.success('Data subkegiatan' + text, STATE_SUCCESS);
                    this.$nextTick(() => {
                        this.$router.push(this.$route.meta.previous);
                    });
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            }
        },
        /**
         * Fetch data Kegiatan from remote server.
         *
         * @param {number} id Kegiatan ID
         * @return {void}
         */
        fetchKegiatan(id) {
            this.kegiatan.fetch(id).then(() => {
                this[SET_ACTIVE_KEGIATAN](this.kegiatan.kegiatanId);
                this[SET_ACTIVE_KEGIATAN_NAME](this.kegiatan.namaKegiatan);
                this[SET_ACTIVE_KEGIATAN_STATE](this.kegiatan.status);
                this[SET_ACTIVE_YEAR](this.kegiatan.danaBatch.tahun);
                this[SET_ACTIVE_PROGRAM](this.kegiatan.danaBatch.id);
                this[SET_ACTIVE_PRGNAME](this.kegiatan.danaBatch.namaProgram);
                this[SET_ACTIVE_PRGSTATE](this.kegiatan.danaBatch.status);
                this[SET_ACTIVE_BATCH](this.kegiatan.periodeBatch.namaBatch);
                this[SET_MGT_VALUE](this.kegiatan.periodeBatch.managementFee);
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/kegiatan/pengelolaan');
                });
            });
        },
        /**
         * Fetch data Subkegiatan from remote server.
         *
         * @param {number} id SubKegiatan ID
         * @return {void}
         */
        fetchSubkegiatan(id) {
            this.subkegiatan.fetch(id).then(() => {
                this.subkegiatan.provinsi = [];
                this.subkegiatan.provincies.forEach(el => this.subkegiatan.provinsi.push(el.provinsiId));
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push(this.$route.meta.previous);
                });
            });
        },
        /**
         * Event handler when data daftar kabupaten has been loaded.
         *
         * @param {Object} items Data model
         * @return {void}
         */
        onBindKabupaten(items) {
            if (items && items.length > 0) {
                this.subkegiatan.kabupaten = [];

                if (this.subkegiatan.kabupatens != null) {
                    this.subkegiatan.kabupatens.forEach(el => this.subkegiatan.kabupaten.push(el.kabupatenId));
                }
            }
        }
    }
}
</script>

<style scoped>

</style>
