<template>
  <section class="container">
    <bs-card shadow>
      <bs-card-body>
        <form class="pt-lg-3 px-lg-2" novalidate>
          <div class="form-group">
            <bs-date-time-field v-model="kegiatan.tahun"
                                :external-validator="tahunValidator"
                                format="YYYY"
                                view-mode="year"
                                append-icon="calendar"
                                control-cls="col-lg-3 col-xl-2"
                                required>
              <label class="col-form-label col-lg-3 col-xl-2">
                Tahun Anggaran
              </label>
            </bs-date-time-field>
          </div>
          <div class="form-group">
            <bs-combobox v-model="kegiatan.programId"
                         :data-source="dsProgram"
                         :parent-value="kegiatan.tahun"
                         :external-validator="programIdValidator"
                         required
                         @data-bind="onBindProgram"
                         @change="onChangeProgram">
              <label class="col-form-label col-lg-3 col-xl-2">
                Sumber Dana
              </label>
            </bs-combobox>
          </div>
          <div class="form-group">
            <bs-text-field :value="kegiatan.programCsrName" readonly required>
              <label class="col-form-label col-lg-3 col-xl-2">
                Program CSR
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field :value="kegiatan.namaBatch" readonly required>
              <label class="col-form-label col-lg-3 col-xl-2">
                Periode Batch
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field v-model="kegiatan.namaKegiatan"
                           :external-validator="namaKegiatanValidator"
                           required>
              <label class="col-form-label col-lg-3 col-xl-2">
                Nama Kegiatan
              </label>
            </bs-text-field>
          </div>
        </form>
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <bs-button color="primary" @click="doSave">
          Simpan
        </bs-button>
      </bs-card-footer>
      <bs-mask-loader :opacity="0"
                      :show="kegiatan.loading ||kegiatan.updating"
                      :spinner-diameter="50" />
    </bs-card>
  </section>
</template>

<script>
import {
    MSG_SAVE_SUCCESS,
    MSG_UPDATE_SUCCESS,
    ONGOING,
    REVISED,
    REVISI_REJECTED,
    SAVE,
    STATE_SUCCESS,
    UPDATE
} from "../../../../store/modules/mutation-types";
import {
    GET_ACTIVE_PROGRAM,
    GET_ACTIVE_YEAR,
    SET_ACTIVE_BATCH,
    SET_ACTIVE_KEGIATAN,
    SET_ACTIVE_KEGIATAN_NAME,
    SET_ACTIVE_KEGIATAN_STATE,
    SET_ACTIVE_PRGNAME,
    SET_ACTIVE_PRGSTATE,
    SET_ACTIVE_PROGRAM,
    SET_ACTIVE_YEAR
} from "../../../../store/modules/Kegiatan/mutation-types";
import { BsStore, Helper } from "vue-bs4";
import { validationMixin } from "vuelidate";
import { KegiatanModel } from "../../../../models/Kegiatan/Pengelolaan/KegiatanModel";
import { kegiatanValidationHandler, kegiatanValidator } from "../../../../models/Kegiatan/Pengelolaan/KegiatanValidator";
import httpErrorResponse from "../../../../mixins/httpErrorResponse";
import mapStorePengelolaanKegiatan from "../../../../mixins/kegiatan/mapStorePengelolaanKegiatan";
import editorRouteGuard from "../../../../mixins/security/editorRouteGuard";

export default {
    name: "FormKegiatan",
    mixins: [
        validationMixin,
        httpErrorResponse,
        mapStorePengelolaanKegiatan,
        kegiatanValidationHandler('kegiatan'),
        editorRouteGuard
    ],
    data: () => ({
        dsProgram: {
            schema: {
                displayField: 'namaProgram',
                valueField: 'id',
                cascadeField: 'tahun'
            },
            proxy: new BsStore({
                idProperty: 'id',
                dataProperty: 'data',
                totalProperty: 'total',
                filters: [{property: 'status', value: [ONGOING, REVISED, REVISI_REJECTED], operator: 'in'}],
                restUrl: {
                    browse: '/pendanaan/batch'
                }
            })
        },
        isEditMode: false,
        kegiatan: new KegiatanModel()
    }),
    validations: {
        kegiatan: kegiatanValidator
    },
    created() {
        if (this.$route.params.id) {
            this.isEditMode = true;
            this.fetchData(this.$route.params.id);
        } else {
            this.kegiatan.tahun = this[GET_ACTIVE_YEAR];
        }
    },
    beforeDestroy() {
        this.kegiatan.destroy();
        this.kegiatan = null;

        this.dsProgram.proxy.destroy();
        this.dsProgram.proxy = null;
        this.dsProgram       = null;
    },
    methods: {
        /**
         * Send request insert/update data Kegiatan.
         *
         * @return {void}
         */
        doSave() {
            this.$v.$touch();

            if (!this.$v.$error) {
                const text   = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                const action = this.isEditMode ? UPDATE : SAVE;

                this.kegiatan.danaBatch    = this.kegiatan.programId;
                this.kegiatan.periodeBatch = this.kegiatan.batchId;

                this.kegiatan[action]().then(() => {
                    this.$notification.success('Data kegiatan' + text, STATE_SUCCESS);
                    this.$nextTick(() => {
                        this.$router.push('/kegiatan/pengelolaan');
                    });
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            }
        },
        /**
         * Fetch data Kegiatan from remote server.
         *
         * @param {Number|String} id KegiatanID
         * @return {void}
         */
        fetchData(id) {
            this.kegiatan.fetch(id).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/kegiatan/pengelolaan');
                });
            });
        },
        onBindProgram(items) {
            if (items && items.length > 0) {
                const item = items.find(el => el.id === (this.kegiatan.danaBatch ? this.kegiatan.danaBatch.id : this[GET_ACTIVE_PROGRAM]));

                this.onChangeProgram(item);
            }
        },
        onChangeProgram(item) {
            if (Helper.isObject(item)) {
                this.kegiatan.programId      = item.id;
                this.kegiatan.batchId        = item.batch.batchId;
                this.kegiatan.namaBatch      = item.batch.namaBatch;
                this.kegiatan.programCsrName = item.batch.programCsr.name;

                this[SET_ACTIVE_YEAR](item.tahun);
                this[SET_ACTIVE_PROGRAM](item.id);
                this[SET_ACTIVE_PRGSTATE](item.status);
                this[SET_ACTIVE_PRGNAME](item.namaProgram);
                this[SET_ACTIVE_BATCH](item.batch.namaBatch);

                if (this.isEditMode) {
                    this[SET_ACTIVE_KEGIATAN](this.kegiatan.kegiatanId);
                    this[SET_ACTIVE_KEGIATAN_NAME](this.kegiatan.namaKegiatan);
                    this[SET_ACTIVE_KEGIATAN_STATE](this.kegiatan.status);
                } else {
                    this[SET_ACTIVE_KEGIATAN](null);
                    this[SET_ACTIVE_KEGIATAN_NAME](null);
                    this[SET_ACTIVE_KEGIATAN_STATE](null);
                }
            } else {
                this.kegiatan.namaBatch      = null;
                this.kegiatan.programCsrName = null;

                this[SET_ACTIVE_BATCH](null);
                this[SET_ACTIVE_PROGRAM](null);
                this[SET_ACTIVE_PRGSTATE](null);
                this[SET_ACTIVE_PRGNAME](null);
            }
        }
    }
}
</script>

<style scoped>

</style>
