<template>
  <div class="body-container">
    <bs-card shadow>
        
        <grid-item-verifikasi-bulanan ref="gridrab"
            :data-source="dataSource"
            :action-column="showActionColumn"
            :realisasi-action="showRealisasiAction"
            :closed="isMgtFeeClosed"
            :id-kegiatan="idKegiatan"
            :mgt-fee="getMgtValue"/>

    </bs-card>

    <bs-mask-loader :opacity="0"
                    :show="loaded"
                    :spinner-diameter="50" />
  </div>
</template>

<script>
import {
    GET_ACTIVE_BATCH,
    GET_ACTIVE_KEGIATAN,
    GET_ACTIVE_KEGIATAN_NAME,
    GET_ACTIVE_PRGNAME,
    SET_ACTIVE_BATCH,
    SET_ACTIVE_KEGIATAN,
    SET_ACTIVE_KEGIATAN_NAME,
    SET_ACTIVE_KEGIATAN_STATE,
    SET_ACTIVE_PRGNAME,
    SET_ACTIVE_PRGSTATE,
    SET_ACTIVE_PROGRAM,
    SET_ACTIVE_YEAR,
    SET_MGT_VALUE
} from "../../../../store/modules/Kegiatan/mutation-types";
import {
  CLOSED,
  SUBMITTED,
  REALISASI_REJECTED,
  REALISASI_VERIFIED,
  REJECTED,
  STATE_SUCCESS,
  STEP_CLOSING,
  STEP_REJECT,
  STEP_REJECT_REALISASI,
  STEP_SUBMIT,
  STEP_SUBMIT_REALISASI,
  STEP_UPDATE,
  STEP_VERIFY,
  STEP_VERIFY_REALISASI,
  VERIFIED, NEW, UPDATED, PLANNED, STATE_ERROR, REALISASI, REALISASI_SUBMITTED,
} from "../../../../store/modules/mutation-types";
import { sumBy } from "lodash";
import { BsStore, Helper } from "vue-bs4";
import { KegiatanModel } from "../../../../models/Kegiatan/Pengelolaan/KegiatanModel";
import appLocale from "../../../../mixins/appLocale";
import formatUtils from "../../../../mixins/formatUtils";
import httpErrorResponse from "../../../../mixins/httpErrorResponse";
import defaultRouteGuard from "../../../../mixins/security/defaultRouteGuard";
import AuditPanelRab from "../../../../components/Kegiatan/AuditPanelRab";
import GridItemVerifikasiBulanan from "../../../../components/Kegiatan/GridItemVerifikasiBulanan";
import mapStorePengelolaanKegiatan from "../../../../mixins/kegiatan/mapStorePengelolaanKegiatan";
import KegiatanWorkflowConfigurer from "../../../../models/Kegiatan/Pengelolaan/KegiatanWorkflowConfigurer";

export default {
    name: "FormItemRealisasiBulanan",
    components: {AuditPanelRab, GridItemVerifikasiBulanan},
    mixins: [appLocale, formatUtils, httpErrorResponse, defaultRouteGuard, mapStorePengelolaanKegiatan],
    data: () => ({
        dataSource: new BsStore({
            idProperty: 'sid',
            dataProperty: 'data',
            totalProperty: 'total',
            restUrl: {
                fetch: '/kegiatan/pengelolaan/view-rab/{id}'
            }
        }),
        dsApproval: new BsStore({
            idProperty: 'logId',
            dataProperty: 'data',
            totalProperty: 'total',
            restUrl: {
                fetch: '/kegiatan/pengelolaan/log-approval/{id}'
            }
        }),
        kegiatan: new KegiatanModel(),
        idKegiatan: null,
        workflowConfigurer: new KegiatanWorkflowConfigurer('kegiatan'),
        itemRab: {},
        approval: {
            action: '',
            reason: ''
        },
        loaded: false,
        updating: false,
        prepareSubmitDataRealisasi: [],
        submittedDataRealisasi: [],
        prepareTotalDataRealisasi: 0,
        totalDataRealisasi: 0,
        selectedRealisasi: [],
        showSendDataRealisasiLoader: false,
        bultah: null
    }),
    computed: {
        isMgtFeeClosed() {
            return this.kegiatan.status === CLOSED ||
                this.workflow.canXor(this.kegiatan, [STEP_VERIFY_REALISASI, STEP_CLOSING]);
        },
        showActionColumn() {
            return (this.hasEditorAccessRights || this.hasDeleteAccessRights) &&
                this.workflow.canXor(this.kegiatan, [STEP_UPDATE, STEP_SUBMIT_REALISASI]);
        },
        showAction() {
          return (this.hasEditorAccessRights) && (this.kegiatan.status === NEW ||
                  this.kegiatan.status === UPDATED ||
                  this.kegiatan.status === PLANNED);
        },
        showRealisasiSubmit() {
            return (this.hasEditorAccessRights) && (this.kegiatan.status === REALISASI_SUBMITTED ||
                    this.kegiatan.status === REALISASI_VERIFIED ||
                    this.kegiatan.status === REALISASI_REJECTED);
        },
        showRealisasiVerification() {
          return (this.hasVerificatorAccessRights) && (this.kegiatan.totalKegiatanRealisasi > 0 ||
                  this.kegiatan.status === REALISASI_SUBMITTED ||
                  this.kegiatan.status === REALISASI_VERIFIED ||
                  this.kegiatan.status === REALISASI_REJECTED);
        },
        showRealisasiAction() {
            return (this.hasEditorAccessRights) && (this.kegiatan.totalKegiatanRealisasi > 0 ||
                    this.kegiatan.status === VERIFIED ||
                    this.kegiatan.status === REALISASI_SUBMITTED ||
                    this.kegiatan.status === REALISASI_VERIFIED ||
                    this.kegiatan.status === REALISASI_REJECTED);
        },
        
        showPanelFooter() {
            return this.loaded && ((this.hasEditorAccessRights && this.rabHasItems &&
                this.workflow.canXor(this.kegiatan, [STEP_SUBMIT, STEP_SUBMIT_REALISASI])) ||
                (this.hasVerificatorAccessRights && this.hasVerificatorRole &&
                    this.workflow.canXor(this.kegiatan, [STEP_VERIFY, STEP_VERIFY_REALISASI, STEP_CLOSING])));
        },
        rabHasItems() {
            return (this.dataSource.dataItems.length > 0) && (this.dataSource.dataItems[0].children.length > 0);
        },
        
        /**
         * Get a workflow.
         *
         * @return {Workflow} A workflow object instance
         */
        workflow() {
            return this.workflowConfigurer.workflow;
        }
    },
    created() {
        this.idKegiatan = this.$route.params.id;
    },
    mounted() {
        this.$refs.gridrab.load();
        this.prepareSubmitDataRealisasi = this.getPrepareSubmitDataRealisasi();
        this.submittedDataRealisasi = this.getSubmittedDataRealisasi();
    },
    beforeDestroy() {
        this.dataSource.destroy();
        this.dataSource = null;

        this.kegiatan.destroy();
        this.kegiatan = null;
        this.itemRab  = null;
        this.approval = null;

        this.workflowConfigurer.destroy();
        this.workflowConfigurer = null;
    },
    methods: {
        /**
         * get data realisasi yang sudah di submit(submitted = 't')
         */
        getSubmittedDataRealisasi() {
            const $idKegiatan = this.$route.params.id;
            const $endpoint = '/kegiatan/pengelolaan/item-realisasi/get-submitted-realisasi/' + $idKegiatan;

            this.showSendDataRealisasiLoader = true;
            this.$http.get($endpoint).then($resp => {
                this.submittedDataRealisasi = $resp.data.data;
                this.totalDataRealisasi = this.submittedDataRealisasi.length;
                this.showSendDataRealisasiLoader = false;
            }).catch((error) => {
                this.showErrorMessage(error);
                this.showSendDataRealisasiLoader = false;
            });
        },

        /**
         * get data realisasi yang belum di submit(submitted = 't')
         */
        getPrepareSubmitDataRealisasi() {
            const $idKegiatan = this.$route.params.id;
            const $endpoint = '/kegiatan/pengelolaan/item-realisasi/get-data-realisasi/' + $idKegiatan;

            this.showSendDataRealisasiLoader = true;
            this.$http.get($endpoint).then($resp => {
                this.prepareSubmitDataRealisasi = $resp.data.data;
                this.prepareTotalDataRealisasi = this.prepareSubmitDataRealisasi.length;
                this.showSendDataRealisasiLoader = false;
            }).catch((error) => {
                this.showErrorMessage(error);
                this.showSendDataRealisasiLoader = false;
            });
        },

        /**
         * submit data realisasi
         */
        submitPrepareDataRealisasi() {
          const $idKegiatan = this.$route.params.id;
          const $endpoint = '/kegiatan/pengelolaan/item-realisasi/update-data-realisasi';
          const $preData = {
            idKegiatan: $idKegiatan,
            dataRealisasi: this.selectedRealisasi
          };

          this.showSendDataRealisasiLoader = true;
          this.$http.post($endpoint, $preData).then($resp => {
            this.$notification.success('Submit data realisasi sukses', STATE_SUCCESS);
            this.showSendDataRealisasiLoader = false;
            this.getPrepareSubmitDataRealisasi();
          }).catch($error => {
            this.$notification.error('Submit data realisasi gagal!', STATE_ERROR);
            this.showSendDataRealisasiLoader = false;
          });
        },

        
        /**
         * Fetch data Kegiatan from remote server.
         *
         * @param {String|int} id Kegiatan ID
         * @return {Promise<void>} Promise interface
         */
        async fetchKegiatan(id) {
            try {
                const resp1 = await this.kegiatan.fetch(id);

                if (resp1) {
                    this[SET_ACTIVE_KEGIATAN](this.kegiatan.kegiatanId);
                    this[SET_ACTIVE_KEGIATAN_STATE](this.kegiatan.status);
                    this[SET_ACTIVE_YEAR](this.kegiatan.danaBatch.tahun);
                    this[SET_ACTIVE_PROGRAM](this.kegiatan.danaBatch.id);
                    this[SET_ACTIVE_PRGSTATE](this.kegiatan.danaBatch.status);
                    this[SET_MGT_VALUE](this.kegiatan.periodeBatch.managementFee);

                    if (this.$refs.gridrab.dataItems.length === 0) {
                        this.$refs.gridrab.load();
                    }

                    await this.dsApproval.fetch(this.kegiatan.kegiatanId);
                    this.loaded = true;
                }
            } catch (e) {
                this.showErrorMessage(e);
                this.$nextTick(() => {
                    this.$router.push('/kegiatan/pengelolaan');
                });
            }
        },
        
        onEdit(item) {
            if (item.sid) {
                this.$router.push('/kegiatan/pengelolaan/' + this[GET_ACTIVE_KEGIATAN] + '/subkegiatan/' + item.sid);
            } else if (item.id) {
                this.$router.push('/kegiatan/pengelolaan/' + this[GET_ACTIVE_KEGIATAN] + '/rab/' + item.id);
            }
        },
        onItemRealisasiAdd(item) {
          this.$router.push('/kegiatan/pengelolaan/' + this[GET_ACTIVE_KEGIATAN] + '/rab/' + item.id + '/realisasi');
        },
        onItemRealisasiHistory(item) {
          this.$router.push('/kegiatan/pengelolaan/' + this[GET_ACTIVE_KEGIATAN] + '/rab/' + item.id + '/realisasi/history');
        },
        onItemRealisasiSubmitted(item) {
          this.$router.push('/kegiatan/pengelolaan/' + this[GET_ACTIVE_KEGIATAN] + '/rab/' + item.periode + '/realisasi/verify');
        }
    }
}
</script>

<style scoped>
  .hideEl { display: none; }
  .showEl { display: inline-block; }
</style>
