<template>
    <div class="container">
        <bs-card shadow>
            <bs-card-body class="pb-2">
                <form class="pt-lg-3 px-lg-2" novalidate>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <label class="col-form-label col-lg-4 col-xl-4 font-weight-bold">
                                    Tahun Anggaran
                                </label>
                                <div class="col-lg-8 col-xl-8 pt-2">
                                    {{ getActiveYear }}
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-form-label col-lg-4 col-xl-4 font-weight-bold">
                                    Sumber Dana
                                </label>
                                <div class="col-lg-8 col-xl-8 pt-2">
                                    {{ getActiveProgramName }}
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-form-label col-lg-4 col-xl-4 font-weight-bold">
                                    Nama Kegiatan
                                </label>
                                <div class="col-lg-8 col-xl-8 pt-2">
                                    {{ namaKegiatan }}
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-form-label col-lg-4 col-xl-4 font-weight-bold">
                                    Nama Subkegiatan
                                </label>
                                <div class="col-lg-8 col-xl-8 pt-2">
                                    {{ namaSubKegiatan }}
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-form-label col-lg-4 col-xl-4 font-weight-bold">
                                    Nama Account
                                </label>
                                <div class="col-lg-8 col-xl-8 pt-2">
                                    {{ namaAccount }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <label class="col-form-label col-lg-4 col-xl-4 font-weight-bold">
                                    Deskripsi
                                </label>
                                <div class="col-lg-8 col-xl-8 pt-2">
                                    {{ deskripsi }}
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-form-label col-lg-4 col-xl-4 font-weight-bold">
                                    Amount
                                </label>
                                <div class="col-lg-8 col-xl-8 pt-2">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            {{ qty1 }}
                                        </div>
                                        <div class="col-lg-6">
                                            {{ qty2 }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-form-label col-lg-4 col-xl-4 font-weight-bold">
                                    Amount per-unit
                                </label>
                                <div class="col-lg-8 col-xl-8 pt-2">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            Rp. {{ moneyFormat(unitAmount) }}
                                        </div>
                                        <div class="col-lg-6">
                                            Frekuensi: {{ getFrequency }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-form-label col-lg-4 col-xl-4 font-weight-bold">
                                    Metode Perhitungan
                                </label>
                                <div class="col-lg-8 col-xl-8 pt-2">
                                    {{ radioItems }}
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-form-label col-lg-4 col-xl-4 font-weight-bold">
                                    Catatan
                                </label>
                                <div class="col-lg-8 col-xl-8 pt-2">
                                    {{ catatan }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <bs-divider class="grey-500 my-2"/>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-4 col-xl-4 font-weight-bold">
                            TOTAL RAB
                        </label>
                        <label class="col-lg-8 col-xl-8 h5 pt-1">
                            Rp. {{ moneyFormat(totalAnggaran) }}
                        </label>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
                            Realisasi
                        </label>
                        <div class="col-lg-9 col-xl-10">
                            <div class="row">
                                <div class="col-lg-6">
                                    <bs-number-field v-model.number="realisasiRab.realisasi"
                                                     :external-validator="realisasiValidator"
                                                     :locale="getLocale"
                                                     prepend-icon="trash-alt"
                                                     class="form-group">
                                        <span slot="prependSlot" class="md-icon-text">
                                          Rp.
                                        </span>
                                    </bs-number-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group md-field row">
                        <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
                            Tanggal Realisasi</label>
                        <div class="col-lg-6 col-xl-5">
                            <div class="row">
                                <bs-date-time-field v-model="realisasiRab.realisasiDate"
                                                    :external-validator="realisasiDateValidator"
                                                    :locale="getLocale"
                                                    append-icon="calendar"
                                                    class="col"
                                                    display-format="DD MMMM YYYY"
                                                    format="YYYY-MM-DD"
                                                    view-mode="date"
                                                    clear-button/>
                            </div>
                        </div>
                    </div>
                </form>
            </bs-card-body>
            <bs-card-footer class="bg-white">
                <bs-button color="primary" @click="doSave">
                    Simpan
                </bs-button>
            </bs-card-footer>
        </bs-card>
        <bs-mask-loader :opacity="0" :show="loader" :spinner-diameter="50" />
    </div>
</template>

<script>
    import {
        GET_ACTIVE_KEGIATAN,
        GET_ACTIVE_KEGIATAN_NAME,
        GET_MGT_VALUE,
        SET_ACTIVE_KEGIATAN,
        SET_ACTIVE_KEGIATAN_NAME,
        SET_ACTIVE_PRGNAME,
        SET_ACTIVE_PROGRAM,
        SET_MGT_VALUE
    } from "../../../../store/modules/Kegiatan/mutation-types";
    import {MSG_UPDATE_SUCCESS, SAVE, STATE_ERROR, STATE_SUCCESS} from "../../../../store/modules/mutation-types";
    import {Helper} from "vue-bs4";
    import {validationMixin} from "vuelidate";
    import {ItemRabModel} from "../../../../models/Kegiatan/Pengelolaan/ItemRabModel";
    import {ItemRealisasiModel} from "../../../../models/Kegiatan/Pengelolaan/ItemRealisasiModel";
    import {
        itemRealisasiValidationHandler,
        itemRealisasiValidator
    } from "../../../../models/Kegiatan/Pengelolaan/ItemRealisasiValidator";
    import appLocale from "../../../../mixins/appLocale";
    import formatUtils from "../../../../mixins/formatUtils";
    import httpErrorResponse from "../../../../mixins/httpErrorResponse";
    import mapStorePengelolaanKegiatan from "../../../../mixins/kegiatan/mapStorePengelolaanKegiatan";
    import editorRouteGuard from "../../../../mixins/security/editorRouteGuard";
    import {KegiatanModel} from "../../../../models/Kegiatan/Pengelolaan/KegiatanModel";

    export default {
        name: "FormRealisasiRab",
        mixins: [
            appLocale, formatUtils, httpErrorResponse, editorRouteGuard, mapStorePengelolaanKegiatan,
            validationMixin, itemRealisasiValidationHandler('realisasiRab')
        ],
        data: () => ({
            itemRab: new ItemRabModel(),
            realisasiRab: new ItemRealisasiModel(),
            kegiatan: new KegiatanModel(),
            loader: false,
            namaSubKegiatan: null,
            namaAccount: null,
            totalAnggaran: 0,
            deskripsi: null,
            qty1: 0,
            qty2: 0,
            catatan: null,
            radioItems: null,
            unitAmount: null,
            getFrequency: null,
            totalSisaAnggaran: 0
        }),
        computed: {
            /**
             * Get Nama Kegiatan.
             *
             * @return {string} Nama kegiatan
             */
            namaKegiatan() {
                const id = this[GET_ACTIVE_KEGIATAN];
                const name = this[GET_ACTIVE_KEGIATAN_NAME];

                this.fetchKegiatan(this.$route.params.id);
                //if (Helper.isEmpty(name) || Helper.isEmpty(id)) {
                //    this.fetchKegiatan(this.$route.params.id);
                //}
                return name;
            }
        },
        validations: {
            realisasiRab: itemRealisasiValidator
        },
        created() {
            this.itemRab = this.loadDataRab(this.$route.params.rabId);
        },
        mounted() {
            //this.loadDataKegiatan(this.$route.params.rabId);
        },
        beforeDestroy() {
            this.kegiatan.destroy();
            this.kegiatan = null;
        },
        methods: {
            /**
             * Send request insert data item RAB to the remote server.
             *
             * @return {void}
             */
            doSave() {
                let $inputRealisasi = this.realisasiRab.realisasi;
                const $errMsg = 'Nilai Realisasi yang anda ajukan melebihi nilai sisa anggaran. Harap ajukan permintaan dana baru.';

                if ($inputRealisasi > this.totalSisaAnggaran) {
                    this.$notification.error($errMsg, STATE_ERROR);
                    return false;
                }

                this.$v.$touch();
                this.loader = true;
                if (!this.$v.$error) {
                    this.realisasiRab.kegiatanRab = this.realisasiRab.kegiatanId;
                    this.realisasiRab.subRab = this.realisasiRab.subId;
                    this.realisasiRab.parentRab = this.realisasiRab.parentId;

                    this.realisasiRab[SAVE]().then(() => {
                        this.loader = false;
                        this.$notification.success('Data realisasi RAB' + MSG_UPDATE_SUCCESS, STATE_SUCCESS);
                        this.$nextTick(() => {
                            this.$router.push(this.$route.meta.previous);
                        });
                    }).catch((error) => {
                        this.loader = false;
                        this.showErrorMessage(error);
                    });
                }
            },

            /**
             * Fetch data Item RAB from remote server.
             *
             * @param {number} id ID item RAB
             * @return {void}
             */
            loadDataRab(id) {
                this.loader = true;
                this.$http.get('/kegiatan/pengelolaan/item-realisasi/get-rab/' + id).then($response => {
                    let $resp = $response.data;
                    if (!Helper.isEmpty($resp.data)) {
                        const label = $resp.data.fixedCost;
                        this.namaSubKegiatan = $resp.data.namaSub;
                        this.namaAccount = $resp.data.account.name;
                        this.totalAnggaran = $resp.data.anggaran;
                        this.unitAmount = $resp.data.unitPrice;
                        this.getFrequency = $resp.data.frequency + ' ' + $resp.data.unitFrequency;
                        this.qty1 = 'Qty 1: ' + $resp.data.jumlahQty1 + ' ' + $resp.data.unitQty1;
                        this.qty2 = 'Qty 2: ' + $resp.data.jumlahQty2 + ' ' + $resp.data.unitQty2;
                        this.deskripsi = $resp.data.title;
                        this.catatan = $resp.data.remark;
                        this.radioItems = label === true ? 'Fixed Cost' : 'Reimburse + Management Fee ' + this.percentFormat(this[GET_MGT_VALUE]);

                        this.realisasiRab.kegiatanId = this.kegiatan.kegiatanId;
                        this.realisasiRab.subId = $resp.data.idSub;
                        this.realisasiRab.parentId = id;
                        this.loader = false;
                    } else {
                        this.loader = false;
                        this.$notification.error($resp.message, STATE_ERROR);
                    }
                });
            },

            loadDataKegiatan($idKegiatan) {
                this.loader = true;
                this.$http.get('/kegiatan/pengelolaan/view-rab/' + $idKegiatan).then($response => {
                    let $resp = $response.data;
                    console.log($resp.data);
                });
            },
            /**
             * Fetch data Kegiatan from remote server.
             *
             * @param {number} id Kegiatan ID
             * @return {void}
             */
            fetchKegiatan(id) {
                this.loader = true;
                this.kegiatan.fetch(id).then(() => {
                    this.loader = false;
                    this.totalSisaAnggaran = this.kegiatan.totalKegiatanRealisasi;
                    
                    this[SET_ACTIVE_KEGIATAN](this.kegiatan.kegiatanId);
                    this[SET_ACTIVE_KEGIATAN_NAME](this.kegiatan.namaKegiatan);
                    this[SET_ACTIVE_PROGRAM](this.kegiatan.danaBatch.id);
                    this[SET_ACTIVE_PRGNAME](this.kegiatan.danaBatch.namaProgram);
                    this[SET_MGT_VALUE](this.kegiatan.periodeBatch.managementFee);
                }).catch((error) => {
                    this.loader = false;
                    this.showErrorMessage(error);
                    this.$nextTick(() => {
                        this.$router.push('/kegiatan/pengelolaan');
                    });
                });
            }
        }
    }
</script>

<style scoped>

</style>
