<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div class="body-container">
        <bs-card shadow>
            <bs-card-header class="text-nowrap">
                Edit Data Dokumentasi
            </bs-card-header>
            <bs-card-body>
                <form class="pt-lg-3 px-lg-2" novalidate>
                    <div class="form-group">
                        <bs-text-field v-model="dokumentasi.docTitle"
                                       :external-validator="docTitleValidator"
                                       autofocus
                                       required>
                            <label class="col-form-label col-lg-4 col-xl-3 font-weight-bold">
                                Nama Dokumen
                            </label>
                        </bs-text-field>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-lg-4 col-xl-3">
                            Ukuran Dokumen
                        </label>
                        <div class="form-group col-lg-3 col-xl-2">
                            <bs-text-field :value="bytesToSize(dokumentasi.docSize)" class="text-muted" readonly/>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-lg-4 col-xl-3">
                            Tipe Dokumen
                        </label>
                        <div class="form-group col-lg-2 col-xl-2">
                            <bs-text-field :value="dokumentasi.extension" class="text-muted" readonly/>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-lg-4 col-xl-3">
                            Status
                        </label>
                        <div class="form-group col-lg-3 col-xl-2 h6">
                            <bs-badge :color="docWorkflow.badgeColor(dokumentasi)"
                                      class="mt-1"
                                      type="label">
                                {{ docWorkflow.majorPlaceMark(dokumentasi) }}
                            </bs-badge>
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="col-form-label col-lg-4 col-xl-3 font-weight-bold">
                            Lampiran Dokumentasi
                        </label>
                        <div class="col-lg-7 col-xl-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button @click="viewFile(dokumentasi)"
                                            class="btn btn-outline-info pl-2 pr-2"
                                            type="button"
                                            v-tooltip="{content:'Klik Untuk Lihat File', placement:'top'}">
                                        <font-awesome-icon :icon="iconFile(dokumentasi)"/>
                                    </button>
                                </div>
                                <div class="custom-file">
                                    <input :accept="dokumentasi.mime"
                                           @change="previewFile"
                                           class="custom-file-input"
                                           id="fileUpload"
                                           ref="fileUpload"
                                           tabindex="-1"
                                           type="file"/>
                                    <label class="custom-file-label p-0" for="fileUpload">
                                        <input :value="fileName" class="p-1 custom-input-text text-muted"
                                               disabled
                                               placeholder=" Unggah dokumentasi..." type="text"/>
                                    </label>
                                </div>
                            </div>
                            <div class="mt-2" style="width: 250px;" v-if="imageData.length > 0">
                                <img :alt="fileName" :src="imageData" class="img-thumbnail">
                            </div>
                        </div>
                    </div>
                </form>
            </bs-card-body>
            <bs-card-footer class="bg-white">
                <bs-button color="primary" @click="doUpdate">
                    Simpan
                </bs-button>
            </bs-card-footer>
            <bs-mask-loader :opacity="0"
                            :show="updating || dokumentasi.loading || dokumentasi.updating"
                            :spinner-diameter="50"/>
        </bs-card>
        <bs-modal :open.sync="showImageView"
                  :esc-close="true"
                  :overlay-close="true"
                  :padding="0"
                  :maxWidth="'100%'"
                  :width="1024">
            <div style="display: block; max-width: 100%; height:499px; overflow-y: scroll; overflow-x: hidden;">
                <img :src="this.itemDoc.url" class="img-fluid" style="width: 100%"/>
            </div>
        </bs-modal>
        <bs-modal :open.sync="showVideoView"
                  :esc-close="true"
                  :overlay-close="true"
                  :maxWidth="'100%'"
                  :line="0"
                  :padding="0"
                  :width="801">
            <Media :autoplay="true"
                   :controls="true"
                   :isMuted="(false)"
                   :kind="'video'"
                   :loop="false"
                   :src="[this.itemDoc.url]"
                   :style="{width: '801px', height: '450px'}"/>
        </bs-modal>
        <bs-modal :open.sync="showPdfView"
                  :esc-close="true"
                  :overlay-close="true"
                  :fullscreen="this.fullscreen"
                  :maxWidth="'100%'"
                  :padding="0"
                  :width="865">
            <pdf v-if="show"
                 ref="pdfFile"
                 style="display: block; max-width: 100%; height:450px; border: 1px solid #ccc; overflow-y: scroll; overflow-x: hidden;"
                 :src="this.itemDoc.url"
                 :page="page"
                 @num-pages="numPages = $event"
                 @link-clicked="page = $event"></pdf>
            <template v-slot:footer="">
                <div class="mr-4">
                    Halaman: <input v-model.number="page" type="number"
                                    :min="1" :max="numPages"
                                    class="form-control input-group-sm" style="display: inline;width: 5em"/> /
                    {{numPages}}
                </div>
                <bs-button color="info"
                           icon="file-download"
                           icon-position="left"
                           v-tooltip="{content:'Unduh File', placement:'top'}"
                           :href="itemDoc.url"
                           target="_blank"
                           outlined/>
                <bs-button v-if="fullscreen === false"
                           color="secondary"
                           icon="arrows-alt"
                           icon-position="left"
                           v-tooltip="{content:'Perbesar Layar', placement:'top'}"
                           outlined
                           v-on:click="fullscreen = true"/>
                <bs-button v-if="fullscreen === true"
                           color="secondary"
                           icon="compress-arrows-alt"
                           icon-position="left"
                           v-tooltip="{content:'Perkecil Layar', placement:'top'}"
                           outlined
                           v-on:click="fullscreen = false"/>
                <bs-button color="secondary" class="float-right" outlined v-on:click="showPdfView = false">Tutup
                </bs-button>
            </template>
        </bs-modal>
    </div>
</template>

<script>
    import {
        SET_ACTIVE_KEGIATAN_NAME,
        SET_ACTIVE_PRGNAME,
        SET_ACTIVE_YEAR
    } from "../../../../store/modules/Kegiatan/mutation-types";
    import {validationMixin} from "vuelidate";
    import Media from "@dongido/vue-viaudio";
    import pdf from 'vue-pdf';
    import {Helper} from "vue-bs4";
    import appLocale from "../../../../mixins/appLocale";
    import formatUtils from "../../../../mixins/formatUtils";
    import httpErrorResponse from "../../../../mixins/httpErrorResponse";
    import mapStorePengelolaanKegiatan from "../../../../mixins/kegiatan/mapStorePengelolaanKegiatan";
    import editorRouteGuard from "../../../../mixins/security/editorRouteGuard";
    import {DokumentasiModel} from "../../../../models/Kegiatan/Pengelolaan/DokumentasiModel";
    import {
        DokumentasiValidationHandler,
        DokumentasiValidator
    } from "../../../../models/Kegiatan/Pengelolaan/DocumentasiValidator";
    import {MSG_UPDATE_SUCCESS, STATE_ERROR, STATE_SUCCESS, UPDATED} from "../../../../store/modules/mutation-types";
    import DokumentasiWorkflowConfigurer from "../../../../models/Kegiatan/Pengelolaan/DokumentasiWorkflowConfigurer";
    import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome';

    export default {
        name: "FormEditFiles",
        components: {
            Media, pdf, FontAwesomeIcon
        },
        mixins: [
            appLocale, formatUtils, httpErrorResponse, editorRouteGuard, mapStorePengelolaanKegiatan,
            validationMixin, DokumentasiValidationHandler('dokumentasi')
        ],
        data: () => ({
            namaSubKegiatan: null,
            dokumentasi: new DokumentasiModel(),
            docWorkflow: new DokumentasiWorkflowConfigurer('dokumentasi'),
            showImageView: false,
            showVideoView: false,
            showPdfView: false,
            itemDoc: {},
            show: false,
            loadedRatio: 0,
            page: 1,
            numPages: 0,
            fullscreen: false,
            updating: false,
            fileAttached: null,
            fileName: '',
            imageData: ''
        }),
        validations: {
            dokumentasi: DokumentasiValidator
        },
        created() {
            this.fetchData(this.$route.params.docId);
            this.fetchKegiatan();
            this.fetchSubKegiatan();
        },
        beforeDestroy() {
            this.dokumentasi.destroy();
            this.dokumentasi = null;
            this.itemDoc = null;
        },
        methods: {
            fullscreenView() {
                this.fullscreen = true;
            },
            smallscreenView() {
                this.fullscreen = false;
            },
            previewFile(event) {
                let input = event.target;
                this.fileAttached = this.$refs.fileUpload.files[0];
                this.fileName = event.target.files[0].name;

                // Preview selected image
                let mime = ['image/jpeg', 'image/png', 'image/gif'];
                if (input.files && input.files[0] && mime.includes(input.files[0].type)) {
                    let reader = new FileReader();
                    reader.onload = (e) => {
                        this.imageData = e.target.result;
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            },
            /**
             * Menampilkan modal dialog view file.
             *
             * @param {DokumentasiModel} item Data model
             * @return {void}
             */
            viewFile(item) {
                let images = ["jpg", "gif", "png", "jpeg"];
                let video = ["mp4"];
                let pdf = ["pdf"];

                this.itemDoc = item;

                if (images.includes(item.extension)) {
                    this.showImageView = true;
                } else if (video.includes(item.extension)) {
                    this.showVideoView = true;
                } else if (pdf.includes(item.extension)) {
                    this.show = true;
                    this.showPdfView = true;
                } else {
                    window.open(item.url, '_blank');
                }
            },
            iconFile(item) {
                let iconPdf = ["pdf"];
                let iconExcel = ["xls", "xlsx"];
                let iconDoc = ["doc", "docx"];
                let video = ["mp4"];
                let images = ["jpg", "gif", "png", "jpeg"];

                if (iconPdf.includes(item.extension)) {
                    return 'file-pdf';
                } else if (iconExcel.includes(item.extension)) {
                    return 'file-excel';
                } else if (iconDoc.includes(item.extension)) {
                    return 'file-word';
                } else if (video.includes(item.extension)) {
                    return 'video';
                } else if (images.includes(item.extension)) {
                    return 'image';
                } else {
                    return 'file-alt';
                }
            },
            doUpdate() {
                this.$v.$touch();

                if (!this.$v.$error) {
                    this.updating = true;
                    let formData = new FormData();
                    formData.append('docTitle', this.dokumentasi.docTitle);
                    formData.append('docCategory', this.dokumentasi.docCategory);
                    formData.append('parentDoc', this.dokumentasi.subDoc);
                    formData.append('file', this.fileAttached);
                    formData.append('status', UPDATED);

                    const url = '/kegiatan/dokumentasi/update/' + this.dokumentasi.docId;

                    this.$axios.post(url, formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then(() => {
                        this.$notification.success('Data dokumentasi kegiatan' + MSG_UPDATE_SUCCESS, STATE_SUCCESS);
                        this.$nextTick(() => {
                            this.$router.push(this.$route.meta.previous);
                        });
                    }).catch((error) => {
                        this.showErrorMessage(error);
                        this.updating = false;
                    });
                }
            },
            /**
             * Fetch data Dokumentasi from remote server.
             *
             * @param {Number|String} id docId
             * @return {void}
             */
            fetchData(id) {
                this.dokumentasi.docId = id;
                this.dokumentasi.fetch().catch((error) => {
                    this.showErrorMessage(error);
                    this.$nextTick(() => {
                        this.$router.push(this.$route.meta.previous);
                    });
                });
            },
            /**
             * Fetch data sub kegiatan from remote server.
             */
            fetchSubKegiatan() {
                this.$http.get('/kegiatan/pengelolaan/subkegiatan/' + this.$route.params.sid).then($response => {
                    let resp = $response.data;
                    if (!Helper.isEmpty(resp.data)) {
                        this.namaSubKegiatan = resp.data.title;
                    } else {
                        this.$notification.error(resp.message, STATE_ERROR);
                    }
                });
            },
            /**
             * Fetch data Kegiatan from remote server.
             */
            fetchKegiatan() {
                this.$http.get('/kegiatan/pengelolaan/' + this.$route.params.id).then($response => {
                    let resp = $response.data;
                    if (!Helper.isEmpty(resp.data)) {
                        this[SET_ACTIVE_KEGIATAN_NAME](resp.data.namaKegiatan);
                        this[SET_ACTIVE_YEAR](resp.data.danaBatch.tahun);
                        this[SET_ACTIVE_PRGNAME](resp.data.danaBatch.namaProgram);
                    } else {
                        this.$notification.error(resp.message, STATE_ERROR);
                    }
                });
            },
            bytesToSize(bytes, decimals = 2) {
                if (bytes === 0) return '0 Bytes';

                const k = 1024;
                const dm = decimals < 0 ? 0 : decimals;
                const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];

                const i = Math.floor(Math.log(bytes) / Math.log(k));

                return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
            }
        }
    }
</script>

<style scoped>
    .btn {
        border: 1px solid #ced4da;
    }

    .custom-input-text {
        text-indent: 5px;
        width: 100%;
        border: none;
        height: 100%;
    }

    .custom-file-label,
    .custom-file-label::after {
        border-radius: 0;
    }
</style>
