<template>
    <div class="body-container">
        <bs-card shadow>
            <bs-card-header class="text-nowrap">
                Upload Dokumen Pendukung
            </bs-card-header>
            <bs-card-body>
                <form class="pt-lg-3 px-lg-2" novalidate>
                    <div class="row">
                        <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
                            Tahun Anggaran
                        </label>
                        <div class="form-group col-lg-3 col-xl-2">
                            <bs-text-field :value="getActiveYear" readonly required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <bs-text-field :value="getActiveProgramName" readonly required>
                            <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
                                Sumber Dana
                            </label>
                        </bs-text-field>
                    </div>
                    <div class="form-group">
                        <bs-text-field :value="getActiveKegiatanName" readonly required>
                            <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
                                Nama Kegiatan
                            </label>
                        </bs-text-field>
                    </div>
                    <div class="form-group">
                        <bs-combobox v-model="subKegiatanId"
                                     :parent-value="getActiveKegiatan"
                                     :external-validator="subDocValidator"
                                     :data-source="dsSubKegiatan"
                                     required>
                            <label class="col-form-label col-lg-3 col-xl-2">
                                Nama Sub Kegiatan
                            </label>
                        </bs-combobox>
                    </div>
                    <div class="form-group mt-3">
                        <vue-dropzone ref="documentDropzone"
                                      :options="documentOptions"
                                      id="documentUpload"
                                      :duplicateCheck="true"
                                      @vdropzone-success="afterSuccess"
                                      @vdropzone-success-multiple="successAll"
                                      @vdropzone-complete-multiple="completeAll"
                                      @vdropzone-max-files-exceeded="maxFilesExceeded"
                                      @vdropzone-max-files-reached="maxFilesReached"
                                      @vdropzone-total-upload-progress="uploadProgress"
                                      @vdropzone-error="errorUpload"
                                      @vdropzone-sending="sendingEvent"/>
                        <bs-button color="danger"
                                   v-tooltip="{content:'Hapus Semua File', placement:'top'}"
                                   class="mt-3"
                                   @click="removeAllFiles"
                                   icon="trash"
                                   size="xs"
                                   outlined>
                            Hapus Semua File
                        </bs-button>
                    </div>
                    <div class="form-group mb-0">
                        <ul class="text-secondary pl-3 mb-0">
                            <li>
                                <small>Maksimal upload 8 file</small>
                            </li>
                            <li>
                                <small>Maksimal ukuran file 5Mb/file</small>
                            </li>
                            <li>
                                <small>Ekstensi file yang dibolehkan: .xls, .xlsx, .doc, .docx, .ppt, .pptm, .pptx,
                                    .pdf
                                </small>
                            </li>
                        </ul>
                    </div>
                </form>
            </bs-card-body>
            <bs-card-footer class="bg-white">
                <bs-button color="primary" @click="doSave">
                    Simpan
                </bs-button>
            </bs-card-footer>
            <bs-mask-loader :opacity="0"
                            :show="isLoading || dokumentasi.loading && dokumentasi.updating || kegiatan.loading || subkegiatan.loading"
                            :spinner-diameter="50" />
        </bs-card>
    </div>
</template>

<script>
    import {
        SET_ACTIVE_KEGIATAN,
        SET_ACTIVE_KEGIATAN_NAME,
        SET_ACTIVE_PRGNAME,
        SET_ACTIVE_YEAR
    } from "../../../../store/modules/Kegiatan/mutation-types";
    import vue2Dropzone from 'vue2-dropzone';
    import 'vue2-dropzone/dist/vue2Dropzone.min.css';
    import {validationMixin} from "vuelidate";
    import appLocale from "../../../../mixins/appLocale";
    import formatUtils from "../../../../mixins/formatUtils";
    import httpErrorResponse from "../../../../mixins/httpErrorResponse";
    import mapStorePengelolaanKegiatan from "../../../../mixins/kegiatan/mapStorePengelolaanKegiatan";
    import editorRouteGuard from "../../../../mixins/security/editorRouteGuard";
    import {KegiatanModel} from "../../../../models/Kegiatan/Pengelolaan/KegiatanModel";
    import {DokumentasiModel} from "../../../../models/Kegiatan/Pengelolaan/DokumentasiModel";
    import BsStore from "vue-bs4/src/model/BsStore";
    import {
        DokumentasiValidationHandler,
        DokumentasiValidator
    } from "../../../../models/Kegiatan/Pengelolaan/DocumentasiValidator";
    import {
        DOSIR,
        MSG_SAVE_SUCCESS,
        STATE_ERROR,
        STATE_SUCCESS,
        STATE_WARNING
    } from "../../../../store/modules/mutation-types";
    import {SubKegiatanModel} from "../../../../models/Kegiatan/Pengelolaan/SubKegiatanModel";
    import Helper from "vue-bs4/src/utils/Helper";

    export default {
        name: "FormDocuments",
        components: {
            vueDropzone: vue2Dropzone
        },
        mixins: [
            appLocale, formatUtils, httpErrorResponse, editorRouteGuard, mapStorePengelolaanKegiatan,
            validationMixin, DokumentasiValidationHandler('dokumentasi')
        ],
        data() {
            return {
                dsSubKegiatan: {
                    schema: {
                        displayField: 'title',
                        valueField: 'sid',
                        cascadeField: 'kegiatan.kegiatanId'
                    },
                    proxy: new BsStore({
                        idProperty: 'sid',
                        dataProperty: 'data',
                        totalProperty: 'total',
                        restUrl: {
                            browse: '/kegiatan/pengelolaan/subkegiatan'
                        }
                    })
                },
                documentOptions: {
                    url: './app/kegiatan/dokumentasi/create',
                    maxFilesize: 5,
                    uploadMultiple: true,
                    addRemoveLinks: true,
                    autoProcessQueue: false,
                    acceptedFiles: '.xls, .xlsx, .doc, .docx, .ppt, .pptm, .pptx, .pdf',
                    maxFiles: 8,
                    parallelUploads: 8,
                    dictDefaultMessage: "<i class=\"fas fa-upload\"></i> Drop file disini atau klik untuk pilih...",
                    dictRemoveFile: 'Hapus',
                    dictRemoveFileConfirmation: 'Hapus file ini?',
                    headers: {
                        'Access-Control-Allow-Methods': 'POST',
                        'Access-Control-Allow-Headers': 'Origin, X-Requested-With, Content-Type, Accept, X-File-Name, X-File-Size, X-File-Type'
                    },
                    params: {
                        category: DOSIR,
                        baseFolder: 'docs'
                    }
                },
                kegiatan: new KegiatanModel(),
                subkegiatan: new SubKegiatanModel(),
                dokumentasi: new DokumentasiModel(),
                subKegiatanId: null,
                isLoading: false,
                iconFolder: 'images/icon-document/',
                progress: false,
                fileProgress: 0
            }
        },
        validations: {
            dokumentasi: DokumentasiValidator
        },
        created() {
            if (this.$route.params.id) {
                this.fetchKegiatan(this.$route.params.id);
            }
            if (this.$route.params.sid) {
                this.fetchSubKegiatan(this.$route.params.sid);
            }
        },
        beforeDestroy() {
            this.kegiatan.destroy();
            this.kegiatan = null;
            this.subkegiatan.destroy();
            this.subkegiatan = null;
            this.dsSubKegiatan.proxy.destroy();
            this.dsSubKegiatan = null;
            this.dokumentasi.destroy();
            this.dokumentasi = null;
        },
        methods: {
            doSave() {
                if (!Helper.isEmpty(this.subKegiatanId)) {
                    this.isLoading = true;
                    this.$refs.documentDropzone.processQueue();
                } else {
                    this.$notification.warning('Field Sub Kegiatan wajib dipilih', STATE_WARNING);
                }
            },
            /**
             * Fetch data Kegiatan from remote server.
             *
             * @param {number} id Kegiatan ID
             * @return {void}
             */
            fetchKegiatan(id) {
                this.isLoading = true;
                this.kegiatan.fetch(id).then(() => {
                    this[SET_ACTIVE_KEGIATAN](this.kegiatan.kegiatanId);
                    this[SET_ACTIVE_KEGIATAN_NAME](this.kegiatan.namaKegiatan);
                    this[SET_ACTIVE_YEAR](this.kegiatan.danaBatch.tahun);
                    this[SET_ACTIVE_PRGNAME](this.kegiatan.danaBatch.namaProgram);
                    this.isLoading = false;
                }).catch((error) => {
                    this.showErrorMessage(error);
                    this.isLoading = false;
                    this.$nextTick(() => {
                        this.$router.push('/kegiatan/pengelolaan');
                    });
                });
            },
            /**
             * Fetch data sub kegiatan from remote server.
             */
            fetchSubKegiatan(sid) {
                this.isLoading = true;
                this.subkegiatan.fetch(sid).then(() => {
                    this.subKegiatanId = this.subkegiatan.sid;
                    this.isLoading = false;
                }).catch((error) => {
                    this.showErrorMessage(error);
                    this.isLoading = false;
                    this.$nextTick(() => {
                        this.$router.push(this.$route.meta.previous);
                    });
                });
            },
            sendingEvent(file, xhr, formData) {
                formData.append('subDoc', this.subKegiatanId);
            },
            removeAllFiles() {
                this.$refs.documentDropzone.removeAllFiles();
            },
            completeAll(files, response) {
                // console.log("File Upload Complete", response);
            },
            afterSuccess(file) {
                this.$refs.documentDropzone.removeFile(file);
            },
            maxFilesExceeded(file) {
                this.$refs.documentDropzone.removeFile(file);
                this.$notification.warning('Tidak boleh melebihi jumlah maksimum yang diijinkan (8 file)', STATE_WARNING);
            },
            maxFilesReached(file) {
                this.$refs.documentDropzone.removeFile(file);
                this.$notification.error(file.name, STATE_ERROR);
            },
            uploadProgress(totalProgress, totalBytes, totalBytesSent) {
                this.progress = true;
                this.fileProgress = Math.floor(totalProgress);
            },
            errorUpload(file, message, xhr) {
            },
            successAll(files, response) {
                this.isLoading = false;
                this.$notification.success('Data dokumentasi kegiatan' + MSG_SAVE_SUCCESS, STATE_SUCCESS);
                let kid = this.$route.params.id;
                let sid = this.subKegiatanId;
                let url = '/kegiatan/pengelolaan/' + kid + '/dokumentasi/' + sid + '/dokumen';
                this.$nextTick(() => {
                    this.$router.push(url);
                });
            }
        }
    }
</script>

<style scoped>
    #documentUpload {
        padding: 0;
    }
    #documentUpload > .dz-message {
        color: rgba(255, 0, 0, 0.5);
    }
    #documentUpload > .dz-max-files-reached {
        background-color: rgba(255, 0, 0, 0.1);
    }
    #documentUpload > .dz-preview {
        margin: 12px !important;
    }
    #documentUpload > .dz-preview .dz-image {
        width: 145px;
        height: 145px;
    }
    #documentUpload > .dz-preview .dz-image > img {
        max-width: 100%;
    }
</style>
