<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div class="container">
    <bs-card shadow>
      <bs-card-body class="pb-2">
        <form class="pt-lg-3 px-lg-2" novalidate>
          <div class="row">
            <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
              Tahun Anggaran
            </label>
            <div class="form-group col-lg-3 col-xl-2">
              <bs-text-field :value="getActiveYear" readonly required />
            </div>
          </div>
          <div class="form-group">
            <bs-text-field :value="getActiveProgramName" readonly required>
              <label class="col-form-label col-lg-3 col-xl-2">
                Sumber Dana
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-text-field :value="namaKegiatan" readonly required>
              <label class="col-form-label col-lg-3 col-xl-2">
                Nama Kegiatan
              </label>
            </bs-text-field>
          </div>
          <div class="form-group">
            <bs-combobox v-model="itemRab.parentId"
                         :external-validator="parentIdValidator"
                         :parent-value="getActiveKegiatan"
                         :data-source="dsSubKegiatan"
                         required>
              <label class="col-form-label col-lg-3 col-xl-2">
                Nama Subkegiatan
              </label>
            </bs-combobox>
          </div> <!-- TODO  pada mode sunting input di atas dikunci menjadi static text  -->
          <div class="form-group">
            <bs-combobox v-model="itemRab.accountId"
                         :data-source="dsAccount"
                         :external-validator="accountIdValidator"
                         ref="cboAccountRab"
                         required
                         @data-bind="onBindAccount">
              <label class="col-form-label col-lg-3 col-xl-2">
                Nama Account
              </label>
              <template v-slot:itemOption="{ item }">
                <bs-list-tile-action class="text-truncate" style="width: 60px">
                  <span class="text-grey-500">{{ item.code }}</span>
                </bs-list-tile-action>
                <bs-list-tile-content>{{ item.name }}</bs-list-tile-content>
              </template>
            </bs-combobox>
          </div>
          <div class="form-group">
            <bs-text-field v-model="itemRab.title"
                           :external-validator="titleValidator"
                           required>
              <label class="col-form-label col-lg-3 col-xl-2">
                Deskripsi
              </label>
            </bs-text-field>
          </div>
          <div class="row">
            <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
              Amount
            </label>
            <div class="col-lg-9 col-xl-10">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group form-row">
                    <bs-number-field v-model.number="itemRab.jumlahQty1"
                                     :external-validator="jumlahQty1Validator"
                                     :locale="getLocale"
                                     prepend-icon="trash-alt"
                                     class="col-6">
                      <span slot="prependSlot" class="md-icon-text">Qty-1:</span>
                    </bs-number-field>
                    <bs-combobox v-model="itemRab.unitQty1"
                                 :external-validator="unitQty1Validator"
                                 :data-source="dsUnitSatuan"
                                 class="col" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group form-row">
                    <bs-number-field v-model.number="itemRab.jumlahQty2"
                                     :locale="getLocale"
                                     :external-validator="jumlahQty2Validator"
                                     prepend-icon="trash-alt"
                                     class="col-6">
                      <span slot="prependSlot" class="md-icon-text">Qty-2:</span>
                    </bs-number-field>
                    <bs-combobox v-model="itemRab.unitQty2"
                                 :external-validator="unitQty2Validator"
                                 :data-source="dsUnitSatuan"
                                 class="col" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
              Amount per-unit
            </label>
            <div class="col-lg-9 col-xl-10">
              <div class="row">
                <div class="col-lg-6">
                  <bs-number-field v-model.number="itemRab.unitPrice"
                                   :external-validator="unitPriceValidator"
                                   :locale="getLocale"
                                   prepend-icon="trash-alt"
                                   class="form-group">
                    <span slot="prependSlot" class="md-icon-text">
                      Rp.
                    </span>
                  </bs-number-field>
                </div>
                <div class="col-lg-6">
                  <div class="form-group form-row">
                    <bs-number-field v-model.number="itemRab.frequency"
                                     :locale="getLocale"
                                     :external-validator="frequencyValidator"
                                     prepend-icon="trash-alt"
                                     class="col-7 col-xl-6">
                      <span slot="prependSlot" class="md-icon-text">
                        Frekuensi:
                      </span>
                    </bs-number-field>
                    <bs-combobox v-model="itemRab.unitFrequency"
                                 :external-validator="unitFrequencyValidator"
                                 :data-source="dsUnitSatuan"
                                 class="col" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <bs-radio-group v-model="itemRab.fixedCost"
                            :external-validator="fixedCostValidator"
                            :items="radioItems"
                            :columns="1"
                            color="primary"
                            required>
              <label class="col-form-label col-lg-3 col-xl-2">
                Metode Perhitungan
              </label>
            </bs-radio-group>
          </div>
          <div class="form-group">
            <bs-text-area v-model="itemRab.remark" rows="2">
              <label class="col-form-label col-lg-3 col-xl-2">
                Catatan
              </label>
            </bs-text-area>
          </div>
          <bs-divider class="grey-500 my-2" />
          <div class="form-group row">
            <label class="col-form-label col-lg-3 col-xl-2 font-weight-bold">
              TOTAL RAB
            </label>
            <label class="col-lg-9 col-xl-10 h5">
              Rp. {{ moneyFormat(totalRab) }}
            </label>
          </div>
        </form>
      </bs-card-body>
      <bs-card-footer class="bg-white">
        <bs-button color="primary" @click="doSave">
          Simpan
        </bs-button>
      </bs-card-footer>
      <bs-mask-loader :opacity="0"
                      :show="itemRab.loading || itemRab.updating"
                      :spinner-diameter="50" />
    </bs-card>
  </div>
</template>

<script>
import {
    GET_ACTIVE_KEGIATAN,
    GET_ACTIVE_KEGIATAN_NAME,
    GET_MGT_VALUE,
    SET_ACTIVE_BATCH,
    SET_ACTIVE_KEGIATAN,
    SET_ACTIVE_KEGIATAN_NAME,
    SET_ACTIVE_KEGIATAN_STATE,
    SET_ACTIVE_PRGNAME,
    SET_ACTIVE_PRGSTATE,
    SET_ACTIVE_PROGRAM,
    SET_ACTIVE_YEAR,
    SET_MGT_VALUE
} from "../../../../store/modules/Kegiatan/mutation-types";
import {
    MSG_SAVE_SUCCESS,
    MSG_UPDATE_SUCCESS,
    SAVE,
    STATE_SUCCESS,
    UPDATE
} from "../../../../store/modules/mutation-types";
import { BsStore, Helper } from "vue-bs4";
import { validationMixin } from "vuelidate";
import { KegiatanModel } from "../../../../models/Kegiatan/Pengelolaan/KegiatanModel";
import { ItemRabModel } from "../../../../models/Kegiatan/Pengelolaan/ItemRabModel";
import { itemRabValidationHandler, itemRabValidator } from "../../../../models/Kegiatan/Pengelolaan/ItemRabValidator";
import appLocale from "../../../../mixins/appLocale";
import formatUtils from "../../../../mixins/formatUtils";
import httpErrorResponse from "../../../../mixins/httpErrorResponse";
import mapStorePengelolaanKegiatan from "../../../../mixins/kegiatan/mapStorePengelolaanKegiatan";
import editorRouteGuard from "../../../../mixins/security/editorRouteGuard";

export default {
    name: "FormItemRab",
    mixins: [
        appLocale, formatUtils, httpErrorResponse, editorRouteGuard, mapStorePengelolaanKegiatan,
        validationMixin, itemRabValidationHandler('itemRab')
    ],
    data: () => ({
        dsAccount: {
            schema: {
                displayField: 'name',
                valueField: 'id'
            },
            proxy: new BsStore({
                idProperty: 'id',
                dataProperty: 'data',
                totalProperty: 'total',
                remoteSort: false,
                restUrl: {
                    browse: '/service/list/reference/account-rab'
                }
            })
        },
        dsUnitSatuan: {
            schema: {
                displayField: 'name',
                valueField: 'name'
            },
            proxy: new BsStore({
                idProperty: 'id',
                dataProperty: 'data',
                totalProperty: 'total',
                remoteSort: false,
                restUrl: {
                    browse: '/service/list/reference/satuan-rab'
                }
            })
        },
        dsSubKegiatan: {
            schema: {
                displayField: 'title',
                valueField: 'sid',
                cascadeField: 'kegiatan.kegiatanId'
            },
            proxy: new BsStore({
                idProperty: 'sid',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    browse: '/kegiatan/pengelolaan/subkegiatan'
                }
            })
        },
        itemRab: new ItemRabModel(),
        kegiatan: new KegiatanModel(),
    }),
    computed: {
        /**
         * Get Nama Kegiatan.
         *
         * @return {string} Nama kegiatan
         */
        namaKegiatan() {
            const id   = this[GET_ACTIVE_KEGIATAN];
            const name = this[GET_ACTIVE_KEGIATAN_NAME];

            if (Helper.isEmpty(name) || Helper.isEmpty(id)) {
                this.fetchKegiatan(this.$route.params.id);
            }

            return name;
        },
        /**
         * Get items for radio buttons.
         *
         * @return {Array} Items radio buttons
         */
        radioItems() {
            return [
                {label: 'Reimburse + Management Fee ' + this.percentFormat(this[GET_MGT_VALUE]), value: false},
                {label: 'Fixed Cost', value: true}
            ];
        },
        /**
         * Get computed total RAB.
         *
         * @return {number} Nilai total RAB
         */
        totalRab() {
            const mgtval = this[GET_MGT_VALUE] / 100;
            const total  = this.itemRab.jumlahQty1 * this.itemRab.jumlahQty2 * this.itemRab.unitPrice * this.itemRab.frequency;

            if (!this.itemRab.fixedCost) {
                return (total * mgtval) + total;
            }

            return total;
        }
    },
    validations: {
        itemRab: itemRabValidator
    },
    created() {
        if (this.$route.params.rabId) {
            this.isEditMode = true;
            this.fetchData(this.$route.params.rabId);
        }
    },
    beforeDestroy() {
        this.dsAccount.proxy.destroy();
        this.dsAccount = null;
        this.dsSubKegiatan.proxy.destroy();
        this.dsSubKegiatan = null;
        this.dsUnitSatuan.proxy.destroy();
        this.dsUnitSatuan = null;
        this.itemRab.destroy();
        this.itemRab = null;
        this.kegiatan.destroy();
        this.kegiatan = null;
    },
    methods: {
        /**
         * Send request insert/update data item RAB to the remote server.
         *
         * @return {void}
         */
        doSave() {
            this.$v.$touch();

            if (!this.$v.$error) {
                const text   = this.isEditMode ? MSG_UPDATE_SUCCESS : MSG_SAVE_SUCCESS;
                const action = this.isEditMode ? UPDATE : SAVE;

                this.itemRab.parent  = this.itemRab.parentId;
                this.itemRab.account = this.itemRab.accountId;

                this.itemRab[action]().then(() => {
                    this.$notification.success('Data item RAB' + text, STATE_SUCCESS);
                    this.$nextTick(() => {
                        this.$router.push(this.$route.meta.previous);
                    });
                }).catch((error) => {
                    this.showErrorMessage(error);
                });
            }
        },
        /**
         * Fetch data Item RAB from remote server.
         *
         * @param {number} id ID item RAB
         * @return {void}
         */
        fetchData(id) {

            this.$http.get('/kegiatan/pengelolaan/item-rab/fetch/'+id).then((resp) => {
                let newRab = resp.data.data;
                this.itemRab.assignValues(newRab);
                this.itemRab.accountId = newRab.account.id;
                this.itemRab.parentId  = newRab.parent.sid;
                this[SET_ACTIVE_KEGIATAN](newRab.parent.kegiatan.kegiatanId);
                this[SET_ACTIVE_KEGIATAN_NAME](newRab.parent.kegiatan.namaKegiatan);
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push(this.$route.meta.previous);
                });
            });
        },
        /**
         * Fetch data Kegiatan from remote server.
         *
         * @param {number} id Kegiatan ID
         * @return {void}
         */
        fetchKegiatan(id) {
            this.kegiatan.fetch(id).then(() => {
                this[SET_ACTIVE_KEGIATAN](this.kegiatan.kegiatanId);
                this[SET_ACTIVE_KEGIATAN_NAME](this.kegiatan.namaKegiatan);
                this[SET_ACTIVE_KEGIATAN_STATE](this.kegiatan.status);
                this[SET_ACTIVE_YEAR](this.kegiatan.danaBatch.tahun);
                this[SET_ACTIVE_PROGRAM](this.kegiatan.danaBatch.id);
                this[SET_ACTIVE_PRGNAME](this.kegiatan.danaBatch.namaProgram);
                this[SET_ACTIVE_PRGSTATE](this.kegiatan.danaBatch.status);
                this[SET_ACTIVE_BATCH](this.kegiatan.periodeBatch.namaBatch);
                this[SET_MGT_VALUE](this.kegiatan.periodeBatch.managementFee);
            }).catch((error) => {
                this.showErrorMessage(error);
                this.$nextTick(() => {
                    this.$router.push('/kegiatan/pengelolaan');
                });
            });
        },
        /**
         * Event handler when data daftar account has been loaded.
         *
         * @return {void}
         */
        onBindAccount() {
            this.dsAccount.proxy.sort('code', 'asc').then(() => {
                this.$refs.cboAccountRab.dataModel.items = this.dsAccount.proxy.dataItems;
            });
        }
    }
}
</script>

<style scoped>

</style>
