<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>{% block head_title %}Adaro CSRMS{% endblock %}</title>
  {% block head_meta %}{% endblock %}
  <link rel="apple-touch-icon" href="{{ asset('images/apple-touch-icon.png') }}" sizes="180x180">
  <link rel="icon" href="{{ asset('images/favicon-32x.png') }}" sizes="32x32" type="image/png">
  <link rel="icon" href="{{ asset('images/favicon.ico') }}">
  {%- block stylesheets -%}
    {{ encore_entry_link_tags('bootstrap-md') }}
  {% endblock %}
</head>
<body class="skin-greenish">
<div id="app" class="page-wrapper container-fluid">
  <div class="row">
    {% block sidebar %}
      <bs-sidebar ref="sidebar" dark>
        <a href="#" class="app-brand" :waves="false">
          <img src="{{ asset('images/logo-adaro.png') }}" alt="" class="logo-icon">
        </a>
        <bs-sidebar-nav>
          <bs-sidebar-nav-item icon="desktop" label="Dashboard"></bs-sidebar-nav-item>
          <bs-sidebar-nav-item icon="bookmark" label="Channels"></bs-sidebar-nav-item>
        </bs-sidebar-nav>
        <div class="sidebar-footer">
          <a href="{{ path('default_index') }}" class="signout">
            <font-awesome-icon icon="power-off" size="sm"></font-awesome-icon>
            <span class="pl-2">Sign Out</span>
          </a>
          <a class="mini-toggle ml-auto" @click="toggleMini">
            <font-awesome-icon icon="chevron-left" size="sm"></font-awesome-icon>
          </a>
        </div>
      </bs-sidebar>
    {% endblock %}
    <div class="page-content">
      <header id="main-header">
        {% block header -%}
          <nav class="navbar navbar-expand">
            <div class="col-9 pl-0 pl-lg-2">
              <div class="page-title">Dashboard</div>
            </div>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <bs-button tag="a" size="sm" icon="bell" icon-size="lg" icon-right floating transparent></bs-button>
              </li>
              <li class="nav-item d-none d-lg-inline-block">
                <bs-button tag="a" size="sm" icon="th-large" icon-size="lg" icon-right floating transparent></bs-button>
              </li>
              <li class="nav-item">
                <bs-button tag="a" href="{{ path('default_homepage') }}" size="sm" icon="user" icon-size="lg"
                           icon-right floating transparent></bs-button>
              </li>
            </ul>
          </nav>
        {% endblock %}
      </header>
      <main class="body-wrapper" ref="main">{% block main_content %}
          <router-view></router-view>{% endblock %}</main>
      <footer>{% block footer %}{% endblock %}</footer>
    </div>
  </div>
</div>

{% block javascripts %}
  <script type="text/javascript">
      var baseUrl = '{{ path('default_index') }}';
  </script>
{% endblock %}
</body>
</html>