<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>{% block head_title %}Welcome!{% endblock %}</title>
  {% block head_meta %}{% endblock %}
  <link rel="apple-touch-icon" href="{{ asset('images/apple-touch-icon.png') }}" sizes="180x180">
  <link rel="icon" href="{{ asset('images/favicon-32x.png') }}" sizes="32x32" type="image/png">
  <link rel="icon" href="{{ asset('images/favicon.ico') }}">
  {%- block stylesheets -%}
    {{ encore_entry_link_tags('bootstrap-md') }}
  {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
