<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div class="pt-4">
        <bs-grid :data-source="dataSource"
                 pageable
                 ref="datagrid"
                 row-hover
                 sortable>
            <bs-grid-toolbar slot="toolbar">
                <div class="row justify-content-end">
                    <div class="col-xl-4 col-lg-6">
                        <bs-grid-tool-search class="rounded-pill"
                                             field="searchFts"
                                             operator="fts"
                                             placeholder="Pencarian..."/>
                    </div>
                </div>
            </bs-grid-toolbar>
            <bs-grid-column row-numbering
                            text-align="right"
                            width="50"/>
            <bs-grid-column field="namaLengkap"
                            label="Nama Lengkap"
                            min-width="175"/>
            <bs-grid-column field="nik"
                            label="NIK"
                            width="100"/>
            <bs-grid-column :sortable="false"
                            field="alamat"
                            label="Alamat"
                            min-width="320"/>
            <bs-grid-column field="kecamatan.kabupaten.namaKabupaten"
                            label="Kabupaten"
                            width="150"/>
            <bs-grid-column field="kecamatan.kabupaten.provinsi.namaProvinsi"
                            label="Provinsi"
                            width="150"/>
            <bs-grid-column :formatter="dateFormat"
                            :formatter-options="formatConst.shortDate"
                            field="tanggalLahir"
                            label="Tgl Lahir"
                            width="100"/>
            <bs-grid-column field="institusi.namaInstitusi"
                            label="Institusi"
                            width="170"/>
            <bs-grid-column field="status"
                            label="Status"
                            width="100"/>
            <bs-grid-column :sortable="false"
                            :text-align="cellTindakanAlignment"
                            :width="cellTindakanWidth"
                            label="Tindakan"/>

            <template v-slot:datarow="{ columns, item, index }">
                <bs-grid-cell-numbering :column="columns[0]" :index="index"/>
                <bs-grid-cell :column="columns[1]" :index="index" :item="item"/>
                <bs-grid-cell :column="columns[2]" :index="index" :item="item"/>
                <bs-grid-cell :column="columns[3]" :index="index" :item="item">
                    {{ alamatBeneficiary(item) }}
                </bs-grid-cell>
                <bs-grid-cell :column="columns[4]" :index="index" :item="item"/>
                <bs-grid-cell :column="columns[5]" :index="index" :item="item"/>
                <bs-grid-cell :column="columns[6]" :index="index" :item="item"/>
                <bs-grid-cell :column="columns[7]" :index="index" :item="item"/>
                <bs-grid-cell :column="columns[8]" :index="index" :item="item">
                    <bs-badge :color="workflowConfigurer.badgeColor(item)"
                              type="label">
                        {{ workflowConfigurer.majorPlaceMark(item) }}
                    </bs-badge>
                </bs-grid-cell>
                <bs-grid-cell :column="columns[9]" :index="index" :item="item">
                    <bs-button :href="doView(item.individuId)"
                               color="default"
                               icon="eye"
                               icon-position="left"
                               outlined
                               size="xs"
                               v-if="hasDetailViewAccessRights"
                               v-tooltip="{content:'Lihat Detail', placement:'top'}"/>
                    <bs-button @click="confirmProcess(item)"
                               color="success"
                               icon="check-double"
                               icon-position="left"
                               outlined
                               size="xs"
                               v-if="insApprove(item)"
                               v-tooltip="{content:'Persetujuan Data', placement:'top'}"/>
                    <bs-button @click="confirmProcess(item)"
                               color="green"
                               icon="check"
                               icon-position="left"
                               outlined
                               size="xs"
                               v-if="insVerify(item)"
                               v-tooltip="{content:'Verifikasi Data', placement:'top'}"/>
                    <bs-button :href="doEdit(item)"
                               color="primary"
                               icon="pen"
                               icon-position="left"
                               outlined
                               size="xs"
                               v-if="canEdit(item)"
                               v-tooltip="{content:'Sunting Data', placement:'top'}"/>
                    <bs-button @click="confirmDelete(item)"
                               color="danger"
                               icon="trash-alt"
                               icon-position="left"
                               outlined
                               size="xs"
                               v-if="insDelete(item)"
                               v-tooltip="{content:'Hapus Data', placement:'top'}"/>
                </bs-grid-cell>
            </template>
        </bs-grid>

        <div class="border-top pt-3 text-right"
             v-if="hasEditorAccessRights">
            <bs-button :disabled="disableAddButton"
                       :href="searchSiswaPaud()"
                       color="amber"
                       icon="plus-circle"
                       icon-position="left">
                Tambah Baru
            </bs-button>
        </div>
        <modal-dialog-beneficiary :approval="approval"
                                  :item-data="individu"
                                  :item-name="itemName"
                                  :show-modal-delete.sync="showModalDelete"
                                  :show-modal-process.sync="showModalProcess"
                                  @approval="doProcess('approval')"
                                  @delete="doDelete"
                                  @reject="doProcess('reject')"
                                  @verify="doProcess('verify')"/>
        <bs-mask-loader :opacity="0"
                        :show="showLoader"
                        :spinner-diameter="50"/>
    </div>
</template>

<script>
    import {BsStore} from "vue-bs4";
    import {
        MSG_APPROVED_SUCCESS,
        MSG_REJECT_SUCCESS,
        MSG_VERIFY_SUCCESS,
        PAGE_SIZE,
        STATE_SUCCESS,
        STEP_APPROVAL,
        STEP_REJECT,
        STEP_UPDATE,
        STEP_VERIFY
    } from "../../../../../store/modules/mutation-types";
    import {GET_ACTIVE_PROGRAM} from "../../../../../store/modules/Kegiatan/mutation-types";
    import {PaudSiswaModel} from "../../../../../models/Beneficiary/Paud/PaudSiswaModel";
    import appLocale from "../../../../../mixins/appLocale";
    import formatUtils from "../../../../../mixins/formatUtils";
    import httpErrorResponse from "../../../../../mixins/httpErrorResponse";
    import mapStoreKegiatanBeneficiary from "../../../../../mixins/kegiatan/mapStoreKegiatanBeneficiary";
    import mapAccessControls from "../../../../../mixins/security/mapAccessControls";
    import ModalDialogBeneficiary from "../../ModalDialogBeneficiary";
    import BeneficiaryWorkflowConfigurer from "../../../../../models/Beneficiary/BeneficiaryWorkflowConfigurer";

    export default {
        name: 'GridPaudSiswa',
        mixins: [appLocale, formatUtils, httpErrorResponse, mapStoreKegiatanBeneficiary, mapAccessControls],
        components: {ModalDialogBeneficiary},
        data: () => ({
            individu: new PaudSiswaModel(),
            itemName: '',
            approval: {
                action: '',
                reason: ''
            },
            workflowConfigurer: new BeneficiaryWorkflowConfigurer('individu'),
            dataSource: new BsStore({
                idProperty: 'individuId',
                dataProperty: 'data',
                totalProperty: 'total',
                pageSize: PAGE_SIZE,
                sorts: [{property: 'postedDate', direction: 'desc'}],
                restUrl: {
                    browse: '/kegiatan/penerima-manfaat/paud/siswa/dpt'
                }
            })
        }),
        created() {
            const id = this.$route.params.idprogram;

            if (this[GET_ACTIVE_PROGRAM] === null) {
                this.fetchDpt(id);
            }
            this.dataSource.defaultFilters = [{property: 'programs.id', value: id, operator: 'eq'}];
        },
        computed: {
            /**
             * @return {Workflow} A workflow object instance
             */
            workflow() {
                return this.workflowConfigurer.workflow;
            }
        },
        beforeDestroy() {
            this.dataSource.destroy();
            this.dataSource = null;
            this.individu.destroy();
            this.individu = null;
            this.workflowConfigurer.destroy();
            this.workflowConfigurer = null;
            this.approval = null;
        },
        methods: {
            /**
             * Menampilkan konfirmasi dialog untuk menghapus record.
             *
             * @param {PaudSiswaModel} item Data model
             * @return {void}
             */
            confirmDelete(item) {
                if (this.hasDeleteAccessRights) {
                    this.individu.assignValues(item);
                    this.showModalDelete = true;
                }
            },
            /**
             * @param {PaudSiswaModel} item Data model
             * @return {void}
             */
            confirmProcess(item) {
                this.individu.assignValues(item);
                this.itemName = item.namaLengkap;
                if (this.hasVerificatorAccessRights && this.workflow.can(item, STEP_VERIFY)) {
                    this.approval.action = STEP_VERIFY;
                    this.showModalProcess = true;
                } else if (this.hasApprovalAccessRights && this.workflow.can(item, STEP_APPROVAL)) {
                    this.approval.action = STEP_APPROVAL;
                    this.showModalProcess = true;
                }
            },
            /**
             * Proses delete Penerima Manfaat Individu (Siswa PAUD).
             *
             * @return {void}
             */
            doDelete() {
                this.showModalDelete = false;
                this.showLoader = true;

                const data = {
                    'beneficiary': this.individu.individuId,
                    'program': this[GET_ACTIVE_PROGRAM]
                };

                this.$http.delete('/kegiatan/penerima-manfaat/paud/siswa/delete', data).then((resp) => {
                    this.showLoader = false;
                    this.$notification.success(resp.data.message, STATE_SUCCESS);
                    this.$refs.datagrid.reload();
                }).catch((error) => {
                    this.showLoader = false;
                    this.showErrorMessage(error);
                });
            },
            /**
             * Returns route Url untuk menampilkan form Edit Penerima Manfaat Individu (Siswa PAUD).
             *
             * @param {PaudSiswaModel} item Data model
             * @return {string} Route url
             */
            doEdit(item) {
                if (this.hasEditorAccessRights && this.workflow.canXor(item, [STEP_UPDATE, STEP_VERIFY, STEP_REJECT])) {
                    return '#/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/paud/siswa/edit/' + item.individuId;
                }
            },
            /**
             * Returns route Url untuk menampilkan form View Penerima Manfaat Individu (Siswa PAUD).
             *
             * @param {int} id Beneficiary ID
             * @return {string} Route url
             */
            doView(id) {
                if (this.hasDetailViewAccessRights) {
                    return '#/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/paud/siswa/view/' + id;
                }
            },
            /**
             * Returns route Url untuk menampilkan Grid Tambah record Individu (Siswa PAUD - Grid Search)
             *
             * @return {string} Route url
             */
            searchSiswaPaud() {
                return '#/kegiatan/penerima-manfaat/' + this[GET_ACTIVE_PROGRAM] + '/paud/siswa/search';
            },
            /**
             * Proses verifikasi, reject, dan approval penerima manfaat
             *
             * @return {void}
             */
            doProcess(action) {
                const url = '/kegiatan/penerima-manfaat/paud/siswa/stepflow/' + this.individu.individuId;
                const text = action === STEP_VERIFY ? MSG_VERIFY_SUCCESS : action === STEP_APPROVAL ? MSG_APPROVED_SUCCESS : MSG_REJECT_SUCCESS;
                const message = action === STEP_VERIFY || action === STEP_REJECT ? this.approval.reason : null;

                const config = {
                    'url': url,
                    'method': 'patch',
                    'data': {
                        action: action,
                        message: message
                    }
                };

                this.showModalProcess = false;
                this.showLoader = true;
                this.$axios(config).then(() => {
                    this.showLoader = false;
                    this.$notification.success('Data penerima manfaat' + text, STATE_SUCCESS);
                    this.$refs.datagrid.reload();
                }).catch((error) => {
                    this.showErrorMessage(error);
                    this.showLoader = false;
                });
            },
        }
    }
</script>

<style scoped>

</style>
