<template>
  <div class="body-container">
    <bs-card shadow>
      <bs-card-body class="pb-0">
        <div class="row">
          <div class="col-xl-7">
            <div class="form-group">
              <bs-combobox v-model="progId" :data-source="dsProgram" required>
                <label class="col-form-label col-lg-3">
                  Program CSR
                </label>
              </bs-combobox>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-7">
            <div class="form-group">
              <bs-combobox v-model="batchId"
                           :data-source="dsBatch"
                           :parent-value="progId"
                           required>
                <label class="col-form-label col-lg-3">
                  Periode Batch
                </label>
              </bs-combobox>
            </div>
          </div>
        </div>
      </bs-card-body>
      <transition name="fade" mode="out-in">
        <component :is="kpiComponent"
                   v-bind="kpiBind"
                   @kpiRefresh="doRefresh"
                   @kpiSave="doSave"
                   @kpiTambahBaru="doTambahBaru" />
      </transition>
      <bs-mask-loader :opacity="0"
                      :show="showProgress"
                      :spinner-diameter="50" />
    </bs-card>
  </div>
</template>

<script>
import { BsStore, Helper } from "vue-bs4";
import { mapGetters, mapMutations } from "vuex";
import {
    GET_ACTIVE_BATCH,
    GET_ACTIVE_BATCH_NAME,
    GET_ACTIVE_PRGCSR,
    GET_ACTIVE_PRGCSR_NAME,
    SET_ACTIVE_BATCH,
    SET_ACTIVE_BATCH_NAME,
    SET_ACTIVE_PRGCSR,
    SET_ACTIVE_PRGCSR_NAME
} from "../../../store/modules/Kegiatan/mutation-types";
import { MSG_SAVE_SUCCESS, STATE_SUCCESS } from "../../../store/modules/mutation-types";
import { BatchModel } from "../../../models/MasterData/Batch/BatchModel";
import defaultRouteGuard from "../../../mixins/security/defaultRouteGuard";
import httpErrorResponse from "../../../mixins/httpErrorResponse";
import TargetKpiPaud from "./Forms/TargetKpiPaud";
import TargetKpiPendidikanVokasi from "./Forms/TargetKpiPendidikanVokasi"
import TargetKpiPelatihanVokasi from "./Forms/TargetKpiPelatihanVokasi"
import TargetKpiBeasiswa from "./Forms/TargetKpiBeasiswa";
import TargetKpiTbe from "./Forms/TargetKpiTbe";
import TargetKpiDefault from "./Forms/TargetKpiDefault";

export default {
    name: "TargetKpi",
    components: {
        TargetKpiPaud,
        TargetKpiPendidikanVokasi,
        TargetKpiPelatihanVokasi,
        TargetKpiBeasiswa,
        TargetKpiTbe,
        TargetKpiDefault
    },
    mixins: [httpErrorResponse, defaultRouteGuard],
    data: () => ({
        dsProgram: {
            schema: {
                displayField: 'name',
                valueField: 'msid'
            },
            proxy: new BsStore({
                idProperty: 'msid',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    browse: '/master-data/program-csr'
                }
            })
        },
        dsBatch: {
            schema: {
                displayField: 'namaBatch',
                valueField: 'batchId',
                cascadeField: 'programCsr.msid'
            },
            proxy: new BsStore({
                idProperty: 'batchId',
                dataProperty: 'data',
                totalProperty: 'total',
                restUrl: {
                    browse: '/master-data/batch'
                }
            })
        },
        batch: null,
        kpiParams: [],
        kpiTargets: [],
        kpiComponent: 'target-kpi-default',
        showProgress: false
    }),
    computed: {
        ...mapGetters('MasterData/TargetKpi', [
            GET_ACTIVE_BATCH, GET_ACTIVE_BATCH_NAME, GET_ACTIVE_PRGCSR, GET_ACTIVE_PRGCSR_NAME
        ]),
        progId: {
            get() {
                return this[GET_ACTIVE_PRGCSR];
            },
            set(value) {
                this[SET_ACTIVE_PRGCSR](value);
                this[SET_ACTIVE_BATCH](null);
                this.chooseBatch(null);
            }
        },
        batchId: {
            get() {
                return this[GET_ACTIVE_BATCH];
            },
            set(value) {
                this[SET_ACTIVE_BATCH](value);
                this.chooseBatch(value);
            }
        },

        /**
         * Property yang dikirim ke komponen Target KPI spesifik.
         *
         * @return {Object} Attributes to bind
         */
        kpiBind() {
            return {
                batch: this.batch,
                params: this.kpiParams,
                targets: this.kpiTargets,
                canEdit: this.hasEditorAccessRights
            };
        }
    },
    created() {
        if (!Helper.isEmpty(this.progId) && !Helper.isEmpty(this.batchId)) {
            this.chooseBatch(this.batchId);
        }
    },
    methods: {
        ...mapMutations('MasterData/TargetKpi', [
            SET_ACTIVE_BATCH, SET_ACTIVE_BATCH_NAME, SET_ACTIVE_PRGCSR, SET_ACTIVE_PRGCSR_NAME
        ]),

        /**
         * Event handler combobox batch jika dipilih.
         *
         * @param {int|null} batchId ID Batch pembinaan
         * @return {void}
         */
        chooseBatch(batchId) {
            if (!Helper.isEmpty(batchId)) {
                this.$http.get('/kegiatan/kpi/fetch-target/' + batchId).then((resp) => {
                    const data = resp.data.data;
                    if (!Helper.isEmpty(data.batch)) {
                        this.batch = new BatchModel();
                        this.batch.assignValues(data.batch);
                        this.kpiParams  = data.params;
                        this.kpiTargets = data.targets;
                    }

                    const msid = this.batch.programCsr.msid;
                    switch (msid) {
                        case 1 :
                            this.kpiComponent = 'target-kpi-paud';
                            break;
                        case 2 :
                            this.kpiComponent = 'target-kpi-pendidikan-vokasi';
                            break;
                        case 3 :
                            this.kpiComponent = 'target-kpi-pelatihan-vokasi';
                            break;
                        case 4 :
                            this.kpiComponent = 'target-kpi-beasiswa';
                            break;
                        case 5 :
                            this.kpiComponent = 'target-kpi-tbe';
                            break;
                        default:
                            this.kpiComponent = 'target-kpi-default';
                    }
                }).catch((error) => {
                    this.showErrorMessage(error);
                    this.emptyForm();
                });
            } else {
                this.emptyForm();
            }
        },
        emptyForm() {
            this.batch        = null;
            this.kpiParams    = [];
            this.kpiTargets   = [];
            this.kpiComponent = 'target-kpi-default';
        },
        /**
         * Event handler untuk tambah baru.
         *
         * @return {void}
         */
        doTambahBaru() {
            if (!Helper.isEmpty(this.batchId)) {
                this.showProgress = true;
                this.$http.post('/kegiatan/kpi/populate-batch/' + this.batchId).then((response) => {
                    this.kpiTargets = response.data.data;
                    this.showProgress = false;
                }).catch((error) => {
                    this.showProgress = false;
                    this.showErrorMessage(error);
                });
            }
        },
        /**
         * Event handler untuk reload data batch.
         *
         * @return {void}
         */
        doRefresh() {
            this.emptyForm();
            this.chooseBatch(this.batchId);
        },
        /**
         * Event handler untuk save.
         *
         * @return {void}
         */
        doSave() {
            if (this.batch && this.kpiTargets) {
                let targetArray = [];

                this.showProgress = true;
                if ((this.kpiTargets)) {
                    for (let item in this.kpiTargets) {
                        if (this.kpiTargets.hasOwnProperty(item)) {
                            const year = this.kpiTargets[item];

                            for (let yearParam in year) {
                                if (year.hasOwnProperty(yearParam)) {
                                    const dataref = year[yearParam];
                                    targetArray.push(dataref);
                                }
                            }
                        }
                    }
                }
                this.$http
                    .post('/kegiatan/kpi/save-targets/' + this.batch.batchId, {'targets': targetArray})
                    .then(() => {
                        this.showProgress = false;
                        this.$notification.success('Data Target KPI' + MSG_SAVE_SUCCESS, STATE_SUCCESS);
                        this.$nextTick(() => {
                            this.doRefresh();
                        });
                    })
                    .catch((error) => {
                        this.showProgress = false;
                        this.showErrorMessage(error);
                    });
            }
        }
    },
    beforeDestroy() {
        this.batch      = null;
        this.kpiParams  = null;
        this.kpiTargets = null;
    }
}
</script>

<style scoped>

</style>
