<template>
    <div class="md-list-tile-action" :class="classNames">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: "BsListTileAction",
        props: {
            stack: Boolean
        },
        computed: {
            classNames() {
                return {
                    'md-action-stack': this.stack
                }
            }
        }
    }
</script>

<style scoped>

</style>