<template>
  <div class="body-container">
    <div class="pb-3">
      <bs-button color="amber"
                 v-if="hasEditorAccessRights"
                 href="#/master-data/wilayah/kelurahan/create"
                 icon="plus-circle"
                 icon-position="left"
                 raised>
        Tambah Baru
      </bs-button>
    </div>
    <bs-card shadow>
      <bs-grid :data-source="dataSource"
               :filterable="{minlength: 3, operator: 'contains', immediate: false, placeholder: false}"
               pageable
               ref="datagrid"
               row-hover
               sortable>
        <bs-grid-column :filterable="{enabled: false, button: true}"
                        row-numbering
                        text-align="right"
                        width="60" />
        <bs-grid-column field="kodeKelurahan"
                        label="Kode Kelurahan"
                        width="140" />
        <bs-grid-column field="namaKelurahan"
                        label="Nama Kelurahan"
                        min-width="225" />
        <bs-grid-column field="kecamatan.kodeKecamatan"
                        label="Kode Kecamatan"
                        width="120" />
        <bs-grid-column field="kecamatan.namaKecamatan"
                        label="Kecamatan"
                        min-width="225" />
        <bs-grid-column :filterable="{minlength: 2}"
                        field="kecamatan.kabupaten.kodeKabupaten"
                        label="Kode Kabupaten"
                        width="120" />
        <bs-grid-column field="kecamatan.kabupaten.namaKabupaten"
                        label="Kabupaten"
                        min-width="225" />
        <bs-grid-column :filterable="{minlength: 1}"
                        field="kecamatan.kabupaten.provinsi.kodeProvinsi"
                        label="Kode Provinsi"
                        width="120" />
        <bs-grid-column field="kecamatan.kabupaten.provinsi.namaProvinsi"
                        label="Provinsi" />
        <bs-grid-column :sortable="false"
                        v-if="hasEditorAccessRights || hasDeleteAccessRights"
                        label="Tindakan"
                        text-align="center"
                        width="100" />

        <template v-slot:datarow="{ columns, item, index }">
          <bs-grid-cell-numbering :column="columns[0]" :index="index" />
          <bs-grid-cell :column="columns[1]" :item="item" :index="index" />
          <bs-grid-cell :column="columns[2]" :item="item" :index="index" />
          <bs-grid-cell :column="columns[3]" :item="item" :index="index" />
          <bs-grid-cell :column="columns[4]" :item="item" :index="index" />
          <bs-grid-cell :column="columns[5]" :item="item" :index="index" />
          <bs-grid-cell :column="columns[6]" :item="item" :index="index" />
          <bs-grid-cell :column="columns[7]" :item="item" :index="index" />
          <bs-grid-cell :column="columns[8]" :item="item" :index="index" />
          <bs-grid-cell :column="columns[9]"
                        :index="index" :item="item" v-if="hasEditorAccessRights || hasDeleteAccessRights">
            <bs-button :href="doEdit(item.kelurahanId)"
                       color="primary"
                       icon="pen"
                       icon-position="left"
                       outlined
                       size="xs"
                       v-if="hasEditorAccessRights"
                       v-tooltip="{content:'Sunting Data', placement:'top'}" />
            <bs-button @click="confirmDelete(item)"
                       color="danger"
                       icon="trash-alt"
                       icon-position="left"
                       outlined
                       size="xs"
                       v-if="hasDeleteAccessRights"
                       v-tooltip="{content:'Hapus Data', placement:'top'}" />
          </bs-grid-cell>
        </template>
      </bs-grid>
    </bs-card>

    <bs-modal :esc-close="false"
              :open.sync="showModal"
              :overlay-close="false"
              max-width="85%"
              title="Konfirmasi"
              width="400">
      Apakah anda yakin akan menghapus Kelurahan <b>{{ kelurahan.namaKelurahan }}</b>?
      <bs-button color="secondary"
                 outlined
                 slot="footer"
                 @click="showModal = false">
        Batal
      </bs-button>
      <bs-button slot="footer" color="danger" @click="doDelete">
        Hapus
      </bs-button>
    </bs-modal>
    <bs-mask-loader :opacity="0"
                    :show="kelurahan.deleting"
                    :spinner-diameter="50" />
  </div>
</template>

<script>
import { BsStore } from "vue-bs4";
import { PAGE_SIZE, STATE_SUCCESS } from "../../../../store/modules/mutation-types";
import { KelurahanModel } from "../../../../models/MasterData/Wilayah/KelurahanModel";
import defaultRouteGuard from "../../../../mixins/security/defaultRouteGuard";
import httpErrorResponse from "../../../../mixins/httpErrorResponse";

export default {
    name: "GridKelurahan",
    mixins: [defaultRouteGuard, httpErrorResponse],
    data: () => ({
        dataSource: new BsStore({
            idProperty: 'kelurahanId',
            dataProperty: 'data',
            totalProperty: 'total',
            pageSize: PAGE_SIZE,
            restUrl: {
                browse: '/master-data/wilayah/kelurahan'
            }
        }),
        showModal: false,
        kelurahan: new KelurahanModel()
    }),
    beforeDestroy() {
        this.dataSource.destroy();
        this.dataSource = null;
        this.kelurahan.destroy();
        this.kelurahan = null;
    },
    methods: {
        /**
         * Menampilkan modal dialog konfirmasi delete record Kelurahan.
         *
         * @param {Object} item Single record object
         * @return {void}
         */
        confirmDelete(item) {
            this.kelurahan.assignValues(item);
            this.showModal = true;
        },
        /**
         * Process request hapus record Kelurahan.
         *
         * @return {void}
         */
        doDelete() {
            this.showModal = false;
            this.kelurahan.delete().then((callback) => {
                this.$notification.success(callback.data.message, STATE_SUCCESS);
                this.$refs.datagrid.reload();
            }).catch((error) => {
                this.showErrorMessage(error);
            });
        },
        /**
         * Returns route Url untuk menampilkan halaman form Edit Kelurahan.
         *
         * @param {number} id Kelurahan ID
         * @return {string} url edit kelurahan
         */
        doEdit(id) {
            return '#/master-data/wilayah/kelurahan/edit/' + id;
        }
    }
}
</script>

<style scoped>

</style>
