<template>
  <div class="body-container">
    <div class="pb-3">
      <bs-button color="amber"
                 v-if="hasEditorAccessRights"
                 href="#/master-data/wilayah/kabupaten/create"
                 icon="plus-circle"
                 icon-position="left"
                 raised>
        Tambah Baru
      </bs-button>
    </div>
    <bs-card shadow>
      <bs-grid :data-source="dataSource"
               :filterable="{minlength: 3, operator: 'contains', immediate: false, placeholder: false}"
               pageable
               ref="datagrid"
               row-hover
               sortable>
        <bs-grid-column :filterable="{enabled: false, button: true}"
                        row-numbering
                        text-align="right"
                        width="60" />
        <bs-grid-column field="kodeKabupaten"
                        label="Kode Kabupaten"
                        width="140"
                        :filterable="{minlength: 2}" />
        <bs-grid-column field="namaKabupaten" label="Nama Kabupaten" />
        <bs-grid-column field="provinsi.kodeProvinsi"
                        label="Kode Provinsi"
                        width="120"
                        :filterable="{minlength: 1}" />
        <bs-grid-column field="provinsi.namaProvinsi" label="Provinsi" />
        <bs-grid-column label="Tindakan"
                        v-if="hasEditorAccessRights || hasDeleteAccessRights"
                        text-align="center"
                        width="100"
                        :sortable="false" />

        <template v-slot:datarow="{ columns, item, index }">
          <bs-grid-cell-numbering :column="columns[0]" :index="index" />
          <bs-grid-cell :column="columns[1]" :item="item" :index="index" />
          <bs-grid-cell :column="columns[2]" :item="item" :index="index" />
          <bs-grid-cell :column="columns[3]" :item="item" :index="index" />
          <bs-grid-cell :column="columns[4]" :item="item" :index="index" />
          <bs-grid-cell :column="columns[5]"
                        :index="index"
                        :item="item"
                        v-if="hasEditorAccessRights || hasDeleteAccessRights">
            <bs-button :href="doEdit(item.kabupatenId)"
                       color="primary"
                       icon="pen"
                       icon-position="left"
                       outlined
                       size="xs"
                       v-if="hasEditorAccessRights"
                       v-tooltip="{content:'Sunting Data', placement:'top'}" />
            <bs-button @click="confirmDelete(item)"
                       color="danger"
                       icon="trash-alt"
                       icon-position="left"
                       outlined
                       size="xs"
                       v-if="hasDeleteAccessRights"
                       v-tooltip="{content:'Hapus Data', placement:'top'}" />
          </bs-grid-cell>
        </template>
      </bs-grid>
    </bs-card>

    <bs-modal :esc-close="false"
              :open.sync="showModal"
              :overlay-close="false"
              max-width="85%"
              title="Konfirmasi"
              width="400">
      Apakah anda yakin akan menghapus Kabupaten <b>{{ kabupaten.namaKabupaten }}</b>?
      <bs-button slot="footer"
                 color="secondary"
                 outlined
                 @click="showModal = false">
        Batal
      </bs-button>
      <bs-button slot="footer" color="danger" @click="doDelete">
        Hapus
      </bs-button>
    </bs-modal>
    <bs-mask-loader :opacity="0"
                    :show="kabupaten.deleting"
                    :spinner-diameter="50" />
  </div>
</template>

<script>
import { BsStore } from "vue-bs4";
import { PAGE_SIZE, STATE_SUCCESS } from "../../../../store/modules/mutation-types";
import { KabupatenModel } from "../../../../models/MasterData/Wilayah/KabupatenModel";
import defaultRouteGuard from "../../../../mixins/security/defaultRouteGuard";
import httpErrorResponse from "../../../../mixins/httpErrorResponse";

export default {
    name: "GridKabupaten",
    mixins: [defaultRouteGuard, httpErrorResponse],
    data: () => ({
        dataSource: new BsStore({
            idProperty: 'kabupatenId',
            dataProperty: 'data',
            totalProperty: 'total',
            pageSize: PAGE_SIZE,
            restUrl: {
                browse: '/master-data/wilayah/kabupaten'
            }
        }),
        showModal: false,
        kabupaten: new KabupatenModel()
    }),
    beforeDestroy() {
        this.dataSource.destroy();
        this.dataSource = null;
        this.kabupaten.destroy();
        this.kabupaten = null;
    },
    methods: {
        /**
         * Menampilkan modal dialog konfirmasi delete record Kabupaten.
         *
         * @param {Object} item Data model Kabupaten
         * @return {void}
         */
        confirmDelete(item) {
            this.kabupaten.assignValues(item);
            this.showModal = true;
        },
        /**
         * Process request hapus record Kabupaten.
         *
         * @return {void}
         */
        doDelete() {
            this.showModal = false;
            this.kabupaten.delete().then((callback) => {
                this.$notification.success(callback.data.message, STATE_SUCCESS);
                this.$refs.datagrid.reload();
            }).catch((error) => {
                this.showErrorMessage(error);
            });
        },
        /**
         * Returns route Url untuk menampilkan halaman form Edit Kabupaten.
         *
         * @param {int} id Kabupaten ID
         * @return {string} Route url
         */
        doEdit(id) {
            return '#/master-data/wilayah/kabupaten/edit/' + id;
        }
    }
}
</script>

<style scoped>

</style>
